[2019-07-17 08:23] angladem opened #1214 "Question related to HA setup"
Hi,

I have a question related to dyno queues. We are trying to setup a Conductor platform with the following :
ES => shared index
Dynomite : 2 rack of one node each (RF2, no sharding)
Conductor : 2 servers

Everything is in-house.

In order to set all this up we defined 2 Dynomite racks us-east-1a/1b. Due to this, the queues are sharded according to these AZ. The issue I'm facing is the following

[2019-07-17 11:40] manheiba commented on #1110
Conductor client registers available nodes to the server, then the server calls the client through RPC, would that be better?

[2019-07-17 17:26] paltamadura opened #1215 "Identity System Task"
I'm looking at using a DYNAMIC system task type essentially to avoid have to use a CASE and create a fanout of branches in the workflow. But I believe there's a need for an identity system task which is executed on the server and just passes its inputs through to its outputs (I can create a worker to do this but it's inefficient). Then you can have a DYNAMIC task which acts like an optional step.

[2019-07-19 14:41] paltamadura commented on #1199
I didn't realize we had some custom logic in the persistence layer. Please disregard.

[2019-07-19 14:41] #1199 closed

[2019-07-19 21:02] #1202 closed

[2019-07-19 21:10] kyle--lee opened #1218 "SIMPLE vs USER_DEFINED task types, and registering custom system tasks?"
In the docs and examples, regular worker tasks are listed with type "SIMPLE". However, within https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/metadata/workflow/TaskType.java, "SIMPLE" tasks are registered as system tasks. I also noticed there is another type, "USER_DEFINED" which is not registered as a system task.

1) What is the difference betwe

[2019-07-22 08:03] irbash opened #1219 "Netflix conductor - UI"
Hi,

I followed the steps in https://netflix.github.io/conductor/server/ and managed to setup the netflix conductor with redis (db=redis).

I am able to access the swagger page and see all the endpoints but unfortunately UI is not working. All I get is "Cannot GET /"

Logs from UI:
{"name":"Conductor UI","hostname":"conductor-ui-7c6f8bb8d7-n6spg","pid":13,"level":30,"msg":"Serving static /","time"

[2019-07-22 22:49] kishorebanala commented on #1212
Hi @manjurad, Conductor doesn't pin to any version number. Is it possible to build on a fresh clone of Conductor?

[2019-07-22 23:03] apanicker-nflx commented on #1207
@choubisat Looks good. Once minor nit would be to rename `SET_VARIABLE` task to make it more intuitive/indicative of a system task updating workflow variables(only). Other than that, the proposal looks good to be moved forward to PR.

[2019-07-22 23:07] kishorebanala commented on #1213
Hey @paltamadura, while it doesn't look intuitive, you can use the above approach to pass states b/w task executions.

We're looking into looping and global state variables (#1207, #1169), which would solve this use case.

[2019-07-22 23:18] apanicker-nflx commented on #1218
@kyle--lee "USER_DEFINED" task type was introduced as a fallback task type for use internally, which has been called out [here](https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/metadata/workflow/WorkflowTask.java#L63).

1. Please use "SIMPLE" task type for worker task in your workflow definitions.
2. Yes, it is possible to add your custom system ta

[2019-07-22 23:31] apanicker-nflx commented on #1214
This is correct, polling from the queues is constrained by the EC2_AVAILABILITY_ZONE. This is a limitation enforced by dyno-queues.

@smukil / @rsrinivasanNetflix Can you please chime in to suggest any workarounds for this?

[2019-07-22 23:39] rsrinivasanNetflix commented on #1214
Yes, this is correct. The assumption would be that the shard will get consumed when the second instance comes back up in zone b. We currently keep the shards having access from the local zone only since that way the different zones can pop messages without the need for locking. @smukil has added a unsafe pop api in the latest dyno-queeues but I do not think conductor makes use of that since it rem

[2019-07-22 23:51] kishorebanala commented on #1110
@manheiba Conductor already has a gRPC implementation, which can be leveraged to support push tasks to workers. This also avoids the need to maintain a discovery layer. The specifics of this implementation, for eg., how the server would schedule tasks on 'n' available workers is yet to be figured.

[2019-07-23 00:05] kishorebanala commented on #1215
@paltamadura Sounds interesting.

```I believe there's a need for an identity system task which is executed on the server and just passes its inputs through to its outputs``` - how about using `Lambda` task to achieve the same?

Also, `defaultTaskNameIfNotProvided` should probably be renamed to `fallBackTaskName` or something that explains the task to be executed in absence of `dynamicTaskNamePara

[2019-07-23 03:27] kyle--lee commented on #1218
@apanicker-nflx thanks - I'll use SIMPLE type tasks.

For 2 - I saw the steps listed in the docs, but it seems like we also need to add our system task to the `TaskType` enum in order for the mapper to be called? this is because the `DeciderService` first does an `isSystemTask()` call against the task type string, and then does `taskMappers.get(taskType.name())`. Is this incorrect? It seems that w

[2019-07-23 06:34] angladem commented on #1214
Thanks for your feedbacks.

[2019-07-23 06:34] #1214 closed

[2019-07-24 23:23] #1068 closed

[2019-07-25 11:31] rituparnopal opened #1222 "Issues with running Conductor configured with standalone Redis instance"
Using Standalone Redis / ElastiCache with the following configuration-
db=redis
workflow.dynomite.cluster.hosts=localhost:6380:localrack
workflow.dynomite.connection.maxConnsPerHost=31
queues.dynomite.nonQuorum.port=6380

However getting error stacktrace as below. Am I missing anything? Error logs below-
35694 [pool-197-thread-1] INFO  com.netflix.dyno.connectionpool.impl.ConnectionPoolImpl  - Suc

[2019-07-25 14:41] sathyatvrcbe opened #1223 "Order of execution of tasks"
I have a small doubt on the order in which the tasks are executed in a given workflow. Pasting below one of the examples given in the documentation.

[code]

Here we have listed two tasks in the ```tasks``` array. Do the tasks get executed in the order they are mentioned in the array? Is there any way to set a dependency DAG and trigger execution based on the DAG?

[2019-07-25 17:27] purohitatul commented on #1223
Yes - they get executed in the order they appear in the array. https://netflix.github.io/conductor/configuration/workflowdef/#tasks-within-workflow. I don't believe there is any other dependency driven execution currently.

[2019-07-26 11:33] shrimank opened #1224 "Testing workflow/task with priority"
In the latest code observed that, you have added support to priority for workflow.
Need to understand how priority works with workflow/tasks when startWorkflow invoked.

I have tested with simple workflow, just calling an http task.
submitting 3 workflows with different priority, but the conductor server executing those workflows in order of submission(since you are scheduling the workflow for lat

[2019-07-29 10:36] shrimank commented on #1224
Few More details:
I have followed below steps to check the priority testing:
1.Registered Task
2.Registered Workflow(SIMPLE)
3.Created Worker and started polling the registered the tasks.

Then, submitted 5 curl request to start the workflow with different priority(0-99) (used endpoint which accepts priority in query param),.
But the worker is polling the task & getting in the order of submission.

[2019-07-29 16:28] neokyle1 commented on #1224
Also curious about this. I was looking at the dyno-queue code for this and it seems that priority would only take effect if the entries were on the exact same millisecond. Is that correct? Reference Code:

https://github.com/Netflix/dyno-queues/blob/2fb9f8b9886396025eecd827066bcec9afa946a3/dyno-queues-redis/src/main/java/com/netflix/dyno/queues/redis/RedisDynoQueue.java#L158

[2019-07-29 19:36] demichej commented on #1222
I do see that you're missing a 4th parameter from:
`workflow.dynomite.cluster.hosts=localhost:6380:localrack`

I dont know if this matters, but you could try adding a password to Redis and seeing if having a 4th parameter does something different?

[2019-07-30 07:28] rituparnopal commented on #1222
Changing "localrack" to a valid AWS availability zone did the trick even though I am using it standalone.

[2019-07-30 07:28] #1222 closed

[2019-07-30 12:03] jkaipa commented on #1153
@kishorebanala @apanicker-nflx Currently isAsync returns true in HTTPTask. How about making it configurable through definition?

[2019-07-30 18:40] #1218 closed

[2019-07-30 18:46] kyle--lee opened #1226 "Custom system tasks require TaskType enum / conductor-common modification"
Under https://netflix.github.io/conductor/extend/#system-tasks, it says:
[code]

However, this does not seem to be a complete list of steps required.

In https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/DeciderService.java#L543 and https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/Decider

[2019-07-31 05:43] shrimank commented on #1224
Thanks you, I have delegated this request to dynoQueue team.

[2019-07-31 05:43] #1224 closed

[2019-07-31 06:57] 0532 opened #1227 "com.sun.jersey.api.MessageException: A message body reader for Java class java.util.Map"
Hi
when i use postman to  start a workflow
![image](https://user-images.githubusercontent.com/5317048/62190154-40388d80-b3a3-11e9-8d2d-f22e02fcf20f.png)
it aways error like this:
305882 [qtp1182356813-68] ERROR com.netflix.conductor.server.resources.WebAppExceptionMapper  - Error WebApplicationException url: 'workflow/sub_flow_1'
javax.ws.rs.WebApplicationException: com.sun.jersey.api.MessageExcep

[2019-07-31 07:03] #1227 closed

[2019-07-31 07:04] 0532 commented on #1227
Content-Type   application/json   my  fault

[2019-08-01 09:16] codetiger opened #1228 "Pass workflow instance ID as a param for HTTP task"
How do I pass the workflow instance id as a parameter for a http task. I am not able to refer the instanceID using any variable.

[2019-08-01 14:27] rituparnopal opened #1229 "Issues while starting Conductor server with standalone redis and external elasticsearch"
I am trying to run Conductor on a single redis instance with elasticsearch instance running on my local machine but getting below exception-
NoNodeAvailableException[None of the configured nodes are available: [{#transport#-1}{IDtlvqqXS2muHx1OhtUSgQ}{localhost}{127.0.0.1:9300}]]
        at org.elasticsearch.client.transport.TransportClientNodesService.ensureNodesAreAvailable(TransportClientNodesSe

[2019-08-01 17:53] smullins3000 opened #1230 "Question: Has anyone created an SQS QueueDAO implementation?"
Has anyone worked on an implementation of QueueDAO backed by SQS? Reading the documentation (https://netflix.github.io/conductor/extend/) I assumed that there was and it seems like an obvious extension.

Is there any interest in this in the community?

[2019-08-02 05:17] SuperMasterBlasterLaser commented on #817
This problem happens with me too. I have placed conductor to root folder of my HDD and it still throws this error

[2019-08-02 05:55] renuka-raju opened #1231 "Issue : Rerun workflow from a specific task fails (on multiple calls from different tasks) if worklow is not in Redis"
When a workflow not in Redis is being rerun(from a specific task), when the workflow is pulled from ES back into Redis, its tasks are not updated. So, only the task from which I am trying to run and the ones after that are being added to the workflow. For eg, if there are tasks T1, T2, T3 in a workflow, rerun from T2 only adds T2&T3 back to the workflow. Now, when I try to rerun again from T1, it

[2019-08-02 10:42] SuperMasterBlasterLaser opened #1232 "gulp watch not working"
Hello.

I have been trying to use UI as it was [written in these docs](https://netflix.github.io/conductor/architecture/#start-ui-server). However, it throws me these errors:

    [10:31:10] Requiring external module babel-register
    gulp watch[28196]: ../src/node_contextify.cc:651:static void node::contextify::ContextifyScript::New(const v8::FunctionCallbackInfo<v8::Value>&): Assertion
    `arg

[2019-08-02 10:56] shrimank commented on #1232
You need to Install gulp in order to use it
make sure you have `node `and `npm `installed
execute '` npm install --save gulp`'

then execute `gulp watch` command to start the ui

[2019-08-02 11:09] SuperMasterBlasterLaser commented on #1232
@shrimank

I have installed as you instructed nad now I have this error:

fs.js:27
const { Math, Object } = primordials;
                         ^

    ReferenceError: primordials is not defined
        at fs.js:27:26
        at req_ (/home/vagrant/conductor/ui/node_modules/natives/index.js:143:24)
        at Object.req [as require] (/home/vagrant/conductor/ui/node_modules/natives/index.js:55:10)

[2019-08-02 12:38] 0532 opened #1233 "How to configure database connection information to a configuration file"
now i run like this
[code]

when i config it in config.properties   it is failed

[2019-08-03 17:03] jingtra opened #1235 "what is the best practise for registering workflows and tasks?"
we are having a staging and production environment. if we do it manually through http requests, this can lead to failure and mistakes. the best would be to integrate it through our ci/cd, and store the json in code.

or how would you do it?

[2019-08-03 20:51] manan164 commented on #1222
Sorry to comment on closed issue. But I too faced this issue. Even setting password did not help.
Tried,
```workflow.dynomite.cluster.hosts=localhost:6379:ap-southeast-1``` but same error.

[2019-08-05 09:18] rituparnopal commented on #1222
sorry please try with a availability zone name. I tried with us-east-1b

[2019-08-05 22:56] kishorebanala commented on #1228
You can use `${workflow.workflowId}` to pass workflowId as a parameter. Please refer to https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/ParametersUtils.java#L81 for list of available parameters.

[2019-08-05 23:01] kishorebanala commented on #1226
@kyle--lee Correct, custom task will have to be added to `TaskType`. We'll update the docs to create custom system tasks at the earliest possible. Or, please feel free to send in a PR. Thank you.

[2019-08-05 23:21] sujaysudheenda commented on #1200
@vmg I found another scenario where this is breaking for a valid use-case of having an integer.

I have a workflow that has HTTP task (workflow with only one task).

when I do `workflowClient.getWorkflow(workflowInstanceId, true);` using GRPC client.
it tries to parse the whole workflow object and during that, it fails to parse the Http status present in the task output after it has been executed.

[2019-08-05 23:31] kishorebanala commented on #1226
Update: Custom system tasks are not necessarily added to TaskType, or any other core modules.

For example:
[code]
will register the custom task by putting it in the registry map. Also, ensure to initialize CustomTask as eager singleton.

[2019-08-05 23:50] sujaysudheenda commented on #1200
@vmg do you think this will be a useful contribution to the open-source version of conductor? Just getting your thoughts as you are more familiar with this area

[2019-08-05 23:54] kishorebanala commented on #1233
Consider adding these properties to `server.properties` file. Checkout https://github.com/Netflix/conductor/blob/master/server/src/main/java/com/netflix/conductor/bootstrap/Main.java#L44 if your using Server module to bootstrap your application.

[2019-08-06 00:03] kishorebanala commented on #1231
@renuka-raju Correct. Only task being rerun is added back to primary store from ES. The tasks before should be added back to primary store, if archived. I'll mark this as a bug. Thanks.

[2019-08-06 00:07] apanicker-nflx commented on #1235
Consider storing the workflow and task definitions as part of your repo and using the metadata client to register these during initialization.

[2019-08-06 00:11] apanicker-nflx commented on #1230
@smullins3000 This would be a valuable addition to Conductor. I am sure this would be benefit a lot of users .
Please provide your design proposal for the same and we can get a discussion started with other members in the community.

[2019-08-06 00:13] #1228 closed

[2019-08-06 00:15] apanicker-nflx commented on #1223
Thanks for the response @purohitatul .

@sathyatvrcbe  Can you please expand on this?

[2019-08-06 00:17] apanicker-nflx commented on #1201
Seems like a connection error trying to download the gradle wrapper. Please try to reset the connection and try again.

[2019-08-06 00:17] #1201 closed

[2019-08-06 00:20] apanicker-nflx commented on #1229
Looks like a connection error to your local elasticsearch instance. Please ensure that your elasticsearch is up and discoverable.

[2019-08-06 00:20] #1229 closed

[2019-08-06 00:26] apanicker-nflx commented on #1185
Closing this for now since the response provided a solution, please reopen if you run into further issues.

[2019-08-06 00:26] #1185 closed

[2019-08-06 00:28] apanicker-nflx commented on #1195
Thanks for reporting the error in the docs. We will update this. For now, I would recommend using a worker for this api as well. And also, feel free to submit a PR with modifications to the HTTP task to add support for this.

[2019-08-06 00:28] #1195 closed

[2019-08-06 00:29] apanicker-nflx commented on #789
Closing this issue, since this should be fixed as part of recent changes.

[2019-08-06 00:29] #789 closed

[2019-08-06 00:31] apanicker-nflx commented on #1152
This is correct, this feature does not exist yet. Please follow #1169 for this feature.

[2019-08-06 00:31] #1152 closed

[2019-08-06 00:33] #1088 closed

[2019-08-06 00:33] #1103 closed

[2019-08-06 00:36] apanicker-nflx commented on #522
Closing issue for now, please try with newer released versions.

[2019-08-06 00:36] #522 closed

[2019-08-06 02:35] kyle--lee commented on #1226
@kishorebanala thanks for the response!

I agree, it seems if you can register it and eagerly initialize it, and the system task will be run by Conductor.

However, it doesn't seem like it is possible it register a TaskMapper for it without also modifying `TaskType`. If this is the case, can I open a PR to update the docs? Are TaskMappers essential for registering a system task?

[2019-08-06 11:25] rituparnopal commented on #1229
My elasticsearch was up and discoverable. Hence I posted here. However found out that issue is with version 7.2.0. The Netty jar used by Conductor to connect to ElasticSearch is supported upto 6.8.0

[2019-08-06 11:26] rituparnopal commented on #1195
Sure, thanks!

[2019-08-06 11:57] naveenchlsn opened #1236 "Add persistence support for Dynamo."
Hi,

We require using dynamo DB as the backend for our conductor instance.

I see dynamo backend support is not there, could you please let me know if this would be a useful addition to the conductor?

@kishorebanala @apanicker-nflx @mudit3774 @cyzhao

Thanks

[2019-08-06 13:59] 0532 commented on #1233
thx 😄

[2019-08-06 13:59] #1233 closed

[2019-08-06 14:11] sathyatvrcbe commented on #1223
@apanicker-nflx

Here is an example for DAG based workflow: https://github.com/argoproj/argo/blob/master/examples/README.md#dag

[2019-08-06 23:11] mstier-nflx commented on #1232
Looks like this is a bug with Node 12 and Gulp 3+.  [stackoverflow](https://stackoverflow.com/questions/55921442/how-to-fix-referenceerror-primordials-is-not-defined-in-node)  I will take a look.  Currently the work around appears to be using node 10.

[2019-08-07 01:20] renuka-raju commented on #1231
Thanks for your response. Submitted a PR for this.

[2019-08-07 04:37] SuperMasterBlasterLaser commented on #1232
Looks like you are right. I have just switched to docker

[2019-08-07 05:28] apanicker-nflx commented on #1232
Closing since the issue seems to be addressed. Please re-open if you are facing problems.

[2019-08-07 05:28] #1232 closed

[2019-08-07 06:35] naveenchlsn commented on #759
@milongapau @apanicker-nflx. I see that PR addressing this issue  https://github.com/Netflix/conductor/pull/1158/files  has not been merged into master. Do we have an expected date when this would be available?

[2019-08-07 09:27] EngAhmedAdel opened #1238 "Add header to TaskClient besides root URI"
Hi,

We need to create task workers, and first part of that is to create a new TaskClient and connect it with conductor server.

The api only provides a way of setting rootURI `taskClient.setRootURI(String)`, we need to provide a header to specify the `Host` along with that root URI in order for the requests to reach conductor server (as it needs to go through envoy first).

Is there a way of doin

[2019-08-07 14:23] 123Neil123 opened #1239 "why do i have to specify AWS rack in the config?"
i don't use AWS.
Conductor doesn't start if i don't use "us-east-1b" in the config file
If running locally:

workflow.dynomite.cluster.hosts=localhost:6379:conductor
should work, but doesn't.

i need something similar to:
"workflow.dynomite.cluster.hosts=localhost:6379:us-east-1b:conductor"

is this expected?

[2019-08-07 14:42] RemcoBuddelmeijer opened #1240 "Exclusive Join not working when embedded in Fork/Join"
# Exclusive Join not working when embedded in Fork/Join
## Problem
Hello,

In one of our workflows we have a very specific with the following (generic) flow:
*Note: the task types assigned to any TASK step(s) are not bound to any specific task type, this can be either a JOIN/FORK, LAMBDA, SIMPLE, etc.. task type.*

[code]
When we embed a decision with an exclusive join inside another fork/join, th

[2019-08-07 15:25] jkaipa commented on #1240
Looks like this is linked/similar to https://github.com/Netflix/conductor/issues/644

[2019-08-07 20:27] RemcoBuddelmeijer commented on #1240
I looked at both the issues, I believe they are indeed connected in a certain way.
After looking at both #644 and #881 I went to look for a workaround.
First, to validate the connection between both tickets, I changed my workflow to have yet another decision in the FORK/JOIN.
Now the other task in the FORK is no longer continuing after the decision, so that bug is connected to here (see image 1).

[2019-08-08 09:11] akm4 opened #1242 "TLS support"
It would be nice to have HTTPS support both for handling incoming requests and for callouts. Are there any plans to introduce these features?

[2019-08-08 09:19] manan164 opened #1243 "Break indexDAO to publisherDAO and indexDAO"
Hi all,
Currently for high throughput scenario we are facing issue while indexing to ElasticSearchDAO.
We are dropping the message so we are not able to search in conductor UI.
I was thinking to break it into publisherDAO and consumerDAO. We can use kafka to publish to any kafka topic and indexDAO which will consume from kafka topic and index to indexDAO i.e. ElasticSearch.

Let me know your thoug

[2019-08-08 13:35] 123Neil123 opened #1244 "Help needed using Sentinel & conductor"
hi there,

I have a couple of nodes running Redis standalone - on top of this i have Sentinel monitoring the nodes and implementing a failover when the master goes down - everything works as it should.

I then try to start conductor using the server.properties file i have - what i get is:
Aug 08, 2019 1:59:19 PM redis.clients.jedis.JedisSentinelPool initSentinels
INFO: Trying to find master from a

[2019-08-08 15:53] indiv0 opened #1245 "workflow_running, task_in_progress Metrics Not Getting Published"
Hello!

First of all, thank you all for your excellent library and contributions to open source.

I currently have conductor setup to send metrics to atlas.
Some metrics (e.g., `workflow_execution`, `task_queue_wait`, `task_execution`) are getting collected but others are not (e.g., `workflow_running`, `task_in_progress`).

In particular, it looks as though none of the metrics that are supposed to

[2019-08-08 19:54] gansa1986 commented on #298
Do we have this enhancement?

[2019-08-09 00:03] kelnos opened #1246 "Cluster setup and redis queue shards"
I'm on AWS, and I've set up a 3-node dynomite cluster across 3 availability zones (so, 9 nodes total).  To start playing around with conductor, I booted a single node with conductor on it, and configured it to speak to the dynomite cluster using a custom HostSupplier implementation that talks to our internal service discovery system, as well as the dyno-supplied HttpEndpointBasedTokenMapSupplier.

[2019-08-11 14:34] aharonamir opened #1248 "Wiring Tasks in Dynamic Workflow"
Hi, I am trying to run 2 tasks in a dynamic workflow and wire the first task output to the second input:
 {
	"name": "testCoder",
	"workflowDef": {
		"ownerApp": "scp",
		"createdBy": "scp",
		"name": "workflow_chicago_31957dc0_bc35_11e9_83fd_e9eef0ec962a",
		"description": "test coder and sms",
		"version": 2,
		"schemaVersion": 2,
		"tasks": [{
			"name": "geo",
			"description": "",
			"taskRef

[2019-08-12 15:40] garreananth opened #1249 "Workflow gets TIMED_OUT even after worker acknowledges with SUCCESS"
Hi,

   I am facing strange issue where a taskId (**t1**) is getting marked as TIMED_OUT even though worker acknowledges within timeout/response_timeout on using conductor server 2.12.1 with a workflow having 300 tasks and task definition having timeout:0, response_timeout:5400 policy

TaskId: **t1: 00ffe445-4536-4ae0-a0f1-fecf42453de1**

From the server logs:-

`"log":"3935443508 [qtp2095602418-4

[2019-08-13 11:00] Prajsp opened #1253 "How do I add vipAddress in httpTask for Netflix Conductor?"
I have the microService registered on eureka discovery service with service registered under hostname:service_name: port. How do I add it as VipAddress for a http_task in my conductor service?

[2019-08-13 12:32] courosh12 commented on #121
https://github.com/courosh12/conductor-dotnet-client

[2019-08-13 13:11] courosh12 opened #1254 "Can we have official conductor docker images?"

[2019-08-14 03:26] 0532 opened #1258 "Deploy with tomcat error"
when i start the  ```conductor-server-1.12.3.war``` with tomcat
error:
[code]
env:
mac os
tomcat-8.5.43
jdk1.8.0_211

I appreciate any help!!

[2019-08-14 03:52] 0532 commented on #1258
```conductor-server-2.9.1.war```  same error

[2019-08-15 21:56] mysteva commented on #1177
Hi, just wanted to check in to see if there were any sort of "stock" yaml files that we can use for testing via Kubernetes.  Thanks!

[2019-08-16 00:18] demichej commented on #1177
Hi @mysteva I'm still here :) I'm sorry I haven't had time to do that, but I will try and get this in a PR this week. Note though, we're using straight Redis (no dynomite), so I'm not sure if that will 100% solve your use case or not.

[2019-08-17 11:36] manan164 commented on #1243
Another approach I tried was to send bulk request while indexing. As of now we bulk only task execution logs but we can bulk indexing task workflow and messages.

[2019-08-19 00:04] s50600822 opened #1263 "MySQL Persistence should retry on Deadlock"
Should mysql operation in ```withTransaction``` be wrapped inside ```RetryUtil.retryOnException``` so that issue like can be retried on the spot:
[code]

I think we wrap ES operations but not MySQL for some reason, the Exception above was recorded on v2.3.15.

[2019-08-19 00:04] davidwadden commented on #1238
@EngAhmedAdel,

This can be done by using the constructor overload for [`TaskClient(ClientConfig, ClientHandler, ClientFilter...)`](https://github.com/Netflix/conductor/blob/8fc13b09347383c746fb789240114860ac945354/client/src/main/java/com/netflix/conductor/client/http/TaskClient.java#L96), then implementing a [ClientFilter](http://javadox.com/com.sun.jersey/jersey-client/1.19/com/sun/jersey/api/c

[2019-08-19 09:28] s50600822 opened #1264 "MYSQL v3 migration contains invalid MYSQL syntax(only supported by MariaDB)?"
From:
https://github.com/Netflix/conductor/blob/master/mysql-persistence/src/main/resources/db/migration/V3__queue_add_priority.sql

[code]
ADD COLUMN IF NOT EXISTS does not seem to be a valid ALTER TABLE option: https://dev.mysql.com/doc/refman/8.0/en/alter-table.html

As a result:
[code]

An interesting side effect of this is that even though the migration failed, flyway recorded this as done in

[2019-08-19 16:02] EngAhmedAdel commented on #1238
@davidwadden,

Thanks for your reply. I tried to use the `ClientFilter` as you mentioned, but the header doesn't seem to be set!

All requests to the server ends up with 404 responses!

This is how my client filter looks like:
[code]

And this is the TaskClient initialization:
[code]

Am I missing something?

[2019-08-20 00:13] kishorebanala commented on #759
@naveenchlsn We're running regression tests in our test stack with zookeeper, and were fixing bugs as we see them. We're hoping to merge this to master sometime next week.

[2019-08-20 00:14] apanicker-nflx commented on #1236
Hi @naveenchlsn , This would definitely be a useful addition to the project. Since the persistence layer is pluggable, this can be added without impacting other components. Please submit a proposal with implementation details and schema designs.

[2019-08-20 00:20] apanicker-nflx commented on #1223
@sathyatvrcbe Thanks for the explanation. This is currently not supported explicitly using the DAG dependencies, however, you can mimic a similar pattern using [system tasks](https://netflix.github.io/conductor/configuration/systask/) viz. fork/join, dynamic task, dynamic fork/join etc. Please let us know if this meets your requirement.

[2019-08-20 00:29] kishorebanala commented on #1253
@Prajsp You can use `vipAddress` in `http_request`, and then `uri` to provide the path. Checkout docs for http task for an example: https://netflix.github.io/conductor/configuration/systask/#http

[2019-08-20 00:29] #1253 closed

[2019-08-20 00:33] apanicker-nflx commented on #1231
Thanks for the PR. We will merge this soon.

[2019-08-20 00:33] #1231 closed

[2019-08-20 00:37] kishorebanala commented on #1263
@s50600822 Definitely makes sense to add retries here. Please feel free to submit a PR when you have a chance.

[2019-08-20 00:42] apanicker-nflx commented on #1240
Thanks for reporting the issue. We will look into fixing this issue soon. However, feel free to submit a PR with the fix if you need this sooner.

[2019-08-20 00:44] apanicker-nflx commented on #1242
@akm4 This is one of the items on our wishlist documented [here](https://github.com/Netflix/conductor/wiki/Conductor-Wishlist#security). Please feel free to make a contribution for the same.

[2019-08-20 00:44] #1242 closed

[2019-08-20 00:55] kishorebanala commented on #1239
Hey @smukil @rsrinivasanNetflix, Is there is any requirement from dyno-queues to provide the availability zone? If not, can we remove them to allow non-aws users?

https://github.com/Netflix/conductor/blob/a7a6e32900b7c5cf78b861a144d3e663b9be11c3/redis-persistence/src/main/java/com/netflix/conductor/dyno/DynoShardSupplierProvider.java#L24
https://github.com/Netflix/conductor/search?q=getAvailabili

[2019-08-20 00:57] apanicker-nflx commented on #1243
@manan164 I would suggest keeping the indexDAO as is but you can customize the implementation that is being used underneath to tailor it to your needs.
In your implementation, you can choose to break up the producer actions to write to an intermediate kafka layer which eventually sinks to an ES index and the consumer actions to directly read from ES. Also, you can choose to do bulk indexing in thi

[2019-08-20 01:07] apanicker-nflx commented on #1264
@s50600822 Thanks for flagging this. Please feel free to submit a PR with the fix.

[2019-08-20 01:12] apanicker-nflx commented on #1245
@indiv0 Thank you for the kind words.

Your findings are correct. In your AbstractModule class, you will need to initialize the WorkflowMonitor class like so:
[code]
This should initialize the monitors correctly during startup and publish these metrics to Atlas.

[2019-08-20 01:12] #1245 closed

[2019-08-20 01:14] apanicker-nflx commented on #298
@gansa1986 This is currently not implemented. However, feel free to submit a PR for this enhancement and we would be happy to work with you towards adding this.

[2019-08-20 01:17] kishorebanala commented on #1244
@123Neil123  Have you tried setting up this property: `workflow.dynomite.cluster.name` to get relevant jedis pool: https://github.com/Netflix/conductor/blob/master/redis-persistence/src/main/java/com/netflix/conductor/jedis/RedisSentinelJedisProvider.java#L35

[2019-08-20 01:18] apanicker-nflx commented on #1246
@kelnos Your findings are correct, this is currently a limitation enforced by dyno-queues which requires conductor to be deployed across 3 AZs. Having said that however, dyno-queues provide high availability and high-durability guarantees in such a configuration, so the tradeoffs seem quite small in comparison.

[2019-08-20 01:37] apanicker-nflx commented on #1248
@aharonamir I see that in your definition, the body is wired so `"message": "${workflow.input.message} in the Area of: ${geo.output.type} "`. Currently, this type of string substitution is not supported. If you at the [ParametersUtils](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/ParametersUtils.java#L196) class, you will see the implemen

[2019-08-20 01:37] #1248 closed

[2019-08-20 01:38] kishorebanala commented on #1249
@garreananth I see the task is acked, but the update and endtime are at least 3 hours apart. If the worker has to take more than responseTimeout seconds, it should call the Conductor server's update API with callBackAfterSeconds and status:IN_PROGRESS to keep the task alive. Checkout task lifecycle for more details: https://netflix.github.io/conductor/tasklifecycle/

[2019-08-20 01:39] #1249 closed

[2019-08-20 06:31] garreananth commented on #1249
Thanks made sense but one more question I have is it possible for worker polling for tasks and keeping extra tasks in the queue and in the next iteration instead of picking from queue it will re-poll more tasks ? (this way tasks which got polled are staying idle for longer time in the queue)

[2019-08-20 07:44] rayscott007 commented on #759
@kishorebanala Will this fix also apply to MySQL backed setups? Or is it only for Dynomite?
Thanks for your work on this

[2019-08-20 08:01] skyrocknroll commented on #759
Does it work for redis cluster also ?

[2019-08-20 13:09] jkaipa commented on #1240
@apanicker-nflx This is a duplicate of https://github.com/Netflix/conductor/issues/644 .

[2019-08-20 15:00] ChandraDuddukuri opened #1266 "Query for workflow's with input - strange behaviour"
When querying the Conductor with Restcall, observing strange behaviour

+++++++++++++
with **query**
+++++++++++++
**Getting Result - partial string given for job id**
'https://<conductor.service>/api/workflow/search?size=100&query=input%3D'JobID%3D<te_xt>-<yyy_zzzz>000000020105320D'

**Getting Result - partial string given for job id**
'https://<conductor.service>/api/workflow/search?size=100&que

[2019-08-21 00:27] jimmort25 opened #1268 "Timeout of `WAIT` task doesn't cause workflow to fail"
If I understand the semantics of the timeout setting, then a `WAIT` task that is not updated to completed before the timeout should result in that task failing and consequentially, the workflow failing.

However, when I execute a workflow that contains, for example, a `WAIT` task followed by an `HTTP` task, the former timing out does nothing to inhibit the latter from executing.

[2019-08-21 11:46] naveenchlsn commented on #1236
Thanks, @apanicker-nflx . I am going through the Cassandra execution Dao implementation for understanding the design of executiondao in No SQL databases.

I can see that some methods in the Dao like exceedsRateLimitPerFrequency, exceedsInProgressLimit are not implemented and these are required for executing system tasks.

How are we running system tasks when we are using CassandraExecutionDAO ?

[2019-08-21 11:49] EngAhmedAdel commented on #1238
Found the issue.
Host header was not being set as it's a restricted header.
Adding `-Dsun.net.http.allowRestrictedHeaders=true` to environment variables fixed it.

Thanks.

[2019-08-21 11:49] #1238 closed

[2019-08-21 11:51] davidwadden commented on #1238
Great!  Good find

On Wed, Aug 21, 2019 at 6:49 AM EngAhmedAdel <notifications@github.com>
wrote:

[2019-08-21 13:02] s50600822 opened #1271 "Log4j 1 vs 2 mixed up when running server"
[code]
shows
<img width="1423" alt="Screen Shot 2019-08-21 at 1 53 56 pm" src="https://user-images.githubusercontent.com/5586453/63433871-5815a580-c467-11e9-81bc-622aeb3946ae.png">

dependency report seems to indicate we actually want log4j2, check output of ```gradle dependencyReport```. See https://scans.gradle.com/s/ss35tnzbn3i3u/dependencies?dependencies=log4j&expandAll

Run time managed bean

[2019-08-21 15:01] s50600822 commented on #1264
https://github.com/Netflix/conductor/issues/1264
- is there a script to run code coverage on my local, any trick to deal with it when it doesn't really make sense?
- is there a gradle task or script to update dependencies.lock ?

[2019-08-21 15:36] ChandraDuddukuri commented on #1266
in the search if i give the JobID value till the last "-", then search is working with partial string

any specific reason?

[2019-08-21 19:09] indiv0 commented on #1245
Yep, that did it! Thank you.

[2019-08-21 22:51] jkaipa commented on #1141
This could be a ES5 to ES6 compatibility issue. I didn't get a chance to pursue later after that. Closing the issue.

[2019-08-21 22:51] #1141 closed

[2019-08-21 23:25] #1268 closed

[2019-08-21 23:31] s50600822 opened #1275 "Make sure logging are async by default"
https://logging.apache.org/log4j/log4j-2.3/manual/async.html

[2019-08-22 06:39] #1258 closed

[2019-08-22 12:30] naveenchlsn commented on #1246
Hi @apanicker-nflx. As per my understanding, Dynomite only provides high availability but not durability.

Can we refill the conductor task queues in case of multi-az failure?

[2019-08-22 12:57] aresares opened #1276 "Ubuntu 18.04 docker-compose up gradle build failure"
Im having troubles on running conductor on docker under linux

root@server:/home/netflixConductor/conductor/docker# docker-compose up
Building conductor-server
Step 1/16 : FROM openjdk:8-jdk AS builder
 ---> b84359d0cbce
Step 2/16 : MAINTAINER Netflix OSS <conductor@netflix.com>
 ---> Running in b4d3a452fffb
Removing intermediate container b4d3a452fffb
 ---> fa9345e8b3b5
Step 3/16 : COPY . /conduc

[2019-08-22 15:21] mllrjb opened #1277 "Go client imports not compatible with go mod"
I see the Go client README says to use an install script and set up the client library under `$GOPATH/src/conductor`, but that makes it pretty difficult to consume as a dependency, e.g. with go modules.

The fix is pretty simple - convert import paths to be more explicit, e.g. `"github.com/netflix/conductor/client/go/task"`. Is there any objection to doing that? ~If not, I can create a PR that fix

[2019-08-22 16:53] demichej commented on #1254
I would also like to see this, but in order to do that, the configuration properties all have to become System properties (which we should do, in my opinion).

Until then, you'll still have to build it yourself since you need to set those config properties in a file.

[2019-08-22 17:31] demichej opened #1278 "Tasks stuck in SCHEDULED state"
We have a simple 1 task workflow that appears to be randomly/sporadically getting stuck in a SCHEDULED state. I see this in the server log

2862404765 [qtp1600061360-1712] INFO  com.netflix.conductor.core.execution.WorkflowExecutor  - A new instance of workflow: mortgage.entity_change_intake created with id: c95b4a73-7e45-4845-82c3-afce883f2a6e

And then The UI shows that it was SCHEDULED:
![Scree

[2019-08-22 18:26] demichej commented on #1278
Nevermind! I figured it out from the polling data page.

I was auto-setting a 2 different domains, and the last one was NO_DOMAIN. However, all the workers were only setup to poll for that other domain.

[2019-08-22 18:26] #1278 closed

[2019-08-23 05:22] s50600822 commented on #1263
will do, in the meant time, let me know if there's a guideline I should follow. Like:
- code coverage
- PR target branch

[2019-08-23 09:49] josemonteiro commented on #1276
Hello, I'm getting a similar error during the Gradle build:

[code]

[2019-08-23 10:26] josemonteiro commented on #1276
Nevermind, I was using running `docker-compose build` from a different place and using the git URI as build context, and for some reason this doesn't work. Building locally in this repo works for me.

[2019-08-23 10:29] kelnos commented on #1246
Great, thanks for the clarification!

[2019-08-23 15:01] aresares commented on #1276
I build always in the same way, on windows 10 it works , on ubuntu server no, I get the above error

[2019-08-25 07:29] merlin-northern commented on #1069
hullo.

 looking at the code
[contribs/src/main/java/com/netflix/conductor/contribs/http/RestClientManager.java:34-35](https://github.com/Netflix/conductor/blob/master/contribs/src/main/java/com/netflix/conductor/contribs/http/RestClientManager.java#L34):
[code]
and testing this, what does work is puting in the conductor configuration following lines to set the timeouts (all in milliseconds):
[cod

[2019-08-25 15:02] s50600822 commented on #1264
See https://github.com/Netflix/conductor/pull/1280.

[2019-08-26 05:53] geshenyi opened #1281 "docker-compose build failed on win10"
I'm trying to spin up a conductor server through docker container on Win10.
However, I got following error meesage in the middle of process...

`FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'conductor'.

`

[2019-08-26 07:00] evgvain opened #1282 "Netflix Conductor task to domain assignment by referenceTaskName"
The assignement of task to the certain domain (taskToDomain) uses "taskType" and not "referenceTaskName". I have a workflow with multiple appearances of the same task with different reference names, which I need to assign to different domain.

[2019-08-26 10:07] rituparnopal commented on #1069
Yep, worked for me when I realized its in milli-seconds.

[2019-08-26 20:11] merlin-northern commented on #1069
in case anyone is reading that, this patch fixes the apparent problem with deserialisation of `tasks.inputParameters.http_request.connectionTimeOut` and `readTimeOut` on some setups:

[code]
without it the readTimeOut and connectionTimeOut are null and the timeouts just seem not to be working.

[2019-08-27 02:45] 0532 commented on #815
![image](https://user-images.githubusercontent.com/5317048/63736829-029e2600-c8b7-11e9-91e9-deda0954b6cb.png)

I have encountered the same problem and can give some advice.

linux
jdk 1.8.0
mysql-persistence 2.13.5
conductor-core 2.13.5
@kishorebanala

[2019-08-27 07:22] Jiehong opened #1284 "JsonJqTransform does not always provide an error message"
Hello,

For some inputs, the JsonJqTransform task does not always provide the correct error message.

Here is a case reproducing this case:

[code]

This test passes, but it shouldn't.

Indeed, if we look at the stacktrace we get inside the catch part of `JsonJqTransform::start`, we get the following:

[code]

So we have 2 levels of exceptions saying "N/A", and the third one does provide the corre

[2019-08-27 12:32] 123Neil123 commented on #1244
thaks @kishorebanala for your comments.
i added the following to server.properties:
workflow.dynomite.cluster.name=mymaster

![image](https://user-images.githubusercontent.com/53868422/63771052-536d4900-c8ce-11e9-8c32-9b86b9026bb7.png)

i redacted the IP and password - doesn't matter anyway as they are all internal IPs only.

however Conductor doesn't seem to like this - any ideas?
Is there an exa

[2019-08-27 21:42] msf commented on #1246
I'm having what seems to be a similar issue.

however, in my case I only have 1 single host per RACK (AZ).
I've configured dynomite w/ DC_SAFE_QUORUM, so all instances host the same data and provide redundancy to each other.

I have a single conductor instance and all workers connecting to that instance (for now).

must I have basically a "triplicate" deployment, where all AZ have workers, conduct

[2019-08-27 21:56] msf opened #1287 "Configuration issue with HA dynomite deployment."
hi there, I have a 3-node setup of a dynomite cluster (sinle datacenter, 1 node per AZ/rack, read and write consistencty set to DC_SAFE_QUORUM) and for the life of me can't get conductor to work correctly w/ this setup.
I believe the dynomite deployment is correct, it passes some various tests I've done (using redis-cli and redis-benchmark against the individual nodes)

I've confirmed that each dy

[2019-08-27 22:30] haigopi opened #1288 "Docker Compose + Windows = Error"
F:\conductor\docker>docker-compose up
Building conductor-server
Step 1/16 : FROM openjdk:8-jdk AS builder
 ---> 08ded5f856cc
Step 2/16 : MAINTAINER Netflix OSS <conductor@netflix.com>
 ---> Using cache
 ---> 6e56c49b3752
Step 3/16 : COPY . /conductor
 ---> Using cache
 ---> b4c5788f3fd9
Step 4/16 : WORKDIR /conductor
 ---> Using cache
 ---> 402538e9818c
Step 5/16 : RUN ./gradlew build -x test
 ---

[2019-08-28 01:13] 0532 commented on #1263
m

[2019-08-28 05:21] merlin-northern commented on #1069
thanks for commenting. I have the opposite, my case is: with the Integer type the timeouts in input do not work at all. I have actually connected jdb and saw null Integer fields in the input. With the above patch it works. I think this is what @rituparnopal saw as well. would you consider using int types in the Input class?

[2019-08-28 09:12] rituparnopal commented on #1069
For my case it was an issue of milliseconds. The default value of 100 ms and 150 ms was too low for my microservices.

[2019-08-28 15:31] Stephane90 opened #1290 "WorkflowTask deserialisation initialise empty lists"
Hello,
I noticed when deserialising [WorkflowTask](https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/metadata/workflow/WorkflowTask.java) that all collections are initialised as empty collections even when the field in the json is absent. This is due to the fact that the empty constructor initialises them. This is present in all collections in the m

[2019-08-28 16:20] smullins3000 opened #1291 "What is "taskDefName"?"
The attribute taskDefName is returned in task polling, and it appears to always and only be set to the taskType value (from Task.name). Attempts to set it in the workflow definition fail as the value is not persisted.

Is this attribute used for anything?

[2019-08-28 16:56] MikeTangoEcho opened #1292 "NullException on task input upload to external storage (not S3)"
When payload size > `conductor.workflow.input.payload.threshold.kb` and you don't use S3 External Storage, the DummyPayloadStorage's function getLocation returns null and trigger a NullException.

https://github.com/Netflix/conductor/blob/02feca03104711332d160283a77b454ac5e5df1a/core/src/main/java/com/netflix/conductor/core/utils/DummyPayloadStorage.java#L30-L32

https://github.com/Netflix/conduct

[2019-08-29 17:54] indiv0 opened #1294 "Elasticsearch Rollover & Workflow Archival Questions"
Hello!

I was wondering how you guys handle archival and Elasticsearch rollover concerns.
1. I see that there is a `IndexDAO::searchArchivableWorkflows` method, but it doesn't appear to be used outside of tests, and has no equivalent REST/gRPC API. Are we meant to use this method via additional modules that we define?
2. There is a `WorkflowArchiveDAO`, but it doesn't seem to be used. Is this a le

[2019-08-29 19:32] ibivibiv opened #1295 "KAFKA_PUBLISH stuck in "Scheduled""
Ok I surrender, I have no idea why this is happening.  I have this task created:

{
        "name": "call_kafka",
        "taskReferenceName": "call_kafka",
        "inputParameters": {
            "kafka_request": {
                "topic": "userTopic",
                "value": "Message to publish",
                "bootStrapServers": "confluent-cp-kafka-headless:9092",
                "headers":

[2019-08-29 20:21] manan164 commented on #1295
@naveenchlsn  See if you can help.

[2019-08-30 03:32] naveenchlsn commented on #1295
@ibivibiv  Yes. you are right. The documentation is missing something. We have to specify the task type for the conductor to recognize this as a Kafka task.

Please try with the following definition. Sorry for the trouble, I will raise a PR to update the docs.

[code]

[2019-08-30 09:28] ChandraDuddukuri commented on #1266
can you give me the documentation link related to the Limitations & ES Indexing?

[2019-08-30 15:14] rickfish opened #1297 "Latest master merge - cannot find dyno-core 1.6.5-rc.3"
The latest merge to master has redis-persistence using the 2.0.0-rc6 version of dyno-queues-redis. This depends on dyno-core-1.6.5-rc.3. That version cannot be found in Maven. Is there something I need to do to make the build work?

[2019-08-30 17:16] apanicker-nflx commented on #1297
The dependencies seem to be available here - https://bintray.com/netflixoss/oss-candidate/dyno.

[2019-08-30 17:24] ibivibiv commented on #1295
Good catch!  I had the type on the task definition but not in the workflow!  Yes the documentation only had the input parameters so I had to guess at it.  Its working now.  Thank you guys, you're the best!

[2019-08-30 17:24] #1295 closed

[2019-08-30 17:46] rickfish commented on #1297
Thank you

[2019-08-30 17:46] #1297 closed

[2019-09-01 04:07] naveenchlsn opened #1298 "Best practice for elastic search setup in conductor"
Hi,

1) What kind of elastic search cluster is ideal for the traffic ingested by the conductor. Currently, we are running 100k workflows per minute at peak and a  5 node m5.x large cluster is not able to keep up.  Is there any tuning in the index configuration we can make to make the ingestion faster?

2) From the [blog post, ](https://medium.com/netflix-techblog/evolution-of-netflix-conductor-166

[2019-09-01 04:12] naveenchlsn commented on #1236
The `WorkflowExecutor` class is binded to single `ExecutionDAO` at compile time from what I can see.

Can you please let me know how we are changing the binding to use `RedisExecutionDAO` for few methods and `CassandraExecutionDAO` for few methods?

[2019-09-02 11:59] s50600822 commented on #1263
https://github.com/Netflix/conductor/pull/1299/commits/d861fb5dadef82479af78725128bbc0c34e099df

[2019-09-03 13:48] s50600822 opened #1302 "Conductor somehow corrupts my ES consistenly"
I have this es setup in docker compose
Now any times I start, I can verify that the shard look fine and **green**
[code]

Consistently anytime I start conductor, pointing to the cluster above, it would become **yellow**, with unassigned shards, in just a few mins:

[code]

I can see nothing wrong from the log

[code]

Any idea?

[2019-09-03 14:07] #1302 closed

[2019-09-03 14:08] s50600822 commented on #1302
[code]

[2019-09-04 00:32] apanicker-nflx commented on #1288
You're right, I misread the message.

[2019-09-04 00:32] kishorebanala commented on #1290
@Stephane90 Do you have an example for when it would be useful to have null fields over empty fields? Having empty collections helps avoid null checks and we can infer there are no values if the list is empty anyways.

[2019-09-04 00:35] apanicker-nflx commented on #1291
`taskDefName` is the name of the task definition that is registered for this particular task. It is set to `taskType` if a definition does not exist, which can be the case for system tasks.

[2019-09-04 00:35] #1291 closed

[2019-09-04 00:47] apanicker-nflx commented on #1292
@MikeTangoEcho Thanks for flagging this issue.

This option seems to be best suited for backward compatibility.
However, you could also introduce a boolean flag which is configuration-driven to enable/disable the use of external payload storage. The method `ExternalPayloadStorageUtils:verifyAndUpload` could be skipped when this is disabled (default behavior).

Please let me know your thoughts and

[2019-09-04 01:21] kishorebanala commented on #1298
Hi @naveenchlsn, You can consider making more fields non-indexable. For eg.
[code]

This might impact UI usage on some fields though. While we haven't done ES cluster tuning ourselves, there are some good resources such as this: https://www.elastic.co/guide/en/elasticsearch/reference/master/tune-for-search-speed.html.

For #2, there are some tradeoffs, but I'd think UI should be customizable to di

[2019-09-04 01:50] apanicker-nflx commented on #1294
Hi @indiv0
1. We use an additional module for workflow archival, which calls `searchArchivableWorkflows` to get all the terminal state workflows and calls `removeWorkflow(..., true)` to delete from primary store and index in ES with a rawJSON field.
2. Your observation is correct, this is a legacy DAO which we will mark as deprecated and remove soon.
3. Currently, we do not have a clean way of usi

[2019-09-04 01:53] apanicker-nflx commented on #1266
@ChandraDuddukuri What I meant by limitations was that Conductor's query DSL is restrictive as compared to ES DSL. Can you please verify that the same queries work correctly against your ES index when using the ES DSL?

[2019-09-04 01:59] apanicker-nflx commented on #1236
Since the execution DAO is pluggable, we configure an additional module which implements the `ExecutionDAO` interface and delegates the underlying methods to Cassandra and Dynomite depending on the usage. Since Dynomite cluster is already being used to serve `MetadataDAO` (for now) and `QueueDAO`, this does not impose any additional infrastructure costs.

[2019-09-04 02:00] apanicker-nflx commented on #1284
Closed since #1286 is merged.

[2019-09-04 02:00] #1284 closed

[2019-09-04 07:44] acho22 opened #1303 "lambda provides Invalid JSON error"
Hi all,

Hoping someone might see if I'm doing something wrong.  I tested the lambda expression on Nashorn directly & it worked.  But when I run it as a task I get a processing error with the input JSON.

Below is the lambda task:
		{
			"name": "mergeresult",
			"taskReferenceName": "mergeresult",
			"type": "LAMBDA",
			"inputParameters": {
				"offshore": "${joinus.output.shell-offshore.respons

[2019-09-04 09:47] Jiehong commented on #1208
@kishorebanala I also agree with you here.

I think we cannot make any assumptions about how the security is handled, and we can also suppose that users/task workers can be handled differently maybe?

What about this idea:

For each Service, such as `WorkflowService`, we could add a new interface named "WorkflowServiceSecurity" containing 1 function throwing a specific exception for each function

[2019-09-04 18:08] demichej commented on #881
We're hitting this as well. @kishorebanala I see your suggestion that you put your decision tasks in a subworkflow. Unfortunately, that just wouldnt be very maintainable for our use case.

Do you know if someone is actively working on a fix for this? Or when there's an ETA for it?

(On a side note, do y'all use Intellij for development? I haven't been able to get my local conductor debugging in In

[2019-09-04 19:12] jkaipa commented on #1078
Any update on this feature @Ismaley @kishorebanala ?

[2019-09-04 20:33] indiv0 commented on #1294
Thank you for the thorough answer! Very useful information; should be sufficient to address my current use-case.

[2019-09-04 20:33] #1294 closed

[2019-09-04 22:23] maheshyaddanapudi opened #1304 "Remote Workers NOT Polling for Tasks"
I have the below application setup.

1) Conductor Server - Cloud Container - No Security
2) Java Worker (Spring Boot) - Local Machine

Task is registered with Conductor no issues.
Task Def is created by calling API programatically no issues.

Workflow created by calling API from Postman.
Task Type is SIMPLE
task name is matching the registered task name.

Worker is NOT polling the Task.
It is fore

[2019-09-04 22:32] maheshyaddanapudi commented on #1304
Workflow Definition is as below

{
  "ownerApp": "Test_5_Control_M_Test_5_Control_M",
  "createTime": 1567632362352,
  "createdBy": "AutoPoP Workflow Generator",
  "name": "Test_5_Control_M",
  "description": "Test_5_Control_M",
  "version": 1,
  "tasks": [
    {
      "name": "TASK_CHECK_URLS",
      "taskReferenceName": "TK-05_09_19_02_55_11_005",
      "description": "TK-05_09_19_02_55_11_005"

[2019-09-05 07:54] acho22 commented on #1303
I played around a bit more & changed my expression to:
JSON.parse(${joinus.output.shell-offshore.response.body.enrichment[0]})

I can see that it removes all the double quotes:
"scriptExpression": "JSON.parse(JSON.stringify({id=1, name=Offshore, description=checks if an entity is included in the lists, version=1, attributes=[{type=panama_papers, is_in_list=false}, {type=paradise_papers, is_in_list

[2019-09-05 07:58] Jiehong commented on #1304
Looks like you should check network issues

[2019-09-05 08:12] manan164 commented on #1303
@acho22 Not sure what is the exact issue. But you can use Java construct inside lambda task scriptExpression. Please look at -:https://docs.oracle.com/javase/8/docs/technotes/guides/scripting/nashorn/api.html.
If it is removing quotes you can use java json parser.

[2019-09-05 09:50] s50600822 opened #1305 "This Exception where IndexDAO gave ExecutionDAO something that is not in DB yet it say can not find in ES index..."
An ES query returns an ID not in DB and says it wasn't from ES index. I'm not sure where the ID was from(it is indeed not in DB):
[code]

[2019-09-05 12:07] #1305 closed

[2019-09-05 20:12] acho22 commented on #1303
Hi @manan164 , thanks for replying back.  I look at the link, I'm not sure it will help because it seems the value is already modified by Conductor itself & I loose all the double quotes.

I'm actually trying to keep all the double quotes.  This will keep it as a valid JSON string.

[2019-09-05 20:20] acho22 commented on #1303
My guess is that when the variable is evaluated all the double quotes are stripped because the scriptExpression is a string incased in double quotes.  But I would have expected the internal double quotes to be escaped.

[2019-09-05 20:36] avila3a commented on #351
@saidatta

Hiii I have this same problem but I don't understand how to solve it by adding depends_on and condition: service_healthy to which file (driver.properties). or where the properties are added

[2019-09-06 03:14] 0532 commented on #837
m

[2019-09-06 06:27] manan164 commented on #1303
Hi @acho22 . Since you are getting JSON input why you want to parse it again.
You can use definition
[code]

[2019-09-06 07:15] acho22 commented on #1303
Also noticed it is converting the colons to equal signs too

[2019-09-06 15:39] acho22 commented on #1303
hi @manan164 , because it's just still a JSON string but it needs to be a JSON object.

otherwise, you get this:
{
  "error": "TypeError: tic.enrichment.push is not a function"
}

[2019-09-06 15:47] demichej commented on #1304
Can you change your Worker's log4j settings so that it prints at a DEBUG level? The conductor worker code should print out what it's doing behind the scenes (like each polling call)

[2019-09-08 11:44] manan164 commented on #1303
Hi @acho22 I don't see body in the input you have provided. I took empty list body.
and this worked,
[code]

[2019-09-09 01:03] acho22 commented on #1303
Sure, this is the input coming from the previous join task.

{
  "shell-offshore": {
    "response": {
      "headers": {
        "Transfer-Encoding": [
          "chunked"
        ],
        "Access-Control-Allow-Origin": [
          "*"
        ],
        "Connection": [
          "keep-alive"
        ],
        "Date": [
          "Fri, 06 Sep 2019 15:34:55 GMT"
        ],
        "Content-Type

[2019-09-09 03:48] apanicker-nflx commented on #1287
@msf As mentioned [here](https://github.com/Netflix/conductor/issues/1246#issuecomment-525554811), if your dynomite configuration is such that you have a 3-node setup across 3 AZs, then you would need a 3-node Conductor cluster deployed across the 3 AZs.

[2019-09-09 09:40] MikeTangoEcho commented on #1292
From my point of view:
- Introducing a boolean flag to switch on/off the feature would undermine the need of a Dummy implementation of an external storage, thus better removing it to avoid confusion.
- Modifying the behaviour of `verifyAndUpload` is more than a quick hack for backward compat than a fix, it would be simpler to remove the dummy external storage and prevent the instanciation of `Exte

[2019-09-09 15:06] courosh12 commented on #1288
I had the same issue. In my case its was because of line endings. u need linux line endings and not windows. Try using dos2unix in git bash. https://stackoverflow.com/questions/11929461/how-can-i-run-dos2unix-on-an-entire-directory

[2019-09-09 17:23] rickfish opened #1306 "What are the event and message indexes used for?"
What are the message and event elasticsearch indexes used for and what would I do to cause a document to be written to those indexes? I am trying to migrate ES5 documents to ES7 and I want to make sure I can test it thoroughly. I tried to figure it out in the code but it isn't straightforward...

[2019-09-09 17:33] saidatta commented on #351
@avila3a `depends_on` & `condition` is for the docker-compose file. point the pre-reqs services to conductor-server service.

[2019-09-09 20:16] saidatta commented on #759
As a related aside, Some info on distributing locking in case anyone wanted to catch up or intrigued.

https://martin.kleppmann.com/2016/02/08/how-to-do-distributed-locking.html

[2019-09-09 21:41] milongapau commented on #1137
### **AN UPDATE (9/9/2019):**
Since May, we internally have moved to use Cassandra for data persistence instead of Redis. Consequently we decided to implement this solution using zookeeper for distributed locking instead of dynamite and Cassandra LWT for consistent datastore write.

[2019-09-11 05:46] cholf opened #1307 "Where can I get dubbo example?"
Where can I get dubbo example?

[2019-09-11 08:06] s50600822 opened #1308 "Should conductor initiate reindex should data mistmatch?"
There'r cases where ES index does not agree with DB for example below is one where the doc on ES has status = RUNNING but the payload in DB is COMPLETED:

<img width="1585" alt="Screen Shot 2019-09-10 at 11 13 31 pm" src="https://user-images.githubusercontent.com/5586453/64679132-67b06900-d4be-11e9-8d66-a4ae00995fe0.png">
The query as we can see is ```status in RUNNING``` which the document matche

[2019-09-11 08:29] mahalaxmiganesh commented on #1306
message and event elasticsearch indexes are used in Event feature support.

With Event feature, being able to produce an event (message) to an external system like SQS or internal to Conductor.
1.	When using Conductor queues,  Events i.e messages are published into Conductor Queue, then these messages are indexed into Message index.
2.	For Conductor to take any actions based on the Event. Event Ha

[2019-09-11 10:23] s50600822 commented on #1304
you can enabled logger ```com.netflix.conductor.service.TaskServiceImpl``` on conductor side to see for sure
<img width="1595" alt="Screen Shot 2019-09-11 at 8 22 52 pm" src="https://user-images.githubusercontent.com/5586453/64689600-fe3a5580-d4d1-11e9-8363-cad8f7275b01.png">

[2019-09-11 12:42] 0532 opened #1309 "The current node is in execution and the following nodes are executed."
![image](https://user-images.githubusercontent.com/5317048/64697129-b7009480-d4d2-11e9-9523-6bac09d8d60e.png)

the flow json
[code]

[2019-09-11 17:06] rickfish commented on #1306
That is what I thought but I cant seem to get these documents to be written to the indexes. I created an event handler, started a workflow with a wait task and then started a workflow with an event task to complete the task. Everything worked (both workflows completed) but I dont see anything in the event or message indexes). Also set breakpoints in the es dao where they would be written but the b

[2019-09-11 18:00] rickfish commented on #1306
Never mind. It is working. For some reason, I had to wait for the SimpleEventProcessor.refresh() method to be invoked. Not sure why it wasn't. Thanks for your help!

[2019-09-11 19:42] rickfish commented on #1306
Strange...it worked once but after that I cant get SimpleEventProcessor.handle to be invoked. Is there some sort of setting for that??? Confused.

[2019-09-12 00:40] kishorebanala commented on #1309
@0532 Can you provide more details like execution logs, particularly around the lifecycle of the two tasks in consideration.

[2019-09-12 00:51] kishorebanala commented on #881
@demichej We're swamped at the moment and planning to get to this in early Q4. If you have bandwidth, we'd happy to work with you on this fix.

[2019-09-12 00:56] kishorebanala commented on #881
@demichej I've setup a IntelliJ Run configuration on Gradle with `Gradle project: conductor:server` and `Tasks: server` to run Conductor server in debug mode locally. It should be applicable to Eclipse as well.

[2019-09-12 01:03] kishorebanala commented on #1306
@rickfish Ensure SimpleEventProcessor is bound as eagerSingleton in core module and that scheduled thread pools are initialized successfully at launch.
https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/config/CoreModule.java#L97

[2019-09-12 01:27] kishorebanala commented on #1208
@Jiehong Thanks for your suggestions. We're also researching about best possible approach to handle Authentication and Authorization in Conductor with internal Netflix security teams and other partners. We'll definitely take your inputs into consideration and will come up with a proposal when we have a plan defined.

[2019-09-12 01:37] apanicker-nflx commented on #1292
Agreed. But as you pointed out, it defeats the purpose of the `Utils` class which is agnostic of the implementation underneath.

Given your ideas above, I am now leaning towards

The error message could say that an external payload storage is not configured and the payload size is beyond the configured limits.

[2019-09-12 01:46] kishorebanala commented on #1307
@cholf Do you mind elaborating what you are looking for related to Dubbo in Conductor?

[2019-09-12 02:03] kishorebanala commented on #1308
@s50600822 Given that persist makes two separate calls to primary data store and index, and workflow state is updated frequently during the execution, we'll have to be careful when syncing the primary store data with ES index. However, for the workflows that are marked as COMPLETED in primary store, but failed to update to ES, we can improve the current logic to ensure the state is synced eventual

[2019-09-12 07:22] 0532 opened #1313 "number of retries"
![image](https://user-images.githubusercontent.com/5317048/64761114-e3b5ba00-d56d-11e9-8048-7cf5514e6276.png)
error msg:
[code]
task
[code]
i set 3 but it retry 4
![image](https://user-images.githubusercontent.com/5317048/64762482-da7a1c80-d570-11e9-95b3-3afd9b43f76b.png)

[2019-09-13 07:40] csperli opened #1315 "Best practice : Cleanup of redis and elasticsearch database (and synchronization)"
Hi all,

I'm searching for a best practice solution regarding cleanup and synchronization of Redis and ES databases.
We have configured conductor with db=dynomite.
Using dynomite cluster with 3 nodes and underlying redis db.

After a certain time of working with conductor, redis db is full.

- Configuring redis without eviction, we are facing some redis memory errors at this time, which then cause

[2019-09-13 10:08] manan164 commented on #1315
Hi @csperli . We are in same boat. I have asked this [question](https://github.com/Netflix/conductor/issues/1243) earlier.
1) For high throughput workflow we are using archive workflow true so it will be removed from redis on completion.
2) We are using async indexing in ES with queue size 15k, which is also not sufficient during peak hours. And after the queue is full, we drop the indexes.  Durin

[2019-09-13 14:19] andrea11 opened #1316 "Make Conductor model extendable"
Hello,
I was thinking to "change" (more precisely extend) my data model of conductor. Today I could fork the project and edit directly. But I was thinking to a more generic approach, using in the interface only generics that extend your base model. For example:

[code]

What do you think? Is there a better approach to avoid this huge refactoring?

[2019-09-13 14:29] Jiehong commented on #1316
Hello @andrea11,

I think something more in this vein might make more sense if I understand your point well. Here with the ExecutionDAO as well:

[code]

As a `T` should always be a valid `Task` in this case, very few issues should occur I reckon, but it's a breaking change, indeed.

What do you think?

[2019-09-13 14:31] Jiehong commented on #1316
but I'd be curious to see if a Task is a valid T, but that might be the case

[2019-09-13 14:34] Jiehong commented on #1316
However, for now, if you implement DAOs with a T that actually extends your model, you should be fine with upcasting/downcasting, even though it's ugly.

[2019-09-13 14:46] Jiehong commented on #1316
Well, after testing, it seems it is indeed perfectly valid:

[code]

[2019-09-13 19:59] PreetiSinghal1989 opened #1317 "Are JavaScript string methods supported in decision task caseExpression?"
I'm trying to create a decision task where I've different decision cases based on the following caseExpression.

`"caseExpression": "$.someInputParameter.includes('abc') ? 'abc' : 'default'",`

This doesn't seem to work. Is there a way to do something similar?

[2019-09-14 08:51] cholf commented on #1307
I mean,
How to orchestrate dubbo services?   Any example I can reference,thanks.

[2019-09-15 05:46] manan164 commented on #1317
Hi. Try using java construct in caseExpression.
```"var String = Java.type('java.lang.String'); var val = new String($.someInputParameter); if (val.contains('abc')) {return 'abc';} else { return  'default';}"```

[2019-09-15 20:55] maheshyaddanapudi opened #1319 "./gradlew build fails - Task :conductor-mysql-persistence:test FAILED"
Hi,

I did git clone and then ./gradlew build in the conductor root folder.

git clone https://github.com/Netflix/conductor.git
Cloning into 'conductor'...
remote: Enumerating objects: 148, done.
remote: Counting objects: 100% (148/148), done.
remote: Compressing objects: 100% (60/60), done.
remote: Total 31522 (delta 42), reused 122 (delta 34), pack-reused 31374
Receiving objects: 100% (31522/315

[2019-09-16 01:47] 0532 commented on #1313
It should be what you said, but this node did not start successfully, is it related to this error ？

[2019-09-16 04:02] #1309 closed

[2019-09-16 14:51] s50600822 opened #1320 "Why odd or even goes default, kitchensink:event_0 is always left in message_queue, even when workflow finished?"
Using kitchensink example, I couldn't get it to go into the fanout path , when I'm at
<img width="737" alt="Screen Shot 2019-09-17 at 12 47 02 am" src="https://user-images.githubusercontent.com/5586453/64968133-ff5def00-d8e4-11e9-907b-2eeb3f5a07bf.png">

Now completing the task with oddEven -> 0 and a dynamicTasks list:
[code]
It always goes default
<img width="427" alt="Screen Shot 2019-09-17 at

[2019-09-16 15:17] rajeshso commented on #579
I am using redis from a local docker container. There is no rack value for the local container. How can i provide a value ?

[2019-09-16 17:48] Ismaley commented on #1078
@jkaipa I believe that we'll end making our features open source as well, right now we're testing that only within the company. But we could discuss how to implement on conductor without the need of an external application. I'd be glad to help on that :)

[2019-09-16 18:39] jkaipa commented on #1078
Appreciate it @Ismaley . Are you cloning the workflow and adding wait task for each of the workflow task? or considered below approach
[code]

[2019-09-17 00:04] kishorebanala commented on #1307
@cholf I'm not aware of examples with Dubbo with Conductor. Someone from the community might be able to respond. Do you have an use case you're looking at?

[2019-09-17 02:15] kishorebanala commented on #1319
@maheshyaddanapudi Mysql module uses embedded MariaDB for some of the tests. Sometimes, MariaDB has to be installed on your local machine for the tests to complete successfully.

@jvemugunta @picaron As some of the frequent committers to Mysql module, do you think we can reevaluate the need for embedded MariaDB?

[2019-09-17 02:38] kishorebanala commented on #1137
Update: Locking service Beta is available: https://github.com/Netflix/conductor/releases/tag/v2.15.2-beta.

Here's some documentation for more context and getting started:
- https://netflix.github.io/conductor/technicaldetails/#maintaining-workflow-consistency-with-distributed-locking-and-fencing-tokens
- https://netflix.github.io/conductor/server/#setting-up-zookeeper-to-enable-distributed-lockin

[2019-09-17 02:40] kishorebanala commented on #759
We've released a beta with locking service implementation using Zookeeper, which solves this issue.

Closing this issue, please continue the discussion in this thread to avoid duplication: https://github.com/Netflix/conductor/issues/1137#issuecomment-532033287

[2019-09-17 02:40] #759 closed

[2019-09-17 12:09] mateimicu commented on #579
`workflow.dynomite.cluster.hosts=redis-host:redis-us-east-1b;` should work for local use

[2019-09-18 03:24] shengxusheng opened #1322 "elasticsearch"

[2019-09-18 03:25] #1322 closed

[2019-09-18 14:59] #1320 closed

[2019-09-18 15:29] andrea11 commented on #1316
@apanicker-nflx @kishorebanala @naveenchlsn Any suggestion about it? It could be something that could be accepted by/interesting for the community? Me and my team were thinking to prepare a first draft PR to give a better overview.

Waiting for your advice 😃
Thanks

[2019-09-18 18:17] Ismaley commented on #1078
On the external application, yes, the workflow def is cloned with a snapshot flag because once we push the workflow def to conductor, we make it read only on our application. Then we add wait tasks as "breakpoints" before the next task to be executed.
The trigger to proceed the wait test is done using the /tasks conductor endpoint to update the wait task status to COMPLETED.

Making the Workflow d

[2019-09-19 06:12] choubisat commented on #1207
Submitted PR for this issue: https://github.com/Netflix/conductor/pull/1323

[2019-09-20 11:46] MystyxMac opened #1324 "PostgreSQL persistence"
I want to add database persistence for PostgreSQL to conductor. Is this something other want as well?

[2019-09-20 13:00] RuriRyan opened #1325 "es6-persistence batch indexing"
#1269 introduced batch indexing for es5-persistence and in the process broke es6-persistence.

[code]

A quick compile fix would be:
[code]

But that wouldn't implement the feature and the potential performance gains.

[2019-09-20 16:05] manan164 commented on #1325
Hi @RuriRyan Apologies for the same. Will raise PR with fix and potential performance gain in some time.

[2019-09-20 18:40] manan164 commented on #1325
Raised PR https://github.com/Netflix/conductor/pull/1326 for this.

[2019-09-21 23:09] mactaggart commented on #1324
@MystyxMac yes, I've been working on postgres support and opened a PR; [https://github.com/Netflix/conductor/pull/1327](url) Please take a look.

[2019-09-23 05:54] zhasik911 commented on #1305
Hi, please tell me how you solved this problem ??

[2019-09-23 06:39] naveenchlsn commented on #1315
Index Dao and execution Dao are two separate concerns and should be scaled independently of each other.

Since we are writing to both the Dao's one after other, in case we face an issue writing to indexing Dao but if execution Dao succeeds there is no way to recover from the fault and vice versa.

Writing to Kafka provides a replay mechanism to handle this. So if a queue Dao is modelled on a persi

[2019-09-23 06:46] naveenchlsn commented on #1316
@andrea11  Can you please let me know what are the benefits of run-time binding of data models?
What functionality in the service classes/api's are we aiming to achieve with this change?

[2019-09-23 09:37] 0532 commented on #1097
@mudit3774 For 6: Can tell me how to configure data archiving，or point the code

[2019-09-23 21:15] kyle--lee opened #1328 "failureWorkflow doesn't run when a TERMINATE task failed the workflow"
I noticed that when I had a task fail out - either `FAILED` or `FAILED_WITH_TERMINAL_ERROR`, my configured `failureWorkflow` would be started.

However, when I terminated the workflow with a `TERMINATE` system task, and set the `terminationStatus` to `FAILED`, my failure workflow isn't scheduled.

Is this expected?

[2019-09-25 02:40] andyyumiao opened #1329 "dyno-core build error"
I tried all repository which i know, bug always got the below errors when i build project:

Could not find com.netflix.dyno:dyno-core:1.6.5-rc.4.
Searched in the following locations:
  - https://maven.aliyun.com/repository/jcenter/com/netflix/dyno/dyno-core/1.6.5-rc.4/dyno-core-1.6.5-rc.4.pom
  - https://maven.aliyun.com/repository/jcenter/com/netflix/dyno/dyno-core/1.6.5-rc.4/dyno-core-1.6.5-rc.4

[2019-09-25 07:33] apanicker-nflx commented on #1315
Considering a 2-part approach to remove Elasticsearch off the critical path and to relieve the pressure on ES:

1. Reduce indexing operations
2. Asynchronous indexing

Index the workflow data only when a workflow is started and when a workflow enters terminal state. Index the task data only when the associated workflow enters terminal state.

All indexing operations can be performed asynchronously

[2019-09-25 19:42] manan164 commented on #1315
Hi @apanicker-nflx , I was referring the same thing in point 4.
Also, one thing to mention, we are using async indexing. Still, we see that in high throughput scenario most of the indexing request will be dropped because queue size will be maximum. That was the reason we came up with the bulk indexing approach. We saw some improvements there.
Still, we are working on kafka bypassing and have anoth

[2019-09-25 19:51] manan164 commented on #1243
Hi, @apanicker-nflx I am working on this approach.
One potential issue I am facing is since the consumer has to know about indexDAO to index into ES and producer will override indexDAO method to publish to Kafka.
1) Add a set of (sync and async) methods in indexDAO which will be eventually called by consumer service. We have to add a method because the producer will call the overridden method so E

[2019-09-26 17:37] apanicker-nflx commented on #1315
Hi @manan164 , thanks for the response.

I believe that reducing the number of indexing operations by only indexing at workflow start/end can help with this. I am suggesting a slight change to your point 4, such that we index twice for a given workflow so that RUNNING workflows are searchable in the UI.

Yes, as you pointed out, the concern here is with the distributed architecture that a workflow

[2019-09-26 18:47] Ismaley commented on #1328
Hello @kyle--lee,

I'm not fully aware of the details of this failureWorkflow feature, but for the TERMINATE task, the implementation only changes the wokflow status and it's output, then the decider service takes care of the rest. From a quick check here the failureWorkflow is referenced in terminateWorkflow method and I'm not sure this method is being called.

[2019-09-27 08:50] manan164 commented on #1315
Hi, @apanicker-nflx Thanks for the clarification.
I would say, even if we index when we create the workflow so that we will be able to search RUNNING workflows, but that wouldn't make much sense because in high throughput scenario we generally archive the workflow the moment it is complete. Otherwise, Redis will be full in no time. Also, the time, when it started to reach to terminal state, is ver

[2019-09-27 10:13] maheshyaddanapudi commented on #1319
Well I was happily able to bypass the test phase in Gradle build using ./Gradle build -x test

However, just as a suggestion, it would be better to retain the test part in Gradle but comment it our default for MySQL.

[2019-09-27 10:13] #1319 closed

[2019-09-27 10:17] maheshyaddanapudi opened #1331 "Workflow Execution History exists in DB but Conductor API doesn't pickup after restart"
Scenario-

A workflow was run hourly for a month.
DB used is MySQL.
All the workflow executions were returned by Conductor API until the Jar restart.

Conductor server is able to retain to show workflow def taskdef etc in API but execution history is not being returned.

I confirmed this by execution workflow once, then checked conductor API for getting the workflow executions and the details were

[2019-09-27 13:32] robertlagrant opened #1332 "Docker-compose uses unofficial v1r3n/dynomite image"
The Conductor docker-compose.yml uses the unofficial (-looking) v1r3n/dynomite image instead of Netflix/dynomite:
https://github.com/Netflix/conductor/blob/e100b98451ece8fec1bc6b4e2af6e5d5a8f9fb90/docker/docker-compose.yaml#L44

Is there a reason for this? It'd be good to know why Conductor recommends this, if it does.

Thanks!

[2019-09-28 00:12] apanicker-nflx commented on #1325
Closing issue since PR is merged

[2019-09-28 00:12] #1325 closed

[2019-09-28 00:39] apanicker-nflx commented on #1315
@manan164

This is not true in most cases. Most of our users run workflows which run for a few minutes to few hours. There are also a few use-cases where workflows can run over a period of a few days. In these cases, users still expect to search for workflows based on input data.
I have pushed a change with the above-mentioned suggestion, please take a look - https://github.com/Netflix/conductor/p

[2019-09-28 01:09] apanicker-nflx commented on #1243
Let me clarify what I was proposing earlier:

This could be implemented in a standalone implementation of the `IndexDAO` such that all the write operations (indexWorkflow, indexTask, updateWorkflow, removeWorkflow, indexEventExecution, etc) are published to a Kafka topic. The Kafka consumer here, does not need to be aware of the indexDAO implementation, rather can read messages from the Kafka topi

[2019-09-28 05:44] manan164 commented on #1243
Hi, @apanicker-nflx  I saw the PR [async Indexing](https://github.com/Netflix/conductor/pull/1333/files). We are using this only in production.
 I will raise the PR with the changes. Then things will fall into place.

[2019-09-29 18:16] flaviostutz opened #1335 "Support for Blast/Bleve indexing"
Elasticsearch is too heavyweight for most applications we've been employing Conductor (spending too much on AWS!) so we would like to use some other lightweight indexing services like "Bleve" (by using Blast as a server) because it would use minimal resources for each Conductor deployment.

What do you think about receiving a PR on an indexing module for Blast (https://github.com/mosuka/blast)?

[2019-09-30 16:57] manan164 commented on #1243
Hi @apanicker-nflx Create a PR [kafka-persistance](https://github.com/Netflix/conductor/pull/1337) with these changes.

[2019-10-01 07:18] kelnos opened #1339 "Ability to use Cassandra for persistence"
We'd really like to use Cassandra for persistence rather than Dynomite, as we're not comfortable with the manual, multi-step, time-consuming nature of re-partitioning a Dynomite cluster in the case where we need to add nodes in order to keep up with data storage and/or traffic requirements as more of our internal teams adopt Conductor.  (We already use Cassandra quite a bit and have an existing, w

[2019-10-01 07:19] kelnos commented on #1339
@milongapau apologies, but tagging you here since you're the author of the comment I reference above; perhaps you'd be the right person to answer this question.

[2019-10-01 09:12] manan164 commented on #1243
One approach I can think of is While doing asyncIndex will publish to Kafka and while consuming from Kafka will call sync methods. so that we will avoid this type of hack.

[2019-10-01 21:57] kelnos commented on #1137
Hi @kishorebanala, you mentioned in https://github.com/Netflix/conductor/issues/759 that the dynomite team would be adding a Redlock implementation to the dyno library that could also be used.  Looks like there's an impl in dyno now, but it seems like this hasn't been integrated into Conductor yet as a possible implementation.  Is there any downside to using that instead of Zookeeper?  I'd rather

[2019-10-01 23:14] kelnos commented on #1246
I realized a possible bad failure scenario here: what if there's an AZ outage?  The queue data will still be available on dynomite in the unaffected AZs, but there will be no functioning Conductor nodes dequeuing from the dead AZ's queue shard.  What is the recommended way to recover from this scenario, without having to wait for AWS to restore the AZ?

[2019-10-03 13:39] gergelna opened #1340 "Optional usage for Task Timeout"
I am using now the conductor-2.15.2 RELEASE version, and I am trying timeouts and optional usage. I would like to ask if there is a way to use the "optional = true" task setting to be taken into account on task timeout as well? I've tried with different variations but it seems the optional is taken into account only if taskResult.status = FAILED, but not on task timeout.

I mean we have a task cal

[2019-10-08 14:03] 0532 opened #1344 "a"

[2019-10-09 11:14] andyyumiao opened #1346 "2 questions about mysql and ElasticSearch"
1. Is mysql not necessary?
2. Are the data stored in ElasticSearch？
Can they be replaced with each other?

[2019-10-10 01:09] #1344 closed

[2019-10-11 17:01] lrochester commented on #860
I am facing this issue on the latest commit id `84615f3589fc02e6fd704ef84b116bfff8c78bce`.

[code]

[2019-10-14 08:37] kimabd commented on #1287
@apanicker-nflx Could you please share dynomite and conductor's working configs for this case, one conductor and dynomite node per AZ. I can't bring it up

[2019-10-15 14:56] markusa380 opened #1356 "RuntimeException when starting custom conductor-server container, connections refused"
I have been trying to get a custom Conductor stack to work.
So far, I have the following compose.yaml:

[code]

The Dockerfile for `conductor2:server` looks like this:

[code]

The config.properties file looks like this:
[code]

The problem manifests in the refusal of any connection attempt to any endpoint (e.g. api/metadata/taskdefs).

The docker log shows this:

[code]

The logs produced by the

[2019-10-17 06:25] kimabd commented on #1246
@kelnos @msf  could you please share your working configs of dynomite and conductor

[2019-10-17 14:40] demichej commented on #881
@kishorebanala sorry, never even replied. Thank you, this worked.

[2019-10-17 18:45] kelnos commented on #1246
@kimabd sure.  dynomite:
[code]
conductor:
[code]

[2019-10-18 03:39] kimabd commented on #1246
@kelnos Thanks for fast reply , do you mention all redis hosts for workflow.dynomite.cluster.hosts option?

[2019-10-18 07:55] faheemzunjani opened #1359 "Conductor gradlew build failing: Task :conductor-test-harness:test FAILED"
Unable to build conductor using ```./gradlew build``` and ```./gradlew clean build``` from the root directory of conductor repository on both ```master``` and ```dev``` branches.

Below is the snapshot of the build log:
[code]

How do I fix this?

[2019-10-18 08:49] mohelsaka opened #1360 "Make Elastic Search calls asynchronous"
Hello,

We recently had some issues with Elastic Search backend for conductor server and that made the ExecutionService fail for some requests, and eventually, some workflows became stuck.

We were thinking of changing any calls to ES to be asynchronous so it will not be a hard dependency for the ExectionService. In addition to that, calls to conductor server will be much faster because we will be

[2019-10-18 08:54] manan164 commented on #1360
Hi @mohelsaka It is already there but not released. Please check https://github.com/Netflix/conductor/blob/dev/core/src/main/java/com/netflix/conductor/core/config/Configuration.java#L56.

[2019-10-18 23:48] kelnos commented on #1246
@kimabd no, I've written a HostSupplier that uses our internal service discovery mechanism to provide the list of dynomite hosts.  We're also using dynomite-manager, so I use HttpEndpointTokenMapSupplier in Conductor as well.

[2019-10-21 16:35] rickfish commented on #1329
We have the same issue. The package is at dl.bintray.com. Unfortunately our artifactory product does not have access to that repo....

[2019-10-21 23:21] apanicker-nflx commented on #1313
@0532 As @Jiehong correctly pointed out, it is indeed "First time + 3 retries = 4".

The conductor node seems to have started correctly and has failed the workflow because of exhausted retries on the task. Can you check in your worker as to why this task failed 4 times?

[2019-10-21 23:21] #1313 closed

[2019-10-22 00:29] #1360 closed

[2019-10-22 00:31] apanicker-nflx commented on #1360
@mohelsaka @manan164 This was released as part of [v2.16.0](https://github.com/Netflix/conductor/releases/tag/v2.16.0)

[2019-10-22 00:37] apanicker-nflx commented on #1328
Hi @kyle--lee Thanks for flagging this and bringing this to our attention.
@Ismaley thanks for the quick check.

I have tagged this as a bug and we will roll out a fix for this soon. In the meantime, if you can contribute a fix for this issue, we would welcome that too :)

[2019-10-22 00:54] apanicker-nflx commented on #1316
@andrea11 and @AlexVinogradov Thank you for your suggestions and contributions. This is breaking change on the interface contracts and anyone extending the current interfaces would need to update their codebases.
While this is useful and improves the extensibility of Conductor, we believe that this change should be made as part of a major version release. We will evaluate this and look into integr

[2019-10-23 12:40] tristind opened #1363 "Conductor task logs maximum 10 lines"
Hello,

I am logging over 10 lines into a conductor task. The problem is I am seeing the last 10 log lines. Is there a reason why all the other lines are being ignored?

[2019-10-23 12:49] 0532 commented on #1183
@xerxeArt  Hi , Do you solve the problem of processing performance of worker?

[2019-10-23 13:15] 0532 commented on #1183
@kishorebanala  sorry to interrupt，

I encountered the problem of worker pull performance,
processing 445 per second,
how to improve the processing capacity per second

* in config.properties I added:

   conductor.worker.longPollTimeout=0

   conductor.thread.pool.size=35

   conductor.queue.size=500

   conductor.worker.pollInterval=500

* and in SystemTaskWorkerCoordinator.java, I changed

   L

[2019-10-23 13:59] marius1 commented on #1363
It looks like this is because the default size for an elasticsearch search is 10, see: https://www.elastic.co/guide/en/elasticsearch/reference/5.6/search-request-from-size.html

In the ElasticSearchDAOV5.getTaskExecutionLogs you could do a setSize(<something>) to make this larger, but what size should the be?

[2019-10-23 21:51] afeather123 opened #1364 "[Question] DELETE /api/workflow/{workflowId} route modifies status of completed workflow to "TERMINATED""
As stated in the title, calling the DELETE route for a workflow that has successfully completed modifies the status from COMPLETED to TERMINATED. Not sure what the expected behavior of terminating a completed workflow should be, but this seems like it could potentially confusing logging / obscure what actually happened with the execution.

[2019-10-25 02:47] 0532 commented on #1309
i fix it with zklock

[2019-10-27 14:17] xerxeArt commented on #1183
@0532 nope, I ended up writing my own implementation of an orchestrator/integrator :)
I still have my docker-compose project with conductor somewhere, so if you find a solution, let me know so I can give it a shot also.

[2019-10-28 01:10] 0532 commented on #1183
No, this is exactly the number，But I want to know the best speed in the cluster deployment.

[2019-10-28 16:05] indiv0 opened #1367 "ElasticSearch 7 Compatibility"
Hi! Are there any plans to add ElasticSearch 7 compatibility?

[2019-10-28 23:34] apanicker-nflx commented on #1332
@robertlagrant Thanks for reporting this.
This docker image belongs to the original author of Conductor and Dyno-Queues (a queueing recipe built on top of Dynomite). We will work with the dynomite team for an official docker image that can be used here.

[2019-10-28 23:34] #1332 closed

[2019-10-28 23:38] apanicker-nflx commented on #1335
@flaviostutz Indexing the execution documents are mainly used within Conductor for searching across workflows and tasks. The `[IndexDAO](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/dao/IndexDAO.java)` interface can be implemented by any indexing engine and this should serve the purpose. Please feel free to submit a PR with your implementation of this i

[2019-10-28 23:38] #1335 closed

[2019-10-28 23:44] apanicker-nflx commented on #1339
@kelnos The [Cassandra persistence](https://github.com/Netflix/conductor/tree/master/cassandra-persistence) module is already available, albeit its a partial implementation. Currently, we are in the process of implementing the MetadataDAO in C* and will will publish this soon.

[2019-10-28 23:45] #1339 closed

[2019-10-28 23:46] #1243 closed

[2019-10-28 23:54] apanicker-nflx commented on #1340
@gergelna Can you provide your workflow definition where you are able to reproduce the issue? Optional flags should be honored for task timeouts as well and not just for FAILED tasks.

[2019-10-29 00:00] apanicker-nflx commented on #1346
@andyyumiao Conductor uses a primary store (MySQL/Dynomite/Cassandra) for storing execution data of workflows and tasks and a secondary store (Elasticsearch) for indexing the execution documents to provide search capability (primarily for the UI).

The primary execution store (MySQL, in this case) is necessary and you would not be able to execute workflows and tasks without it.

Can they be replac

[2019-10-29 00:00] #1346 closed

[2019-10-29 00:03] apanicker-nflx commented on #1287
@kimabd In you case, it seems like your workers are polling on only one Conductor node. Can you ensure that your deployment is fronted by a load-balancer so that your workers poll for tasks across all conductor instances?

[2019-10-29 00:08] kishorebanala commented on #1137
@kelnos I'll copy over the convo from email here, if anyone in the community also has same question.

Locking with Dyno client is not implemented in Conductor. It is possible to implement another module for locking with DynoLock, similar to Zookeeper module. We're also working on a Redlock with Redisson client module.

[2019-10-29 00:08] #1137 closed

[2019-10-29 00:38] kishorebanala commented on #1359
@faheemzunjani `java.net.BindException: Address already in use`: The port this test is trying to use is probably not available. Consider freeing up this port or change the port used by this test.

[2019-10-29 00:52] apanicker-nflx commented on #1363
@tristind As suggested by @marius1 , the default size of 10 is being used.

The task execution logs in the UI are mainly used to provide context regarding task execution and I would recommend using logstash for storing task logs.

[2019-10-29 00:52] #1363 closed

[2019-10-29 00:55] apanicker-nflx commented on #1329
@andyyumiao @rickfish Is this still the case with the latest version? We are planning to upgrade to the newest dyno stable version (v2.0.12) soon and this may solve this concern.

[2019-10-29 01:06] rickfish commented on #1329
Yes, it is the case but we found that we could download from bintray so we are good.

[2019-10-29 01:11] kishorebanala commented on #1183
Given that Conductor schedules most of the tasks asynchronously through task queues, the latencies from polling the queues and processing messages through pools adds up to the lower bounds on task processing latency.

Conductor is designed to be an asynchronous system. In the next major release, We plan on using gRPC channels to avoid polling, and other configurable parameters for uses cases expec

[2019-10-29 01:11] #1183 closed

[2019-10-29 01:13] apanicker-nflx commented on #1367
@indiv0 We haven't planned to add an ES7 module yet. However, since the indexing module is pluggable in Conductor, this should be a straightforward implementation of the [IndexDAO](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/dao/IndexDAO.java) interface.

Please feel free to contribute your implementation as this would help out the community greatly.

[2019-10-29 01:16] kishorebanala commented on #1356
@MarkusA380 It seems that Guice is having trouble locating and injecting one of the dependent Modules. The logs here doesn't reveal much here. But, check server startup error logs to see which module might have failed to be initialized.

[2019-10-29 02:20] andyyumiao commented on #1329
It works now, as I changed my network.....many thanks

[2019-10-29 02:23] #1329 closed

[2019-10-29 02:26] andyyumiao commented on #1329
@apanicker-nflx It works in the latest version, the package for dyno-core has been upgrated, many thanks.

[2019-10-29 02:31] andyyumiao commented on #1346
@apanicker-nflx I've now understood, many thanks for the greate work.

[2019-10-29 09:33] parakr commented on #358
Hello,

we are facing the same issue. Any update/suggestion regarding this topic?

Thank you,
Robert

[2019-10-30 00:56] #1203 closed

[2019-10-30 13:27] vardior commented on #807
Hi,

I'm currently facing a similar issue regarding subtasking,
I'm currently splitting a large task into several multiple tasks (for example, a need a process a large file with each subtask taking a certain interval of the file).
After a few hundred tasks (generated dynamically with a parent "splitter" task), conductor stops responding. My fork creation request never returns AND any queries regar

[2019-10-30 20:06] apanicker-nflx commented on #1331
This is definitely an odd scenario, something that we have not seen before (albeit we use Conductor backed by Dynomite and C*). I wonder if this is related to how the MySQL implementation is wired up. Can someone from the community using MySQL persistence backed Conductor help out in this case?

[2019-11-01 07:56] anxiaoyi opened #1371 "inputTemplate value not override by custom value"
define task:

[code]

define workflow:

[code]

start workflow with:

[code]

finally I got value from `task.getInputData()` result:
- a: 100
- b: 200
- c: 7890

I don't know why **b value is 200, not 456**, any one meet this problem yet?

[2019-11-04 21:16] #1212 closed

[2019-11-04 21:17] manjurad commented on #1212
It wasn't on a fresh setup and it was an my environment

[2019-11-05 00:53] apanicker-nflx commented on #1371
@anxiaoyi I have labeled this as a question for now. Will run some tests and change this to a bug if required.
In the meantime, I will wait for other users to comment on if they have encountered this behavior in their workflows.

[2019-11-05 00:56] kishorebanala commented on #807
@vardior This is currently a limitation in Conductor, where having a large number of tasks in a workflow could slowdown the server. Whenever the workflow is being evaluated, it loads all the tasks as well, and it could easily make up for a large payload (multiplied by number of decides across the server for each task update).

A workaround is to use sub workflows to branch out tasks, and always ke

[2019-11-05 08:22] ysden123 opened #1375 "[Question] How to set retention time in Netflix Conductor?"
We use MySQL as database for working with Netflix Conductor.
Is it possible to set time to keep workflow execution history (in MySQL and in Elasticsearch)?

Thanks.

[2019-11-06 20:43] cshen200 opened #1376 "[Question] Current support for cassandra persistence module"
Hi there,

This might be somewhat related or a continuation of issue #819. We're looking to use/extend cassandra db option as our execution data layer. It looks like there're quite a few methods in ExecutionDAO that the cassandra impl didn't implement. I understand that the cassandra module is only providing partial implementation, what I want to find out is that what functionally are we missing(o

[2019-11-07 11:56] Shole4ever opened #1378 "Sending an 'IN_PROGRESS' update for task resurfaces it"
Hi,
I need to use the 'responseTimeoutSeconds' as heartbeat for the consumer, and 'timeoutSeconds' as the terminal timeout. The use case being that the consumer of the task need to notify conductor server within every responseTimeoutSeconds time that it is still consuming the task.

For sending the heartbeat, we are sending a taskUpdate via the POST /tasks API refer: [https://netflix.github.io/con

[2019-11-07 15:33] mashurex commented on #630
@v1r3n @apanicker-nflx  This issue can be closed as @jvemugunta addressed it in PR #771

[2019-11-07 15:49] mashurex commented on #1164
I would think that using something more flexible than an annotation on the classes would be required for input/output keys, as they're dynamic to each task defined in the system. Using JSON Schema or having a way to describe validation requirements on the task def (or in the workflow def) would make this much more flexible.

For our custom implemented tasks, we validate task inputs in the `start`

[2019-11-07 16:34] mashurex commented on #1009
@dskarataev
This seems like a reasonable approach, to have the unique be on the execution_id instead of message_id. If you want, you can submit the PR for it, or else I can do it.

[2019-11-07 16:37] mashurex commented on #577
PR #1355 Also could address this issue.

[2019-11-07 17:07] patelraju opened #1379 "Duplicate tasks pulled when try to update task's outputData field using worker thread"
Hi,

Scenario:- I have a worker thread that pulls the tasks from Netflix conductor and immediately acknowledge the task with ack=true then worker thread perform some operations and try to update task outputData field along with status= IN_PROGESS then again the same task is getting pulled by the worker thread.

Endpoint used to poll tasks:-

http://127.0.0.1:8080/api/tasks/poll/print_task

Endpoin

[2019-11-08 01:09] ketantalreja opened #1381 "Need Help: Issue with Http task input/output payload size"
Hi Anoop, and Netflix Conductor Team,

I am using Netflix Conductor version v2.11.0.
I am working on one use case where large input payloads are expected be send to HTTP task defined in the workflow, but the task fails with "FAILED_WITH_TERMINAL_ERROR" due to the implementation in this class here below https://github.com/Netflix/conductor/blob/master/client/src/main/java/com/netflix/conductor/clie

[2019-11-08 03:34] dskarataev commented on #1009
Hi, @mashurex I am working on other projects now so if you want to submit PR feel free to do it, the World would appreciate it :) Thanks!

[2019-11-08 09:42] CG-ADAMS opened #1384 "Conductor installation error while running gradlew.bat server"
Hi,

I am receiving following error while installing the conductor: Can you please help

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':conductor-server:server'.

31\bin\java.exe''

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug
option to get more log output. Run with --scan to get full insights.

* Get more help at

[2019-11-11 09:28] bharadwajrembar commented on #1378
@kishorebanala  @apanicker-nflx Could you please clarify this?

[2019-11-11 22:17] smullins3000 commented on #1376
+1

[2019-11-11 23:19] kishorebanala commented on #1378
@Shole4ever I'm not sure if I understood what you meant by `resurfacing the task`. But, if you mean the task is being polled and executed immediately, and if you want to delay the task execution for a while, you can set `callbackAfterSeconds` in task result, while updating the task with IN_PROGRESS state. This keeps the task hidden for provided duration, and no worker can poll for it meanwhile.

[2019-11-11 23:36] kishorebanala commented on #1376
@cshen200 As @apanicker-nflx mentioned in the other thread, at the moment, Cassandra module supports ExecutionDAO persistence. We're planning to add MetadataDAO persistence sooner. We're not sure about adding QueueDAO implementation though. We've been using Cassandra in production for the past year at Netflix and definitely plan to support it.

[2019-11-11 23:39] kishorebanala commented on #1384
@CG-ADAMS Do you have a full stack trace? Were you able to find out why ```A problem occurred starting process 'command 'C:\Program Files\Java\jdk1.8.0_2
31\bin\java.exe''``` this is happening in your system?

[2019-11-12 00:34] cshen200 commented on #1376
Thanks for the response @kishorebanala!

So if I'm understanding this correctly, the current Cassandra module which implemented some functionality of ExecutionDAO persistence(Looking at code in master branch) is sufficient enough to support your production needs?
And that the other unimplemented methods are not used in Prod workflow execution?

I'm curious what your setup is in Production, do you

[2019-11-12 00:36] cshen200 opened #1387 "[Question] Has anybody considered using Elasticsearch as their Primary backing DB?"
Just curious if people have considered the approach and if so what are the pros and cons and who drove you to one way or the other?

Thanks,
Chao

[2019-11-12 04:06] bharadwajrembar commented on #1378
@kishorebanala From an experimentation point of view, we see that the `responseTimeoutSeconds` is not really a heartbeat, but more of a deadline to update the status of the task. Once, the `responseTimeoutSeconds` is reached, the task will be considered as timed out, failed and the retry logic will kick in, causing another attempt of the task to be scheduled.

Is there a notion of a heartbeat in C

[2019-11-12 06:54] Shole4ever commented on #1378
@kishorebanala essentially, we want what is mentioned here: https://netflix.github.io/conductor/tasklifecycle/#timeout-seconds

But, sending an update for a task with IN_PROGRESS does not work as mentioned in the above-mentioned link. On the contrary, sending an IN_PROGRESS update makes the task available for other workers to pick, which completely defeats the purpose of sending this status update

[2019-11-12 16:40] CG-ADAMS commented on #1384
hi kishore,

its on windows 2012 server. i dont see any issue while running java.exe command:
[code]

[2019-11-12 19:16] dctc42 opened #1388 "Is anyone running Conductor on-premise or different data center?"
Hi,

I'm considering using Conductor but a lot of the documentation and config give me the impression that running in AWS is a requirement. This won't work for me as I need to deploy this in multiple non-AWS data centers as well as customer's data centers.

Is anyone running Conductor outside of AWS?

[2019-11-13 03:39] ninyjun opened #1389 "after polling tasks, worker is termination(System.exit(-1), after that, tasks cannot be polled"
after polling tasks, worker is termination(System.exit(-1), after that, tasks cannot be polled

db=MySQL

[2019-11-13 07:25] skyrocknroll commented on #1379
You need to set `callbackAfterSeconds` to a time duration between the current task update and next task update.

[2019-11-13 08:38] patelraju commented on #1379
Thanks for your reply.
In suggested scenario worker is pulling same task after specified duration even If I completely remove callbackAfterSeconds field from request body then also immediately same task will be pulled by worker.

I would like to know,  why NFC is allowing to poll the tasks which is already acknowledged as true.?

[2019-11-13 09:23] RuriRyan commented on #1388
We're running conductor inside of a kubernetes cluster, running on-prem, setup with kubeadm. The requirements are just an elasticsearch and dynomite/redis deployment. We use elasticsearch for logging and for conductor. And a redis-ha deployment running with redis sentinel.
There is no hard requirements for AWS. You just need the dependent services.

[2019-11-13 10:10] rayoy commented on #1371
@apanicker-nflx
I got the same problem, and I didn't find the code for the workflow's _input_ to override the task's _inputParameters_ value.

https://github.com/Netflix/conductor/blob/27ab532d2f625492a07aff39130e28790e871843/core/src/main/java/com/netflix/conductor/core/execution/ParametersUtils.java#L73

[2019-11-13 18:48] dctc42 commented on #1388
Thanks for the reply. This was my impression as well but I wanted to hear from someone who's done it.

[2019-11-13 18:48] #1388 closed

[2019-11-16 07:53] vmr1532 opened #1398 "Create a more detailed Contributing.md file"
Create more detailed Contributing.md file regarding the different ways that newcomers can contribute like writing content,  creating new features to the project. Create a more detailed documentation guide.

[2019-11-16 14:31] manheiba opened #1399 "Asking for help，BulkRequest operation , which caused many threads to be blocked"
### Conductor version: 2.19.0

Recently, I found that there was a serious synchronization lock problem during ES operation, which caused many threads to be blocked

workflow.elasticsearch.index.batchSize=10
[code]

For example:

- Updateworkflow of system task worker - *  blocked by indexBulkRequest method
- Workflowsweeper blocked by indexBulkRequest method
- Startworkflow  blocked by indexBulkRe

[2019-11-17 13:42] manheiba opened #1400 "Conductor server cannot be used normally by “PoolOfflineException”"
Who has encountered this problem, thanks

[code]

[2019-11-17 13:57] manheiba opened #1401 "How to handle events asynchronously ？"
[code]
the subscribe method synchronously consume messages in the DynoObservableQueue ，How to process messages asynchronously to provide concurrent processing efficiency。
Thanks.

[2019-11-18 05:24] manan164 commented on #1399
Hi @manheiba . From the stack trace looks like you are using sync configuration but environment is high throughput. Can you please try enable [async indexing](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/config/Configuration.java#L56)

[2019-11-18 05:31] manheiba commented on #1400
This problem occurs in the high concurrency scenario of 2.19.0, which is not found in version 2.21.0.

[2019-11-18 05:40] manheiba commented on #1399
@manan164 Thank you for your reply. Using "enable async indexing", in a high throughput scenario, asyncindexworkflow and asyncindextask will be discarded after the linkedblockingqueue is full. If asyncindexworkflow is discarded, it cannot be guaranteed that the conductor UI can query this workflow。

[code]

[2019-11-18 05:47] manan164 commented on #1399
Exactly, We have discussed this issue in another thread. You can check https://github.com/Netflix/conductor/issues/1243 I have also opened the PR to demonstrate approach. https://github.com/Netflix/conductor/issues/1243

[2019-11-18 05:55] manan164 commented on #1399
Also, you can try having a higher queue size.

[2019-11-18 06:32] Shole4ever commented on #1379
@patelraju I think this is similar to an issue I am also facing https://github.com/Netflix/conductor/issues/1378

[2019-11-18 11:33] manheiba opened #1402 "Use redis distributed lock , How to configure redis password ?"
Hi, @kishorebanala

Thank you very much for providing redis distributed lock. What I want to know is to configure redis password there？

Thanks

Here is my configuration
[code]

[2019-11-18 23:58] #630 closed

[2019-11-19 00:07] kishorebanala commented on #1389
Hey @ninyjun, Can you elaborate?

[2019-11-19 00:20] kishorebanala commented on #1398
@vmr1532 Thanks for the suggestions. We definitely are considering restructuring contribution guidelines ASAP. Meanwhile, if you have any questions, feel free to ask in [Gitter](https://gitter.im/netflix-conductor/community).

[2019-11-19 00:24] apanicker-nflx commented on #1381
@ketantalreja The motivation for implementing the external payload storage integration in Conductor is documented [here](https://netflix.github.io/conductor/externalpayloadstorage/#context).

If you do not want use S3 in your design, you can choose to override the default values for the client [here](https://github.com/Netflix/conductor/blob/master/client/src/main/java/com/netflix/conductor/client

[2019-11-19 00:26] apanicker-nflx commented on #1381
Alternatively, I would suggest you to implement the [ExternalPayloadStorage](https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/utils/ExternalPayloadStorage.java) interface with an object store of your choice to avoid having to store large payloads as part of the workflow. More details about this can be found [here](https://netflix.github.io/conducto

[2019-11-19 00:29] apanicker-nflx commented on #1009
Closing this since #1386 is merged.

[2019-11-19 00:29] #1009 closed

[2019-11-19 00:31] kishorebanala commented on #1401
@manheiba DynoObservableQueue's `observe` implementation might provide better details. Basically, you can configure `workflow.dyno.queues.pollingInterval` with required queue polling interval, and/or implement `EventProcessor` interface to setup your queue processing as required.

[2019-11-19 00:53] apanicker-nflx commented on #1376
@cshen200

This is correct. Current implementations are sufficient enough to support workflow execution requirements.

In production, we are using Cassandra for storing all the workflow and task execution data. We are using dynomite/dyno-queues for the metadata DAO and the queue DAO respectively. We plan to migrate the metadata DAO to Cassandra and we will be implementing this in Conductor soon.

[2019-11-19 01:06] kishorebanala commented on #1378
@bharadwajrembar @Shole4ever A heartbeat without `callbackAfterSeconds` seems counter intuitive, as the worker would then have to keep informing Conductor server about its health very frequently. Conductor doesn't have task lease extension today - meaning the task should respond to Conductor server before `responseTimeoutSeconds`. This might be helpful here. One workaround is to set `responseTimeo

[2019-11-19 01:10] apanicker-nflx commented on #1387
@cshen200 There are a number of resources that you can find that explain why choosing elasticsearch as a primary store is not recommended. While it can definitely be a primary store in certain situations, it is not suitable for Conductor.
The primary reason is that elasticsearch is an eventually-consistent data store that does not provide read-after-write guarantees. Documents that are indexed can

[2019-11-19 01:12] kishorebanala commented on #1402
@manheiba Thank you. Here's how the client configuration is set-up, and passwords are not parameterized through configuration: https://github.com/Netflix/conductor/blob/master/redis-lock/src/main/java/com/netflix/conductor/locking/redis/RedisLock.java#L64

I'll try adding that when I get a chance, but if it is blocking you, please go ahead and modify that and/or send us a PR.

[2019-11-19 01:16] apanicker-nflx commented on #1371
@rayoy Thanks for flagging this. I have re-labeled this to a bug.
Please feel free to submit a PR with the fix if you would want a fix immediately. We will try to fix this issue in an upcoming release.

[2019-11-19 01:18] kishorebanala commented on #1384
@CG-ADAMS But, the gradle process to start Conductor server might have trouble running some commands.

[2019-11-19 01:22] apanicker-nflx commented on #1400
@manheiba Please provide more details about your setup including Dynomite server version, Conductor version, etc.
From the stack trace provided, it looks like the dynomite connection was unsuccessful.

[2019-11-19 01:28] kishorebanala commented on #1379
@patelraju Please set `callbackAfterSeconds` to some duration that you don't want this task to be available in poll. For eg., Your updated task result would look like:

[code]

[2019-11-19 02:04] manheiba commented on #1400
@apanicker-nflx thank you

conductor version 2.19.0，I didn't use Dynomite server

I used
`db=redis`

This may be a problem caused by my test cases. However, the update to version 2.21.0 does not have this problem.

[2019-11-19 02:06] manheiba commented on #1402
@kishorebanala   thanks，I got it!

[2019-11-19 02:20] manheiba commented on #1401
@kishorebanala Well, what I'm doing now is to add a thread pool to the SimpleEventProcessor.java to handle events?  Here is my code, What I want to know is whether there is a more elegant way to use rxjava to handle events asynchronously?

[code]

[2019-11-19 03:19] manheiba commented on #1243
I think it's good to add Kafka middle tier, but we need to make sure about the producer order and consumer orderly of taskid and workflowid. To prevent the lastest update from being overwritten by previous updates.

[2019-11-19 04:27] CG-ADAMS commented on #1384
the issue has been resolved after reinstalling the JDK and JRE on the system.

[2019-11-19 04:27] #1384 closed

[2019-11-19 05:29] patelraju commented on #1379
Thanks for your reply. I tried with same , In such case after 60 secs the task is getting pulled again that means in every 60 secs I need to keep updating the task until the workflow is completed but in my scenario the worker can not assure to update task in every 60 secs, sometimes it can take uncertain duration of time.

[2019-11-19 07:23] imprabha89 commented on #828
Hi, i'm using Java version 8 but facing the same error when tried to bring up conductor server in local (Windows 10)

<

* What went wrong:
Execution failed for task ':conductor-grpc:generateProto'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':conduct

[2019-11-19 07:30] imprabha89 opened #1403 "Condutor Server Build failed - Execution failed for task ':conductor-grpc:generateProto'."
Hi  All,

I cloned the netflix conductor to my local & tried to bring the conductor server, but it is fialing with below error.  Please assist.

* What went wrong:
Execution failed for task ':conductor-grpc:generateProto'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.
* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution fa

[2019-11-19 08:35] Shole4ever commented on #1378
@kishorebanala The task is resurfaced after `callbackAfterSeconds` and picked up by another worker. I see 2 issues here:
-> The task is resurfaced with the same taskId. This means there are 2 workers working on exactly same task.
-> When the task is resurfaced, the retry count is unchanged. This means the number of times a task is picked by worker now can never be determined [as there will be case

[2019-11-19 08:49] manan164 opened #1404 "Calculating task and execution time percentile wise."
Hi,
We are using Prometheus metric with a conductor. I see that execution time calculation comes in percentile manner where percentile values come as T005A, T007C which is internally [counters](https://github.com/Netflix/spectator/blob/master/spectator-api/src/main/java/com/netflix/spectator/api/histogram/PercentileTimer.java#L190)
We want to calculate percentile values like p99 p95 p90. Currently

[2019-11-19 13:42] skyrocknroll commented on #1379
You can set any value. It need not to be 60 sec . You can set a values little leas than response timeout seconds

[2019-11-19 18:13] cshen200 commented on #1376
Thanks much for the detailed information @apanicker-nflx, really appreciate it! That answers all my questions above.

We'll move forward with using redis for our execution and queue backing DB, while using aurora as our metadata DB.

While I've got your attention, a couple more questions if you don't mind.

1. I'm sure you've considered this, but any concern on the volatile nature of using in-mem

[2019-11-20 09:59] patelraju commented on #1379
After setting callbackAfterSeconds field's value little less than response response timeout , it is working as expected for me.
Thank you so much @skyrocknroll @kishorebanala @Shole4ever

[2019-11-20 09:59] #1379 closed

[2019-11-20 19:38] funston commented on #1033
I am unable to do any build, clean or otherwise, with this same error:

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':conductor-cassandra-persistence:test'.

[2019-11-20 19:39] funston opened #1405 "./gradlew build fails (and clean build)"
master branch.

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':conductor-cassandra-persistence:test'.

  This problem might be caused by incorrect test process configuration.
  Please refer to the test execution section in the user guide at https://docs.gradle.org/4.8.1/userguide/java_plugin.html#sec:test_execution

[2019-11-20 20:08] funston opened #1406 "No UI running prebuilt Jar"
Per the docs, running:

% java -jar conductor-server-2.21.0-all.jar

The UI is not running on localhost:5000, only the API on 8080

[2019-11-20 20:12] funston opened #1407 "docker-compose build fails with "conductor-ui" failed to build."
Step 8/11 : RUN cd /app/ui   && npm install   && npm run build --server
 ---> Running in 165f88b71003
npm WARN notice [SECURITY] set-value has the following vulnerability: 1 high. Go here for more details: https://www.npmjs.com/advisories?search=set-value&version=0.4.3 - Run `npm i npm@latest -g` to upgrade your npm version, and then `npm audit` to get more info.
npm WARN react-dom@15.6.2 requires

[2019-11-21 10:48] raja589 commented on #1398
I am interested to work on this. Can I contribute to this?

[2019-11-21 10:50] vmr1532 commented on #1398
I am interested to work on this. Can I contribute to this?

[2019-11-21 10:50] vmr1532 commented on #1398
Can you please make me a member of this organization.

[2019-11-22 01:15] smullins3000 commented on #1378
FWIW, it never occurred to me to try and use the task response in that way. For long running jobs we are returning IN_PROGRESS in the task result along with "callbackAfter" time set and a "job ID" placed in the task output. Then when the task is available to be polled again the worker that receives it finds the job ID and calls the service that is doing the processing to check on the status.
If th

[2019-11-22 02:21] smullins3000 commented on #1403
Did you run it with --info or debug? You can also turn on stack trace as well.

Most likely the problem is that you have to run gradle using jdk 1.8. Running with 1.9 I've seen this issue.

[2019-11-22 07:36] manheiba opened #1410 "Is there a plan for workflow visual editing?"
Hi @apanicker-nflx and all，

We recently felt inefficient in defining processes. We want to define workflow visually on the Conductor-UI, Is anyone already working on similar features？

What's your suggestion？

[2019-11-22 21:25] funston commented on #1378
I'm doing the following, but as soon as I sent this response, another worker picks up that same tasks,

            task['status'] = 'IN_PROGRESS'
            task['callbackAfterSeconds'] = 6

the task has a timeout set to 60 seconds, responseTimeoutSeconds: 10.

[2019-11-24 14:05] rayoy commented on #1371
@apanicker-nflx I submit a PR #1418 for this issue.

[2019-11-24 16:55] vmr1532 commented on #1398
@kishorebanala

[2019-11-25 20:30] Hajar1 opened #1421 "Input parameters do not support lambda expressions"
Hi there,

our team is having lots of unnecessary lambda expressions pre and post workers execution.
Most of which are checking for null values or exist checks increasing the size of the workflows drastically.

Our first goal, was to do something like this:
[code]
Q:
1. Is there a way to do what I've attempted to do with `pn` without using lambda workers?
2. If what I am attempting to do is not su

[2019-11-25 23:44] apanicker-nflx commented on #1405
@funston Can you share more details about the failure?
Running this command does not produce any errors on our local development environments or on TravisCI. Some more information about your setup would be helpful to better understand the issue.

[2019-11-25 23:45] #1400 closed

[2019-11-25 23:47] #1402 closed

[2019-11-25 23:58] apanicker-nflx commented on #1399
@manheiba  As @manan164 suggested, we recommend using asynchronous indexing with a higher queue size. An extension to this approach as discussed in #1243 is to introduce a Kafka middle tier to publish indexing operations. A simple consumer with ordering guarantees can then sink these to ES without affecting Conductor latency.

[2019-11-26 00:03] apanicker-nflx commented on #1243
As @manan164 mentioned [here](https://github.com/Netflix/conductor/pull/1338#issuecomment-537818723), we feel that the best way to achieve this in the current setup is by using a separate consumer service outside of Conductor to perform the indexing from the Kafka topic.

[2019-11-26 00:07] kishorebanala commented on #1401
@manheiba You probably don't need an executor service inside `SimpleEventProcessor.handle()`, as Rxjava takes care of scheduling handle through Observable's subscribe asynchronously. If you'd like to further tune subscribe and it's concurrency, you can check Rxjava's documentation: http://reactivex.io/documentation/scheduler.html, http://introtorx.com/Content/v1.0.10621.0/15_SchedulingAndThreading

[2019-11-26 00:09] kishorebanala commented on #1406
Here's the documentation to run server locally: https://netflix.github.io/conductor/architecture/#installing-and-running, and particularly starting UI server: https://netflix.github.io/conductor/architecture/#start-ui-server. I'll consider adding the UI start docs to Conductor Server page as well.

[2019-11-26 00:09] #1406 closed

[2019-11-26 00:23] apanicker-nflx commented on #1410
@manheiba This is one of the features that we would like to add to Conductor to improve usability. As listed [here](https://github.com/Netflix/conductor/wiki/Conductor-Wishlist#usability), these are some of the features that would add great add value to the project. This list is by no means exhaustive, feel free to suggest any other improvements that you would like to be added.

We also welcome an

[2019-11-26 00:36] kishorebanala commented on #1398
@vmr1532 That'd be great. You don't have to be a member to contribute. You can just fork the repo and create a pull request against `dev` branch.

[2019-11-26 00:40] kishorebanala commented on #1378
@Shole4ever

Correct. In this case, the task lifecycle is not completed yet, for it to be rescheduled with a new task id. The worker working on this task returns the task to Conductor saying it couldn't complete the task. For eg., the worker might be waiting on some external dependency (say a file to be written to S3).

But, the 2 workers won't work on the task at the same time. The second worker

[2019-11-26 00:42] kishorebanala commented on #1378
@funston LMK if my above comment doesn't answer your question.

[2019-11-26 00:43] apanicker-nflx commented on #1421
Currently, there isn't a way to achieve this without using lambda tasks.

This is not supported currently, but we feel that this would be a great addition to the project. Unfortunately, we will not be able to work on adding this feature.

We would greatly appreciate it if your team can contribute this feature. I am sure this would benefit other users of Conductor as well.

[2019-11-26 01:05] mstier-nflx commented on #1407
npm ERR! code EAI_AGAIN is a DNS timeout.  I was able to pull the file down from npm registry and confirm the docker file still builds.  Can you elaborate the environment you are building in?

[2019-11-26 01:20] apanicker-nflx commented on #1376
Our dynomite cluster is set up with cross-region replication with in-region replication factor of 3. Additionally, the in-memory redis data is persisted to disk every few minutes and a snapshot of the data is taken every day. Since the metadata (workflow and task definitions) do not change frequently, this setup has been working fine for our use-case.

It is not checked in, since this is a very sp

[2019-11-26 18:06] funston commented on #1378
I don’t see this behavior or not understanding it. If one worker takes task 1 and returns an IN_PROGRESS with a callback time, a second worker does see the task and is able to pull it, work on it and respond to complete it (I’ve verified with some simple code)

I guess I’m confused on what an IN PROGRESS is for? Looking at the code it seems to just follow the same logic that rescheduled the task

[2019-11-26 20:12] Hajar1 commented on #1421
Hi @apanicker-nflx,

that's awesome, our team is probably able to handle this!
We will add it to our backlog whenever we get more info from you.

Here's a list of questions the team had in mind for you.

Q:
1- What is the character sequence of choice to signal embedded JS code.
     We were thinking `${ JS_code }`
2-  Our proposed approach would be to add a regex matcher that check at every task i

[2019-11-26 20:51] kishorebanala commented on #1378
When worker_1 updates the task with IN_PROGRESS state, it is giving up the claim on that task. The task will be put back to task queue, and the workers can poll for it after callback time. This is helpful in cases like above eg. of waiting for some external dependency to be available.

But, if the worker is expected to take an hour, and if the responseTimeout is configured to 5min, the task would

[2019-11-27 06:25] Shole4ever commented on #1378
@kishorebanala Why should sending the 'IN_PROGRESS' update be treated as 'giving up the claim on that task'. Rather it should be opposite, that the worker is claiming this task saying it is processing it.

[2019-11-28 16:23] DemisB opened #1424 "Communicate with Redis through SSL/TLS"
Hi,

First of all, thanks for open-sourcing conductor, it is a great tool!

I am trying to setup a conductor server that works with a Redis persistence model. My redis instance runs on a different server and can only be accessed through SSL/TLS encryption (to be honest, my knowledge of encryption using SSL and/or TLS is quite vague). I think it is the reason why conductor seems to be unable to com

[2019-12-02 23:12] asofiasbo commented on #807
@kishorebanala Can you elaborate on the limitation? I performed some tests and ran out of memory when tried to execute workflows with +1000 tasks, but I couldn't trace back the problem to its origin. Why does Conductor only support a "small" number os tasks per workflow? Is this related to the way queues are implemented? Can you give me some details to help me understand this limitation? Thank you

[2019-12-03 12:39] vijchint commented on #1204
I am facing the same issue. Can anyone help me out here

[2019-12-04 00:15] kishorebanala commented on #1378
@Shole4ever This comes back to Task lease extension mechanism, which Conductor doesn't support today. We're considering implementing this in next major release, but if you'd like this sooner, we'd very much welcome contributions from the community.

[2019-12-04 00:56] kishorebanala commented on #807
@asofiasbo Well, the limitation is not on scheduling the tasks (and there by, not on task queues), but on workflow evaluation. Every time a task is updated, the workflow will be evaluated. And, every time a workflow is evaluated, all of it's tasks are loaded. And with 1000's of tasks being updated in parallel, without locking, workflows are evaluated thousands of times, which could introduce a hug

[2019-12-04 01:04] #1371 closed

[2019-12-04 01:13] apanicker-nflx commented on #1421
That is awesome, thanks for your contribution.

We were thinking ${ JS_code }
2- Our proposed approach would be to add a regex matcher that check at every task in the workflow
for un-escaped ${ JS_CODE } after variables declaration for that worker and before the worker
call kicks off.
a) What is your input on this approach?

${ } is a good choice to signal embedded JS. Please note that this charac

[2019-12-04 01:19] #358 closed

[2019-12-04 01:19] #1364 closed

[2019-12-04 01:22] kishorebanala commented on #1424
@DemisB You're on the right track. Here's how Conductor initialized db modules from provided configuration: https://github.com/Netflix/conductor/blob/master/server/src/main/java/com/netflix/conductor/bootstrap/ModulesProvider.java#L64L82

Provided you are using `db=redis`, The `DynomiteClusterModule` plugs in `DynomiteJedisProvider ` to `JedisCommands`: https://github.com/Netflix/conductor/blob/ma

[2019-12-06 00:26] orogvany opened #1431 "Redis cluster mode broken as of PR #1369"
Redis cluster mode broke on update of jedis (PR #1369)

Would only get `Caused by: redis.clients.jedis.exceptions.JedisMovedDataException: MOVED 10262 10.xxx.xxx.xxx:6379`

Per https://github.com/xetorthio/jedis/issues/1255 the JedisPool is not sufficient to work with a cluster, need to use the JedisCluster.

Conductor introduced its own JedisCluster to implement JedisCommands rather than JedisClu

[2019-12-09 21:54] mdepak commented on #1431
@orogvany Using `JedisCluster` client addresses the issue with the Redis cluster and it is verified. I will send PR to dev with the changes shortly.

[2019-12-09 23:07] orogvany commented on #1431
Thanks @mdepak . Yes I noticed your PR using JedisCluster fixes the issues, and we verified in our instance.  It's a pity the ShardedJedis solution you tried did not work, it's much cleaner, but your JedisClusterMod fix (or similiar) works great.

Thanks!

[2019-12-09 23:12] chard4 opened #1440 "Clearer explanation of how ephemeral workflows work"
I've been trying to better understand how Conductor implements its ephemeral workflows. Looking at the source code has been slow going, however, and it is not that clear what the flow is. In particular, `WorkflowExecutor`'s `startWorkflow()` method seems to interact heavily with the various DAOs in both the static and ephemeral cases. It is not clear to me what the difference is between the two ca

[2019-12-10 14:10] DemisB commented on #1424
Thank you @kishorebanala! Your directions helped me well :)
I managed to get something that works, cf. https://github.com/Netflix/conductor/pull/1441

[2019-12-10 18:37] mdepak commented on #1306
@kishorebanala In the `SimpleEventProcessor`'s` handle()` method, all the event messages are indexed in elastic search. For our use case with large event loads, because of the IO involved in elastic search, the event processing becomes slow as the event queue polls are waiting for the handle to complete based on the Observable solution to backpressure problem. Since the event messages indexed in e

[2019-12-10 18:49] mdepak commented on #1202
@apanicker-nflx In the [wishlist](https://github.com/Netflix/conductor/wiki/Conductor-Wishlist#usability), feature for making elastic search indexing optional is removed.  Is this feature implemented or is there any specific reason why indexing cannot be made optional?

[2019-12-11 00:37] apanicker-nflx commented on #1431
@orogvany Thanks for flagging this. `JedisClusterCommands` could not be used because jedis-3.0 changed the interface such that it does not extend from `JedisCommands` as in jedis-2.x.
The `RedisQueues` constructor in dyno-queues requires `JedisCommands` for instantiation however. Hence, this forced the usage of `JedisCluster` which implements `JedisCommands`.

Also, we confirmed with a RedisSentin

[2019-12-11 00:50] apanicker-nflx commented on #1202
@mdepak This was removed after we enabled asynchronous indexing and removed elasticsearch from the critical path of workflow execution. The main reason why indexing cannot be made optional is that the UI would become non-functional without it and the search APIs can no longer be used. Given that the UI is a vital part of Conductor's offering, we decided to keep this a required dependency.

[2019-12-11 00:57] apanicker-nflx commented on #1440
@chard4 Ephemeral workflows are a pseudonym used for [dynamic workflow executions](https://netflix.github.io/conductor/technicaldetails/#dynamic-workflow-executions).

What this implies is that the workflow and task definitions in this case need not be registered with Conductor beforehand and can be supplied as part of the start workflow request. In these cases, the workflow and task definitions a

[2019-12-11 06:27] playmakerAnup commented on #1315
@manan164  @apanicker-nflx
Guys any success???
Can we set a TTL for the redis keys to purge the workflow executions after a certain period OR re-indexing to get better search results and removing them is a better option.

[2019-12-11 07:08] manan164 commented on #1315
Hi @playmakerAnup
1) For ES Currently, we are doing Kafka indexing and have separate consumer service to consume from Kafka and index to ES. Let me know if you need more details. I have raised the test [PR](https://github.com/Netflix/conductor/pull/1337) on this.
2) For Redis cleanup, We can't have a working mechanism of ttl because internally redis-keys are set. Conductor make set based on the ta

[2019-12-11 09:08] playmakerAnup commented on #1315
thanks @manan164 for the quick response,
 how about re-indexing ES externally/manually(localhost:9200/_reindex) and once the result for Search API is clean, I can use remove API to remove them.

[2019-12-11 17:20] flavioschuindt opened #1443 "Conductor loses connection to dynomite and workflow stays in running state forever"
Hi,

I'm trying to understand some load scenarios in conductor and need some help.

This is my configuration (running in kubernetes):

* Conductor 2.11
* Dynomite (Custom build using the [dockerfile](https://github.com/Netflix/dynomite/blob/dev/docker/Dockerfile) available in dynomite project)
* Redis 3.0

For dynomite, I just removed the installation of redis-server in the container as it externa

[2019-12-11 18:14] demichej opened #1445 "UI Regression on searching"
We just upgraded to 2.22.3, and it looks like there's a bug/regression in the UI. It used to be that when you clicked any of the sidebar links (All, Running, Completed, etc). It would issue a "search" automatically and populate the table.

However, it appears that the auto-Search of whatever item you select on the sidebar doesn't kick off a search. You now have to click the actual "Search" button

[2019-12-11 21:19] indiv0 opened #1446 "SCHEDULED tasks never being provided to polling workers"
* Conductor version: `v2.14.0`
* Persistence configuration: single-instance Redis

We have a task that has a `concurrent_execution_limit` of 1. We queued up 5000 workflows nearly simultaneously, each of which ran that task. Processing went normally for the first ~1150 workflows. Then, Conductor continued processing the remaining workflows, but would get stuck on that concurrently-limited task. All

[2019-12-11 23:19] chard4 commented on #1440
My confusion stemmed from not understanding the distinction between the MetadataDAO and ExecutionDAO. Thanks!

[2019-12-11 23:19] #1440 closed

[2019-12-13 14:44] ml- commented on #1445
Can reproduce. Browser console shows errors as well.

[2019-12-13 17:55] demichej commented on #1445
@ml- what are the JS errors you see? I see Warnings, but I don't see errors necessarily.

[2019-12-13 18:32] ml- commented on #1445
@demichej Sorry, I'm at home now and post the errors (or warnings?) monday the earliest. Or maybe I can so a quick build locally, we'll see.

Will make sure I don't forget this!

[2019-12-13 20:45] ml- commented on #1445
You're right @demichej, those messages are **Warnings**:
[code]

[2019-12-13 20:57] demichej commented on #1445
Right, but those are just warning @ml-

I haven't had a chance to debug locally, but would to try and figure out a fix :)

[2019-12-13 22:17] demichej commented on #1445
@ml- Looks like this commit made that change:
https://github.com/Netflix/conductor/commit/2cf4f0413f452e4f9549726a3571c336bec83ee5#diff-03e4bf1f523c6bb8e97e4eef067cce3f

I'll reach out to @mstier-nflx to see if we can either revert it, or get a fix in so that we fetch.

[2019-12-13 23:01] demichej commented on #1445
@ml- made a PR for this:
https://github.com/Netflix/conductor/pull/1447

[2019-12-13 23:02] ml- commented on #1445
@demichej Cool, thanks. Will check out later. Hope it gets merged

[2019-12-14 13:22] Hajar1 opened #1448 "Health check prior to http system task requests"
Hello there,

We are trying to expand on the functionalities of the http system tasks and specifically for one particular disadvantage of http system task.

What we noticed is that if one micro Service is down or not able to respond to the system task then the task would fail. We are wondering if there is a way for us to check the health of an endpoint prior to doing the http request to it. This w

[2019-12-16 04:25] 0532 commented on #1097
@mudit3774 hi
  For  3: Can you elaborate on the implementation plan for question 3
  My understanding might be incorrect,it means that start workflow on server1,and poll task on server2  use same db?

[2019-12-16 16:54] demichej commented on #1445
Sorry, my previous PR was in a bad state. This is the right PR now: https://github.com/Netflix/conductor/pull/1451

[2019-12-17 02:03] 0532 opened #1452 "How to improve task pull performance"
my client config:
[code]
server : 8servers 4c8g
client : 4servers  4c8g

1,And is there any way to increase the pull speed
![image](https://user-images.githubusercontent.com/5317048/70958501-693c8f00-20b4-11ea-99c8-e53b5612ab8c.png)

2,Time spent per pull, What factors can affect this pull time
￼
![image](https://user-images.githubusercontent.com/5317048/70961997-88d8b500-20be-11ea-874a-70e4f04576

[2019-12-18 14:52] markusa380 opened #1455 "Updating long running tasks"
This is kind of related to issue #71.

I have a service that is running a task which might take minutes or even hours to complete.
In this case, sending an update to Conductor is crucial in combination with the `responseTimeoutSeconds` to make sure that the worker is actually still running and did not die for some reason.

The difference from the issue mentioned above is that the long running work

[2019-12-19 02:36] Nick-The-Uncharted opened #1458 "【Feature Request】Support Reactive System Task"
Long running task like HTTP should be reactive so it wont block exectuor thread. Maybe instead of add all async system task to `taskToBeQueued` in `com.netflix.conductor.core.execution.WorkflowExecutor#scheduleTask` we can call task which is `reactive`  with callback `() -> {updateTask(new TaskResult(task));};`

[2019-12-20 09:50] chinajuanbob opened #1460 "Metaservice in proto miss some interfaces"
Metaservice in proto miss some interfaces, e.g. the Http endpoint has `GET /metadata/taskdefs` to get all task definitions, but it seems there is no way with current gRPC implementation.

Do I miss anything here or any plan for this?

Thanks a lot!

[2019-12-23 23:36] kishorebanala commented on #1443
@flavioschuindt Persistence failures could leave the workflows in inconsistent state. We're working on a recovery mechanism that tries to reverts the workflows to consistent state on transient persistence errors. ETA Q1.

[2019-12-23 23:38] apanicker-nflx commented on #1448
@Hajar1 You should be able to expand on this functionality by extending the Http system task and building your custom system task which performs the healthcheck prior to making the http request. You can then register this custom system task in your Conductor deployment.

[2019-12-23 23:44] kishorebanala commented on #1452
@0532 Task poll performance is reliant on several factors like queue size, number of threads polling for that queue, queuing system performance etc. We don't have metrics on the throughput of queues for Dyno-queues, but it is possible to load test and obtain optimal number of workers, threads, queue sizes etc. for your given set-up.

[2019-12-23 23:44] apanicker-nflx commented on #1445
@demichej @ml- Thank you for reporting the issue. We will review the PRs and merge these soon.
@mstier-nflx for visibility.

[2019-12-23 23:50] flavioschuindt commented on #1443
Thanks for replying @kishorebanala. For now, do you know/recommend any workaround? Like I described, I can see that when the load increases, connection from dynomite to redis is lost and I don't see the recovery which is impacting a lot of workflows.

[2019-12-24 00:08] apanicker-nflx commented on #1240
Fixed as part of #1449

[2019-12-24 00:08] #1240 closed

[2019-12-24 00:08] apanicker-nflx commented on #881
Fixed as part of #1449

[2019-12-24 00:08] #881 closed

[2019-12-24 00:08] apanicker-nflx commented on #644
Fixed as part of #1449

[2019-12-24 00:08] #644 closed

[2019-12-24 00:12] apanicker-nflx commented on #1458
@Nick-The-Uncharted Please consider using the `asyncComplete` flag in the task to accomplish this use-case. This flag basically allows the task to be started but will not block the executor thread until completion. Rather, it will wait for an event, listener for which can be configured using the [EventHandler](https://netflix.github.io/conductor/configuration/eventhandlers/) to move the task to a

[2019-12-24 01:40] apanicker-nflx commented on #1455
@MarkusA380

Seems the pattern you are looking for here is that of a heartbeat mechanism from the worker that is currently processing the task. Currently, conductor does not support this.

Updating a task within responseTimeoutSeconds with IN_PROGRESS status does not guarantee that the same worker instance will pick up the task from the queue. Setting a value for `callbackAfterSeconds` during such

[2019-12-24 01:56] apanicker-nflx commented on #1446
@indiv0 Seems like this could be something related to Redis. Since clearing the key manually fixes the issue but resurfaces after a while, I believe this is not caused by application (Conductor) code.

[2019-12-24 02:28] Nick-The-Uncharted commented on #1458
@apanicker-nflx Thank you for your tips, actully I just use local redis for local workflow orchestration and we define our own bussiniess task, so I guess this means I can just set status to `IN_PROGRESS` and call `executor.updateTask(new TaskResult(this))` when completed.
One more question, for `com.netflix.conductor.contribs.http.HttpTask` which is also executed locally, I thought it maybe bette

[2019-12-26 14:40] stayHF opened #1461 "Can conductor match machine learning train scene?"
Is the Conductor can be applied to machine learning model training tasks? the training time may be relatively long, such as more than 10 hours, and task scheduling may need to be customized according to the number of CPU cores or GPU cards. and which load balancer can impletment the customize schedule rule easily ?

[2020-01-02 12:18] 0532 commented on #1452
Thank you very much for your reply, Merry Christmas

[2020-01-02 12:18] #1452 closed

[2020-01-03 06:36] vijchint commented on #150
@v1r3n Can we config the port of server to other than 8080?

[2020-01-03 18:22] rickfish opened #1472 "timeoutSeconds of 0 for WAIT tasks does not seem to be honored"
From our experience, if a WAIT task has a task metadata definition with a timeoutSeconds of 0, the responseTimeoutSeconds is used instead, so the WAIT task times out in the responseTimeoutSeconds setting. According to the documentation a timeoutSeconds of 0 means the task will not time out.

Is this expected? I know that having no metadata definition for the task will cause it to not timeout. Is t

[2020-01-03 21:56] rickfish commented on #1472
Additional information: During the sweep operation, DeciderService.decide() is called. In it, it first calls checkForTimeout(). In that method, if timeoutSeconds is <= 0 it will return. That is good but right after that it calls isResponseTimedOut() and it will time out the task. Shouldn't either checkforTimeout return a true/false so it can be used to determine whether or not to call isResponseTi

[2020-01-04 02:51] manjurad opened #1473 "Server doesn't come up when one of the dynomite node is unreachable"
I have a setup with one instance of conductor server and 3 dynomite nodes. If I make one of the node as unreachable, then conductor server doesn't come up. Is it a requirement that all dynomite nodes in the configuration should be reachable for the server to come up? The server logs indicate that it keeps trying to prime connection to all 3 nodes, and one of them fails.

[2020-01-06 06:17] manjurad opened #1475 "Sweeper/timeout doesn't work after dynomite connection is re-established"
I have a conductor server along with Dynomite DB that is running a workflow where the client doesn't respond and the timeout kicks in via sweeper functionality the task times out and is re-scheduled.

But if I take the Dynomite server down temporarily and bring it back, then timeout of tasks stop working. When Dynomite server is not reachable I see logs/traceback about error in running sweeper whi

[2020-01-06 15:55] wangsan opened #1476 "jsondsl with dag not tree"
dag like this
task: a b c d e
links: a-d b-d b-e c-e
looks like

how can I define this dag via jsondsl?

[2020-01-06 23:57] apanicker-nflx commented on #1458
@Nick-The-Uncharted  Your approach to control the status from your worker would work fine.

What is the advantage that you see from reactively completing the task over using an event-based approach? In case of a Conductor server, which executes a large number of workflows with each workflow having multiple `asyncComplete` HTTP tasks , an event-based approach would perform better IMO.

[2020-01-07 00:01] kishorebanala commented on #1443
@flavioschuindt I don't think there is any other clean workaround that preserves the workflow consistency on persistence failures. Consider using Redis based locking solution we've recently introduced to minimize the impact, as the number of decides in parallel could make it worse. This along with the recovery mechanism I've mentioned before would be the best bet near term. In the long run, we're

[2020-01-07 00:06] apanicker-nflx commented on #1461
@stayHF Conductor can handle tasks within a workflow which can execute for a really long time.

Conductor does not schedule tasks to be implemented within specific worker instances. Rather workers poll Conductor for tasks, so if you have different task types each of which use different resources, you may be able to model your workflow accordingly. Please refer to the [documentation](https://netfli

[2020-01-07 00:06] #1461 closed

[2020-01-07 00:43] apanicker-nflx commented on #1472
@rickfish Thats a good observation.
The usage and need of `timeoutSeconds` and `responseTimeoutSeconds` is very different and indeed crucial to workflow execution. Please refer the [documentation](https://netflix.github.io/conductor/tasklifecycle/#timeout-seconds) to see the differences.

This is correct.

I am curious as to why you would need a metadata definition for a WAIT task if you do not in

[2020-01-07 00:57] apanicker-nflx commented on #1473
During the server initialization, all dynomite nodes should be available.

[2020-01-07 01:02] kishorebanala commented on #1476
@wangsan Not sure if we understood your requirements from the description, but Conductor doesn't support graph like connections between tasks. I.e from your example, task 'd' cannot be connect to both 'a' and 'b' outside of decision, fork-join etc. building blocks. Consider checking of the types of system tasks available [here](https://netflix.github.io/conductor/configuration/systask/) and see if

[2020-01-07 01:04] kishorebanala commented on #1475
@manjurad It looks more like a Dyno-queue issue. Please reach out to them directly here: https://github.com/Netflix/dyno-queues

[2020-01-07 04:14] manjurad commented on #1473
Thanks for confirming.

[2020-01-07 04:14] #1473 closed

[2020-01-07 04:16] manjurad commented on #1475
Thanks I have opened the issue https://github.com/Netflix/dyno-queues/issues/85 here.

[2020-01-07 04:16] #1475 closed

[2020-01-07 09:10] Valarin opened #1477 "NPE when worker queue is empty"
I have upgraded to v2.23.0 and started using `TaskRunnerConfigurer` instead of deprecated `WorkflowTaskCoordinator` for workers. However when there is nothing to poll I get NPE in the log.

`ERROR c.n.c.c.automator.TaskPollExecutor - Error when polling for tasks
java.lang.NullPointerException: null
	at com.netflix.conductor.client.http.TaskClient.populateTaskInput(TaskClient.java:176)
	at com.netf

[2020-01-07 09:47] Valarin opened #1478 "Lambda after loop - stuck execution"
Execution of this WF never finishes

`{
  "name": "stuck_execution",
  "description": "Lambda after loop - stuck execution",
  "version": 1,
  "schemaVersion": 2,
  "tasks": [
    {
      "name": "LoopTask",
      "taskReferenceName": "LoopTask",
      "type": "DO_WHILE",
      "loopCondition": "($.LoopTask['iteration'] < 2)",
      "loopOver": [
        {
          "name": "LAMBDA_TASK",

[2020-01-07 10:54] rickfish commented on #1472
I agree that it is not necessary to have a task metadata def on a WAIT task. Unfortunately there are several teams at our company that use our shared Conductor servers and they mainly go by the documentation. Some have gone to production without realizing that their WAIT tasks have timed out and we as the team that maintains our Conductor servers have to remediate when that happens.

We are workin

[2020-01-07 11:22] manan164 commented on #1478
Hi @Valarin
Thanks for pointing out. I am working on a fix. Basically it is treating next task as loopOver task.
I will raise PR in some time.

[2020-01-07 16:57] manan164 commented on #1478
Hi @Valarin ,
I have created a PR https://github.com/Netflix/conductor/pull/1479
Please pull this branch till the time.
Also ideally we should not use the loopover task outside the scope of DO_WHILE task as it can hamper the Loop task operation.

[2020-01-07 18:27] apanicker-nflx commented on #1477
@Valarin Thanks for reporting the issue, we will release a fix for this soon.
Please follow this PR - https://github.com/Netflix/conductor/pull/1480 for the fix.

[2020-01-07 19:36] #1477 closed

[2020-01-09 02:06] wangsan commented on #1476
![image](https://user-images.githubusercontent.com/1916361/72031452-6bff5e00-32c7-11ea-8f85-c44d09cfef89.png)

I mean b will be used in two or more fork-join. fork (a,b) join and d, fork (b,c) join and e.

[2020-01-09 06:47] Valarin commented on #1477
Awesome, thanks @apanicker-nflx !

Any chance you could start sync to maven central? I guess you have that automated, but this time 2.4.1 did not get propagated - https://repo1.maven.org/maven2/com/netflix/conductor/conductor-client/

[2020-01-09 20:05] manan164 opened #1482 "Conductor Server not logging to log file"
Hi @apanicker-nflx @kishorebanala ,
We have pulled tag v2.24.0 in one of our environment. We see that even though APPLICATION_NAME is specified as conductor-server, we did not see logs in directory ```/var/log/conductor-server/app.log```.
There have been so many changes since last pull so not sure from which commit it is breaking.
One thing I saw is we are using both log4j and slf4j for logging. I

[2020-01-09 21:07] manan164 commented on #1482
We have provision to pass log4j.properties file path via command-line arguments [here](https://github.com/Netflix/conductor/blob/master/server/src/main/java/com/netflix/conductor/bootstrap/Main.java#L44) but that will be the second argument. First argument must be properties file. What if we load properties file via consul. Is there any alternate way to give log4j.properties file path without chan

[2020-01-09 23:22] albertldlan opened #1483 "Elasticache configuration"
I have a question about Elasticache Redis configuration. There is some differing documentation in https://netflix.github.io/conductor/server/#configuration-parameters and https://netflix.github.io/conductor/server/#using-standalone-redis-elasticache regarding the properties needed for Elasticache configuration - namely, the `db` value. The above indicates that for Elasticache Redis in cluster mode

[2020-01-10 09:20] andrea11 opened #1485 "Replacing Nashorn with GraalVM"
Hello,
Currently conductor is using nashorn as ScriptEngine to evaluate some Javascript code (for instance in the DECISION task, but potentially in the future everywhere in the workflow, cf. #1421).
Apparently Nashorn has been deprecated since jdk 11 and furthermore is providing few support for ECMAScript 6.
So I was thinking that maybe conductor could migrate to a new script engine: GraalVM.
It s

[2020-01-10 09:26] andrea11 commented on #1485
Linked with #1120

[2020-01-10 10:09] KashyapKunal opened #1486 "Issues with docker images"
I am having issues building conductor:server and conductor:ui using docker-compose/ dockerfile.

Conductor:ui issues:
Building conductor-server
Step 1/16 : FROM openjdk:8-jdk AS builder
 ---> f8146facf376
Step 2/16 : MAINTAINER Netflix OSS <conductor@netflix.com>
 ---> Using cache
 ---> 80324909f12c
Step 3/16 : COPY . /conductor
 ---> Using cache
 ---> bc36ff4d2502
Step 4/16 : WORKDIR /conductor

[2020-01-10 10:15] manan164 commented on #1482
Closing the issue as we started to give log file path from command line.

[2020-01-10 10:15] #1482 closed

[2020-01-10 18:12] davidzzzzz commented on #1485
@andrea11 We ended up using Graal in our use of Conductor, and it's been working great. Also allows us to sandbox the code that's running and control execution time.

If there's interest from the Conductor folks, I'd be happy to take a crack at contributing back what we've done

[2020-01-13 02:14] Nick-The-Uncharted commented on #1458
@apanicker-nflx Agreed, actully i just didnt notice `asyncComplete` was there.

[2020-01-13 02:14] #1458 closed

[2020-01-13 12:01] andrey-borue commented on #904
Hi @jakon89
Do you have results for this task? I'm also interested in using Google Pub/Sub.

[2020-01-13 23:51] kishorebanala commented on #1476
Conductor tasks are not graphs per se. But, both tasks d & e can definitely get inputs from task b's output. You just have to order your task execution DAG in such a way. One possibility is to execute all the tasks linearly (you can optimize this however).. eg: [a,b,c,d,e], and then tasks d,e would refer to task b's outputs, and will only be executed after task b.

[2020-01-13 23:55] apanicker-nflx commented on #1472
@rickfish As maintainers of Conductor servers used by several teams, we can relate your experience.
For the time being, till we have a fix for this issue, you would need to unregister the wait task definitions to prevent them from being timed out.

This is great and we would appreciate the contribution. We are really grateful to all the users and contributors who help us make Conductor a better pr

[2020-01-14 00:05] apanicker-nflx commented on #1485
@andrea11 Thanks for doing the research on this topic. This would definitely be a good addition and replacement for Nashorn in the long term.

@davidzzzzz Please feel free to submit a PR with your implementation and we will be happy to review and merge it for wider consumption.

[2020-01-14 00:13] kishorebanala commented on #1483
I haven't tried setting up Conductor with Elasticache cluster myself, but if Elasticache is configured in cluster mode, then `db=redis_cluster` should work. Also, Yes, the AZ value shouldn't matter for Elasticache.

[2020-01-14 06:35] davidzzzzz commented on #1485
@apanicker-nflx Great, will get something together!

[2020-01-15 17:33] IamManifold opened #1496 "HTTP Task Connection Refused"
starting to dig into the system tasks with conductor and i'm at a point where the server is processing my task but i'm receiving an error and just looking for some direction on where to go from here.  I've tried changing the url to other servers but getting the same result.

Failed to invoke http task due to: com.sun.jersey.api.client.ClientHandlerException: java.net.ConnectException: Connection r

[2020-01-16 14:11] Valarin opened #1497 "Bintray jcenter -> Maven Central synchronization broken"
Bintray jcenter contains the newest version available (2.22.6-alpha - lower minor number but released after 2.24.2) - https://bintray.com/netflixoss/maven/conductor/2.22.6-alpha
Latest version avaiable on Maven central version is 2.24.0 (2.24.2 is missing) - https://search.maven.org/search?q=g:com.netflix.conductor

Could this be fixed? Thanks!

[2020-01-16 16:06] demichej commented on #1486
This looks more like an environment issue than a conductor issue:

/usr/bin/env: ‘sh\r’: No such file or directory

[2020-01-16 20:03] banduo opened #1498 "failureWorkflow does not have taskToDomain"
Hi I noticed when failureWorkflow is started, it takes null as the taskToDomain, is there any reason it does not use the same domain as the failed workflow? https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/WorkflowExecutor.java#L740
All our workers have been configured to pull from specific domains and it leaves the failure workflow untended.

[2020-01-17 13:03] rickfish opened #1499 "When task status is changed to CANCELED, it doesn't appear that ElasticSearch is updated"
We have noticed that when task status changes to CANCELED, the ElasticSearch document does not appear to be updated as IndexDAO.indexTask() does not seem to get invoked. Is this intentional? I haven't been able to isolate the code yet. This causes the tasks to come back on a search for their previous status and it is messing us up.

[2020-01-17 18:12] flaviostutz opened #1500 "Readme page with indication for external tools"
I've created some tools based on Netflix Conductor to help on CRON like tasks or Backup management jobs.

* [Schellar](https://github.com/flaviostutz/schellar) is a scheduler tool for instantiating Conductor workflows from time to time
* [Backtor](https://github.com/flaviostutz/backtor) is a backup scheduler tool that uses Conductor workers to handle backup operations)

Do you think it is worth we

[2020-01-18 15:35] rickfish commented on #1499
More information in the context of an example: When a workflow has a fork task containing two tasks and both tasks are SCHEDULED, the tasks when set to SCHEDULED status never get written to Elastic Search. That is fine. I am sure that is intentional.

But when one of those task's status gets changed to FAILED_WITH_TERMINAL_ERROR, that task is written to ES with that status and the other task is th

[2020-01-20 12:11] ml- commented on #1445
I guess this can be closed?
https://github.com/Netflix/conductor/pull/1451#issuecomment-575028395

[2020-01-20 13:47] #1445 closed

[2020-01-21 00:14] balloonio opened #1501 "/tasks/{taskId}/ack always return false"
I'm following the add-idents developer lab [here](https://netflix.github.io/conductor/labs/beginner/#ack-the-task) and I don't seem to get the ack task step working.

**Question 1** - call to `/tasks/{taskId}/ack` with correct task id always returns `false`. Why?
**Question 2** - (probably because I always get `false` as the response) I don't see any changes or effect on Workflow UI being reflecte

[2020-01-22 12:42] RemcoBuddelmeijer opened #1503 "No expiration time/retention period configuration option for Elasticsearch and Redis"
There is no possibility to set a retention period/expiration time for the task and workflow metadata in both Redis and Elasticsearch.
With this, you manually have to delete keys and documents from both the services.
Please add the possibility to automatically let documents and indexes be removed by the respected service.

[2020-01-22 13:40] Dathin commented on #62
I could not find anything related to AOF with dynomite and docker-compose files... Could you please give an example or a link tutorial?

[2020-01-22 15:25] rickfish opened #1504 "Any problem adding an index to the workflow table for correlation id?"
Correlation id searches are slow using /workflow/{name}/correlated/{correlationId} in mysql and postgres. This is because there is not an index on the workflow table by correlation id.

Does anyone see any issue adding that index?

[2020-01-22 15:34] NLRemco opened #1505 "Tasks not removed from ElasticSearch when deleting workflow"
When removing a workflow instance using the CRUD API. The workflow index itself is removed from ElasticSearch, but the attached tasks are not removed.

When doing a `\DELETE` on the `http://conductor/api/workflow/<workflow-uuid>/remove?archiveWorkflow=false` endpoint, a `204 No Content` is returned: all the occurrences are removed from Redis, the workflow index is removed from ElasticSearch, but t

[2020-01-22 19:07] mdepak opened #1506 "Batched task indexing in multi node deployment can create inconsistent indexes"
If we use batched indexing in multinode deployment, indexing on task can take inconsistent values.

The task index documents are created in the conductor server using the state from the Redis/MySQL. For example in the case of multi-node server deployment with batched indexing, while index request from server-1 is waiting in the queue to mark the task status as `IN_PROGRESS`, server-2 can create th

[2020-01-22 22:53] apanicker-nflx commented on #1496
Please post the stack trace from the error, this should be printed out in the logs. Also, make sure that you have an active server running on your localhost at port 5000 to which you are making the request to.

[2020-01-22 22:56] apanicker-nflx commented on #1497
Thanks for bringing this to our attention, we will look into fixing this soon.

[2020-01-22 23:06] kishorebanala commented on #1500
@flaviostutz These look awesome. We'll definitely consider adding pointers in Conductor documentation. Thanks for your contributions.

[2020-01-22 23:06] apanicker-nflx commented on #1499
@rickfish Thanks for reporting the issue and digging into this. Ideally, the task should get updated with CANCELLED status in ES. We will look into having a fix out for this issue soon, in the meantime, please feel free to contribute a fix :).

[2020-01-22 23:13] kishorebanala commented on #1498
Hey @banduo, Thanks for pointing this out. Please feel free to submit a proposal with a fix for this, that could lead to PR.

[2020-01-22 23:16] kishorebanala commented on #1501
@balloonio The documentation is to be updated, but with recent updates to Conductor, we don't need to ack anymore. Thanks for bringing this to our attention.

[2020-01-22 23:28] rickfish commented on #1499
Sorry, I am still working on getting my customer/organization to allow me to contribute back. Since they consider it their proprietary code even though this is an OpenSource project, the lawyers are creating a roadblock. If I contribute on my own, that could cause issues since I am a contractor there and they could say I have taken code from the office onto my personal computer. I have been told w

[2020-01-22 23:33] apanicker-nflx commented on #1499
Ha, true. We really appreciate your help and will look into fixing this soon. Hopefully, you can get the permissions sorted out quickly 👍

[2020-01-22 23:35] kishorebanala commented on #1504
@mashurex @mactaggart @s50600822 @ggrekhov Because you have more exposure into Mysql / Postgres modules, can you help with this please?

[2020-01-22 23:56] apanicker-nflx commented on #1503
@RemcoBuddelmeijer We found that automatic deletion of workflow and task execution data based on a TTL does not fit our needs. This is because workflows/tasks could be in progress for an arbitrary period ranging from seconds to months. Setting a fixed TTL in this case would negatively impact the system if active workflows/tasks were to be deleted. The [IndexDAO exposes a method](https://github.com

[2020-01-22 23:56] #1503 closed

[2020-01-22 23:57] apanicker-nflx commented on #1505
@RemcoBuddelmeijer Thank you for reporting this issue. We will look into fixing this in a future release, in the meantime please feel free to contribute the fix for this if you need this sooner.

[2020-01-23 15:50] flaviostutz commented on #1500
Great!
Please check PR https://github.com/Netflix/conductor/pull/1508

Sent from my iPhone

[2020-01-23 23:52] balloonio commented on #1501
@kishorebanala Thank you for the response. Would you like me to make a PR to remove that part of documentation?

[2020-01-24 00:05] kishorebanala commented on #1501
@balloonio That would be great! Thank you!!

[2020-01-27 06:50] balloonio commented on #1501
@kishorebanala I noticed that the `/{taskId}/ack` endpoint is still there
https://github.com/Netflix/conductor/blob/dev/jersey/src/main/java/com/netflix/conductor/server/resources/TaskResource.java#L110#L118.
I can also create a PR to retire this unused endpoint with you guys' reviews and help. Would you like me to do that?

[2020-01-28 00:23] #1500 closed

[2020-01-28 13:01] rickfish commented on #1504
I can take this if you want. I have already tested on our Postgres implementation. I don't have MySQL here but I can follow the same method as V4__1009_Fix_MySQLExecutionDAO_Index.sql

[2020-01-28 13:02] rickfish commented on #1499
I can now contribute. I can take this if you want. You will have to bare with me as this would be my first contribution. I will follow the guidelines but I might need some handholding.

[2020-01-28 13:16] mactaggart commented on #1504
@rickfish I have no issue with adding an index for correlation_id to the workflow table.

[2020-01-28 15:30] sfeitler-oracle commented on #1367
Hi, I have been looking at adding ElasticSearch 7 support to Conductor. The IndexDAO stuff seems pretty straightforward. But one of the integration tests would require a change that is incompatible with ElasticSearch 5.

Specifically, ESRestClientHttpEndToEndTest.java is not version-specific, and it calls ES's performRequest method. All the various ways to invoke performRequest have been deprecate

[2020-01-29 08:38] Erenaliaslangiray opened #1515 "Persistance problem of conductor"
Hello,

I want to use Conductor for my project and have a little problem on persistence. I am currently using a single ec2 machine and using docker-compose for conductor ui, server, dynomite and es.

The problem is: Is there any way to persist conductor server data, workflow and task defs so that If my machine or docker fails and I restart all the services with my old data? Or can I connect my con

[2020-01-30 01:40] saidatta commented on #1515
you can use aws elasticache or separate it to a different EC2 machine and allow it to have high availability.

[2020-01-30 12:57] NoahLiot commented on #1403
Thank you. Should this be documented? In a `README.md` in the gRPC module maybe?

[2020-01-30 20:23] ketantalreja opened #1517 "TERMINATE workflow not working for Parent-Sub Workflows"
Hi @apanicker-nflx, @kishorebanala  and Netflix team,

I was facing weird behavior while terminating a workflow which consists of sub-workflows.

Let's say I have four workflows in my use case:
Parent-workflow -> sub-workflow-1 -> sub-workflow-2 -> sub-workflow-3

where parent-workflow invoked sub-workflow-1 and sub-workflow-1 invokes sub-workflow-2 and so on and all the workflows in my case conta

[2020-01-30 20:32] apanicker-nflx commented on #1517
@ketantalreja This issue has already been fixed in a subsequent release. Specifically in [v2.12.2](https://github.com/Netflix/conductor/releases/tag/v2.12.2). Please update your Conductor version to the latest to pull in all code changes and bug fixes.

[2020-01-30 20:32] #1517 closed

[2020-01-30 20:38] ketantalreja commented on #1517
Thanks @apanicker-nflx for the quick reply.

[2020-01-30 23:19] smullins3000 opened #1518 "Question: why does "restart" not support setting new workflow input?"
The rerun method allows you to set new workflow input. The restart (restartWorkflow in WorkflowService and "rewind" in WorkflowExecutor) does NOT support this.

Does anyone know why this might be true? I've looked at the code and it looks like restart should be able to support changing workflow input pretty readily.

Thoughts?

[2020-01-30 23:24] balloonio commented on #1501
bumping up the thread

[2020-01-31 14:20] rickfish commented on #1499
I created pull request #1519 for this issue

[2020-01-31 14:21] rickfish commented on #1504
I created pull request #1520 for this

[2020-02-03 12:25] Valarin commented on #1497
@apanicker-nflx any news on this one? Thanks!

[2020-02-03 15:27] Valarin opened #1523 "Nashorn failing to generate bytecode not handled gracefully"
When WF contains Lambda task (code snippet No. 1) that fails to compile (code snippet No. 2) WF is not switched to FAILED status - it is kept in RUNNING status forever.

[code]

[code]

[2020-02-03 16:40] mdepak commented on #1497
@apanicker-nflx  Can you help fix this problem as we need the latest versions for our deployments? Thanks!

[2020-02-04 00:04] kishorebanala commented on #1367
@sfeitler-oracle Thanks for looking into ES7 integration. We can deprecate ES5 and replace with ES6/7 modules.

However, the cleaner option would be to move version specific code from this integration test to each module version. I.e `waitForGreenCluster` can be moved to `EmbeddedElasticSearch` implementations, say `EmbeddedElasticSearchV5`, which already has start, stop etc. methods, thereby keep

[2020-02-04 00:25] apanicker-nflx commented on #1515
Thanks @saidatta for the response.
@Erenaliaslangiray As pointed out above, you can use use a different EC2 instance for your datastores such that the data durability is not reliant on your service.

[2020-02-04 00:27] apanicker-nflx commented on #1403
Thanks for the response @smullins3000.
We will update the README for the gRPC module with this info.

[2020-02-04 00:27] #1403 closed

[2020-02-04 00:29] apanicker-nflx commented on #1518
@smullins3000 Your observation is correct. We can make the restart API extensible to allow user to change the workflow input. We will look into this making this enhancement in a future release. Please feel free to contribute if you need this sooner.

[2020-02-04 00:35] kishorebanala commented on #1501
@balloonio Yes, we can deprecate the endpoint. We may not be able to completely remove it in minor version upgrade though. Thanks for following through. We can make this change or we'd appreciate a PR too.

[2020-02-04 00:36] apanicker-nflx commented on #1497
Apologies for the delays, we will get back with an update on this soon.

[2020-02-04 00:42] kishorebanala commented on #1506
@mdepak Task document is only indexed once, after the workflow is completed. Can you elaborate on why you think a Task status in index document can be overwritten?

[2020-02-04 00:47] kishorebanala commented on #1523
@Valarin Thanks for reporting this. I'll mark this as a bug, and please let us know if you have resolved it meanwhile and could contribute.

[2020-02-04 02:02] sfeitler-oracle commented on #1367
Ok, I'll investigate that.

[2020-02-04 16:45] balloonio commented on #1501
@kishorebanala Cool, I will create a PR and subscribe you guys

[2020-02-04 23:11] smullins3000 commented on #1518
I feel odd calling you apanicker, but thank you, apanicker! We'll almost undoubtedly get to this in the next 3-6 months. The fact that the restart method can run against the latest version of the workflow, rather than just the set of tasks it executed whenever it ran before, makes this very valuable in certain use cases. Those use cases many times also include having some modification to the workf

[2020-02-07 11:38] Valarin commented on #1497
FYI it seems synchro work for alpha releases, but not the standard ones.

[2020-02-08 18:43] #1515 closed

[2020-02-08 19:56] Priena opened #1524 "How to do enrichement of fields using lambda task in netflix conductor. Does netflix conductor provides input to be auto generated"

[2020-02-08 19:58] Priena opened #1525 "I want to create a workflow which contains first worker task then lambda task and then http call. Worker task always shows in SCHEDULED status. How to make it in progress and forward to lambda task"

[2020-02-11 15:43] demichej opened #1527 "canSearchAcrossWorkflows Question"
Hello, I have a question about the need for the canSearchAcrossWorkflows() boolean. It doesn't look to me like there's any kind of workflow restriction that the indexDAO query path is going through.

Why would we not just use indexDAO for all queries? Wouldn't that be faster than going against the other backing store (e.g. Mysql, Postgres...)? We hit the index issue reported in another issue with

[2020-02-12 01:38] #1501 closed

[2020-02-12 02:10] kishorebanala commented on #1524
@Priena Can you provide more details about what you're trying to achieve please. An example would be helpful too.

[2020-02-12 02:13] kishorebanala commented on #1525
@Priena This lab might help you better understand the different task types and execution flow in Conductor: https://netflix.github.io/conductor/labs/beginner/

[2020-02-12 02:25] apanicker-nflx commented on #1497
@Valarin @mdepak We are still trying to figure out why maven publishing is broken.
As a temporary relief, you can use `v2.24.5-alpha.2` which is available in maven and is the same as `v2.24.5`

[2020-02-12 02:29] apanicker-nflx commented on #1527
@demichej You are right, this was added as a quick workaround to enable datastore migration. But it would definitely be quicker to just use indexDAO for all search queries and reduce the burden on the primary datastore.

[2020-02-12 02:43] #1498 closed

[2020-02-12 02:44] apanicker-nflx commented on #1497
Also, `v2.24.5` is available on maven - https://mvnrepository.com/artifact/com.netflix.conductor/conductor-core/2.24.5

[2020-02-12 04:26] mdepak commented on #1497
@apanicker-nflx Thank you for publishing the latest version in maven.

[2020-02-12 14:55] rickfish opened #1529 "ES7 with Kafka option?"
We currently are using our own es7-persistence module with the following options and I am trying to get my arms around how to make it contributable and/or if there is interest:

- option to push the documents to a Kafka topic and Logstash scripts to read from the topic and write to ES, as opposed to writing directly to ES.

- option to write to an 'active' index for non-terminal workflows/tasks an

[2020-02-12 15:33] demichej commented on #1527
Thanks @apanicker-nflx I might put a pr out to remove that flag and just do the index Dao instead

[2020-02-12 17:56] andrea11 opened #1531 "Question: Would it be interesting to have an immutable model?"
Hello,
Looking at conductor common, I saw that all the classes are currently mutable. I was wondering if this choice has been based on some criteria, such as performance. Considering that conductor perform a lot of concurrent operations, would it not be better to have an immutable model in order to avoid eventual bugs due to concurrency ?

Thanks

[2020-02-13 01:53] mashurex commented on #1504
I don’t see a problem with this index at all, in fact we’ve been running with this index in production for a while.

[2020-02-13 02:43] apanicker-nflx commented on #1504
Closing since #1520 is merged

[2020-02-13 02:43] #1504 closed

[2020-02-13 16:09] manan164 commented on #1529
HI @rickfish. We are using this in our environment. How we have implemented IndexDAO is all index calls will go to kafka and all search calls will be routed to existing ESDAO.

[2020-02-13 23:04] charan986 opened #1532 "I need to push data to an ElasticSearch server and I wanted to know how can I authenticate the connection using username and password"
I need to push data to an ElasticSearch server and I wanted to know how can I authenticate the connection using username and password

[2020-02-14 18:45] #1148 closed

[2020-02-14 20:31] renuka-raju opened #1535 "Retrying a FAILED workflow from a TIMED_OUT task"
I have a workflow in which task T2(retyrCount=3) got timed out and got rescheduled thrice in the first execution.

Now, I tried rerunning the workflow from this task by checking for a TIMED_OUT status too along with FAILED and CANCELED in the code for rerun/retry, this task got scheduled again and my worker put it to IN_PROGRESS, but doesn't send anymore updates. Now, the task is left IN_PROGRESS

[2020-02-14 23:23] mdepak opened #1536 "Making event execution persistence optional"
In `EventProcessor` event execution details are [persisted](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/events/SimpleEventProcessor.java#L235) and there is no way to clean up these event details in the conductor. Additionally, these event execution details are not used for any logic and there is no way of accessing status without querying the data

[2020-02-16 08:03] ritu-p opened #1538 "AMQP support for netflix conductor"
We want AMQP support along with Netflix Conductor.
Saw that there was a  PR that had support for AMQP but was not merged.
Will that PR be merged anytime soon to the master branch?

[2020-02-17 14:57] hvishal44 opened #1539 "Interept class before every worker."
Hello,

I need a implementation of class where control will land to this particular class where I can set a unique transaction ID for logger(MDC.put("transactionId",UUID.random())). Transaction ID should remain throughout the entire workflow.

Thank you

[2020-02-17 16:29] rickfish commented on #1529
@manan164 are you using ES7? Do you have high-volume? Do you want to be able to index some or all of the input/output attributes?

[2020-02-17 16:34] rickfish opened #1540 "xstream v1.14.10 used in eureka-client 1.8.7 has vulnerabilities"
Our security team has blacklisted the xstream dependency that exists in eureka-client that conductor-client depends on. They blacklisted it because it has known security vulnerabilities. We can exclude it from our build because we are not deployed on AWS but others that use AWS will face this issue.

We can't test eureka-client 1.9.18 which has the latest xtream (1.14.11) that has no known vulnera

[2020-02-17 17:06] Dhirajk772 opened #1541 "How to capture response status code of HTTP post task in successive task?"
1.I need to capture on HTTP status code received  in HTTP task so that according to the value next task task to be performed. I tried "statusCode": "${task_http1.output.statusCode}" but the value remains null.
2.Suppose HTTP status code is 4XX or 5XX then on basis of this different task to be executed : Do this can be done using DECISION task ?

Thanks in advance for your valuable help.

[2020-02-18 02:47] flavioschuindt opened #1542 "HttpTask doesn't respect concurrentExecLimit and more than one task gets executed simultaneously with concurrentExecLimit = 1"
Hi, guys.

I'm trying to understand the ```concurrentExecLimit``` available in conductor. I have this workflow definition and I'm using conductor **2.12.3**:

[code]

It's a very simple workflow just to understand the concept. The endpoint ```http://10.20.35.51:7777``` is a simple HTTP Server that I built that once it receives a request, it makes the client wait for 25 seconds. So, my test is the

[2020-02-20 07:05] kavthekar commented on #628
I want to implement SAML authentication , Could you please guide me how i can integrate with websecurityconfigureradapter

[2020-02-20 22:14] #1527 closed

[2020-02-21 08:06] flavioschuindt commented on #1542
Actually, I found the issue. It was on my side, my bad. I was initially thinking that if you pass “concurrentExecLimit” in the workflow definition, this got saved in the conductor database. This was the behavior for “optional” flag, but not for concurrentExecLimit. For concurrentExecLimit, the workflow definition that got saved into the database doesn’t have the concurrentExecLimit. It simple igno

[2020-02-21 08:06] #1542 closed

[2020-02-23 14:17] Arnaud-Francois-Fausse opened #1544 "Conductor war fails at startup in Tomcat"
Hi,

The environment :
Java Oracle jdk1.8.0_241
Conductor Tag v2.25.1
Tomcat 8.5.51
Linux Ubuntu 18.04 Last update done.

I have built Conductor from source (checkout tags/v2.25.1) using ./gradlew build.
Zero error. Launching the jar works perfect. But trying to deploy in Tomcat fails miserably.
I get this error:

` 23-Feb-2020 14:01:58.532 WARNING [localhost-startStop-1] org.apache.catalina.loade

[2020-02-25 23:58] apanicker-nflx commented on #1532
@charan986 I believe this PR #1209 would help your use-case. We are waiting on the user to pick up on the task. However, if you are comfortable with taking over this PR and addressing comments, we would really appreciate this.

[2020-02-26 00:01] apanicker-nflx commented on #1535
There isn't a restriction like the one you are asking about.

Can you please post your code snippet for this change to help debug this issue?

[2020-02-26 00:11] apanicker-nflx commented on #1536
@mdepak Thank you for the suggestions and observations.
We have also been evaluating the persistence of event execution and are looking into ways to avoid persisting this data/cleaning up after execution.

This might be helpful to reduce the number of records at the expense of larger hashes. If you can test this out and create a PR for this, we would really appreciate that.

[2020-02-26 00:16] apanicker-nflx commented on #1538
@ritu-p We [noticed failures in the tests](https://github.com/Netflix/conductor/pull/1063#issuecomment-520654211) as a result of these changes, which required us to revert them. It would be a valuable addition if you could take on this effort and submit the cleaned up PR.

[2020-02-26 00:42] apanicker-nflx commented on #1529
@rickfish

Yes, definitely. We would really appreciate an ES7 persistence module.

We are currently moving to using a similar model in our indexing pipeline but with ES6. We are currently migrating older workflows and tasks from ES2 and ES5 into this secondary ES6 index and will switch over to live data in the primary ES6 index once the migration is complete. For legacy reasons, we are unable to r

[2020-02-26 00:43] apanicker-nflx commented on #1540
@rickfish Thank you very much for reporting this vulnerability. We can definitely test this out and make the change in a future release if testing is successful.

[2020-02-26 00:44] renuka-raju commented on #1535
https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/WorkflowExecutor.java

1) For retry - by adding TIMED_OUT as one of the cases:

`
public void retry(String workflowId) {
.
.
Map<String, Task> retriableMap = new HashMap<>();
        for (Task task : workflow.getTasks()) {
            switch (task.getStatus()) {
                case FAILED:

[2020-02-26 00:46] renuka-raju commented on #1535
https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/WorkflowExecutor.java

1) For retry - by adding TIMED_OUT as one of the cases:
[code]

for rerun - I call the api from with a taskId that TIMED_OUT in the first run
`private boolean rerunWF(String workflowId, String taskId, Map<String, Object> taskInput, Map<String, Object> workflowInput, Strin

[2020-02-26 00:47] apanicker-nflx commented on #1541
@Dhirajk772 The JSONPath seems incorrect. Please try using `${task_http1.output.response.statusCode}`

[2020-02-26 03:04] flavioschuindt opened #1547 "Concurrency Limit works for MySQL data store, but not for dynomite+redis"
Hi, guys.

I have conductor running on version ```2.25.0``` with this workflow definition:

[code]
And this is my task definition:

[code]

The service at ```http://10.20.33.190:7777/``` is just a test server that receives the request, waits for 25 seconds and return a "Hello, world" for the user. My use case is such that I want to start two workflow executions in sequence and with the ```concurre

[2020-02-26 04:38] jwulf commented on #1232
The solution to this is to use a pre-12 version of Node (like 9.9.0) and do `npm rebuild`

[2020-02-26 14:26] pavelhalabala commented on #1402
I need it as well. Pull request submitted here:
https://github.com/Netflix/conductor/pull/1549

Added new configuration property:
workflow.redis.locking.server.password=xxx

[2020-02-27 04:22] ritu-p commented on #1538
@apanicker-nflx  Should I take the code from that reverted PR and create a new one from my end?
Or should I work on the same PR?
Just trying to understand the process here.
Thanks & Regards
Ritu

[2020-02-27 14:56] markusa380 opened #1550 "NullPointerException when polling"
After some changes to our service we weren't able to poll anything anymore during the integration test, so we decided to check the logs of the server:

[code]

What could this mean?

[2020-02-28 15:26] nbraquart commented on #407
Hello @apanicker-nflx or @kishorebanala ,

Do you think this issue could be reopened? I am not sure to understand why it was closed by Viren. Or is there another way to track this potential feature?

Thanks!

[2020-02-29 15:26] rickfish commented on #1540
@apanicker-nflx, I hate to be a pest but also jackson-databind v2.9.5 has vulnerabilities. The version specified in versionsOfDependencies is fine at 2.10.0 but nebula.netflixoss v5.1.1 has a dependency on 2.9.5. nebula.netflixoss v8.4.1 is the earliest that has no vulnerabilities as 8.4.0 and earlier do. 8.6.0 is the latest.

[2020-03-02 01:31] skissane opened #1553 "Race condition: NPE in org.elasticsearch.action.bulk.BulkRequest.validate()"
### Reproduce steps

1. Checkout latest conductor master (I tested with `9d44897f37450fb7ad602bd016ff9a5813bee98c`, but same issue occurs with older versions)
2. Run `./gradlew build -x test`
3. `java -jar ./server/build/libs/conductor-server-2.26.0-SNAPSHOT-all.jar`
4. Run three copies of the `conductor-test.py` script (given below) simultaneously

### Results

After a while, the test scripts sta

[2020-03-02 21:28] banduo opened #1556 "[UI]Poll data tab does not pull all queues"
We noticed a lot of queues not show up under the "poll data" tab (in Task Queues). After a little bit of digging, I think the issue comes from the below code:
https://github.com/Netflix/conductor/blob/bfad64e00f8acafbe2922531f87022bb1641c961/core/src/main/java/com/netflix/conductor/service/ExecutionService.java#L185

The code filters out queue names that have a domain. However, all our tasks have

[2020-03-03 07:18] leissen opened #1558 "Do-while task will loop all tasks in the workflow instead of only the tasks in loopOver!"
Hi Guys, I just want to use do-while task to loop one task(task1) for several times then run another task(task2) as shown in the following workflow definition. But the do-while task will loop both task1 and task2. If I set ${workflow.input.value} to 3, the tasks execution will be task1 -> task2 -> task1 -> task2 -> task1 -> task2. I use conductor server 2.25.0. Is anything wrong with my configurat

[2020-03-03 07:37] leissen opened #1559 "Do-while task should be created first as Worker task?"
I just want to run a simple workflow including a do-while task as shown below. But I met the following error when submitting a workflow job. But if I register a simple worker task named "loop_task" and try to invoke job again, the error will disappear. I think do-while task is a system task and I needn't register a DO_WHILE task. Is it right? Thanks.

[INFO ] 2020-03-03 15:28:10,723 WorkflowExecut

[2020-03-03 07:46] manan164 commented on #1559
Hi, @leissen , Thanks for bringing this up. We need to register loop_task in this case even if it is a system task. This is an exceptional case. Since ```DO_WHILE ``` task can be scheduled multiple times we have to check that it is not being scheduled if it is in terminal state.
YOu facing issue because of [this](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/condu

[2020-03-03 08:47] leissen commented on #1559
Hi, @manan164 , thank you very much for the quick reply.  I will take a look at this PR https://github.com/Netflix/conductor/pull/1479. So currently the DO_WHILE task must be the last task in a workflow, right? I meet another issue described in https://github.com/Netflix/conductor/issues/1558.
Could you help to take a look? Thanks again.

[2020-03-03 09:39] manan164 commented on #1558
Hi @leissen  This is the bug you are facing, we talked in another thread. If you want to tryout sample do_while task. Please look at [definition](https://github.com/Netflix/conductor/blob/master/test-harness/src/test/resources/integration/scenarios/legacy/DoWhileTest_1.json)

[2020-03-03 14:28] leissen opened #1560 "How to get logs/information from running worker task?"
Hi Guys, I have a long time execution worker task. I want to know the progress rate of this task during executing period and I can output some logs or information about the progress rate in the worker during task running. I don't want to bring in any other system such as Redis or MQ. Does Conductor support this functionality natively？ Thanks a lot for any help!

[2020-03-03 14:30] leissen commented on #1558
@manan164 Thank you very much. I really appreciate your help!

[2020-03-04 02:35] leissen commented on #1558
Hi, @manan164 , I find a workaround for this issue. Just put the do-while task in a sub workflow and this sub workflow contains only this do-while task. Of course this do-while task can have other tasks inside. The task loop issue is fixed even if there are other tasks after this sub workflow. How do you think of this workaround? Is there any other risk for this? Thanks.

[2020-03-04 03:45] manan164 commented on #1558
Hi @leissen , Yes this is the workaround that we currently use. You can use dowhile sub-workflow output parameters to know what happens with the do while task like how many iterations ran etc and use that in parent workflow's subsequent task.
The only risk is spawning a new workflow is costlier in terms of redis and elastic search calls, than creating tasks.
By the way do while task does not suppo

[2020-03-05 06:43] leissen opened #1561 "Is there a way to get all running or active workers?"
I want to get all running workers and the status(busy/idle) of them at a certain time. How could I get such information? Is there any API for that? Thanks.

[2020-03-05 13:35] pavelhalabala opened #1563 "Archival Module with Default Implementation"
Provide archival service module with default implementation of archiving workflows to elastic search immediately on completion through WorkflowStatusListener.

Implements point nr. 5 in Performance & Scalability section of Conductor wishlist: https://github.com/Netflix/conductor/wiki/Conductor-Wishlist

It is also discussed / proposed in this thread:
https://github.com/Netflix/conductor/issues/109

[2020-03-06 06:23] kushalhalder opened #1564 "Task Status Exporter"
Hi,
Use case: Task status is exported on task completion.
Is there a way to export Task completion status with the following payload:
[code]
One way is to maintain a registry of the tasks running and poll Conductor for their statuses. Since this is not the best approach, what other options do we have?

[2020-03-06 08:01] kushalhalder commented on #221
@v1r3n
Hi, are the task execution details always exported to ElasticSearch for all kinds of persistence configurations?

[2020-03-06 12:04] pavelhalabala commented on #1563
PR created here: https://github.com/Netflix/conductor/pull/1565

[2020-03-07 00:19] apanicker-nflx commented on #1553
@skissane Thanks for the detailed error report and the PR for resolution.

[2020-03-07 00:32] kishorebanala commented on #1550
@markusa380 So, the poll logic also checks for concurrent execution limits before returning the tasks. It's not clear from the logs why exceedsInProgressLimit is failing with NPE. Is this reproducible? Would you be able to debug and find where it ends with NPE?

[2020-03-07 00:59] kishorebanala commented on #1547
@flavioschuindt So, the Http task moves directly to terminal state from SCHEDULED state, unless it is defined as asyncComplete, where it remains IN_PROGRESS waiting for a trigger from external service. Which means, Http task would never be in IN_PROGRESS state, if it is not asyncComplete, and therefore, concurrent execution limits won't be applied. I'll mark it as a bug.

As a work around, if you

[2020-03-07 01:04] apanicker-nflx commented on #1563
@pavelhalabala Thank you for the contribution.

[2020-03-07 02:29] flavioschuindt commented on #1547
Hi, @kishorebanala, thanks for the reply.

Just as extra information, I tried exactly the same with asyncComplete=true and what I observed is the same behavior. For MySQL, even with asyncComplete, the concurrenceExecLimit worked as expected: The first one came, kept IN_PROGRESS forever (I didn't mark the task as COMPLETED purposely) and then the second one never started, i.e., was in SCHEDULED sta

[2020-03-07 16:46] SuperMasterBlasterLaser commented on #1501
Can I ask quesiton why Acking is considered as obsolete? Is it because when clients ack unintentionally their tasks and they will become hanging forever?

[2020-03-08 20:37] #1478 closed

[2020-03-09 09:05] pavelhalabala commented on #1563
@apanicker-nflx Thanks for merging. Now it can be removed from conductor wishlist.

[2020-03-09 10:31] manan164 commented on #1563
Hi @pavelhalabala , We are using this in our environment.
However, deleting workflow the moment it completes from redis will impose one risk if that workflow is sub_workflow and its result is used later in parent workflow. Now if Elastic Search does not has that information then the parent workflow will never be able to complete. It will lead to a deciderQeueu pileup. Currently, we are working on

[2020-03-09 12:52] pavelhalabala commented on #1563
Hi @manan164 , you are right that behavior with subworkflows is worth considering. But I see in the code that updating the workflow in ES is synchronous operation and workflow removal is done only after ES index is updated successfully. The ES update is retried 3 times and throws exception if all retries failed. In such case executionDAO.removeWorkflow(..) operation is skipped and the workflow exe

[2020-03-09 14:46] xesxen opened #1568 "Task goes back to SCHEDULED when it updates its own data"
In pull request #1377 there's a behavior change in the POST /tasks endpoint. When a job updates its own task (in my case: to add a log entry while it's still running), the task will switch back to SCHEDULED. Previously, the task kept its IN_PROGRESS status.

This was changed in WorkflowExecutor.java on the (added) line 811: https://github.com/Netflix/conductor/pull/1377/files#diff-a28de3002a75934b

[2020-03-10 20:49] christianscheuer commented on #1568
Doesn't it stay in IN_PROGRESS if you send this as part of the payload?
{
    "status": "IN_PROGRESS"
}

[2020-03-10 22:06] xesxen commented on #1568
No. If I fetch the ongoing task details and post the same unchanged JSON again to 'update' it (that JSON has the IN_PROGRESS state of course), it will switch to SCHEDULED

[2020-03-10 23:46] christianscheuer commented on #1568
Ah I see, thanks for the clarification. That indeed sounds like a really weird change. That might also explain why we're seeing multiple task workers receiving the same task to be processed (since the /ack endpoint has been deprecated but the /poll endpoint appears to allow multiple workers to process the same task).

[2020-03-11 12:31] degakrishna opened #1573 "Netflix Conductor Client -Poll Queues issue"
Hi All,

It seems one of our task queue got piled up  and affecting processing of workflow. I have restarted Server and client apps, cleared redis cache but still queue is draining. Also, we don't see that many (equivalent queue size)workflow currently running in our server.

Kindly suggest how to reduce/purge the task Queues  in conductor .

![pollData](https://user-images.githubusercontent.com/3