[2020-03-11 18:16] amishasthana opened #1576 "Implementing WorkflowStatusListener interface"
I am trying to implement my own version of WorkflowStatusListener . I am seeing that my listener is getting picked up in the sense that I can see the log statement in the constructor of class getting called.
However I dont see the calls going to the two methods "onWorkflowCompleted" and "onWorkflowTerminated" .
Is there something else which needed to be done?
It seem that the class WorkflowExecuto

[2020-03-11 18:59] amishasthana commented on #1576
My mistake, the WF did not have the status listener turned on.

[2020-03-11 18:59] #1576 closed

[2020-03-11 21:18] charan986 opened #1577 "How to Check if value from json body matches with the list I have"
I've a requirement where I need to check if the jobID value from the json body matches with my list of JobIDs, how can i achieve this?

[2020-03-12 15:48] ramyavakity opened #1578 "Gulp issues"
I have upgraded gulp version to 4 as we have some vulnerabilities with 3.
Npm run build fails with some random errors.
Please help me to resolve gulp upgrade issues.

[2020-03-12 16:03] srikanthjviru commented on #1578
Even im facing the same issue after upgrading to gulp 4. Please let me know of you find any solution

[2020-03-13 13:06] andrea11 opened #1580 "WorkflowExecutor hard to extend"
Hello all,
We have an application using conductor core to orchestrate workflow. For business purpose, we had to extend the Conductor to add new property (we already created a [PR](https://github.com/Netflix/conductor/pull/1336) to make conductor model more extensible, if you could also some feedback on that). Currently, we need to setup some fields of the workflow before to start it (because it wi

[2020-03-14 03:40] andyyumiao opened #1581 "Deploy conductor server in a distributed way？"
In production environment, does conductor server support multi instance deployment？If yes, how to deploy conductor server in a distributed way, and Is there a deployment instruction document？

[2020-03-14 06:05] andyyumiao opened #1582 "how to use redis instead of dynomite?"
how to make the configrations?

[2020-03-14 06:20] andyyumiao commented on #1582
we have an own redis cluster, and want to use it as the storage for conductor without dynomite, is that ok?

[2020-03-15 07:26] andyyumiao opened #1583 "Some configurations not work?"
I just modified server.properties with the config: 'async.update.short.workflow.duration.seconds=5' and 'async.update.delay.seconds=5' .

But it didn't work, still used old value, below is the json and workflow snapshot:
{
   "ownerApp": "",
   "createTime": 1584255584746,
   "updateTime": 1584255919700,
   "status": "COMPLETED",
   "endTime": 1584255919700,
   "workflowId": "22cf4f33-2c18-4858-b1

[2020-03-15 07:58] andyyumiao opened #1584 "How to cancel the delay between different subworkflows？"
It seems have a delay(default 30s) between two subworkflows? How to cancel the delay between different subworkflows？

**My workflow definition：**
{
"name": "single_restartnn",
"description": "Restart namenode.”,
"callbackAfterSeconds": 0,
"version": 1,
"tasks": [{
"name": "stopnn_wf",
"taskReferenceName": "stopnn_wf",
"inputParameters": {
"ipList": "${workflow.input.ipList}",
"cmd": "hadoop_util.s

[2020-03-15 23:58] skissane opened #1585 "Please reconsider decision to make ownerEmail mandatory"
In our use case, we do not have the concept of a workflow being owned by an individual user.

We are embedding Conductor in a SaaS app. A workflow will belong to a customer of our SaaS app – in some cases to a specific org/department/team/etc within one of our customers – but not necessarily to a specific person. In many cases, the workflow will initially be created by a professional services team

[2020-03-16 22:39] cschuyle opened #1587 "Re-index from primary data store to embedded ES"
Some use cases call for using an in-memory embedded Elasticsearch.

If using embedded ES, it would be useful to index all the current contents of the primary datastore into ES at application startup time, so that searches have access to the full history of the primary data store.

Since this re-index could take quite a while, it should be done on a background thread in order to not lengthen startu

[2020-03-16 23:04] apanicker-nflx commented on #1535
@renuka-raju
Your observation about retrying a TIMED_OUT task is correct. We are also looking to enhance the retry functionality to extend to timed out tasks and workflows. We would really appreciate it if you could submit your changes upstream to make this available to the community.

For reruns, we would need to debug this further, please let us know if you make any progress in the meantime.

[2020-03-16 23:10] apanicker-nflx commented on #1538
@ritu-p Since this was a contribution from the community, we do not have a definitive process. You could either fork off the reverted PR and make the relevant changes or you could start a completely new pull request for the implementation, whichever maybe more comfortable for you.

[2020-03-16 23:14] apanicker-nflx commented on #1540
Thanks for reporting this. We will try to prioritize this change into a future release.

[2020-03-16 23:18] apanicker-nflx commented on #1556
@banduo Thanks for reporting this. We will look into fixing this in a future release version. In the meantime, please feel free to contribute a fix.

[2020-03-16 23:20] apanicker-nflx commented on #1559
Closing since #1479 is merged.

[2020-03-16 23:20] #1559 closed

[2020-03-16 23:26] apanicker-nflx commented on #1560
@leissen You can update the task execution logs from your worker to provide information about the progress of your task using [this API](https://github.com/Netflix/conductor/blob/master/jersey/src/main/java/com/netflix/conductor/server/resources/TaskResource.java#L119-L124).

[2020-03-16 23:27] apanicker-nflx commented on #1561
Conductor does not store any information about the number of running workers. The only information that is available is the poll data for a given task which is last polled by who and last polled when.

[2020-03-16 23:27] #1561 closed

[2020-03-16 23:30] apanicker-nflx commented on #1564
IIUC, your use-case is to be notified using eventing when a task has moved to a terminal status? Is that correct?
This is a use-case that we are looking to add in a future release and the implementation should be similar to that of the [WorkflowStatusListener](https://netflix.github.io/conductor/extend/#workflow-status-listener).

[2020-03-16 23:40] apanicker-nflx commented on #1563
This is correct.

[2020-03-16 23:40] #1563 closed

[2020-03-16 23:44] andyyumiao opened #1588 "how to make dynamic fork serializer？"
as tiltle, the sub tasks of dynamic forked is running in parallel， but how to make sub task running in serial?

[2020-03-16 23:51] apanicker-nflx commented on #1568
@xesxen @christianscheuer  This change was intentional, however the behavior of the task in the queue remains the same.
[In the previous scenario](https://github.com/Netflix/conductor/pull/1377/files#diff-a28de3002a75934bb7c693d03b674144L851-L853), when the task was updated with `IN_PROGRESS` status, the task was removed from the queue and pushed back with an invisibility timeout of callbackAfterS

[2020-03-16 23:51] #1568 closed

[2020-03-16 23:53] apanicker-nflx commented on #1573
If you're using DynoQueues, the quickest way to purge the task queues would be to ssh in to the dynomite instance and  run a `del` command on the key for the task queue.

[2020-03-17 05:55] christianscheuer commented on #1568
Hi @apanicker-nflx.
Thank you for this explanation. I understand that the poll endpoint should inherently ack the task, but this appears to not be the case in real world usage with v2.25.5 when I last checked (perhaps this was fixed in recent changes?)

If I use [the C# client](https://github.com/courosh12/conductor-dotnet-client) with multiple threads in a single worker node using sub second poll

[2020-03-17 12:17] sakim-hooda commented on #1363
@apanicker-nflx we can define a configurable properties for task log count. so it can be changed as per  requirement. simply adding setSize() need to redeployment  while making it configurable only need server restart.

As i  have checked we are getting hits  more  than 10 from elastic-search but shown only 10.

[2020-03-17 12:52] kushalhalder commented on #1564
`IIUC, your use-case is to be notified using eventing when a task has moved to a terminal status? Is that correct?`
You got it right. Future Release, okay.

[2020-03-17 19:02] rahul-khanna-unbxd commented on #1112
Exception is:
org.gradle.api.ProjectConfigurationException: A problem occurred configuring project ':conductor-cassandra-persistence'.
        at org.gradle.configuration.project.LifecycleProjectEvaluator.addConfigurationFailure(LifecycleProjectEvaluator.java:109)
        at org.gradle.configuration.project.LifecycleProjectEvaluator.onAfterEvaluateFailure(LifecycleProjectEvaluator.java:105)

[2020-03-18 06:08] sakim-hooda commented on #1363
i have working solution prepared with configurable property  for log count and would like to merge if it is needed.

[2020-03-18 16:04] markusa380 commented on #1550
Unfortunately I have meanwhile left the project where Conductor has been used.

[2020-03-19 10:45] tomasol commented on #1204
I had the same issue with `gulp watch`. Apparently there is a conflict between gulp 3.9 that is required by conductor and node v12 as described [here](https://stackoverflow.com/a/57804190). I installed node v11.15.0.

[2020-03-19 11:18] ritu-p commented on #1538
@apanicker-nflx I have made the necessary changes please take a look at this Pr.
This has most of the changes from original PR.
https://github.com/Netflix/conductor/pull/1589

[2020-03-20 02:57] htpbackup opened #1594 "Task random repeat running with task.seq=0"
it seems that task.seq will never be 0

`com.netflix.conductor.core.execution.WorkflowExecutor#scheduleTask`

[code]

[code]

[2020-03-20 19:32] Arnaud-Francois-Fausse opened #1596 "QUESTION : How to get input variables of the Event task in an Event Handler ?"
Hi,
I can't manage to get the input values of an Event task in the listening event handler. According to the doc and various examples I came to thus syntax which doesn't work :
{
    "name": "process-actenmd-comornot-eventwf",
    "description": "Receives asynchronous comedec/notComedec result and triggers end of fetch_if_city_commedec_compatible http task",
    "version": 1,
    "schemaVersion":

[2020-03-20 19:49] manan164 opened #1597 "Terminate workflow by correlationId"
Hi all,
We have several use cases like we start the workflow with some correlation Id. We don't store the workflow Ids. They are independent workflows. On certain events, we are terminating by correlationId we have used to start a workflow. We have common logic to form correlationId so we don't need to store that also.
Will it be a useful contribution?
@apanicker-nflx @kishorebanala

[2020-03-21 08:05] Arnaud-Francois-Fausse opened #1598 "Event handler to complete HTTP task doesnt' work"
Hi,
An HTTP task  is set with "asyncComplete": true. It is pending for the completion event.
The event task sends correctly the expected values (output is correct).
But the HTTP task doesn't resume to end.
What's wrong in this event handler (I also tested wirh "condition":"1==1").

{
  "name" : "comedec_compatibility_found_event_handler",
  "event": "conductor:process-actenmd-comornot-eventwf:trig

[2020-03-21 13:08] andyyumiao opened #1599 "Does running data of workflow and task have an expiration date？"
as title, and use redis as the default storage.

[2020-03-23 15:07] anupam587 commented on #1598
Can someone please look into this issue, since the http tasks are unable to complete . they are always in running mode.
My sample workflow is.
`{
		"name": "test-quick-run-flow",
		"workflowDef": {
			"ownerApp": "test-app",
			"createdBy": "eventbus-backend",
			"name": "test-quick-run-flow",
			"description": "Test Workflow to quickly run and complete workflow to test restart api",
			"version":

[2020-03-23 22:26] mdepak commented on #1573
@apanicker-nflx  We observe a similar problem in the event queues. The event queue that DynoObservable is polling gets piled after a certain time in case of large loads in multi-node deployment. Any insights on this queue pile-up problem?

[2020-03-23 22:52] apanicker-nflx commented on #1577
@charan986 Please elaborate on the use case with an example. Does you workflow input have a jobId field in the input payload? Where do you store the list of JobIDs that you wish to compare against? How are these jobIds related to each other?

[2020-03-23 23:28] apanicker-nflx commented on #1580
@andrea11 I did leave a comment on #1336 that since this breaks interface contracts, we would want to hold off on making this change in a minor version upgrade but will definitely add this to our list of features for the next major version upgrade.

Your approach for introducing an interface for the start workflow would work, but please ensure that validations are being applied in the `buildWorkfl

[2020-03-23 23:31] apanicker-nflx commented on #1581
@andyyumiao Yes conductor server can be deployed across multiple instances. We do not have an instruction document for this yet, but basically the deployment would just mean booting the server jar across multiple instances and using external databases(instead of in-memory) and elasticsearch deployments(for UI/index/search purposes).

[2020-03-23 23:31] #1581 closed

[2020-03-23 23:34] apanicker-nflx commented on #1582
Yes, you should be able to use redis cluster as the persistence layer for your conductor deployment instead of dynomite. Please ensure to wire up the [correct instance of the jedis provider](https://github.com/Netflix/conductor/tree/master/redis-persistence/src/main/java/com/netflix/conductor/jedis) for what suits your configuration.

[2020-03-23 23:34] #1582 closed

[2020-03-23 23:37] apanicker-nflx commented on #1583
@andyyumiao these properties are only used in the async indexing to elasticsearch path to ensure that workflow states are consistently written in order to elasticsearch. What behavior are you trying to modify using the settings?

[2020-03-23 23:45] apanicker-nflx commented on #1585
@skissane Thanks for the detailed explanation and we agree with your reasoning. In our case, the `ownerEmail` field  is being populated by our users to be the team DL's to which alerts/notifications will be sent out.
Thanks for creating the PR to solve this in an elegant way.

[2020-03-23 23:49] #1585 closed

[2020-03-24 00:00] apanicker-nflx commented on #1587
@cschuyle The usage of in-memory embedded ES is only recommended for testing purposes and for any production use-cases, we recommend using an external ES cluster. In this case, the ES cluster would start to be populated at the same time as that of the primary persistence layer.

[2020-03-24 00:01] #1553 closed

[2020-03-24 00:04] kishorebanala commented on #1588
@andyyumiao Serial execution of dynamic fork tasks is not possible today. One alternative is to use a dynamic subworkflow as part of another workflow instead of a fork.

[2020-03-24 00:07] cschuyle commented on #1587
Agreed.  However, not every use case will adhere to those recommendations.  Besides, for testing environments this is a legitimate need.  We have been using a fork in which we have implemented this functionality for MySQL and Redis backing stores.  Perhaps this could be a work in progress, where those who have the need would use and improve the current implementations, and contribute others.  Shal

[2020-03-24 00:10] apanicker-nflx commented on #1568
@christianscheuer I am not familiar with the C# client, but [one of the changes](https://github.com/Netflix/conductor/commit/b0b997f92b9630e527a9e17b864b03ecacbc48a7#diff-ccb60fa697fcb4a67b111665ca2abc91R101) that was made to the java client with the deprecation of the `ack` endpoint was that polls are now only made for a single task at a given time. The code that I [linked in the previous comment

[2020-03-24 00:16] apanicker-nflx commented on #1363
@sakim-hooda Please create a PR with your proposed changes. Please add description of what changes you are suggesting to the PR.

[2020-03-24 01:35] christianscheuer commented on #1568
@apanicker-nflx thank you for the info.

The code in [getLastPollTask](https://github.com/Netflix/conductor/blob/a2c37c5a14353603e460691c8aff7dd552af2477/core/src/main/java/com/netflix/conductor/service/ExecutionService.java#L182) - is that thread safe?
Meaning - if I have 10 Kubernetes nodes each with a worker calling the poll endpoint for the same task type - is there a lock on the call to `getL

[2020-03-24 01:45] christianscheuer commented on #1568
Pseudo code of what our worker was doing upon receiving a task:

[code]

It appears if each call to update the task's logs will reschedule the task then we can't use this pattern.

[2020-03-24 09:52] kishorebanala commented on #1550
Closing this for now. Please feel free to reopen if this can be reproduced.

[2020-03-24 09:52] #1550 closed

[2020-03-24 10:28] Arnaud-Francois-Fausse commented on #1598
I have exactly the same problem.

[2020-03-24 23:27] rickfish opened #1600 "conductor.worker.pollCount not supported anymore in worker client?"
Why no more support for the conductor.worker.pollCount and related system properties for TaskClient? How are the parameters for /tasks/batch/poll configured now in workers?

[2020-03-25 01:50] andyyumiao opened #1601 "Got errors when boot conductor server via Mysql"
Caused by: org.flywaydb.core.api.FlywayException: Schema `conductor` contains a failed migration to version 3 !
	at org.flywaydb.core.internal.command.DbMigrate$2.doInTransaction(DbMigrate.java:218)
	at org.flywaydb.core.internal.command.DbMigrate$2.doInTransaction(DbMigrate.java:173)
	at org.flywaydb.core.internal.util.jdbc.TransactionTemplate.execute(TransactionTemplate.java:72)
	at org.flywaydb

[2020-03-25 02:24] #1601 closed

[2020-03-25 02:31] andyyumiao opened #1602 "missing runtime data"
I just used redis cluster as the storage, found that the runtime data was lost after restart conductor server. But the workflow and task defs of metadata not lost and still there.

**My server.properties as below:**
db=redis
workflow.dynomite.cluster.hosts=127.0.0.1:6379:us-east-1e
queues.dynomite.nonQuorum.port=6379
EC2_AVAILABILITY_ZONE=us-east-1e
workflow.elasticsearch.instanceType=memory
workf

[2020-03-25 04:11] pweatherby-ccctc opened #1603 "s3 externalPayloadStorage: not passing output from task1 to input of task2"
Hey Team,

When using release 2.10.1, I've configured a conductor server to use s3 as the external payload storage system as per docs here: https://netflix.github.io/conductor/externalpayloadstorage/

When hooking up a client to this server, I've also configured the client to use the externalPayloadStorage system by implementing the ConductorClientConfiguration interface (and returning the appropr

[2020-03-25 20:51] maxygo opened #1604 "Conductor for B2B and Enterprise level Solution"
Hi All,

I'm looking over the Netflix Conductor in order to use it as microservices orchestrator for various business cases. It looks pretty what is needed, but would like to check some things. I already walked through the doc and some github issues/question so many questions were resolved, but still some of them there which would be great to check with you:

1. Metrics/Logs Visualization: there i

[2020-03-26 20:52] mahalaxmiganesh commented on #1602
workflow.elasticsearch.instanceType - This determines the type of ES instance we are using with conductor. The two values are either MEMORY or EXTERNAL. If MEMORY, then an embedded server will be run.  Hence when the Conductor was restarted the ES data which was stored in memory was lost. The Embedded ES creates temp dir in your local, when the instance is started,  EmbeddedElasticSearch::setupDat

[2020-03-26 21:21] mahalaxmiganesh commented on #1599
We are also using redis db.
There is no way of setting a expiration time on Conductor for data

Incase of Terminal status workflow - we have tried to implement the Quartz scheduler, leveraging the remove method for workflows with archiveWorkflow option set true, the workflow is archived in the elastic search useful for reporting purpose in our case, after removal from redis..

[2020-03-26 23:59] mcancio opened #1606 "How to implement long running approval tasks?"
Hi team, good day. I'm looking to design a four-eyes principle (user review/ approval) workflow using Conductor. User submits a request which triggers the approval workflow.

What I have tried so far:
1. Workflow using simple tasks :
task1(SIMPLE) - email approvers
task2(SIMPLE) - get approval
task3(DECISION) - decide using task2.output.is_approved.
task4(SIMPLE) - if approved, process request.

t

[2020-03-27 11:02] rickfish opened #1607 "SCHEDULED tasks being removed from queue when they should not be?"
While looking at another issue, I noticed this code in Workf;lowExecutor.java in the decide() method that might be removing SCHEDULED tasks from their queue unintentionally when a task is being updated:

[code]
Won't this remove SCHEDULED tasks from their queue? Shouldn't it be this instead?

[code]

I can fix this while I submit my Pull Request for a TERMINATE task change if it was unintentional.

[2020-03-28 10:52] empty85 commented on #999
Hi All,

I just downloaded the conductor project from github. (Not able to clone is due to restrictions on my machine)

When I am running this. I dunno why this is getting downloaded from jcenter instead of repositories{ maven { url "https://dl.bintray.com/chaos-systems/mvn" } }
$ ./gradlew build

FAILURE: Build failed with an exception.

* What went wrong:
Could not resolve all files for configur

[2020-03-28 11:03] empty85 opened #1611 "io.chaossystems.grpc:grpc-healthcheck:1.0.1. is not resolved"
Hi All,

I just downloaded the conductor project from github. (Not able to clone is due to restrictions on my machine)

Tried this with dev and 2.0 branches.

When I am running this. I dunno why this is getting downloaded from jcenter instead of repositories{ maven { url "https://dl.bintray.com/chaos-systems/mvn" } }
$ ./gradlew build

Task :conductor-grpc:extractProto FAILED

FAILURE: Build faile

[2020-03-28 11:31] andyyumiao opened #1612 "Failed to add task mapping"
[WARN ] 2020-03-28 19:24:16,426 RestClient - request [PUT http://xxx.xx.xx.xx:9200/conductor/_mapping/task] returned 1 warnings: [299 Elasticsearch-6.7.0-8453f77 "[types removal] Specifying types in put mapping requests is deprecated. To be compatible with 7.0, the mapping definition should not be nested under the type name, and the parameter include_type_name must be provided and set to false."]

[2020-03-28 11:45] andyyumiao opened #1613 "Redis: Unexpected end of stream"
When used redis as the storage,  I just meet the error : **Unexpected end of stream**., pls note the error stack: **Caused by: redis.clients.jedis.exceptions.JedisConnectionException: Unexpected end of stream.
at redis.clients.jedis.util.RedisInputStream.ensureFill(RedisInputStream.java:202)**, it seems that redis server has output buffer limit, so redis server sometimes will close the client conn

[2020-03-28 14:56] andyyumiao opened #1614 "some errors happened when i click Tasks of Metadata on conductor UI"
[WARN ] 2020-03-28 22:47:39,685 ConnectionPoolImpl - Received FatalConnectionException; closing connection {datastorePort=22122, port=6379, host=xx.xx.xx.xx} to host Host [hostname=xx.xx.xx.xx, ipAddress=null, port=6379, rack: us-east-1e, datacenter: us-east-1, status: Up, hashtag=null, password=masked]
[ERROR] 2020-03-28 22:47:39,685 HostConnectionPoolImpl - Failed to close connection for host: H

[2020-03-28 15:54] #1614 closed

[2020-03-28 15:54] #1612 closed

[2020-03-29 14:53] andyyumiao opened #1617 "Where are the dyno-queues?"
We know conductor are relying on dyno-queues， but where are them？Should I deploy a dyno-queue cluster or it just inside the conductor server instances？

[2020-03-29 14:57] andyyumiao commented on #1602
Ok, if i set the value to EXTERNAL and use the external ES instance, the running data can not be missing?

[2020-03-29 14:59] andyyumiao commented on #1599
Ok, I got it, thanks for the reply.

[2020-03-29 15:11] andyyumiao commented on #1588
@kishorebanala if i want to extend a new dynamic fork type with serial tasks in it, can you give me a suggestion and which classes should i looked into？

[2020-03-30 12:39] mahalaxmiganesh commented on #1602
Yes, as mentioned earlier when the Conductor is restarted the Embedded ES instance is destroyed and restarted and hence ES data will be lost.
Mostly using in memory type is good for demo purpose and data will be lost once server dies.

For demo purpose you can also run ES instance in local with instanceType External. you can download the related version jar from here..  https://www.elastic.co/down

[2020-03-30 14:47] andyyumiao commented on #1602
OK，get it,  Many thanks！

[2020-03-30 14:59] andyyumiao opened #1619 "About the performance"
I used Mysql as the storage, based on this, i have two questions:
1.The max task size for one workflow？
2.The max concurrent sub task for one task?
3.Is there a performance bottleneck？

[2020-03-30 15:39] neokyle1 opened #1620 "Priority Doesn't Override FIFO Execution"
Conductor Version: v2.25.5
Dynomite Version: dynomite-v0.6.16
issue:
I just submitted three jobs sequentially with varying priority (1,99,50) and they appear to run in the order submitted not in order of priority. I am only running one worker and starting it after all jobs are submitted

[code]

The priority shows correctly in the ui so it seems to be set correctly on the workflow.

[2020-03-31 00:27] apanicker-nflx commented on #1594
@htpbackup Thanks for reporting this. I have labeled this as a bug and we will look into fixing this in an upcoming release. Please feel free to contribute a fix in the meantime.

[2020-03-31 00:33] kishorebanala commented on #1596
@Arnaud-Francois-Fausse I cannot reason what is missing, can you provide more details about the event handler you're trying to setup.

Also. Conductor labs have a complete example of getting Event task and Event handler working together: https://netflix.github.io/conductor/labs/eventhandlers/. Please check this if you haven't already and see if you can correlate this to your workflow.

[2020-03-31 00:41] apanicker-nflx commented on #1597
@manan164 Given that this API - ```GET /workflow/running/{name}/correlated/{correlationId}?includeClosed=true|false&includeTasks=true|false``` exists, you should be able to get the list of all workflows for a given correlation id. You can then iterate on this list to terminate the workflows or use the bulk api to terminate all of these workflows.

[2020-03-31 00:44] apanicker-nflx commented on #1573
Are you seeing any exceptions/errors in your logs? Do you see any connection errors with your dynomite instance? We use a multi-node dynomite deployment with multi-node conductor and the only time we have seen an issue with the queue pile-up was during a connection issue which resolved itself once the connection errors were resolved.

[2020-03-31 00:47] apanicker-nflx commented on #1587
@cschuyle I agree that there could definitely be similar use-cases for testing environments. Please feel free to push a branch with your proposed changes. Please also provide documentation about how the re-index feature can be used.

[2020-03-31 00:57] apanicker-nflx commented on #1600
@rickfish The pollCount and usage of the `/tasks/batch/poll` API was recently deprecated from the client side implementation. This change also removed the usage of client side queues and replaced this with the the `TaskRunnerConfigurer` and `TaskPollExecutor` which polls for a task only when a thread is idle. The primary motivator for this change was client side queueing led to duplicate execution

[2020-03-31 01:01] apanicker-nflx commented on #1568
How would be a way to approach this logging while not rescheduling the task? Could there be made a change to the Update Task endpoint to allow us to update a task that we're still processing without re-scheduling it (which then would cause the issue with two workers working on it)?

Based on this and the pseudo-code above, this is definitely the case. Instead of updating the task in this case, I w

[2020-03-31 01:06] apanicker-nflx commented on #1603
@pweatherby-ccctc I believe this issue has been addressed in a newer release. Please update your conductor server/client to the newest version and you should see that the external payloads are being wired correctly across tasks. We have also added a few [integration tests](https://github.com/Netflix/conductor/blob/master/test-harness/src/test/java/com/netflix/conductor/tests/integration/AbstractWo

[2020-03-31 01:07] kishorebanala commented on #1598
Hey @Arnaud-Francois-Fausse @anupam587, What is the state of event handler's complete task execution, when a message is received? Do you see any errors?

Http task's life cycle ends once it moves to `IN_PROGRESS` state with `asyncComplete:true`. Event handler then tries to complete this task, just as `WAIT` or any other asyncComplete task.

[2020-03-31 01:27] apanicker-nflx commented on #1606
Conductor does not explicitly lock a task to a worker. Once a worker polls for a task, this task is set to IN_PROGRESS status and is then unavailable to be polled by another worker. You could technically use this in your case but `remains in progress for weeks` this could be an issue, since if the worker instance were to go down at anytime during this period, this task is essentially lost and woul

[2020-03-31 01:32] apanicker-nflx commented on #1606
Another approach to solving this use case could be to implement your `check_for_approval` worker in such a way that everytime this worker is invoked, it checks your system to see if approval has been granted for the user request. If not, it updates the task result with IN_PROGRESS status and a callbackAfterSeconds of 3600 seconds(for example). What this entails is that after 3600 seconds, this tas

[2020-03-31 01:38] kishorebanala commented on #1604
@maxygo Thanks for considering Conductor for your use case.

We have ES5.x Kibana templates which we haven't published, but would be glad to do so. Also, we publish several metrics, which you can configure and visualize with tools like Atlas, Prometheus etc. Check this for more details: https://netflix.github.io/conductor/metrics/server/#publishing-metrics

Indexing is optional and is extensible.

[2020-03-31 02:35] christianscheuer commented on #1568
Thank you so much for this. I suppose this also means that responseTime should be deprecated for task definitions?
https://netflix.github.io/conductor/tasklifecycle/

Or does a post to the log endpoint count as a response?

If we aren't supposed to update the task before it's done, it doesn't seem to make sense to me that there's both a responseTime and a timeout. Or is this to support tasks who r

[2020-03-31 08:39] maxygo commented on #1604
@kishorebanala Thanks a lot for the inputs. It was really helpful.

There are not much details so far about this, we expect to have a different kind of workflows (not yet designed) which will involve parallel tasks execution (fork, join, exclusive join), conditional paths, subworkflows (it looks like a good solution to reuse similar workflow in more complex workflows), event handling.
As for the v

[2020-03-31 10:24] rickfish commented on #1600
@apanicker-nflx What is the recommended way to process large volumes of SIMPLE tasks with this new client architecture? Several teams in our enterprise are having to stay at older versions of the client to get the throughput they need. Once their backlog of tasks gets too large, the peeking of messages in the engine starts taking longer and longer as well. What are you recommending to your users i

[2020-04-01 05:02] ritu-p commented on #1538
#1589 fixes this issue

[2020-04-01 05:02] #1538 closed

[2020-04-01 07:54] htpbackup opened #1621 "WorkflowTask#type does not work when i create new task definition"
I created my own taskdefs named with "Http" to take the place of "System Tasks HTTP".
But 'com.netflix.conductor.contribs.http.HttpTask#start'  was executed.

'''json
{
   "ownerApp": "",
   "createTime": 1585726562870,
   "updateTime": 1585726567765,
   "status": "FAILED",
   "endTime": 1585726567765,
   "workflowId": "2b88d7e2-da38-4d90-b7cf-62559a238e72",
   "tasks": [
      {
         "taskTyp

[2020-04-01 10:12] mahalaxmiganesh commented on #1617
gothrough this link ..  https://netflixtechblog.com/distributed-delay-queues-based-on-dynomite-6b31eca37fbc
Dyno-Queue is on top of Dynomite. Dyno-queue uses dynomite java driver and gets all the benefits from dynomite, you need to have Dynomite Cluster setup..

[2020-04-01 14:25] Nafalgar commented on #1601
Did you end up finding what the problem was, I am having the same issue.

[2020-04-01 14:37] BohdanPr opened #1622 "gRPC"
Hi All,

I am trying to create a gRPC client for the conductor server using .Net Core. But I have a problem with the connection to the server: `Grpc.Core.RpcException: Status(StatusCode=Internal, Detail="Error starting gRPC call: The SSL connection could not be established, see inner exception.")`
Could you explain how to configure the gRPC server or share a link on the documentation which could e

[2020-04-02 13:03] MrLrf opened #1623 "some question about deprecated ack"
1. Why is the ack mechanism deprecated in the new version? What are the considerations?
2. How to ensure that a task will not be executed by multiple workers after deprecating the ack mechanism?
3. I also want to ask how to stop the worker from executing this task after a task has been actively cancelled?

[2020-04-03 00:47] apanicker-nflx commented on #1607
@rickfish Good catch, thanks for pointing this out. Looking into this further, it seems like a task in SCHEDULED state would not be a part of the list of tasks in `tasksToBeUpdated`.
So, while your suggestion definitely does fix this, I think we may be able to get rid of the condition `|| !task.getStatus().equals(Task.Status.SCHEDULED)` altogether.

[2020-04-03 00:50] kishorebanala commented on #1604
@maxygo No worries, glad to help!

Well, we only load tested to the extend of processing around 10M workflows a day. While it is possible to scale Conductor to 100M workflows, I'd advise to invest into a load testing with synthetic data first and verify your use case. It might also help uncover potential bottlenecks at higher scale for your use case.

Yes, you can use event handler to complete a t

[2020-04-03 00:54] kishorebanala commented on #1611
@empty85 Are you behind a proxy that could possibly block connections to jcenter? Please try it on an unrestricted laptop and/or connection.

[2020-04-03 00:55] apanicker-nflx commented on #1613
Can you try configuring the jedis client that you are using with retries to see if that helps?

[2020-04-03 01:12] apanicker-nflx commented on #1599
Workflows do not have an expiration date, however you can use the [Archival Module](https://netflix.github.io/conductor/server/#1-enable-archiving-module) or implement a similar cleanup mechanism by extending the workflow status listener to expire/remove workflows upon completion.

[2020-04-03 01:12] #1599 closed

[2020-04-03 01:14] kishorebanala commented on #1621
@htpbackup Good catch, it is a bug where Conductor sets SIMPLE task's task type to WorkflowTask's name in `SimpleTaskMapper`. Because the WorkflowTask's name is Http in this case, it consider it as system task and it's to Http task queue. Consider renaming your Workflow task to some other name instead of `Http`, and please feel free to submit a PR if you have found a way to fix this for yourself.

[2020-04-03 01:17] apanicker-nflx commented on #1602
Thank you @mahalaxmiganesh for the responses.

[2020-04-03 01:17] #1602 closed

[2020-04-03 01:18] kishorebanala commented on #1588
@andyyumiao That'd be great. Please check dynamic fork and other system task implementations. There are also some good contributions to add new system tasks which you can use as a reference, such as this: https://github.com/Netflix/conductor/pull/1071

[2020-04-03 01:19] apanicker-nflx commented on #1619
@s50600822 @mashurex Can you please share your experience with using MySQL as the persistence layer for Conductor which would help answer the above questions.

[2020-04-03 01:28] apanicker-nflx commented on #1568
@christianscheuer

This does not count as a response for now, but this counted as such. I understand the use case you mentioned for using the logs to keep short response timeouts and this would definitely help in that case. This change would need to be implemented however.

This is correct. [This](https://netflix.github.io/conductor/tasklifecycle/#timeout-seconds) explains how timeout and response

[2020-04-03 01:30] kishorebanala commented on #1620
@neokyle1 The priority is set when a message is added to task queues, and there's a chance the messages are polled fast enough to not enforce priority. Can you try with large number of executions please?

[2020-04-03 01:31] apanicker-nflx commented on #1600
This is the recommended way of running workers. Since the server handles the ack'ing of tasks  before delivering the task to the worker, it ensures that only a single worker instance can process a given task. You can also further increase parallelism by increasing the thread count for your workers within the java client. The client architecture ensures that a task is polled for only when a thread

[2020-04-03 01:34] #1617 closed

[2020-04-03 01:37] kishorebanala commented on #1622
@BohdanPr It doesn't seem like Conductor specific issue, and quick search through gRPC dotnet revealed this: https://github.com/grpc/grpc-dotnet/issues/792, which might be of help to you.

[2020-04-03 01:41] andyyumiao commented on #1613
OK, @apanicker-nflx , does it support redis retries configuration in server.properties?

[2020-04-03 01:43] andyyumiao commented on #1588
OK, got it, many thanks!!

[2020-04-03 01:49] apanicker-nflx commented on #1623
The `ack` mechanism was not found to be optimal for several use cases due to the extra hop from the worker. Also, client side queueing on top of the queues in the server side meant thaat queue wait times for tasks was huge. It was also found that in some cases, a task could get timed out by simply waiting to be ack'ed on client side queues because worker threads were not available to process the t

[2020-04-03 01:53] andyyumiao commented on #1601
@Nafalgar this is a MySQL syntax problem, the dev branch have fixed this issue, you can switch to dev branch then try again.
or you can also change the file **V3__queue_add_priority.sql** to: **ALTER TABLE `queue_message` ADD COLUMN `priority` TINYINT DEFAULT 0 AFTER `message_id`;**

[2020-04-03 05:13] empty85 commented on #1611
@kishorebanala Thanks for replying back. jcenter is accessible and able to download all libraries via jcenter. But this specific library is not in jcenter, instead its available her: { maven { url "https://dl.bintray.com/chaos-systems/mvn" } } But when I am running gradle build its trying to fetch this library from jcenter and failing

[2020-04-03 10:49] rickfish commented on #1600
Unfortunately, increasing the worker threads doesn't really help with processing large volumes of quick-to-process SIMPLE tasks. If there is more than one thread per task type, those extra threads really sit idle waiting to be handed a task to process since most times the task processing is simple and one thread can handle what gets returned in the response from the poll. Using multiple instances

[2020-04-03 18:02] pweatherby-ccctc commented on #1603
@apanicker-nflx I've updated to the latest version (for both server and client) and the same behavior occurs.

I have found that when posting the task update (using postman directly against the task api), that if the outputData is null and the externalOutputPayloadStoragePath with a value:
`{
  "workflowInstanceId":"{{workflowId}}",
  "taskId": "{{taskId}}",
  "reasonForIncompletion": "",
  "callb

[2020-04-03 21:41] pweatherby-ccctc commented on #1603
Upon further testing, I've found that the default behavior for TaskResult is to populate the outputData field with an empty HashMap. see https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/metadata/tasks/TaskResult.java#L63

This default behavior is ok most of the time; when the client provides an outputData value of either, a legit/populated value, a

[2020-04-04 19:23] mashurex commented on #1619
The `json_data` column in the `workflow` table is a `MEDIUMTEXT` column which has about 16MB max size and all task data is currently stored in that column for a workflow, which means a single workflow cannot have more than about 16MB total input/output data in persistent storage.

However,  Conductor can be configured to externalize the data so this limitation can be worked around.

As far as perf

[2020-04-04 21:11] mcancio commented on #1606
Thanks @apanicker-nflx for your comprehensive reply. I'm now able to pass on the event payload to the wait task.

[2020-04-04 21:11] #1606 closed

[2020-04-05 05:54] andyyumiao commented on #1619
@mashurex many thanks for the reply, it's very useful.

[2020-04-07 07:04] htpbackup commented on #1621
@kishorebanala  many thanks for the reply, I noticed this problem at first, so I named it ’Http‘, not ’HTTP‘.

`com.netflix.conductor.core.execution.mapper.HTTPTaskMapper#getMappedTasks`

[code]

[2020-04-07 21:50] pweatherby-ccctc commented on #1603
It was indeed an Jackson serialization settings error. adding to the objectMapper a call to setSerializationInclusion to ALWAYS now results in the service-workers/client properly including the outputData field even when it is null.

With the outputData field now being included, everything is back to working as expected.

[2020-04-07 21:50] #1603 closed

[2020-04-07 22:10] neokyle1 commented on #1620
@kishorebanala I created 30 tasks and the result was the same. Also, I created a bash script to help reproduce. It does the following sequentially.
1) creates a simple task def
2) creates a simple workflow def
3) create 10 workflow instances with priority of 50
4) create 10 workflow instances with priority of 99
5) create 10 workflow instances with priority of 1
6) wait 3 seconds
6) starts a worke

[2020-04-09 05:47] kushalhalder commented on #204
Could we resolve this?

[2020-04-09 06:40] kushalhalder commented on #1356
@markusa380 could you solve this issue?

[2020-04-09 06:42] markusa380 commented on #1356
No, I have since given up on using Conductor.

[2020-04-09 08:31] #1292 closed

[2020-04-09 09:34] leissen commented on #1620
Yes, I meet the same issue. The priority doesn't work as expected!

[2020-04-09 11:33] andyyumiao opened #1633 "How to display or get execution log when task in running?"
As title, i want to know the progress of a task, and a lot of output will be generated during task running. (but the conductor task log will be displayed only when the task ends).

[2020-04-09 12:02] kushalhalder opened #1634 "ES5 Persistence Rest Client, AWS Elasticsearch"
I have been using the following configuration for AWS Elasticsearch connection with Rest client

[code]

[code]

[code]

None of them seem to be working. All throw the following:
[code]

Any help in the above is appreciated.

[2020-04-09 12:11] manan164 commented on #1634
Looks like it is not reachable. Can you try with http:// or port number is different. Try to telnet from the conductor box and verify

[2020-04-09 12:22] kushalhalder commented on #1634
[code]
Curl from the EC2 machine works.
I have launched the conductor server in the same EC2 machine using docker.

[2020-04-09 12:28] manan164 commented on #1634
Is cluster health green?

[2020-04-09 12:31] kushalhalder commented on #1634
It is Yellow. But that is because it is with 1 node.

[2020-04-09 12:34] kushalhalder commented on #1634
No Success with http and port 80 too. Curl works on it.

[2020-04-09 12:37] manan164 commented on #1634
It should be green. Otherwise, it won't work. It is waiting for the cluster to be green. Change this [property](https://github.com/Netflix/conductor/blob/master/es5-persistence/src/main/java/com/netflix/conductor/elasticsearch/ElasticSearchConfiguration.java#L31) to yellow

[2020-04-09 12:40] kushalhalder commented on #1634
I'll give it a shot.

[2020-04-09 16:20] kushalhalder commented on #1634
The ES status to green worked. Thanks. Closing the issue

[2020-04-09 16:20] #1634 closed

[2020-04-09 20:39] s50600822 commented on #1633
"conductor task log will be displayed only when the task ends" - not true it display when the worker report to conductor. So make your worker send log back and you'll see.
Note that currently you might only be able to see 10 entries because https://github.com/Netflix/conductor/pull/1630

[2020-04-10 15:39] leissen commented on #1633
@s50600822 Could you help to give a code sample to show how to send log back during worker running? Thanks in advance.

[2020-04-11 02:44] mdepak commented on #1563
Hi, @apanicker-nflx  @pavelhalabala Once we archive data to Elasticsearch do you recommend any scalable approach to delete data from Elasticsearch as search results are limited by 5000 items by the conductor ? Do you think it is good to insert archiving data to time-based rolling indices and enable search to query time-based indices as well so that workflow data will be available for parent workfl

[2020-04-12 20:11] JayantaP opened #1635 "Conductor at scale"
Hi all,

We are planning to use Conductor as workflow engine in our SaaS application. We were doing some load testing during past few weeks with various combinations and tried to come up with some sizing benchmarks.
Given the nature of our application, it is important to be able to have horizontal scale-out. There is no overall upper limit on number of workflows executed. We need to benchmark on h

[2020-04-12 20:26] JayantaP commented on #1635
5. Do you think Cassandra can give better results than dynomite in scale-out architecture?

[2020-04-13 03:11] andyyumiao commented on #1633
In execute method of your worker, just like:
**TaskResult result = new TaskResult(task);
result.log("......");
result.setStatus(TaskResult.Status.IN_PROGRESS);
return result;**

[2020-04-13 03:16] andyyumiao commented on #1633
yes, many thanks for your help!!! And that PR#1630 is very useful for me.

[2020-04-13 03:17] andyyumiao commented on #1633
yes, many thanks for your help!!! And that PR#1630 is very useful for me.

[2020-04-13 10:47] leissen commented on #1620
@apanicker-nflx @kishorebanala This is a critical issue. Could you help to take a look at this issue when you get a chance? Thanks in advance.

[2020-04-13 11:00] kushalhalder opened #1636 "Update Task wrt workflowId and TaskRefName"
Is there a possibility to complete/update a task by passing only the workflowId and the taskrefname from the wrokflow definition?

[2020-04-13 18:20] JayantaP commented on #1635
6. We were trying scale-out dynomite. Had 2 server pods and 2 dynomite pods. Looks like all requests are going to one of the dynomite pods.

The connection string is provided as:
workflow.dynomite.cluster.hosts=dynamodb-0:8102:us-east-1c;dynamodb-1:8102:us-east-1c

Dynomite Statefulset yml:
apiVersion:  apps/v1
kind: StatefulSet
metadata:
  name: dynomite
spec:
  serviceName: "dynomite"
  replicas

[2020-04-14 01:13] #1611 closed

[2020-04-14 02:15] andyyumiao commented on #1636
The first API of Task Management in Conductor swagger API:  **Update a task**

[2020-04-14 18:13] ramyavakity opened #1638 "Webpack@2.2.1 Help wanted!!!"
We did upgrade the webpack version to 2.2.1 due to some vulnerability checks and facing issues.

[2020-04-14 19:27] apanicker-nflx commented on #1613
The redis retries are not abstracted out by Conductor, and you would need to check redis properties. If this is a redis client-side property, setting this in `server.properties` would work, else this would need to be set on the redis-server.

[2020-04-14 19:38] apanicker-nflx commented on #1600
This will only be removed in the next major version upgrade (3.0) and will continue to be part of the client library till then.
On the server side, we would still keep the batch poll API but with the caveat that all tasks in the batch are ack'ed when the server responds.

We understand your concern about increased HTTP traffic caused during polls but in the previous scenario with the batch polls,

[2020-04-14 19:44] #1619 closed

[2020-04-14 19:56] kishorebanala commented on #1638
@ramyavakity Please provide more details about the issue you're facing.

[2020-04-14 19:58] rickfish commented on #1600
I didn't think about the ack for every task. Understood now. Thanks for  your patience.

[2020-04-14 19:58] #1600 closed

[2020-04-14 20:08] kishorebanala commented on #1636
@kushalhalder update task endpoint expects TaskResult payload, which has taskId. One possible way is to use Event handler to complete the task, and complete the message with Conductor event. https://netflix.github.io/conductor/configuration/eventhandlers/#actions

[2020-04-14 22:21] ramyavakity commented on #1638
Hey Kishore,

I did upgrade webpack version and see some random errors in the terminal.
Please help me figure out this.

![image](https://user-images.githubusercontent.com/16482787/79279750-b707af00-7e7c-11ea-94d3-b1cecaa21c60.png)

[2020-04-15 05:03] kushalhalder commented on #1636
Yeah. I did the event handler way to solve this.

[2020-04-15 05:03] #1636 closed

[2020-04-15 05:24] kushalhalder opened #1640 "Events get parked if the respective Task has not been activated yet."
Scenario:
1. Workflow has 2 consequent wait tasks.
2. These wait tasks have event handlers attached to them which is triggered by other workflows.

Partial flow: Start => Task_1 => ... => Wait Task A => ... => Wait Task B => Task_n => fin.

Event Handlers:
1. EH_A to complete Wait Task A
2. EH_B to complete Wait Task B

Happy flow:
The external workflows run synchronously. Timing of events:
1. Wai

[2020-04-15 07:52] anupam587 commented on #1153
@kishorebanala @apanicker-nflx any solutions for the above issue, I am stuck due to this from past 1 month

[2020-04-15 08:20] rksinha opened #1641 "Using Cassandra and Redis DAOs together"
Hi,
I see recently there is an addition of Cassandra MetaData and EventHandler DAO, but still, Queue and RateLimiting DAO is missing.
Is there any plan in near future for these DAOs addition?
Is it possible to use REDIS Queue and RateLimiting DAO with the rest of Cassandra DAOs
and is it advisable?

@kishorebanala @v1r3n @apanicker-nflx @manan164 @mudit3774

[2020-04-15 09:33] kishorebanala commented on #1153
@anupam587 Can you provide more details about the issue you're facing please.

Assuming you're seeing the same Http tasks getting stuck in scheduled state transiently, As mentioned in the above issue, it is most likely a Dyno-queues issue that sometimes the tasks are not returned from Http task queue.

You can verify this by checking the stuck scheduled Http task against Dyno-queues as follows:
-

[2020-04-15 17:39] rickfish opened #1642 "Why does the DO_WHILE task require a task definition?"
Why the need for a task definition for the DO_WHILE task? This makes it difficult to specify no timeout and I don't see the need for it. Seems like it is only used to bring in the defaults of rateLimitPerFrequency and rateLimitFrequencyInSeconds. Why not just set those to defaults if no task definition? Am I missing something? Can I remove the requirement for it in DoWhileTaskMapper.java?

[2020-04-15 20:01] manan164 commented on #1642
Yes @rickfish , We can remove it. Please remove it.

[2020-04-15 21:34] rickfish commented on #1642
@manan164 Thanks, I created PR #1645 to make the task definition optional.

[2020-04-17 15:31] maheshyaddanapudi opened #1647 "Workflow Creation - V0 Allowed or is it a dry run"
Create a workflow (i.e. metadata/workflow POST) with workflow version as 0 ? Apparently a 204 response, which is a successful workflow creation response, is recieved but the workflow isn't persisted. A GET workflow request is performed, the version 0 workflow doesn't appear in the list.
It's there any specific reason for this behaviour?

[2020-04-19 05:03] SanjayaKumarSahoo commented on #673
I am facing same issue in v2.25.9, any suggestion would be great.

[2020-04-21 14:06] vamsibandarupalli opened #1652 "Modifying the response based on decision case."
Hi,

I was trying to modify the response from one task output based on the decision case.

"caseExpression": "for (var i=0; i<$.outputAssignedValue.length; i++) {if($.outputAssignedValue[i]  ==  null) {'true';} else{'default';}}",
            "scriptExpression": null,
            "decisionCases": {
                "true": [
                    {
                        "name": "some_task",

[2020-04-21 18:07] amishasthana opened #1653 "Sporadic mysql connection issue"
Hi Folks we are facing an issue in connecting to mysql(Aurora in AWS). We have SSL and TLS1.2 turned on.
Sometime it works fine and we can see in SSL debug logs that certificates get loaded and hikari pool is able to initialize.
However other times it fails. Looking at the log it seem that it may be way the modules are initialized and when the server start in Main.java. It seem there is race condi

[2020-04-21 21:22] #1604 closed

[2020-04-22 11:31] vamsibandarupalli opened #1654 "Not able to access the "i" value inside the condition task which is used in for loop of decision case."
Hi,

I was trying to access the "i" value which used in for loop of decision case. Trying to access it inside the descision case task.

"caseExpression": "for (var i=0; i<$.hits_array.length; i++) {if($.hits_array  !=  null) {'true';} else{'default';}}",
            "scriptExpression": null,
            "decisionCases": {
                "true": [
                    {
                        "nam

[2020-04-22 21:45] rickfish opened #1655 "if loopOver task within DO_WHILE times out and DO_WHILE has retries, doesn't work"
If a loopOver task within a DO_WHILE times out, the DO_WHILE fails (FAILED status) - from the documentation, that is expected. Unfortunately if the DO_WHILE has retries available, it is retried but the retried DO_WHILE task immediately comes back as FAILED and its loopOver task gets CANCELED (so not pollable). That is what happens the first time it is retried. After that the additional retries of

[2020-04-23 10:39] krishnaputhran opened #1656 "Minimum System Requirements for Conductor"
Hi,
Is there any benchmarks on the minimum system requirements for running the conductor service in both docker image mode or direct installation. I have been searching for this as its important for me to recommand conductor for a mission critical application.
Requirements such as

RAM
CPU
Storage

Thanks
Krishna

[2020-04-24 06:17] amishasthana commented on #1653
It seem its related to our istio side car proxy. Its not initializing fast enough and thus from time to time initial connection breaks. Closing the issue.

[2020-04-24 06:17] #1653 closed

[2020-04-24 11:35] rickfish commented on #1655
I am thinking about creating a pull request that adds a retryCount match when filtering the loopOver tasks to review. The problem seems to be that the current DO_WHILE execute() method looks at all past tasks as well as the current one and it shouldn't. Does anyone have any issues with me changing the stream filter to the below (basically adding a match on retry count)?

``		List<Task> loopOver =

[2020-04-24 12:53] manan164 commented on #1655
Hi @rickfish , Thanks for pointing out.
The idea was when any loopOver task failed we should retry complete iteration from first loopOver task. If this is not happening then its bug. The reason is, if we start from the loopOver task which failed then the condition inside the execute method will be complex. We have to take care of all loopOver tasks retryCount also. Please create PR for the fix.
Al

[2020-04-24 13:14] rickfish commented on #1655
Thanks @manan164. I just created PR #1657 for this fix. It is really difficult to tell if this will cause any side effects but I don't think it will. DO_WHILE is a tough one to test all scenarios - thanks for taking this on - I'm sure it wasn't an easy one to implement.

[2020-04-27 23:23] #1633 closed

[2020-04-27 23:33] apanicker-nflx commented on #1640
@kushalhalder This observation is correct. This is part of the current design where only events that are received after the task is put into progress are processed and considered active. If an event is received and no corresponding task is found for the event, such an event will be dropped.

[2020-04-27 23:36] apanicker-nflx commented on #1641
@rksinha Given the pluggable nature of each DAO implementation, you can mix and match any of these implementations together.
In our deployment today, we are using Dynomite (Redis) for queues and rateLimiting with Cassandra as the persistence layer for metadata and executions.

We do not plan to implement a queuing layer in Cassandra.

[2020-04-27 23:36] #1641 closed

[2020-04-27 23:45] #1642 closed

[2020-04-27 23:54] apanicker-nflx commented on #1647
Workflow with version 0 is supported.

Can you provide more details about your setup? What persistence layer are you using? Can you also provide your workflow definition?

[2020-04-28 00:00] apanicker-nflx commented on #1652
This is not supported. The keys in the inputParameters are not evaluated using JSONPath. Only the values in the map can be evaluated.

[2020-04-28 00:00] #1652 closed

[2020-04-28 00:05] apanicker-nflx commented on #1654
Same as #1652, the keys are not available for JSONPath evaluation.

[2020-04-28 00:05] #1654 closed

[2020-04-28 10:11] zhou6675021 opened #1659 "This does not work in go client"
HI，
I made a sample according to the official website, but the task was received but not executed,code：

	c := conductor.NewConductorWorker("http://172.16.249.61:8080/api", 1, 10000)

	c.Start("test1", task.Create_Emr_Task, false)

func Create_Emr_Task(t *task.Task) (taskResult *task.TaskResult, err error) {
  //...//
}

Console log：
![image](https://user-images.githubusercontent.com/23535473/8047

[2020-04-28 11:58] maheshyaddanapudi commented on #1647
Hi Anoop

I have tried in memory, embedded MariaDB4j, external MySQL persistence and with all of these, the result is the same.

I will soon try to replicate the issue and provide the workflow json request.

[2020-04-28 18:15] ramyavakity commented on #1578
@apanicker-nflx  @kishorebanala
I have created a pull request for the gulp issues PR #1660

[2020-04-29 02:46] flavioschuindt commented on #1547
@kishorebanala any follow up based on my last comment?

[2020-04-29 13:12] kushalhalder opened #1661 "Need more details on ArchivingWorkflowModule and workflowStatusListenerEnabled"
Hi,

I have added
1. ArchivingWorkflowModule in the additional modules
2. `"workflowStatusListenerEnabled": true` has been added in the workflow definitions

Also, I am using MySQL as the persistence layer.

Please help me understand the following:
1. Which table will the data be archived from?
2. In ES, which index will hold this data?
3. What is the payload of the archived workflow in ES?

Discl

[2020-04-29 13:13] #1640 closed

[2020-04-29 13:15] #1564 closed

[2020-04-29 19:11] indiv0 commented on #1305
I seem to be observing the same behaviour as well. @s50600822 do you know what caused it?

[2020-04-29 19:47] indiv0 opened #1662 "Workflow Removed from Redis but not Marked as Archived in ES"
Hello!

I have a custom `WorkflowArchiverModule` that searches for workflows to archive with `IndexDAO::searchArchivableWorkflows` and then archives them with `ExecutionDAO::removeWorkflow(workflowId, true)`.

What this **should do** is remove the workflow from redis and mark it as `archived: true` in ES.
Usually this works fine.

Sometimes, this process fails, and the workflow is removed from red

[2020-04-30 02:19] yumeihua1205 commented on #622
@dileepkeely Hi,  we will start to orchestarte our microservices, also meet the deploy issue, I am confusing about how to deploye the worker, could you please share some info, ths.

[2020-04-30 16:29] rickfish opened #1665 "Seeing lots of 'java.io.exception: Transport endpoint is not connected' errors in new code"
Has anyone else seen these errors in your logs after getting one of the more recent releases of Conductor? Tough to tell where in the codebase this is coming from...

`[WARN ] 2020-04-30 12:19:27,373 AbstractConnector - 
 	java.io.IOException: Transport endpoint is not connected 
 	at sun.nio.ch.ServerSocketChannelImpl.accept0(Native Method) 
 	at sun.nio.ch.ServerSocketChannelImpl.accept(ServerSo

[2020-05-01 02:20] flavioschuindt opened #1666 "Search workflow API returns weird results"
Hi, guys.

While using the search API, I see some weird results:

* Query all workflows execution with query **status="FAILED" OR status="TERMINATED" or status="TIMED_OUT"** (```api/workflow/search?query=status="FAILED" OR status="TERMINATED" or status="TIMED_OUT"&start=0&size=100```) and I get this:

[code]

* Query all workflows execution with query **status="TIMED_OUT"** (```api/workflow/search

[2020-05-05 01:47] wknd-deevpos opened #1669 "JSON_JQ_TRANSFORM usage details"
Hello, I have been trying to use  JSON_JQ_TRANSFORM task type but it is not working. Is there any documentation for the usage? One of our API returns following JSON
[code]
I used following task definition, but the workflow results in error. I tested JQ on jqplay.org and they work as expected.
[code]
Any suggestions ?

[2020-05-07 09:08] tomasol opened #1673 "Duplicate code in wfe.js"
wfe.js contains two sections doing the same work twice:
https://github.com/Netflix/conductor/blob/master/ui/src/api/wfe.js#L109-L139
This is not breaking anything, just pinging each sub-workflow twice.

[2020-05-07 21:32] elisherer commented on #1669
I tried running the following dynamically:
[code]
I did manage to get the result. The only difference I could see is that array are translated as objects with indices as keys, which I think should be fixed.

[2020-05-08 17:43] rickfish commented on #1665
I also noticed that netty-codec is a recent dependency. What is it used for and is it possible that it is causing the exception?

[2020-05-09 16:14] mdepak commented on #1506
@kishorebanala  Thanks for the clarification. Since the task index is updated only on the workflow termination, the problem I mentioned shouldn't happen.

[2020-05-09 16:14] #1506 closed

[2020-05-09 16:15] mdepak commented on #1536
Closing this as PR is merged.

[2020-05-09 16:15] #1536 closed

[2020-05-11 13:10] krishnaputhran commented on #1558
Hi, anyone know how to access the iterator value inside the tasks, which are running as part of the DO_WHILE loop. For eg: I want to read an array value inside the running tasks. The array would be an input to the looped task from another task output, which was executed before the loop started.  I am not sure how we can use the DO_WHILE 'iteration' variable for reading the array values.

I want to

[2020-05-11 13:13] krishnaputhran opened #1677 "Accessing DO_WHILE 'iteration' value inside the the looped tasks."
Hi, anyone know how to access the iterator value inside the tasks, which are running as part of the DO_WHILE loop. For eg: I want to read an array value inside the running tasks. The array would be an input to the looped task from another task output, which was executed before the loop started. I am not sure how we can use the DO_WHILE 'iteration' variable for reading the array values.

I want to

[2020-05-11 13:47] miguelC opened #1678 "Trying to build the docker image fails"
I am trying to build the docker image by:
cd docker
docker-compose build

I am getting this error:
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':conductor-client:findbugsMain'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at htt

[2020-05-11 16:20] manan164 commented on #1677
Hi @krishnaputhran ,
Please check the documentation here https://netflix.github.io/conductor/configuration/systask/#do-while-task.
You can use the LAMBDA task to parse the input array that is coming from the above task.
Here is the sample json that might help.
[code]

[2020-05-11 17:49] krishnaputhran commented on #1677
Hi @manan164  thank you very much for the response and I appreciate your timely response. I have tried reading the do-while-task documentation, but couldn't get answer for my problem, but somehow I didn't consider the use fo LAMDA tasks.
I tried to follow your suggestion. But somehow, I feel that LAMDA task inside the loop is getting executed only once and hence same output from the first executio

[2020-05-11 23:17] apanicker-nflx commented on #1659
@zhou6675021 I see that you are using the go client for this purpose. The concept of `ack`ing a task has been deprecated and is no longer used. However, this change has not been propagated to the go client. Once a task is polled, it is expected that it will be executed by the worker and a response will be sent to the server within the `responseTimeoutSeconds`.

A very simple example to get started

[2020-05-11 23:31] apanicker-nflx commented on #1662
@indiv0

I am curious to see why this would happen. As seen [here](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/orchestration/ExecutionDAOFacade.java#L259), if the ES operation of marking the workflow as archived fails in ES, an exception will be thrown and the workflow will not be removed from redis (ExecutionDAO).

[2020-05-11 23:39] kishorebanala commented on #1547
@flavioschuindt I don't see a reason why the task `concurrenceExecLimit ` is not respected for `redis-persistence` module. I'll try and debug with with module later.

Also, are you testing this from your local? vs a deployment? Can you share more details about your set-up please?

[2020-05-11 23:44] apanicker-nflx commented on #1666
@flavioschuindt Would it be possible to get the ES query that the client makes for each of these requests. You could set breakpoints in your local server to help debug this faster.

[2020-05-11 23:50] apanicker-nflx commented on #1673
Thanks for reporting this, please feel free to contribute a fix by removing this duplicate code block.

[2020-05-12 02:12] flavioschuindt commented on #1547
Hey @kishorebanala, yes, this was local. I first tested locally on my laptop with MySQL as persistent store. Worked perfectly and then I rollout for our DEV environment. While on DEV (which uses dynomite + redis as persistent store), I realized didn't work. Then I returned to my local environment and did the same test as DEV with dynomite + redis as persistent store and got the same, i.e., not wor

[2020-05-12 03:48] indiv0 commented on #1662
Hmm. Interesting. That's a good question. Sounds like there's a hole in my theory. I'll investigate deeper.

[2020-05-12 18:46] jsep925 opened #1680 "Streaming flow of data to task"
Is conductor already support streaming data for HTTP task or other type of task?
Based on https://netflixtechblog.com/evolution-of-netflix-conductor-16600be36bca,
is it roadmap or already implemented?

[2020-05-12 19:51] rickfish opened #1681 "/workflow/<wfname>/correlated/<corrid>VERY SLOW if many workflows with that corr id"
The ExecutionDAO.getWorkflowsByCorrelationId() method has only correlation id as a parameter. There is no additional method that also passes in the workflow name. So on the /workflow/wfname/correlated/corrid endpoint there is no way to do a query that joins in the workflow_def_to_workflow table to get back just the workflows for that workflow name that have that correlation id. This is a problem,

[2020-05-13 13:39] miguelC commented on #1678
Something on  my shell, I am guessing some jvm args, were ported into docker and the build was failing. I started a fresh shell and the build works fine now. Closing this issue.

[2020-05-13 13:39] #1678 closed

[2020-05-13 14:36] mcancio opened #1683 "Avoid duplicate task definitions when using decisions"
Hi Team,
I am trying to create a very simple workflow described in the diagram. (see red dashes please).
However, I'm forced to define the tasks T3, T4 and T5 under both decision D1 and D2.
Is there a way to "go to" T3 when D1 result is 1?

![image](https://user-images.githubusercontent.com/58673273/81825942-d3753500-9569-11ea-9255-d6e6f4ed5a5a.png)

Appreciate the guidance on this.

[2020-05-13 16:58] krishnaputhran commented on #1677
@manan164  I could see this is a defect. By adding a dummy task before this one makes the next task to be executed. So issue is that, in a DO_WHILE loop, the first task in the loopOver is gets executed only once. So a dummy task need to be added to address this issue.

But one more issue I saw. Hope you reply to my concern.  As per your sample code, I tried to access the array values inside the lo

[2020-05-13 18:27] manan164 commented on #1677
Hi @krishnaputhran There may be an issue with the sequence number. Please check do_while task output there you will see all loopOvertaks output.
Till the time I will come up with the finding, Please check [DYNAMIC_FORK](https://netflix.github.io/conductor/configuration/systask/#dynamic-fork) This will solve your purpose. You have to generate input to this task from the previous http task. The only

[2020-05-13 19:08] mdepak commented on #1271
@s50600822 did you find a way to get over this problem with log4j library inconsistency?

[2020-05-13 19:38] krishnaputhran commented on #1677
@manan164  thanks for the response. The do_while task output i have checked, and its has the expected output. Only issue is getting the "iteration" value in subsequent iterations.
I had little doubt regarding the usage of $.test_loopTask['iteration'], because as per jasonpath documentation $  refers to the current object, where in, when inside the task, $ refers to the current task under execution

[2020-05-14 00:38] s50600822 commented on #1271
@mdepak if you have a fork do this https://github.com/Netflix/conductor/pull/1270

[2020-05-14 13:51] elisherer commented on #1683
https://github.com/Netflix/conductor/pull/1373
Maybe someday...

[2020-05-15 03:29] jzdayz opened #1685 "Localserver up error"
# Setup
1. git clone https://github.com/Netflix/conductor.git
2. git checkout tags/v2.27.0 -b v2.27.0.RELEASE
3. cd server
4. ../gradlew server

i got this error
[code]

[2020-05-15 14:00] miguelC opened #1687 "Conductor docker image fail to register task"
Hi, I am brand new to conductor so I still don't understand completely what goes on under the hood. I am running the docker images by using docker-compose and I can see the following running on my docker desktop (MacOS):
conductor:ui                                          0.0.0.0:5000->5000/tcp
conductor:server                                      8090/tcp, 0.0.0.0:8088->8080/tcp
docker.elastic.

[2020-05-15 14:40] krishnaputhran commented on #1253
Can anyone provide a simple example? Document is not very explanatory. I appreciate any help on this. For eg: my microService is registered in eurekha, by the name "helloService". Now how I form my HTTP request to from HTTP system task?

[2020-05-15 18:08] krishnaputhran opened #1689 "Registering Netflix Conductor with a Eureka server and making it discoverable."
1. How I can make my netflix conductor discoverable and get registered with an eureka server.
2. Assuming it gets registered on a eureka server, how I make HTTP requests through HTTP task to another microservice registered in the eureka server. I want to use service name in my uri than the ipaddress or hostname. for eg: through the HTTP system task in my workflow, I want to make a call to a micro

[2020-05-18 02:17] accfcx commented on #1685
I'm sorry, how do you solve this problem? I have no idea.

[2020-05-18 08:15] vargaendre commented on #1685
I had the same issue, but with docker run. How could it be solved?

[2020-05-18 09:42] elisherer commented on #1685
Same here (on Windows 10.0.17763.805 Enterprise)

[2020-05-18 15:19] mcancio commented on #1683
:) Thanks for the reply. I had to wrap the tasks 3, 4 and 5 in a sub workflow, then call the subworkflow (with same taskReferenceName) from D1 and D2. It minimize the repeated coding of tasks at the expense of more workflow definitions.

[2020-05-18 15:20] Jarga opened #1690 "Multiple Iterations of Replace in ParametersUtils"
Hello,

  I was wanting to propose the ability to have the parameter replacement process run multiple times while evaluating input. I have implemented a version of this in a local conductor fork for our internal use but am interested in attempting to add this to the main-line as well.

  This would allow late-binding of input parameters and allow better support of dynamic runtime input.

Example:

[2020-05-18 19:37] chnardi commented on #1558
I have the same questions, I tried several things and the only way I could make it work is to receive the whole collection  as parameter and then use the iteration in the task object I receive in the worker to reference the element I need. But it would be great to just receive the element I need.

[2020-05-18 23:39] apanicker-nflx commented on #1680
@jsep925 This is still on the roadmap and will likely be implemented in the next major version upgrade of Conductor (3.x). The DO_WHILE task is available if that fits your use-case.

[2020-05-18 23:39] #1680 closed

[2020-05-18 23:45] apanicker-nflx commented on #1681
@rickfish I believe that this can be accomplished using the `/workflow/search` endpoint. Both the correlationId and workflowType are indexed fields and can be used for this purpose. Would this suffice your use-case?

[2020-05-19 00:02] kishorebanala commented on #1687
Hey @miguelC, It's not clear from the logs about what is happening. My best guess from the debug logs is that post 8102 is taken by some other service, and unable to map to dynomite.

Can you try debugging backwards, and see if you can connect to dynomite server.

[2020-05-19 01:23] jzdayz commented on #1685
@vargaendre  @elisherer  @accfcx

[2020-05-19 01:27] jzdayz commented on #1685
I think must fix it,so l reopened.

[2020-05-19 14:30] rickfish commented on #1681
Yes, this can be accomplished with the /workflow/search endpoint. But that is like saying don't use the /workflow//correlated/ endpoint because it could be really slow. At that point, that endpoint would not be used so why even have it? That endpoint should be optimized I think. Since the workflow name is part of the endpoint path, why not pass it into the method that is supposed to retrieve those

[2020-05-20 07:43] #1541 closed

[2020-05-20 07:43] Dhirajk772 commented on #1541
Thanks

[2020-05-20 16:35] hilbucl opened #1695 "Elasticsearch dependencies in 2.27.0 server gone"
Can someone tell me why the server/dependencies.lock file in branch 2.27.0 has all elasticsearch references missing? What am I missing?

Thanks.

[2020-05-20 17:08] ravisund commented on #872
@RileyMichael  can you provide insight into environment issue ? how did reduce the latency from 200secs to 20secs ?

[2020-05-20 18:42] simarpal opened #1696 "[Conductor UI]: Do while is not showing looped lambda task for each iteration in UI under task details but works fine"
**Scenario**: I have looped an Http and Lambda task in Do While.
**When**: On executing do-while
**Excepted Result**: For every iteration, Conductor UI's task details tab should show Http and Lambda tasks.
**Actual Result**: For every iteration, Conductor UI's task details tab shows Http task only. It shows the Lambda task for first iteration only.

However, the working of the Lambda task is fine.

[2020-05-20 19:13] ramyavakity opened #1697 "conductor:ui npm install failed....lazy-debug-legacy@0.0.3."
lazy-debug-legacy@0.0.3 doesn't exist.  @apanicker-nflx  @kishorebanala

[2020-05-21 04:52] manan164 commented on #1696
Hi @simarpal , This is being discussed in another thread. It looks like sequence number issue. That is the reason you are not able to see the tasks. You can check do_while task output there you will see all the output.

[2020-05-21 06:20] elisherer commented on #1695
Related #1685 ?

[2020-05-21 12:12] zodiac1214 opened #1700 "redis lock with sentinel missing masterName"
according to https://github.com/redisson/redisson/wiki/2.-Configuration#27-sentinel-mode
we should call setMasterName() here: https://github.com/pavelhalabala/conductor/blob/master/redis-lock/src/main/java/com/netflix/conductor/locking/redis/config/RedisLockModule.java#L75

checking the https://github.com/pavelhalabala/conductor/blob/master/redis-lock/src/main/java/com/netflix/conductor/locking/re

[2020-05-21 12:18] zodiac1214 commented on #1700
![image](https://user-images.githubusercontent.com/24868108/82558446-a0b7d780-9b3b-11ea-8447-1f0b89db3750.png)

[2020-05-21 13:30] hilbucl commented on #1695
Yes, this is related to 1685

[2020-05-21 13:30] #1695 closed

[2020-05-21 18:48] simarpal commented on #1696
Hi @manan164, Thanks for the reply.
Yes, in do while output I can see the lambda task response.
Can you please tell me the issue number in which this is discussed and will there will be a fix for this.

[2020-05-21 18:58] techyragu commented on #167
@v1r3n I am still seeing this issue. My SIMPLE task is getting retried immediately. Could you please advise

[2020-05-22 07:50] walrus1967 opened #1703 "Error when use redis version 2.8.19"
[WARN ] 2020-05-06 03:55:44,342 ConnectionPoolImpl - Received FatalConnectionException; closing connection {datastorePort=22122, port=6379, host=****** to host Host [hostname=******, ipAddress=null, port=6379, rack: us-east-1c, datacenter: us-east-1, status: Up, hashtag=null, password=masked]
[ERROR] 2020-05-06 03:55:44,348 WorkflowSweeper - Error when sweeping workflow
java.lang.RuntimeException:

[2020-05-23 09:54] pavananuboddi opened #1704 "Not able to build master branch code on windows machine."
Hi,

I'm getting Exception in thread "main" java.lang.NoClassDefFoundError: org/elasticsearch/client/Client error while building  conductor master branch code on my windows 10 machine. I could see that there two versions of jar files were downloaded(5.6.8 and, 6.5.1)
D:\conductor\server>..\gradlew server --info --stacktrace

Successfully started process 'command 'C:\Program Files\Java\jdk1.8.0_161

[2020-05-24 10:41] Baural commented on #1685
Hi I have same issue.
I downgraded jvm from java 11 to java 8
I downgraded gradle from 6.0.1 to 4.8.1
And switched tags to 2.27

However it is not helped to fix and run server in my Mac

Note: Some input files use or override a deprecated API.
Note: Recompile with -Xlint:deprecation for details.

Using config file: src/main/resources/server.properties
Using log4j config src/main/resources/log4j.pr

[2020-05-24 14:50] elisherer commented on #1704
Related to #1685

[2020-05-26 11:03] patrick-pt opened #1707 "docker-compose fails on building conductor-ui image"
Howdy - following the steps in the [Architecture](https://netflix.github.io/conductor/architecture/#or-start-all-the-services-using-docker-compose) page, `docker-compose up` exits with error on the Master branch and tag v2.27.1 when attemtping to build conductor-ui.

[code]

I haven't the foggiest why - I don't know javascript or gulp. But I can avoid the problem by modifying `ui/gulpfile.babel.js

[2020-05-26 23:09] slipmp commented on #1707
I've tried the same thing, thanks for opening this issue

[2020-05-27 13:45] Nahuel92 opened #1710 "Docker-compose fails on building conductor-server"
Hi there!
Yesterday I wanted to run Conductor using Docker-compose and noticed some bugs. One of them was [reported yesterday](https://github.com/Netflix/conductor/issues/1707).
But there's another bug related to the server Dockerfile.

Specifically, on line 28 of the file conductor/docker/server/Dockerfile:

`COPY --from=builder /conductor/server/build/libs/conductor-server-*-all.jar /app/libs`

[2020-05-27 13:51] #1710 closed

[2020-05-27 13:54] Nahuel92 commented on #1710
Currently Docker is giving me another error, I'll check if it still happening and if it is, I'll reopen this issue.

[2020-05-29 01:52] Spikhalskiy opened #1711 "gRPC client serialization bug breaks Decision task definition"
# Problem
Protobuf in gRPC client serialization changes null value of Java POJO fields to an empty string. The server code doesn't handle such cases correctly sometimes.

# Details
If we compose a workflow definition including Decision task in java gRPC client, for example by doing
[code]
from a stream with
[code]

The WorkflowDef after serializing into Protobuf producing an entity
WorkflowTaskPb$

[2020-05-29 13:08] krishnaputhran commented on #1558
For some update please refer here. https://github.com/Netflix/conductor/issues/1677

[2020-05-29 14:11] chnardi commented on #1558
Thanks @krishnaputhran

[2020-05-30 09:03] alex-fu opened #1713 "Nested DO_WHILE task"
I want to ask if there is a plan to support nested DO_WHILE task?

[2020-05-31 16:17] manikantanallagatla commented on #1685
I am facing the issue on Mac as well.

[2020-05-31 18:19] TwoUnderscorez commented on #1288
Issuing the `git clone` command from `WSL` and not `Git Bash` also works.

[2020-05-31 18:51] TwoUnderscorez opened #1714 "Running the same workflows back to back (Synchronization)"
Hi,
In my use case we'll be running workflows back to back and I'm concerned about some synchronization edge cases. Say I have workflow FOO with tasks BAR and BAZ (retryCount = 0) which is most of the time run at an interval of 5 minutes but for some reason ended up running at a much smaller interval for 2 or 3 intervals. To mock this edge case I'll post to /workflow once (that's FOO1), wait 30 se

[2020-06-01 18:05] demichej opened #1715 "Mutliple domain polling functionality?"
Hi, I don't think this is the case currently, but wanted to check. Is it possible for the Workers to poll by a list of domains, rather than just 1? I was looking in the client code and the TaskResource, but it looks like it would only support 1 domain at a time.

Would there be anything wrong with us looking to add that functionality? Take in a list of domains? Thanks

[2020-06-01 20:37] demichej commented on #1707
Good catch, we're seeing the same thing.

[2020-06-01 20:54] demichej opened #1716 "ES5 Broken in Docker Deployment of Server 2.27.0"
We are using ES5 still, and we attempted to upgrade to 2.27.0. Everything built fine with the docker-compose (albeit the > Task :conductor-es6-persistence:shadowJar taking a VERY long time)....... but when we start the server now, we get this

`
Using config file: /app/config/config.properties
Using log4j config /app/config/log4j.properties
0    [main] INFO  com.netflix.conductor.bootstrap.Modules

[2020-06-01 21:17] demichej commented on #1716
Ah I see, I think it has always been that you build either es5 OR es6, not both at the same time.

@apanicker-nflx it looks like both are added. I think that this can result in jar conflicts possibly:
https://github.com/Netflix/conductor/commit/167180ad517ef8d65679e2094ad3a63f4920cd5b#diff-88b7c47e47b8ee65263b6784b86fa0a7

It's always been that if you want to use ES6, you had to switch ES5 -> ES6

[2020-06-02 08:50] chinazhaoke97zk commented on #1685
I am facing the issue on Mac as well.How could it be solved?

[2020-06-02 08:53] manikantanallagatla commented on #1685
I solved it by going to  v2.25.8

[2020-06-02 09:03] TwoUnderscorez opened #1717 "Workflow concurrentExecLimit"
Hi,

How can I set something similar to a taskdef's `concurrentExecLimit` but for whole workflow. (i.e. If a workflow has been started and is still running, return an error when trying to start the workflow again from the `/workflow` endpoint). Would the correct approach be to implement the `WorkflowStatusListener` interface such that it notifies my scheduler of a status of a workflow?

Thanks in

[2020-06-02 21:47] rickfish opened #1718 "Exceptions such as 'workflow not found' not surfaced to ObservableQueue implementations"
There is no way for an ObservableQueue implementation to find out that its event execution failed so that it can do something about it. Is this intentional? For example, if a complete_task action is executed but the workflow id was invalid, the EventExecution gets persisted with an exception but the ObservableQueue implementation does not know about it. In my case I would like to write the error t

[2020-06-02 22:46] apanicker-nflx commented on #1681
@rickfish Ahh I misunderstood the earlier comment. I believe the method implementation needs to be changed to retrieve only the correlated workflows of a specific type. I have labeled this as a bug and we will look into fixing this API soon. Thanks for reporting.

[2020-06-02 23:02] kishorebanala commented on #1700
Hey @zodiac1214, Thanks for reporting this. Does adding it to the Sentinel configuration work for you? If so, can you send us a PR with the same.

[2020-06-02 23:06] apanicker-nflx commented on #1685
This might be related to changes here - https://github.com/Netflix/conductor/commit/167180ad517ef8d65679e2094ad3a63f4920cd5b#diff-90410c75a439e8a737f3bdc2c3794922R6-R9.
We will address this and release a fix soon.

[2020-06-02 23:11] apanicker-nflx commented on #1696
@simarpal Thanks for reporting the issue. We will look into releasing a fix soon. In the meantime, please feel free to contribute a fix for this.

[2020-06-02 23:19] apanicker-nflx commented on #1703
From a cursory look at the error stack trace, this looks like a connection error with Dynomite. Can you verify if connections are allowed between the server and dynomite instance?

[2020-06-02 23:20] apanicker-nflx commented on #1704
Closed as duplicate of #1685.

[2020-06-02 23:20] #1704 closed

[2020-06-03 01:08] flavioschuindt opened #1721 "Workflow retry task even after it got TIMED_OUT"
Hi, guys.

On conductor 2.22.5, I'm seeing a weird behavior. Let me give some context first.

I would like to understand the difference between timeoutSeconds and responseTimeoutSeconds. As per the docs, the former is the amount of time that the task has to reach any terminal state before being marked as TIMED_OUT. The later is the amount of time that the worker has to update the task before it go

[2020-06-03 07:39] reidlai commented on #828
Same here

[2020-06-03 08:55] manan164 commented on #1713
Hi @alex-fu , DO_WHILE is tricky use case.
We are changing the task reference name with delimiter in each iteration so supporting nesting will be trickier.
Please mention use case so that we can try to see if using single DO_WHILE it can be solved or not.

[2020-06-03 23:20] slipmp commented on #1707
I was able to overcome this error by checking out tag/v2.25.8 then executing docker-compose up for serverAndUI.
Suggestion provided here: https://github.com/Netflix/conductor/issues/1685

[2020-06-03 23:21] slipmp commented on #1685
@manikantanallagatla your suggestion worked perfectly:
After checking out tag/v2.25.8 then executing docker-compose up for serverAndUI it worked! I just want to study the platform, latest version was desired but not required for that purpose.

[2020-06-03 23:44] slipmp commented on #1685
Actually server docker is exiting with code 1 - error.
I've tried tag/2.24.2 and all dockers work.

[2020-06-03 23:45] slipmp commented on #1707
Actually server docker is exiting with code 1 - error.
I've tried tag/2.24.2 and all dockers work.

[2020-06-04 01:11] reidlai commented on #1707
2.25.9 also works

[2020-06-04 03:44] alex-fu commented on #1713
Thanks for reply.
I want to bundle a couple of tasks to be a component for reuse, so I am implementing a COMPONENT system task to do this. But I found there is no possible to place DO_WHILE task to my COMPONENT task if there are DO_WHILE in the outside because the implementation in DO_WHILE task(as you mentioned, changing the task reference name with delimiter)

So I asked this question to see if

[2020-06-04 05:17] reidlai commented on #590
same here

[2020-06-04 17:07] IanSietro opened #1725 "docker-compose failure"
Any docker-compose fails with an exception.

### Reproduction steps

    node v10.21.0
    npm 6.14.4
    Docker version 19.03.8
    docker-compose version 1.25.5
    (Docker Restart and pruning of containers/images before the build)

- git clone git@github.com:Netflix/conductor.git
- cd conductor/docker

- **docker-compose up**
[code]

- **docker-compose up**  (after successful `./gradlew build`)

[2020-06-05 02:52] manjurad opened #1726 "Dynamic Task does it support subworkflow?"
Does Dynamic Task support the capability to launch a sub-workflow? I see that dynamic fork can support launching of task or sub-workflow, is the same support in dynamic task. I tried passing in the following

{
      "description":"Dynamic Workflow",
      "taskReferenceName": "t1",
      "name":"Test",
     "inputParameters": {
            "taskToExecute": "${workflow.input.user_supplied_task}"

[2020-06-05 08:52] Jojo109 opened #1727 "Cannot start Conductor Server with docker-compose"
![image](https://user-images.githubusercontent.com/39783820/83857372-77a76180-a74d-11ea-8d98-8a388041d79f.png)

![image](https://user-images.githubusercontent.com/39783820/83856835-bd175f00-a74c-11ea-80ce-a7f5ff1f84ec.png)

I have tried use docker-compose up to build conductor environment.
Conductor UI, Dynomite and Elasticsearch can be built successfully.
But Conductor Server cannot start with ab

[2020-06-05 16:02] mashurex opened #1729 "Double execution of custom WorkflowSystemTask with mysql-persistence"
- Reproducible on Conductor since at least v2.25.x and still with v2.27.1
- Using conductor-mysql-persistence with MySQL 5.7

To test this I've created a very simple 3 step workflow:

1. LAMBDA task
2. CUSTOM_TASK task
3. WAIT task

CustomTask does nothing except for logging when methods are called and extends WorkflowSystemTask in the following way:

[code]

The TaskDef for CustomTask is as such:

[2020-06-05 20:38] #1729 closed

[2020-06-05 20:39] mashurex commented on #1729
Further diagnosis revealed a combination of async task definition and configuration issues.

[2020-06-06 09:40] andyyumiao opened #1730 "blocked when building project"
goto conductor folder and run: **./gradlew build -x test**, then got the blocking below:

[code]

[2020-06-06 18:32] TwoUnderscorez commented on #1727
Which branch are you on? Try checking out to a release like 2.27.0.

[2020-06-06 18:52] Jojo109 commented on #1727
@TwoUnderscorez
Thanks for prompt reply.
I am using lastest tag (v2.27.1) from master branch

[2020-06-07 07:12] TwoUnderscorez commented on #1727
Yeah I couldn't get ether 2.27.1 nor 2.27.0 to work. The newest release I got to work is 2.26.1.

[2020-06-07 07:16] Jojo109 commented on #1727
@TwoUnderscorez
Thanks a lot.
Then let me try with 2.26.1 with docker-compose.
But what is the reason of 2.27.0/1 are not working in docker-compose?

[2020-06-08 08:36] osamakhan-jmi opened #1731 "Do conductor-server 2.27.1 supports java 11 ?"
I'm getting below error on building with java 11:

java -jar conductor-server-2.27.1-all.jar

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.google.inject.internal.cglib.core.$ReflectUtils$1 (file:/home/okappzillon1/conductor-server-2.27.1-all.jar) to method java.lang.ClassLoader.defineClass(java.lang.String,byte[],int,int,java.security.Prote

[2020-06-08 09:10] TwoUnderscorez commented on #1727
I have no clue why they are publishing releases before making sure that they work. I'm in the same boat as you...

[2020-06-08 13:47] Jojo109 commented on #1727
@TwoUnderscorez
Thanks a lot
It works for 2.26.1 version

[2020-06-08 23:12] apanicker-nflx commented on #1727
@Jojo109 @TwoUnderscorez We have released a new version [v2.27.2](https://github.com/Netflix/conductor/releases/tag/v2.27.2) with the fix. Apologies for the inconvenience.

[2020-06-08 23:12] #1727 closed

[2020-06-08 23:13] apanicker-nflx commented on #1711
@Spikhalskiy Thanks for reporting the issue and the proposed fix. This was applied [here](https://github.com/Netflix/conductor/pull/1712/files#diff-548d01ba857168cef7fbf01b7379587eR126) and released as part of v2.27.2

[2020-06-08 23:13] #1711 closed

[2020-06-08 23:15] #1288 closed

[2020-06-08 23:19] apanicker-nflx commented on #1714
In this scenario, it is guaranteed that BAR1 will be scheduled before BAR2. Currently, the request to start the workflow will schedule the first task in the workflow (BAR1 in this case) before returning with a response.

If the worker executing BAR1 completes processing and updates the status of BAR1 as COMPLETED before the worker executing BAR2, then it is guaranteed that BAZ1 will be scheduled b

[2020-06-08 23:21] apanicker-nflx commented on #1716
@demichej This should be fixed in [v2.27.2](https://github.com/Netflix/conductor/releases/tag/v2.27.2).
JAR conflicts are prevented here by shading the ES6 dependency.

[2020-06-08 23:21] #1716 closed

[2020-06-08 23:23] apanicker-nflx commented on #1685
This has been fixed in [v2.27.2](https://github.com/Netflix/conductor/releases/tag/v2.27.2). Apologies for the inconvenience.

[2020-06-08 23:23] #1685 closed

[2020-06-08 23:29] apanicker-nflx commented on #1730
@andyyumiao This gradle task is a slow-running task (~6-7 mins). It is used to shade the ES6 dependency so that ES6 can be used without having the rebuild the project.

[2020-06-08 23:29] #1730 closed

[2020-06-08 23:37] apanicker-nflx commented on #1717
@TwoUnderscorez Currently, Conductor does not inherently support a concurrent execution limit semantic at a workflow level. However, if you were to use a scheduler application to periodically start workflows, implementing the `WorkflowStatusListener` to notify the scheduler application would be a good approach to accomplish this.

[2020-06-08 23:37] #1717 closed

[2020-06-08 23:38] kishorebanala commented on #1726
@manjurad This error is being thrown from https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/mapper/DynamicTaskMapper.java#L130

Can you verify if your `taskToExecute` is confirming to expected WorkflowTask definition please?

[2020-06-09 00:04] apanicker-nflx commented on #1731
The build failure is fixed in [v2.27.2](https://github.com/Netflix/conductor/releases/tag/v2.27.2)

[2020-06-09 00:04] #1731 closed

[2020-06-09 00:26] apanicker-nflx commented on #1718
Since events are asynchronous entities published from applications in a fire-and-forget semantic, can you please elaborate on how surfacing these errors to the ObservableQueue implementation would be useful from the event producers perspective?

[2020-06-09 01:02] rickfish commented on #1718
I am working on a Kafka event consumer. If someone publishes an event to a topic and the consumer picks it up and that event does not get processed because of an error, the publisher does not know about the failure. Therefore I would like the consumer to be able to publish the error to an 'error' topic that the publisher can monitor. The ObservableQueue implementation has no way of knowing about t

[2020-06-09 01:04] kishorebanala commented on #1721
Hey @flavioschuindt , Apparently, when a task is "response timed out" and "timeoutSeconds" is still valid, the task retryPolicy is not applied. I'll verify and mark this as bug, if needed. Thanks for reporting.

[2020-06-09 01:08] kishorebanala commented on #1725
@IanSietro I see this in logs:

Can you please verify if you're in an unrestricted network, and that you can access these files, say from your browser, without any issues.

[2020-06-09 01:10] kishorebanala commented on #1707
Thanks for reporting this @patrick-pt . I've create this PR to fix this: https://github.com/Netflix/conductor/pull/1733

[2020-06-09 01:15] flavioschuindt commented on #1666
Hey @apanicker-nflx, unfortunately this was in some of the test env that someone wiped out and I didn't have the opportunity to see the logs before they were wiped out.

[2020-06-09 03:20] IanSietro commented on #1725
@kishorebanala thank you for the response,
I can access the files, but I cannot verify the cause - my network changed since.

### Update:

`cd docker; docker-compose up` now does not break, yet it still doesn't seem to work properly:

- - -
http://localhost:5000/ → Workflow Defs:

<img width="1378" alt="Screenshot_2020-06-09_at_09_55_52" src="https://user-images.githubusercontent.com/31187902/8410

[2020-06-09 13:11] TwoUnderscorez commented on #1714
I see, thank you for your response!

[2020-06-09 22:14] apanicker-nflx commented on #1715
Can you please elaborate on the use case of this functionality? Since the server supports domain lists wherein the tasks are enqueued in fallback domains in the list based on if a domain is active or not, how would polling from a list of domains augment this feature?

[2020-06-10 02:29] rkumarakrishnan opened #1735 "conductor-ui fails to build from source using docker-compose"
ERROR: Service 'conductor-ui' failed to build: The command '/bin/sh -c cd /app/ui   && npm install   && npm run build --server' returned a non-zero code: 1

[2020-06-11 08:34] hotlib opened #1736 "conductor server 2.27.2 fails to build because of permissions on file gradlew"
When I run
"docker-compose build" in conductor-2.27.2/docker folder I get the following error:

`/bin/sh: 1: ./gradlew: Permission denied`

The workaround for me was to add this line to conductor-2.27.2/docker/server/Dockerfile

`RUN chmod +x ./gradlew`

[2020-06-12 12:00] jansonz commented on #1501
If this is not required anymore why the supplied clients still do that? The Python client doesn't work for sure as it expects true on Ack action

[2020-06-15 23:22] apanicker-nflx commented on #1718
@rickfish Thanks for the explanation.
I believe you can extend the [ObservableQueue](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/events/queue/ObservableQueue.java) interface to implement this feature. The extension to publish to error queues/topics can be invoked from the exception block in the [SimpleEventProcessor](https://github.com/Netflix/con

[2020-06-15 23:28] #1707 closed

[2020-06-15 23:44] apanicker-nflx commented on #1666
I tried running this in our test environment and was not able to reproduce this. I will close this issue for now, please reopen if you run into this again.

[2020-06-15 23:44] #1666 closed

[2020-06-15 23:45] #1714 closed

[2020-06-15 23:46] apanicker-nflx commented on #1725
Should be fixed in #1733

[2020-06-15 23:46] #1725 closed

[2020-06-15 23:46] apanicker-nflx commented on #1735
Should be fixed in #1733

[2020-06-15 23:46] #1735 closed

[2020-06-15 23:53] apanicker-nflx commented on #1501
@SuperMasterBlasterLaser The semantic of `ack`ing a task was removed to reduce the number of round trips required for a worker to start processing a task and thereby reducing the failure points.

@jansonz The `ack` semantic was removed from the Java client in #1470 . We are actively welcoming contributions from the community to help us maintain the Python and Go clients (which were community contr

[2020-06-16 07:22] davidoliviersaban opened #1739 "Workflow fails when HttpTask fails to reach target"
Hello,

I am running conductor (v2.27.2) on an openshift cluster and it is deployed as a simple pod.
I use conductor to trigger and monitor my jenkins jobs using http calls.
So I decided to use the HttpTask which is a system task as a first approach.
My workflow is quite basic:

1. HttpTask: get next build id
2. HttpTask: trigger jenkins build
3. Do-While jenkins result == null, HttpTask: check je

[2020-06-16 11:49] elisherer commented on #1739
Did you set `"optional": true` on the HttpTask?
Ref: https://netflix.github.io/conductor/configuration/workflowdef/#tasks-within-workflow

[2020-06-16 12:41] davidoliviersaban commented on #1739
I didn't set Optional on the HttpTask.
So what you propose is to make my HttpTasks optional and then setup a logic of retry if I have some network issues based on the task status?
It should work but doesn't sound great :)

[2020-06-16 13:05] davidoliviersaban commented on #1739
Ok so I think my problem is solved for now.
What i did was to extend the `connectionTimeout: 60` and `readTimeout: 60` to reduce the chances to get the exception triggered.
I have as well set as `optional: true` my step 3 HttpTask as status check is a loop and I don't care if one or several http calls fail as long as one succeeds from time to time.

There is no actual retry but I am not sure retri

[2020-06-16 13:05] #1739 closed

[2020-06-16 14:19] rickfish commented on #1718
@apanicker-nflx Thanks. Will follow this advice.

[2020-06-16 14:19] #1718 closed

[2020-06-18 07:22] annair-dev commented on #1505
@RemcoBuddelmeijer True!
Memory cleanup has to be addressed @apanicker-nflx .
We need a bulk delete API which would delete the Workflow along with the task entries from the DB and index.
Do we have one now?

[2020-06-18 16:02] andyyumiao opened #1742 "supportting inline workflow definition within subworkflow?"
The releasing v2.27.1 mentioned that supportting inline workflow definition within subworkflow, how to understand it? and do you have instruction documents?

[2020-06-18 21:24] rickfish opened #1743 "StackOverflowError when terminating workflow that has a subworkflow"
There is a scenario that we have where terminating a workflow that has a subworkflow causes a StackOverflowError. This happens because the terminateWorkflow method goes thru its list of tasks and cancels the subworkflow task which calls terminateWorkflow on the subworkflow and then decide() is called with the parent workflow, etc. I am trying to come up with a simple way to reproduce it but it isn

[2020-06-19 12:12] imprabha89 opened #1744 "Dynamic Fork not working as expected"
Hi All,

We are facing an issue with Dynamic fork. In some scenarios, we have to fork tasks dynamically based upon the input. But when the count cross ~40 some of the forked tasks gone missing  and JOINER task stuck in progress forever waiting for the completion of those missing tasks.

By missing we mean, they are visible in UI alone ( yellow state) but not listed in the TASK details tab & also m

[2020-06-19 12:27] rickfish commented on #1743
Honed in on the scenario more. It is when DELETE /workflow/<workflowId> is called on a parent workflow that has a SUB_WORKFLOW task that is IN_PROGRESS.

What causes the StackOverflowError (parent is workflow id 1, subworkflow is workflow id 1a):
1. terminateWorkflow(1)
1.a. (workflowid 1a).cancel()
1.a.1 terminateWorkflow(1a)
1.a.1.a updateWorkflow(1a) with status TERMINATED
1.a.1.b decide(1) for

[2020-06-20 14:25] rickfish commented on #1743
More information. I think the problem might lie in that the SUB_WORKFLOW task is IN_PROGRESS even though the actual subworkflow is TERMINATED. If the SUB_WORKFLOW task was also TERMINATED, step 1a would never happen.
So I need to find out what would cause this out-of-sync situation.

[2020-06-21 12:28] heinrichcohn opened #1745 "Messages are not handled by event-handler when using 'amqp:' key"
After creating an event-handler which listens to events in an ampq queue, events are consumed but not handled and not action is executed.
The reason is that internally a queue "amqp:xxxxx"  is stored as amqp_queue:xxxxx" and when a new message arrives,  no event-handler is found  because not event-handler was configured with 'event'='amqp_queue:xxxxx'.
In order to fix this, the StringMapKey used i

[2020-06-21 13:01] dcore94 commented on #860
Exactly same problem here. Pulled the code on June 19th 2020 ....

[2020-06-22 23:14] apanicker-nflx commented on #1505
@annair-dev This improvement is yet to be made to the remove workflow API. Please feel free to contribute a fix.

[2020-06-22 23:30] apanicker-nflx commented on #1742
@andyyumiao This feature enables the workflowDefinition to be passed in dynamically into a sub workflow task. Checking the [source code](https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/metadata/workflow/SubWorkflowParams.java#L48), the usage of this feature would look like so,
[code]
Please note the inlined workflow definition for the subworkflow

[2020-06-22 23:30] #1742 closed

[2020-06-22 23:35] apanicker-nflx commented on #1744
@imprabha89 Currently, there is no limit on the number of tasks that can be dynamically forked. Since, you mentioned that the "missing" tasks were polled and processed successfully, this would mean that the tasks were enqueued and persisted successfully in the queuing layer and persistence layer respectively. We have active use cases with ~200-300 dynamically forked tasks and have not seen any iss

[2020-06-22 23:35] kishorebanala commented on #1743
Hey @rickfish, Thanks for reporting this. Please let us know when you have an example to reproduce this. I'd be glad to debug.

[2020-06-22 23:42] #1745 closed

[2020-06-23 17:51] #1673 closed

[2020-06-24 22:09] jansonz opened #1749 "JSONPath Validation failed - parameter value invalid"
Hi,

Migrating from 1.12.9 to 2.27.5 Conductor and face issues migrating over workflows.
When posting I get the following ERROR back:

`{
    "status": 400,
    "message": "Validation failed, check below errors for detail.",
    "retryable": false,
    "validationErrors": [
        {
            "path": "registerWorkflowDef.arg0",
            "message": "key: input_data input parameter value: get_

[2020-06-25 04:01] krishnaputhran commented on #1328
HI is the fix rolled out for this? As of today the bug is still there. Since TERMINATE task ends the workflow abruptly, it has to trigger the failure workflow.

[2020-06-25 04:10] krishnaputhran opened #1750 "TERMINATE task with "FAILED" terminationStatus doesn't trigger failureWorkflow"
Hi I have a workflow for which failureWorkflow is configured. During my workflow, at some places i have TERMINATE task to fail the workflow based on some conditions. But as of now I observe that TERMINATE task doesn't trigger the failureWorkflow, even if the terminationStatus is set to FAILED. Since its a failure of the workflow, and as per the explanation of failureWorkflow attribute, I expected

[2020-06-25 08:36] jansonz opened #1751 "INTERNAL_ERROR - The Task defined as a sub-workflow has no workflow definition available"
We are migrating Conductor from 1.12.9 to 2.27.5 and have notice a issue that it's not possible anymore to pass to tasks sub-workflow names dynamically:

Error:
`{
"code": "INTERNAL_ERROR",
"message": "INTERNAL_ERROR - The Task ${get_provider_configuration_1.output.response.body.properties.processing_workflow} defined as a sub-workflow has no workflow definition available ",
"retryable": false,
"i

[2020-06-25 09:23] kushalhalder opened #1752 "Workflow started one task twice"
I have a workflow that started the same sub-workflow twice in the same moment. How do we fix this? and Now my workflow is stuck, how do we move on from here?

[2020-06-25 15:03] dcore94 commented on #1749
A rather similar issue ...
I am trying to filter out one record from a list returned by another task with JSONPath and pass it as input of another task. The code i use in the input variable definition is: `${get_records.output.body[?(@.name == '${workflow.input.selectedname}')]}`. The expression in the predicate is expanded correctly bout the overall expression no. Thus on the worker resulting in:

[2020-06-25 15:05] themaxx76 commented on #376
Any news on this? This issue caused us a lot of troubles before have found this info.

[2020-06-26 04:46] imprabha89 commented on #1744
@apanicker-nflx  Thanks for your response mate. We will debug further & get back to you in case of any concerns.

[2020-06-27 02:04] dhineshbabuelango commented on #1653
Hi @amishasthana were you able to solve this issue
I am seeing this issue now only if I use istio sidecar

"HikariPool-2 - Failed to validate connection com.mysql.cj.jdbc.ConnectionImpl@5f37ca9f (No operations allowed after connection closed.). Possibly consider using a shorter maxLifetime value.
 hikaripool-1 - connection marked as broken because of sqlstate(08s01), errorcode(0)

[2020-06-29 04:42] mcancio opened #1758 "Decider Locking with Zookeeper Causes Stuck Workflow"
Hi Team,
I've enabled decider locking using zookeeper. I noticed my workflows get stuck after completing the first task. In the logs, I can see that DeciderService only runs after the workflow has started, which is after a successful acquireLock. However, after the lock has been released, I don't see any other threads are able to acquire the lock for the workflow, therefore, decider is not trigger

[2020-06-29 04:57] mcancio commented on #1758
For additional info, I verified in Zookeeper that the lock entries are successfully created.
I tried Zookeeper 3.4.x and 3.6.x, I get the same behavior.
Tested this behavior on Conductor Server 2.25.5 and 2.26.1.

Also, my initial understanding was, `ExecutionLockService.releaseLock` removes the lock from Zookeeper, however, I don't see the lock entry being removed.

Hope you could help me on this

[2020-06-29 23:30] kishorebanala commented on #376
@themaxx76 This still is the case, as the endpoint accepts the header "Accept: text/plain".

In order to move from text/plain to application/json, we'd have to change the return format of this endpoint, without breaking backwards compatibility for existing uses. We shall prioritize this for Conductor 3.0 release, but feel free to send us a proposal if you can get to this before that.

[2020-06-29 23:35] apanicker-nflx commented on #1328
@krishnaputhran We have yet to resolve this issue, but we can try to prioritize this. In the meantime, please feel free to contribute a fix for this if you have some cycles to spare.

[2020-06-29 23:36] apanicker-nflx commented on #1750
Duplicate of #1328

[2020-06-29 23:36] #1750 closed

[2020-06-29 23:41] apanicker-nflx commented on #1752
@kushalhalder Are you using  a locking module in your deployment. If not, in certain high-throughput scenarios, it is possible that the state evaluation of a workflow may be run from two separate threads leading to an inconsistency.

[2020-06-29 23:59] kishorebanala commented on #1758
Hey @mcancio , Do you have any additional information on why subsequent acquire locks are failing? Also, is this behavior consistent? i.e are all the acquire locks failing after a certain step?

[2020-06-30 00:41] kishorebanala commented on #1749
@jansonz @dcore94 These are Workflow and Task definition validation errors originating from: https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/utils/ConstraintParamUtil.java#L71

For ```"message": "key: input_data input parameter value: get_asset_1.output.response.json.Item.SmoothFolders[*].Manifests[?(@.ManifestTypeId=='1' && @.TypeName=='Feature')

[2020-06-30 01:41] mcancio commented on #1758
Hi @kishorebanala,
Thanks for the quick reply.

I am using default in-memory configuration (except for ZK settings) and the behavior (workflow stuck) is consistent when decider locking is enabled.
Consistent across the two versions I tried as well.
Consistent with using the local zookeeper or the zookeeper cluster which we have set up. (version 3.4.x and 3.6.x).

When I disable locking, everything

[2020-06-30 03:16] kushalhalder commented on #1752
Hey, thanks for the reply. I am not explicitly using a locking module. Is something there in the documentation?

[2020-06-30 06:17] krishnaputhran commented on #1328
Sure will see, if i'll see if I can. Thanks for the response

[2020-06-30 07:42] jansonz commented on #1749
@kishorebanala you are completely correct, when changing `[?(@.ManifestTypeId=='1' && @.TypeName=='Feature')]` to `[?(@.ManifestTypeId=='1'&&@.TypeName=='Feature')]` my issue seems to be resolved 😃 Thanks.

Issue reported by @dcore94 seems to be something else then.

[2020-06-30 13:55] IanSietro commented on #1725
@apanicker-nflx please note that the issue was resolved only partially. docker-compose still "fails", please see the previous comment: https://github.com/Netflix/conductor/issues/1725#issuecomment-641004069

---

Swagger not running on http://localhost:8080/

---

http://localhost:5000/ -> Workflow Defs throws an error:
<img width="1440" alt="Screenshot_2020-06-30_at_20_50_28" src="https://user-im

[2020-06-30 22:02] jansonz opened #1761 "Workflow looses values on some tasks"
I'm experiencing very weird issue where when JSONPATH extract from one task output it works on some steps but some got empty input value. For example I have several tasks in workflow pointing to output from another task like this: ${convert_ism_xml_to_json_1.output.response.json.smil.body.switch.video[*].@src}. When using this as input one one stepthe input value is there, however on another it be

[2020-07-01 04:14] apanicker-nflx commented on #1328
Fixed in #1759

[2020-07-01 04:14] #1328 closed

[2020-07-02 15:38] kosmjon opened #1762 "Publish normal conductor-server.jar and source in same way as other jars are published"
I am creating a custom version of Conductor and upon starting found that the conductor-server-2.27.1.jar was not available in jCenter only the war file.  As a result I had to go through hoops to build the jar myself and publish it to a local repo so it was available for builds.  It would be very nice if the conductor-server-x.xx.x.jar was available in jCenter. thx

[2020-07-02 16:16] TwoUnderscorez opened #1763 "DynomiteDB is no longer maintained"
Conductor is using DynomiteDB by default for persistence but when going to http://www.dynomitedb.com/ it says in big bold letters

and when clicking the button below that to go to https://github.com/Netflix/dynomite one can notice that the last commit was on Nov 21, 2019.
Would it be a good or bad idea to use Dynomite when deploying Conductor? Or should I use another persistence layer?
Thanks!

[2020-07-06 10:12] #1749 closed

[2020-07-07 14:28] jansonz commented on #1761
Adding some more examples.

The bellow is a JSON copy from a failed workflow. The task takes as input "files": "${convert_ism_xml_to_json_1.output.response.json.smil.body.switch.video[*].@src}" which as visible ends up as "files": []

`{
"taskType": "fork_generator",
"status": "COMPLETED",
"inputData": {
"variables": {
"filename_postfix": "_track1.h264",
"processing_location": "/mnt/4711ffdf-040d-

[2020-07-07 14:33] rickfish opened #1767 "Dynamic Fork task limit? 4,000 tasks seems to cause CPU issue"
We have a workflow that has 4,000 SUB_WORKFLOW tasks in a FORK_JOIN_DYNAMIC task. When that workflow executes, the CPU spikes on our Conductor instance and it causes lots of problems including Conductor not starting, probably because the background sweeper thread has an issue processing it.

Has anyone noticed this behavior? Is there a recommended maximum for the number of tasks that can be in a d

[2020-07-07 20:17] #1715 closed

[2020-07-07 20:21] james-deee opened #1768 "Exposing COMPLETED_WITH_ERRORS in client code?"
Hello, I noticed that the status COMPLETED_WITH_ERRORS is not an option in which is available in the client code. It only has "IN_PROGRESS, FAILED, FAILED_WITH_TERMINAL_ERROR, COMPLETED"

Is there a reason that it would not be a good idea to expose this status to the Worker to manually set?

[2020-07-07 23:53] apanicker-nflx commented on #1752
Seems like we need to improve the documentation about this. But you can refer the [code](https://github.com/Netflix/conductor/blob/master/server/src/main/java/com/netflix/conductor/bootstrap/ModulesProvider.java#L144-L174) for implementation/configuration. There is also documentation regarding a newly added locking implementation available [here](https://netflix.github.io/conductor/technicaldetail

[2020-07-07 23:53] #1752 closed

[2020-07-07 23:55] apanicker-nflx commented on #1725
The suspicious logs mentioned above seem to be from an older version which has since been fixed. Please try to run against the latest version.

[2020-07-08 00:05] apanicker-nflx commented on #1762
The sever jar file is available as `conductor-server-<version>-all.jar` . [Example](https://repo1.maven.org/maven2/com/netflix/conductor/conductor-server/2.27.6/)

[2020-07-08 00:05] #1762 closed

[2020-07-08 00:06] nikijain17 opened #1769 "Publishing metrics with Spectator"
Hello, I am trying to use Spectator to publish metrics. I followed the instructions on this page: https://netflix.github.io/conductor/metrics/server/, but I'm not sure if it worked or if I have everything that is needed. How can I tell if metrics were published, or where can I check?

[2020-07-08 00:09] apanicker-nflx commented on #1763
@smukil Can you please comment on the OSS lifecycle of Dynomite?

[2020-07-08 00:18] kishorebanala commented on #1761
Hey @jansonz , Do you see any logs when resolving this input parameter: ```${convert_ism_xml_to_json_1.output.response.json.smil.body.switch.video[*].@src}``` ?

Also, do you have locking enabled on this instance? You can use LocalOnlyLock introduced in this PR to rule out issues due to race conditions when evaluating workflows: https://github.com/Netflix/conductor/pull/1728

If you still see issu

[2020-07-08 00:31] kishorebanala commented on #1758
I see ```[DEBUG] 2020-06-30 09:23:23,957 [pool-11-thread-1]  com.netflix.conductor.service.ExecutionLockService acquireLock - Thread 112 failed to acquire lock to lockId d9f3a53e-8841-4b57-9158-cf2c2aa58341.``` in logs. This seems more like a Zookeeper configuration issue.. but it would help to see the stack trace or debug information on why Zookeeper client in failing to acquire lock from Conduct

[2020-07-08 00:42] apanicker-nflx commented on #1768
The `COMPLETED_WITH_ERRORS` status is set by the state machine server-side when a task that is marked as optional enters a FAILED state. Do you a particular use-case that would fit the usage of this status in the worker side?

[2020-07-08 00:48] apanicker-nflx commented on #1767
We have experimented with 1000 SUB_WORKFLOW tasks within a FORK_JOIN_DYNAMIC with successful executions. However, we did notice the CPU spike. We believe the cause for this is that during a workflow evaluation all tasks within the workflow are loaded into memory and the state machine runs evaluation for each task.
Given the current architecture, this would mean overhauling the state machine evalua

[2020-07-08 00:51] kishorebanala commented on #1769
@nikijain17 If you're just trying to verify that metrics are being published, you can push them to Log4j as suggested here: https://netflix.github.io/conductor/metrics/server/#collecting-metrics. On top of that, configuring the metrics server, for eg., Atlas, [Prometheus](https://netflix.github.io/conductor/metrics/server/#integration-with-fluentd-using-a-syslog-channel) etc. is really an implemen

[2020-07-08 08:20] jansonz commented on #1761
Thank you for the feedback.

Have added workflow.dyno.queue.sharding.strategy=localOnly to the Conductor configuration and will test.

This is a single conductor server installation so not sure if this will make any difference, but fingers crossed.

[2020-07-08 15:31] demichej commented on #1768
Yeah the use case we were considering is that in certain environments certain conditions may exist where we dont want to FAIL the task (which would end the workflow in a Failure), which would kick off a failure workflow.

We thought that COMPLETED_WITH_ERRORS could help us in certain environments/conditions.

[2020-07-08 17:32] nikijain17 commented on #1769
Is there another way to view the metrics without using Log4j? I thought it was optional

[2020-07-08 21:29] nikijain17 commented on #1769
I added the additional modules in config.properties. It says the metrics will be printed to the console, but I don't see anything different. Is there a way to check if it worked?

[2020-07-09 09:42] msdhivya opened #1771 "Configurable queue settings for bound_to exchange queues"
The settings of bound_to_exchange queues are not configurable. It is currently hard coded as explicit, non durable and auto deleted. Can this be made configurable by getting the values from the settings?

If the queue is exclusive, queue mirroring is not happening in rabbitmq cluster environment. So during failover of rabbitmq nodes, the queues are getting deleted and never created again.

The fix

[2020-07-09 13:29] vamsibandarupalli opened #1772 "Optional key use case in Decision Task."
Hi, This is not really bug more of an information.

I'm trying to understand how optional key used for decision case. I tried with wrong caseExpression but it's failing even when optional is set to true.

Here is task example I'm trying to create.

        {
            "name": "task1",
            "taskReferenceName": "Decision1",
            "description": null,
            "inputParameters": {

[2020-07-09 19:24] apanicker-nflx commented on #1681
Fixed in #1766

[2020-07-09 19:24] #1681 closed

[2020-07-09 19:38] apanicker-nflx commented on #1751
One of the changes that were added to Conductor 2.0 was the validations that require workflow and task definitions to be registered in Conductor before starting a workflow. This is equally applicable to sub workflows as well.
Having said that however, with the [v2.27.1](https://github.com/Netflix/conductor/releases/tag/v2.27.1) release, you can provide your subworkflow definition as part of your s

[2020-07-09 21:20] jansonz commented on #1761
@kishorebanala No success. Still ran in the same issue and it seems to affect these kinds of JSONPATH expressions: ${convert_ism_xml_to_json_1.output.response.json.smil.body.switch.audio[*].@src} and ${convert_ism_xml_to_json_1.output.response.json.smil.body.switch.video[*].@src} which should return a list of files. some tasks in the same workflow end up with value and some don't. have triple chec

[2020-07-09 22:20] nikijain17 opened #1774 "Problems with startup.sh scripts"
I am trying to collect metrics with Log4j, and I am following these steps: https://netflix.github.io/conductor/metrics/server/#collecting-metrics. I am having issues with the startup.sh scripts. Both scripts (in docker/server/bin and docker/serverAndUI/bin) try to access files in a directory called app, which is nowhere to be found in the docker directory. There are many other app directories in c

[2020-07-11 00:28] mdepak opened #1775 "Performance Improvement: Using NIO patterns for Elasticsearch indexing"
Elasticsearch indexing is one of the main bottlenecks in the Conductor's system performance. Async indexing and batched indexing helps greatly in improving the overall indexing. But one of the problems with async indexing is during high throughput scenario is the number of index requests getting backlogged exponentially over time. This can be solved by increasing the number of the thread count of

[2020-07-11 09:10] elisherer commented on #676
It does now 😊 [v2.28.0](https://github.com/Netflix/conductor/releases/tag/v2.28.0)

[2020-07-13 18:18] optimal-rhythm commented on #1564
Hi,

We are planning to implement this feature if no one else is working on this. Basically, the design approach would be similar to WorkflowStatusListener. We are also considering adding a onWorkflowStarted method to the WorkflowStatusListener to help notify kick-off of workflow execution.

Please let us know if this is ok with the community. If so, we should be able to get a PR up hopefully.

[2020-07-13 23:57] apanicker-nflx commented on #1564
@optimal-rhythm I believe this is not being actively worked on. Please feel free to create a PR for this. Please also add documentation for this feature as part of the PR.

[2020-07-14 00:41] apanicker-nflx commented on #1768
In such cases, would marking the task as optional in the workflow definition be a better option for you? You could mark the task as FAILED from your worker but the state machine would mark this task as COMPLETED_WITH_ERRORS and continue the processing of the workflow.

[2020-07-14 00:43] optimal-rhythm commented on #1564
thanks @apanicker-nflx ! will do

[2020-07-14 00:44] apanicker-nflx commented on #1771
@ritu-p As the contributor for the AMQP module, can you please help with this?

[2020-07-14 00:45] kosmjon commented on #1762
OK thx.  Yes, depending on @war will work, but it is unfortunate that I have to download 100+MB vs the 1MB that it should be.

[2020-07-14 00:52] apanicker-nflx commented on #1772
@vamsibandarupalli This is an interesting case that probably hasnt been tested yet. We will test out the usage of `optional` in DECISION task and get back to you. In the meantime, please feel free to report back any findings from your end.

[2020-07-14 04:15] ritu-p commented on #1771
Hi @msdhivya , the bound queue settings can be made configurable. please raise a PR for this fix.

[2020-07-14 05:46] anuraggupta opened #1780 "What all is tested before releasing conductor ?"
Hi All,

We are planning to use conductor and wanted to understand how the release is performed mainly from performance tests point of view. I had following questions in mind

- What is the infra setup for performance tests ? like which backed DB and it's specs, how many nodes ?
- Are other DBs part of the test like MySQL, Postgres, Redis etc.
- Where can I see performance numbers ?
-

[2020-07-14 06:54] kushalhalder opened #1781 "A task is cancelled right after it gets scheduled."
<img width="1374" alt="Screenshot 2020-07-14 12 18 58" src="https://user-images.githubusercontent.com/5244062/87394054-cce85580-c5cc-11ea-996b-32351eca35d8.png">
We have been using conductor for our production workload, however we are facing this issue intermittently. A task is scheduled but it gets cancelled without any logs or reasons.
@apanicker-nflx Some help here would be appreciated.

[2020-07-14 07:44] sanyamsidana opened #1782 "Failure Reason field is not getting cleared while hitting RERUN."
Let's start a **workflow**.
<img width="495" alt="Screenshot 2020-07-14 at 1 45 46 PM" src="https://user-images.githubusercontent.com/33194901/87401858-59e4dc00-c5d8-11ea-9841-c4475c078d6f.png">

An **error** occurred at **fetch_data**.
<img width="449" alt="Screenshot 2020-07-14 at 1 48 00 PM" src="https://user-images.githubusercontent.com/33194901/87402069-a5978580-c5d8-11ea-9f2e-701cb8d16c8d.pn

[2020-07-14 19:51] nemiliani opened #1784 "DO_WHILE system task not working on v2.28"
Hi all,

I am trying to run a DO_WHILE task passing in some paramaters and keep hitting my head against the wall. I think there is some bug or I am not understanding something correctly.
I am defining the following WF :
[code]

Pretty much, iterate over the system HTTP task as many times as defined by workflow.input.value
This is how I instantiate the flow :
[code]

Problem I see is that the input

[2020-07-15 05:57] manan164 commented on #1784
Hi @nemiliani ,
1.  Instead of ```$.LoopTask['inputParameters']['value']``` in condition we have to use ```$.value``` This is the behaviour for all otheer tasks like LAMBDA,  DECISION etc.
2. There is a bug in a loop over tasks sequence numbering that is the reason we dont see all the tasks in UI but actually they are executed. Please check do-while task output.

[2020-07-15 07:26] kushalhalder commented on #1781
Any direction in this? I see a lot of workflows behaving in this way now.

[2020-07-15 08:35] manan164 commented on #1781
Hi @kushalhalder , ideally we should be having some error logs Can you please try with debug log enabled. HTTP task is async in nature. There are only two places where we set the task status to cancel.
1. In case we terminate thee workflow https://github.com/Netflix/conductor/blob/e21ec25ad9a9389d5858f491ada1b37f6f3cd585/core/src/main/java/com/netflix/conductor/core/execution/WorkflowExecutor.java

[2020-07-15 13:39] nemiliani commented on #1784
Hi @manan164
Thanks for you answer $.value did the trick :smile: , and I guess about 2 you are talking about this https://github.com/Netflix/conductor/issues/1696 so I'll wait for that to get resolved, I am sorry I can't contribute with code but I am a c++/python dev.

Last problem I came across is that if I make the task i loop over a SIMPLE task i did not find a way to wire the iteration number

[2020-07-15 17:51] hodolizer opened #1785 "Dynamic fork type http tasks not executing"
I think this is a simple question. I'm generating tasks and inputs for a FORK_JOIN_DYNAMIC task. The dynamic tasks are type HTTP. When I run the workflow I see the dynamic tasks and inputs and they look correct but the FORK_JOIN_DYNAMIC never executes them. The FORK_JOIN_DYNAMIC task shows as Yellow, and when I click on it it doesn't show anything. Should the Conductor automatically run the dynami

[2020-07-15 17:54] sbusinen commented on #1677
@krishnaputhran
Did looping issue got resolved? I used same code that you mentioned above but same object is getting passed in all the iteration.
Please let us know in case if you get answer.
Thanks

[2020-07-15 21:12] eins commented on #1177
Hello folks, any news about this ticket, conductor and kubernetes support ?

[2020-07-15 22:14] kishorebanala commented on #1761
@jansonz Well, one option is to use a Lambda task in between (which also uses Nashorn javascript engine). Otherwise, you can do this output transformation as part of a simple task inside your worker.

We've plans to migrate away to better javascript rendering engines like [JQ](https://stedolan.github.io/jq/) in the future, which would make it easier to write and extract complex json path expressio

[2020-07-15 22:18] kishorebanala commented on #1769
@nikijain17 Not sure if something is still missing. You can check with Spectator folks at https://github.com/Netflix/spectator, who can better help with this.

Please feel free to reopen if you have further questions setting this up in Conductor.

[2020-07-15 22:18] #1769 closed

[2020-07-15 22:40] apanicker-nflx commented on #1775
@mdepak Agreed that in high throughput scenarios, ES indexing is one of the main bottlenecks. Further, the root cause here is the latency of the ES cluster to indexing requests at high throughputs. To mitigate this, one of the solutions we have considered is to use an intermediate Kafka layer which acts as a buffer for the indexing requests. Conductor writes all indexing requests to a Kafka topic

[2020-07-15 22:47] apanicker-nflx commented on #1784
Hi @nemiliani , currently it is not possible to wire the iteration number as an input parameter. However, having said that I believe this is a valid use case and would be a valuable improvement. We can look into adding this enhancement in a future release.

[2020-07-15 22:52] kishorebanala commented on #1785
Copying over from gitter chat:

Hey @hodolizer, What state are the Http tasks inside FORK_JOIN_DYNAMIC are in (SCHEDULED? IN_PROGRESS)? Also, does Http tasks execute fine outside FORK_JOIN_DYNAMIC? Can you open a Github issue with simple (say FORK_JOIN_DYNAMIC with 2 Http tasks) and reproducible example please.

[2020-07-15 22:54] apanicker-nflx commented on #1677
@manan164 Can you please chime in on this one? Thanks

[2020-07-15 22:55] apanicker-nflx commented on #1782
@sanyamsidana Thanks for reporting this issue. I have applied the `bug` label to it. We will debug this issue and fix this in a future release.

[2020-07-15 22:58] apanicker-nflx commented on #1177
@demichej Checking in to see if you would be able to pick this back up soon? Thanks.

[2020-07-15 23:05] kishorebanala commented on #1780
Hey @anuraggupta , we're in the process of setting up extensive load testing internally. But, Conductor open source already have several integration tests (test-harness module is the source of majority of them).

Internally, we use and test with Cassandra and internal flavor of queues. But, there are several others in the community who use MySQL, Dynomite and other supported databases.

If you hav

[2020-07-15 23:13] mdepak commented on #1775
Thanks, @apanicker-nflx for the quick response. Transferring the pending request to the external queue (which has low latency than elasticsearch) like Kafka to alleviate the heap usage of the conductor system should be helpful. Since Kafka consumers can be scaled independently, it should handle high throughput scenarios. Thank you!

[2020-07-15 23:35] hodolizer commented on #1785
I'll try to come up with an example. I was going to try to catch this in a debug session with vscode but that is proving difficult. From what I can tell the tasks are never picked up (queued) by the FORK_JOIN_DYNAMIC task. Neither the FORK_JOIN_DYNAMIC task nor the generated tasks show up in the Task Details. HTTP tasks work fine outside of this, I'm using a HTTP task earlier in the workflow.

[2020-07-16 04:27] eins opened #1787 "docker-compose old version, replace dynomite with redis"
Hello folks

I read https://netflix.github.io and I have a few questions.

I tried to build conductor-server from:
+ docker/docker-compose.yaml
+ docker/server/Dockerfile
+ docker/serverAndUI/Dockerfile

the docker-compose has values for docker-compose v1 like:
[code]

Where can I find more information about the correct settings to add an
external service for:

+ redis (no dynomite)
+ elasticsearc

[2020-07-16 07:36] manan164 commented on #1677
Sure. @apanicker-nflx

[2020-07-16 12:24] nemiliani commented on #1784
Hi @apanicker-nflx, thanks for your answer. Got it. Yes, I agree. Well, thanks all, I'll close the ticket since all is answered.

[2020-07-16 12:24] #1784 closed

[2020-07-16 13:26] csalasl89 opened #1790 "Recommended specs for Conductor"
Greetings.
I was wondering about what are the recommended specs for CPU/Memory for running Conductor as a docker image?
We're having some issues where we're trying to run it on an AWS ECS infrastructure, but at some point Conductor's CPU usage always goes up to 100% and then crashes, so I was wondering if there's a way to prevent this (via configuration or upgrading the CPU).
Thank you.

[2020-07-16 16:20] hodolizer commented on #1785
Okay, I discovered a missing curly bracket that vscode wasn't warning me about. That got me further along, but now it seems like the dynamic tasks are not getting matched up with the dynamic inputs. I think you can use this example, it uses a simple API call to generate pre-generated dynamic inputs and tasks.
[code]

[2020-07-16 18:25] #1774 closed

[2020-07-16 20:22] rickfish opened #1792 "why the workflow.task.pending.time.threshold.minutes property?"
It looks like the workflow.task.pending.time.threshold.minutes system property is used as a minimum value for response timeout. I don't understand the need for it. It also is a pretty hidden property so if you don't know anything about it then you have no idea why tasks are timing out even if they have large responseTimeoutSeconds values.

What is the reason this was added?

[2020-07-17 21:27] eins commented on #1787
it turns out that the docker-compose build conductor-server and conductor-ui.
to fix this I disabled the build option and builded conductor-server with redis option in the file conductor/docker/server/config/config.properties.

[code]

[2020-07-17 21:27] #1787 closed

[2020-07-19 21:54] demichej commented on #1177
@apanicker-nflx Yeah it is on our list still, but has been pushed further down :(

Also, do y'all have plans to push a Docker image (maybe to the Netflix OSS Hub)? We are able to override all configuration from environment variables, so if an image was made available in the public domain, it would be pretty nice/easy to use.

Thanks.

[2020-07-20 07:57] SuperMasterBlasterLaser opened #1795 "Operation: ( remove ) failed on key: [(a shard in) DECISION ]"
Hello.

I have a lot of tasks running on Conductor. When my workers are trying to execute them on polling, conductor responds with that kind of error

     {"code":"INTERNAL_ERROR","message":"INTERNAL_ERROR - Operation: ( remove ) failed on key: [(a shard in) DECISION ].","retryable":false,"instance":"18eb47ff475b"}

What is the meaning of this error?

[2020-07-20 11:49] SuperMasterBlasterLaser commented on #1790
I'm also interested in this. I have launched conductor via compose and I'm getting PoolTimeoutExceptions on development server where only 10 users calling their workflows.

[2020-07-20 13:11] msdhivya commented on #1771
Thank you @apanicker-nflx, @ritu-p .
PR: https://github.com/Netflix/conductor/pull/1796

Can you please review?

[2020-07-20 13:48] hodolizer commented on #1785
I figured this out. The problem was the "inputParameters" key in the dynamicTasksInputJSON return. There should just be key/values for the parameters themselves, without the "inputParameters" object enclosure.

[2020-07-20 13:48] #1785 closed

[2020-07-20 20:03] nemiliani opened #1797 "Poll does not return scheduled tasks if using Redis"
Hi All,

I have been trying to to use Redis as a back-end replacement for dynomite. For some reason when using Redis, Conductor server does not return any tasks that are scheduled when polling, IE :
[code]
That is from the example on the lab section for the kitchensink example.

Things I have tried so far :
* Using redis 3.0.6  (same version used by the dynomite docker image used in the docker-com

[2020-07-20 20:50] kunalgithub opened #1798 "Event Task - Input Data is not getting published to the Queue"
I am trying out the Conductor and below is my workflow defn

[code]

Event Handler ::

[code]

 "clientTransactionId" : "${transactionId}",
          "LoanRequest": "${request}"

are coming as null

Any clues ??

[2020-07-20 20:52] simarpal opened #1799 "Jedis connection timeout when conductor is running on heavy load"
The following image shows the failed HTTP.
![image](https://user-images.githubusercontent.com/25483663/87984410-ed6e4f00-caa7-11ea-9be8-6803df94447f.png)

Different workflows are failing on different task
**Common pattern**:
1) All failed task in all workflow is HTTP.
2) All Got 409 on the first try even though the target server creates a new record.
**3) The poll count is 2 (seems like conductor

[2020-07-20 23:06] #1775 closed

[2020-07-20 23:16] apanicker-nflx commented on #1792
@rickfish This property `workflow.task.pending.time.threshold.minutes` is only used [here](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/DeciderService.java#L608-L612) to print out an additional log statement and does not impact workflow execution in any way including triggering timeouts.
The purpose of this log line is to provide granular

[2020-07-20 23:20] apanicker-nflx commented on #1758
Closing since #1791 is merged

[2020-07-20 23:20] #1758 closed

[2020-07-20 23:24] apanicker-nflx commented on #1177
Thanks for the update, we are currently chalking out plans for Conductor 3.0 and publishing docker images as part of new releases is one of the items on the roadmap.

[2020-07-20 23:50] rickfish commented on #1792
@apanicker-nflx oh, for some reason our fork had a 'return true' after that logging statement. Maybe it was old code or something. Thanks for the response.

[2020-07-21 09:56] manan164 commented on #857
@kishorebanala We can make all user defined tasks like HTTP, KAFKA_PUBLISH sync by making this [flag](https://github.com/Netflix/conductor/blob/c47d57045a5b37b4292d0ba4482d8e643ee068ce/core/src/main/java/com/netflix/conductor/core/execution/tasks/WorkflowSystemTask.java#L80) to false right? This was we can make the conductor run workflow in sync manner.

[2020-07-21 11:18] anuraggupta commented on #1780
@kishorebanala " internal flavor of queues "  what do you mean by that ? I thought the queues are maintained in the backend DB. Isn't using cassandra for queues a anti-pattern ?

[2020-07-21 16:54] kishorebanala commented on #1780
We use an internal Queuing service that is not open source yet, which can be plugged into QueueDAO: https://netflix.github.io/conductor/extend/#backend.

Queuing layer can be implemented and plugged in separate from persistence layer. Some persistence implementations do have both persistence and queueing implemented (For eg., redis-persistence, mysql-persistence etc.), while cassandra-persistence

[2020-07-21 17:30] swayamraina commented on #1700
Hi, I believe adding a property under `server.properties` with other `redis.lock.server` properties fixes this.
Also we need to add this property while creating the `reddison config`

[2020-07-22 06:17] rajnishkg opened #1801 "Which feature can be used to restart the timed_out tasks (HTTP Tasks) once end system returns live after maintenance window"

[2020-07-22 08:24] kunalgithub commented on #1798
Seems i was missing input parameter on the task . That solved the issue

[2020-07-22 08:24] #1798 closed

[2020-07-22 10:47] beatfreaker commented on #1782
I think in [WorkflowExecutor.java#L1453](https://github.com/Netflix/conductor/blob/be9e74ebd8ee784abb2b5d0eeb9d4c3786fe108f/core/src/main/java/com/netflix/conductor/core/execution/WorkflowExecutor.java#L1453)

[code]

@apanicker-nflx  Can I create a PR with this solution ?

[2020-07-22 11:08] andyyumiao opened #1802 "For UI Authentication"
I want to use authentication of UI, if use local authentication strategy, should i need to install passport-local separately?

[2020-07-22 14:02] beatfreaker commented on #1523
@Valarin @kishorebanala  I might be wrong but I think below comment should solve this issue

I see that you are using Javascript `arrow` function, now as it is `es6` feature and if we wan't to use it we have to enable it in `nashorn` while creating ScriptEngine by passing `--language=es6`

example:
[code]

But ScriptEngine is not created in this way in [ScriptEvaluator.Java](https://github.com/Net

[2020-07-22 15:07] kosmjon opened #1803 "SimpleTaskMapper getName() should be getType()"
In core project com.netflix.conductor.core.execution.mapper.SimpleTaskMapper lines 84-85 are
` simpleTask.setTaskType(taskToSchedule.getName());`
` simpleTask.setTaskDefName(taskToSchedule.getName());`
But should be:
` simpleTask.setTaskType(taskToSchedule.getType());`
` simpleTask.setTaskDefName(taskToSchedule.getName());`
In our customized Conductor flows using SIMPLE task were never finishing w

[2020-07-22 16:03] kunalgithub commented on #1640
Is there a way to handle such scenario - like writing a SIMPLE task which Queues these messages and then deliver the EVENT ? :( anything that is planned out in future ?

[2020-07-22 16:04] kunalgithub commented on #1640
@kushalhalder How did go about the implementation of such scenario ?

[2020-07-22 20:36] kushalhalder commented on #1640
I am afraid that I did not do a good job :| @kunalgithub

I created a small **service**, which **receives the events**, and these events have a lifecycle: **SCHEDULED, COMPLETE**. (I wanted to add In-Progress but it was not required by design).
The Wait tasks have been configured to be **SIMPLE** tasks by **definition**.
The service also implements **Conductor Workers** for each of the Wait Tasks,

[2020-07-23 12:58] NeuralViva opened #1804 "Is Kafka eventing likely to be in version 3.0 of Conductor?"
Hi,

I've been looking into Microservice orchestrators for my organisation and Conductor fits most of our requirements really well.

One missing thing was the ability to start a process via a message on a Kafka Topic. I saw this [PR](https://github.com/Netflix/conductor/pull/672) which was closed in 2019 and was wondering if anything like this is on the roadmap for Conductor?

Great project BTW.

[2020-07-23 18:55] anuraggupta commented on #799
@cyzhao any update on Java 11 support ?

[2020-07-24 03:30] andyyumiao opened #1805 "What's the step for ui authentication/authorization/audit?"

[2020-07-24 08:07] rickfish opened #1806 "PR #1748 causes a limit to the number of 'conductor' events that get polled"
PR #1748 seems to limit the number of event types that are polled by the DynoObservableQueue implementation because of the new Scheduler that it uses. The new 'workflow.event.queue.scheduler.poll.thread.count' property puts a hard limit on the number of 'conductor' event types that get polled. I don't think that was the intent because adding a new event handler should not require that thread count

[2020-07-24 10:11] anuraggupta opened #1807 "How to setup a HA cluster of conductor in K8s ?"
I have been trying to get head around HA setup in K8, but the documentation doesn't contain all the information.
Like how Work is sharded between conductor servers, how would external workers get tasks (Documentation states that queues are sharded per server) ? Should the workers connect to all the servers ?

What I'm planning to do is as follows:

Load balancer -> GroupOf( Conductor-Server-1, Con

[2020-07-24 18:30] rickfish opened #1808 "Is there a reason why WorkflowStatusListener does not have an onWorkflowFailed() method?"
Our users want us to email them when a workflow status changes to FAILED. WorkflowStatusListener has an onWorkflowCompleted() method and an onWorkflowTerminated() method. Was it intentional not to provide an onWorkflowFailed() method in there? Is this something I should try to add?

[2020-07-27 06:44] belencoding commented on #872
i meet the same issue, How do you configure it? thanks

[2020-07-27 11:22] elisherer commented on #1805
See https://github.com/Netflix/conductor/tree/master/ui/src/auth.

[2020-07-27 11:23] elisherer commented on #1802
All the required dependencies (which are supported) are already installed. You just specify in the configuration what kind of auth you want.

[2020-07-27 13:20] simarpal commented on #1799
@manan164 any suggestion on this. This is not only happening to HTTP but worker task as well. The conductor is unable to poll timely and connection timeout.

[2020-07-27 19:24] rickfish commented on #1804
I have this working on our local implementation. I keep getting distracted from contributing it back though. It is working great but contributing it back is the tough part - test cases, documentation, etc. I also have added the ability to send any errors during the processing of the event to an 'errors' topic and to send an email if there is a failure. Also I have added jaas security capability to

[2020-07-28 20:02] eins opened #1811 "Conductor server metrics how/help + prometheus"
Hello guys
I read a few tickets about conductor server and prometheus metrics

https://github.com/Netflix/conductor/issues/600
https://github.com/Netflix/conductor/issues/1769

And the conductor documentation
https://netflix.github.io/conductor/metrics/server/

But I can't understand how to enable spectator in conductor server and
then push metrics to a external prometheus server.

https://netflix

[2020-07-29 14:37] nemiliani commented on #1797
Just as an update, going back up to 2.24 did not help. So I don't know what else other that just use it through dynomite. Seeing that that project is a bit stale makes me nervous, doesn't you ?

[2020-07-29 21:38] #1700 closed

[2020-07-29 21:42] apanicker-nflx commented on #1799
From the exception posted above, this seems to be failing connections to redis-server. Could you please verify the configurations of your redis server?

[2020-07-29 21:45] apanicker-nflx commented on #1782
@beatfreaker Please feel free to contribute a PR with the fix. Please also add tests as part of your PR.

[2020-07-29 21:45] #1792 closed

[2020-07-29 21:47] apanicker-nflx commented on #1763
@TwoUnderscorez Based on my conversations with the Dynomite team, the website linked above was an independent company providing Dynomite as a service which is non-functional. However, the GitHub project for dynomite is still active.

[2020-07-29 21:47] #1763 closed

[2020-07-29 21:52] #1780 closed

[2020-07-29 21:52] apanicker-nflx commented on #1801
@rajnishkg You could restart or retry all your failed/timed_out workflows which were affected by the HTTP task timeouts once the end system is back live. This can be done using the Conductor API.

[2020-07-29 21:52] #1801 closed

[2020-07-29 22:00] apanicker-nflx commented on #1523
@beatfreaker Thanks for helping debug this. In the long term, we plan to switch to Oracle GraalVM instead of Nashorn in the future versions of Conductor and will revisit this during the migration.

[2020-07-29 22:03] apanicker-nflx commented on #1803
Could you please elaborate on this? Do you have specific handling by task type in your implementation?

[2020-07-29 22:14] #1771 closed

[2020-07-29 22:16] apanicker-nflx commented on #1806
@mdepak Can you please comment on this change?

[2020-07-29 22:20] kishorebanala commented on #1804
This definitely seems like a valuable addition, but might take a while until we reach there in our roadmap. We'd very much welcome the discussion and contribution from the community.

[2020-07-29 22:20] apanicker-nflx commented on #1807
When using the MySQL datastore and queue recipe, queues will not be sharded for per server. This is specific to the dynomite implementation.

[2020-07-29 22:22] apanicker-nflx commented on #1808
The `onWorkflowTerminated()` method is invoked even during workflow failures. The idea was to add listeners for success and failure cases and this sufficed the requirement.

[2020-07-29 22:22] #1802 closed

[2020-07-29 22:23] #1805 closed

[2020-07-29 22:29] apanicker-nflx commented on #1797
@nemiliani From the logs and investigation above, it seems that the connection is active and tasks are being enqueued correctly. Are you seeing any exceptions in your poll calls? Can you try setting breakpoints in the code and step through to the redis libraries to see if any errors are being thrown?

[2020-07-30 07:33] btafarelo opened #1812 "How to implement and deploy a WorkflowStatusListener"
Hi

Conductor's documentation tells on expand session to implement this interface to have a "Workflow Status Listener" but this document doesn't tell where to deploy the jar generated, if it's a jar.

I have created a maven project, added conductor-core as a dependency but I don't know where to put it and how select it on my workflow.

Regards

[2020-07-30 13:47] rickfish commented on #1808
Oh sorry. I should have tested it. When I did searches on the code I only saw onWorkflowTerminated() called in the terminateWorkflow method of WorkflowExecutor so I didn't think it was called on just a FAILED workflow. I just tested it and it works fine. Thanks!

[2020-07-30 13:47] #1808 closed

[2020-08-01 15:44] rickfish opened #1814 "Build issues - gradlew build - SubWorkflowParamsTest fails, docker build cant find ./gradlew"
Having multiple issues with building master branch of Conductor using Windows 10/Gitbash. Just did a clone of the master branch. From the conductor root did a ./gradlew build and it failed on the SubWorkflowParamsTest:

[code]
Then I tried to do a docker build from the docker directory with 'docker build -t conductor:server ./server' and got this:
[code]

Gist link for the full log: https://gist.g

[2020-08-03 11:16] elisherer commented on #1814
Docker errors on Windows sometimes relates to having \r\n line endings instead of \n.
If you can, try re-checking-out conductor with unix line endings git configuration and try again.

[2020-08-03 12:46] rickfish commented on #1814
Thanks @elisherer Not sure why nobody else is running into this as it is a fresh clone of the master branch...

I tried the following but it didn't change anything.

[code]
I still get the test error and the docker build has the same issue.

[2020-08-03 23:17] apanicker-nflx commented on #1812
[Here](https://github.com/Netflix/conductor/blob/master/contribs/src/main/java/com/netflix/conductor/contribs/ArchivingWorkflowModule.java) is a simple example of how a workflow status listener implementation can be bound.

[2020-08-03 23:25] #1696 closed

[2020-08-03 23:30] apanicker-nflx commented on #711
Closing due to inactivity. Please feel free to submit a PR with the change.

[2020-08-03 23:30] #711 closed

[2020-08-03 23:31] #704 closed

[2020-08-03 23:31] #700 closed

[2020-08-03 23:32] apanicker-nflx commented on #694
This should be resolved with the use of [TaskRunnerConfigurer](https://github.com/Netflix/conductor/blob/master/client/src/main/java/com/netflix/conductor/client/automator/TaskRunnerConfigurer.java).

[2020-08-03 23:32] #694 closed

[2020-08-03 23:33] #643 closed

[2020-08-03 23:33] #628 closed

[2020-08-03 23:34] #540 closed

[2020-08-03 23:34] #577 closed

[2020-08-03 23:34] #578 closed

[2020-08-03 23:35] #602 closed

[2020-08-03 23:35] #558 closed

[2020-08-03 23:36] #460 closed

[2020-08-03 23:39] #624 closed

[2020-08-03 23:39] #629 closed

[2020-08-03 23:40] apanicker-nflx commented on #1153
Closing due to inactivity.

[2020-08-03 23:40] #1153 closed

[2020-08-03 23:42] #1181 closed

[2020-08-03 23:43] #1188 closed

[2020-08-03 23:43] #1197 closed

[2020-08-03 23:45] #1200 closed

[2020-08-03 23:45] #1204 closed

[2020-08-03 23:45] #1210 closed

[2020-08-03 23:45] #1211 closed

[2020-08-03 23:46] #1213 closed

[2020-08-03 23:46] #1215 closed

[2020-08-03 23:48] #1223 closed

[2020-08-03 23:49] #1239 closed

[2020-08-03 23:49] #1244 closed

[2020-08-03 23:50] #1246 closed

[2020-08-03 23:51] #1236 closed

[2020-08-03 23:51] #1264 closed

[2020-08-03 23:51] #1235 closed

[2020-08-03 23:52] apanicker-nflx commented on #1266
Closing due to inactivity.

[2020-08-03 23:52] #1266 closed

[2020-08-04 01:26] mdepak commented on #1806
Using the Execution scheduler does not limit the number of events that can be polled. In the implementation, there will be one instance of ObservableQueue implementation per event type. Singleton scheduler object will be used across all the observable queues and threads from this scheduler thread pool will be used for polling.

In earlier implementation Computation scheduler is used and that has u

[2020-08-04 03:15] rickfish commented on #1806
@mdepak the reason I opened this issue is because we found this to be a problem. When we deployed the new code, we noticed that only one event type was being processed. We run our instance(s) of conductor on OpenShift, RedHat's Kubernetes platform. Each instance (pod) is given fractions of cores. In our case, each pod only needed one core. The new code, because there was only one core and we used

[2020-08-04 17:13] alex-fu opened #1816 "getNextTask will get wrong task if DO_WHILE task is embed in FORK or DECISION"
I create a workflowDef like below. A DO_WHILE task is inner task of a FORK task. When test1 task finished, getNextTask will return test2, and test2 is also considered as inner task in DO_WHILE.

I found a PR #1479 for similar issue. But that's not apply to my situation. In that PR, it only checks the DO_WHILE task in the top level of tasks, if the DO_WHILE is a inner task, that will has no effect.

[2020-08-04 23:10] #409 closed

[2020-08-04 23:12] #883 closed

[2020-08-04 23:13] #976 closed

[2020-08-04 23:13] #948 closed

[2020-08-04 23:16] #1387 closed

[2020-08-04 23:17] #1389 closed

[2020-08-04 23:18] #1573 closed

[2020-08-04 23:18] #1535 closed

[2020-08-05 16:30] NeuralViva commented on #1804
Thanks for the responses, I'm currently asking around in my org to see if there is any appetite to support this.

I'm also happy to contribute to any efforts (although my Java is a little Rusty), is there a recent fork available to work on @rickfish?

[2020-08-06 16:13] rickfish commented on #1804
@NeuralViva do you have access to https://github.com/rickfish/conductor? That is my fork. The branch is feature/kafka-event-source. There is a document under conductor/docs/docs/kafkaeventsource.md that should have enough info to get you started. I can use some suggestions if the document does not cover everything or is confusing. I currently do not have any test cases yet.

[2020-08-06 18:15] indiv0 commented on #1799
So in our case (I work with @simarpal) it appears to be caused by a combination of:
1) RDB & AOF (everysec) persistence being enabled in Redis
2) Our custom workflow archiver module not clearing out old workflows, so
3) Redis uses large amounts of memory for storage due to old data
4) Writing RDB to the disk while under heavy write load due to AOF (everysec) causes severe latency spikes (>2s) whic

[2020-08-06 18:34] indiv0 commented on #1799
Also, on a semi-related note: is it possible to have multiple implementors for `WorkflowStatusListener`? If we plan to use conductor's archive module, and another module of our own (unrelated to archiving), will we need an intermediary layer that calls `onWorkflowCompleted` for both these modules?

[2020-08-10 11:31] DivineDm opened #1827 "Build conductor server 2.28 with ES6, start up error"
Hi All,
I am trying to build a conductor server in version 2.28 with es6, but there is a start error in my way, the error is "Caused by: java.lang.ClassNotFoundException: conductor.org.apache.logging.log4j.core.config.Configurator".
My build command in maxOS is ./gradlew clean configureRelocationShadowJar shadowJar -x test -Prelease.version=1.0.0
Is there something i missing?
By the way, I had don

[2020-08-10 23:57] kishorebanala commented on #1827
Copying my response from Gitter:

```Hey @DivineDm, any particular reason to use Conductor 1.28 over the latest available 2.x deployments?```

[2020-08-11 08:48] slipmp commented on #1814
I am having the same issue... again!

[image](https://user-images.githubusercontent.com/2482926/89877204-9c1c2180-db74-11ea-930b-e43a025f1ca0.png)

For reference, previously faced and issues were raised on:
https://github.com/Netflix/conductor/issues/1707
https://github.com/Netflix/conductor/issues/1685

[2020-08-11 14:50] Dodgee commented on #1677
Experiencing similar issues in binding the iteration to a task within "loopOver".

If there is only a single task defined then I can't bind the iteration. Input always results as null.
If there are one or more tasks defined then I can't bind the iteration to the first task in the loopOver array. Input always results as null. Using the same binding "${taskref.output.iteration}" on the other tasks w

[2020-08-12 16:52] shrikantmule commented on #1538
I am stuck at publishing the event using Rabbit MQ. I have updated the server.properties with Rabbit MQ configuration. I could see endpoint /api/event/queues/providers' is returning me AMQPEventQueueProvider. However I was expecting that at start up FAILED and COMPLETED queues will get created in my RabbbitMQ but I don't see them getting created.

I could also see that AMQPModule.getAMQQueueEventQ

[2020-08-12 17:14] ritu-p commented on #1538
@shrikantmule ,
 Hope you have created event handlers via events that will create the listeners. with amqpObservablequeues

[2020-08-13 03:37] DivineDm commented on #1827
@kishorebanala sorry, typo my bad! My forked conductor version is 2.28, also updated in gitter.  By the way, I had edited the build.gradle, and run with es6 successfully now, but I'm not sure what i did is the best practice

[2020-08-13 05:49] shrikantmule commented on #1538
@ritu-p I am very new to this product and didn't follow exactly what you mean. If you could post some example or sample code that will be really helpful.

[2020-08-13 08:04] slipmp commented on #1814
Indeed what @elisherer has mentioned made sense.
My PC: Windows 10
Cloning via GitBash.

By executing this line via GitBash:
git config --global core.autocrlf false

Then trying to run docker-compose up on docker folder it passed the line of the error. Essentially the end of line caused a problem. We can easily visualize the difference on Notepad++ via View->Show Symbol->Show End Of Line
![image](

[2020-08-13 14:59] rickfish commented on #1814
Not sure what I am doing differently but I tried this with both core.autocrlf true and false. I verified with Notepad++ in both cases that Dockerfile had LF in one case and CRLF in the other case. In both cases I had the same problems discussed in this Issue.

[2020-08-13 16:24] slipmp commented on #1814
Let me disclose steps I've executed, which is explained on my first reference.

1. Delete your current conductor folder
2. Run git config --global core.autocrlf false; or simply make sure it is already set if you ran in the past
3. Clone conductor repo again
3. Check if end of lines shows as CRLF via NotePad++ by opening a DockerFile, e.g. => conductor/docker/server/DockerFile
4. Run docker-compos

[2020-08-13 16:54] rickfish commented on #1814
I ran exactly those steps (again) but I had to use core.autocrlf true to get CRLF line endings. I added --config core.autocrlf=true on the git clone command to ensure that it took. Not sure why your autocrlf as false gets CRLF line endings but my setting needs to be true, maybe that is pointing to the issue somehow.

I am cloning fresh every time from the master branch.

Again, I am on Windows 10

[2020-08-13 17:26] elisherer commented on #1814
@rickfish, if it wasn't clear, docker requires \n (LF) only. It detects the \r (CR) as a character and that's why the bash command fails.
so you need the `core.autocrlf=false` and if possible use `core.eol=lf`.
I also suspect that because the container is running linux, all the other files like config and even Java might suffer from this, and that's why it is best to clone the repo again.
If that

[2020-08-13 18:06] rickfish commented on #1814
@elisherer that did the trick - it was a combination of core.autocrlf=false (to get LF) and core.eol=lf. Thanks so much for your help. @slipmp thanks for sticking with me.

[2020-08-13 18:06] rickfish commented on #1814
closing issue

[2020-08-13 18:06] #1814 closed

[2020-08-13 19:13] slipmp commented on #1814
Nice, it seems I've inverted screenshots then. I am glad this is solved for you @rickfish

[2020-08-13 22:58] surajrrao commented on #1367
@sfeitler-oracle where you able to progress on ES 7

[2020-08-14 16:09] manan164 commented on #1816
Sure @apanicker-nflx

[2020-08-17 23:16] shrikantmule opened #1833 "How do I timeout WAIT system task ?"

[2020-08-17 23:17] shrikantmule commented on #1833
I would like to timeout the WAIT system task since there is not activity and Event listener didn't get any event to for the WAIT task for after a few hours and would like to timeout the WAIT task.

[2020-08-17 23:50] apanicker-nflx commented on #1799
@indiv0 The observations about the `searchArchivableWorkflows` method are correct, the limit was introduced to constrain the bound of the ES query. This was done as an experimental task but was never removed. Please feel free to refactor/redo this method.

In the case of synchronous indexing, you can use immediate archival upon completion. The latency for loading such workflows would be slightly h

[2020-08-18 00:08] kishorebanala commented on #1827
@DivineDm No worries. Can you provide more details about changes in build.gradle that has fixed your error please.

[2020-08-18 00:13] apanicker-nflx commented on #1833
@shrikantmule You can register a task definition with a desired timeout and use this name for your WAIT task within your workflow. This would apply the task definition to your WAIT task and will lead it to be timed out if it is IN_PROGRESS for longer than specified duration.

[2020-08-18 00:13] #1833 closed

[2020-08-18 11:53] elisherer commented on #1669
Changing the `queryExpression` to:
[code]
did the trick (notice the surrounding brackets)

[2020-08-18 14:07] indiv0 commented on #1799
Thanks for the information!

[2020-08-18 14:32] FrankOwen commented on #1677
Any update on this issue? This proposed solution does not work, and yields the first element of the array for every iteration.
There seems to be no way to iterate over members of an array.

[2020-08-18 14:55] elisherer commented on #1677
There seems to be an error in the workflow task (`loopOver[0].inputParameters.iterator`), I think it should be `${test_loopTask.iteration}` and not `$.test_loopTask['iteration']`. See:
[code]

[2020-08-18 16:53] FrankOwen commented on #1677
I tried that. It doesn't work either. iterator becomes null, and script still returns the 0 element in the array.
I have a workaround using lambas to track a loop_index that I hack onto workflow.input. This should work.

[code]

[2020-08-18 20:08] elisherer commented on #1677
Better not use workflow.input as it is immutable (or at least suppose to be)

I found out that `iteration` is stored in the DO_WHILE output. see the following:

[code]

Returns the following output:
[code]

[2020-08-18 21:13] FrankOwen commented on #1677
Interesting.. I did try output.iteration, but I found, as reported here by others, that the output.iteration sequences as "1,1,2,3,4" instead of "0,1,2,3,4", which is not usable. perhaps this has been fixed lately? This would def. be preferred to my hack. We are running our own instance of conductor.. perhaps it is old..

[2020-08-19 06:26] heinrichcohn opened #1834 "Add global workflow variables support"
@apanicker-nflx @elisherer
I would like to add a new type of task that allows create/update variables at the workflow level. This feature is based on:
[Issue:1207](https://github.com/Netflix/conductor/issues/1207)
[PR:1323](https://github.com/Netflix/conductor/pull/1323) which was not merged eventually.

The idea is to have a dedicated system-task which can be used to set variables as part of a wo

[2020-08-19 21:44] ktfth commented on #880
This happened to me

Task ':conductor-common:protogen' is not up-to-date because:
  Task has failed previously.
protogen: processing Jar '/home/kaique/war/conductor/common/build/libs/conductor-common-2.29.0-SNAPSHOT.jar'
protogen: found com.netflix.conductor.common.metadata.events.EventExecution
protogen: found com.netflix.conductor.common.metadata.events.EventHandler
protogen: found com.netflix.c

[2020-08-19 21:45] ktfth commented on #880
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=20.04
DISTRIB_CODENAME=focal
DISTRIB_DESCRIPTION="Ubuntu 20.04.1 LTS"
NAME="Ubuntu"
VERSION="20.04.1 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.1 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/

[2020-08-20 22:53] manan164 commented on #1677
Hi @FrankOwen The seq number issue has been fixed via [1815](https://github.com/Netflix/conductor/pull/1815).
We are putting iteration value in DO_WHILE task output Please check documentation https://netflix.github.io/conductor/configuration/systask/#do-while-task.
```Do while task output number of iterations with iteration as key and value as number of iterations```
Putting it in each loop over t

[2020-08-20 23:54] FrankOwen commented on #1677
Thanks, @manan164 . I guess our deployment must be more than 17 days old! I will see about getting updated. Would be good to remove my hack. Putting it in output is a little weird, since I think of 'output' as FINAL value of a task. But I'll take whatever works!

[2020-08-21 04:00] xiyan1120 commented on #1107
How do I do the task fallback？

[2020-08-21 05:33] xiyan1120 opened #1836 "How do I do the task fallback？"

[2020-08-21 07:11] andyyumiao opened #1837 "About dyno-queues"
I used MySQL as the default storage. I know that the conductor still depends on dyno-queues, but as far as I know, dyno-queues depends on Dynomite. So do we need to deploy a redis cluster separately for dyno-queues?

[2020-08-24 12:06] HenryLauu commented on #871
any updates? I got a task polled by workers twice.
`"retryCount":0,
         "seq":2,
         "pollCount":2,`

[2020-08-24 22:39] andyczerwonka opened #1842 "broken link to the Distributed Locking Service"
The following link is broken: https://netflix.github.io/technicaldetails/#maintaining-workflow-consistency-with-distributed-locking-and-fencing-tokens

If it referenced from https://netflix.github.io/conductor/server/

![image](https://user-images.githubusercontent.com/138898/91103274-59545200-e628-11ea-9d02-5baf7992e98c.png)

[2020-08-24 23:20] andyczerwonka commented on #1842
I'd love to reach about this, but can't see to track it down.

[2020-08-24 23:34] apanicker-nflx commented on #1842
Thanks for reporting the issue, we will fix the link ASAP. In the meantime, here's the link - https://netflix.github.io/conductor/technicaldetails/#maintaining-workflow-consistency-with-distributed-locking-and-fencing-tokens

[2020-08-24 23:47] #1842 closed

[2020-08-24 23:48] #1799 closed

[2020-08-25 00:06] #1207 closed

[2020-08-25 01:28] HenryLauu commented on #1752
would you pls give me more details about fixing this problem? @apanicker-nflx

[2020-08-25 23:37] #1669 closed

[2020-08-25 23:39] apanicker-nflx commented on #1837
When using MySQL as the persistence layer, Conductor can be configured to use MySQL for providing the queueing recipe as well. You do not need to deploy a redis cluster for dyno-queues. [See](https://github.com/Netflix/conductor/blob/master/mysql-persistence/src/main/java/com/netflix/conductor/mysql/MySQLWorkflowModule.java#L42)

[2020-08-25 23:49] kishorebanala commented on #1836
Hey @xiyan1120 , can you provide more details with an example please?

[2020-08-25 23:58] kishorebanala commented on #871
@HenryLauu Can you provide more details about task being poll twice by workers please? It'd help to see the workflow execution with timestamps, posted somewhere as a snippet.

[2020-08-26 02:33] andyyumiao commented on #1837
Ok, got it, many thanks!!!

[2020-08-26 02:33] #1837 closed

[2020-08-26 17:07] Hajar1 opened #1844 "HTTP system tasks are being sent without encoding"
When it comes to the HTTP system task some of the inputs might contain space in them.
That space needs to be encoded as %20 before being sent to the endpoint.

Example:
![image](https://user-images.githubusercontent.com/13091952/91334631-3eefb500-e79d-11ea-8a40-d2c5ad67f75f.png)

The url encoding version should be:
SMS%202008191839bfb57c2e8-2756-4

[2020-08-27 02:22] demichej commented on #1743
@rickfish (and @kishorebanala) did you get a fix for this at all? We're seeing what looks to be some kind of infinite loop that has to do with Subworkflows and termination thereof. Also, we are unable to Terminate the parent workflow in this state.

`2325527593 [pool-17-thread-5] INFO  com.netflix.conductor.core.execution.WorkflowExecutor  - Execution terminated of workflow: 9f2fcf5d-fce3-44b3-90e

[2020-08-27 19:02] rickfish commented on #1743
We spent a lot of time debugging this. As mentioned previously, we found that a StackOverflowError would happen if a SUB_WORKFLOW task is IN_PROGRESS when the underlying subworkflow was FAILED. The problem was that we could not get to the bottom of what use case in Conductor could cause this out-of-sync condition to happen. So right now we added some code in WorkflowExecutor in the terminateWorkfl

[2020-08-28 17:30] btafarelo opened #1848 "Subworkflow in progress but the workflow is completed"
Hi!

I have a workflow that I splitted in few sub workflows, and one of them sometimes is work perfectly but many times it keep in progress indefinitely, as you can see in the screenshot attached.

Let me know any other information that can be useful.

**UPDATE: After start to deploy all workflows everytime and not only the one updated this behaviour seems to stopped.**

Regards

Snippet sub_workf

[2020-08-28 19:40] btafarelo opened #1849 "Subworkflow doesn't return output"
Hi!

I made a subworkflow to organize some variables and there isn't an output but the workflow show the output correctly.

On my second screenshoot there is my last attempt in make it works, where I have set a hardcode variable.

Other subflows work fine but this one doesn't. This sub/workflow only has lambda tasks.

`{
      "name": "FORK_VARIABLES",
      "taskReferenceName": "FORK_VARIABLES",

[2020-08-29 10:49] #1812 closed

[2020-08-29 10:52] btafarelo commented on #1812
I found how to deploy using docker.

I copied the folder /app from my docker container, changed the startup.sh script and mounted my local folder.

I copied my jar into /app/libs

`java -cp libs/*.jar com.netflix.conductor.bootstrap.Main $config_file $log4j_file`

[2020-08-30 15:23] demichej opened #1851 "Fork tasks random workflow Termination"
We're seeing some behavior that looks like it could be some possible race condition when all tasks fail in a Fork, but no retries are ever attempted.

We have 2 tasks in a Fork that get kicked off in parallel. Both of these tasks have a retry count of 4, FIXED retry logic...here's an example task def:

[code]

The issue is that sometimes the workflow correctly retries these tasks, and sometimes it

[2020-08-31 11:53] vikas1389 commented on #770
Docker-compose gives error - it doesnt download depedencies well.

[2020-08-31 11:54] vikas1389 commented on #770
FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':conductor-server'.

     Required by:
         project :conductor-server > project :conductor-jersey
         project :conductor-server > project :conductor-grpc-server > project :conductor-grpc

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get m

[2020-08-31 23:34] kishorebanala commented on #1844
Hey @Hajar1 , Http url in http task is passed through without any modifications. Given that Http task is generic and is intended to support several different types of resource servers, it'd be much simpler if the Http task doesn't modify the incoming uri paths.

That being said, you can encode the uri's in one of the several ways like using a Lambda task in between, modifying the client to send en

[2020-08-31 23:58] apanicker-nflx commented on #1848
@btafarelo Could you please let us know the result of manually forcing the evaluation of the parent workflow? This could be done by invoking this API manually using cURL or swagger -
![image](https://user-images.githubusercontent.com/34087882/91779673-1a377b00-ebab-11ea-946e-34ecb00769d7.png)

[2020-09-01 00:02] apanicker-nflx commented on #1851
Labeling as a bug for now while we try to reproduce and debug this issue. Please let us know if you make any progress on your end with regards to identifying the root cause.

[2020-09-01 00:07] kishorebanala commented on #1849
Hey @btafarelo , Can you let us know what your `JOIN_VARIABLES` task output looks like?

Join task should contain all the output data from tasks it is joining on, as key value pairs, where key being the task reference name from joinOn array.

And if `JOIN_VARIABLES` is the last task in workflow, the workflow output should be copied over from this task, *unless* the workflow output is parameterized

[2020-09-01 18:31] #1834 closed

[2020-09-01 19:56] #1782 closed

[2020-09-02 16:47] kensou97 opened #1852 "Is this better to use json instead of toString()?"
https://github.com/Netflix/conductor/blob/856de56963b221cb29a83048b2120523fe4d243d/common/src/main/java/com/netflix/conductor/common/run/WorkflowSummary.java#L119

I get workflowSummary from listener, however i can't process input and output because they're map.toString format...

[2020-09-02 17:08] manan164 opened #1853 "Workflow execution time increased in high throughput scenario."
We have pulled the latest conductor release v2.28.3 in our environment. Since the last pull was around a few months back there are around 400+ commits that got merged.
During the high throughput scenario, we see that the HTTP task queue is getting piled up and that causes the overall task and workflow execution latency to become very high.
Do we have to change any config for a high scale scenario?

[2020-09-02 17:11] vikas1389 opened #1854 "Netflix Conductor installation doesnt work with docker-compose instructions"
Hello Team,

We want to use the tool to orchestrate deployments of services- we are not able to standup the tool on docker - we get many gradle dependency error. Can someone please help on docker part of installation- it would be great if we have docker images for every components invoved in the tool.

[2020-09-03 10:35] SwarnadeepC0 commented on #1455
Did the solution work?

[2020-09-03 10:51] mishika29 opened #1855 "no tasks listed in the search tasks API response"
I am trying to use the following API for conductor in order to search for registered tasks:
curl -X GET --header 'Accept: application/json' 'http://localhost:8080/api/tasks/search?size=100&freeText=*'

The response received is:
{"totalHits":0}

Whereas the tasks have already been registered and are listed well for the get all tasks API
The same is the scenario I face with the search workflow tasks

[2020-09-04 11:09] DivineDm commented on #1827
@kishorebanala I had rollback the build.gradle to conductor 2.26, and it works

[2020-09-06 15:56] vtzi opened #1856 "Retries and sub-workflows behaviour"
The current workflow retry behaviour (i.e. `POST /workflow/{workflowId}/retry`) doesn't play nice with sub-workflows.

If we have two workflow definitions (T`x` denotes a simple task):
SF: T1 -> T2 -> T3
PF: T4 -> SUB_WORFLOW(SF) -> T5

Failure in T3 will put SF in failed state and will propagate the error to parent workflow (PF) which will also be put in failed state.

The current retry behaviour

[2020-09-07 12:10] HenryLauu commented on #1752
hi @apanicker-nflx I am using zookeeper as lock service and this issue happened again and again , would you pls give me some advice

[2020-09-07 12:11] HenryLauu commented on #1752
hi @kushalhalder , would you pls kindly tell me that how did you fix this problem?

[2020-09-07 12:22] HenryLauu commented on #871
Hi @kishorebanala . Sorry for the delay . Here are some task details:
"ownerApp": "",
   "createTime": 1599471668218,
   "updateTime": 1599471678635,
   "status": "FAILED",
   "endTime": 1599471678635,
   "workflowId": "4c24f6ef-76fe-49f2-b723-612261045125",
   "parentWorkflowId": "f6a3cbf8-8a31-453b-8761-f37f767871eb",
   "parentWorkflowTaskId": "7eee29a5-ec90-4577-8f12-1eea3b3ea3ff",

another po

[2020-09-07 12:25] kushalhalder commented on #1752
Hi @HenryLauu, I have not worked on this yet. But anyway, how are you sure that the locks are made in zookeeper?

[2020-09-07 12:29] HenryLauu commented on #1752
I config conductor sever something like :
`workflow.decider.locking.enabled=true

    workflow.decider.locking.server=zookeeper

    workflow.zookeeper.lock.connection=zookeeper:2181

    workflow.decider.locking.namespace=conductor`

[2020-09-07 12:30] HenryLauu commented on #871
I am using mysql as storage and zookeeper as lock service

[2020-09-07 12:42] kushalhalder commented on #1752
When you query zookeeper, can you see any data?

[2020-09-07 12:59] HenryLauu commented on #1752
yes something like _c_1e0c3655-1df3-4766-9b8e-df8b4b9656ed-lock-0000000005

[2020-09-08 01:23] HenryLauu commented on #871
hi @kishorebanala any advice to fix this problem? We have this issue in production

[2020-09-09 06:56] ssg2526 opened #1857 "fork join skipping a wait task in one forked branch"
I am using this DSL
{
  "name": "forkJoinIssueTestA",
  "version": 1,
  "tasks": [
    {
      "name": "forkjoin",
      "taskReferenceName": "forkjoinref",
      "type": "FORK_JOIN",
      "forkTasks": [
          [
          {
            "name": "wait4",
            "taskReferenceName": "wait4ref",
            "type": "WAIT"
          },
          {
            "name": "wait5",
            "tas

[2020-09-09 08:01] HenryLauu opened #1858 "task without workflow"
Is it possible to add a task without defining workflow then poll the task to execute? I have many independent tasks that are supported to executed by distributed workers

[2020-09-09 08:07] elisherer commented on #1858
You can use [Dynamic Workflows](https://netflix.github.io/conductor/gettingstarted/startworkflow/#dynamic-workflows)

[2020-09-09 08:13] elisherer commented on #1857
What version are you using, and what do you do to complete the wait task?

[2020-09-09 14:13] HenryLauu opened #1859 "mysql unack cause sub_workflow executed twice"
processAllUnacks schedule thread set popped=false before this message was acked by SystemTaskExecutor. below are timeline:

1. 2020-09-07   17:41:07.025 insert  new sub_workflow task
2. 2020-09-07   17:41:07.095 thread A poll task and got one
3. 2020-09-07   17:41:07.148 thread B pool task and got the same one
4. 2020-09-07   17:41:08.113 thread A set popped = true
5. 2020-09-07   17:41:08.142 Que

[2020-09-09 23:16] apanicker-nflx commented on #1852
The summary objects (WorkflowSummary and TaskSummary) are used to index data in Elasticsearch. Converting the input and output to string during indexing helps provide full text search ability on these fields while limiting the number of indexed fields in the index, since the inputs and outputs of every workflow would be different.

Consider using an ObjectMapper to deserialize this string into a M

[2020-09-09 23:36] apanicker-nflx commented on #1853
Is the configuration for your system task workers? A major change around HTTP task processing would be the switch from batch polling to single poll from the task queue. This was further enhanced by a contribution form @mdepak in #1719 . Have you tried setting the property `workflow.system.task.queue.pollCount` to a value >1 as per your use case.

[2020-09-09 23:42] apanicker-nflx commented on #1854
Could you please provide the errors that you are seeing?

This is something we are working on providing in the next major version upgrade of Conductor (3.0).

[2020-09-09 23:49] kishorebanala commented on #1855
@mishika29 Can you confirm if the Elastic search indices created by Conductor contains any data? If not, you can debug and trace the workflow indexing from workflow execution path. Otherwise, you can debug the task search API to see how the above request is transformed to relevant Elastic search query.

[2020-09-09 23:51] kishorebanala commented on #1827
@DivineDm Please feel free to reopen if you see this issue again.

[2020-09-09 23:51] #1827 closed

[2020-09-10 00:02] apanicker-nflx commented on #1859
@jvemugunta @rickfish @s50600822 As contributors to this module and users of the MySQL persistence/queueing layers, could you please help debug this issue? Thanks.

[2020-09-10 00:09] kishorebanala commented on #1856
Hey @vtzi , any chance the subworkflow (SF) doesn't have a failure workflow defined in it's definition?

It might be caused by this [line](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/WorkflowExecutor.java#L1669), which verifies few things on parent workflow, but I believe `StringUtils.isBlank(parentDef.getFailureWorkflow())` shouldn't be

[2020-09-10 01:15] HenryLauu commented on #871
please refer to this issue for details: #1859

[2020-09-10 06:38] manan164 commented on #1853
Hi @apanicker-nflx Yeah setting ```workflow.system.task.queue.pollCount``` to higher value did the trick.

[2020-09-10 07:42] vtzi commented on #1856
It doesn't.

^^^ This covers the case when you retry the sub-workflow. What about retrying the parent workflow? Currently this creates a new instance of the sub-workflow which is semantically correct (SUB_WORKFLOW task is being retried) but not desirable.

[2020-09-11 01:31] HenryLauu opened #1860 "How to prevent workers from polling task during idle period"
I have a system which only start task between 5 pm and 6 pm, what can i do to prevent the worker from polling task when there no task? Task generated during working time should be polled in time too. This will need some mechanic like redis pub-sub

[2020-09-11 02:49] QiAnXinCodeSafe opened #1861 "Unreleased Resource: Streams"
https://github.com/Netflix/conductor/blob/856de56963b221cb29a83048b2120523fe4d243d/core/src/main/java/com/netflix/conductor/service/AdminServiceImpl.java#L62

The program can potentially fail to release a system resource.

[2020-09-11 06:48] #1852 closed

[2020-09-12 21:48] s50600822 opened #1865 "https://netflix.github.io/conductor/metrics/server/ looks broken"
The snippet for fluentd config on https://netflix.github.io/conductor/metrics/server/ looks broken:
![broken_doc](https://user-images.githubusercontent.com/5586453/93005568-8942a580-f595-11ea-9307-2b15c1c75c1a.PNG)

[2020-09-14 00:30] obezuk opened #1866 "HTTP System task does not retry on failure"
Hi,

I'm trying to implement a workflow which should automatically retry HTTP tasks if they fail for any reason. Failed HTTP tasks do not appear to respect retry logic settings.

**Expected Behavior:** Workflow should retry HTTP request 100 times before being marked FAILED.
**Actual Behavior:** Workflow runs HTTP System task once

Here is a simple reproduction which uses HTTPBin to simulate a time

[2020-09-14 01:48] HenryLauu commented on #1726
any updates? I need to dynamic task to start a http task, too @manjurad @kishorebanala

[2020-09-14 13:06] ssg2526 commented on #1857
I am using 2.24.2 version. We have created a wrapper service and we are using REST calls to that wrapper service for marking a task complete. The Wrapper service interacts with the conductor.

[2020-09-14 13:19] elisherer commented on #1866
There is no `retryCount` property for tasks (within workflows). It's a property of task definitions.
You can add an embedded task definition to your task and add that `retryCount` there.
i.e.
[code]

[2020-09-14 23:10] #1853 closed

[2020-09-14 23:23] kishorebanala commented on #1856
Correct. Given that Conductor workflow executions are not immutable (yet), retrying a subworkflow (and thus Subworkflow) task would erase the record of Subworkflow, thereby making it hard to trace what happened in failed subworkflow task case.

But, Please feel free to put forward a design proposal for your changes to retrying from parent workflow, and we shall take it from there.

[2020-09-14 23:27] apanicker-nflx commented on #1861
Thanks for reporting this, we will fix this soon.

[2020-09-14 23:29] apanicker-nflx commented on #1860
@HenryLauu This is not directly supported by the worker.
However, if you are using the java client, you could set the property `conductor.worker.paused` to `true`. This would stop the worker from polling. Setting this property would need to be an external process however, that you can schedule using a cron job or the like.

[2020-09-14 23:31] kishorebanala commented on #1865
@s50600822 Thanks for reporting this. We'll fix this asap. Please feel free to send us a PR if you can get to this before us.

[2020-09-14 23:35] kishorebanala commented on #1726
Hey @HenryLauu, Do you see any issues with using http task in dynamic task?

[2020-09-14 23:38] kishorebanala commented on #1857
@ssg2526 Can you provide a sample workflow execution in above situation please?

[2020-09-15 05:14] vwyuheng commented on #1866
After starting the workflow, the task status is always SCHEDULED,why?

[2020-09-15 10:41] deluxor commented on #1859
I noticed the same issue with postgres persistence, went to check the query and it is the same:

`        final String PROCESS_ALL_UNACKS = "UPDATE queue_message SET popped = false WHERE popped = true AND (current_timestamp + (60 ||' seconds')::interval) > deliver_on";`

I am using distributed locking with redis and pgsql as storage backend, and for some tasks they are being polled twice.

[2020-09-15 12:52] ritu-p opened #1868 "Is there a way to introduce a delay between the loops of a DO_WHILE loop or a sleep? I tried setting startDelay field for the loop task but that didnt work"

[2020-09-15 15:46] rickfish commented on #1859
@HenryLauu I imagine this only happens if you have more than one instance of Conductor running, right? Otherwise I think there is only one thread devoted to listening for system tasks so it would not be possible for simultaneous polling of the SUB_WORKFLOW queue. Or am I missing something? I am not saying that you should only have one instance running, just trying to clarify the scenario.

[2020-09-15 15:47] rickfish commented on #1859
Correction...one thread devoted for each system task.

[2020-09-16 04:47] obezuk commented on #1868
Is your startDelay on the DO_WHILE task or the subtask? I have it working with the startDelay being on the start of the loop's first task.

[code]

[2020-09-16 04:50] obezuk commented on #1866
Thanks @elisherer. That did the trick!

[2020-09-16 04:50] #1866 closed

[2020-09-16 06:17] HenryLauu commented on #1859
please see the sequence diagram to reproduce the bug:
![image](https://user-images.githubusercontent.com/35942020/93299246-56174500-f827-11ea-8b19-ddb0d983d801.png)

[2020-09-16 10:17] deluxor commented on #1859
I changed the query of processAllUnacks to decrement -60 instead of increment +60 and after a full night running some tests it seems to poll only each task once. I wrote a dummy workflow with three HTTP tasks calling a route that returns its value after 60 seconds (to simulate delay / processing time) and it seems to work well now... Three tasks per workflow, 3 route calls, as follows:
[code]

[2020-09-16 12:25] ritu-p commented on #1868
Hi @obezuk  ,
 I did add startDelay:300  (I hope it take in seconds)  , but the 2 iterations starts as soon as the first iteration is completed.

   {
      "taskType": "EVENT",
      "status": "COMPLETED",
      "referenceTaskName": "check_backup_status__2",
      "retryCount": 0,
      "seq": 1,
      "correlationId": "cdf7a1ab-9f1f-4b03-8ebd-20f00353d0e9",
      "pollCount": 0,
      "taskDefNa

[2020-09-17 05:43] vwyuheng commented on #1797
I also encountered the same problem
Conductor version 2.29.0
redis version redis-5.0.5

[2020-09-17 07:15] NeuralViva commented on #1804
Sorry for the really slow reply on this, busy few weeks.

I can access your fork, from reading the docs your solution looks really fully formed 👍

I'll pull your fork today and get it running, and start looking at some tests.

[2020-09-17 07:44] ravindar-tuplescale opened #1870 "Cannot set the value of read-only property 'executionData' for task ':conductor-cassandra-persistence:jacocoTestReport' of type org.gradle.testing.jacoco.tasks.JacocoReport."
While building with ES6 configuration following errors are occurring, what cloud be the problem?
branch: master

**

Configure project :
Inferred project: conductor, version: 2.30.0-SNAPSHOT

FAILURE: Build failed with an exception.

Where:
Build file 'C:\Conductor\source\conductor\build.gradle' line: 79

What went wrong:
A problem occurred evaluating root project 'conductor'.

Cannot set the valu

[2020-09-17 07:44] ravindar-tuplescale opened #1871 "Could not resolve all files for configuration ':conductor-grpc:compile'."
While building with ES6 configuration following errors are occurring, what cloud be the problem?
branch: master**

FAILURE: Build failed with an exception.

* What went wrong:
Could not resolve all files for configuration ':conductor-grpc:compile'.

  Required by:
      project :conductor-grpc > project :conductor-common > com.github.rholder:guava-retrying:2.0.0

  Required by:
      project :cond

[2020-09-17 08:07] btafarelo commented on #1849
Hi @kishorebanala sorry my late notice!!!

Here is the join variables, now it would be slight different as to make the things work I made many refactorings, but this fork still doing the same things, split some tasks just to set "variables". It isn't a sub workflow anymore but should be.

`{
            "name": "JOIN_VARIABLES",
            "taskReferenceName": "JOIN_VARIABLES",
            "type"

[2020-09-17 11:03] #1858 closed

[2020-09-17 11:07] HenryLauu commented on #1859
would it be better to set default value = -60 and allow users to set their desired value at config file? BTW,  I think config value should be positive and negative sign is processed in the code automatically.

[2020-09-17 12:43] ritu-p commented on #1868
Hi @obezuk   found a difference in HTTPTask the below line is set in mapper
         httpTask.setCallbackAfterSeconds(taskToSchedule.getStartDelay());

https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/mapper/HTTPTaskMapper.java

The above is not set in EVENT task which I am using

https://github.com/Netflix/conductor/blob/master/core/src/main

[2020-09-17 14:36] rickfish commented on #1859
My 2 cents: I am not sure that this is a good candidate for a property. Just describing what that property controls is difficult. Also, I think that it would be difficult for someone to figure out what to use as that property's value and why would it vary by installation anyway? I think that if -60 works for you that it can just be hard-coded.

Just my opinion, curious what others think...

[2020-09-18 03:14] HenryLauu commented on #1859
Hello @rickfish @apanicker-nflx this is obviously concurrent bug which need to be fixed. Please make a consideration.

[2020-09-18 14:52] rickfish commented on #1859
@HenryLauu @apanicker-nflx I created PR #1874 to fix this.

[2020-09-19 10:42] beatfreaker commented on #1865
@kishorebanala Which version of `mkdocs` is used to build the docs?

[2020-09-19 21:45] vtzi commented on #1856
I think SUB_WORKFLOW should have an option whether to propagate the failure to the parent. Currently it is propagated and this makes resuming from the failure point in subworkflows when retrying the parent difficult to implement.

If we have such option these are the possible use cases:
1. The option is `True` (default) - everything behaves as is - no breaking changes are introduced.
2. The option

[2020-09-21 04:13] Yingsheng-eroad opened #1877 "npm ERR! integrity checksum failed when using sha1: wanted * but got *."
When I was trying to "Use the pre-configured Docker image"
I got the error below. How can fix it? I tried to update the ui/Dockfile then got another error.
`npm ERR! code EINTEGRITY
npm ERR! sha1-U3cWwHduTPeePtG2IfdljCkRsbE= integrity checksum failed when using sha1: wanted sha1-U3cWwHduTPeePtG2IfdljCkRsbE= but got sha1-gswqb03PNvrPDHp5RoV7/2KCisc=. (3612 bytes)
npm WARN notice [SECURITY] yargs-pa

[2020-09-21 08:51] 77yang commented on #883
I have the same issue😓

[2020-09-21 13:28] zummino opened #1879 "Input parameters and event handler"
Hello everyone, i'm using netflix conducotor for an exam purpose, i'm a student of computer science engeering. I have a problem, i have a workflow that takes in input some data about a Movie, like the ID and the name, my idea is that the first workflow (that takes as input the ID, the name etc..) throught a task event and a event handler will wake up another workflow that has to do a HTTP Request

[2020-09-22 08:15] kevindixon opened #1880 "docker-compose up fails"
Tried both 2.27.2 and head @ 2494a333d64b874d28a404fa42fbf78331288bd1.

Output from second attempt on head:

[code]

[2020-09-22 09:11] HenryLauu opened #1881 "pass through workflow input to dynamic task"
I am using dynamic task type to run different task with different task input which is given by workflow input, how can i pass through those inputs to dynamic task?

[2020-09-22 22:46] kishorebanala commented on #1881
@HenryLauu Does this help? https://netflix.github.io/conductor/configuration/systask/#dynamic-task

If not, Can you provide an example for what you're trying to achieve please?

[2020-09-22 22:52] apanicker-nflx commented on #1870
Seems odd, can you try disabling the jacoco configurations in root build.gradle to disable jacoco report generation?

[2020-09-22 22:54] apanicker-nflx commented on #1871
The package is available in [jcenter](https://bintray.com/bintray/jcenter/com.google.code.findbugs:jsr305). Looks like a transient connection error.

[2020-09-22 23:07] kishorebanala commented on #1879
@zummino You can provide the input as Event task's payload. I.e Your Event task's input in workflow1 will be passed through as event payload. You can then configure your Event handler to parse this event payload when starting workflow.

[2020-09-22 23:09] kishorebanala commented on #1879
Consider adding input parameters to this Event task definition in workflow 1:
```{ "name": "test_start_workflow_event", "taskReferenceName": "start_workflow_with_event", "type": "EVENT", "sink": "conductor", }, { "name": "test_task_tobe_completed_by_eventHandler", "taskReferenceName": "test_task_tobe_completed_by_eventHandler", "type": "WAIT" }```

https://netflix.github.io/conductor/configuration

[2020-09-22 23:10] kishorebanala commented on #883
@77yang Can you provide more details to help reproduce this please? cc: @apanicker-nflx

[2020-09-22 23:18] #1877 closed

[2020-09-22 23:28] kishorebanala commented on #1856
I like sticking to the defaults and having an option to retry the parent. But, keeping the parent `IN_PROGRESS ` while the sub workflow has failed doesn't makes sense to me. What happens if the subworkflow is never retried? or retried after parent subworkflowTask is timed out.

Instead, how about having an option to `restart` vs `retry` the parent workflow?
I.e
-> when the sub workflow fails, we'l

[2020-09-23 08:29] vtzi commented on #1856
This sounds perfect and more consistent then my proposal. Thank you for looking into it.
What are the next steps?

[2020-09-23 09:42] HenryLauu commented on #1881
Thanks @kishorebanala . Let say I have taskA with paramA, taskB with paramB.  Those two params will be give by workflow input. What i need is pass workflow input to dynamic task.

now figure out this by following workflow:

- task1:  agent task, which get workflow input and set output data including two key: dynamicTasksInputJSON,dynamicTasksJSON
- task2: dynamic fork task, get task_type and input

[2020-09-23 09:54] zummino opened #1884 "Problem with multiple event handlers"
Hello guys i have a problem with the Event Handlers. I have two workflow and three event handlers (2 "start_workflow" and 1 "complete_task")

Both worflow has got as first task a DECISION_TASK with two branches. The first workflow takes the decision parameters throught the input and the second workflow throught the event handlers.

In the first workflow i have a decision task with two branch:

1)

[2020-09-23 13:43] zummino commented on #1879
thanks you i solved the problem!

[2020-09-25 05:28] Yingsheng-eroad opened #1889 "Is there a build-in redis server in Dynomite?"
In the config.properties, the block says options for database can be memory, redis and dynomite.
I did some research. Dynomite is a layer on top of Redis/Memcache. But in the docker-compose.yml there is no redis. Do I misunderstand something? Thanks.

[2020-09-25 05:32] Yingsheng-eroad commented on #1889
Found the answer, the docker image contains redis-server in it.
https://hub.docker.com/r/v1r3n/dynomite/dockerfile

[2020-09-25 05:32] #1889 closed

[2020-09-25 18:19] connickshields opened #1890 "Using task output from within a Do While task"
Hi there! I have a problem that I can't seem to find a solution to (or maybe I am reading the docs wrong). I have a Do While task and one HTTP task inside which retrieves a status from an API call. The Do While loop condition uses the output of this task. I would also like to use the response of this task in a Decision task within the Do While, but I am having issues accessing the HTTP task's outp