[2018-06-26 13:58] jvemugunta commented on #603
Not sure about your question.
If you don't want to run on cloud with dynomite and want to run on Perm, you can use MYSQL as the underlying storage

[2018-06-26 14:06] #541 closed

[2018-06-26 15:02] mashurex commented on #576
@jvemugunta Thanks for tackling this. When I submitted a PR to migrate the MySQL module from using a niche ORM (Sql2o) to vanilla JDBC I mostly left existing queries and patterns in place to make it easier to debug and do side by side comparisons of the new code vs. the old code. Some of those patterns, like the one above, attempt to update optimistically and then insert if nothing was there. I be

[2018-06-26 18:38] sudvarma opened #624 "com.netflix.dyno.connectionpool.impl.ConnectionPoolImpl - pointing to wrong host"
conductor-server_1  | 0    [main] INFO  com.netflix.dyno.jedis.DynoJedisClient  - Starting connection pool for app conductor
conductor-server_1  | 8    [pool-3-thread-1] INFO  com.netflix.dyno.connectionpool.impl.ConnectionPoolImpl  - Adding host connection pool for host: Host [hostname=dyno1, ipAddress=null, port=8102, rack: us-east-1c, datacenter: us-east-1, status: Up]
conductor-server_1  | 8

[2018-06-26 21:18] Leggrand opened #625 "How can I get output of Workflow?"
Hi,

I'm using this endpoint to invoke a workflow: _http:/{localURI}/api/workflow/WorkflowBasic?version2&correlationId=1_

And using this endpoint to get the workflow (here I can see the status of execution and the output data): _http:/{localURI}/api/workflow/6de14451-8b86-49af-bb19-fdc36758f0fc_

I need invoke a workflow and, when this is completed I would liked get output of this workflow. This

[2018-06-26 22:47] jvemugunta commented on #576
@mashurex

https://github.com/jvemugunta/conductor/blob/0682cc340af30f19df5d4d3ef8049763cb44c432/mysql-persistence/src/main/java/com/netflix/conductor/dao/mysql/MySQLExecutionDAO.java#L732-L740

Please review the fix and let me know what you think. There are other places that requires changes.
I will fix them too once this PR is approved. We need to fix all of these methods. I will do load test wi

[2018-06-27 01:19] jvemugunta commented on #576
The issue has been fixed and the code has been merged into the dev branch
https://github.com/Netflix/conductor/pull/621

@juaby . You can now close the issue.

[2018-06-27 02:54] sudvarma opened #626 "Task DOES NOT proceed to IN_PROGRESS"
Steps followed :

1. Created TaskDef
[
{
  "name": "ais_post",
  "retryCount": 1,
  "timeoutSeconds": 600
}
]

2. Created Workflow Def

{
    "name": "Booking_Orch",
    "correlationId": "23",
    "description": "Booking workflow",
    "version": 1,
    "tasks": [
        {
            "type": "HTTP",
            "name": "ais_post",
            "taskReferenceName": "save_ais_booking",

[2018-06-27 05:29] parmeshdayal commented on #622
Can you point out some document that could explain what is a workflow and how it is different between workflowcoordinator ?

And is there a way to start a workflow through java client .

if yes , would be highly obliged if you could provide me with code snippet.

Also my main motive is to run some HTTP tasks that query rest endpoints using  the workers .

[2018-06-27 05:48] santoshmiriyala opened #627 "Add persistence support for Mongodb backend"
Hi,

We require using our existing Mongodb infrastructure as the backend for our conductor instance.

I see currently mongo backend support is not there, could you please let me know if you are planning to add it or let me know what are all I should do to support for our application.

Thanks

[2018-06-27 07:16] gwieser1234 opened #628 "Basic Authentication Support for HTTP Tasks"
I am running a workflow with one HTTP task. The endpoint I am talking to requires Basic Authentication ("Authorization": "Basic YWRtaW46YWRtaW4="). When I look at my outgoing packet in wireshark I see that Basic Authentication is not set in the header. Is Basic Authentication supported in conductor http tasks? If yes, how can I configure it?

Here is my workflow/task:

[code]
Packet content in Wir

[2018-06-27 08:28] parmeshdayal commented on #622
I also tried creating a new workflow following this link: https://netflix.github.io/conductor/metadata/
but  I am receiving this error:{code=NOT_FOUND, message=No such workflow found by name=encode_and_deploy, version=1}

this was done using swagger api start workflow request.

here is the json:
{
  "name": "encode_and_deploy",
  "description": "Encodes a file and deploys to CDN",
  "version": 1,

[2018-06-27 12:07] parmeshdayal commented on #622
I was able to create workflows with tasks in it. **still my workers are not not picking those tasks.**
The work flow is visible in the conductor UI under metadata/workflow def.
The task added into the workflow is not visible on the UI under metadata tasks.

Please suggest some workarounds for the bold text

[2018-06-27 12:20] parmeshdayal opened #629 "Run simple hello world example using basic micro service"
I'm able to create workers and also register a workflow with tasks added to it.
but I'm unable to make the workers execute those tasks .

**Here is how I'm creating the worker:**

TaskClient taskClient = new TaskClient();
taskClient.setRootURI("http://localhost:8080/api/")

Worker worker1 = new SampleWorker("serve _deciderQueue");

WorkflowTaskCoordinator.Builder builder = new WorkflowTaskCoordina

[2018-06-27 12:28] jvemugunta commented on #629
send your curl commands and also send the source code for SampleWorker

[2018-06-27 19:27] jvemugunta opened #630 "Observing some strange results while doing Performance testing with Netflix Condcutor"
I constantly see this error message in the logs. My test is 100 concurrent threads starting a sample workflow for 10 mins and at the same time a java worker client polling for the tasks.

Can some one explain what pop() method do and why do I see this error?

116194 [qtp1870234754-176] ERROR com.netflix.conductor.server.resources.ApplicationExceptionMapper  - BACKEND_ERROR - could not pop all mess

[2018-06-27 19:28] jvemugunta commented on #630
@moustaki  @cyzhao - Can you help me understanding the flow?

[2018-06-28 03:45] sudvarma commented on #626
The workflow goes into RUNNING state. But no clue about the state of the task.
/tasks/in_progress/ais_post API returns no valid task.

[2018-06-28 05:01] parmeshdayal commented on #629
**here is the curl command:**
curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/json' -d '{ \
     "name": "http_flow", \
     "description": "Simple http flow", \
     "version": 1, \
     "schemaVersion": 2, \
     "inputParameters": [], \
     "tasks": [ \
         { \
             "name": "get_version", \
             "taskReferenceName": "get_version", \

[2018-06-28 06:17] sudvarma commented on #626
Incase the URL referred in the task is made not accessible - the workflow fails promptly on starting the workflow. No error in logs. Please find the attached screenshot.

<img width="1440" alt="lwscreenshot 2018-04-21 at 9 19 55 am" src="https://user-images.githubusercontent.com/34787500/42016354-dbf7ad56-7ac8-11e8-913d-2ea84b109016.png">
<img width="1440" alt="lwscreenshot 2018-04-21 at 9 19 54 a

[2018-06-28 06:54] sudvarma commented on #626
Once the URL is accessible - no clue - please find the attached screen shot.

<img width="962" alt="screen shot 2018-06-28 at 12 07 15 pm" src="https://user-images.githubusercontent.com/34787500/42017826-fd0c3d18-7acd-11e8-8126-5462fdb4d10f.png">

<img width="947" alt="screen shot 2018-06-28 at 12 07 02 pm" src="https://user-images.githubusercontent.com/34787500/42017828-fe398a74-7acd-11e8-8c0d-5a

[2018-06-28 09:43] gorzell opened #631 "Add support for execution of ephemeral workflows."
We have a use case where we need to be able to submit a large/arbitrary number of different workflow definitions to be executed by Conductor.  I don't think that it makes sense to first add each of these definitions to the Metadata store in order to then execute at least once and quite possibly only once.  Instead I would like to add an API through which you can schedule a workflow execution by pr

[2018-06-28 12:32] jvemugunta commented on #630
@picaron  Hi Picaron, I think you are the one who wrote the original MYSQL module. There are several deadlocks and race conditions I have identified while doing performance testing. I have an idea on what needs to be done. Can we have a discussion and I will create a PR to fix the issues

[2018-06-28 13:27] picaron commented on #630
Hi @jvemugunta

Yes I wrote the original MySQL module. It was rewritten entirely by @mashurex to remove the dependency to a 3rd party library.

We should include him as well in the discussion.

Please share your idea on what needs to be done.

[2018-06-28 14:03] sudvarma opened #632 "com.netflix.dyno.connectionpool : PoolTimeoutException : when polling for task"
conductor-server_1  | java.lang.RuntimeException: java.lang.RuntimeException: com.netflix.dyno.connectionpool.exception.PoolTimeoutException: PoolTimeoutException: [host=Host [hostname=dyno1, ipAddress=null, port=8102, rack: us-east-1c, datacenter: us-east-1, status: Up], latency=800407(0), attempts=0]Fast fail waiting for connection from pool

config.properties
db=memory
workflow.dynomite.cluster

[2018-06-28 14:13] mashurex commented on #630
Hey @picaron, long time no chat :)
I recently chatted with @jvemegunta on a different PR, and he think he’s doing some really good testing of the MySQL module.

The workload I have been using this module for is obviously not nearly as concurrent as his usage and I think it is showing a few spots where the optimistic update then insert patterns are causing issues.

Some of this may be MySQL configu

[2018-06-28 14:32] mashurex commented on #630
I wanted to add a couple of ideas if we’re going to be re-evaluating various queries...

My original PR was to remove the dependency on Sql2o because it wasn’t playing well in our environment, seems to be dying or rarely maintained, and it has a couple of big bugs out there. It also seemed like the MySQL module could get by with lower level JDBC API calls and no extra SQL libraries.

So my PR had

[2018-06-28 14:36] mashurex commented on #448
@preeth-gopalakrishnan this issue can be closed, it was merged in #426

[2018-06-28 16:09] picaron commented on #630
Hi @mashurex

Yeah I think your refactoring was great and necessary. Also, like you said, both our workloads didn't make these concurrency issue come out.

I agree its a great opportunity to fix those issues and improve the MySQL support now that we are more using it and that can contribute to it.

[2018-06-28 16:55] mashurex commented on #603
@akshat-g since Conductor is designed around queues of work using NoSQL/non-relational storage (Dynomite/Redis) the QueueDAO interface must be implemented for any new persistence module. The MySQLQueueDAO is an implementation of the QueueDAO interface that uses MySQL tables and queries to implement the same functionality that Dynomite and Redis queues would provide.

[2018-06-28 16:59] mashurex commented on #577
This is related to #630 and should be part of whatever fixes come out of it.

[2018-06-28 22:00] jvemugunta commented on #630
Hi @mashurex <https://github.com/mashurex> and @picaron
<https://github.com/picaron>,

Thanks for the response.  I am doing simple perf test case with 5 threads
and am seeing many deadlocks and race conditions in the code.
I think the first thing is to fix the code ASAP.

Once the fixes are complete, we can think about caching, improving on
connection pooling and transaction management as a whole.

[2018-06-28 22:13] jvemugunta commented on #630
This is now a true deadlock

@Override

    public List<Task> createTasks(List<Task> tasks) {

        List<Task> created = Lists.newArrayListWithCapacity(tasks.size());

        withTransaction(connection -> {

            for (Task task : tasks) {

                validate(task);

                task.setScheduledTime(System.currentTimeMillis());

                String taskKey = task.getReferen

[2018-06-30 14:02] jvemugunta opened #633 "Conductor with Redis Cluster in own Data Center"
Can you please advise if we could Conductor with Dynomite/Redis Cluster running in our own Data Center. We have regulatory issues and we can't run our code on cloud.

We have been evaluating Netflix Conductor as the workflow engine for our company. I am impressed with the architecture and code is precise. We are thinking of rolling this engine for our enterprise.

Any guidance you provide is highl

[2018-06-30 16:32] jvemugunta commented on #633
Hi @v1r3n , Can you answer the above questions?

[2018-06-30 22:45] jvemugunta opened #634 "Connection Reset errors with high volume of concurrent transactions"
Perf testing was done with 100 concurrent users for 10 mins.

I see these errors in the middle of the tests. Any ideas on the root cause of the problem ?

3787390 [qtp1596843797-125] DEBUG org.eclipse.jetty.server.HttpConnection  - New HTTP Connection HttpConnection@66618ef8[SelectChannelEndPoint@5f3fd51e{/127.0.0.1:65521<->8080,Open,in,out,-,-,1/30000,null@0}{io=0/0,kio=0,kro=0}][p=HttpParser{s=S

[2018-07-01 21:51] jvemugunta commented on #630
Hey @picaron and @mashurex ,

I have compared MYSQL DAO code with REDIS DAOs written by Netflix Team

While I like the overall approach you took in writing the SQL code, As mentioned by @mashurex we suggest we should reconsider the below MYSQL recommondations

**1)	 Do we need to run the SQL statements  as “one unit of work”?**

I think the answer is no. Even the REDIS DAOs implemented by Netflix

[2018-07-02 04:55] cyzhao commented on #633
As long as you can set up Dynomite/Redis in your own data center, Conductor should be abele to work with it fine.

[2018-07-02 05:32] preeth-gopalakrishnan commented on #629
Worker should be initialized with the taskname

[2018-07-02 06:54] dechykong commented on #438
I want help too!  Is there any demo to show how to use event ?

[2018-07-02 17:22] sudvarma opened #637 "unable to extract key value from JSON output of http task"
******************************
Unable to extract value from the JSON
{"value": "More content"}

"outputParameters": {
      "a":"${gd.output.response.body.value}",
"b":"${gd.response.body.value}",
 "c":"${gd..*}"
	},

******************************
only value for 'c' is printed correctly - the value for 'a' and 'b' shows null. Any pointers would help.

******************************

{
  "createTi

[2018-07-03 05:02] sudvarma commented on #149
I am facing the same issue - not able to extract value from JSON

Both ${tt0.output.response.body.number} and "${tt0.output..number}" returns null.

where as ${tt0.output.*} returns the whole string. But ${tt0.output.response*} returns null. Any pointers would help.

[2018-07-03 05:03] sudvarma commented on #149
@v1r3n

Any pointers would help. Thanks

[2018-07-03 08:52] sudvarma commented on #149
May be I'm missing out on this oint.

One more thing, outputParameters cannot be configured as part of workflow definition, as it is created/updated as the tasks are getting executed.

How else to configure output parameters?

[2018-07-03 10:43] akshat-g opened #640 "How can I view conductor server metrics?"
I have read spectator codebase to study how it collects metrics conductor server. However where can I view these metrics? How are they exposed?

[2018-07-03 13:55] sudvarma commented on #611
If the response need not be modified - could we skip the execute task implementation and directly use
tt1.output.response.body.<key>
would it work? Will it work in memory?

[2018-07-03 13:56] sudvarma commented on #637
Any pointers would help. Thanks

[2018-07-03 14:53] jvemugunta opened #641 "Netflix Team - Enterprise Guidance"
I lead the Enterprise Architecture Team at Florida Blue. We are convinced Netflix Conductor is the right workflow engine for our company. We want to push into production in the next month and want to run this platform in our DataCenters. We have regulatory rules and can't run on cloud

Few questions
1) How many workflows does Netflix run every day?
2) Do you have the list of companies that are usi

[2018-07-03 17:14] sudvarma commented on #637
[
{
    "name": "Sample_problemApp_flow_4",
    "correlationId": "23",
    "description": "Sample_problemApp_flow_4",
    "version": 1,
    "tasks": [
        {
            "type": "HTTP",
            "name": "task1",
            "taskReferenceName": "t1",
            "inputParameters": {
                "http_request": {
                    "uri": "${workflow.input.task1_url}",

[2018-07-03 18:59] sudvarma commented on #637
@jvemugunta

Could you take a look?

[2018-07-03 19:12] akshat-g commented on #597
@Leggrand  - can you share how did you add body in workflow def for the post method?

[2018-07-03 19:36] v1r3n commented on #633
@jvemugunta Dynomite can be setup in a datacenter.  Refer to the guide at https://github.com/Netflix/dynomite on how to setup a Dynomite cluster.
Reach out to Dynomite team (as listed on the dynomite readme) for help and questions on dynomite setup.

Alternatively, you should be able to use Redis cluster setup in a datacenter.

[2018-07-04 05:17] sudvarma commented on #149
It is working, i was using an old server jar.

[2018-07-04 06:41] sudvarma commented on #637
The issue seems to be with an older jar of conductor - moved to the latest and it works fine.

[2018-07-04 06:41] #637 closed

[2018-07-04 14:42] Leggrand commented on #597
Hello, @akshat-g!
The body is free, you do not need to define a template for it in the workflow. What you submit in the requisition will be your body to work on your workflow.

I made a call of my workflow, like this example:

POST /api/workflow/WorkFlowSample?version2&amp;correlationId=1 HTTP/1.1
Host: *.compute-1.amazonaws.com:8080
Content-Type: application/json
Cache-Control: no-cache
Postman-T

[2018-07-04 19:08] cyzhao commented on #641
1. We run over 10 millions workflows per month.
2. I don't have a list. @v1r3n do you?
3. Yes we encourage collaboration, we are currently collaborating with Github on 2.0 development where gRPC support are being introduced, plus other features.
4. @ipapapa can you address this question?

[2018-07-04 19:10] #633 closed

[2018-07-04 19:46] Leggrand commented on #625
Hi there!
My workflow works fine and he implement the field "outputParameters". This is not the question.
The question is: How can I get the result of execution?
Because I need a execution synchronous, and I know, the pattern execution of workflow is asynchronous. How can I do this?

[2018-07-04 20:16] jvemugunta commented on #641
Thank you @cyzhao . Very encouraging.

- How complex are the workflows used at Netflix? Most of our workflows are long lived tasks and are very complex in nature that can span for days to weeks. We are thinking about using WAIT tasks to meet this requirement. Are there better alternatives?

- Regrading Workers, When there are no a scheduled tasks , constant polling for tasks can lead to performanc

[2018-07-05 04:40] ipapapa commented on #641
@jvemugunta 4. I do not recall seeing an API that can do that in Redis. At Netflix, we mainly use it against [Dynomite](https://github.com/netflix/dynomite)/Redis. You can read the [Redis persistence documentation](https://redis.io/topics/persistence) for more details. For disaster recovery, we store the data to the drive and backup it daily to S3.

[2018-07-06 14:59] v1r3n commented on #641
@jvemugunta

We don't actively maintain the list of production users of Conductor outside Netflix.  Based on the information we have so far, we have seen it being used across wide set of industry including media/entertainment, supply chain and others.

[2018-07-06 15:07] v1r3n commented on #631
@gorzell
I think having ephemeral workflows have a merit and I can see more use cases for it.
The above design proposal makes sense.  However, few points:

* TaskDefs are also looked up at some point of time during execution.  Today some of the properties are looked up from TaskDefs, I think they should also be moved under WorkflowTask to WorkflowDefinition is self sufficient for such workflows.
*

[2018-07-06 15:08] v1r3n commented on #623
@parmeshdayal @jvemugunta Please be aware, the in-memory implementation is only meant for testing and should't be used for production env.

[2018-07-06 15:15] gorzell commented on #631
@v1r3n

That is the approach I also think is best and have been working on, so I don't consider this an enhancement :-).  It is a bit complicated when considering backwards compatibility in the data objects and there is quite a bit of intermingled logic that needs to be sorted out.

I will take a look at the task defs.  I would generally think running workflows not having their definitions change

[2018-07-06 22:47] jvemugunta commented on #641
thanks @cyzhao @ipapapa @v1r3n for your comments.

Constant polling for empty tasks may be overkill for relational databases resulting into deadlocks with concurrent worker threads polling for same tasks. I am researching on the caching techniques. Will reach out to you if I find an efficient solution.

[2018-07-07 02:49] saidatta commented on #632
It might be a symptom that your db is overwhelmed. Have you tried using a dynomite?

[2018-07-08 10:00] rehabaam commented on #637
I tested with server version 1.11.0 and found the syntax for getting the value a key is like the following: "${task_1.output..response.body.data[0].offering.code}" (Notice the two dots ".." after output.

[2018-07-09 05:47] #641 closed

[2018-07-09 06:54] cyzhao commented on #631
I like the approach, I think it is a merit to have the snapshot of workflow/task definitions stored as part of workflow execution so workflow/task definition changes won't impact existing workflow executions, especially when backward breaking changes are introduced.

[2018-07-09 06:54] #631 closed

[2018-07-09 10:19] mudit3774 commented on #641
Thanks @jvemugunta for the question. @cyzhao do we have concrete plans for transactional support in 2.0 ? Is there a ticket we can follow ?

[2018-07-10 12:35] akshat-g opened #643 "How to run conductor UI using pre-built binaries listening at 5000 port with server already running at 8080 port?"
I have run conductor server using pre-built binaries. I am unable to run stand alone conductor UI using pre built binaries at 5000 port with server listening at 8080 port. Any help is appreciated.

[2018-07-10 14:00] dechykong opened #644 "Nested Decision Task in Fork-Join Task,conductor cannot run the task after the decision task"
conductor cannot run the task（API6） after the decision task(API4)。

![Nested Decision Task  in Fork-Join Task](https://user-images.githubusercontent.com/17778174/42513654-0d6dd188-848a-11e8-82da-1856b29f034f.png)

I'm confuse that whether the conductor support the workflow definition like this.
here's the workflow json:
[code]

[2018-07-10 14:33] mudit3774 opened #645 "Shutdown hook for conductor workers"
Hey,

I am going through the conductor Java client and it seems that there is no function to gracefully shutdown the polling. I was wondering if adding a shutdown() method to stop polling is good idea ?

This shutdown method can be called by the worker in it's shutdown hook during deployments or other graceful shutdowns.

It will also be useful if we want to dynamically add a new worker in the tas

[2018-07-10 16:20] jvemugunta commented on #645
@mudit3774 . It is an excellent idea in my opinion. This would be a good start
We don't want for the workers to poll indefinitely and put more load on the server. Ideally the workers should work like lambda functions. Do the work and gracefully shutdown the coordinator.

The better approach would be push tasks to the registered workers instead of polling indefinitely.  NIO http APIs may help with

[2018-07-10 19:03] rbeers commented on #643
Node api is looking for WF_SERVER environment variable.

[code]

See: https://github.com/Netflix/conductor/blob/master/docker/ui/bin/startup.sh

Hope that helps.

[2018-07-10 21:14] akshat-g commented on #643
@rbeers - For this I will have to pull the code. How to run using pre-built binaries?

[2018-07-11 03:13] rverma-nikiai opened #647 "Pointers to use dynamodb as backend implementation"
Hi Team,
First of all really appreciate for great work. I could understand that using dynamodb as backend would be against open-source. But can you give me pointers on what are components involved in implementing a persistence for conductor. Can dynamodb act as sole persistence avoiding mysql and redis dependencies completely.

[2018-07-11 06:28] akshat-g commented on #624
Is 'ais_post' the task you are polling? That is the system task. SystemTaskCoordinator will take care of that.

[2018-07-11 19:23] kishorebanala commented on #647
You can follow current implementations of `com.netflix.conductor.dao` in `core` module, and provide your own similar implementations for dynamodb.

[2018-07-11 23:08] dechykong commented on #644
I debug the code,this seems like a bug，API4 next task is always join task，API6 is lost. Because I don't kown   which task will be schedule after decision-task,I add a API6 to wait for it. Finally join the API6 and API2.The result confuse me,API6 is lost,will never be schedule.

[2018-07-12 03:50] cocodee opened #648 "task inputParameters not set"
I'm using latest dev branch code.The task inputParameters are not set correctly.
workflow definition:
[code]

task definition:
[code]
workflow creation:
POST http://localhost:8080/api/workflow/flow1
[code]
poll task:
GET http://localhost:8080/api/tasks/poll/kdi1
[code]
The mod and oddEven inputParameters of workflowTask kdi1 are not set to "test1" and "odd",but are still "${workflow.input.mod}" an

[2018-07-12 04:00] mudit3774 commented on #645
Thanks for the response @jvemugunta. I will work on the PR.

That is the idea. If we can shutdown the coordinator, a small worker manager should be able to achieve optimizations like time scaling and lamda like functionality.

On push / pull, I am not very sure but think the idea of a poll model is to have a system responsible for the task at all times, either the server or the worker.

[2018-07-12 04:47] #648 closed

[2018-07-12 04:47] cocodee commented on #648
The inputParameters are set in inputData field. Close the issue.

[2018-07-12 04:50] sudvarma opened #649 "basic UI for creating workflow"
Any reference to basic UI for creating/modifying workflow. It is just for demo purpose.

[2018-07-12 05:13] #640 closed

[2018-07-12 06:14] cyzhao commented on #641
@mudit3774 we don't have a concrete plan yet, currently we don't use github as ticketing system but we will definitely consider.

[2018-07-12 09:51] JMBalares11 opened #650 "How can I automatically run the subsequent tasks of my workflow"
Hi,
Apologies for my novice question but I just need some guidance, I'm conducting a proof of concept for the Conductor Framework so that if applicable we can use it on our project.

Currently, I created two workflows - one for sequential flow and the other is for parallel flow.
**Sequential**:
![image](https://user-images.githubusercontent.com/40625315/42625977-b7f4a114-85fb-11e8-8ca1-82e53c5783f

[2018-07-13 06:33] JMBalares11 commented on #650
yes, as of now it's of type - SIMPLE, I do have running worker which calls/poll the service_a, I also understand that I can use the poll api to call service_a. What I would like to know /understand is if there's a way for me to only call/poll service_a and all other task within the workflow will poll/start once the first task is completed.
Also, I'm not that sure if I'm understanding the concept i

[2018-07-13 07:50] mudit3774 commented on #650
Hi @JMBalares11 ,

If I understand it correctly. You will have to have running workers for the all the tasks. The workflow server will schedule the tasks according to the workflow definition. For instance, if it is sequential, it will only start once the last task is completed. Also, for parallel tasks, workers can poll them in parallel.

Are you trying to orchestrate a bunch of micro-services ? Y

[2018-07-13 08:01] JMBalares11 commented on #650
Ohh, so in every task in my workflow, I need to have a corresponding worker? What I'm visualizing right now is that, you can poll the task by either creating a worker - Client component, or using the poll api, then once you poll a task and set it to completed, the next task will automatically start, and so on with the other task - SCHEDULED -> IN PROGRESS(poll by worker or api) -> COMPLETED.

I do

[2018-07-13 09:07] mudit3774 commented on #650
The worker also intern calls the poll api. We will need different workers at least in the Java client. It has a separate thread pool for each worker. In the TaskCoordinator you can choose to create multiple workers in the same process.

Also,  the next task will start automatically. For instance  :

<img width="131" alt="screen shot 2018-07-13 at 2 32 18 pm" src="https://user-images.githubusercont

[2018-07-13 14:47] makesitgo opened #652 "Documentation Bug: Incorrect description for `subWorkflowParam`"
**See:** https://netflix.github.io/conductor/metadata/systask/#sub-workflow

The description of the `subWorkflowParam` is copy-pasted from the above system task: Join.

name | description
-- | --
subWorkflowParam | List of task reference name, for which the JOIN will wait for completion.

**Fix:** Provide the correct description for the subWorkflowParam

[2018-07-15 09:06] mudit3774 opened #656 "Decouple Conductor from Spectator"
Hey,

It seems that both Conductor worker and server is tightly coupled with Spectator. Would it make sense to add a metrics interface (extracted from com.netflix.conductor.metrics.Monitors and com.netflix.conductor.client.task.WorkflowTaskMetrics) and make changes to code to this interface ? We can have Spectator as the default implementation.

This is driven by the fact that adopters would want

[2018-07-16 10:58] akshat-g commented on #640
@kishorebanala - thanks. is there any documentation by Netflix where I can find how to do this?

[2018-07-17 05:02] saidatta commented on #640
Does anyone use `jconsole` for collecting metrics? I have got that part of it working but I had trouble understanding some of the keys.

[2018-07-17 05:09] saidatta opened #659 "What is the recommended number of Task Threads?"
What is the recommended task threads do I need to create for a single worker?
From my understanding, the task threads need to be equal or more than the number of tasks within the  workflow?

What if I have dynamic join that spawns 500 tasks? Do I need to put 500 task threads, or is it okay if I can tweak it down to a relatively smaller amount (Say, 200 task threads)?

[2018-07-17 09:20] saidatta commented on #487
@parmeshdayal Try opening a new ticket with more info with regards to your issue.

[2018-07-17 15:14] star-yar commented on #449
Got same trouble, running `./gradlew build` from another user did not help.

[2018-07-17 18:30] akshat-g opened #661 "Has anyone integrated spectator with Atlas here?"
How to publish conductor server metrics to Atlas? I have local atlas server running.

[2018-07-17 20:37] josedab commented on #449
@star-yar The solution given by @pctreddy `./gradlew clean build` worked for me in the meantime

[2018-07-18 00:37] ms1111 opened #663 "Claiming a specific task from the queue"
Hi, I'm wondering if there's a way to claim a specific task (by ID) from the queue.

I might have a situation where tasks are flowing from one process to a second via an out-of-band queuing mechanism, but I still want Conductor to have some visibility of the workflow.

For example:

1. Process 1 starts the workflow.
2. Process 2 polls for a task (any task), does some work, and completes the task.

[2018-07-18 01:33] juaby opened #664 "v1.10.10 MySQL HikariPool-1 - Connection is not available, request timed out after XXXXms."
RT

[2018-07-18 01:42] #576 closed

[2018-07-18 05:20] mudit3774 commented on #656
@cyzhao @v1r3n Will this be a contribution that you guys are willing to consider and is aligned with the goal of adoption ?

[2018-07-18 08:34] #594 closed

[2018-07-18 16:45] clari-akhilesh commented on #600
Any update on this ticket? It would be really helpful to have the server metrics pushed to JMX

[2018-07-18 17:22] cyzhao commented on #656
@mudit3774 Spectator is already pluggable where any Registry implementation can be plugged in to send metrics to other monitoring systems. Spectator also provides Metrics3 implementation out of box - http://netflix.github.io/spectator/en/latest/registry/metrics3/

[2018-07-18 18:57] josedab commented on #449
If you are still having the issue and you are using OSX, it is probably related to your default openssl installation. If the stack trace of the errors includes something like:
[code]
you can fix the issue doing:
[code]

[2018-07-18 22:17] josedab opened #665 "Add checkstyle plugin as part of the gradle build"
I noticed there are some inconsistencies on the formatting of the backend code:
- Some classes of the project are with tabs, others with spaces
- No spaces before/after code blocks
- Different indentation on code blocks
- For more ideas, see for example [Google Java Style Guide](http://checkstyle.sourceforge.net/reports/google-java-style-20170228.html)

While some of the rules above are optional,

[2018-07-18 22:20] josedab commented on #665
Willing to write a PR related to this issue, just want to make sure contributors are ok with this before spending more time. On top of that, my recommendation would be to adopt the [Google Java Style Guide](http://checkstyle.sourceforge.net/reports/google-java-style-20170228.html) as I found it easy to follow and with enough documentation to point to.

[2018-07-19 02:51] mudit3774 commented on #656
Understood. Thanks for the response.

[2018-07-19 02:51] #656 closed

[2018-07-19 06:24] MohneeshParkhi opened #666 "Doubts on working of Netflix Conductor"
I am totally new to Conductor and experimenting with it to orchestrate a workflow, but have doubts regarding following topics:

A) What is role of inputKeys and outputKeys in Task metadata definition ? Why we used them?
B) What is role of Input Template in Task Meta data defintions ?
C) When writing a Workflow definition, it contains Task definition as JSON object. Task's JSON object contains two

[2018-07-19 08:23] star-yar commented on #449
I'm Using CentOS (gcc version 4.8.5 20150623 (Red Hat 4.8.5-28) (GCC) ). Updating ssl packages made no use.

[2018-07-19 08:31] saidatta commented on #596
What OS are you running?

[2018-07-19 08:44] saidatta commented on #666
A) `inputKeys` are input `keyNames` the workflow is expecting, I believe outputKeys have a similar purpose. You need inputKeys for defining what inputKeys the workflow needs to expect while being triggered

B) Not sure what you mean.

C) `inputParameters` and `outputParameters` are used to essentially provide a way to exchange information between tasks. If task3 wants to use task2's output, then y

[2018-07-19 08:45] LiranBri commented on #517
This reproduces for me as well when I'm trying to push a new task definition to endpoint **/api/metadata/taskdefs**

body:
`{
  "name": "encode_task",
  "retryCount": 3,
  "timeoutSeconds": 1200,
  "inputKeys": [
    "sourceRequestId",
    "qcElementType"
  ],
  "outputKeys": [
    "state",
    "skipped",
    "result"
  ],
  "timeoutPolicy": "TIME_OUT_WF",
  "retryLogic": "FIXED",
  "retryDelaySec

[2018-07-19 11:56] mateimicu commented on #579
Make sure the `rack` portion of the config from `workflow.dynomite.cluster.hosts` is a valid region `us-east-1b`. Even if you use `db=redis` you still need a valid region there for validation reasons.

More info here: https://github.com/Netflix/conductor/issues/59

[2018-07-19 14:35] josedab commented on #666
As @saidatta said, I believe [kitchensink example](https://netflix.github.io/conductor/metadata/kitchensink/) is the best way to go.  It helped me understand data flows between tasks and how input and output parameters work.

[2018-07-19 16:46] josedab commented on #665
@cyzhao Any thoughts? I can see `pmd` also playing a role in the project, but would like to know if the team has specific thoughts on this.

[2018-07-19 18:57] gsambasiva opened #667 "How to make workflow tasks execution process as synchronous instead of asynchronous"
I have a workflow consists of two tasks.
We are having status for task execution level and workflow execution level.

I want workflow status to be updated as completed, If both tasks executions is completed.
But somehow, workflow status is shown as completed, even though second task is in scheduled state.

Is it because of asynchronous behavior of workflow execution?
If yes can anyone suggest how

[2018-07-19 19:14] josedab commented on #667
Can you post your task and workflow definitions?

[2018-07-20 03:12] rbeers commented on #649
I'm currently exploring draw.io and doing something similar to the AWS Step Functions plugin:
https://github.com/sakazuki/step-functions-draw.io

[2018-07-20 03:14] manudilipshah opened #668 "[Question] How to disable use of elastic search completely"
I have persistence set to mysql but I don't have an elastic search running.I believe it is not required for workflows to run.

I see errors related to that in the logs.Is there a way I can disable that?

[2018-07-20 09:15] manudilipshah opened #670 "[Question] How to retry a failed workflow"
I was trying to figure out the following API's
POST /workflow/{workflowId}/rerun
POST /workflow/{workflowId}/restart
POST /workflow/{workflowId}/retry

I was able to run restart using the following request
curl -X POST http://<conductor-ip>:8080/api/workflow/<workflow-id>/restart

Can you give some examples on how to rerun and retry workflows

[2018-07-20 16:18] saidatta commented on #668
I am not sure whether Conductor has Toggle of ElasticSearch.

If there isnt, try running a bare bones ES docker image (from docker-compose.yaml) and link the network address in config.properties.

[2018-07-20 16:20] saidatta commented on #670
Have you tried using the `workflow-id` that is outputted after starting the workflow?

[2018-07-20 16:33] ro9er opened #671 "[Question] performance problems for decider queue"
Hi, I have tried to do a performance test on conductor.
This is the workflow diagram using a fork and join task.
![image](https://user-images.githubusercontent.com/3371081/43012415-c1c67b94-8c78-11e8-85cf-c60e58c88b86.png)
The other tasks are all executed by workers.
The thread pool size of the worker is 800, the task poll interval is 200 and the batch poll count is 20.
I do testing by jmeter. The

[2018-07-23 04:13] manudilipshah commented on #670
Yes @saidatta I tried.If it works for you can you please comment with the complete request along with the request body if any

[2018-07-23 06:35] saidatta commented on #671
Do you see an exception?

[2018-07-23 06:56] ro9er commented on #671
There is no error

[2018-07-23 07:16] LiranBri opened #673 "HTTP Task of type POST doesn't get body from request"
Hi,
I created a simple HTTP Task of type POST which passes the workflow's input as the body param.
When I trigger the workflow, Conductor does call the endpoint, but it doesn't pass the body.

I suspect that this is a bug, but if not I would appreciate your help understanding what am I missing.

In the conductor UI, I can see that the Task input looks good:
[code]

workflow definition:
[code]

exe

[2018-07-23 10:43] MLauri opened #675 "Same event listener for different workflows"
Hi guys,
is it possible to manage via a unique event handler the same "event task" used in different workflows?
For example; suppose I have two workflows defined as:

_**Wkf1: TaskA -> Event1 -> Task B
Wkf2: TaskX -> Event1 -> TaskY**_

If I'm not wrong from documentation seems that I have to define two event handlers for managing the same Event1 for each workflow.

[code]

Is it possible to use t

[2018-07-24 02:38] AlexeyPirogov opened #676 "[QUESTION] Does UI support authentication?"
I started a docker image and opened web-ui.
However, I didn't find how to create a new user and manage permissions.

Does Conductor has authentication functionality?
Or maybe in Netflix it is closely linked to Netflix internal authentication service and team didn't put it here.

[2018-07-24 08:45] mudit3774 opened #677 "Remove IndexDao dependency from RedisExecutionDAO"
Hey,

I was going through RedisExecutionDAO and it seems that in a lot of functions IndexDao is called either to index or get values. I am not able to understand why would we not have such call in a layer above this i.e. ExecutionService.java. The issue is that it is misleading, when I do a executionDAO.createWorkflow(wf); it writes to both Redis and internally indexes the workflow using an index

[2018-07-24 11:23] MohneeshParkhi opened #678 "Working with http_request Task type to hit microservice"
I want to hit a service running on mine local host. So followed the documentation to write a chunk of code.
Yet, API is not called by task definition when i am polling for execution of that task.

Doubts:

a) How does polling system executes the task in Worker system.

b) how to hit a micro-service using client application. Any working example link will be a great help.

[2018-07-24 11:24] #666 closed

[2018-07-25 04:13] ciastirfry commented on #98
We have the same issue. May I what has been done to fix it?

2018-07-25 04:12:16,671 [http-nio-8080-exec-17] [ERROR] (o.a.a.n.r.NpmRemoteRepoHandler:457) - Error while parsing the response of a remote npm JSON query on 'https://github.com/font-awesome': Unexpected character ('<' (code 60)): expected a valid value (number, String, array, object, 'true', 'false' or 'null')
 at [Source: org.jfrog.sto

[2018-07-25 05:01] preeth-gopalakrishnan commented on #678
The http task is a system task which will run within the conductor and will not run on a Worker.
Workers are defined for custom tasks.( tasks of type 'Simple' )

A sample workflow (from kitchen sink example) which invokes an HTTP API. This will run within the conductor.
	{
		"name": "worflow_http",
		"description": "invokes an API",
		"version": 1,
		"tasks": [
			 {
			      "name": "search_elast

[2018-07-25 06:48] cyzhao commented on #677
@mudit3774 I agree, we wanted to change this as well but didn't get a chance yet, you are welcome to submit a PR.

[2018-07-25 09:08] SivakumarRavi opened #680 "Netflix Conductor UI Retry workflow by editing request"
Hi ,
In netflix conductor UI we have retry option to retry a workflow if it fails.
Is it possible to edit the input to failed task and retry from the failed task?
Please suggest any solution. Thanks in advance

[2018-07-25 10:29] startan opened #681 "[Question]How to obtain state and outputParameters of workflow instances without `GET /workflow/{id}` API in real time?"
How to obtain state and outputParameters of workflow instances without `GET /workflow/{id}` API in real time?
We can only update the status of workflow pulling data from server timely. Do you provided a notice api in a push way.

[2018-07-25 10:33] MohneeshParkhi commented on #678
Thanks prateek

[2018-07-25 10:33] #678 closed

[2018-07-25 15:50] star-yar opened #682 "Conductor is sending POST instead of GET"
I've built a task in my workflow that should call GET but doing POST call
[code]

[2018-07-26 05:41] preeth-gopalakrishnan commented on #682
Could be because you are including "body" for the GET request.
GET request would not have a body part.
There is a "header" parameter.
headers | A map of additional http headers to be sent along with the request.

[2018-07-27 06:08] josedab commented on #682
My recommendation is to avoid sending GET requests with payload data:
It is discouraged on the [HTTP RFC 2616 specification](https://tools.ietf.org/html/rfc2616#section-4.3) and most of the server implementations use this as a base guideline.

For a more detailed explanation, see accepted answer on: https://stackoverflow.com/questions/978061/http-get-with-request-body

Having said that, if you thi

[2018-07-27 06:47] peng-w commented on #671
The whole workflow execution finished while the status kept running.
I had the same problem.
![problum](https://user-images.githubusercontent.com/6479081/43305922-091bd98e-91ac-11e8-9165-1e1e46de5475.png)

[2018-07-27 07:16] mudit3774 commented on #677
@cyzhao : Thanks! I will try to pick this up in the second half of August.

I wanted to discuss a few design changes :

1. Some DAO functions completely depend on indexDAO, specifically : addTaskExecLog, getWorkflowsByCorrelationId and addMessage etc. I am assuming, we can live with NOOP in these methods unless we plan to implement them at a later stage.

2. Would it make sense to pull out an arch

[2018-07-27 07:21] mudit3774 commented on #671
@ro9er @peng-w : Can you guys share the workflow and the task definitions (timeout values and retries).

[2018-07-27 07:33] #645 closed

[2018-07-27 07:47] mudit3774 commented on #543
@akashbhunchal : Thanks for raising this. Were you able to do a work around for this ?

[2018-07-27 07:48] mudit3774 commented on #361
@kpdude7 : If you go through the codebase carefully. It is not easy to remove dependencies on elastic search. For instance, some apis completely depend on ES like get workflows by corelation id.

Maybe if we can clean up the dependency and write small abstractions for archival, we can go ahead with the a config like flag. You can track the following issue if you are interested : https://github.com

[2018-07-27 09:05] akashbhunchal commented on #543
Nope, We just removed one box from the loadbalancer. We now have just one instance running.

[2018-07-27 09:37] ro9er commented on #671
the workflow definition is as follows:
{
  "name": "demo",
  "description": "demo",
  "version": 3,
  "tasks": [
    {
      "name": "dubboTask1",
      "taskReferenceName": "d1",
      "type": "SIMPLE",
      "inputParameters": {
      }
    },
    {
      "name": "dubboTask2",
      "taskReferenceName": "d2",
      "type": "SIMPLE",
      "inputParameters": {
      }
    },
    {
      "name": "

[2018-07-27 14:48] v1r3n commented on #680
@SivakumarRavi you can take the input of the failed workflow and start another instance if that is an option for you.

[2018-07-28 03:43] peng-w commented on #671
1、Metadata -> Tasks
[
{
  "name": "forktask",
  "retryCount": 3,
  "timeoutSeconds": 1200,
  "timeoutPolicy": "TIME_OUT_WF",
  "retryLogic": "FIXED",
  "retryDelaySeconds": 600,
  "responseTimeoutSeconds": 3600
},
{
  "name": "mytask11",
  "retryCount": 3,
  "timeoutSeconds": 1200,
  "timeoutPolicy": "TIME_OUT_WF",
  "retryLogic": "FIXED",
  "retryDelaySeconds": 600,
  "responseTimeoutSeconds": 36

[2018-07-29 05:07] jvemugunta opened #684 "ElasticSearch input and output fields"
In the mapping files mappings_docType_workflow.json and mappings_docType_task.json

the input and output fileds are defined as

 "input": {
        "type": "string",
        "index": "analyzed"
      },
      "output": {
        "type": "string",
        "index": "analyzed"
      }

We want to use rely on Elastic Search Engine for querying for Tasks and Workflows instead of Conductor. Use Conducto

[2018-07-29 05:09] jvemugunta commented on #684
Hi @v1r3n,

I think you are one who wrote this code.
Can you reply on how we can store the input and output as JSON data while fully indexed searches.
This will help conductor project to get best out of Conductor and Search Engine.

[2018-07-29 06:11] cyzhao commented on #677
@mudit3774  your plan sounds good to me, please proceed.

[2018-07-29 18:13] v1r3n commented on #684
@jvemugunta The reason for making this a string is that different tasks could potentially have different data types for the same field.  e.g. one task might output a field as string vs. another as integer or a complex object.  The conflicting data types will cause issues with indexing as Elasticsearch indexing will fail.  Given the fields are analyzed as string, you still should be able to search

[2018-07-29 19:51] star-yar commented on #682
@josedab, that helps a lot. Much thanks!

[2018-07-29 19:51] #682 closed

[2018-07-29 19:57] jvemugunta commented on #684
Hi @v1r3n , thanks for the reply.
If you look at the datatypes of Input and Output fields. they are defined as

private Map<String, Object> input = new HashMap<>();
private Map<String, Object> output = new HashMap<>();

Converting these fields as Strings, make the strings unsearchable from Elastic Search. The bigger goal for  plugging Conductor into Elastic Search Engine will be lost because the i

[2018-07-31 15:49] MLauri opened #688 "Task Management-Log result"
Hi guys,
seems that the management of log data in task doesn't work properly for last releases.
I made different tests using Swagger and the listed endpoints:

[code]

With version 1.10.11 and 1.10.12 POST action doesn't work.
Instead with version 1.10.5 it's possible to add new log to a task despite an error in the response data ("SyntaxError: JSON.parse: unexpected end of data at line 1 column 1

[2018-07-31 21:10] josedab opened #691 "Branch 2.0 does not build"
Just checked out changes on the `2.0` branch and was not able to build.

[code]
Anyone having the same issue on this branch?

Last commit is:
[code]

[2018-07-31 21:11] josedab commented on #691
@cyzhao Are you able to build on 2.0?

[2018-08-01 00:29] cyzhao commented on #691
@josedab yes I am able to build it and it built successfully on Travis after latest merge as well: https://travis-ci.org/Netflix/conductor/builds/409451132?utm_source=email&utm_medium=notification

[2018-08-01 00:32] josedab commented on #691
Thanks, appreciate it :). Might be something bad with my setup. Was able to build earlier commits though.

[2018-08-01 00:32] #691 closed

[2018-08-01 03:25] gauravbrills commented on #614
Ya I also had the same observation due to how the code fetches active domains

[2018-08-01 07:38] MohneeshParkhi opened #692 "Starting server using maven central based dependencies"
I am trying to start conductor using maven central based dependencies following the guidelines, it is giving exception as given below.

I tried to force update mine POM in Project, still facing same exception.

**"Missing artifact com.netflix.conductor:conductor-server-all:jar:1.6.0"** ,  which clearly dipicts that corresponding artifact is missing.

How can i achieve this task, can any person hel

[2018-08-01 09:26] cocodee commented on #321
This is a very useful feature.

[2018-08-01 10:08] cocodee opened #693 "Workflow status notifications"
Notifications after workflow failing is important to do other task or resource clean up. Is there any schedule to add this feature?

[2018-08-01 12:55] copierrj opened #694 "Busy client keeps polling for additional tasks"
In our setup we have a workflow that schedules a significant amount of tasks (a few hundred) of the same type. Unfortunately we cannot spawn more than a few worker instances due to (external) resource constraints and completion of a single task takes a while.

I expected only a few (instanceCount * threadCount) 'in progress' tasks to show up under /api/tasks/in_progress/{taskType} at any given tim

[2018-08-01 13:42] gsambasiva opened #695 "Is there any possible to have new API for workflow metadata definition ?"
Wright now we have pagination option for workflow execution details.
Similarly, do we have any  plan to create new API for workflow metadata definition pagination

[2018-08-01 14:06] star-yar commented on #590
Have same problem even after recompilation fails because of encoding.

[2018-08-01 21:44] saidatta commented on #694
Any error messages?

[2018-08-02 06:40] copierrj commented on #694
The Conductor server works fine. This issue is strictly a client problem.

[2018-08-02 07:48] star-yar opened #697 "UI build error"
Trying to build UI with docker.

...
Step 4/11 : RUN mkdir -p /app/ui
 ---> Running in c07047e86a7a
Removing intermediate container c07047e86a7a
 ---> b70b9cb8c275
Step 5/11 : COPY ./docker/ui/bin /app
 ---> 6f68a5e23150
Step 6/11 : COPY ./ui /app/ui
 ---> f8cadec4cbc8
Step 7/11 : RUN chmod +x /app/startup.sh
 ---> Running in 29931522175d
Removing intermediate container 29931522175d
 ---> 6aeeea3a

[2018-08-03 18:46] dileepkeely opened #700 "Register the Conductor with Eureka"
Please let me know how do I register the conductor server to  EurekaDiscovery server.
Question1: In which class of the conductor code do I need to mark the class as @EnableDiscoveryClient.
Question2: Once registered with eureakdiscovery server how should the WORKER need to poll.

[2018-08-03 18:59] dileepkeely opened #701 "JSON workflow DSL"
Please suggest:
Referring to kitchen sink example, I came to know that the WORKFLOW tht we define as a JSON i.e "kitchensink.json" is implemented in ConductorServer.java like below:
[code]
Please let me know for a PRODUCTION environment, where should we define and use the JSON workflow DSL.

[2018-08-03 19:50] dileepkeely commented on #671
You mentioned that whole work flow is finished..Can u please provide the workflow input being used..

[2018-08-04 12:45] ro9er commented on #671
there's no input and output. its just a demo to test performance

[2018-08-04 16:05] HardiChandra opened #702 "Running UI from docker-compose failed"
Hi,

I am running docker-compose up and when I tried to access localhost:5000
I got "The site can't be reached message" I tried to dig in to the log and find this

[code]

Did I miss any steps? Thank you in advance

[2018-08-04 16:16] HardiChandra opened #703 "Starting UI Server failed"
Hi,

I am new to conductor, trying to start the UI server in a new machine.
I run `npm install` before doing `gulp watch`
And I got the message below when I'm doing it.

[code]

I tried running `npm install babel-register - g` and `npm install eslint -g`

but still it doesn't work
Any suggestions? thx In advance

[2018-08-04 16:57] dileepkeely commented on #622
1.Can you please let me know  where we need to place the WORKFLOW defined json file, that act as an input.
2. Where should I be writing the code for Worker to be registered.  Do  we need to  write it along with conductor jar and deploy this as part of the condcutor generated jar?
 Please suggest. I want to orchestarte our microservices.
[code]

[2018-08-04 17:01] dileepkeely commented on #673
Can you let me know where did you configure  your workflow definition, so that the conductor server will instantiate?

[2018-08-04 17:05] dileepkeely commented on #644
Can you please let me know how did you load the workflow DSL json to be instantiated by conductor?
Also how did u register your tasks?

[2018-08-04 17:47] LiranBri commented on #673
Sorry, I didn't understand your question.. What do you mean by "where"?

On Sat, Aug 4, 2018, 20:01 dileepkeely <notifications@github.com> wrote:

--

Sent from my phone

[2018-08-06 15:17] krisch93 opened #704 "Conductor and Dynomite setup related questions for moving away from SWF"
Hi,
We are trying to move away from AWS SWF in our project and we are currently exploring various suitable options and conductor seems to be a better alternative.

Can you please help us clarify some of the below mentioned points so that we can get a better understanding of conductor ??

-  For the conductor configuration “workflow.dynomite.cluster.hosts”, do we need to mention all of the dynamite

[2018-08-07 09:09] zmzhy20090101 commented on #702
1. in docker\ui\Dockerfile , remove
(# Get and install conductor UI
RUN cd /app/ui \
  && npm install \
  && npm run build --server)

2. then pack locally ,  (npm install  && npm run build --server)
retry docker-compose build, this's my way, I hope it will help you

[2018-08-07 09:32] MohneeshParkhi opened #706 "Conductor Docker deployment"
When i am hitting command docker-compose build, the image of server component is built successfully,
But UI Image  does not build, Given below is stack trace

Step 2/11 : MAINTAINER Netflix OSS <conductor@netflix.com>
 ---> Using cache
 ---> ad0c063a3c08
Step 3/11 : RUN apk update && apk add   autoconf   automake   libtool   build-base   libstdc++   gcc   abuild   binutils   nasm   libpng   libpng

[2018-08-07 18:41] HardiChandraTW commented on #702
Hmm, doesn't seem to be the best solution. But it worked.
Thank you very much @zmzhy20090101 👻

[2018-08-08 02:50] HardiChandra commented on #702
Not the best solution I believe, but this work..
Thank you very much @zmzhy20090101 👻

[2018-08-08 02:50] #702 closed

[2018-08-08 08:47] ZakariaAmri opened #707 "Tool for modeling workflow"
We are presently working on worflow management, and Conductor happens to be of a great help concerning the orchestration of our tasks. However we'd like to use a proper interface so an average user could use it. Your solution does not provide such a tool, therefore we wondered it there is currently people working on it ? Are you using a particular software to get round this lack ? And have you eve

[2018-08-08 14:51] sreenivasulumd commented on #671
Where did u define the metadata of the tasks ??
Is it in the workflow def?

[
{
"createdBy": "roger",
"updatedBy": "roger",
"name": "notifyTask",
"description": "string",
"retryCount": 0,
"timeoutSeconds": 0,
"inputKeys": [
"string"
],
"outputKeys": [
"string"
],
"timeoutPolicy": "RETRY",
"retryLogic": "FIXED",
"retryDelaySeconds": 0,
"responseTimeoutSeconds": 0,
"concurrentExecLimit": 0,
"inputTe

[2018-08-09 12:02] #706 closed

[2018-08-09 14:26] jkaipa opened #708 "Event Task"
Could someone help me understand why the event task is marked as 'Completed' after the publish? Shouldn't it be in IN_PROGRESS state?
Thanks,
GK

[2018-08-09 16:28] jkaipa commented on #708
Got it. An event task is bounded with publish responsibility alone. Its the event handler which handles the event and takes the flow forward.
Ref: [](https://medium.com/netflix-techblog/netflix-conductor-inversion-of-control-for-workflows-c495621bc1c5)

[2018-08-09 16:28] #708 closed

[2018-08-09 22:58] rangabarath commented on #380
it works, thank you

[2018-08-10 13:10] MLauri opened #711 "Python client-Escape non-ascii characters"
Hi guys,
there is a problem in the python client with non ascii string.
This is the error raised in conductor when data contains non ascii character in `requests.post`.

[code]

Seems that this error can easily be fixed using this patch

[code]
Alternatively it's possible to explicitly convert data in utf-8

`json.dumps(body, ensure_ascii=False).encode('utf-8')`

Is it possibile to add this patch

[2018-08-10 14:57] davidgodf opened #712 "Workflow timeout"
Is there a way to set a timeout for the execution of a complete workflow? I can see how to do this at the task level, but I need to be able to specify that the complete workflow must either complete or be timed out after X seconds. I could see how I could handle this with additional logic in my client and tasks, but it would be nicer if there was some way to define it at the workflow level.

[2018-08-10 18:47] rickfish opened #714 "RedisDynoQueue.pop() not returning HTTP tasks that are in the queue"
We have HTTP tasks that are in SCHEDULED status but the pop() method of RedisDynoQueue is not returning them. If I call the peek method of the queue I can see them but the pop() method acts like they are not there. I have tried to debug around that class but RedisDynoQueue is in the dyno queues project and that project uses other classes from other projects so it is difficult.

I had a look at the

[2018-08-11 00:43] josedab commented on #703
@HardiChandra Try deleting the `.eslintrc` file. That will make gulp to not run the eslint rules. It worked for me as a short term solution.

However, if you are changing code on the UI, I would recommend to have the rules on before submitting a PR as these rules help detect coding style issues.

[2018-08-13 06:19] manudilipshah opened #718 "[Question] Is dynomite cluster required for event based tasks for mysql persistence?"
I saw event tasks working with in memory conductor server but it was not working mysql persistence without using dynomite?Am I missing something here?

[2018-08-13 06:35] manudilipshah opened #719 "[Question]Is there a problem using repeatable workflows?"
I am using repeatable workflows in the following way

{
   "name":"restartWorkflow",
   "version":1,
   "tasks":[
      {
         "name":"configureTTL",
         "taskReferenceName":"configureTTL",
         "type":"configureTTL",
         "inputParameters": {
        	"ttl": "${workflow.input.ttl}"
    	 },
         "startDelay":0
      },
      {
         "name":"waitForTTLExpiry",
         "tas

[2018-08-13 08:22] MohneeshParkhi opened #720 "Assigning task to Worker Thread : Confusion regarding how Worker task executes and update status to Conductor."
Hi, I am experimenting with Netflix's Conductor and bugged with a doubt into mine brain which keeps me ping all time, can anybody help to resolve this one:

There is execute() method within worker interface, now doubts:
a)Should i overload it to update a task status or write a whole task like reading file or insert value in database and then update the status.
b) Should i design an application whi

[2018-08-13 10:29] amitprakash30 opened #721 "How to create a task and workflow for uploading a file from your path."
Could you please provide a sample workflow json.

[2018-08-13 15:57] jkaipa commented on #720
This is what I understood.
You can have multiple workers running on the same machines which has the ability to execute specific task definition name.
Ex. If you have a task definition name as MoveFiles, You can have multiple workers running on the same machine to listen to MoveFiles related tasks in the queue. The WorkflowTaskCoordinator would schedule the MoveFiles tasks among these workers.

Loo

[2018-08-14 19:15] tarunbheemajava commented on #540
I need to make the attached task dynamic and event driven.  But when I tried to make task dynamic it is failing .
Definition of my workflow
{
  "name": "testTwodynamic",
  "description": "Dynamic workflow",
  "version": 1,
    "tasks": [
      {
        "name": "task_a",
        "taskReferenceName": "task_a",
        "inputParameters": {
          "firstname": "${workflow.input.firstname}"

[2018-08-14 19:16] tarunbheemajava commented on #540
I want to make my task dynamic and event driven for simple tasks i.e., task_a and task_b part by part to understand so that I want to implement kitchensink .

[2018-08-16 23:56] josedab commented on #701
@dileepkeely That code is getting the data from the `kitchensink.json` file and calling the api to register the workflow definition.
In production you could do the same using the client within the project or through curl. The `kitchensink.json` file is a valid workflow definition so you could use it there as well.

I don't recommend to load the sample in production as part of the starting process

[2018-08-17 00:03] josedab commented on #700
@dileepkeely I believe `@EnableDiscoveryClient` is a spring annotation. I am not aware of the use of a similar annotation for the guice framework.
There is already an integration with the eureka client. You can see more on `WorkflowTaskCoordinator`

[2018-08-17 00:06] josedab commented on #681
@startan I believe the current code does not support support what you are asking. Only mechanism at the moment is through polling.

[2018-08-17 14:31] danielsitnik commented on #380
Indeed it works, perhaps it should be mentioned in the documentation at https://netflix.github.io/conductor/intro/

[2018-08-17 15:06] danielsitnik commented on #697
Same error here.

[2018-08-17 20:49] jkaipa commented on #543
Any new development towards a solution for the issue in question?

[2018-08-19 16:15] chinajuanbob opened #725 "Need type structure and support url parameter for golang client"
Need type definition for TaskDefs and WorkflowDefs,
Need to support parameters like domain in ConductorHttpClient requests
Thanks!

[2018-08-20 00:52] chinajuanbob opened #726 "UI is not compatible with ES 5.6.9"
Hit "500 Internal Server Error"  for Executions pages

[2018-08-20 06:52] Mortimor1 commented on #697
cd docker/ui
change Dockerfile
change line '  && npm install\' to '  && npm install --no-optional --no-shrinkwrap --no-package-lock\'

[2018-08-20 07:01] amitprakash30 commented on #721
@v1r3n Could you please provide a way to upload a file in a task within a workflow .Also can you also provide a way to do it programatically

[2018-08-21 10:47] rksinha opened #728 "Connectivity issue with AWS managed ElasticSearch"
Tried using AWS managed ElasticSearch version 5.5 and version 6.2 both on port 80 and 443.

**Getting issue :**
2963 [main] ERROR com.netflix.conductor.dao.es5.index.ElasticSearchDAOV5  - None of the configured nodes are available: [{#transport#-1}{gCAkVVRvTHes5XXXXXXX}{xxxxxxx.amazonaws.com}{172.xxx.xxx.xxx:443}]
NoNodeAvailableException[None of the configured nodes are available: [{#transport#-1

[2018-08-21 15:26] danielsitnik commented on #697
This is not a solution, but in my case I manually changed the package-lock.json and upgraded the package "natives" to version 1.1.3, after this `docker-compose build` worked.

Now I get errors on startup.sh when I try `docker-compose up`:

[code]

[2018-08-21 17:10] egor-slesarenko opened #729 "cannot see input parameters for task"
step1 : POST /api/metadata/taskdefs
[code]

step2: POST /api/metadata/workflow
[code]
step 3:  POST /api/workflow/service_payment_is_required
[code]

All steps worked fine, however I cannot see input parameters for task "encode":

http://prntscr.com/klb5eh

"kitchensink" from the box works good with input (http://prntscr.com/klb6ef), could you please point where the issue?

thanks in advance

[2018-08-21 18:58] cyzhao commented on #728
@kishorebanala

[2018-08-21 19:45] Mortimor1 commented on #697
At least it helped me.
He also writes that he can not find the "dist" as it is when compiling.
I also cloned the repository with the tag "v1.11.0"
and it's better to do 'docker-compose build --no-cache'
so that there are no unintelligible errors.

using google translete.

[2018-08-22 07:33] animagus32 opened #731 "How to make subworkflow optional?"
I'm using dynamic fork join task . The task forks into 2 subworkflow , but if one subworkflow fails ,the origin workflow failed too,  despite i have set the "optional=true" for each subworkflow

[2018-08-22 07:59] animagus32 commented on #731
sorry  it worked

[2018-08-22 07:59] #731 closed

[2018-08-22 08:19] animagus32 opened #732 "How to set reason when using failureWorkflow ?"
i'm using failureWorkflow to manage workflow failure, but the reason of failureWorkflow is always null . How to set this ?

[2018-08-22 12:47] chinajuanbob opened #733 "Any existing client or worker code for nodejs?"
Any existing client or worker code for nodejs?

[2018-08-22 14:28] egor-slesarenko commented on #729
i changed schemaVersion to 2 and it works

[2018-08-23 19:14] apanicker-nflx commented on #733
Currently, we do not have an implementation. You could submit a PR with an implementation which can be leveraged by others in the open source community as well.

[2018-08-23 19:14] #733 closed

[2018-08-23 19:17] #729 closed

[2018-08-23 19:46] apanicker-nflx commented on #693
We do see the benefits of such a feature. Having said that, it is not currently on our roadmap, we will really appreciate it if you could submit a PR with the implementation.

[2018-08-23 19:46] #693 closed

[2018-08-23 21:35] zekeoptimo opened #736 "Dockerfile using outdated java builds"
The Dockerfiles for conductor server use old versions of java.

Specifically:

/docker/server/Dockerfile - uses java:8-jre-alpine
/docker/serverAndUI/Dockerfile - uses java:8-jdk

These should be changed to use openjdk instead of java as the java images are deprecated as of 12/31/2016

In practice this caused an issue with elasticsearch and the overlay file system on Windows machines. Using AUFS i

[2018-08-23 21:59] zekeoptimo commented on #736
I went ahead and created a pull request for this - https://github.com/Netflix/conductor/pull/737

[2018-08-24 10:55] APrakash1989 commented on #721
Can anyone please update on this @v1r3n  ? We are stuck at this point and we need a help on this .Please reply

[2018-08-24 11:00] APrakash1989 commented on #732
Could you please help me how to create a workflow for uploading a file using an endpoint if you have used anything like this .

[2018-08-25 08:35] zekeoptimo commented on #736
Closing issue, this PR was merged

[2018-08-25 08:35] #736 closed

[2018-08-28 04:44] surajrrao opened #740 "SQS integration issue"
Documentation explains how to add SQS queue name as part of the workflow task. But, where to configure the connection string. How does the conductor know the connection string? Any help would be appreciated here!

{
  "sink": "sqs:order_queue"
}

[2018-08-29 03:55] stephen-kruger opened #741 "Getting started documentation is incorrect"
It seems there is step missing (from https://netflix.github.io/conductor/intro/) to actually install the deps :

Workspaces/conductor>cd ui
conductor/ui>gulp watch
[11:53:09] Failed to load external module @babel/register
[11:53:09] Failed to load external module babel-register
[11:53:09] Failed to load external module babel-core/register
[11:53:09] Failed to load external module babel/register
[1

[2018-08-30 23:33] jvemugunta commented on #661
I do have similar requirement. Appreciate any guidance on how to integrate Spectator with Atlas.

[2018-09-05 14:24] kymr opened #750 "misstyped json at dynamic fork example"
## Link
* https://netflix.github.io/conductor/metadata/systask/

## Dynamic Fork Example
[code]
* before "type", comma is missed

### Valid Json
[code]

[2018-09-05 23:19] jvemugunta commented on #741
try
npm run watch

[2018-09-06 01:46] xaka opened #751 "Any advice on versioning of workflows/tasks?"
The documentation is great! What I couldn't find though is information regarding the versioning.

- What's Netflix take on it? Any best practices, patterns?
- Do I name my workflows/tasks like "workflow_v1/v2/..." and "task_v1/v2/..." and follow the same pattern for classes i.e. MyTaskV1, MyTaskV2, etc.?
- What about the situation when I don't want to disrupt an existing (in progress) flow and yet

[2018-09-06 02:30] zekeoptimo commented on #377
Is there any update on this defect? I'm experiencing this as well.

[2018-09-06 11:17] Jiehong opened #752 "Publishing release notes / changelogs?"
Migrating from 1.10.x to 1.11.x, I'm unable to find a release note with changes, and what to expect, how to migrate.

The file named `CHANGELOG.md` is empty, and has an initial commit set 2 years ago.

Would it be possible to better handle the releasing process and communication?

[2018-09-06 21:26] jvemugunta opened #754 "mysql timeoutSeconds and responseTimeoutSeconds are not working"
The same works with REDIS and doesn't work with mysql. Did any one encounter this issue?

You can recreate the issue as below

Task and Workflow definations
[code]
Workflow Instance

[code]

Call this URL
curl -X GET --header 'Accept: application/json' 'http://localhost:8080/api/tasks/poll/T1'

wait for 2 mins, you will see the task is in_progress. Repeat the same with REDIS and backend and the ta

[2018-09-06 21:44] jvemugunta commented on #754
Hi @mashurex and @picaron
Any pointers on this issue. I just realized it. Are you have the same problem?

https://github.com/Netflix/conductor/blob/b8fa64ba8a0735192e56c06a790dbf193d600171/core/src/main/java/com/netflix/conductor/core/execution/WorkflowSweeper.java#L74-L96

List<String> workflowIds = queueDAO.pop(WorkflowExecutor.deciderQueue, 2 * executorThreadPoolSize, 2000);

Once the pop is ca

[2018-09-06 21:55] saidatta commented on #751
From my understanding & experience,
3) - Workers poll based on tasks rather than workflows. If there is an existing workflow using a worker node, and you restart it with updated code. Then, the on-going workflow will be effected with the changes. But, the portal for starting the workflow requires which version of that WF to start.

[2018-09-06 22:11] saidatta commented on #704
Here are my answers based on my experiences. Maybe someone else can answer your questions more accurately.
1) I believe you can mention dns names.
2) - https://github.com/Netflix/conductor/issues/23
3) - I believe it is 3 nodes for HA
4) & 5) - @ipapapa is more knowledgeable to answer the dyn_seeds question and consistency level
6) I believe the replication mechanisms are found in the dynomite doc

[2018-09-06 22:14] saidatta commented on #721
Should be straightforward unless I misunderstood the question.

- Register a simple workflow and task with conductor
- Implement your worker code base that uploads the file.
- Use the task polling capabilities to register that code base to the associated Registered task
- Then, execute that task poller.

[2018-09-06 22:35] saidatta commented on #728
I usually encountered when the AWS was not reachable from the conductor node. Also, when I tried bringing up ElasticSearch before the ConductorServer booted up.

[2018-09-07 13:36] ipapapa commented on #704
* We run Dynomite in 1 node per rack, and 3 racks per datacenter. The level of HA you want to achieve depends on your business needs.
* Dyno-queues and Conductor require `DC_SAFE_QUORUM` to properly operate. You can find more about [consistency](https://github.com/Netflix/dynomite/wiki/Consistency).
* If a replica is down in another datacenter, it does not matter. If one node is down, in the same

[2018-09-07 13:42] ipapapa commented on #704
Here are a few data points from a performance benchmark we did a year ago:

Msgs per Queue | Batch Size | Total Time to Drain (ms) | Throughput (msg / sec) | Recipe | Extrapolated time to drain 20M messages in secs
-- | -- | -- | -- | -- | --

5,050,000 | 1000 | 240547 | 20,994 | Dynomite | 962.188
-- | -- | -- | -- | -- | --

[2018-09-07 17:01] mashurex commented on #754
@jvemugunta I'll dive in and take a look later today.

[2018-09-07 17:05] mashurex commented on #664
With some further testing, we should look at upping to some more performant defaults.

[2018-09-07 20:32] josedab commented on #449
I believe this is an issue related to each of our environments: might be missing some library, might be your user for running mariaDb is not root, etc...

I hit the issue that @nikhil-babaria was commenting again, so decided to create a Dockerfile to be used in the future for problems related to builds and tests. For more information, see PR https://github.com/Netflix/conductor/pull/755

[2018-09-08 00:08] jvemugunta opened #756 "Does unackTime creates a race condition?"
[code]

unackTime	Time in millisecond within which a message needs to be acknowledged by the client, after which the message is re-queued. We pass 60 seconds as unackTime

what happens if the client do a batch poll with 100 as messageCount? The pop method will query the redis database and pops 100 messages. Now, the client process one message at a time and it has execute some backend logic and tak

[2018-09-08 15:58] mashurex commented on #754
So here's generally what happens with the queue daos
- Messages get put on the queue with an ACK timeout value
- Messages get popped when workers poll for them, MySQL queue DAO sets `popped = 1` so we can un-pop them at a later time if need be
- Workers will ACK the tasks as they get them, which in the case of the MySQL queue DAO will delete the row
- If Workers do not ACK the task in a certain am

[2018-09-08 21:30] jvemugunta commented on #754
@mashurex . The problem is bigger that what we think. There are some serious bugs.
I have created an integration test with your code. MYSQL code is failing for 6 testcases as of now. I will find more and I digging more into the code. we have to redesign some of mysql tables.

Please run this class and make sure you have a local mysql DB running.

      conductor/test-harness/src/test/java/com/netf

[2018-09-08 21:54] mashurex commented on #754
That’s interesting because I ran all tests before I created the PR... will look into this further.

[2018-09-09 16:48] mashurex commented on #754
@jvemugunta When I run the test harness I get the same failures. I'm digging into the test workflow to figure out what the expectations mean and compare to the redis/dyno implementations.

[2018-09-09 16:57] jvemugunta commented on #754
@mashurex I am also looking into it. MYSQL has some bugs which could have been overlooked in the past. Some of them are very corner cases. We initially found these bugs during the performance testing. Later, I have realized all of the test harness with all edge cases were done with RedisMock.

When I enabled the same testing with mysql modules, all kinds of issues got surfaced and opened can of wo

[2018-09-09 17:36] gsambasiva commented on #754
@jvemugunta @mashurex  I am following your discussions about mysql issues.
I am using sqlserver database as back-end to work with conductor with mysql module.
I just modified mysql queries to work with sqlserver databse.

Still now we didn't do any performance test, but basic workflow execution testing is done, it looks good.
Are there any major issues, if I want to move take this code to producti

[2018-09-09 18:54] jvemugunta commented on #754
There are some functionality bugs with MySQL DAOs. I am digging deep into the codebases and comparing MYSQL queries with Redis queries

I don’t have good answer as of now. I will publish my findings in the next few days

Sent from my iPhone

[2018-09-09 22:34] mashurex commented on #754
I believe I've found the root cause... the `task_scheduled` table has a column called `task_key` and the `task_key` value was being generated in two different ways.

There are two methods that use task keys in the `MySQLExecutionDao`, `MySQLExecutionDao::createTasks` and `MySQLExecutionDao::removeTask`.

One of them was generating a task key as `task.getReferenceTaskName() + "_" + task.getRetryCou

[2018-09-10 01:07] jvemugunta commented on #754
@mashurex

Still these test cases are failing

<img width="1680" alt="screen shot 2018-09-09 at 9 06 29 pm" src="https://user-images.githubusercontent.com/7503683/45271352-54665a00-b474-11e8-9910-bbbfbd98d19b.png">

[2018-09-10 01:09] jvemugunta commented on #754
testRetryWithForkJoin throws the below error

[code]

[2018-09-10 03:10] stephen-kruger commented on #741
Shows same behaviour as gulp watch.
UI loads on port 3000 but has fatal console errors:
1)GET http://localhost:3000/js/app.js net::ERR_ABORTED 404 (Not Found)
2)Refused to execute script from 'http://localhost:3000/js/app.js' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled.
3)GET http://localhost:3000/fonts/sourcesanspro.woff net::ERR_ABORTED 404 (No

[2018-09-10 05:00] stephen-kruger opened #758 "No API to remove a workflow?"
I have created a new workflow using http://localhost:8080/api/metadata/workflow/

However trying to delete it (using http://localhost:8080/api/workflow/encode_and_deploy/remove or http://localhost:8080/api/workflow/encode_and_deploy

shows the error: "No such workflow found by id: encode_and_deploy"
The problem is, workflows are not referenced by an id, they only have a name, so how are we suppose

[2018-09-10 09:38] gsambasiva commented on #695
I have created API for this, closing this issue

[2018-09-10 09:38] #695 closed

[2018-09-10 13:33] mashurex commented on #754
There are concurrency issues with the tests, I found the ones that fail all pass correctly when run by themselves. If you read through them you’ll see they make certain expectations that assume they have the queue all to themselves. If you run them individually all pass.

[2018-09-10 13:34] mashurex commented on #754
And in fact, the same tests fail for me with the default modules as well.

[2018-09-10 14:16] jvemugunta commented on #754
Hi @mashurex . Thanks for spending time on this one . Yes, agreed. These are concurrency issues with MYSQL. However, the same tests passes with default REDIS modules.

This leaves me with few questions - There are race conditions that we present in REDIS and is being ignored because the REDIS database is not running in transactional mode.

However, the same got surface with MYSQL as we run in tran

[2018-09-10 15:24] xesxen opened #759 "Workflow sometimes fails to transition to COMPLETED"
Given the attached sample workflow, Conductor sometimes fails to transition to COMPLETED. Even weirder, I've seen the workflow transition from COMPLETED back to RUNNING when refreshing the web interface quickly after starting this workflow.

In the workflow state, the last task (placeholder_false, which is an event) is marked as COMPLETED, but the state of the workflow itself is still RUNNING.

At

[2018-09-10 17:07] saidatta commented on #759
I encountered that too.

[2018-09-10 17:15] saidatta commented on #758
you cannot use the name as a standalone identifier for referencing a workflow.

When you start a workflow a GUID is generated, which you can leverage for doing any actions on it.
You can also retrieve all running workflows, and filter through them.
You can also leverage the corelation-id

https://netflix.github.io/conductor/runtime/

[2018-09-10 21:08] enydrueda opened #762 "FORK_JOIN_DYNAMIC task throw error: Input to the dynamically forked tasks is not a map"
Hi, testing FORK_JOIN_DYNAMIC tasks I got the error "Input to the dynamically forked tasks is not a map -> expecting a map of K,V but found null"

Workflow:
`{
  "name": "fork_join2",
  "tasks": [
    {
      "name": "dynamic_fanout",
      "taskReferenceName": "dynamic_fanout",
      "inputParameters": {
        "dynamicTasks": "${workflow.input.dynamicTasks}",
        "inputTasks": "${workflow.i

[2018-09-10 23:16] saidatta commented on #762
For the name parameter under dynamicTasks, can you change it to the FORK_JOIN_DYNAMIC task's name.

[code]

[2018-09-10 23:17] saidatta commented on #758
Might be helpful

https://github.com/Netflix/conductor/pull/679

[2018-09-11 02:04] jvemugunta commented on #754
@mashurex . is this an issue ?
Please review and let me know what you think

Class Name : MySQLExecutionDAO

**method Name : getPendingTasksByWorkflow**

[code]

should be

[code]
**method Name : getPendingTasksForTaskType**

[code]
should be

String GET_IN_PROGRESS_TASKS_FOR_TYPE = "SELECT json_data FROM task_in_progress tip "
                + "INNER JOIN task t ON t.task_id = tip.task_id " + "W

[2018-09-11 02:14] jvemugunta opened #763 "why is inProgressTaskKey added in createTasks?"
https://github.com/Netflix/conductor/blob/d296361cfaec4711bac16a805a43dce1765ff828/redis-persistence/src/main/java/com/netflix/conductor/dao/dynomite/RedisExecutionDAO.java#L136-L173

@v1r3n and @cyzhao

 When the task is first created, it is in scheduled status. It makes total sense to call

`Long added = dynoClient.hset(nsKey(SCHEDULED_TASKS, task.getWorkflowInstanceId()), taskKey, task.getTaskI

[2018-09-11 10:39] shouhei opened #764 "Response of api updating a task has been changed."
After [this commit](https://github.com/Netflix/conductor/commit/ae403c9a0a43b7a525dcf0012fc9b080cf44ba8e#diff-7143b9a69e2e1c1c9127eada224a0920L147), Response of api updating a task  has changed from json string  to plain text string. In its impact python example script `kitchensink_workers.py` has been raising some exceptions.  This change has intend ?

before:

after:

[2018-09-11 13:19] enydrueda commented on #762
Thank you for your answer, I still get the error, withe the initial data:
[code]

[2018-09-11 15:36] enydrueda commented on #762
And when I click on "retry" button I get the following error:
```"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Error: Internal Server Error<br> &nbsp; &nbsp;at Request.callback (/app/ui/node_modules/superagent/lib/node/index.js:698:17)<br> &nbsp; &nbsp;at IncomingMessage.&lt;anonymous&gt; (/app/ui/node_modules/superagent/lib/nod

[2018-09-11 20:17] saidatta commented on #762
Can you show the full stack trace? you will need to register tasks as Task definitions in the server.

e.g, `dynamic_fanout` and `dynamic_join `

[2018-09-12 02:12] cyzhao commented on #756
The execute method of the worker will only be called after the message is ack'ed, keep in mind that ack happens after the task is received by the client and before it is processed by the worker, its purpose is to acknowledge Conductor that the task is received by the client. After worker completes the processing of the task, WorkflowTaskCoordinator then makes another call to Conductor to update th

[2018-09-12 02:12] #756 closed

[2018-09-12 12:53] enydrueda commented on #762
Thank you @saidatta,  I registered the task as Task definitions and my workflow worked

[2018-09-12 12:53] #762 closed

[2018-09-12 18:27] enydrueda commented on #204
Hi, any update with this issue? I did the same configuration as @danca226 and when I start the server get the following error:

bash```
Exception in thread "main" com.google.inject.CreationException: Unable to create injector, see the following errors:

1) No implementation for com.amazonaws.auth.AWSCredentialsProvider was bound.
  while locating com.amazonaws.auth.AWSCredentialsProvider
    for t

[2018-09-12 20:07] saidatta commented on #438
I am not familiar with Event Handlers. But for variable inter-exchange between tasks,
Can you try `task_2 .output.ref_workflow`?

[2018-09-13 11:03] kchaturanga opened #767 "How to specify "Callback After" attribute of a task executes on a Dynamic Fork"
I have a dynamic fork

Is it possible to spacify "Callback After" in "somename_activity_1" and "somename_activity_2"

[code]

[code]

[2018-09-13 14:03] rajeshik commented on #628
It looks like Netflix Conductor can perform Basic Authentication.
Can Netflix Conductor support MASSL / 2-way Certificate Authentication or OAuth 2.0 Authentication.

[2018-09-13 20:36] smcmaster-isp commented on #204
How and where do you inject AWSCredentialsProvider? Can you just give syntax example?

[2018-09-15 05:09] rajeshik opened #769 "MASSL / 2-way Certificate Authentication support for Netflix Conductor"
It looks like Netflix Conductor can perform Basic Authentication.
Can Netflix Conductor support MASSL / 2-way Certificate Authentication or OAuth 2.0 Authentication.

[2018-09-16 21:04] picaron commented on #769
for HTTP tasks, it currently supports only basic auth or [2-legged OAuth 1.0](https://github.com/Netflix/conductor/blob/master/contribs/src/main/java/com/netflix/conductor/contribs/http/HttpTask.java#L153)

[2018-09-17 11:08] preeth-gopalakrishnan opened #770 "Conductor docker image in docker hub"
Hi,
Currently there is no public docker image in the docker hub under the
https://hub.docker.com/u/netflixoss/.
Are there any plans to publish this here?

thanks

[2018-09-17 18:07] saidatta commented on #770
I agree. Though, have you checked out the docker-compose.yaml file within the repo?

[2018-09-18 14:57] Jiehong opened #773 "Wrong error message when resuming a non-paused workflow"
The code test for non-paused status, but the message says "is PAUSED":

https://github.com/Netflix/conductor/blob/809be627b9aa4f9c7901fb289abe2840f6885f86/core/src/main/java/com/netflix/conductor/core/execution/WorkflowExecutor.java#L655

[2018-09-19 20:14] apanicker-nflx commented on #773
Thanks for pointing it out. Should be fixed now.

[2018-09-19 20:14] #773 closed

[2018-09-20 09:21] panthony opened #775 "docs: base_url is not defined"
Hi,

There is the following javascript error on the documentation site:

[code]

Which break the [search functionality](https://netflix.github.io/conductor/search.html?q=task) of the documentation.

[2018-09-20 13:06] panthony opened #776 "No Heartbeat / Failover?"
Hi there,

Similar to #162, I tried to see how conductor would behave if a worker just died, for this I created a simple worker that I killed right after starting the workflow.

Conductor would not see that the worker died and would still show the task as being "in progress", restarting the worker would not pick the task back either.

The closest thing that I found to an heart beat is `responseTim

[2018-09-20 14:26] LiranBri commented on #770
+1

[2018-09-20 14:51] panthony commented on #776
Adding the "WorkflowSweeper" (https://github.com/Netflix/conductor/issues/362#issuecomment-355409552) slightly changed the behavior.

Looks like the first time I kill the worker it get picked up as the first task is flagged as "TIMEOUT" and a second one is immediately created as "scheduled".

But If I kill it a second time the newly created task will stay as "IN_PROGRESS"...

[2018-09-22 18:16] mashurex commented on #754
@gsambasiva

We've currently got a PR (actually, two) that will address some performance issues that @jvemugunta has worked diligently to diagnose and fix. If you look at pull requests #757 and #771 you'll see that chatter there.

I've integrated the MySQL module into the overall workflow test harness and it passes the exact same validations that the Redis module passes, so _in general_, I would s

[2018-09-23 03:46] jvemugunta opened #780 "Bug with timeoutPolicy": "RETRY and retryCount > 0"
Found a bug when the Task definition is defined with retryCount > 0

Here is are the steps to re-create the issue

**Task definition**

[code]

**Workflow Definition**

[code]

**Create a new workflow instance**

[code]

**Now, the state of workflow and task in the UI page**

<img width="1680" alt="page-1" src="https://user-images.githubusercontent.com/7503683/45923833-bc7a5e80-bebe-11e8-84ed-0486

[2018-09-23 03:48] jvemugunta commented on #780
@v1r3n and @cyzhao - Can you please validate this bug? I want to create the pull request for fixing this bug. This is purely a race condition that is causing the bug

[2018-09-24 03:58] cyzhao commented on #780
@jvemugunta great find, can you elaborate on how racing condition causes the problem?

[2018-09-24 06:02] panthony commented on #776
@jvemugunta Thanks for your anwser, I'll take a look at your PR (once you reverted the format changes it makes it too hard to see what was truly updated) and if it does fix by issue I'll close it as duplicate !

[2018-09-24 10:04] jvemugunta commented on #780
@cyzhao

if you look at this class

https://github.com/Netflix/dyno-queues/blob/e92d2aa584de32e4169f78c8311e04da2d5b3784/dyno-queues-redis/src/main/java/com/netflix/dyno/queues/redis/RedisDynoQueue.java#L518-L526

https://redis.io/commands/zrangebyscore

The score keeps changing in push, pop and processUnacks methods
Set<String> scanned = quorumConn.zrangeByScore(myQueueShard, 0, now, offset, coun

[2018-09-24 10:10] jvemugunta commented on #776
@panthony - Please review my PR now and you may want to test with my changes and see if it works for you. I have now move to intelliJ IDE and hopefully the formatting got fixed

[2018-09-24 17:08] ivoribeiro commented on #460
Same problem here

[2018-09-25 13:13] andrea11 commented on #360
Hello everybody,
do you have any news about this issue? Otherwise, someone with more experience on conductor has an idea where the issue could come from?
Thank you

[2018-09-25 18:43] bitbier commented on #116
Having the same issue here. We were running a single redis server and then went into using elasticache so that we can scale up and have failover built in. But since moving to elasticache (Redis with Cluster Mode enabled), we are having issues with our workflows failing in multiple random parts of the workflow. Not sure if there is a missing configuration issue or not. I've also set the `EC2_AVAILA

[2018-09-27 21:22] harikareddy7 opened #786 "TERMINATION OF A WORKFLOW YOU GET A FAILURE RESPONSE"
The problem we are having is with either bulk or single termination of a workflow you get a failure response and the workflow is not terminated.
currently we are using
Conductor version: 1.13.0
Elastic search version: 5.6.10

[2018-09-28 07:29] Mikerr1111 opened #787 "Snap package support (Feature Request)"
I was thinking the setup and install process for Ubuntu and other Linux distros could be improved by having a [Snap package](https://snapcraft.io/) version.

[Creating a Snap](https://tutorials.ubuntu.com/tutorial/create-your-first-snap#0)

[Building Snaps with Java](https://docs.snapcraft.io/build-snaps/java)

[Linux distros with Snap support](https://docs.snapcraft.io/core/install)
![snap](https

[2018-09-28 19:17] bitbier opened #789 "EndTime is always updated for tasks"
We've been using conductor for a few months and the other day, we were trying to debug an issue to see why a particular workflow was taking longer than normal.

We use the conductor-ui, and when we inspected the the Task Details, we realized that the `endTime` for the task were closely related to the end time of the entire workflow. At first I thought this was some kind of indexing error, but when

[2018-09-28 19:49] patrickbadley commented on #430
@jagadeeshb22 In case you hadn't found an example yet, here's one I'm using:
[code]

[2018-10-01 19:37] saidatta commented on #659
@v1r3n

[2018-10-01 20:21] jkaipa opened #791 "Kubernetes - Conductor with replication set to 3"
@v1r3n - If we configure to run conductor in 3 pods of the same kubernetes cluster pointing to the same dynamodb & es engine and start a workflow through one conductor instance, wont the "same" task be picked up by other conductor instances and schedule causing duplicate execution of the task by workers?
I am trying to understand how I can configure conductor on kubernetes to scale out.

[2018-10-02 10:56] piokania commented on #431
@v1r3n I found similar issue with conductor-server-1.12.3.war (downloaded from http://central.maven.org/maven2/com/netflix/conductor/conductor-server/1.12.3/ )

Tomcat 8.0.36
Java 1.8.0_62

02-Oct-2018 11:50:05.438 SEVERE [localhost-startStop-1] org.apache.catalina.core.StandardContext.filterStart Exception starting filter guiceFilter
 java.lang.IllegalArgumentException: The servletContext org.apa

[2018-10-03 14:41] v1r3n commented on #791
Conductor relies on the underlying store to "discover" instances, so if there are multiple nodes connected to the same underlying redis store, they all will pick up tasks - However, Conductor is a distributed orchestration engine, it ensures there are no duplicate task execution scheduled.

Refer to the dyno queues blog on how we achieve this:
https://medium.com/netflix-techblog/distributed-delay-

[2018-10-03 18:41] jkaipa commented on #791
Thank you 👍

[2018-10-03 18:41] #791 closed

[2018-10-03 18:47] jkaipa opened #795 "Kubernetes - Server properties through configmap"
I see that the properties are loaded through environment variable that points to properties file on the file system or through an argument (absolute path) to the server (see com.netflix.conductor.server.Main.java). I am in the process of deploying the conductor on kubernetes and have the properties be configured through configMaps. Need some help on how I can do this.

[2018-10-03 20:27] Leggrand opened #796 "Input data Integer on Workflow and is convert to String"
Hello,

I has input the data on workflow call, some datas is integer, but when task is executed this data is convert to string. I was search on issues and the [#360](https://github.com/Netflix/conductor/issues/360) is similar with my situation. Look the datas:

Workflow declaration:
`[{
	"name":"Heraclito",
	"description":"Workflow Heraclito",
	"version":1,
	"tasks":[
		{
			"name": "fork_join",

[2018-10-04 11:28] LiranBri opened #798 "timeoutSeconds / responseTimeoutSeconds not working + whats the difference?"
Hello,

I tried to understand from the documentation the difference between timeoutSeconds and responseTimeoutSeconds, but couldn't. I would appreciate if someone can explain whats the difference exactly.

my required flow is as follows:
1. task is polled by worker
2. worker sends ack that he received the task
3. worker machine crashes
4. worker come back to life
5. after 10 seconds without any re

[2018-10-04 11:49] Leggrand commented on #625
Closing this issue, the functionality is impossible on Conductor.

[2018-10-04 11:49] #625 closed

[2018-10-05 13:11] muraliman opened #799 "Support for newer java versions"
Hi,

Is there any update planned for supporting latest versions of Java (Java 9, 10 or 11) in the near future?

[2018-10-08 00:39] cyzhao commented on #780
@jvemugunta thanks for the clarification, makes sense. I don't think we need to apply the same fix to WorkflowExecutor as task is always popped before updateTask.

[2018-10-08 00:39] #780 closed

[2018-10-08 01:02] jvemugunta commented on #780
@cyzhao - Let us first merge the PR #771 before we handle this one. #771 is a big one and all major bugs have been addressed

[2018-10-08 08:41] peng-w opened #802 "404 Not Found"
Hello：
When I run Conductor UI in docker mode，I can't access any url address。
Error is：
![bug](https://user-images.githubusercontent.com/6479081/46599050-c1731b00-cb18-11e8-8553-53479401feba.png)
![bug2](https://user-images.githubusercontent.com/6479081/46599051-c1731b00-cb18-11e8-8a1a-11b2b8d43723.png)
Is that a bug?Or is there something wrong with my operate?

[2018-10-08 19:51] saidatta commented on #802
are you sure your conductor server is running?

[2018-10-09 03:52] peng-w commented on #802
Yes,I'm sure. The server is running,I was able to communicate with server using postman

[2018-10-09 17:56] malpani commented on #455
+1 - this issue is closed, is there a way to already use the rest APIs @v1r3n ?

[2018-10-09 18:08] malpani commented on #728
the main reason for this is conductor currently uses the transport client only, are there plans to support this using the Rest API - https://github.com/Netflix/conductor/issues/455 ? I am new to conductor so it will be great if the contributors could share some insights on the changes that would be involved in adding support for the rest client?

[2018-10-09 19:04] saidatta commented on #802
Any stack trace in the conductor server log?

[2018-10-09 19:09] mudit3774 commented on #600
@clari-akhilesh did you manage to figure this out ? @cyzhao @v1r3n are we missing something here ? We also were able to export worker metrics by adding Metrics3 registry but how should we approach the same on the server ?

[2018-10-09 22:43] bitbier commented on #728
We wanted the same thing. So I'm currently working on it for my company and asking for comments and suggestions on improving the code that I wrote here: https://github.com/Netflix/conductor/pull/803. I have not done Java work in a long time, so any comments on improving how I do things here.

[2018-10-10 09:43] unikzforce opened #805 "Is it possible to start server right now?"
I Cannot start server in any method. you know how to resolve this?

in docker-compose, conductor-server cannot be started:
`docker-compose up | grep conductor-server`:
[code]

[2018-10-10 15:45] unikzforce commented on #805
i made a [pull request](https://github.com/Netflix/conductor/pull/806) for this.
it's the first time in my life to create a pull request on a big project like this.. if it's not okey, please tell me how to fix it.

[2018-10-11 01:01] c-n-d commented on #795
Hi,

If you are storing the entire properties file in a configMap, you could probably refer to [Add ConfigMap data to a specific path in the Volume](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#add-configmap-data-to-a-specific-path-in-the-volume)

This would allow you to mount your custom properties file in the server container with a specific path (i.e. `path:

[2018-10-11 02:20] c-n-d commented on #795
Hi,

I did get this working for my deployment, here's the gist of it:

1. Create a configMap with your properties file:
[code]

1.  Add a volume to your deployment's PodSpec:

[code]

1. Mount the volume as part of the container, your properties are mounted to `/app/config/config-volume`

[code]

1. Set the `CONFIG_PROP` environment variable for your container

[code]

[2018-10-11 03:43] peng-w commented on #802
![server-logs](https://user-images.githubusercontent.com/6479081/46779524-cae3c980-cd4a-11e8-83d0-9708c795232d.png)

without any error in server

[2018-10-11 14:03] peng-w commented on #802
Correct , i was missing the "/" in last too, working fine now.
closing - as reported in #70

[2018-10-11 14:03] #802 closed

[2018-10-11 21:26] artpdr opened #807 "There is any Netflix Conductor benchmark?"
Hi everyone,

Does anyone know if there are benchmarks with Netflix Conductor? For example, to assess how much time it takes to start to execute a workflow after POSTing its definition using different numbers of tasks, and how much time it takes to retrieve such workflows to assess the status of the tasks.

What is the greatest number of tasks that you can insert in a workflow and how much time it

[2018-10-12 12:20] kchaturanga opened #808 "Please help"
Using config file/usr/conductor/conductor-config.properties
Using log4j config /usr/conductor/log4j.properties
0    [main] INFO  com.netflix.conductor.server.ConductorServer  - External payload storage is not configured, provided: , supported values are: [S3]
java.lang.IllegalArgumentException: No enum constant com.netflix.conductor.server.ConductorServer.ExternalPayloadStorageType.
	at java.lang.

[2018-10-12 15:20] jagadeeshb22 commented on #430
@patrickbadley  -- Awesome. Thank you..!
How can we get the output of the 'Task Completed' case.
Do we need to use it's task reference name in the output?
It could be great if you provide that information as well.
Thanks in Advance..  :)

[2018-10-12 15:35] jkaipa commented on #795
I exactly did that and worked. Thank you @c-n-d

[2018-10-12 15:35] #795 closed

[2018-10-12 18:58] saidatta commented on #808
your db needs to be `redis_cluster` for ECR

Please take a look at the property documentation - https://netflix.github.io/conductor/server/

[2018-10-15 00:30] cyzhao commented on #799
@muraliman not this year but will happen early next year.

[2018-10-15 00:30] #799 closed

[2018-10-15 00:46] cyzhao commented on #798
From the documentation:

timeoutSeconds: Time in milliseconds, after which the task is marked as TIMED_OUT if not completed after transitioning to IN_PROGRESS status for the first time

responseTimeoutSeconds: If greater than 0, the task is rescheduled if not updated with a status after this time (heartbeat mechanism). Useful when the worker polls for the task but fails to complete due to errors/n

[2018-10-15 00:46] #798 closed

[2018-10-15 00:54] cyzhao commented on #807
@artpdr we don't have benchmark yet, but we will work on performance test soon. I am curious to know about your use case where you need to run 500000 to 1M tasks for a workflow, having too many tasks is an anti-pattern and it is not what Conductor is designed for, the system just can't handle large volume of tasks, as a matter of fact we are planning to put a limit on number of tasks (a few hundre

[2018-10-15 00:54] #807 closed

[2018-10-15 07:48] LiranBri commented on #798
@cyzhao thanks for your reply. I read the documentation you quoted before posting this issue.. but I still don't understand the difference.

if a worker is pulling a task (and sends ACK), the status turns to IN_PROGRESS, so **timeoutSeconds** should take effect if the worker failed to report a completion status.

however, since there is no update with a status, **responseTimeoutSeconds** should al

[2018-10-15 09:55] artpdr commented on #807
@cyzhao Thanks for answering. One use case that might require such amount of tasks is grid search cross validation, where the cross validation process might have repetitions and there are many different models employing different features and different hyperparameters being trained and tested in parallel on the same workflow.

[2018-10-15 10:28] kchaturanga commented on #808
Thank you .. I will try ..

[2018-10-15 10:56] gsambasiva opened #811 "WorkflowDefinition having SIMPLE task is not getting executed and it is in RUNNING STATE only."
Hi,

I have a workflow with SIMPLE task, and when I tried to execute the Workflow, It's is in RUNNING status only.

And the workflow task status is SCHEDULED.

Here is the example:

**Workflow Definition:**
{
    "name": "simple_workflow",
    "version": 1,
    "tasks": [
      {
        "name": "task_a",
        "taskReferenceName": "task_a",
        "inputParameters": {
          "message_a": "$

[2018-10-15 13:05] rksinha opened #812 "Integer input in a nested JSON to parent workflow , which internally calls itself, gets changed from Integer to String"
Issue explained after Workflow definitions. Please scroll down. Attached all required stuff to generate the workflow.

**PARENT WORKFLOW -**
{
  "createTime": 1539589685646,
  "name": "state_something_change",
  "description": "",
  "version": 1,
  "tasks": [
    {
      "name": "something_type_check",
      "taskReferenceName": "something_type_check_something",
      "inputParameters": {

[2018-10-16 01:02] chinajuanbob opened #813 "The field format in json results are not the same in restful interfaces"
In `/api/workflow/{id}` and some others,  the `createTime`, `updateTime`, `endTime` and `startTime` field are float64, `input` and `output` are json objects.

In `/api/workflow/search`, the time fields are string format, and `input` and `output` are string.

which is very inconvenience.

Could you fix this at conductor side? Thanks a lot!

[2018-10-16 08:29] unikzforce opened #814 "Insert initial data into conductor in Docker compose [feature]"
I've managed to change a docker-compose in a way to Insert my arbitrary Workflows and Taskdefs in startup:

[code]
in this docker-compose i added healthcheck to `conductor-server` and
after conductor server state become healthy,  i've just started `init-curl-tasks-and-workflows` in which i've `curled` my initial taskdefs and workflows into `conductor-server`.

in the `init-curl-tasks-and-workflows

[2018-10-16 09:12] juaby opened #815 "About mysql Caused by: com.mysql.jdbc.exceptions.jdbc4.MySQLTransactionRollbackException: Lock wait timeout exceeded; try restarting transaction"
[code]

[2018-10-16 09:30] muraliman opened #816 "Performance Improvements"
Hi, Can anyone provide me some inputs on improving the performance and response times in conductor. Any specific components, classes or parameters to start looking at. Currently every HTTP task seems to be taking 3-4 seconds to complete. Are there are improvements that can be done to reduce this time?

[2018-10-16 16:48] artpdr commented on #807
@cyzhao What do you think about splitting the entire workflow composed of thousands of tasks in smaller workflows with less tasks (in the order of hundreds)

[2018-10-16 17:21] manojkumarbehera opened #817 "windows 10 - "gradle server" - error=206, The filename or extension is too long"
In my windows 10 machine - getting this error, time of  running in_Memory server.

[code]

[2018-10-16 17:47] cyzhao commented on #807
@artpdr yes that would be a reasonable workaround.

[2018-10-16 18:18] artpdr commented on #807
Nice to hear from you @cyzhao . Do you have any script planned (test plan) to make performance tests on Conductor? I might conduct some tests in the next days on the system using different number of tasks in a workflow and different workflows running in parallel with different number of tasks also...
Btw do you know any other system that can support my use case of running cross validation workflow

[2018-10-17 10:54] gaopc2018 opened #819 "conductor persist with redis and cassandra cluster"
Hi conductor team,

This is Pengcheng Gao. we are investigating conductor as one of our workflow option.

We have a coupang of questions on backend option.

1)Is it alright directly use Redis cluster without Dynomite on production?

2) can we use Cassandra as backend? is there any plugin already written for Cassandra.

Kind Regards
PengCheng Gao

[2018-10-17 19:58] saidatta opened #820 "Serverless w/ Conductor?"
Anyone using the Serverless architectures with Conductor? if yes, in what capacity? would love to know more.

[2018-10-18 03:32] cyzhao commented on #819
@gaopc2018 yes, you can use redis directly. To your second answer, we are working on Cassandra DAO implementation for workflow execution data now and it will be ready sometime this year.

[2018-10-18 03:45] cyzhao commented on #798
@LiranBri responseTimeoutSeconds and timeoutSeconds work fine with our deployment, please check whether WorkflowSweeper is running by checking server logs, look for this logging statement:

`logger.debug("Sweeper retrieved {} workflows from the decider queue.", retrievedWorkflows);`

responseTimeoutSeconds works when worker gets the task but fails to respond within timeout and it resets whenever w

[2018-10-18 03:47] cyzhao commented on #820
You question is quite open and I am not sure what you really mean here, please clarify.

[2018-10-18 03:49] cyzhao commented on #816
HTTP task invokes external HTTP APIs, do you know where the time is spent? what is your external API latency?

[2018-10-18 03:52] cyzhao commented on #817
It indicates file path is too long for windows, update file folders accordingly to reduce the file path length.

[2018-10-18 03:52] #817 closed

[2018-10-18 03:54] #808 closed

[2018-10-18 03:58] cyzhao commented on #796
Duplicated with #360.

[2018-10-18 03:58] #796 closed

[2018-10-18 03:59] cyzhao commented on #360
@andrea11 @salvatorevicari we will look into this, send us a PR if you like.

[2018-10-18 07:26] animagus32 opened #821 "Cannot start conductor using docker , release v2.0.0-rc3"
Met error while using the lastest pre-release

[code]

[2018-10-18 08:06] salvatorevicari commented on #360
Hi @cyzhao , @andrea11
The issue seems to be fixed in the newer version.

[2018-10-18 08:36] salvatorevicari commented on #360
Hi @andrea11,
if I'm not wrong from 1.9.5 version

[2018-10-18 08:43] andrea11 commented on #360
Well, we upgraded recently to 1.10.17 and the issue seems to be still there...

[2018-10-18 09:30] salvatorevicari commented on #360
Hi @andrea11 ,
You are right. Recently I upgraded my version to 1.12.2 and the issue is again there.

[2018-10-18 09:43] gaopc2018 commented on #819
HI @cyzhao,

Thank you for your response.

If we use AWS ElastiCache or Redis directly as the backend, could there is any issue compare with Dynomite? I read Dynomite give a better failover recovery. Does this mean we will rely on the failover recovery of AWS ElastiCache or Redis cluster?

is there anything else we could missing with using AWS ElastiCache or Redis directly?

Kind Regards
GP

[2018-10-18 11:40] jagadeeshb22 commented on #566
@v1r3n ,
Can you please let us know the solution for this?
Thanks..!

[2018-10-18 11:44] juaby commented on #517
ths

[2018-10-18 11:44] #517 closed

[2018-10-18 11:45] juaby commented on #572
ths

[2018-10-18 11:45] #572 closed

[2018-10-18 11:45] juaby commented on #575
ths

[2018-10-18 11:45] #575 closed

[2018-10-18 11:46] juaby commented on #582
ths

[2018-10-18 11:46] #582 closed

[2018-10-18 11:51] JasperB opened #822 "Cannot run docker image with ElastiCache cluster"
Hi Conductor Team,

We're going to use conductor as our workflow engine, these days we're doing some investigation work and try to run conductor wit AWS ElastiCache cluster for testing, but we follow the documentation to modified the configuration seems it's still now working with follow config, please help to check anything else we're missing, thanks in advance!
**_db=redis_cluster
workflow.dynom

[2018-10-18 12:06] mudit3774 commented on #812
@rksinha : This PR might fix what you are facing : https://github.com/Netflix/conductor/pull/809

[2018-10-18 12:39] muraliman opened #823 "Zipkin support for Conductor"
Hi all,
Has anyone tried integrating Zipkin with conductor or any other such tracing libraries?
Any inputs or links would be very helpful.
Thanks

[2018-10-18 19:28] cyzhao commented on #819
From Conductor's point of view, it should work the same way.

[2018-10-18 19:36] saidatta commented on #822
Can you double check to make sure the ports are open in ElasticCache's security group? Especially 6379

[2018-10-18 22:38] saidatta commented on #820
I am not sure the exact scope of the question, but here are my few questions that I had in mind.

I was thinking of having some AWS Lambda functions implement my worker logic and have that poll conductor.
 I am not sure about the feasibility (as Lambda functions have 15 min limit
- AWS Lambda as workers for conductor. thoughts?
- contrast between Step Functions vs Conductor?
- Is there a limit of

[2018-10-19 01:57] JasperB commented on #822
@saidatta Thanks for your reply. Actually I tested with my local redis-cli connect to the cluster directly it works fine and I also can store some test data into AWS ElasticCache cluster, that means the port no problem I think.

[2018-10-19 02:54] JasperB commented on #822
BTW I look into the docker file which will copy the conductor-server-*-all.jar to docker folder by follow command:
COPY ./server/build/libs/conductor-server-*-all.jar /app/libs
But the problem is when I extract the conductor-server-2.0.0-SNAPSHOT-all.jar I checked the server.properties file, the 'db' seems not configured yet as well as the redis host config, do we need modify the server.properties

[2018-10-19 03:16] saidatta commented on #822
By default, it will retrieve the config.properties from /app/config/ folder in the docker image.

[2018-10-19 05:09] JasperB commented on #822
@

@saidatta Thank you! I also do the manually modify for the server.properties in server sub project then gradle build it again, then bakery the docker image with the beginning configuration paramters, but the docker can't running. Anybody can help?

[2018-10-19 08:13] salvatorevicari commented on #360
Hi @andrea11 , yes #809 fix the issue.

[2018-10-19 16:31] #360 closed

[2018-10-19 16:31] #812 closed

[2018-10-20 16:35] chinajuanbob opened #826 "The result of search is not correct occasionally"
version 1.12

This does not happen every time, but hit it while doing heavy load:

query `/api/workflow/search?freeText=correlationId:"26edd416-3367-43c3-9110-8758f0751b19"&query=status="RUNNING"`

return

[code]

[2018-10-20 16:37] chinajuanbob commented on #826
The same result with query to `/api/workflow/search?freeText=correlationId:"26edd416-3367-43c3-9110-8758f0751b19" AND status:"RUNNING"`, the result of search other statues of given correlationId are correct.

[2018-10-21 02:31] vermaan opened #828 "Conductor server build failure for conductor-common:protogen"
I cloned the Netflix/conductor repository and try running the server build. The build is failing with below error.

[code]

[code]

[2018-10-21 07:30] mudit3774 opened #829 "Make RedisDAO configurable to call async function on indexDAO"
I see that there are async functions in IndexDAO for indexing and removing workflows and tasks, would it make sense to have it configurable in RedisDAO ?

Please let me know if I am missing something here.

[2018-10-22 06:56] JasperB commented on #728
Hi,
Does this issue resolved? we also met this issue we cannot connect to ES with es master node with default port:9300, anyone know how to fix this to connect external ES cluster?

[2018-10-22 07:04] JasperB commented on #728
@rksinha
Hi,
Did this issue fixed? we also meet this issue when we try to use external ES cluster with transport port 9300.

[2018-10-22 18:31] saidatta commented on #826
What db are you using? Are you encountering a similar issue with a much more recent version?

[2018-10-22 22:07] malpani commented on #728
@JasperB https://github.com/Netflix/conductor/pull/803 fixes this

[2018-10-23 13:14] chinajuanbob commented on #826
redis+es5. I don't get chance to use a more recent version.  Is V2 compatible with V1 clents, I mean, is there any break changes?

[2018-10-24 01:05] donglaizhang opened #832 "Is Javascript client necessary?"
Hey Conductor Team,

I found Conductor provided three languages clients including JAVA, python and Golang. Does the team have plan to make a Javascript client-sdk for server side javascript to use? I think most logic could be same with other client.

Regards,
Donglai

[2018-10-24 06:20] wesleysong9 opened #833 "Failure to start conductor server after upgrading to release version v2.0.0"
Hi Conductor team,

Previously we use the release version v1.12.3, when starting the conductor server by gradle task conductor:server server with our customized config, it works fine. We have our customized configuration to connect to our redis cluster and ElasticSearch.

Below attached our customized configuration file for the conductor server(Using redis cluster and elasticsearch)

server.proper

[2018-10-24 16:52] pavansistla opened #834 "HTTP Tasks are remaining scheduled state"
Hi Team,

I have created a conductor workflow which has all HTTP tasks and tries to hit it "n" number of times in a specific time frame.
I have configured **queues.dynomite.threads=5**, once the conductor reached the thread limit the HTTP tasks are set to "SCHEDULED" and remaining in that state.

Can you please help me in fixing the issue and let me know if you need more information.

Thanks,
Pava

[2018-10-25 05:25] boshido opened #836 "Conductor server always error "Malformed \uxxxx encoding""
Conductor version: 2.0.0
Build type: Docker (Following README.md in docker directory)
Runner: docker-compose up

[code]

Run without CONFIG_PROP=config.properties
[code]

[2018-10-25 06:47] ztyandjw opened #837 "when i use standared alone redis, i can't trigger a workflow instance, but in-memory-mode can"
hi,

in-memory mode is ok, but when i changed the mode to single redis.
i can't trigger a workflow instance, the workflow id return to me, but my worker instance did not work... then i changed to in-memory,  erverything is ok....

my app.config

db=redis
workflow.dynomite.cluster.hosts=127.0.0.1:6379:us-east-1e
workflow.dynomite.connection.maxConnsPerHost=31
queues.dynomite.nonQuorum.port=6379

[2018-10-25 14:21] pavansistla commented on #837
Can you check "EC2_AVAILABILITY_ZONE" is pointing to us-east-1e

[2018-10-25 17:54] saidatta commented on #826
I experience a similar issue with 1.2, when i upgraded to 1.9. I didnt seem to encounter the issue.

[2018-10-25 17:57] artpdr opened #839 "Impossible to start Netflix Conductor with dependencies using docker-compose"
Hi everyone. I would appreciate some help.

I am using the current master branch. I can use docker to start conductor with db and elasticsearch in memory both using the conductor:serverAndUI container, which can be built in docker/serverAndUI, and using the docker-compose after changing both db and workflow.elasticsearch.instanceType values to memory on the docker/server/config/config.properties f

[2018-10-26 01:18] chinajuanbob commented on #836
+1

[2018-10-26 03:15] JasperB opened #842 "ISSUE: No implementation for com.netflix.dyno.queues.ShardSupplier was bound"
Hi Conductor @cyzhao ,

When we try to use v2.0.0 to start the conductor server, we met this issue caused by No implementation for com.netflix.dyno.queues.ShardSupplier, details:
1) No implementation for com.netflix.dyno.queues.ShardSupplier was bound.
  while locating com.netflix.dyno.queues.ShardSupplier
    for the 3rd parameter of com.netflix.conductor.dyno.RedisQueuesProvider.<init>(RedisQueu

[2018-10-26 04:39] boshido commented on #828
Work great when downgrade to java8

[2018-10-26 05:40] wesleysong9 commented on #833
I do not think this #835 fixed the issue I mentioned, can anyone support for this issue?

[2018-10-26 06:07] vermaan commented on #828
Works perfectly. Thank you @jkaipa !

$ ../gradlew -D org.gradle.java.home=/Library/Java/JavaVirtualMachines/jdk1.8.0_192.jdk/Contents/Home server

[2018-10-26 06:07] #828 closed

[2018-10-29 05:35] cyzhao commented on #823
@muraliman we haven't tried it yet, but this is definitely on our radar, feel free to contribute if you can't wait.

[2018-10-29 05:35] #823 closed

[2018-10-29 05:46] cyzhao commented on #820
- We never looked into using AWS Lambda as workers, but keep in mind Conductor worker polls for tasks so it needs to be long running process.
- Analysis done by Shawn Xu: https://xunnanxu.github.io/2018/04/13/Workflow-Processing-Engine-Overview-2018-Airflow-vs-Azkaban-vs-Conductor-vs-Oozie-vs-Amazon-Step-Functions/
- Currently Conductor doesn't limit dynamic tasks but we are planning to add a limi

[2018-10-29 05:48] cyzhao commented on #832
@donglaizhang we don't have a need for it in the near future, please contribute and we will be more than happy to review and merge.

[2018-10-29 05:48] #832 closed

[2018-10-29 05:49] #820 closed

[2018-10-29 13:24] houz42 opened #844 "EXPONENTIAL_BACKOFF Retry Logic is not really exponential"
The [task definition](https://netflix.github.io/conductor/metadata/#task-definition) in the document says

But it is not really exponential. It should be `retryDelaySeconds ** attempNo`.

[2018-10-29 13:58] chinajuanbob commented on #733
I created a simple one. https://github.com/chinajuanbob/conductor-nodejs-worker

[2018-10-30 01:03] cyzhao commented on #844
Agree, but it should be retryDelaySeconds * (2 ** retryCount), we will fix it.

[2018-10-30 01:03] #844 closed

[2018-10-30 03:29] chinajuanbob commented on #832
https://github.com/chinajuanbob/conductor-nodejs-worker

[2018-10-30 15:09] jagadeeshb22 opened #845 "Clarification on SimpleTask mapper which sets task type as name"
@cyzhao / @v1r3n  / @jvemugunta

I saw the class level comment -- **There is not type defined for simples task**
And also found below lines in
https://github.com/Netflix/conductor/blob/dev/core/src/main/java/com/netflix/conductor/core/execution/mapper/SimpleTaskMapper.java

simpleTask.setTaskType(taskToSchedule.getName());
simpleTask.setTaskDefName(taskToSchedule.getName());

[2018-10-30 15:14] donglaizhang commented on #832
thank you @chinajuanbob. the implementation is relatively simple, and we already have implemented one to use internally.

[2018-10-31 02:52] JasperB commented on #645
@mudit3774 Just saw your idea and code change, that's a good idea for me as well. But I have a question for a running poll service how we can get the running WorkflowTaskCoordinator then shutdown it? is that possible to get the coordinators by exist function or api? Or we should implement is by ourselves?

[2018-10-31 11:18] mudit3774 commented on #645
@JasperB : We have abstracted the workflow clients at our present organization. We wrote a small wrapper over the java client and we maintain a map of task and coordinator. We right now run 1 task in 1 coordinator. The wrapper shuts down the tasks coordinator when we need to stop a task or on worker shutdown. For me it was more of a high level construct. Let me know your thoughts.

[2018-10-31 12:54] JasperB commented on #645
@mudit3774 Thank you for the quick reply. It's helpful for us, we also have multiple tasks so we plan to implement the work group, for example several works regarding to one task in one coordinator, then all the coordinators construct in a map with task name as the key, then we can expose a api to shutdown it by task name.

[2018-10-31 20:47] artpdr commented on #839
I think this issue is somehow solved on the issue #838.
Closing this issue...

[2018-10-31 20:47] #839 closed

[2018-11-03 23:30] VimalKumarS opened #850 "Runing Kitchen sink example"
Hi,

Trying to run https://netflix.github.io/conductor/metadata/kitchensink/#running-kitchensink-workflow
was not able to run the example, not sure how to register the existing task type and trigger the workflow

Used http://localhost:8080/api/metadata/workflow to register the workflow, when i am trying to run using
http://localhost:8080/api/workflow/kitchensink
{
    "task2Name": "task_1"
}
it th

[2018-11-05 14:46] #834 closed

[2018-11-06 04:37] VimalKumarS commented on #850
Got it working with my own custom task definition.

[2018-11-06 04:37] #850 closed

[2018-11-07 07:38] JasperB commented on #600
@cyzhao We also have the same requirement, we want to check the metrics for server and worker, is there any detail guide to see the metrics? it's really helpful for monitoring to see how't the server and worker performing. Looking forward to getting reply.

[2018-11-07 19:43] stevenctl opened #856 "NullPointerException when starting up (using dynomite)"
Using conductor version 2.1.0 (downloaded from https://bintray.com/netflixoss/maven/conductor/2.1.0)

Configuration is as follows (all IPs replaced with 1.2.3.4, they are unique in actual config)

I have validated the dynomite cluster is functioning properly using redis-cli

[code]

Stack Trace
[code]

Full log (there are 51 "Error in custom provider" stack traces, mostly very similar)
[server.log

[2018-11-07 20:44] stevenctl commented on #856
This only occurs when I specify multiple dynomite hosts, if I specify one it gets stuck doing this:

[code]

And the pool numbers climb indefinitely

[2018-11-07 21:50] loadOfCrap opened #857 "Conductor in synchronous mode?"
Hi,
The documentation for conductor  - https://netflix.github.io/conductor/ - mentions "Ability to synchronously process all the tasks when needed." How can we achieve this? Please share some documentation?

[2018-11-09 22:22] venanant opened #860 "Conductor build fails for conductor-common:protogen with Java 1.8"
Tried gradle clean and build after setting JAVA_HOME to 1.8 but still fails with conductor-common:protogen error. Tried both in IntelliJ 2017 and through command line (gradlew -D org.gradle.java.home="C:\Program Files\JDK\1.8" server)

3:21:51 PM: Executing external task 'build'...

Git repository not found at H:\CCP\Netflix\conductor-2.0 -- nebula-release tasks will not be available. Use the git.

[2018-11-09 23:07] mamt84 commented on #449
I'm also having a similar error during `./gradlew clean build` but because of a NPE, here the logs:

[code]

Any idea of how this could be solved?

[2018-11-12 07:21] ztyandjw commented on #837
thank you, fix it

[2018-11-12 10:52] harshkumar1 opened #863 "Conductor stops logging"
There are couple of exception stack trace in Conductor Server post that even though the server works fine but there are no logs generated across server, dynomite & elastic search
Deployment: k8s Cluster

Attached here is the Conductor server log
[flowmanager-server.log](https://github.com/Netflix/conductor/files/2571595/flowmanager-server.log)

[2018-11-13 01:16] clari-akhilesh commented on #600
@cyzhao , what do you mean by `make sure that you have a spectator registry dependency added to server deployment`? Where should this be done? We currently deploy both the server and workers on Jetty.

[2018-11-13 07:56] cyzhao commented on #842
@JasperB this is because RedisClusterModule missed two bindings, one for ShardSupplier and one for JedisCommands named by READ_CLIENT_INJECTION_NAME, since we don't use it so the problem is not caught, we will fix it but please feel free to send a PR if you need the fix sooner.

[2018-11-13 08:09] cyzhao commented on #600
@clari-akhilesh as described in http://netflix.github.io/spectator/en/latest/registry/metrics3/, add com.netflix.spectator:spectator-reg-metrics3:0.69.0 to gradle and provide MetricsRegistry as Registry
 in your Guice module.

[2018-11-13 20:31] anandctrwork opened #865 "Deploying conductor to PCF"
Hi,

I would like to know if anyone deployed Conductor in PCF or any cloud platform.  Can it run as microservice?

Thanks
Kumar

[2018-11-13 20:45] saidatta commented on #865
I mean, I deployed it to AWS using their EC2 machines, dynmoite/ Elasticache?

[2018-11-14 02:35] clari-akhilesh commented on #601
@saidatta , how did you manage to configure spectator for metrics? we're currently using the prebuilt conductor jars for deploying the server. any insight would be extremely helpful. thanks in advance.

[2018-11-14 02:45] clari-akhilesh commented on #600
we currently use maven war artifact in our deployment. if I understand correctly, you don't have any bindings for the `Registry` class in the code. are you suggesting that I submit a PR with the required metrics3 bindings? I'm happy to do so, if that's what you're suggesting. Just want to make sure I understand you correctly. Thanks!

[2018-11-14 06:13] eklavya commented on #673
I think I am facing this issue as well, any help is much appreciated.

[2018-11-14 06:20] davidwadden commented on #865
@anandctrwork  I don't know if i'd call it a "micro" service, but it runs on container platforms such as PCF/PWS, provided you can supply the Redis/MySQL and ES 5 backing services.  Just make sure to give it 1gb container size for Memory.

See https://github.com/davidwadden/conductor/commits/pws for patches I made that may be helpful.  This patch supports Redis authentication, places a config.prop

[2018-11-14 06:25] JasperB opened #866 "Why the returnTask method removed in Release 2.x from WorkflowTaskCoordinator.execute"
Hi conductor team,

Anybody can help explain why the returnTask() method removed from WorkflowTaskCoordinator.execute() in release 2.0? we're using release 1.12, but just saw there is something different want double check, please help, thanks!

[2018-11-14 06:36] JasperB commented on #842
@cyzhao Thank you for the reply this. I have one question before send the PR, does these two bindings will cause the problem if we use the redis_cluster model? with above configuration it running fine in release 1.12.

[2018-11-14 08:14] swarooppradhan commented on #731
I am having same issue.. may be i'm missing something.
I have set optional as true on dynamic task for each subworkflow but if one subworkflow fails, the original workflow fails too. I am using version 1.12.3

[2018-11-14 08:23] NV4RE opened #867 "Integration request client for nodejs"
I just wrote conductor's client for nodejs and publish to npm : https://www.npmjs.com/package/conductor-client

I tested on node v10.1.0

[2018-11-14 08:54] boshido commented on #832
I think this one may relate
https://github.com/Netflix/conductor/issues/867

[2018-11-14 12:48] chinajuanbob opened #868 "Any example of search with sort?"
Need example of search with sort. The sort=ASC:fieldname seems not working. Thanks!

[2018-11-14 13:08] chinajuanbob opened #869 "Any example of search with sort?"
Need example of search with sort. The `sort=ASC:fieldname` seems not working. Thanks!

[2018-11-14 13:09] #869 closed

[2018-11-14 16:29] venanant commented on #860
@davidwadden, @stevenctl, @pavansistla, @jkaipa, @boshido - can you please throw some light on this?

[2018-11-14 18:35] anandctrwork commented on #865
Thanks David for the response

[2018-11-14 18:36] anandctrwork commented on #865
Ok, good to know

[2018-11-14 18:36] #865 closed

[2018-11-15 07:47] faraday-m commented on #860
I've got this problem too on Windows 10 and on Ubuntu 18.04, and have no idea how to fix it.

[2018-11-15 08:40] garreananth commented on #449
I was also seeing same issue as NPE but trying with @josedab suggestion `brew install openssl
` , solved my problem.

[2018-11-18 06:47] JasperB opened #871 "[BUG]Multiple workers concurrent race Issue"
We have one workflow with 3 tasks, one of them is dynamically fork task, when we start 3 clients with 300 workers on each client, then ran some tests we found some issue regarding the workflow status inconsistently.
We took some time to investigate this problem, seems it caused by the multi-thread issue, one thread index the workflow as "COMPLETED" to ES, but later(several mis-seconds) the other t

[2018-11-18 06:48] JasperB commented on #871
From above screenshot, you can see the first thread index the workflow as "TIMEOUT" to ES, but later the other thread index the workflow as "RUNNING" to ES, that means sometimes the workflow status will be override by the later threads.

[2018-11-20 16:22] LiranBri commented on #798
@cyzhao I don't have any such log message (this or other- the last log message is just "ready to serve <task name>".

note that I also tried with timeoutSeconds instead of responseTimeoutSeconds- and got the same behaviour.
also note that when I tried timeoutSeconds, and looked in the UI at the json of the task, it didn't specify "timeoutSeconds" there.
in addition, in the docs it say "Time in mil

[2018-11-20 23:05] RileyMichael opened #872 "MySQL Perf. Degradation Multiple Workers"
We're currently running into performance issues when running (small amount) multiple workers against a MySQL backed conductor.

- Conductor Server pointed to MySQL DB. (K8s, 2 cpu & 1500Mi)
- 5 workers, 4 threads per task, 1s poll delay. (each worker is a K8s pod, 2 cpu & 1500Mi)
- External ES
- SQL related config:
[code]

Various logs occurring frequently:
[code]

Running a single worker, a workf

[2018-11-21 05:47] JasperB commented on #86
@v1r3n Hi regarding this issue, I have one question if we're using the aws redis cluster directly, do we need make sure the rack/availability zone of the conductor server to be same as redis cluster zone config? I'm asking this question because we found some workflow stuck in RUNNING status and some of the tasks pending as IN_PROGRESS, not sure it caused by our some of our conductor server zone no

[2018-11-21 05:51] JasperB commented on #671
Hi guys, any updates one this, we also met this issue, all tasks finished but workflow showing as RUNNING

[2018-11-21 16:33] #872 closed

[2018-11-22 08:33] JasperB commented on #871
@cyzhao @v1r3n did you guys met this issue, it also happened in poll tasks, means multiple workers may poll and ack same task, it's a bug which will cause the same task execute multiple times, do you guys have any idea to fix this issue? BTW we're using the aws redis-cluster and 4 clients server with multiple workers in each client.

Multiple worker race the tasks as below:
![image](https://user-i

[2018-11-25 05:49] johnlongo opened #873 "Tring to run a Workflow with join and two waits tasks"
Tring to run a Workflow with join and two waits tasks See Below.
Task 5 & 11 Are wait tasks and when I post them complete task 12 never completes.
I have to issue another complete for tasks 13 & 14 to run.
any help will be greatly appreciated.

Thank you in advance.

![conductorworkflow](https://user-images.githubusercontent.com/23619505/48975955-51c6da00-f04b-11e8-98ce-81f0773d78ae.png)

{
   "cr

[2018-11-26 05:14] liulwx opened #874 "go client error: when error occur, the returned error is nil"
https://github.com/Netflix/conductor/blob/fc4457638bdbce496c1b54bbc38a006efa4849ca/client/go/conductorhttpclient.go#L39

In many function, I notice that when the error occur, the returned error is nil.

[2018-11-26 08:13] haodut opened #875 "Can I calculate task input from outputs of diffrent task?"
For eaxample:
"inputParameters": {
  "param": "${a.output.param1 + b.output.param1}"
}

[2018-11-27 08:38] juaby opened #876 "WorkflowTaskCoordinator with Grpc Support?"
WorkflowTaskCoordinator with Grpc Support?

[2018-11-28 12:38] Jiehong opened #879 "If a task refers to an input with a space in it, conductor cannot schedule it, throws exception"
Hello,

If you create the following workflow:

[code]

If you start this workflow, the execution will fail right away, as conductor will try to schedule the only task, and tries to replace the data in the inputMapping of the task.

This generates the following exception:

[code]

This happens anytime conductor tries to schedule a task with a reference to a variable having a space in it (whether th

[2018-11-28 18:43] ndidi-did opened #880 "Conductor Server doesn't start, protogen task issue"
#860

Similar to https://github.com/Netflix/conductor/issues/860, we've been getting this issue as well, we've tried on UNIX and W7/10. It seems to error out on this line in conductor-grpc:build.gradle:55

`compileJava.dependsOn(tasks.getByPath(":conductor-common:protogen"))`

The conductor-master project was downloaded from the main GitHub page.
I've commented the line out and kept doing our POC

[2018-11-28 19:16] ndidi-did opened #881 "Fork / Decision / Join, cannot join on forks correctly"
We are working on a POC that tests some of the fork/join/decision capabilities of conductor, but I'm running into an issue where the final join before the acknowledgeMailings task can't see any other tasks after the 2 fork branches (email1 and letter1), as shown below:

<img width="353" alt="wf_fork_join" src="https://user-images.githubusercontent.com/45435192/49175956-fc1e5600-f306-11e8-8bf0-d2ca

[2018-11-29 13:36] maciejmrowiec commented on #711
@MLauri did you manage to work around this ?

[2018-11-30 02:45] JasperB commented on #798
@LiranBri Seems the task definition not config the timeout like "timeoutSeconds": 20,
as I know once you config this parameter, when the task update status it will check the timeoutSeconds is exceed or not, if not then update task and reset this timeoutSeconds to 0, means two status transform during is exceed the timeoutSeconds or not.
If I'm wrong please correct me @cyzhao

[2018-11-30 08:41] ivoribeiro commented on #566
+1

[2018-11-30 08:41] ivoribeiro commented on #430
+1

[2018-11-30 10:22] raozhiyong11 opened #882 "conductor:server can not start"
I used version `conductor-2.1.0`  and install with docker:

conductor:ui,v1r3n/dynomite,elasticsearch:2.4  was started success,but conductor:server throws error:

`Starting Conductor server
Property file: config.properties
config.properties
Using 'config.properties'
Using config file/app/config/config.properties
0    [main] INFO  com.netflix.conductor.bootstrap.ModulesProvider  - Starting conducto

[2018-11-30 10:51] LiranBri commented on #798
@JasperB i'm not sure what you mean.. you saying I configured it wrong? or you agree with me that it seems like a bug?

p.s
I suspect that since this issue is "closed" no one watches it.. i'll re-post a new issue (hope its fine- if not please re-open and close the one i'll open now)

[2018-11-30 10:54] LiranBri opened #883 "Bug: timeoutSeconds / responseTimeoutSeconds not making task re-scheduled"
Hello,

I tried to use  *responseTimeoutSeconds* but task never gets re-scheduled for another processing.

I also tried with timeoutSeconds instead of responseTimeoutSeconds- and got the same behavior.
also note that when I tried timeoutSeconds, and looked in the UI at the json of the task, it didn't specify "timeoutSeconds" there.
in addition, in the docs it says "Time in milliseconds" even thoug

[2018-12-03 09:38] johnlongo opened #884 "Have a fork with three tines and two have waits in them"
I'm running conductor v1.12 and have a fork with three tines, two of which have waits. when I post complete the two waiting tasks I still need to manually post complete the join. I would think the join would auto complete once the two waiting tasks are posted complete. Is this a bug or do I sill need to post complete the join task as well. any information is greatly appreciated.

[2018-12-03 23:58] jwulf commented on #837
Bump, can we close this now?

[2018-12-03 23:59] jwulf commented on #816
How do I instrument Conductor to measure where time is being spent?

[2018-12-04 08:31] unikzforce opened #885 "Neglected Issues"
thank you guys. it's an awesome project. but many issues are neglected.
wish Netflix could bring more energy and money to this project

[2018-12-05 00:40] jwulf commented on #759
I observe this behaviour when running in-memory - and even more so when running with Dynomite via docker-compose - and starting 100 workflow instances at a time.

Workflows also hang at the start point - they are returned by querying running workflows, but no tasks for them are in the queue.

[2018-12-06 00:39] jwulf commented on #759
I find Workflows with all tasks completed. If I pause the workflow manually in the UI, then resume it, it gets correctly marked as completed.

![incompleted](https://user-images.githubusercontent.com/406975/49553361-17aae180-f943-11e8-9e30-97704c1bb276.png)
![paused](https://user-images.githubusercontent.com/406975/49553365-1c6f9580-f943-11e8-8b31-2b5120ad22e4.png)
![done](https://user-images.gith

[2018-12-06 03:58] jwulf commented on #879
Is there a validator? Seems like this would be a trivial PR.....

[2018-12-06 04:00] jwulf commented on #879
Maybe this PR? https://github.com/Netflix/conductor/pull/862

[2018-12-06 04:03] jwulf commented on #632
Need to scale up the Dynomite backend I think. I see this when doing throughput load testing. No data is lost, but the world stops for a second.

[2018-12-06 04:07] jwulf commented on #601
Take a look at https://github.com/Netflix/conductor/issues/600

[2018-12-06 04:09] jwulf commented on #816
Answering myself: https://github.com/Netflix/conductor/issues/600

[2018-12-06 13:59] emersonborges opened #889 "Support for Elasticsearch 6"
We are planning to implement the support for Elasticsearch 6 for our company needs and send the PR soon. But we would like an opinion on how to handle both, Elasticsearch 5 and Elasticsearch 6.

Options:

- Support for both with some kind of configuration, but we don't know how to do that exactly.
- Support for only Elasticsearch 6 in new versions and Elasticsearch 5 in older versions.

Any sugges

[2018-12-07 12:48] DmytroPvl opened #890 "How to start workflow by handler with correlationId from input?"
I'm trying to start workflow by handler
[code]
But variable ${payload.correlationId} evaluates correctly only for input parameters and not for correlationId:

![image](https://user-images.githubusercontent.com/29101016/49648608-1525b600-fa2f-11e8-8f06-c43f2101809e.png)

[2018-12-09 01:12] johnlongo opened #891 "Have a task in a SCHEDULED state and a worker polling"
****Have a task in a SCHEDULED state and a worker polling.
Not sure why the working isn't started, anyone have any ideas?****

WORKFLOW_PROTOTYPE_TASK_1 | 1 | in a few seconds | netflix-conductor-worker-1-m58xg

{
   "taskType": "WORKFLOW_PROTOTYPE_TASK_1",
   "status": "SCHEDULED",
   "inputData": {
      "PrototypeWorkflow1Input": {
         "stringAttribute": "This is PrototypeWorkflow1 Data Ma

[2018-12-10 10:47] ldhlyf opened #892 "Task persistence to redis"

[2018-12-11 06:40] wefine opened #893 "Question: Fork/Join workflow"
Dear All,

Does conductor support the below workflow, if not, any suggestions for this are appreciated, thanks!
![c1](https://user-images.githubusercontent.com/22292664/49782531-a196e800-fd51-11e8-9f64-3dfdb8be0408.png)

A before B
B forked out C D E
Join C D to F
Join F E to G

[2018-12-11 07:44] wefine commented on #893
OK, composed CD with a ForkJoin Task, and B fork to CD and E.

[2018-12-11 07:44] #893 closed

[2018-12-12 03:22] suanyi001 opened #895 "conductor can not connected dynomite cluster"
when i used dynomite cluster(Deploy locally) , conductor server can not connected.Below is my configuration ：

[code]

Below is my logs:
[code]
please help me ==!

[2018-12-12 03:31] suanyi001 commented on #895
@v1r3n please help

[2018-12-12 04:57] saidatta commented on #895
I believe you dont need to enter multiple quorom ports. Did you try pointing it to a single one?

[2018-12-12 08:40] suanyi001 commented on #895
which post?Dynomite or conductor.

[2018-12-12 23:03] artpdr commented on #882
@raozhiyong11 use the last conductor version (the one in master or dev...).
I think your docker-compose might be outdated.... This is the updated one: https://github.com/Netflix/conductor/blob/master/docker/docker-compose.yaml

[2018-12-13 00:15] artpdr opened #896 "[Question / Docs improvement]: callbackAfterSeconds can be used as an Heartbeat mechanism?"
Hi,

Is it possible to use callbackAfterSeconds as an heartbeat mechanism?

Imagine that I have a worker task that can take between 60 seconds and 3600 seconds to become completed. If I set timeoutSeconds to a value larger than 3600, I ensure that all the tasks will be processed sooner or later even if the current worker crashes (assuming the task has retryCount > 0). This isn't bad at all, but if

[2018-12-13 12:41] liulwx opened #897 "How Can I pass int into httpTask in MetaWorkflowDef"
Here is my httptask in my workflow Meta

[code]
As you can see, in my body, I want pass a int type value from my workflow input. However, I cannot achieve this.

[2018-12-14 17:47] jkaipa opened #901 "Spectator publish metrics to Atlas"
@cyzhao I could see the spectator metrics through jconsole. How to configure conductor to publish spectator metrics to Atlas?

[2018-12-14 20:39] artpdr commented on #896
@cyzhao, Please, can you confirm that callbackAfterSeconds can be used as an Heartbeat mechanism? I think you mentioned it could be used for that in issue #798.
Is it useful some documentation for it or some mechanism in the conductor-client to perform the heartbeats when needed?
Thanks

[2018-12-16 16:20] jakon89 opened #904 "Google Pub/Sub as a sink"
I would like to use Pub/Sub instead of SQS for events.

* Have you ever considered adding support for Pub/Sub in contribs?
* What are your tips regarding new queue implementation before creating PR?

I am in the middle of creating PubSub & conductor integration and would love to get your feedback before I issue MR.

[2018-12-16 21:52] jakon89 commented on #904
After reading the code I have a couple of thoughts.

In Pub/Sub, unlike SQS and Conductor, there is no term 'queue' that represents resource where we can both send and receive. There are subscriptions and topics which allows reading and writing, respectively, to/from the topic.

This means that current abstraction `ObservableQueue` doesn't fit exactly with Pub/Sub model - `ObservableQueue` has bot

[2018-12-17 18:32] rwinbush opened #906 "ES5 REST ElasticSearch doesn't work with AWS hosted ElasticSearch"
AWS uses HTTPs and the ES5 REST ElasticSearchConfiguration doesn't recognize HTTPs as REST protocol.  Also, in AWS ElasticSearch, a single node cluster will never get into the "green" state and will always remain "yellow".  As written, the ElasticSearchRestDAOV5 class will never connect since it waits for status "green". I have a PR that adds HTTPs and allows for a different health color to be set

[2018-12-17 23:44] cyzhao commented on #871
@JasperB sorry for late response, we are aware of this issue and will look into this soon. However, if you already have plan to fix this please let us know.

@apanicker-nflx @kishorebanala

[2018-12-18 06:17] #892 closed

[2018-12-18 07:14] suanyi001 commented on #856
hey,i have the same error,have you solved it?

[2018-12-18 15:07] sivacham opened #909 "Deploying conductor to PCF with AWS elasticache Redis"
HI,

I am trying to deploy the Conductor 1.12 Version in PCF and facing issues in using AWS elasticache Redis as a service with the Conductor Server. The redis Service in the environment variable is as follows
`
"aws-elasticache-redis": [
        {
          "name": "c2mConductorRedis",
          "instance_name": "c2mConductorRedis",
          "binding_name": null,
          "credentials": {

[2018-12-19 02:47] sivacham opened #910 "Deploying onPCF"

[2018-12-19 02:47] #910 closed

[2018-12-19 05:53] guang384 opened #911 "What is the use of class com.netflix.conductor.annotations.Trace"
Classes are just annotated with this annotation. So what is the purpose of this annotation?

[2018-12-19 07:07] ndidi-did opened #912 "Trouble using dynomite/redis with Elasticsearch"
I've almost got conductor up and running running a local one node dynomite/redis instance:

Redis startup:

Dynomite config:

[code]

conductor server.properties

[code]

Stacktrace:

[code]
I have tried ES locally 2.x, 5.x, 6.x, as well as in memory but I keep getting this error. I must be missing something, but I can't seem to see what it might be. Any advice?

Edit: I've also just made sure tha

[2018-12-19 08:03] ahai1980 commented on #889
only Elasticsearch 6 in new versions

[2018-12-19 08:34] sivacham commented on #842
I am also facing the same issue while deploying to PCF . Did the issue get resolved or do we have any release that has fixed this issue ?

[2018-12-19 10:20] sivacham commented on #909
I have done some changes as per the post by DavidWadden [https://github.com/davidwadden/conductor/commits/pws](url) by adding the password as well as using 1.6.5 version  of dyno-core and dyno-jedis.

But I am facing a new issue now

`2018-12-19T15:39:18.827+05:30 [APP/PROC/WEB/0] [OUT] 540 [pool-3-thread-1] INFO com.netflix.dyno.connectionpool.impl.ConnectionPoolImpl - Failed to init host pool fo

[2018-12-19 12:40] ndidi-did commented on #912
Looks like removing the EC2_availability flag did the trick -- I ended up with:

[code]

[2018-12-19 12:40] #912 closed

[2018-12-19 19:35] ndidi-did opened #914 "HTTP tasks stuck scheduled, discrepancy between local dynomite/in memory"
I've got conductor up and running with a local dynomite/redis instance running in localhost but HTTP tasks seem to be getting stuck in a scheduled state because the poll worker does not pick it up, even though I can see 1 pending HTTP task through swagger:

`http://localhost:8080/api/tasks/queue/sizes?taskType=HTTP`

[code]
Polling worker continually prints this while the task is in queue:
`18570

[2018-12-20 10:00] faraday-m commented on #668
Is it possible to run mysql with in-memory elasticsearch instance? It works when we set db in memory mode but doesn't work for mysql config.
I couldn't find any things in mysql or server implementation that requires running elasticsearch. Which files should I look?
And would it be possible to run Conductor with other index engines like Apache Solr?

[2018-12-20 10:32] manojkumarbehera opened #915 "task with http type and retry"
It is not a issue - I am looking for a solution
I have created a task with retry of 5 times.And created a workflow using the task of http type(my rest url api endpoint).
But the moment I run the workflow - it is hitting the rest api.
what I want - the rest url(url-2) is the Upstream of another url(url-1). when my application call url-1, in code I will use conductor task to hit url-2, and based on

[2018-12-20 15:43] gsambasiva commented on #110
@GEverding  I am facing a similar issue is this issue got fixed.
If it is fixed for you, could you please let me know how to fix this issue

[2018-12-20 18:22] ndidi-did commented on #856
I'm getting the same error -- I thought to add a third node just in case that 3 are required for HA purposes but it seems as if that's not the case, they are all connected and working together in the cluster but I'm still getting the same error as above when containing more than one host in the hosts property.

[2018-12-20 21:37] cyzhao commented on #896
@artpdr callbackAfterSeconds can't be used as heartbeat, what is does it to return the task back to the queue and make it visible to workers after callbackAfterSeconds. Currently Conductor doesn't provide a mechanism to support this, however a heartbeat mechanism can be introduced to allow workers to reset responseTimeoutSeconds, let me know if you want to take a stab at this then we can get into

[2018-12-20 21:44] cyzhao commented on #901
@jkaipa pls check out:

https://github.com/Netflix/spectator/tree/master/spectator-reg-atlas
http://netflix.github.io/spectator/en/latest/registry/servo/
http://netflix.github.io/spectator/en/latest/intro/netflix/

[2018-12-20 21:44] #901 closed

[2018-12-20 21:51] cyzhao commented on #883
@LiranBri are you getting this when you run it locally with docker? It looks like sweeper is not running properly in your setup hence timeouts are not enforced.

[2018-12-21 10:02] sev7nf commented on #430
@jagadeeshb22 is there any resolution?

[2018-12-21 17:00] ndidi-did commented on #895
It seems as if it's this inside TokenMapSupplier.java:

[code]
I've tested by adding a second token when having more than 1 host provided and it seems to be working.

[2018-12-21 22:16] artpdr commented on #896
@cyzhao thanks for answering.
I see that callbackAfterSeconds is not exactly an heartbeat mechanism. However, if a worker keeps posting a task with callbackAfterSeconds until it set COMPLETED in this worker, it can be seen somehow as an heartbeat mechanism because the task will be turned to the queue to become visible by other workers only in the case that the first worker stops to post the task w

[2018-12-21 22:16] #896 closed

[2018-12-22 04:37] mudit3774 commented on #558
We just moved from a db=redis to db=redis_cluster but the server is unable to start. We are on conductor version 2.x.x

I am able to telnet and redis-cli is working from the box.

This is the config we are using :

`db=redis_cluster
#Dynomite Cluster details.
#format is host:port:rack separated by semicolon
workflow.dynomite.cluster.hosts=<config-endpoint>:6379:us-east-1c

#namespace for the keys

[2018-12-22 05:00] mudit3774 opened #917 "Unable to start server with redis_cluster"
We are trying to move from db=redis to db=redis_cluster and we are facing issues with starting the server. We are using conductor 2.x.x

We are able to telnet to the elastic cache cluster and also redis-cli is working from the box.

This is the config we have :

[code]

We have enabled debug logging but this is the only log we are getting :

[code]

We did upgrade the redis engine to 5.0.0 and box

[2018-12-22 05:06] clari-akhilesh commented on #917
We haven't tested redis_cluster with the 2.x.x version. We're currently running 1.8.6 version in Production. Nothing stands out in your config that could be incorrect. Can you try with the following parameter instead of the one you have:
`workflow.dynomite.cluster.hosts=<config-endpoint>:6379:c`
Let me know if that works @mudit3774

[2018-12-24 06:15] sivacham commented on #909
Issue resolved after using Jedispool to form the connection . Now the Conductor war has deployed on PCF but still not able to get the Swagger page

The tomcat version is Apache Tomcat/8.5.37

[code]

Saw someone had a similar issue and used GuiceContainer instead of the DefaultServlet but got he Mime type error

[(https://github.com/Netflix/conductor/pull/792)]

[2018-12-24 07:53] mudit3774 commented on #917
@clari-akhilesh Thank you for your reply. I tried the suggested setting and it is still getting stuck with the same log and restarting again.

We will try to isolate the issue by bringing the redis version down and if this is still happening.

[2018-12-24 14:03] #915 closed

[2018-12-25 13:30] hados99 opened #918 "Is README in docker folder correct?"
Hi,
I tried to build docker images.
I read README in docker folder but build failed.

I found the way but it is a little different from README.
my dev env : Ubuntu 18.04, docker 18.03.1-ce

[code]
as of docker-compose
[code]

Did others build docker similarly?
How about edit README?

[2018-12-26 06:28] manojkumarbehera opened #920 "How to stop http task(rest call) execution while workflow start"
How to stop http task(rest call) execution while workflow start.
My workflow definition have only one http task

[2018-12-26 12:36] mudit3774 commented on #917
Thanks @clari-akhilesh for the reply. I tried with 3.2.4 redis engine version and it is still stuck. There is no error log, it just tries to start the server again, we get the above log in a loop with each iterations 'n' seconds apart.

[2018-12-26 19:31] saidatta commented on #918
What is the error message?

[2018-12-27 10:55] jagadeeshb22 commented on #430
@sev7nf -
Yes, there is a solution to get the executed output. For that we need to remove the "outputParameters" field in workflow definition. so that, the output will come from the last executed task automatically as per the netflix documentation -- https://netflix.github.io/conductor/metadata/

[2018-12-28 07:33] suanyi001 commented on #856
Thanks a lot!This has been bothering for a long time！

原始邮件
发件人:Sambanotifications@github.com
收件人:Netflix/conductorconductor@noreply.github.com
抄送:susamasuanyi001@126.com; Commentcomment@noreply.github.com
发送时间:2018年12月28日(周五) 15:28
主题:Re: [Netflix/conductor] NullPointerException when starting up (usingdynomite) (#856)

I am also getting the same error, I did some debug and updated below class cod

[2018-12-28 07:34] aquacadabra opened #921 "Work with microservices"
Sorry if my English is not good

We're investigating Conductor to use it in our next microservices project (our first microservices project as well) and after reading official the document we still have many questions on how to use Conductor properly.

Please someone help to clarify these points:

1. Documentation
Is there any more complete document than the official one at https://netflix.github.

[2018-12-29 01:11] suanyi001 commented on #895
Thanks,it`s worked!

[2018-12-29 01:11] #895 closed

[2019-01-02 11:35] johnlongo opened #923 "Workers Not Executing with standalone redis db"
Trying to setup an conductor instance using a standalone redis db, I'm able to create workflows, start workers polling without any issues. But when I schedule a workflow none of the workers are getting triggered. BTW when I use the exact same config with a MYSQL db they are getting triggered.

Any suggestions?

Below is my Server Properties File (NOTE: CHANGED SERVER DOMAIN TO XXXXXXXX.XXX for thi

[2019-01-02 18:00] johnlongo commented on #923
I've added a redis monitor log, when I start a workflow.
What I see is a few things:
1) I see the new workflow & task being added to the redis DB (i.e MESSAGE._deciderQueue, WORKFLOW_DEF_TO_WORKFLOWS, PENDING_WORKFLOWS, etc.)
2) I see a few "GET" for WORKFLOW, TASK. etc.
3) I'm also seeing the POLLING Request getting SET.
But that's it, nothing else.

NOTE: I do see a bunch of request for QUEUE wi

[2019-01-03 12:31] rksinha commented on #842
@cyzhao @JasperB @mudit3774 PR for above fix : https://github.com/Netflix/conductor/pull/927

[2019-01-03 20:57] pavansistla opened #928 "Unable to start Conductor using cassandra"
I am unable to launch conductor locally using cassandra in server.properties
_server.properties_
      db=CASSANDRA
      workflow.cassandra.host=host
      workflow.cassandra.port=port
      workflow.cassandra.keyspace=key

I found out that QueueDAO and MetadataDAO implementations for cassandra are missing.
Can you please correct me if I am missing any thing here in the process of starting the co

[2019-01-04 08:15] LiranBri commented on #883
Hi @cyzhao , I realize that it's open source and you are doing everything voluntarily. but since I'm struggling with this issue for about 2 months now I would really appreciate if you can try to take a second look at this issue. thank you!

[2019-01-04 20:16] saidatta commented on #883
I believe he might be referring WorkflowSweeper within the codebase. Take a look at this https://github.com/Netflix/conductor/issues/362 . I am not sure if it is the solution but might give you some direction.

[2019-01-06 15:41] LiranBri commented on #362
@cquon what do by "putting task back in IN_PROGRESS" you mean you tried to poll the task again?

[2019-01-06 16:10] LiranBri commented on #883
thank you @saidatta . after adding this line of code, the task indeed goes into TIMED_OUT and a new one is created in SCHEDULED mode, which can then be polled again.

however, the second one doesn't get timed out if there is no response for it, so the second task stays at IN PROGRESS and the workflow stays at RUNNING stay

[2019-01-06 16:20] LiranBri commented on #333
+1

[2019-01-09 09:37] gsambasiva opened #932 "Decision Case - If multiple conditions met, it is taking the last case output as final result"
We have created a decison case in workflow definiton having multiple cases met the given input.
Currently it is excuting the last case, but it should execute the first case that met with the given input.
If we take any switch case example in any language, If we have multiple conditions met, we are considering first condition output as final output with help of break statements.

Can we have same l

[2019-01-09 18:38] cyzhao commented on #600
@clari-akhilesh sorry for the late response, I don't think you need to submit a PR for this, you can initialize the Registry and add it to the global registry via `((CompositeRegistry)Spectator.globalRegistry()).add(...)`, sample code for creating metrics3 registry: https://github.com/brharrington/spectator-examples/blob/master/metrics3/src/main/java/com/netflix/spectator/example/metrics3/Main.jav

[2019-01-10 05:31] cyzhao commented on #829
@pctreddy any context on these async methods that are not being used?

[2019-01-10 05:35] cyzhao commented on #833
#927 should fix this.

[2019-01-10 05:35] #833 closed

[2019-01-10 05:43] #673 closed

[2019-01-10 05:45] #867 closed

[2019-01-10 05:52] #868 closed

[2019-01-10 06:14] cyzhao commented on #876
please be more specific

[2019-01-10 06:14] #876 closed

[2019-01-10 06:40] cyzhao commented on #880
cannot reproduce, please run the build with --stacktrace and provide the complete logs.

[2019-01-10 06:50] cyzhao commented on #885
thanks for the feedback, we do have a plan to improve engagement with the community this year.

[2019-01-10 06:50] #885 closed

[2019-01-10 06:52] cyzhao commented on #759
@apanicker-nflx do we still have this problem?

[2019-01-10 06:54] cyzhao commented on #879
@falu2010-netflix please check if this is handled by validation PR, if not let's improve as needed.

[2019-01-10 06:55] #632 closed

[2019-01-10 07:16] #882 closed

[2019-01-10 07:36] cyzhao commented on #911
@guang384 you can implement a trace interceptor tailored for your needs then bind to classes annotated with this annotation.

[2019-01-10 07:36] #911 closed

[2019-01-10 08:14] #842 closed

[2019-01-10 18:53] apanicker-nflx commented on #928
The CassandraDAO is a partial implementation as documented here - https://github.com/Netflix/conductor/blob/master/cassandra-persistence/README.md.

Please feel free to contribute to the missing modules.

[2019-01-10 18:53] #928 closed

[2019-01-10 19:02] apanicker-nflx commented on #866
[Here](https://github.com/Netflix/conductor/commit/169485b9223d5a518e516f2e973a8c8bc2aae772#diff-496ab628ec2175eb6539b2556b67f68dL366), the `returnTask` was removed upon ack failure or execution because if the ack fails or throws an exception, the task will be requeued by the server after the unack timeout. The task return is unnecessary.

[2019-01-10 19:02] #866 closed

[2019-01-11 22:31] Mentis commented on #923
@johnlongo just faced the same issue myself. You need to specify  following properties in your config or via system property:
EC2_AVAILABILITY_ZONE=us-east-1e
EC2_REGION=us-east-1

They should match region in workflow.dynomite.cluster.hosts
Otherwise default values will be used (us-east-1c) and DynoQueue won't work.

[2019-01-11 22:50] surajrrao commented on #671
Hi Guys, Even we have encountered the same issue where the workflow finished executing all the task successfully but the workflow status is in Running state forever.

We are using version 2.5.2 & MySQL.

Appreciate any help!

[2019-01-13 21:36] cyzhao commented on #333
@apanicker-nflx @kishorebanala please follow up on this, let's enable it by default unless there is a strong reason for not doing this (in which case documentation needs to be updated to cover it).

[2019-01-13 21:39] cyzhao commented on #362
we will look into enabling sweeper by default, see #333, closing this.

[2019-01-13 21:39] #362 closed

[2019-01-13 21:52] cyzhao commented on #923
@kishorebanala this is a faq candidate.

[2019-01-13 21:52] #923 closed

[2019-01-14 07:11] surajrrao opened #937 "Retrying/Scheduling a failed HTTP task is broken in 2.5.2"
Retrying/Scheduling a failed HTTP task is broken in 2.5.2, though the same works fine with 1.8.3

[2019-01-14 18:17] apanicker-nflx commented on #937
@surajrrao We are working on a fix for this and will be releasing one soon. Thanks for the feedback.

[2019-01-14 18:17] #937 closed

[2019-01-14 18:51] surajrrao commented on #937
@apanicker-nflx - Thanks for responding! Just to clarify - is this issue fixed already? I see you have closed this ticket & also i see 2.5.3 version available now.

[2019-01-14 18:55] apanicker-nflx commented on #937
v2.5.3 does not have a fix for this, we will be releasing a fix for this either today or tomorrow.

[2019-01-14 23:40] kishorebanala commented on #871
@JasperB We have this on our roadmap, though not a higher priority. Please feel free to send us a PR, if this needs to be fixed sooner. Thanks for reporting the issue.

[2019-01-14 23:43] kishorebanala commented on #671
We're aware of this issue, and have this on our roadmap. But, we don't have resources to fix this immediately. If anyone would like to take this up in between, please feel free to send in a PR.

[2019-01-14 23:46] kishorebanala commented on #671
This issue to related to https://github.com/Netflix/conductor/issues/871. Closing this, Please continue the discussion forward in #871.

[2019-01-14 23:46] #671 closed

[2019-01-14 23:48] apanicker-nflx commented on #826
@chinajuanbob Are you able to consistently reproduce this issue? Searches against elasticsearch are eventually consistent and you could be seeing some stale data for a little while.
Please reopen if you think its a different issue.

[2019-01-14 23:48] #826 closed

[2019-01-14 23:57] apanicker-nflx commented on #884
@johnlongo Can you please try reproducing this with a newer version of Conductor (>=v2.5)?
The join task need to be manually completed and should auto complete once the tines are completed.
Please reopen the issue if you are able to reproduce using the latest versions.

[2019-01-14 23:57] #884 closed

[2019-01-15 00:02] kishorebanala commented on #688
This has been fixed in v1.11+

[2019-01-15 00:02] #688 closed

[2019-01-15 00:12] apanicker-nflx commented on #921
1. Currently, that is the only documentation available. However, we realize that it is a bit antiquated and will update the documentation soon with better onboarding examples. Thanks for the feedback.

2.

The retry policy is applied when the task execution fails and the task is retried based on the number of retries configured in the task definition.

The retry count is counted/updated each time

[2019-01-15 00:12] #921 closed

[2019-01-15 00:38] kishorebanala commented on #881
@ndidi-did Thanks for reporting this issue. Somehow, decision task within fork isn't working as expected. The Join task is scheduled along with Fork task, and Join should know tasks it is waiting for, making it static. And hence, all the first tasks within decision works fine, but others wouldn't.

A workaround is to put decision tasks in a sub workflow, and let Join wait on this sub-workflow.

[2019-01-15 01:35] apanicker-nflx commented on #845
@jagadeeshb22 `SIMPLE` task is any task that is executed by a worker outside of Conductor. In the `SimpleTaskMapper`, the task type is set to the task definition name.

[2019-01-15 01:35] #845 closed

[2019-01-15 01:39] apanicker-nflx commented on #875
Currently, this is not supported. You can pass both params into the task and perform the calculation within the task itself.
Please feel free to submit a pull request for this and we would be happy to review and merge.

[2019-01-15 01:39] #875 closed

[2019-01-15 01:41] apanicker-nflx commented on #879
This should be fixed as part of #862. Closing this issue, please reopen if you still see this.

[2019-01-15 01:41] #879 closed

[2019-01-15 01:46] apanicker-nflx commented on #811
@gsambasiva This seems to be expected behavior. Conductor will set the task to SCHEDULED status and queue this task. A [worker](https://github.com/Netflix/conductor/blob/master/client/src/main/java/com/netflix/conductor/client/worker/Worker.java) should poll for this task, [execute](https://github.com/Netflix/conductor/blob/master/client/src/main/java/com/netflix/conductor/client/worker/Worker.jav

[2019-01-15 01:46] #811 closed

[2019-01-15 01:47] apanicker-nflx commented on #920
Please provide more details on the use-case and the steps you have to taken to address this.

[2019-01-15 01:51] apanicker-nflx commented on #819
@gaopc2018 Please check out the [Cassandra DAO implementation](https://github.com/Netflix/conductor/tree/master/cassandra-persistence). This currently only provides a partial implementation, meaning that only the execution DAO has been implemented and the metadata DAO and queue DAO are not implemented yet.
Please feel free to submit a PR extending from this and we will review and merge the same.

[2019-01-15 01:51] #819 closed

[2019-01-15 07:43] choubisat opened #938 "Support for executing workflow from an intermediate step in the workflow"
Conductor supports restarting the workflow. However, there seems to be no support for starting the workflow from an intermediate task in the workflow. We are evaluating workflow engines for our use cases, that include many user-centric tasks. Some of the use cases require us to conditionally iterate ("loop") over the tasks in the workflow or choose any random task which is part of the workflow ( i

[2019-01-15 23:59] #856 closed

[2019-01-16 00:14] apanicker-nflx commented on #938
@choubisat Constructs of "loop" and "goto" task is not currently supported within a workflow execution in Conductor. We do have a plan to add support for these in our long-term roadmap, however, if this is an urgent requirement for you, please feel free to submit a pull request for the same and we would be happy to review and merge.

[2019-01-16 00:14] #938 closed

[2019-01-16 01:02] apanicker-nflx commented on #157
This feature is already available using Event Handlers.

[2019-01-16 01:02] #157 closed

[2019-01-16 01:10] apanicker-nflx commented on #260
@kpdude7 The latest release versions do not have this issue. Please reopen if you are still seeing this issue on your end.

[2019-01-16 01:10] #260 closed

[2019-01-16 01:13] apanicker-nflx commented on #338
@rmohta The `GET /workflow/{workflowId}` API can be used to get the output and status of a workflow execution as mentioned by @saidatta above.

[2019-01-16 01:13] #338 closed

[2019-01-16 01:14] apanicker-nflx commented on #321
@blueelephants You can implement the [WorkflowStatusListener](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/WorkflowStatusListener.java) interface to configure this functionality.

[2019-01-16 01:14] #321 closed

[2019-01-16 01:38] apanicker-nflx commented on #337
@soumita9 As @copierrj mentioned, please use `schemaVersion:2` , schema version 1 is deprecated and will be removed in a future version soon.

[2019-01-16 01:38] #337 closed

[2019-01-16 15:38] jagadeeshb22 opened #944 "Access Global variables & Assign a value to them"
@jvemugunta / @v1r3n
How can we define a variable globally which is available for each task, and assign a specific value in a decision case to it, and access that as output of that specific task?
Can you help on me this?

Thanks in Advance.

[2019-01-16 16:06] v1r3n commented on #944
Conductor does not define global variables.  There are workflow input that are available to each task for these are inputs that cannot be changed.

Each task can output a variable based on some logic and the variable name can be same across different tasks - not sure if that is what you are looking for.

[2019-01-16 20:35] apanicker-nflx commented on #677
This change has been made as part of #858.

[2019-01-16 20:35] #677 closed

[2019-01-16 20:39] apanicker-nflx commented on #349
1. Parameter values cannot be injected into a task after starting the workflow and it is in RUNNING state.
2. You can add an implementation of [WorkflowStatusListener](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/WorkflowStatusListener.java) to notify you once the workflow fails or completes successfully.

[2019-01-16 20:39] #349 closed

[2019-01-17 04:14] jisiallen opened #946 "grade sync failed"
Plugin [id: 'nebula.netflixoss', version: '5.1.1'] was not found in any of the following sources:

- Gradle Core Plugins (plugin is not in 'org.gradle' namespace)
- Plugin Repositories (could not resolve plugin artifact 'nebula.netflixoss:nebula.netflixoss.gradle.plugin:5.1.1')
  Searched in the following repositories:
    Gradle Central Plugin Repository

[2019-01-17 10:08] mudit3774 commented on #938
Thanks for the update @apanicker-nflx, @choubisat there were some old tickets for the same : https://github.com/Netflix/conductor/issues/35 We are also interested in adding this support.

One way to do this would be to add a GoTo construct that moves us to that task by marking it in progress and all tasks can re-execute. We also need a way to save this. This would also require some changes in the

[2019-01-17 15:13] jagadeeshb22 commented on #944
Thanks @v1r3n.
My actual requirement is like -- I have a decision case with YES or NO options.
In YES case, I need to take a variable, and use it in further task. At the same time with NO.
So, based on the decision any one will execute, and a value needs to be assigned to that variable in that case. I need to use that.
Is that possible ?
![image](https://user-images.githubusercontent.com/38783638/

[2019-01-17 18:56] #404 closed

[2019-01-17 18:57] #346 closed

[2019-01-17 18:58] kishorebanala commented on #371
Closing this as this is outdated. Please open another issue if it still happens.

[2019-01-17 18:58] #371 closed

[2019-01-17 19:01] kishorebanala commented on #449
@mamt84 You can try installing maria-db locally to resolve mysql persistence test module's issue.

[2019-01-17 19:01] #449 closed

[2019-01-17 19:06] kishorebanala commented on #452
@slahmar We don't actively publish docker images to any repos like docker hub. Cloning the repo and building your own images is probably the best way to have latest and safe images.

The Docker images published above might be other user's implementations.

I'm closing this issue, as there is no activity for a while. Please feel free to open another issue if that doesn't resolve your concern.

[2019-01-17 19:06] #452 closed

[2019-01-17 19:08] kishorebanala commented on #458
Closing this issue, as there is no activity for a while. Please feel free to open another issue if that doesn't resolve your concern.

[2019-01-17 19:08] #458 closed

[2019-01-17 19:11] jkaipa opened #947 "Event Handler - Payload format"
I have defined an event handler with its action as
[code]
The input payload format is:
[code]

When the workflow is called by the handler the workflow input is going as
[code]

Why is the handler passing payLoad value as an array? Any one faced this issue?

[2019-01-17 19:12] kishorebanala commented on #946
@jisiallen Can you please try updating your local gradle and conductor, and let me know if that works?
You can find more about this plugin here:
http://nebula-plugins.github.io/
https://plugins.gradle.org/plugin/nebula.netflixoss/5.1.1

Also, you can consider using Docker builds.

[2019-01-17 19:16] kishorebanala commented on #240
This feature is now available in Metadata APIs.

[2019-01-17 19:16] #240 closed

[2019-01-17 19:21] kishorebanala commented on #249
Closing this issue, as there is no activity for a while. Please feel free to open another issue if that doesn't resolve your concern.

[2019-01-17 19:21] #249 closed

[2019-01-17 19:33] kishorebanala commented on #288
Closing this issue, as there is no activity for a while. Please feel free to open another issue if that doesn't resolve your concern.

[2019-01-17 19:33] #288 closed

[2019-01-17 19:33] #290 closed

[2019-01-17 19:41] kishorebanala commented on #341
We'll update the docs with best practices for system task vs worker task.

At high level, system tasks are executed by conductor server, and they shouldn't generally be computationally intensive. Whereas worker tasks can be scaled out and distributed to worker nodes.

[2019-01-17 20:54] RileyMichael opened #948 "getTaskExecutionLogs() limited to 10 results"
It appears that ElasticSearchDAOV5#getTaskExecutionLogs returns only 10 logs (default es behavior).  Is this intended / desired?

[2019-01-17 22:40] kishorebanala commented on #361
https://github.com/Netflix/conductor/pull/858

This PR has removed IndexDAO from primary DAO's. I'm closing this issue as there isn't much activity for a while. If this doesn't address your concern, please open another issue.

[2019-01-17 22:40] #361 closed

[2019-01-18 08:12] akshat-g commented on #35
@v1r3n - I created a simple workflow with 3 sequential simple tasks - task_1, task_2, task_3. I started the workflow, and updated the status of task_1 and task_2 as COMPLETED. Now task_3 is in scheduled state. I then tried to update the status of first task task_1 as IN_PROGRESS by hitting POST /tasks api. However task_1 did not go to IN_PROGRESS state. It remained in COMPLETED state. task_3 remai

[2019-01-18 08:15] F1reworks opened #952 "Conductor usability"
Hello, do you have any tuning guides?
I tryed using conductor for simple workflows with 5-7 small microservices each. The perfomance results are inappropriate. I tryed to disable conductor data base, changed polling intervals, disabled any disk io or data base interacting inside workers. But latency between scheduled time and start time is about 300 ms, workers are spending 100-400 ms on very simp

[2019-01-18 11:59] ynfeng commented on #952
mark

[2019-01-18 20:45] jkaipa opened #953 "Task output of last executed task"
@v1r3n
I have the scenario like this. T1 -> [T2/T3] -> T4.
Here T2 and T3 are executed based on a decision. I have to pass the output of T2/T3 to T4.

If the result of the decision is true, T2 is executed,
Case 1: T1 -> T2 -> T4

If not T3 is executed.
Case 2: T1 -> T3 -> T4.

How would I get the output of T2 or T3 in a generic way and that I can pass as input to T4?

Thx

[2019-01-18 20:48] kishorebanala commented on #499
Closing this issue, as there is no activity for a while. Please feel free to open another issue if you still have questions.

[2019-01-18 20:48] #499 closed

[2019-01-18 20:48] #448 closed

[2019-01-18 20:56] kishorebanala commented on #351
Closing this issue, as there is no activity for a while. Please feel free to open another issue if you still have questions.

[2019-01-18 20:56] #351 closed

[2019-01-18 21:02] kishorebanala commented on #350
Yes, IndexDAO has been removed from primary DAO's in latest versions.

Closing this issue, as there is no activity for a while. Please feel free to open another issue if you still have questions.

[2019-01-18 21:02] #350 closed

[2019-01-18 21:11] kishorebanala commented on #386
While Conductor executes the task only once, the underlying Client Handler (say Jersey Client) executing Http task might have been configured differently. I.e Jersey Client might have default config to retry 3 times if a request times out.

Closing this issue, as there is no activity for a while. Please feel free to open another issue if you still have questions.

[2019-01-18 21:11] #386 closed

[2019-01-18 21:19] kishorebanala commented on #431
This might have been outdated.

Closing this issue, as there is no activity for a while. Please feel free to open another issue if you still have questions.

[2019-01-18 21:19] #431 closed

[2019-01-18 22:24] #579 closed, assigned to nobody

[2019-01-18 22:27] #526 closed, assigned to nobody

[2019-01-18 22:31] apanicker-nflx commented on #396
You should be able to delete completed workflows using the API mentioned in the previous comment.

[2019-01-18 22:31] #396 closed

[2019-01-19 11:06] F1reworks commented on #952
Hello @v1r3n, for testing I disabled conductor data base and used in memory instance.
Environment: conductor and workers run localy in one PC. Workflow start requests were generated throw conductor-client library on the same PC. I used 10 threads for stress load. I mentioned that load speed also not very high. I use 8 cores i7 processor with 12GB RAM. And during testing CPU utilization was not mor

[2019-01-21 02:36] ynfeng commented on #952
I think the worker's task poll model will make conductor server and backend storage pressure is too high. For example, there are 500 workers.

[2019-01-21 10:40] ldhlyf opened #955 "how can replace localhost with 180.123.117.80 for UI"

[2019-01-21 15:06] mohelsaka commented on #600
@clari-akhilesh
Does this mean we have to change the code (possibly [bootstrap.Main.java](https://github.com/Netflix/conductor/blob/master/server/src/main/java/com/netflix/conductor/bootstrap/Main.java) file) in order to add registries to `Spectator.globalRegistry`.

Is there a better way to do this without chaging the code?

[2019-01-21 23:43] apanicker-nflx commented on #97
This has been fixed for some time now. Please reopen if you still run into this.

[2019-01-21 23:43] #97 closed

[2019-01-21 23:50] kishorebanala commented on #947
@jkaipa , you can try removing dot in json path:
[code]

[2019-01-21 23:51] apanicker-nflx commented on #136
@blueelephants We will add this feature request to our backlog but in the meantime, if you wish to implement this and submit a PR for the same, we would be happy to review and merge.

[2019-01-21 23:55] apanicker-nflx commented on #154
This should be addressed in the fix submitted here - https://github.com/Netflix/conductor/commit/651b50f8761656fbee74d3cc2e2852357535c85b#diff-726da9f2c587ce68d0917d879c8e702f.

[2019-01-21 23:55] #154 closed

[2019-01-22 00:00] apanicker-nflx commented on #196
This should be fixed now and is expected to be working correctly. Please reopen if you encounter this issue again.

[2019-01-22 00:00] #196 closed

[2019-01-22 00:03] apanicker-nflx commented on #201
This behavior should be fixed now and the `SUB_WORKFLOW` task should be set to FAILED state if this fails. Please reopen if you encounter this issue again.

[2019-01-22 00:03] #201 closed

[2019-01-22 00:03] kishorebanala commented on #183
Closing this issue, as there is no activity for a while. Please feel free to open another issue if you still have questions.

[2019-01-22 00:03] #183 closed

[2019-01-22 00:03] kishorebanala commented on #158
Closing this issue, as there is no activity for a while. Please feel free to open another issue if you still have questions.

[2019-01-22 00:03] #158 closed

[2019-01-22 00:05] kishorebanala commented on #204
Closing this issue, as there is no activity for a while. Please feel free to open another issue if you still have questions.

[2019-01-22 00:05] #204 closed

[2019-01-22 00:08] apanicker-nflx commented on #210
1. The `TIMED_OUT` status is applicable only to IN_PROGRESS tasks because, if a worker is not polling for a specific task due to some maintenance issue, the workflow should still stay in RUNNING state and then proceed with the task once the worker for that task comes back up and starts polling for it again.

2. This behavior should be fixed and `TIMED_OUT` tasks should not be available to be polle

[2019-01-22 00:08] #210 closed

[2019-01-22 00:15] kishorebanala commented on #228
Closing this issue, as there is no activity for a while. Please feel free to open another issue if you still have questions.

[2019-01-22 00:15] #228 closed

[2019-01-22 00:17] kishorebanala commented on #222
It is partially possible with System Environment variables, which can be used in workflows. But, please feel free to let us know or send in a PR with better implementation of this feature.

Closing this issue, as there is no activity for a while. Please feel free to open another issue if you still have questions.

[2019-01-22 00:17] #222 closed

[2019-01-22 00:18] apanicker-nflx commented on #287
Thanks for the feedback. The documentation has been updated to use the correct format.

[2019-01-22 00:18] #287 closed

[2019-01-22 00:32] kishorebanala commented on #297
Closing this issue, as there is no activity for a while. Please feel free to open another issue if you still have questions.

[2019-01-22 00:32] #297 closed

[2019-01-22 00:34] apanicker-nflx commented on #306
This is not currently supported. You could generate the same message on the queue after a delay so that the event handler action is executed again.
If you wish to implement this enhancement within conductor, we would be happy to review and merge.

[2019-01-22 00:34] #306 closed

[2019-01-22 00:39] kishorebanala commented on #328
Search API's `freeText`parameter accepts Elasticsearch supported queries. More about this can be found here: https://netflix.github.io/conductor/runtime/#search-for-workflows

Closing this issue, as there is no activity for a while. Please feel free to open another issue if you still have questions.

[2019-01-22 00:39] #328 closed

[2019-01-22 10:16] F1reworks commented on #952
Okey. I managed to fix some configuration parameters and get throuput about 40 request per second. Workers are working much faster, but tasks stayed scheduled for a long time 2-4 minutes. How can I increase pooling speed?

[2019-01-22 18:07] mashurex commented on #944
You could probably do one of a couple of things:

1. Wire the output of `t2` or `t3` to the same workflow output parameter and wire `workflow.output.parameterName` to the input of `t4`
2. Wire the output of `t2` to one input parameter on `t4` and wire the output of `t3` to another input parameter on `t4` and handle coalescing them at task implementation or worker level
3. Wire the input of t2 and

[2019-01-23 18:58] anuccio1 opened #961 "Go Client ackTask method not working correctly"
https://github.com/Netflix/conductor/pull/960/files

[2019-01-24 01:08] jkaipa commented on #947
Awesome. Thank you.

[2019-01-24 01:08] #947 closed

[2019-01-25 03:03] #961 closed

[2019-01-28 05:52] F1reworks commented on #952
Hello, @JasperB. Yes, we tryed different perams. So we increased performance slightly. We found out that most CPU consumed by elasticsearch, conductor threads made CPU load only 5-10%. Try to use separate elasticsearch engine, but network overhead were too big.

[2019-01-28 09:39] JasperB commented on #952
@F1reworks it's weird. The conductor only load the data from ES once the workflow not exist in redis, which only happened you archived your workflow or the workflow can't get from redis. So I think there is something wrong for configuration.

[2019-01-28 12:48] F1reworks commented on #952
@JasperB for testing we used in memory configuration with out redis.

[2019-01-28 23:30] microsoftly opened #962 "How to use external s3 payload storage"
There are no docs around this feature, but the logs show
`[main] INFO  com.netflix.conductor.bootstrap.ModulesProvider  - External payload storage is not configured, provided: , supported values are: [S3]`
As well as the source referring to it https://github.com/Netflix/conductor/blob/master/client/src/main/java/com/netflix/conductor/client/config/ConductorClientConfiguration.java#L51, but not exp

[2019-01-29 01:06] apanicker-nflx commented on #962
We are currently in the process of adding documentation for the new features and the `ExternalPayloadStorage` is one of these.
As you correctly pointed out, this is not enabled by default. This feature would explicitly need to be turned on and can only be used from the Java client.

[2019-01-29 05:19] boshido opened #963 "Failed to run when use redis and elasticsearch in AWS"
Version 2.5.8

I tried to run conductor in my computer before deploy to k8s
So I ran conductor that was setup the connection to connect to elasticsearch and redis, both inside in aws

The result I got is not what I expected to be same as running conductor with dynomite and elasticsearch in local host by using docker-compose (So conductor works in localhost)

I have 1 elasticsearch setup in aws
![i

[2019-01-29 07:36] boshido commented on #963
Now I tried to use dynomite instead install in ec2 at ap-southeast-1a
I use same config and change only host name
Result : Not work

After that I changed the host config about rack area from ap-southeast-1a to us-east-1c
Result : It works but why ?????

[2019-02-01 10:40] Jiehong opened #968 "ExecutionDAO: new method for counting all tasks"
Hello,

I'd like to add (i.e. provide a PR) the following method in `ExecutionDAO`:

`long getTotalNumberOfTaskExecution(final String taskDefName);`

Its purpose is to have a way to know the number of task executed/in execution for a given taskDef.
This information might be useful to provide some paging information in the services for example.

What do you think?

[2019-02-01 14:49] AlexVinogradov commented on #968
Agreed, i could be really useful, not only for the TaskExecution but for all the objects.

[2019-02-01 21:33] jkaipa opened #969 "Terminal state of a task"
It's just an indicator to differentiate a few tasks from the other. Is there any other significance?

[2019-02-01 21:44] jkaipa opened #970 "Skip and next task scheduling"
I have my tasks in the following way.
[code]
Step1: Start the workflow
Step2: Skip task T2
Step3: Update T1 as completed and provide input in such a way the decision task D1 would evaluate to true.
I have expected conductor to schedule T3 while skipping T2.

Observation:
Conductor completed T1 and evaluated D1 as true. T3 was not scheduled when it supposed to.

[2019-02-02 14:12] nullp0int3r commented on #759
same issue with docker-compose and Mysql

[2019-02-02 20:21] jwulf commented on #759
This made Conductor unusable for us. We went with Zeebe. They have different priorities from the Conductor team and respond within minutes or hours on GitHub.

[2019-02-03 08:57] nullp0int3r commented on #759
Thank you! I'm gonna have a look ;)

[2019-02-04 22:06] RaghavaGopaluni opened #971 "Workflow is not COMPLETED with SKIPPED Task"
I have my tasks in the following way.
![image](https://user-images.githubusercontent.com/35539454/52239949-4686fa80-2895-11e9-8234-d8de1b3482ae.png)

Step1: Started and Completed workflow with Decision as "true".
Step2: Reran the same workflow from Task1.
Step3: Skipped Task2 before Completing Task1.
Step4: Completed Task1 with Decision as "default".
Since there'll be no tasks remaining, i expecte

[2019-02-04 23:53] kishorebanala commented on #971
@RaghavaGopaluni Thanks for reporting this. We'll have to run this workflow with a debugger to see why this is happening, and if there is any bug that could've caused it. Meanwhile, if you were able to find the cause, please feel free to send a PR with your fix.

[2019-02-04 23:57] kishorebanala commented on #970
Apparently, this is related to #971. There must be some anomaly with Skip and Decision task. We'll try to reproduce this along with #971.

[2019-02-05 00:00] apanicker-nflx commented on #969
A task in a terminal state, indicates that the task has completed its lifecycle within the workflow execution.

[2019-02-05 00:00] #969 closed

[2019-02-05 00:06] apanicker-nflx commented on #968
This API [getInProgressTaskCount(String taskDefName](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/dao/ExecutionDAO.java#L204-L209) already exists to provide information about the number of tasks currently being executed for a given taskDef.

To get a count of all the task executions for a given taskDef the search API from the indexDAO can be used which

[2019-02-05 00:07] #968 closed

[2019-02-05 00:08] apanicker-nflx commented on #968
Closing this issue, since the search API in indexDAO on tasks meets the need for a exhaustive view across all task executions and the existing API in executionDAO provides the count for current executions.

Please reopen if you still feel there is a need for a new API.

[2019-02-05 00:20] kishorebanala commented on #963
Hey @kishorekasi @smukil , can you help with this? We're wondering if this is related to Dynomite configuration.

[2019-02-05 00:35] kishorebanala commented on #670
@manudilipshah You can learn more about all the API's available with Swagger, which should be available out of box. Also there is limited documentation on how to use certain API's. Eg:
https://netflix.github.io/conductor/runtime/#rerun
And for retry, you just have to pass in workflowId in query params.

[2019-02-05 00:35] #670 closed

[2019-02-05 00:37] apanicker-nflx commented on #668
Currently, disabling use of elasticsearch completely is not allowed. However, you should be able to plugin other index engines instead of ES by implementing [IndexDAO](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/dao/IndexDAO.java) and plugging it in.

[2019-02-05 00:37] #668 closed

[2019-02-05 00:40] apanicker-nflx commented on #667
Closing this as we haven't been able to reproduce this issue. Please reopen if you still encounter this and provide workflow and task definitions for the same.

[2019-02-05 00:40] #667 closed

[2019-02-05 00:41] apanicker-nflx commented on #665
This would definitely be a nice-to-have. Please feel free to submit a PR with the formatting and PMD plugin changes.

[2019-02-05 00:42] apanicker-nflx commented on #664
Closing this issue since it looks to have been resolved.

[2019-02-05 00:42] #664 closed

[2019-02-05 00:43] kishorebanala commented on #863
@harshkumar1 I'm not sure I understood "there are no logs generated across server, dynomite & elastic search". I see a few failed requests, and everything else looks fine.
[code]
If you're looking for logs from all other service implementations you mentioned, consider running at least one successful workflow implementation.

Closing this issue as it has been a while. Please feel free to open anoth

[2019-02-05 00:43] #863 closed

[2019-02-05 00:49] apanicker-nflx commented on #663
It is not possible to claim a specific task from the queue.
From the example case, it seems like you would want your external processes to mint and orchestrate tasks among themselves, which removes the purpose of orchestration and scheduling done by conductor.

[2019-02-05 00:49] apanicker-nflx commented on #663
Closing this issue for now. Please reopen and provide more details about your use-case.

[2019-02-05 00:49] #663 closed

[2019-02-05 00:51] #889 closed

[2019-02-05 00:53] apanicker-nflx commented on #659
Hi @saidatta , as mentioned [here](https://github.com/Netflix/conductor/blob/master/client/src/main/java/com/netflix/conductor/client/task/WorkflowTaskCoordinator.java#L88), the number of task threads must be greater than or equal to the number of worker processes to avoid starvation.

If you have 500 unique tasks (i.e. 500 different task definitions), then you would need to have 500 different wor

[2019-02-05 00:53] #659 closed

[2019-02-05 00:54] kishorebanala commented on #880
Closing this as there is no activity for a while. Please open another issue if you still have concerns or questions.

[2019-02-05 00:54] #880 closed

[2019-02-05 00:58] apanicker-nflx commented on #649
Currently, we do not have a UI for creating worflows. It can only be done programmatically and/or using JSON and JSONPath.
Please feel free to submit a PR with an implementation and we would be happy to review and merge the same.

[2019-02-05 00:58] #649 closed

[2019-02-05 00:59] kishorebanala commented on #890
@DmytroPvl In `start_workflow`, `correlationId` is not evaluated. Only the jsonPath arguments passed into `input` will be evaluated. `correlationId` just copies it over verbatim. But, please feel free to update EventHandler to evaluate `correlationId` as well.

[2019-02-05 00:59] #890 closed

[2019-02-05 01:01] kishorebanala commented on #860
Please upgrade to the latest version of Conductor to resolve build issues.

Closing this as there is no activity for a while. Please open another issue if you still have concerns or questions.

[2019-02-05 01:01] #860 closed

[2019-02-05 01:02] apanicker-nflx commented on #611
@jvemugunta Thanks for the response.

@sudvarma You would still need to implement the execute() method and within this method, you can set the status of the task and also the output of the task.

[2019-02-05 01:02] #611 closed

[2019-02-05 01:08] kishorebanala commented on #580
This must have been resolved in https://github.com/Netflix/conductor/pull/864

Please open another issue if you still have concerns.

[2019-02-05 01:08] #580 closed

[2019-02-05 01:08] kishorebanala commented on #614
This must have been resolved in https://github.com/Netflix/conductor/pull/864

Please open another issue if you still have concerns.

[2019-02-05 01:08] #614 closed

[2019-02-05 01:39] josedab commented on #665
Awesome! Not currently working in the project but if I find some time, I will definitely do 👍

[2019-02-05 04:39] microsoftly opened #973 "Example config of conductor with Standalone Redis that requires authentication"
Can you please provide an example config on how to setup conductor with just one redis instance that requires auth? I cannot seem to get conductor up and running with persistence using our existing infrastructure which should be enough

[2019-02-05 12:48] emiteze opened #976 "Partial logs for HTTP request task"
We are using conductor in our company as orchestration engine and we need to adapt the current HTTP task to ommit request body and response body from logs (ES and application's log like log4j), if choosen by user (e.g: by input parameter).

This is good when you have big payloads in request or response and by not logging them you may have a slightly better performance, or when you have sensitive d

[2019-02-05 15:58] jmaganATS commented on #759
I have the same problem with this workflow:

![running fail1b](https://user-images.githubusercontent.com/47358625/52283471-cdee6f80-2962-11e9-8b69-01af49637444.jpg)

In addition, all these executions are identical, therefore, they should have the same value in "Failed Tasks" field ("task_2, task_3"), but it's random. It seems that the threads are overwriting the Status and Failed Tasks values.

![

[2019-02-05 18:57] anuccio1 opened #977 "Go client ConductorHttpClient methods not returning Error values"
Fix here: https://github.com/Netflix/conductor/pull/959

[2019-02-05 18:58] anuccio1 opened #978 "Go Client ConductorWorker Execute function not properly handling Error values"
non-nil error values returned should fail the Task. This was fixed in this PR:

https://github.com/Netflix/conductor/pull/974

[2019-02-05 19:09] apanicker-nflx commented on #978
@anuccio1 Thanks for the fix.

[2019-02-05 19:09] #978 closed

[2019-02-05 19:10] #977 closed

[2019-02-05 20:04] kishorebanala commented on #976
@emiteze Interesting. We always found logs helpful, particularly when Http task fails. Having logs in the UI helps users triangulate the issue quickly. However, if we can add some sort of filters to selectively remove certain fields from the request or response, that'd be great. @apanicker-nflx @cyzhao Thoughts?

[2019-02-05 22:18] jkaipa commented on #953
@cyzhao @kishorebanala
Can you plz review the PR https://github.com/Netflix/conductor/pull/979 ?

[2019-02-06 05:34] kishorekasi commented on #963
@kishorebanala Hard to say from the above configuration. I am not aware of how _workflow.dynomite.cluster.hosts=redishostin.aws.com:6379:ap-southeast-1a;_ is used by conductor when there are multiple cluster hosts in this config. Also, more details are needed on how dynomite cluster is configured to run on ec2 instances along with how token map is supplied for this cluster.

[2019-02-06 20:26] kishorebanala commented on #814
@unikzforce It's been a while, but this looks good to me. Please send a PR if you're still interested. Also, please make sure to rebase with latest Docker set-up. Thank you.

[2019-02-06 20:28] kishorebanala commented on #775
@panthony Thanks for pointing this out. We'll update base_url to avail search functionality.