[2016-12-20 16:25] jcantosz opened #8 "Stuck on gradle build/local server"
Hi,

I am attempting to install/test the conductor, however when I run the `../gradlew server` command building does not advance beyond 96% (`"Building 96% > :conductor-test-harness:server"`). Any guidance would be appreciated.

**Installation Steps**
1. Created Ubuntu 14.04 server
2. Installed DynomiteDB (http://www.dynomitedb.com/docs/dynomite/v0.5.8/quick-start-ubuntu/)
3. Installed java + jett

[2016-12-20 16:34] v1r3n commented on #8
```server``` task starts the jetty container on port 8080 and will continue running until you terminate using ```Ctrl+c``` or kill the process.  Once you see the following line in the logs you should be good to go.
```Started server on http://localhost:8080/```

You can access the swagger UI at the following URL:
http://localhost:8080/swagger-ui/

[2016-12-20 16:59] jcantosz commented on #8
Thanks for the quick response! I am able to see the swagger UI (I seem to have a CORS issue to resolve). I was assuming this would bring up the server for the UI as well (http://localhost:3000/) which I am not seeing.

Is there a reason the building does not progress beyond 96%?

[2016-12-20 18:59] blueelephants opened #9 "Running test-workflow from test-harness"
I could compile conductor with gradle and also could start "main_workflow" with the Swagger UI.

I also could change the state of task_1 to "in progress" and "complete" but have problems to start dyn-task_2 ... not sure what API calls I need to start task_2 to feed parameter "taskToExecute".

Is there a way to execute the tasks of "main_workflow" task-after-task and see the API call interactions

[2016-12-20 21:02] v1r3n commented on #8
UI runs as a separate process using node server.
You want to follow the steps under "Start UI Server" section on getting started page.

The build never completes, because the way gradle works, it starts the server task, and will not mark it as complete until the server task completes (which is when you terminate the server).

[2016-12-21 04:29] #8 closed

[2016-12-21 04:32] v1r3n commented on #9
Hi,

Here is the snippet for the second dynamic task in the main workflow:
[code]
The *taskToExecute* comes as workflow input - so when you start the workflow pass the following input if you want the task_2 to be say "task_3":

[code]
Conductor will use the input as the name of the task and schedule task_3.

[2016-12-22 15:50] blueelephants commented on #9
Thanks for your help - it now works.

I have some other questions where I would like to ask you for some more help & information.

What is the typical "API call interaction" when running a workflow?

What I have figured out so far is this

1. Start a new workflow using /workflow/{name}.
    Then conductor puts the first task (task_1) into the task queue with status "SCHEDULED"
2. Worker 1 microser

[2016-12-22 17:19] v1r3n commented on #9
The state machine you described is correct.  I will publish the state machine diagram on the documentation soon.

To answer your questions in the order:

1. Worker Id is an informational identifier, we use it with hostname to identify the host on which the worker was running.  That helps in troubleshooting issues when worker fails a task.
2. Once the task is polled, it needs to be acknowledged by

[2016-12-23 07:47] blueelephants commented on #9
Thanks a lot. I am looking forward to taking a look at the state machine.

[2016-12-23 07:47] #9 closed

[2016-12-23 09:19] blueelephants opened #13 "How to run & configure Conductor binaries from Maven Central"
After successfully testing the test-harness setup according to the "getting started" guide, I wanted to try the jars from Maven Central.

However, I cannot really figure out
- which jar is the "main" jar to run in e.g. Tomcat
- where/how I can configure various settings (e.g. related to Dynomite, connection to ElasticSearch, etc)
- how to e.g. change the port from the UI and configure its connecti

[2016-12-23 09:20] blueelephants opened #14 "Conductor using Docker"
Is there any Docker image available for Conductor (or at least are there plans for it)?
Searching on hub.docker.com didn't show me any results.

Thanks a lot.

[2016-12-23 09:21] blueelephants opened #15 "Conductor and Eureka"
Is there support to register the Conductor backend service with Eureka?
Is there also support for multiple running Conductor backend service instances to build a high available cluster?

It would nice so that workers can discover Conductor instances via Eureka and do load-balancing.

At least in the client code, I could find some hint conc. usage of a Eureka Client here:

`client/src/main/java/com

[2016-12-23 09:22] blueelephants opened #16 "Passing Sensitive Information from a Workflow to a Worker"
I am having a generic worker program "`GetFileFromAnyFTPServer`" which I simply pass some parameters (FTP host, username, password, directory, filename) and it downloads the file from this server.

I created a workflow with some inputParameters to be able to pass username/password like this:

[code]

The problem is, that the UI as well as the REST endpoints (e.g. /workflow/{workflowId} ), now show

[2016-12-23 09:22] blueelephants opened #17 "Securing HTTP REST Endpoints"
Currently, it seems to no authentication/token/etc. is needed to access the REST endpoints.

So, basically
- "every evil" person could create/update/start workflow definitions
- "every evil" worker program could poll for tasks via /tasks/poll/{tasktype} and prevent workflow execution.
- etc.

Are there currently any features available to secure (some kind of authentication and authorization) the e

[2016-12-23 09:23] blueelephants opened #18 "UI authentication"
Currently, the UI doesn't seem to support any user authentication - so everybody could terminate or pause a running workflow.

Are there any configurations available to provide e.g. user authentication?

Thanks a lot.

[2016-12-23 13:48] jcantosz opened #19 "Admin Configuration"
In the swagger docs there is an Admin section which allows GET on `/admin/config`. What admin configurations are supported, and can these be set/updated when the server is running?

Thanks!

[2016-12-26 15:00] asafm opened #20 "Comparison with AirFlow"
Hi,

After extensive reading it seems AirFlow only lacking feature is back pressure: the ability for a micro service to poll for tasks as opposed to submitting via rest.
Other than that AirFlow seems like a superset of Conductor - am I missing something?

[2016-12-27 21:10] jcantosz commented on #14
Hey @blueelephants, I made a docker image that runs the server from the getting started guide. The github project is here: [https://github.com/jcantosz/netflixConductor-Docker](https://github.com/jcantosz/netflixConductor-Docker). The docker hub project is here: [https://hub.docker.com/r/jcantosz/netflix-conductor-sample/](https://hub.docker.com/r/jcantosz/netflix-conductor-sample/). That might gi

[2016-12-28 03:37] soup11 opened #21 "build problem"
when I build the conductor project according to the Getting-Start shows on windows 7, it failed.
the 5 errors list as follows:
1.Unable to determine the host name on this Windows instance      ---the first error
......
2.Publication nebula not found in project :.                                       ---the second error
[buildinfo] Not using buildInfo properties file for this build.
Publication na

[2016-12-28 04:47] v1r3n commented on #21
*  We have tested builds on Linux and MacOS.  Not tested on Windows 7, looking at the errors, it seems it is related to the path issue for windows (/E:/conduct_v1/conductor/test-harness/build/resources/test/es_template.json).
*  test-harness builds runs conductor without Dynomite and in-memory db.  You can look at the dependencies for test-harness and [Main.java](https://github.com/Netflix/conduct

[2016-12-28 05:34] #21 closed

[2016-12-29 13:55] v1r3n commented on #14
@jcantosz the docker configuration can be a good addition to the project.  Feel free to submit a PR and we can publish a docker image for each release.

[2016-12-29 13:58] v1r3n commented on #16
The worker and server communication is done over the REST endpoints.
You can configure your tomcat/servlet engine to use HTTPS and use the HTTPS endpoint for the workers to communicate with the server.

[2016-12-29 14:01] v1r3n commented on #13
* Conductor publishes all the artifacts as jar files into maven central.
* You can create a simple web application using Jersey and Guice that should allow you to expose the REST endpoints from ```conductor-jersey``` module.
* The web application can be deployed in any container (tomcat or jetty).  To run it in embedded mode (without a dedicated app server) look at the [Main.java](https://github.c

[2016-12-29 14:07] v1r3n commented on #17
Conductor endpoints can be secured by the container on which it is deployed.  Depending upon the app server you can use the container specific security mechanism to secure the endpoints.

[2016-12-29 14:09] v1r3n commented on #18
We have plans to integrate with passport.js to authentication.  Currently, UI doe not do any authentication, but if fronted by apache, can achieve the same by configuring either apache to authenticate each request.

[2016-12-30 14:09] jcantosz commented on #14
Hey @v1r3n, I've created a PR for the dockerfile I created (getting started guide code). If you create an official netfilxoss version of the image I would like to link it from the readme (instead of my docker hub repo)

[2017-01-04 12:44] blueelephants commented on #14
@jcantosz: Many thanks for the Docker image - I will give it a try asap.

[2017-01-04 12:50] blueelephants commented on #18
Many thansk for clarification - I am looking for passport.js integration.

[2017-01-04 12:50] #18 closed

[2017-01-04 13:02] blueelephants commented on #16
Thanks for your comments.

Using HTTPS would surely help to establish a secure connection between the server and the workers.

But when I use inputParameters to pass on usernames/password, I can see those inputParameters in cleartext in the WebUI - which is not that nice (as everybody with access to the WebUI could see the passwords).

Is there any way to work around this issue in the WebUI?
Maybe

[2017-01-04 13:03] blueelephants commented on #17
Great - thanks for clarification.

[2017-01-04 13:03] #17 closed

[2017-01-04 13:04] blueelephants commented on #13
Thanks for clarification!

[2017-01-04 15:07] blueelephants commented on #14
@jcantosz: Just a question conc. startup.sh

What was your intention to put the installation of the node.js packages (command: `npm install`) into startup.sh and run it via ENTRYPOINT everytime you start a container?

Or to say it differently, why not adding this command to Dockerfile using "RUN" so that the command gets run only once when creating/refreshing the Docker image with the `docker buil

[2017-01-04 17:14] blueelephants commented on #13
Thanks again for your comments.

After digging deeper into the test-harness code, I am still having some questions where I would like to ask you for further help.

The test-harness code is very good to quickly try Conductor as everything is mocked/embedded (ElasticSearch, Dyno-Queues, etc.)

I am now working on two things

(a) Short-term:
  - Creating a single web app with Conductor Server (and al

[2017-01-04 18:04] v1r3n commented on #14
@jcantosz thanks for the PR.  Let me go through it.

[2017-01-05 11:22] blueelephants opened #23 "Purpose of Elasticsearch as indexing backend"
Just for better understanding...

What exactly is the purpose of the Elasticsearch backend?
Is the content written to Elasticsearch in any way read again and reused by Conductor Server and its state-machine?

Or are all state-machine activities handled soleley via Dynomite? That would mean that Elasticsearch is kind of a "logging archive" for admins?

Thanks for clarification.

[2017-01-05 16:25] v1r3n commented on #23
Elasticsearch is used to log all the workflow executions and task executions.  The main purpose is to be able to search for executions with specific string/payload details.  e.g. find all the workflows that were executed with a specific payload as input/output.

Elasticsearch is used only for the search, state machine activities are handled completely by Dynomite.

[2017-01-05 22:08] v1r3n commented on #20
I have not done a detailed comparison with AirFlow, but at high level they seem similar.  One key difference I can see is that AirFlow will take your python scripts and execute them for you.  Conductor does not execute user supplied tasks, but rather leaves that to application owners to handle it.

[2017-01-05 22:08] v1r3n commented on #19
The current config is read only and mainly used for debugging.  We can think about exposing write methods that will allow for greater control in future though.

[2017-01-05 22:10] v1r3n commented on #16
Having parameters classified as "sensitive" could be a solution to this.  There is no current workaround, but I would think if there are sensitive parameters, you might want to pass around them in encrypted fashion and let the worker decrypt and it use it.  This way, they are protected on the wire, in the workflow's execution store and UI.  Only the Worker who is able to interpret them will be abl

[2017-01-05 22:12] v1r3n commented on #15
WorkflowTaskCoordinator currently utilizes Eureka to check the instance status and stops polling when not active.

For the Conductor services - the Eureka registration is left up to the deployment model (at the moment) as the only artifacts we publish are Jar files which still needs to be packed into a war file or executable.

[2017-01-05 22:21] v1r3n commented on #13
It seems like you are looking for a deployable server component.  test-harness does "mock" the components and is meant only for a demo purpose, it is not meant to be deployed to production.

Here are my thoughts:

* Having a server component with required dependencies (maybe published as zip/tarball and an executable like start-conductor.sh) is a good idea and probably a way to go.
* I would embed

[2017-01-05 22:56] v1r3n commented on #14
@jcantosz how about bundling Dynomite and Elasticsearch along with the installation?
This will allow for someone to run a fully persisted version of Conductor using a docker image.

[2017-01-05 23:03] v1r3n opened #24 "Support JSONPath based expressions"
Allow the task inputs to be configured using JSONPath based expressions.
This will allow for much better control over the data flow across different tasks.

[2017-01-05 23:05] v1r3n opened #25 "Task Logger Framework"
Provide a framework for tasks to log execution context and additional information.
The feature can be used for task workers to log details of task failures (e.g. stack trace) or execution logs.

The data is stored in a persisted store and is made viewable from the UI.  The data is purely informational and will not be passed around the tasks.

[2017-01-05 23:08] v1r3n opened #26 "Automatic trigger of a workflow based an event"
Allow workflow execution to be triggered based on the following events:

* Completion of a workflow
* Completion of a task in a specific workflow

[2017-01-06 13:01] jcantosz opened #27 "Unifying Accept/Content-Type headers"
I would like to construct all messages to and parse all messages from the conductor in the same fashion. Can we make all `Accept` and `Content-Type` headers accept `application/json`? Some responses are of type `text/plain` which means I must do extra work (or have a good memory) to create my microservices

[2017-01-06 13:15] jcantosz commented on #14
@blueelephants There are a few reasons I did this on startup:

1. licensing - I did not want to search for each package and determine if I was allowed to repackage and redistribute their code.
2. package version - This method allows npm packages to be up to date.
3. image size - I did not check how much additional size this would add to the image.
I agree with you, requiring each user to re-downlo

[2017-01-09 08:31] suxiaoyuv opened #28 "How do someone know if a workflow is completed, and get the output?"
I have two questions

1. how to save workflows definition and tasks definition and history? now when server restart, it will be clean.
2. how do workers know if a workflow is completed?  poll all workflow status or make a end task to poll end task or others, which one do you recommend usage?

thanks!

[2017-01-09 16:25] v1r3n commented on #28
* I am guessing you are referring to the test-harness server, which is purely in memory and meant for a quick demo.  It does not save any history.  You will need a backend Dynomite server for it to preserve the history.  We are working on a self contained server with a single node Dynomite image that can be used for such purpose.  Keep watching this space.
* Workers need not know anything about th

[2017-01-09 16:26] v1r3n commented on #27
Good suggestions.  However, if you are using REST client libraries like Spring or Jersey, they take care of it automatically - without additional work required.

[2017-01-09 16:43] blueelephants commented on #23
Many thanks for clarification

[2017-01-09 16:43] #23 closed

[2017-01-09 16:45] blueelephants commented on #16
Yes, that's a nice way to go. Thanks for pointing out this proposal.

[2017-01-09 16:45] #16 closed

[2017-01-09 16:46] #15 closed

[2017-01-09 19:07] v1r3n opened #29 "Create a server module for launching conductor HTTP server"

[2017-01-09 19:07] v1r3n commented on #13
I have created https://github.com/Netflix/conductor/issues/29 to track this and will get it addressed in the upcoming release.

[2017-01-09 22:37] v1r3n commented on #14
@jcantosz I am trying to come up with a server module that can be put into a docker image.
Agree on the points for elasticsearch, however it is open source under apache 2.0 license, and I am assuming there are pre-built docker images available for it.

For Dynomite, adding @shailesh33 and @ipapapa for suggestions.

[2017-01-10 03:15] suxiaoyuv commented on #28
ok, thanks Viren!
I get it, workers need not know anything about the workflow status. when a workflow convert to completed, it must be start another workflow or task to call some one want to know this status change.

[2017-01-10 03:16] #28 closed

[2017-01-10 10:45] blueelephants commented on #13
Perfect, many thanks

[2017-01-10 10:45] #13 closed

[2017-01-10 20:34] blueelephants commented on #14
Just another question for better understanding.

The Dockerfile from @jcantosz includes commands to install Tomcat within the Docker image:

<pre>
...
# Install Tomcat
&& groupadd tomcat \
&& useradd -s /bin/false -g tomcat -d /opt/tomcat tomcat \
...
</pre>

The startup.sh script  compiles the "test-harness" code via gradle:
`
/gradlew server &
`

Within [Main.java](https://github.com/Netflix/con

[2017-01-10 22:32] ipapapa commented on #14
Had a brief discussion with @v1r3n about it. My proposal would be to have separate images for `conductor` and the data layers (Dynomite and ES). For example, you can build a self-contained Dynomite image based on the following: https://github.com/Netflix/dynomite/blob/dev/docker/HOWTO.md

That would make the scalability and deployment lifecycle of each layer independent --> microservices :)

[2017-01-11 01:53] v1r3n commented on #14
As @ipapapa suggested, we should separate out docker images for app (Conductor) and storage (Dynomite) and Elasticsearch.

test-harness is meant only for a quick demonstration purpose of Conductor, so I would not recommend bundling it in a docker image for production use.   I have created a task https://github.com/Netflix/conductor/issues/29 to create a server module which can be used in a Docker

[2017-01-11 04:47] #27 closed

[2017-01-11 14:21] jcantosz commented on #14
Hey @blueelephants you are exactly correct. I made that change in the pull request, but did not update my repo. Thanks for catching that, I'll go back and make that update.

@ipapapa I agree with you completely. That and a docker compose would be very valuable.

@v1r3n Great, thanks! Agreed on the test-harness, it was the easiest path to create an image (thus the notes on data persistence). If the

[2017-01-11 18:31] blueelephants opened #30 "Starting a dynamic number of tasks based on output of a previous task"
Some other question, where I would like to ask you for some advice.

I would like to achieve the following in a workflow:

Task A is the first microservice task in the workflow and finally generates a list of files - e.g.
- /opt/folder1/file01.jpg
- /opt/folder2/file02.jpg
- /opt/folder1/file03.jpg
- ..
- /opt/folderX/fileN.jpg

I have another microservice "jpg-extractor" which you pass a filename

[2017-01-11 18:34] blueelephants opened #31 "High Availability Configuration of Conductor Server"
Is Condcutor possible (or are there plans) to run in a HA configuration - i.e. multiple Conductor Servers are running and using the same Dynamite/DynoQueues backend?

Many thanks for your advice.

[2017-01-11 21:34] v1r3n commented on #31
Yes, we do actually run it that way.  Conductor servers can scale up by adding more servers and sharing the same instance of Dynomite.

[2017-01-12 05:25] suxiaoyuv opened #32 "How to use the default persistence with Dynomite?"
Is the test-hardness with some simple config to use dynomite for persistance?

thanks!

[2017-01-12 16:31] #20 closed

[2017-01-13 06:04] v1r3n commented on #32
I am working on a server module that can be used for this.  Stay tuned.

[2017-01-13 07:55] blueelephants commented on #31
Thanks for clarification

[2017-01-13 07:55] #31 closed

[2017-01-13 08:03] blueelephants opened #33 "Worker Polling Intervals Guidance"
I know "it depends" but can you share some "real-world-experience" how often worker microservices should poll for new tasks via GET /tasks/poll/{tasktype} at Conductor server?

What would be a guidance? Should it be every second or each 5 seconds, etc.?

Or to say it differently:
- Are there any performance numbers available how many request a conductor server of a specific hardware can handle (be

[2017-01-14 19:41] v1r3n commented on #33
Polling interval should be set at less than a second, the poll API also supports long polling, which means, it can wait for set amount of time if no element is available in the task's queue before returning empty response.  So I would use it in conjunction to set a very low polling interval (~100-500 millisecond) and long poll timeout to say 1 second.  This combination works most effective as if t

[2017-01-14 19:43] v1r3n commented on #32
Check out the server module and its[documentation here:
https://netflix.github.io/conductor/server/

The server module and its config is still under the RC version, so I will not consider them production ready.

[2017-01-14 19:44] v1r3n commented on #30
You can achieve this using Dynamic Fork Tasks.
Find the details here:

https://netflix.github.io/conductor/metadata/systask/#dynamic-fork

[2017-01-14 19:44] #19 closed

[2017-01-14 19:48] v1r3n commented on #14
@jcantosz I have created a server module and details on how to configure it and use it.

https://netflix.github.io/conductor/server/

It uses an embedded Jetty container for the server - you might want to update your Dockerfile with this instead of test-harness.

Server module is evolving, as I think it needs more fine grain controls (thread pool size etc.) for production readiness, feel free to s

[2017-01-15 08:28] blueelephants commented on #33
Thanks for sharing your experience!

[2017-01-15 08:28] #33 closed

[2017-01-15 16:51] mashurex opened #35 "Q: What is the 'best' approach for conditional Task loop in a WorkflowDef?"
Scenario:
If task Y matches a certain criteria I want to rerun a series of Workflow Tasks from previous step X.
`task_1`: Some type of task that doesn't need to be re-run
`task_2`:Input that influences the proceeding decision
`task_3`: Run processes on` task_2` output that will calculate success/failure status.
`decion_task`: `task_3.output.success == true`, move to `task_4` else go back to `task_

[2017-01-16 02:09] suxiaoyuv commented on #32
Many thanks!

[2017-01-16 02:09] #32 closed

[2017-01-16 20:09] v1r3n commented on #35
Conductor does not support an explicit ```do ... while``` loop as yet.  However, it is possible to execute a task multiple times.   Upon execution of a task by worker, it can return back with either of the three statuses:

1. COMPLETED
2. FAILED
3. IN_PROGRESS

When the task is marked as IN_PROGRESS it is put back in the queue and delivered to the worker again.  However, the worker can set ```call

[2017-01-16 21:32] jcantosz commented on #14
@v1r3n: Thanks for the update! I'll begin looking at a compose for conductor/dynomite/elastic. I'm looking at the config for dynomite and I'm not sure how the dynamic cluster information will work with this.
It looks like @ipapapa created this [Dockerfile](https://github.com/Netflix/dynomite/tree/dev/docker) that uses this [config yml](https://github.com/Netflix/dynomite/blob/dev/conf/redis_single

[2017-01-17 02:48] ipapapa commented on #14
@jcantosz I do not think I have added it to the NetflixOSS docker hub. You can find it here the [dynomitedocker](https://hub.docker.com/r/ipapapa/dynomitedocker/). The above properties that you mention are set at the application/Dyno level, not at the Dynomite level.

[2017-01-17 03:18] mashurex commented on #35
Thanks for the reply @v1r3n. I assumed this was the case but I just wanted to make sure that I wasn't missing something. I've basically done as you said by making a subWorkflow out of `task_2` and `task_3` so that it's easier to go back and restart. I might even create a `rollback` task or something like that that would delete the tasks between itself and it's target task to effectively reset the

[2017-01-17 03:45] v1r3n commented on #35
on the historical records, we have this feature that I plan to handle next.  https://github.com/Netflix/conductor/issues/25
Essentially, the idea is to be able to allow tasks to store extended data including history of each execution attempt in a separate store (separate as to avoid overloading the IO during workflow evaluation and potentially be able to store really large amount of data)

[2017-01-17 12:50] tkochanek opened #36 "Error starting conductor on Windows"
Starting server in-memory as described on https://netflix.github.io/conductor/intro/
../gradlew server

Returns such error
18454 [main] INFO  org.eclipse.jetty.server.Server  - Started @27718ms
Started server on http://localhost:8080/
Creating kitchensink workflow
18876 [main] ERROR com.netflix.conductor.server.ConductorServer  - Illegal char <:> at index 2: /D:/programy/conductor2/conductor/serve

[2017-01-17 15:12] jcantosz commented on #14
@ipapapa Thanks for the information. So to do this compose correctly, it sounds like I would need to create a java project for dyno, publish the jar, run it in a docker file, and use that to connect to dynomite. This would expose this functionality to the conductor? Is that correct?

@v1r3n I think for now I will look into the pure redis implementation instead of dynomite. Can you point me to the

[2017-01-17 16:25] v1r3n commented on #14
@jcantosz re: the dyno project - you do not need that.  Conductor already does that.  To use dynomite, you just need the host and port for the dynomite servers and provide it to Conductor server config and it would take care of connections.

re: pure redis, here are the two configs you need:

[code]

[2017-01-17 16:25] #35 closed

[2017-01-17 18:27] jcantosz commented on #14
@v1r3n That is a relief, thanks for letting me know!
I have a compose that pulls up the conductor with the in-memory DB and elasticsearch, I will begin converting it use dynomite or redis. I will create a new PR when that is done

[2017-01-17 19:36] v1r3n commented on #14
@jcantosz we can use a docker image for dynomite.  However, not sure how you can specify the networking details like host/ip addresses of the images in a compose.  If we can then it should be easy to create a docker compose with conductor, dynomite and elasticsearch.

[2017-01-17 21:27] #24 closed

[2017-01-17 21:27] v1r3n commented on #24
[1.6.0](https://github.com/Netflix/conductor/releases/tag/v1.6.0) provides this feature now.

[2017-01-17 22:50] jcantosz commented on #14
@v1r3n The docker compose exposes the ports. The services' name in the docker-compose should set the image hostname.

Please take a look at PR #37. The compose appears to work, UI pulls up on localhost:3000, and I was able to pull up swagger on 8080. I do not have much experience with dynomite or elastic, so I was hoping you could verify that they are being utilized by the conductor as intended.

[2017-01-18 06:09] v1r3n commented on #36
@tkochanek can you give it a try again with the latest source from dev branch?

[2017-01-18 11:15] suxiaoyuv opened #38 "error start with db=dynomite"
Many thanks!

1. I start a dynomite use docker
[code]

2. With the server.properties i copy from the document like this
[code]

3. change the build.gradle add args
[code]

4. start server use ` ../gradlew server `

then throw exception
[code]

[2017-01-18 11:20] suxiaoyuv commented on #38
it must be delete default property set in `build.gradle`
[code]

[code]

[2017-01-18 11:27] suxiaoyuv commented on #38
but it still has the error with call api
[code]

[2017-01-19 04:01] v1r3n commented on #38
@suxiaoyuv Try with the ```v1r3n/dynomite``` docker image and config file from [here](https://github.com/Netflix/conductor/blob/dev/docker/tmp/config.properties).

We have also recently created a docker compose for Conductor, which relies on the tested containers.  You can find the instructions here:

https://github.com/Netflix/conductor/tree/dev/docker

[2017-01-19 04:04] v1r3n commented on #14
@blueelephants we just added a docker compose with images for dynomite, conductor and elasticearch.  Give it a go.  Instructions here:

https://github.com/Netflix/conductor/tree/dev/docker

I am working on getting official Netflix OSS conductor image published to docker hub in the meantime.

[2017-01-19 04:05] v1r3n commented on #29
Released in 1.6.0.

[2017-01-19 04:05] #29 closed

[2017-01-19 04:12] suxiaoyuv commented on #38
ok  thanks! I will try it.

[2017-01-19 04:17] suxiaoyuv commented on #38
@v1r3n I have some questions for develop, which one IDE do you use for java develop? thanks~
I use IntelliJ IDEA the Java IDE - JetBrains.

[2017-01-19 04:24] v1r3n commented on #38
We have a team with individuals using both IntelliJ IDEA and Eclipse.  A lot of UI development is also done using Atom.

[2017-01-19 05:45] suxiaoyuv commented on #38
Many thanks!

[2017-01-19 15:39] jcantosz opened #39 "Separate docker images for UI/backend"
It would be useful to create separate docker images for the UI and for the backend. This would allow for custom UI implementation without modifying the server image. The can be tagged something like: conductor:ui and conductor:server. A third tag for the combined image could also be added (and may be the default for conductor:latest)

[2017-01-19 15:43] jcantosz commented on #39
Will begin work, and track item here.
Structure for changes will be as follows:
  /docker/UI -folder which will house docker node frontend
  /docker/server - folder which will house conductor server dockerfile
  /docker/serverAndUI - folder which will house the current image (server and ui in one)
Compose will be converted to use the two images to allow users more control.

[2017-01-19 16:00] jcantosz opened #40 "Update server-all jar name"
The docs, here: [https://netflix.github.io/conductor/server/](https://netflix.github.io/conductor/server/) show that the conductor-server-all jar should be named as such: ```java -jar conductor-server-all-VERSION.jar```

The gradle build creates the following jar:
```.//server/build/libs/conductor-server-1.6.0-SNAPSHOT-all.jar```

I would like it to be renamed as shown in the docs (*all* before ve

[2017-01-19 18:23] blueelephants commented on #39
Very good idea -  so in conjunction with the Dynomite image of @ipapapa (https://github.com/Netflix/dynomite/blob/dev/docker/Dockerfile) and the official ElasticSearch image, the solution could be completely scaled out using a bunch of Docker containers

[2017-01-20 17:09] blueelephants opened #41 "Metadata Management - Deleting an existing Workflow"
In the swagger UI, I can find a way to delete task-definitions.

However, I cannot find a way to delete an existing workflow.

Is there no way currently to delete an existing workflow?

I tried to construct something like this, but without success:
<pre>
curl -X DELETE --header 'Accept: application/json' 'http://my_host:my_port/api/metadata/workflow/main_workflow'
</pre>

[2017-01-20 18:42] v1r3n commented on #41
We haven't exposed API for deleting workflows yet.  The reason being that, it could cause issues with running workflows and makes it harder to visualize the previously completed flows.

The idea is to be able to do that, but with a soft delete.

[2017-01-20 18:42] #38 closed

[2017-01-21 16:51] blueelephants commented on #41
Thanks for clarification - a soft delete would be great.

[2017-01-21 16:51] #41 closed

[2017-01-21 17:08] blueelephants commented on #14
@v1r3n many thanks for the Docker images - I tried them and I can provide some feedback.
My test was on my development machine:
- Ubuntu 16.10
- Docker 1.13.0, build 49bf474

First I ran into one of those "beginner's" problems when starting ElasticSearch via docker-compose
<pre>
ERROR: bootstrap checks failed
max virtual memory areas vm.max_map_count [65530] is too low, increase to at least [26214

[2017-01-23 13:59] blueelephants commented on #30
I have some problems getting a "hello-world" example running with dynamic tasks and would like to ask you for some help.

I have the following "hello-world" workflow:
(1) **hello-world-frontend** microservice task should generate a dynamic list of files
(2) For each file, a task should be queued to process each file via a **hello-world-backend** microservice

My workflow definition is this:
wf_hel

[2017-01-23 16:20] jcantosz opened #43 "Separated UI not connecting to API"
I have a docker-compose that has the UI in a different container than the API:
[https://github.com/jcantosz/conductor/blob/docker-split/docker/docker-compose.yaml](https://github.com/jcantosz/conductor/blob/docker-split/docker/docker-compose.yaml). I can reach my UI at localhost:3000 and the API at localhost:8080

My UI instance pulls up but does not display any tasks or workflows. I believe I hav

[2017-01-23 19:54] v1r3n commented on #40
Updated the documentation.

[2017-01-23 19:54] #40 closed

[2017-01-23 19:56] #36 closed

[2017-01-24 03:03] v1r3n commented on #14
@blueelephants the error you are seeing with ES is due to the version mismatch.  We built Conductor using 2.x version of ES and default docker image for Elasticsearch uses 5.x causing the errors.  Let me update the docker-compose to fix this.

[2017-01-24 03:33] v1r3n commented on #43
@jcantosz take a look at the updated docker file and docker-compose.  I have made some changes and was able to get it working on docker-compose.

[2017-01-24 04:05] v1r3n commented on #30
@blueelephants the issue is with the following:

[code]

Conductor server expects it to be JSON objects, however as you can see - the client will end up sending these as STRING values.  If you are using Java client, you should change this to the following:

[code]

I was able to run your dynamic fork join workflow with this.

[2017-01-24 07:50] blueelephants commented on #30
Thanks for your help - it works perfectly fine now.

[2017-01-24 07:50] #30 closed

[2017-01-24 21:24] oddperfect opened #44 "Examples in documentation for HttpTask's headers parameter does not match code and will throw exception if used"
Documentation for HttpTask shows for headers to use:
[code]
Declaration for headers in HttpTask.Input class in 'HttpTask.java' is:
`private Map<String, Object> headers = new HashMap<>();`

If you use the documented examples, the Jackson conversion to HttpTask.Input on line 102 throws an IllegalArgumentException. Documentation should be (notice the curly brackets):
[code]

[2017-01-24 23:19] jcantosz commented on #43
Thanks @v1r3n I will take a look at that and roll it into my changes. Hopefully that fixes the issue.

[2017-01-25 16:44] jcantosz commented on #43
Those changes allowed my docker-compose restructuring to work!

[2017-01-25 16:44] #43 closed

[2017-01-25 16:46] jcantosz commented on #39
Made changes suggested in issue #43.
Opened PR #45 for these changes.

[2017-01-26 19:42] jcantosz commented on #39
Changes merged

[2017-01-26 19:42] #39 closed

[2017-01-27 00:58] ajayaks opened #48 "info required"
Hi,

Would you please suggest some examples or links for below:-

1. Calling remote application or service on other machine. Please suggest whats required on conductor side and whats required for that service on remote machine?
2. Want to register conductor under eureka server and other micro services.
3. Want to change from jetty server to tomcat.

please suggest.

Regards
Ajay

[2017-01-29 10:06] ajayaks opened #51 ""TypeError: Cannot read property &#39;forEach&#39;"
Hi,

Getting below error when calling workflow having http task. I have defined below in the input parameter as below.

"inputParameters": {
        "http_request": {
          "uri": "http://localhost:8880/apis/testNames",
          "method": "GET",
          "accept": "application/json;charset=UTF-8"
        }
      }

500 - Internal Server Error
"TypeError: Cannot read property &#39;forEach&#39

[2017-01-29 12:29] ajayaks commented on #51
Dont know the purpose but i have fixed the issue locally and its working.
Please let me know if its a valid issue.

For me it was showing "schemaVersion": 0, and as per logic it was using getTaskInputV1(...).
I have used getTaskInputV2() and its working after that.

[2017-01-29 15:53] hxqtohxq opened #52 "how do i inject value of workflow into system"
"inputParameters": {
        "mod": "workflow.input.mod",
        "oddEven": "workflow.input.oddEven"
      },

where can i set the value of 'workflow.input.mod'

[2017-01-29 15:53] #52 closed

[2017-01-29 15:53] hxqtohxq commented on #52
String workflowId = wc.startWorkflow(def.getName(), null, correlationId, new HashMap<>());
i found it in here

[2017-01-30 12:22] virursingh opened #53 "Example of update of task status by remote agents (task executors)"
Hi,

I am looking for examples of how the task status is updated by remote executors.
I tried the task management APIs (POST on /api/tasks) but it did not work.
Some examples in the Doc would be useful to the users.

Thanks,

-Viru.

[2017-01-31 02:32] v1r3n commented on #53
Here is a sample JSON:

[code]

[2017-01-31 02:34] v1r3n commented on #51
Closing for now - we will add a validation to ensure the schemaVersion is set to a valid value.

[2017-01-31 02:34] #51 closed

[2017-01-31 02:34] v1r3n opened #54 "Validate schema version"
when registering the workflow definition, the schema version should be a valid value (1 or 2).

[2017-01-31 05:15] virursingh commented on #53
Hi,

Appreciate the response.
I tried it already but the task status did not get changed (from
IN_PROGRESS to COMPLETED).

The .../api/task/'task-id' output does not change.

What is the role of "workerId" parameter here? Does it need to be present
in the system?

Thanks,

-Viru.

On Tue, Jan 31, 2017 at 8:02 AM, Viren Baraiya <notifications@github.com>
wrote:

[2017-01-31 05:45] virursingh commented on #53
let me add some details as well to make sure if I am using the right APIs.

Here are the task details:

bash-3.2$ curl -X GET --header 'Accept: application/json' '
http://localhost:8080/api/tasks/0656166e-8f88-4e51-8d9b-0e4a31228be3'
{"workflowInstanceId":"555a7bb3-4198-4a93-9cb1-19e13a5b4b54","taskId":"0656166e-8f88-4e51-8d9b-0e4a31228be3","callbackAfterSeconds":0,"status":"IN_PROGRESS","taskType

[2017-02-01 19:22] v1r3n commented on #48
Hi Ajay,

1. Conductor provides a task type called HTTP, that can be used to make HTTP calls to remote service and store the results of the remote service.  Take a look at the [kitchensink](https://netflix.github.io/conductor/metadata/kitchensink/) example and look for a task named ```search_elasticsearch```.
2. Check the [eureka](https://github.com/Netflix/eureka) documentation on how to register

[2017-02-01 19:22] v1r3n commented on #53
Use the following JSON (note the change from taskStatus to status in the field).

[code]

[2017-02-02 04:56] virursingh commented on #53
Hi Viren,

Appreciate the response. I realized the problem was 'Accept: text/plain' in
the curl call.
After I replaced it with 'Accept: application/json' it worked fine.
Unfortunately the call
was failing silently (scope for error message here).

Thanks,

-Viru.

On Thu, Feb 2, 2017 at 12:52 AM, Viren Baraiya <notifications@github.com>
wrote:

[2017-02-02 05:44] #53 closed

[2017-02-02 22:19] ajayaks opened #56 "not reading eureka client properties file"
Hi ,

I am have done changes in conductor to make it work like a eureka client.

I am using conductor-eureka-client.properties having info about the eureka server and other properties.

When i am running server like ../gradlew server , its creating file under /build/resources/main/conductor-eureka-client.properties and its(com.netflix.config.util.ConfigurationUtils) picking the file and working.

[2017-02-02 22:45] ajayaks commented on #48
Hi Viren,
Thanks,I have registered conductor in eureka server as an eureka client.

I have another question as below,
I have created some tasks an workflows but everything got deleted when i restarted server. I want to make them persist so please suggest some steps or documentation for the same.

Regards
Ajay

[2017-02-03 02:40] ajayaks commented on #56
Closing this as its working  now.

[2017-02-03 02:40] #56 closed

[2017-02-03 02:47] ajayaks opened #57 "Conductor server is not working via jar"
Running conductor via jar is not working.
java  -jar build/libs/conductor-server-1.7.0-SNAPSHOT-all.jar

![image](https://cloud.githubusercontent.com/assets/7519767/22577566/5902c5d6-e977-11e6-9567-b85057fb63e3.png)

RemoteTransportException[[Longshot][127.0.0.1:9300][indices:data/read/search[phase/query]]]; nested: SearchParseException[failed to parse search source [{"from":0,"size":100,"query":{

[2017-02-03 02:52] ajayaks commented on #57
Even getting different response in apis like
api/admin/config , showing lots of info if i run via "../gradlew server" but showing just few properties if i run via jar.

api/metadata/taskdefs , showing all taskdefs via "../gradlew server" but not via jar

[2017-02-03 16:24] v1r3n commented on #57
Do you have the complete startup log? Which environment are you testing on? Windows/*nix?

[2017-02-03 16:28] v1r3n commented on #57
Also, can you try starting it up with ```-D loadSample=true``` JVM option?

[2017-02-03 17:26] srshanmug opened #58 "An example for WAIT task"
Hi, I am currently working on some prototypes using conductor orchestrating workflow. The prototype workflow has a http task to download an image and the next task's input param need to be the downloaded image. Since download takes time, I am planning to use WAIT. Could you provide an example WAIT task? Kitchensink example does not have a reference  to WAIT task.
Another option I am trying to use

[2017-02-04 17:51] ajayaks commented on #57
Perfect , its working now.
Whats the purpose of -DloadSample=true?

[2017-02-04 18:02] ajayaks commented on #48
Hi,

I have setup dynomite on my local machine and would yo suggest changes i have to do so that tasks, workflow i define should persist in dynomite and available for use later.

Regards
Ajay

[2017-02-05 00:05] ajayaks opened #59 "ArrayIndexOutOfBoundsException while running with dynomite"
Hi,

I am trying to start conductor with with dynomite.
Dynomite and redis are running on local machine. I have done the below settings.

#### For conductor service
db=dynomite
#Dynomite Cluster details.
#format is host:port:rack separated by semicolon
workflow.dynomite.cluster.hosts=localhost:8102:localrack

# Dynomite cluster name
workflow.dynomite.cluster.name=test_coductor

#namespace for the

[2017-02-06 16:13] v1r3n commented on #57
loadSample option loads a kitchensink workflow. UI currently has a bug where it throws error when there are no workflows defined and DB is empty.  Fix coming soon, but in the meantime, creating at-least one workflow instance makes the UI functional.

[2017-02-06 16:13] #57 closed

[2017-02-06 21:26] ajayaks commented on #57
Hi Viren,

I have raised one more issue for #59 where i am getting ArrayIndexOutOfBound while starting the conductor, please have a look.

[2017-02-06 22:23] ajayaks commented on #59
It would be great if you can suggest how to fix this as i am totally stick over this. Please suggest.

[2017-02-06 22:35] v1r3n commented on #59
Can you update the conductor properties for the dynomite to use the below? (note the change in the rack name)
[code]

That should solve.  Let me know if that works.

[2017-02-07 04:50] ajayaks commented on #59
Thanks Viren its working with above settings but now ElasticSearch is not working as its not calling EmbeddedElasticSearch.
 I have 2 questions here as below:-

1. Why us-east-1b is mandatory only not other value?  What exactly should be the value?
2. As if db=Dynomite then its not calling EmbeddedElasticSearch. I have started local instance of elasticsearch and its running on 9200.  What are the

[2017-02-07 05:54] v1r3n commented on #59
1.  This is a probably a bug that is looking for a valid rack name typically used by AWS or Google cloud.  you can use {us,eu,uk}-{east,west}-{1..9}{a..z} as a format and it should work.
2. If you are not running in memory, then you will need to supply both elasticsearch and dynomite addresses that must be brought up separately.  Refer to the server [documentation](https://netflix.github.io/conduc

[2017-02-07 06:18] ajayaks commented on #59
There is no message in startup logs saying its using elastic search.
I have defined new tasks and workflows and its storing into dynomite as its visible on server restart.

When i am checking the index data , docs count is 0.
http://localhost:9200/_cat/indices?v

health status index      uuid                   pri rep docs.count docs.deleted store.size pri.store.size
yellow open   test_index M0g61

[2017-02-07 06:56] v1r3n commented on #59
can you give docker compose a try?  There is a docker compose file which brings up ES, Dynomite, Conductor and UI and has been tested to work.

For the redis key - take a look at the https://github.com/Netflix/conductor/blob/dev/redis-persistence/src/main/java/com/netflix/conductor/dao/dynomite/RedisExecutionDAO.java.  The save methods will give a good idea on which redis keys are used.

[2017-02-07 07:59] lydialmr120 opened #61 "How to create a timed auto-run workflow?"

[2017-02-07 15:53] suxiaoyuv opened #62 "How to save the database of the workflow definition and the tasks definition when restart the docker containers."
Hi,
I run it with `docker-compose up`, it will be start 4 containers, when it close with `Ctrl-c`, or `docker-compose down`, it will be down `docker_elasticsearch` and `docker_dynomite`, and restart with `docker-compose up`, the stores is clean.
When i set es volumes for es data to save node to disk like this
[code]
It does not work for it .

How to do or how to think about it ?

Thanks!

[2017-02-07 18:53] mdecuir opened #63 "Python client?"
Where do alternate client implementations fit in the roadmap for this project? I see a python_client branch but I do not see any conversation or activity about the branch for nearly a month, so it is not at all clear what the status of this is.

[2017-02-07 19:17] v1r3n commented on #63
Feel free to experiment with the python_client from the branch.  The python client is under development and hence not released into main branch yet.  But overall, it is functional.

If you do end up trying it out, would love to hear your experience and any issues.

[2017-02-07 19:18] v1r3n commented on #61
we don't have support for it as yet.  We are working on some initiatives related to event based triggering of the workflows - but they are still under development/design phase.

[2017-02-07 19:38] ajayaks commented on #59
Ok, Is there any mapping file you having for elasticsearch for storing conductor data? I can see template in EmbeddedES. Is there any mapping file you have for which we have to use for local instance of ES?

[2017-02-07 20:35] jcantosz commented on #62
Hey @suxiaoyuv if you did ctrl+c (and not `docker-compose down`) you can run `docker-compose start` from that same directory and the containers should come back up. You can bring the containers down again with `docker-compose stop`

`docker-compose down` will remove the containers.  Thus they cannot be restarted as above

You can see the stopped containers using `docker ps -a`

Hope this help! Let

[2017-02-07 21:36] mdecuir commented on #63
I will provide more detailed feedback as I explore deeper, but there are a few issues I have already encountered that feel like they are worth sharing immediately.

The code is written in python 2 syntax but nothing indicates as such, so I had to jump through some hoops to get it converted.

The branch is well behind development so it exposes some parameters and endpoints that don't seem to be sup

[2017-02-07 22:06] v1r3n commented on #63
Thanks.  Feel free to send a PR if you have changes that solves some of the problem.

[2017-02-07 22:45] v1r3n commented on #59
do you mean the elasticearch index mapping file?

[2017-02-07 23:58] ajayaks commented on #59
I have defined template and mappings for task and workflow. Now ES is running with index and mappings already defined. Now i am getting below errors, ES is running on 9200 and index is test_index. I have below settings in config file.

#Transport address to elasticsearch
workflow.elasticsearch.url=localhost:9300

#Name of the elasticsearch cluster
workflow.elasticsearch.index.name=ecms_index

**##

[2017-02-08 01:25] ajayaks commented on #59
I changed ES server version to 2.4.4 and setup template with 1 shard . After that all these settings and changes i can see the data in ES index and UI is also working.

Server UI is using ES index for showing the ALL, Running, Failed workflow info. please confirm.

Thanks for your help.

[2017-02-08 02:19] suxiaoyuv commented on #62
Thanks @jcantosz , that is right.
But i want to know about how to save the database of the workflow definition and the tasks definition when restart the docker containers.
Possible representation is not clear. Please forgive me.

[2017-02-08 15:12] jeremyjjbrown opened #64 "How to run kitchensink demo"
I'm running conductor from the docker image and any workflows I trigger just sit with the first task on SCHEDULED. The log provides nothing useful.

I've run the kitchensink workflow with various versions of
{
   "mod": 1,
   "oddEven": "odd"
}
/api/workflow/main_workflow?version=1&correlationId=1

Could someone provide and example of how to trigger the example?

[2017-02-08 16:24] avikawale opened #65 "Task remaining in "scheduled" state"
Hi ,
I am from Capital one. We are investigating on netflix conductor as a reactive solution.
We are trying to call a POST API.  Looks like the workflow is configured properly.
But during execution  the task always shows as "Scheduled" status.  The time goes past the scheduled time but the status remains 'scheduled'.  We are using 'In Memory' DB for now and also we have not configured any separate

[2017-02-08 16:57] v1r3n commented on #65
@avikawale can you send me the payload of the task that you are sending when updating the status?

[2017-02-08 19:25] v1r3n commented on #64
I have created a guide here.  Hope this helps:

https://netflix.github.io/conductor/metadata/kitchensink/#running-kitchensink-workflow

[2017-02-08 19:25] #61 closed

[2017-02-08 19:27] v1r3n commented on #58
WAIT task can be added by creating a task with taskType as WAIT.  WAIT task acts as a gate and does not move forward until mark completed either by posting a message to SQS or manually invoking REST endpoint.

https://netflix.github.io/conductor/metadata/systask/#wait

Subworkflow is not necessary for the fork task.  Fork can create any task of tasks.

[2017-02-08 19:42] avikawale commented on #65
Hi @v1r3n  the task type is HTTP

{
	"name": "Booking_Orch",
	"correlationId": "23",
	"description": "Booking workflow",
	"version": 1,
	"tasks": [{
		"name": "ais_post",
		"taskReferenceName": "save_ais_booking",
		"inputParameters": {
			"http_request": {
				"uri": "${workflow.input.ais_post_url}",
				"method": "POST",
				"body": "${workflow.input.ais_post_body}",
				"Accept": "application/j

[2017-02-08 19:45] avikawale commented on #65
[code]

[2017-02-08 19:58] v1r3n commented on #65
@avikawale the task type is inside the ```inputParameters``` block - should be a level higher.
This is what you have:

[code]

Instead, it should be like:
[code]

[2017-02-08 20:06] avikawale commented on #65
Thanks Viren that worked. It was able to call the API. I will close this issue. But is there any more elaborate documentation on HTTP task POST request  ? I am seeing one more issue where the status of 204 non content is deemed as failure.

[2017-02-08 20:10] v1r3n commented on #65
204 should not be considered as failure.  Do you have any stacktrace on the server side when this happens?

[2017-02-08 20:26] avikawale commented on #65
{"createTime":1486584038438,"updateTime":1486584051316,"status":"FAILED","endTime":1486584051316,"workflowId":"4487639c-ed98-463b-ad21-439078896345","tasks":[{"workflowInstanceId":"4487639c-ed98-463b-ad21-439078896345","taskId":"47780d1c-f536-4496-9df2-8d0afc0e6eb3","reasonForIncompletion":"POST http://localhost:8080/account-user-web/credit-cards/accounts/Qw0OIy3tHqINOLuYsZYL6zAXWU3adhN63KoFRBRAqS

[2017-02-08 20:44] avikawale commented on #65
The logs on the API server side may not be too helpful for you. Basically we update the DB using hibernate with the details sent in the POST request and return a '204 no content'  with NO body back to the calling client.  I see the same when calling the API via POSTMAN.

This is the JSON output from workflow status call http://localhost:8080/api/workflow/workFlowId
The reasonForIncompletion has th

[2017-02-08 21:12] v1r3n commented on #65
which version of Conductor are you using?  Are you running from the dev or docker image?

[2017-02-08 21:22] avikawale commented on #65
We are using 1.6.1 ..I believe that is latest. I created a standalone application similar to your kitchensink example amd running in my local machine. not using docker.

<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</

[2017-02-08 22:22] jcantosz commented on #62
I took a closer look at this today, and found that restarting the stopped compose seemed reset the DB (added a task and on compose stop + compose start I no longer saw that task). I found that starting & stopping just the conductor:server did not have this result.
I haven't had a chance to look into mounting docker data volumes for dynomite & elastic, but I imagine this is what you are seeing.

I'

[2017-02-08 22:26] v1r3n commented on #65
Thanks for reporting this.  I have fixed the issue in 1.6.2 and created an RC release.

https://github.com/Netflix/conductor/releases/tag/v1.6.2-rc1

Let me know if this fixes the issue for you.  I will certify the release after some more internal integration tests.

[2017-02-09 02:51] avikawale commented on #65
Hi @v1r3n  - Can you please add the jar to mvn repo ? I downloaded the source code and tried to run gradle eclipse so I can import it to eclipse. It is taking lot of time and stuck.

[code]

[2017-02-09 03:49] suxiaoyuv commented on #62
And i have two questions:

1. Is dynomite save data in memory?
1. ES will be clear data directory when start, why?

Thanks!

[2017-02-09 04:50] v1r3n commented on #65
The jar is already published.  Also, if your gradle build gets stuck, it is most likely an internal network issue.  Not sure if you are within firewall / need proxy.

[2017-02-09 16:08] avikawale commented on #65
I  have tested the fix. The task is showing COMPLETED status now.  Thanks for the quick fix.

[2017-02-09 16:28] #65 closed

[2017-02-09 16:43] v1r3n commented on #62
1. Dynomite uses redis which uses in memory store.  There are options to configure AOF persistence and keep the data onto disk, but that is not the purpose of this docker image which is meant for quick trying out.  For production usage, consider deploying [dynomite](https://github.com/Netflix/dynomite) in a high availability mode.
2. ES image used in the docker compose is the official elasticsearc

[2017-02-09 21:11] v1r3n commented on #48
For the persistence, you want to setup dynomite cluster where the data is persisted.  Check dynomite docs for how to achieve that.
Docker images will be transient and loose data when you restart them.

[2017-02-09 22:12] mdecuir opened #67 "Task update endpoint returning mismatch of content-type header and actual body"
Commit d6d483fa149d6c7e3d9eec5a3280874ae80c0574 changed the task update method to return the task id as a string.

The tasks endpoint of the http interface is returning this value now, but still using a content-type header of application/json.  As a result, the Swagger UI and the python client are reporting errors when they try to parse the response as valid json when it is actually just a string.

[2017-02-09 22:56] v1r3n commented on #67
@mdecuir thanks for pointing out.  I have fixed it in the subsequent commit.  I have also merged the python_client branch into dev.

[2017-02-09 23:29] #63 closed

[2017-02-09 23:46] mdecuir commented on #67
I haven't looked back at the python client code, but this commit appears to resolve the issue nicely.

[2017-02-09 23:49] #67 closed

[2017-02-09 23:57] v1r3n commented on #59
@ajayaks closing this issue.  Please re-open or create another issue if there are other problems.

[2017-02-09 23:57] #59 closed

[2017-02-10 00:21] v1r3n commented on #58
Closing the issue.  Please re-open/create if you need further help.

[2017-02-10 00:21] #58 closed

[2017-02-10 00:22] #48 closed

[2017-02-10 07:33] lydialmr120 opened #69 "How do I register a microservice to Task in Netflix Conductor?"

[2017-02-10 09:19] ajayaks opened #70 "Run UI via jar or war"
Hi,

I am running conductor server via jar but UI is still i am running via gulp.

How to run UI also via jar or war? Please suggest.
Regards
Ajay

[2017-02-10 16:30] v1r3n commented on #70
UI does not use Java - it is written in javascript and uses node.js.  For production usage, you should be creating a UI build using ```gulp build``` and use the ```server.js``` in the dist folder to start the server.
From the ```dist``` folder run the following to bring up server:

[code]

[2017-02-10 17:09] blueelephants opened #71 "Callback After Question"
@v1r3n
I am still having some problems to understand the feature "callback after" where you already provided some more details [here](https://github.com/Netflix/conductor/issues/9):

Lets say, the "long running worker" polls for the task, updates it to IN_PROGRESS and additionally  with a callback of 1 hour.

What does it mean that the task would be made available again?
Is Conductor Server resche

[2017-02-10 19:40] jeremyjjbrown commented on #64
Thanks for creating this. but I still have no idea how to kickoff a workflow. `-DloadSample=true` when I start up the server is not very flexible.

[2017-02-10 23:15] ajayaks commented on #70
I tried but the UI is not coming up.

I am trying to open ui at localhost:5000 and localhost:3000 but noting coming. "This site can’t be reached"

{"name":"Conductor UI","hostname":"ip-192-168-222-18.ec2.internal","pid":83029,"level":30,"msg":"Serving static /Users/ajay/test/conductor/ui/dist","time":"2017-02-10T23:11:23.751Z","src":{"file":"/Users/ajay/test/conductor/ui/dist/webpack:/src/server.j

[2017-02-12 01:46] v1r3n commented on #70
Can you share the exact commands you used to start the server?  Error seems to indicate the server has not started or is not reachable.  Have you also started the Conductor server?

[2017-02-12 05:27] ajayaks commented on #70
Conductor server i am running with jar like below and running on port 8080 and swagger apis are available.
java -DloadSample=true  -jar build/libs/conductor-server-1.7.0-SNAPSHOT-all.jar

For UI i have built wit grunt and running like below:-

Already exported WF_SERVER=http://localhost:8080/api
node dist/server.js

[2017-02-12 05:39] ajayaks opened #72 "Conductor as eureka client"
Hi,

I have done some code changes to start conductor service as eureka client so that all other spring boot micro services can be used as a work tasks.

I want to know is it required for me to upload the code changes or we would have this feature in coming releases. I don't to do local merge everytime i download the latest code. Please suggest.

Regards
Ajay

[2017-02-13 03:24] anshul35 opened #73 "Docker compose yaml does not work with openshift "oc import""
Have already created an issue with openshift [here](https://github.com/openshift/origin/issues/12932).

Please help with the updated docker-compose file if possible.

[2017-02-13 06:25] v1r3n commented on #72
Can you share the changes you have made to register conductor with Eureka?
We might be able to add it to the main branch if the solution will work for everyone.

[2017-02-13 06:32] v1r3n commented on #70
can you check that there is a process listening on port 5000 when you start the conductor UI?

[2017-02-13 07:18] FreeceLian opened #74 "Excuting "gulp watch" error!"
**OS :        Windows7 64bit
Branch :  dev**

**I enter ui and do "npm install" then get two WARN:**
`D:\MyWorkSet\Github\conductor\ui>npm install`
`npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules\chokidar\node_modules\fsevents):`
`npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@
1.0.17: wanted {"os":"darwin","arch":"any"} (current: {"o

[2017-02-13 08:45] lydialmr120 opened #75 "Get error when I start a simple workflow for testing HTTP task."
Workflow Def:
{
  "ownerApp": "test",
  "createTime": 1486717996584,
  "updateTime": 0,
  "createdBy": "",
  "updatedBy": "",
  "name": "test-workflow-1",
  "description": "test-workflow-1",
  "version": 0,
  "tasks": [
    {
      "name": "compute_add",
      "taskReferenceName": "add",
      "inputParameters": {
        "http_request": {
          "uri": "http://localhost:5555/api-a/add?a=1&b=2&

[2017-02-13 09:20] ajayaks commented on #72
Sure, how should i share the code change?  Via pushing on dev branch or somewhere else?

[2017-02-13 10:01] suxiaoyuv commented on #62
Thanks!

[2017-02-13 10:01] #62 closed

[2017-02-13 10:11] ajayaks commented on #75
Your "schemaVersion": 0, try to run it "schemaVersion": 2,

[2017-02-13 16:30] esidorov opened #76 "HTTP task question"
Hi, I'm trying a very simple workflow with one HTTP task and can't get through.

My workflow definition:

{
  "name": "http_flow",
  "description": "Simple http flow",
  "version": 1,
  "schemaVersion": 2,
  "inputParameters": [],
  "tasks": [
    {
      "name": "get_version",
      "taskReferenceName": "get_version",
      "type": "HTTP",
      "startDelay": 0,
      "inputParameters": {

[2017-02-13 16:49] v1r3n commented on #76
/api/metadata/workflow takes a JSON array of workflow definitions.  Wrap your json in an array and you should be fine.

e.g.
[code]

[2017-02-13 16:50] v1r3n commented on #74
what version of node and npm are you running?

[2017-02-13 17:08] v1r3n commented on #72
fork conductor to your personal repo and commit changes.

[2017-02-13 17:13] jeremyjjbrown commented on #76
I have to say that the current state of the documentation is an impediment to adopting this product. The kitchensink workflow is huge and does nothing that is actually useful.

A step by step tutorial on how to do a hello world workflow that GETS a short series of simple WS would be a huge help.

[2017-02-13 17:19] RogerDunn opened #77 "Build error"
Following the instructions for installing and running (from https://netflix.github.io/conductor/intro/), I've cloned the repo to a new clean directory, and run ../gradlew server from the server directory (running from Terminal on a MacOS Sierra box (10.12.3).  I'm seeing an issue that appears to be related to nebula, issue appears building either from dev or master branches: "Publication nebula no

[2017-02-13 17:37] v1r3n commented on #76
@jeremyjjbrown I think that is a good feedback on having a step by step hello world workflow.  Will update the documentation with the guide on creating a sample hello world workflow.  Hope that makes it easier.

Will fix the issue with swagger.

[2017-02-13 17:39] v1r3n commented on #77
What version of java are you running with?
I see this in your logs:

```invalid source release: 1.8```

Conductor will need JDK 1.8 to build.

[2017-02-13 18:03] esidorov commented on #76
Hey, wrapping in array produces different error now:

{
  "code": "INTERNAL_ERROR",
  "message": "INTERNAL_ERROR - Can not deserialize instance of com.netflix.conductor.common.metadata.workflow.WorkflowDef out of START_ARRAY token\n at [Source: HttpInputOverHTTP@4066e9e2[c=531,s=STREAM]; line: 1, column: 1]",
  "instance": "server_id"
}

Any ideas?
Thank you!

[2017-02-13 18:09] v1r3n opened #78 "Update Metadata APIs to be more clear with list vs. single object"

[2017-02-13 18:09] v1r3n commented on #76
@esidorov there are two APIs, one that takes an array and another that takes a single on.
<img width="979" alt="screen shot 2017-02-13 at 10 06 51 am" src="https://cloud.githubusercontent.com/assets/2246128/22896291/6731a91e-f1d4-11e6-85a4-353d36ab58bf.png">

I have created https://github.com/Netflix/conductor/issues/78 to address this and streamline the APIs.

[2017-02-13 18:17] esidorov commented on #76
@v1r3n Thank you, but my original question refers the POST API that takes single, means my attempt to post a single definition was probably correct and the original deserialization error is still a problem, I get the same error if I try to PUT an array wrapped definition.

[2017-02-13 18:18] v1r3n commented on #76
@esidorov Apologies for jumping too quickly - let me take a look at it.  I think there is another issue here.

[2017-02-13 19:05] v1r3n commented on #76
@esidorov I was able to use the JSON you posted and register the workflow.  Here is the JSON I posted to POST method:

[code]
What version of conductor are you using?  Do you have any server stack trace that you can share with?

[2017-02-13 19:17] ajayaks commented on #70
nopes, its not running on 5000 port.

[2017-02-13 19:23] ajayaks opened #79 "Error in UI"
UI is not showing anything.

Hi,

Conductor is running on 8080 port , dynomite is also running, elsatic search is also runnin with index.

Same setup was  working fine but now suddenly i am getting below exception. I can see the list of tasks, workflows from apis but not from UI. I am getting same exception everytime. Please suggest.

Error: Not Found
    at Request.callback (/Users/ajay/OfficeWor

[2017-02-13 19:36] RogerDunn commented on #77
Doh!  Thank you - I had switched to an alternate Mac and failed to notice the difference in the bash profile.  Yup, JAVA_HOME was pointing at 1.7, not 1.8 - thank you for the speedy help.

[2017-02-13 19:36] #77 closed

[2017-02-13 19:57] v1r3n commented on #70
Can you share the error logs from UI along with screenshot?

[2017-02-13 19:58] v1r3n commented on #79
Do you have a screenshot or some other error?  When you started the conductor server, did you pass ```-DloadSample=true``` JVM argument?  There is a known bug with UI that causes errors when the database is empty.

[2017-02-13 19:58] esidorov commented on #76
@v1r3n I was using docker image at https://hub.docker.com/r/jcantosz/netflix-conductor-sample/ I've build official docker now and I can register my workflow.

Thank you for your time!

[2017-02-13 20:04] ajayaks commented on #70
I am seeing any error but UI is not coming.

When i run UI "node dist/server.js" , its showing below but not showing "Server is online" and not automatically opening a new browser tab. I tried to open it manually at 3000 and 5000 but not working.
http://localhost:3000/#/
http://localhost:5000/#/

I have already setup the WF_SERVER

{"name":"Conductor UI","hostname":"Ajays-MacBook-Pro.local","pid":

[2017-02-13 20:40] avikawale opened #80 "ForkTasks for API call does not invoke the API"
Hi ,
I am from capital one. We are investigating on Conductor as an Orchestration/Reactive framework.
I have configured below a workflow with ForkTask.  I got the below format from https://netflix.github.io/conductor/metadata/systask/#fork.

When I am making  a call to the workflow it says the status as 'COMPLETED'  but does not invoke the API.  Can you please let me  know if there is anything wro

[2017-02-13 20:55] v1r3n commented on #76
Closing the issue.  Please re-open/create if there are other issues.

[2017-02-13 20:55] #76 closed

[2017-02-13 21:47] v1r3n commented on #80
The definition directly puts the forkedTasks without tasks block.  I corrected the definition as below, and it should work:

[code]

[2017-02-14 01:24] FreeceLian commented on #74
@v1r3n

`C:\Users>node -v`
`v6.9.5`

`C:\Users>npm -v`
`3.10.10`

[2017-02-14 07:45] lydialmr120 opened #81 "Null input for task_30 in kitchensink demo"
While running the kitchensink demo,the get_es_1 task completed successful,but the task_30's input value is null.

get_es_1 task Output:
{ "response": { "body": { "took": 5, "timed_out": false, "_shards": { "total": 5, "successful": 5, "failed": 0 }, "hits": { "total": 20, "max_score": 1, "hits": [ { "_index": "conductor", "_type": "task", "_id": "1b2f2630-d1a5-4f52-9c81-871bd86b6be8", "_score": 1,

[2017-02-14 08:48] lydialmr120 commented on #75
Thank you,this problem has been solved by your suggestion.

[2017-02-14 10:18] ajayaks commented on #75
Great, then please the issue. :)

[2017-02-14 15:39] v1r3n commented on #74
@FreeceLian node and npm versions are fine.  Do you have access to Linux, Mac or later versions of Windows where you can try this out?  I will have to get hold of a win 7 machine to try this out.

[2017-02-14 19:38] v1r3n commented on #80
@avikawale let me know if this fixes the issue.

[2017-02-14 19:39] v1r3n commented on #79
A screenshot will be helpful.  Also, try doing ```npm install``` to make sure all the dependencies are installed.

[2017-02-14 19:39] #75 closed

[2017-02-14 19:48] avikawale commented on #80
@v1r3n  I will check and let you know by today. Thanks.

[2017-02-14 20:01] v1r3n commented on #81
@lydialmr120 thanks for pointing this out.  If you use the latest version from dev, the issue has been fixed.

https://github.com/Netflix/conductor/commit/f896c70fde514fd0292a01d74400ac817ef8ad11

[2017-02-14 21:06] jeremyjjbrown opened #82 "Docs are missing how to pass input when triggering a workflow."
I'd like to pass input to a workflow I created
[code]

With an HTTP task
[code]

POST /api/workflow/jeremy_flow?version=8&correlationId=9b74d62a
[code]

And the workflow fails asking to check the docs.
![conductoruri](https://cloud.githubusercontent.com/assets/1660010/22949171/e639ac1e-f2c6-11e6-8c66-931f8e9817f8.png)

but the docs do not show how to wire inputs from a workflow trigger to an HttpT

[2017-02-14 21:54] jeremyjjbrown commented on #82
Made it work with:

    workflow_input = {
        "url": "http://192.168.1.41:7000/"
    }

    http_workflow = {
        "name":"jeremy_flow",
        "description":"Simple http flow",
        "version":4,
        "schemaVersion":2,
        "inputParameters":[],
        "tasks":[{
            "name":"http_task",
            "taskReferenceName":"http_task",
            "type":"HTTP",

[2017-02-14 21:54] #82 closed

[2017-02-14 21:59] avikawale commented on #80
Thanks..it is working.

[2017-02-14 21:59] #80 closed

[2017-02-14 22:38] ajayaks commented on #70
Hi Viren , any update on this?

[2017-02-14 22:51] v1r3n commented on #70
@ajayaks can you share the screenshot?  Also, can you confirm if there is a process running on port 5000?

One more thing, when you do export WF_SERVER, ensure it ends with a ```/```.
e.g. from the ui directory:

[code]

Please send screenshot and your OS version.

[2017-02-15 02:05] FreeceLian commented on #74
@v1r3n OK , I'll try this at CentOS Linux 7.2 . But I think maybe using docker is a better way? BTW,my own work PC is Win7(cannot change...) and cannot support docker.... so I hope the problem can be solved.

[2017-02-15 09:01] niwy opened #83 "SampleWorker: "Error when pollig for task" with JsonMappingException"
Hello,

I'm trying the SampleWorker at: [https://github.com/Netflix/conductor/tree/dev/client/src/test/java/com/netflix/conductor/client/sample]

I started an instance of kitchensink, and tried to poll task_1 using SampleWorker. However, I got the following errors. I am working on Win 7. Please help. Thanks.

[code]

[2017-02-15 10:08] niwy commented on #74
Met the same problem on Win 7, and I'm a corporate proxy.

I tried to install pngopt-bin, but getting the following errors. I'm not sure the problem is related to proxy, since most modules can be well installed.

`D:\workspace\java\conductor\ui>npm install --save optipng-bin

png-bin

  ‼ tunneling socket could not be established, cause=getaddrinfo ENOTFOUND 3128
3128:80
  ‼ optipng pre-build test

[2017-02-15 19:23] v1r3n commented on #83
@niwy The error indicates the incompatibility between the version of jackson mapper used by conductor and your runtime JVM.

We recommend using 2.7.5 version of jackson-* libraries in your classpath.

[2017-02-15 19:25] v1r3n commented on #14
@blueelephants closing this issue.  Please reopen if the issue still persists.

[2017-02-15 19:25] #14 closed

[2017-02-15 19:27] v1r3n commented on #69
@lydialmr120 look at the HTTP task.
https://netflix.github.io/conductor/metadata/systask/#http
https://netflix.github.io/conductor/metadata/kitchensink/

[2017-02-15 19:27] #69 closed

[2017-02-15 19:28] v1r3n commented on #64
@jeremyjjbrown
I have updated the guide with curl commands to start the workflow.
https://netflix.github.io/conductor/metadata/kitchensink/#running-kitchensink-workflow

Also, added a sample worker in Java and Python.  Documentation here:
https://netflix.github.io/conductor/worker/

[2017-02-15 19:33] v1r3n commented on #71
@blueelephants
Conductor uses delay queues for task workers.  When a task is updated with ```IN_PROGRESS``` status and a callbackAfter value greater than 0, the task is added back to the queue with the delay time same as ```callbackAfter``` value.

When workers are polling for tasks, the given task will remain in the queue until the timeout.

This feature is useful (and used by us) for asynchronou

[2017-02-15 19:34] #72 closed

[2017-02-15 19:36] v1r3n commented on #74
@FreeceLian @niwy any chance you can try this outside the corporate network and possibly on a *nix machine?

[2017-02-16 02:31] niwy commented on #83
@v1r3n Thanks for replying.
 I'm using 2.7.5 jackson, and the Java version is 1.8.0_121.
[code]

I tired different versions of jackson, e.g., 2.6.7, 2.7.4, 2.8.6. Besides, I exported a jar to run a linux machine with java 1.8.0_101. Anyhow, the errors remain.

[2017-02-16 04:57] v1r3n commented on #83
@niwy I have renamed the offending method (it was on the TODO list already).  Can you give it a try with the ```dev``` branch again?  Let me know if the problem persists.

[2017-02-16 05:51] niwy commented on #83
@v1r3n It works now. Thanks a lot.

[2017-02-16 06:02] #83 closed

[2017-02-16 08:40] ajayaks commented on #70
Correct , i was missing the "/" in last , working fine now.

[2017-02-16 08:58] ajayaks opened #84 "API for task output"
Hi,

I have 3 questions , please suggest.

1st question :
In UI we can see the task status inside workflow and the input/output of the task.

I want to get the output of task so is there any apis for that ?

2nd question

I have created a workflow with some 2-3 tasks now i want to change the workflow means i want to add more task or replace the one , current apis is throwing exception now.

3rd qu

[2017-02-16 12:43] v1r3n commented on #84
@ajayaks check out the swagger APIs - there is an API for getting task details ```GET /tasks/{id}``` that will allow you to get the task details along with the output.

For updating, which API are you using and what exception are you getting?  Please always include these details.  Some of the update APIs take an array of objects, so you might have to wrap your workflow definition inside a JSON arr

[2017-02-16 13:27] #70 closed

[2017-02-16 13:28] v1r3n commented on #79
closing - as reported in https://github.com/Netflix/conductor/issues/70

[2017-02-16 13:28] #79 closed

[2017-02-16 15:27] v1r3n commented on #81
Closing the issue.  Please re-open if the error still exists.

[2017-02-16 15:27] #81 closed

[2017-02-16 15:32] v1r3n commented on #44
Fixed:
https://netflix.github.io/conductor/metadata/#wiring-inputs-and-outputs

[2017-02-16 15:32] #44 closed

[2017-02-17 03:07] niwy opened #86 "Cannot poll some Scheduled tasks"
**Deployment: SampleWorkers and the Server located on the same machine
OS: tried on win 7 and linux respectively**

Hello,

In my test, I always start 100 instances of an workflow with 2 parallel tasks. The workers could complete some tasks (the number changes every time) before getting stuck. Compared to the SampleWorker example, I only modified pollInterval and threadCount.

I checked the in_pro

[2017-02-17 04:04] v1r3n commented on #86
@niwy are you running the server with in memory database, redis or dynomite?  If running dynomite, what is the cluster size?

[2017-02-17 07:08] benbenja opened #87 "http_request fails with Can not deserialize instance of java.lang.String out of START_OBJECT token"
Hi Team,

        I am trying to register kitchensink workflow and getting following error for HTTP task type. I am using devopsopen/docker-netflix-conductor image. Could you please help with the same

{
	  "type": "HTTP",
      "name": "search_elasticsearch",
      "taskReferenceName": "get_es_1",
      "inputParameters": {
        "http_request": {
          "uri": "http://localhost:9200/wfe/wor

[2017-02-17 07:34] v1r3n commented on #87
Seems like you have an older version of Conductor - can you try with the latest from the dev/master branch?

[2017-02-17 07:44] niwy commented on #86
@v1r3n The Server is running with in memory database.

[2017-02-17 09:22] FreeceLian commented on #74
@v1r3n I'm afraid not.I can only try it on a Win7 machine with free network or other OS machines with corporate proxy.  Now I'm trying it on a CentOS machine , but i meet the certification problem because gradle doesn't support NTLM proxy well.

[2017-02-17 22:05] avikawale opened #88 "Question on WorkflowExecutor"
Hi ,
I have a question on how the WorkflowExecutor works.
So in the WorkflowExecutor.java I see below lines.
In the first line I am assuming you are storing the workflow in database.
In the second line we are pushing the workflow to the queue.
But once it is pushed to the queue why do we run line 3 locally and execute the workflow ? My thought was that the workflow id would be picked up from a que

[2017-02-18 00:54] v1r3n commented on #88
Each time the workflow is created or task is updated, the state is evaluated at the same time and next set of tasks are scheduled (if required).  We do not use internal queueing for this.

There is an internal queue  that is used to "sweep" any state evaluations that did not complete (due to errors, jvm getting terminated etc.) and recomputes the same.

[2017-02-18 16:25] v1r3n commented on #74
@FreeceLian @niwy some related discussion on the similar error, might be helpful:

https://github.com/npm/npm/issues/3354
http://stackoverflow.com/questions/33162560/error-tunneling-socket-could-not-be-established-cause-connect-econnrefused-10

[2017-02-19 10:42] ajayaks opened #89 "Exception passing json as workflow input"
Hi,

I would like to pass json structure to workflow input and all other tasks in the workflow would use the same json for their input tasks.  Like "body":"${workflow.input.**collector**}"

Problem is when i adding below json in workflow in input parameter i am getting error below.

  "inputParameters": [
      {
        "**collector**":{
  "id": "f6c25e71-0e38-428b-b895-19dceb4602fb",
  "startDat

[2017-02-19 18:18] blueelephants commented on #71
Many thanks for your explanations

[2017-02-19 18:18] #71 closed

[2017-02-19 20:16] v1r3n commented on #89
@ajayaks you are passing inputParameters as an array with a map inside.  inputParameter should be a JSON map.  The JSON body you posted above is not a valid JSON - can you send in the JSON input you are sending?

Also, can you confirm you are using the latest from dev branch?

[2017-02-19 20:16] v1r3n commented on #88
@avikawale let me know if this answers your question.  We can close the issue.

[2017-02-19 20:17] v1r3n commented on #86
@niwy can you share the code if possible?

[2017-02-19 22:33] ajayaks commented on #89
Hi viren ,

i want to pass below complete json to multiple tasks. So i think we have to do something "${workflow.input.<>}"

{
"id": "f6c25e71-0e38-428b-b895-19dceb4602fb",
"startDate": "2017-01-01T16:21:00Z",
"endDate": "2019-01-01T16:21:00Z",
"dateCreated": "2017-01-03T16:33:00.996Z",
"dateModified": "2017-01-03T16:33:00.996Z",
"status": "CLOSED",
"info": {},
"Instances": {
"Instance": {},
}
}

[2017-02-20 00:54] niwy commented on #74
@v1r3n Thanks for the reference link. I have tried many configuration methods to set proxy, however none of them could solve the "gulp watch" problem. I will test the UI server at home without proxy later.

[2017-02-20 01:00] v1r3n commented on #89
@ajayaks Can you send me the full JSON payload you are using to start the workflow that is giving the exception?  The one you pasted in the beginning of the thread is not a valid JSON.

[2017-02-20 01:41] niwy commented on #86
@v1r3n Sorry, I can't share the source code.

Compared to the main method in SampleWorker example，my "threadCount" = 200, and I change pollInterval before init().

`coordinator.withPollInterval(5);`

Besides, I added TimeUnit.SECONDS.sleep(5) in the execute() method to mimic an execution duration.

[2017-02-20 03:10] #88 closed

[2017-02-20 03:44] ajayaks commented on #89
Hi Viren, below is the json , its a valid json.
{
  "id": "f6c25e71-0e38-428b-b895-19dceb4602fb",
  "startDate": "2017-01-01T16:21:00Z",
  "endDate": "2019-01-01T16:21:00Z",
  "dateCreated": "2017-01-03T16:33:00.996Z",
  "dateModified": "2017-01-03T16:33:00.996Z",
  "status": "CLOSED",
  "order": {
    "id": "830c8c47-79b3-43ed-9459-c1b4dee47bad",
    "startDate": "2017-01-01T16:21:00Z",
    "endD

[2017-02-20 04:47] v1r3n commented on #89
@ajayaks are you passing this as workflow input?  Sorry, its a bit confusing, are you getting error when you try to start the workflow? If that is the case, is the above JSON you pass as the input to the workflow?

[2017-02-20 06:36] ajayaks commented on #89
Yes, i am passing the above json as input parameter to workflow as multiple tasks need the same json so if start defining the json for each tasks in one workflow then workflow definition  will be very big.

I am getting the error while updating or creating the workflow. If i simply remove the above json from workflow input and define it under any task inputparameter then its working but not as inp

[2017-02-20 07:03] v1r3n commented on #89
@ajayaks thanks.  I was able to start the kitchensink workflow by passing the above JSON as input.
I passed the above JSON as it is without any changes.

Here is the workflow that got started and input:

[code]

[2017-02-20 07:05] v1r3n commented on #86
@niwy This is probably related to the to the in-memory redis implementation library used for loading up in memory server.  For the production usage, you want to use dynomite (for HA configuration) or Redis server rather than in-memory database.   I will try and see if I can fix the bug with the in-memory redis library or use an alternate implementation to avoid this issue.

[2017-02-20 07:45] ajayaks commented on #89
Strange , i am trying to update workflow and below the json for workflow update , you can use the same for creating a new workflow but i am getting same issue.  Would you please look in below whats wrong going on.

[
  {
    "ownerApp": "aks",
    "createTime": 1486515246281,
    "updateTime": 0,
    "createdBy": "string",
    "updatedBy": "string",
    "name": "dummy_workfow",
    "description":

[2017-02-20 09:04] niwy commented on #86
@v1r3n Thanks, I will try with Redis first.

[2017-02-20 15:46] v1r3n commented on #89
to update the workflow, which API endpoint are you calling?  Can you also share the stack trace and error details?

[2017-02-20 16:22] v1r3n commented on #89
@ajayaks When you create the workflow definition, the inputParameters are a list of string (keys) that the workflow accepts when starting the execution.

https://github.com/Netflix/conductor/blob/dev/common/src/main/java/com/netflix/conductor/common/metadata/workflow/WorkflowDef.java#L44

You should pass the input parameters as you described above when **starting** the workflow execution not when

[2017-02-20 18:14] ajayaks commented on #89
Hi Viren,  No success , seems i am missing or doing something silly. I tried to create the workflow like below.

Would you please  create a workflow using below json and send me the correct input that you are passing while creating workflow.

One more thing , Is it also meaning if we define input parameters during workflow creation then we cannot change it later during workflow update?

{
  "owner

[2017-02-20 18:26] v1r3n commented on #89
@ajayaks I would suggest, please take a look at the kitchensink workflow as the starting point and modify it.  The above JSON does not conform to the workflow definition schema.

https://netflix.github.io/conductor/metadata/kitchensink/

InputParameters during workflow definition can be certainly changed.  They serve mostly for the documentation for the users of workflow to identify what input par

[2017-02-20 19:10] ajayaks commented on #89
Hi Viren,

i looked in kitchensink workflow but didnt find info about workflow  input parameter with json.

I have crearted below json from model json via swagger , just added json as string in input parameter its working if i simply remove the json from workflow input parameter

{
  "ownerApp": "aks",
  "createTime": 0,
  "updateTime": 0,
  "createdBy": "string",
  "updatedBy": "string",
  "name"

[2017-02-20 19:49] v1r3n commented on #89
@ajayaks to simplify, remove the  inputParameters from your workflow definition.  You can pass them when you start the workflow.

[2017-02-21 02:49] FreeceLian commented on #74
@v1r3n Thanks. But my problem isn't the npm proxy setting.  I can always keep my network active in my Win7 machine, but meet the "gulp watch" problem. Or i can use a CentOS machine behind proxy, i'm sure the network is connected, but i meet the gradle problem:"unable to find valid certification path to requested target". I think my npm is fine because i can do the "npm install".

[2017-02-21 03:25] ajayaks commented on #89
Hi Viren ,

I think that should work but i am getting one problem when passing big json. As per mapping
"input" : {
            "type" : "string",
            "index" : "not_analyzed"
          }

I was looking for issue and found below
http://stackoverflow.com/questions/24019868/utf8-encoding-is-longer-than-the-max-length-32766 , so should i change the "index":"no"  for input  parameter? Will it

[2017-02-21 03:55] v1r3n commented on #89
You can change it to either `analyzed` or `no`.  Both will work.

[2017-02-21 04:38] ajayaks commented on #89
i have kept it "not_analyzed" but added "ignore_above": 256 and its working after that so input is like below:-

"input": {
        "type": "string",
        "index": "not_analyzed",
        "ignore_above": 256
    }

And your suggestion of passing the json during workflow start solved the issue, so instead of adding the json in workflow definition , its better to pass it during calling workflow.

[2017-02-21 04:47] v1r3n commented on #89
let me know if this solves the issue, we can close it.

[2017-02-21 08:09] ajayaks commented on #89
yes, we can close the issue.Thanks for your spporrt

[2017-02-21 08:14] #89 closed

[2017-02-21 09:18] lydialmr120 opened #93 "Exception while running with dynomite"
I cant't start conductor with dynomite and elasticsearch, I need some help, thank you.

The properties:
[code]

Exception:
[code]

[2017-02-21 17:06] v1r3n commented on #93
@lydialmr120 The error below suggest it is not able to successfully establish the connection to the dynomite server?  Can you use a redis cilent on the conductor host, try to connect to the dynomite server ```redis-cli -h 192.168.35.213 -p 8102``` and execute few redis commands?

[code]
PS: Formatted the comment.

[2017-02-21 17:25] v1r3n commented on #87
@benbenja if you are using docker, update your docker image.

[2017-02-22 03:30] lydialmr120 commented on #93
@v1r3n Thank you for you suggest, I have resolved the problem with dynomite,but I still have the error with elasticsearch, even so, the conductor server is started successful.

[code]

[2017-02-22 19:43] GEverding commented on #93
I'm getting the same elastic search error

[2017-02-22 20:20] GEverding commented on #93
I was able to get it to work in elasticsearch 2.4.x by removing the comment block at the top of the json mapping files and using curl.

[2017-02-22 21:42] v1r3n commented on #93
@GEverding Thanks.  I will push the fix to remove the comment block from the JSON files at the top.

[2017-02-23 03:57] surendrapamidi opened #96 "WAIT tasks are not scheduled to the tasks queue and the workflow stops"
DeciderService.java does not have the CASE statement for handling WAIT tasks to be added to the tasks queue. The workflow simply stops at the WAIT task.

Ex:
case WAIT:
 if(taskId == null) taskId = IDGenerator.generate();
 Task waitTask = SystemTask.waitTask(workflow.getWorkflowId(), IDGenerator.generate(),
 workflow.getCorrelationId(), taskToSchedule.getTaskReferenceName());
 tasks.add(waitTask);

[2017-02-23 04:02] surendrapamidi opened #97 "ACK the notify COMPLETED queue"
Need to ack the messages in the queue once the message is read from the notify COMPLETED queues. The messages are left on the queue and are read every time the queue is polled.

if(!ot.isPresent()) {
  logger.error("No matching tasks to be found to be marked as completed for workflow {}", workflowId);
  queue.ack(Arrays.asList(msg));**// this instruction is missing...**
  return;
}

[2017-02-23 09:46] ajayaks opened #98 "HttpTask - Unexpected character ('<' (code 60)): expected a valid value"
Hi ,

I am getting below exception while executing the workflow.

586262 [qtp1860118977-42] ERROR com.netflix.conductor.contribs.http.HttpTask  - Unexpected character ('<' (code 60)): expected a valid value (number, String, array, object, 'true', 'false' or 'null')
 at [Source: java.io.StringReader@3f2353ae; line: 1, column: 2]
com.fasterxml.jackson.core.JsonParseException: Unexpected character ('

[2017-02-23 16:44] v1r3n commented on #98
@ajayaks does the endpoint return an xml? Conductor will only parse JSON and if it cannot parse, will print the error and store the response as a string.  Your workflow should continue to run with XML being stored as string.  Let me know if that is not the case.

[2017-02-23 19:43] ajayaks commented on #98
no xml , but i am passing sql query in json.  Its having condition "age <=99". While creating or updating the workflow no problem but when i execute the flow its breaking and getting above issue.

[2017-02-23 19:50] v1r3n commented on #98
The exception is when reading the response.  Does the repose contain SQL query?  Can you wrap the query in double quotes - that will make it a valid JSON.

[2017-02-23 23:13] mwangtarget opened #99 "can not resolve module "moment" in ./src/components/workflow/executions/WorkflowDetails.js"
when running gulp watch in the UI folder, got following error:

"ERROR in ./src/components/workflow/executions/WorkflowDetails.js
Module not found: Error: Cannot resolve module 'moment' in #######\ui\src\components\workflow\executions
 @ ./src/components/workflow/executions/WorkflowDetails.js 43:14-31
"

[2017-02-24 00:14] v1r3n commented on #99
can you run ```npm install``` and try again?

[2017-02-24 01:45] v1r3n commented on #96
@surendrapamidi this has been fixed in the latest update.

[2017-02-24 01:45] #96 closed

[2017-02-24 01:45] v1r3n commented on #93
@lydialmr120 @GEverding removed headers from the JSON files.

[2017-02-24 01:45] #93 closed

[2017-02-24 02:19] zhengguangpeng opened #103 "while not change es version from 2+ to 5+?"
I have changed the version from 2+ to 5+.

some codes and json files need to be changed according to the version change .

How about the change launched by yourself ?

[2017-02-24 03:35] lydialmr120 commented on #93
@v1r3n @GEverding
Which file do you mean?Can you tell me in detail? Thank you.

[2017-02-24 04:23] GEverding commented on #93
Template.json and wfe_types.json

--
Garrett

On Thu, Feb 23, 2017 at 10:35 PM -0500, "lydialmr120" <notifications@github.com> wrote:

@v1r3n @GEverding

Which file do you mean?Can you tell me in detail? Thank you.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-02-24 04:58] v1r3n commented on #103
@zhengguangpeng 5+ is in the plans but not prioritized yet.

[2017-02-24 06:09] #84 closed

[2017-02-24 09:42] FreeceLian commented on #74
@v1r3n Now I have solved the proxy problem and try it at CentOS 7.2 but meet the same problem as Win7. I wonder if i get a wrong step :

1. `git clone git@github.com:Netflix/conductor.git`
2. modify conductor/gradle/wrapper/gradle-wrapper.properties
    `distributionUrl=gradle-2.14.1-bin.zip`
    because I use a modified gradle to replace the original one due to the proxy problem
3. `cd server`

[2017-02-24 19:31] #103 closed

[2017-02-25 02:05] mwangtarget commented on #99
yes, working now, thanks very much

I just followed the getting started following before.
might better to  update it to include npm install step as well.
https://netflix.github.io/conductor/intro/

[2017-02-25 02:05] #99 closed

[2017-02-28 21:07] ajayaks opened #106 "Info for workflow scheduling"
Hi,

I have 2 questions here as below:-

1. Is there way we can schedule a workflow? Means instead of running workflow via workflow/{name} on request, request should be scheduling the workflow?

2. When we start a new workflow , its goes into Running state, means its already started. Where teh concept queue comes into picture ? I have seen info about the dyno ques , so what changes in need to make

[2017-03-01 22:06] GEverding opened #110 "redis.clients.jedis.exceptions.JedisDataException: ERR syntax error"
Hey,

I've been trying to run conductor in a test environment and I keep getting this error.

[code]

[code]

When I look inside of redis its creating keys but when I go to fetch work for a task I get the above error. I have a feeling its some sort of configuration error but I'm not sure. Have you seen this error before?

[2017-03-02 19:10] v1r3n commented on #110
@GEverding I see there is a blank space in `-Dworkflow.dynomite.cluster.hosts=dynomite-1:8102:us-east- 1c` - for "us-east-1c".
Can you also add this property? `-DEC2_AVAILABILTY_ZONE=us-east-1c`

Are you running the docker images?  The error is a bit strange, what are the steps to reproduce this error?

[2017-03-02 19:12] v1r3n commented on #106
Ajay,

1.  Scheduling is currently not supported.  You can use an external scheduler to make REST calls to the workflow APIs and execute them on a scheduled basis,  but Conductor does not provide any scheduling function.
2.  Queues are used internally to store the pending tasks.  The poll() method for tasks are polling work items through queue.  Dyno queues are used by default, you do not need to

[2017-03-03 04:52] zhengguangpeng opened #114 "Expression would be supported in Decision task ?"
At now ,"caseValueParam" is just a switch case variable . Will you support the parameter support expression later ? Or never support this and only to do the expression by own in other ways.

Thank you.

[2017-03-03 05:41] #26 closed

[2017-03-03 09:06] virursingh opened #115 "Question about deploying conductor in a jee container"
Hi,

While the server seems to embed jetty in it.
How easy it would be to build it and deploy in a standard JEE container?

Thanks !

[2017-03-03 15:06] surendrapamidi opened #116 "Cannot poll scheduled tasks from AWS Managed Elasticcache Redis cluster"
At Cars.com we are introducing this framework for some of the workflows and we are looking at ways to reduce the operational complexity of the hosting the persistence infrastructure  in the cloud ( a.k.a Dynomite and Elasticsearch) and and leverage existing AWS managed services.  We have successfully extended the indexDAO to communicate with AWSHosted Elasticsearch, the existing ElasticsearchDAO d

[2017-03-03 15:37] v1r3n commented on #115
@virursingh it is possible.  We do deploy into a tomcat container.  Take a look at the code for the server module, if you assemble the required modules into a war and deploy to a standard container.

[2017-03-03 15:41] virursingh commented on #115
Hi,

Appreciate the quick response.

I am trying to put the war together.

It would be useful to add web.xml into git repo so others can benefit. If u have it handy could u please email it to me?

Thanks,

- Viru.

*Snt frm a typogrphicaly challengd dvice

[2017-03-03 16:10] v1r3n commented on #116
@surendrapamidi We have not tested with ElasticCache but technically it should work.
The reason for the queues not polling seems to be the typo in the `DEC2_AVAILABILTY_ZONE` parameter, which causes the queues to not read the correct shard resulting in empty polls.

[code]

Let me know if this helps.
It would be great if you can contribute back the DAO layer for AWS hosted Elasticsearch - might be

[2017-03-03 16:14] v1r3n commented on #114
@zhengguangpeng We might add this in future if there are enough use cases.

[2017-03-03 17:46] surendrapamidi commented on #116
Thank you. Appreciate the quick response. It is working now. We will test this further and post the changes required for this for others to benefit.

We would love to contribute the AWSElasticsearchDAO (just needs some cleanup and comments) but lets us know the process involved.

[2017-03-03 21:44] cquon commented on #74
Running into a similar error.  I am running Centos7.  I have had to manually install many of the dependencies with npm.  Finally after all dependency errors were no longer being thrown:

$ node -v
v7.6.0
$ npm -v
4.1.2

$ gulp watch
[13:41:08] Requiring external module babel-register
process.argv =====>  [ '/usr/local/bin/node', '/bin/gulp', 'watch' ]
DEBUG =====>  true
WATCH =====>  true
[13:41:1

[2017-03-03 22:05] v1r3n commented on #116
@surendrapamidi You can send a pull request from your fork to `dev` branch.  This is probably best suited to be put in the `contribs` module - it already has a dependency on the aws client SDK.

[2017-03-04 16:10] v1r3n commented on #98
@ajayaks let me know if the problem is still there - or if we can close the issue.

[2017-03-05 09:29] ajayaks opened #117 "Not working on AWS"
Hi,

I have deployed conductor on AWS and I am getting below issue:-

1. Can't read from server. It may not have the appropriate access-control-origin settings. I can see the swagger ui but not the apis list.

Regards
Ajay

[2017-03-05 18:37] v1r3n commented on #117
@ajayaks Please provide the errors you see in the logs with the issues and some details on how you have deployed to AWS.

[2017-03-06 05:20] ajayaks commented on #117
Hi viren,

no exception in log but getting below on swagger, please sugget.
![image](https://cloud.githubusercontent.com/assets/7519767/23597659/90474f96-01e9-11e7-82eb-9ed405be0f90.png)

[2017-03-06 06:37] v1r3n commented on #117
@ajayaks the URL for swagger is pointing to localhost - it needs to point to the host where you have deployed. Checkout swagger documentation @ http://swagger.io/ if you need help with swagger.

[2017-03-06 07:30] ajayaks commented on #117
You means to say i have to change the url in swagger index.html ? I think we have old version of swagger in conductor.

[2017-03-06 08:17] #114 closed

[2017-03-06 09:25] v1r3n commented on #117
Yes.

[2017-03-06 09:38] ajayaks commented on #117
I have already tested with url changes and its working but the solution is dirty. Do we have better solution like pass the host name and port via config file?

[2017-03-06 19:07] blueelephants opened #118 "Limiting parallelism in Dynamic Fork Task"
I have a follow up question to [here](https://github.com/Netflix/conductor/issues/30).

Let's say, I generate 100 dynamic tasks.
But I want Conductor to always have only up to a certain configured amount of tasks in the queue to be picked up by workers (i.e. a threshold).
Let's say, my "parallelism threshold amount" is set to 20. Then Conductor should only but 20 out of the 100 into the queue.
Whe

[2017-03-07 02:03] v1r3n commented on #74
@FreeceLian @cquon can you try ```npm install browser-sync``` and then try again?  I was able to reproduce this once on a container.  If that works for you, will try to fix it.

[2017-03-07 09:13] FreeceLian commented on #74
@v1r3n
`[root@SZX1000138239 ui]# npm install browser-sync`
`npm WARN deprecated node-uuid@1.4.7: use uuid module instead`
`nf-workflow-ui@1.0.0 /opt/conductor/ui`
`└─┬ browser-sync@2.18.8`
`  └─┬ localtunnel@1.8.2`
`    └─┬ request@2.78.0`
`      ├─┬ http-signature@1.1.1`
`      │ └── sshpk@1.11.0`
`      └── qs@6.3.2`

`npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules

[2017-03-07 18:18] blueelephants opened #119 "Workflows using environment variables"
Hello,

Currently, I am providing some variables to a workflow by passing them via workflow input parameters when I start a workflow via the REST call.

However, is there any way that a workflow can access directly environment variables from the Conductor Server where it is run?

Thanks

[2017-03-07 19:15] v1r3n commented on #118
@blueelephants This is an interesting problem.  There is no server side support for this, but this can be done at the worker level using following:

* Limit the number of workers to a max value (say 20).   This means at a given time only 20 workers are executing tasks.
* Worker interface has a method `paused()` which returns true if the WorkflowTaskCoordinator should not poll for new tasks.
* Retu

[2017-03-07 19:17] v1r3n commented on #119
Yes, for the input parameter configuration, you can pass env variables and they will be converted to the value when setting the input value.

e.g.  If the task's input is configured as:
[code]

The input to the task will contain the actual hostname of the conductor server.  You can use any System properties (passed with -Dkey=value) or environment variable here.

[2017-03-07 19:18] v1r3n commented on #117
Thanks for the feedback.  We will try and address this in the coming releases.

[2017-03-07 19:18] #117 closed

[2017-03-07 19:19] cquon commented on #74
Same for me as well

$ npm install --save-dev browser-sync
npm WARN deprecated node-uuid@1.4.7: use uuid module instead
nf-workflow-ui@1.0.0 /home/cquon/Development/conductor/conductor/ui
\u2514\u2500\u252c browser-sync@2.18.8
  \u2514\u2500\u252c localtunnel@1.8.2
    \u2514\u2500\u252c request@2.78.0
      \u2514\u2500\u2500 qs@6.3.2

npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0

[2017-03-08 18:13] clari-akhilesh opened #120 "Indexing error when running the workflows"
I'm trying to run a sample workflow and have the -Dconductor.worker.pollCount=128
I see a lot of this error on the server:
48633 [qtp411721666-307] ERROR com.netflix.conductor.dao.index.ElasticSearchDAO  - Indexing failed for conductor, task
Any idea as to what might be causing this and what steps I can take to resolve them?

[2017-03-08 19:11] v1r3n commented on #120
@clari-akhilesh There should be more errors in the logs including stack trace.  Can you share them?  That should help.

[2017-03-08 19:32] #54 closed

[2017-03-08 19:32] #64 closed

[2017-03-08 19:33] #86 closed

[2017-03-08 19:33] #106 closed

[2017-03-08 22:09] clari-akhilesh commented on #120
I see a lot of these:

[code]

[code]

[code]

[code]

[2017-03-08 22:15] v1r3n commented on #120
@clari-akhilesh seems like the index is missing `[conductor] IndexNotFoundException[no such index]`.  Are you running the inmemory instance with the embedded elasticsearch?

Also, task indexing failure can be ignore, it will not cause issues with running workflows.
Currently, indexing tasks is an experimental additional and not used.  You can ignore these errors.

[2017-03-08 22:26] clari-akhilesh commented on #120
I'm using in-memory instances. My concern is that the workflow hangs and the tasks are not picked up by the worker. I'm running a DYNAMIC_FORK_JOIN workflow:

[code]

in the fanout, I'm running a SUB_WORKFLOW:

[code]

I fire 128 sub_flows by passing num_branches=128. The workers complete most of the sub_flows but towards the end, it stops, leaving less than 20 sub_flows in IN_PROGRESS state. I wa

[2017-03-08 22:58] v1r3n commented on #120
@clari-akhilesh there is a bug with in-memory version that causes workers to hang with large number of flows.  in-memory is suitable for a quick HelloWorld demonstration.  For anything more serious you want to use either a redis or dynomite.

I would suggest use a standalone instance for such cases.

[2017-03-08 23:03] clari-akhilesh commented on #120
Got it. Thank you. I'll run a standalone instance of redis and give this a try again.

[2017-03-09 01:59] clari-akhilesh commented on #120
I'm running redis locally and started the conductor-server but when I'm trying to POST to /metadata/taskdefs, I get the following error:

[code]

I'm running redis-server 2.3.4 and conductor-server-1.7.0-rc1-all.jar
Is there any particular version of redis and conductor-server I should be using?

[2017-03-09 04:32] v1r3n commented on #110
@GEverding can you check the version of redis you are using?  It should be 3.0.2 or greater.

[2017-03-09 04:37] v1r3n commented on #120
@clari-akhilesh can you try the following?

in your properties file that you supply to the server:
change the following:
(replace localhost and 6379 with actual redis server host,port)

[code]

Let me know if this helps.  I will add this to the instructions.

[2017-03-09 17:59] clari-akhilesh commented on #120
I'm not using dynomite. Here's my configuration:

[code]

[2017-03-09 21:52] ipapapa commented on #110
@v1r3n hm, interesting error. To be safe Redis >3.0.7 is safe in production, but any above 2.8 would be fine. The Dyno still uses Jedis APIs 2.8.6.

[2017-03-10 00:01] v1r3n commented on #120
@clari-akhilesh understood - can you change the properties to specify the database 'dynomite' as above and try?.  It will still work with your redis node.

[2017-03-10 12:54] ghost opened #121 "Can we implement netflix conductor in Asp.Net C# applications ?"
Hi Team,

We have evaluating your Netflix conductor and have been struck with the following challenges,

#1. Is it possible integrate with C# , ASP.Net web applications ?
#2. If possible please post any reference link
#3. if not possible to integrate C# applications could you specify the challenges.

[2017-03-10 15:23] v1r3n commented on #121
@RRDSeedTeam

Conductor provides HTTP endpoints for its APIs that are used by remote workers to communicate.
This allows integration with workers written in any language or stack.  Conductor server is written in Java so the server needs to have Java installed, but you can write workers in any programming language.

Take a look at the client written in Python for example, that should give you an id

[2017-03-10 21:48] cquon commented on #93
I am running into a similar error except my exception is due to a Read timed out.

$ java -jar build/libs/conductor-server-1.8.0-SNAPSHOT-all.jar src/main/resources/server.properties
Using src/main/resources/server.properties
[main] INFO com.netflix.dyno.jedis.DynoJedisClient - Starting connection pool for app conductor
[pool-3-thread-1] INFO com.netflix.dyno.connectionpool.impl.ConnectionPoolImpl

[2017-03-10 22:23] v1r3n commented on #93
@cquon what version of redis are you using?  Make sure it is 3.0.7 or above.

Also, the cluster config for dynomite points to the same host, this is not ideal.  For running locally, can you try the following properties and let me know how it works for you?

[code]

[2017-03-10 22:33] v1r3n commented on #115
@virursingh please take a look at the server module in `dev` branch.  We have some initial config for producing a war file that can be deployed in a jee container.

[2017-03-10 22:52] cquon commented on #93
So actually I have seen the problem is coming prior to integrating conductor and trying to use the redis-cli with dynomite.  Not sure if this is the right thread to debug this issue

I have tried initial basic redis with single dynomite node. (Redis server running 127.0.0.1:6379)

Here is dynomite config:
dyn_o_mite:
  listen: 127.0.0.1:8102
  dyn_listen: 127.0.0.1:8101
  tokens: '101134286'
  ser

[2017-03-10 23:05] shailesh33 commented on #93
ah!! I know what might be the issue. You are probably using a much updated redis-cli....
can you paste the version?

[2017-03-10 23:06] shailesh33 commented on #93
We use 2.8.4

[2017-03-10 23:17] cquon commented on #93
I am using version:

$ ./redis-cli -v
redis-cli 3.2.8

@v1r3n suggested having redis version 3.0.7 or above.  So does redis 3.0.7 come with an older version of cli packaged?

[2017-03-10 23:20] v1r3n commented on #93
@cquon I meant the redis server version.

As @shailesh33 mentioned, you want to use 2.8.4 version of the redis-cli.

[2017-03-10 23:54] cquon commented on #93
Now I have redis-server 3.2.8 and redis-cli 2.8.4.

$ ./redis-cli  -v
redis-cli 2.8.4

I can connect to the shell now, but commands are still hanging.

Connecting to redis directly:
./redis-cli
127.0.0.1:6379> get abc
"def"

Connecting to Dynomite through redis-cli:
$ ./redis-cli  -h 127.0.0.1 -p 8101
127.0.0.1:8101> help get

  GET key
  summary: Get the value of a key
  since: 1.0.0
  group: str

[2017-03-10 23:57] shailesh33 commented on #93
YOu should use port 8102.

On Fri, Mar 10, 2017 at 3:54 PM, cquon <notifications@github.com> wrote:

[2017-03-11 00:46] cquon commented on #93
Great just realized dyn_listen port is for the cluster node intercommunication.  Thanks for the help!

[2017-03-11 06:50] #119 closed

[2017-03-11 06:50] #118 closed

[2017-03-14 16:47] clari-akhilesh commented on #120
Thanks, @v1r3n ! That worked. I've got a couple of questions.
1. Are there any guidelines to setting the pollInterval in WorkflowTaskCoordinator. It is currently set to 1000ms. Is it ok to reduce this? If so, what is the minimum value that it can be set to?
2. What is the maximum recommended value for -Dconductor.worker.pollCount?
In my tests, I've noticed that the workflows hang when -Dconductor.

[2017-03-14 16:57] v1r3n commented on #120
@clari-akhilesh I have been using pollInterval at 1000ms (1 second).  Given this is a long poll, it will return back as soon as there is data available, so that is the max time to wait.  1 second seems to be a good number in our tests (I'll admit, we have not done a lot of tests with different numbers here). So I would go with that.

pollCount of 1000 is a bit too high, specially when you are runn

[2017-03-14 18:56] clari-akhilesh commented on #120
I've set up an ElastiCache cluster on AWS and forwarded the ports to localhost. When I try to bring up the conductor server on my local machine, I see this:
[code]

Here's my config:
[code]

Any thoughts on what might be causing this?

[2017-03-14 20:47] clari-akhilesh commented on #120
I've a redis node on AWS and I'm running the conductor-server and client on my local machine. Everything works fine until I start the workflow at which point the workers don't seem to be picking up the tasks. If I switch the AWS redis instance with my local redis instance, everything works as expected. Here's the logs when running with AWS redis:
[code]
Nothing happens after this on the server or

[2017-03-14 21:02] v1r3n commented on #120
can you share your config file?  Also, add the following line to the config file if you are running on AWS:

[code]
if you have it already set, what is the value?

I think this is due to mismatch on the shard configuration on Conductor (and it defaults to us-east-1c)

[2017-03-14 21:06] clari-akhilesh commented on #120
EC2_AVAILABILTY_ZONE=us-east-1b

Does it always have to be us-east-1c?

[2017-03-14 21:13] v1r3n commented on #120
If you have it set, then it does not have to be.  But I think you have a typo:
It should be : `EC2_AVAILABILITY_ZONE`
Can you fix it and try?

Also, can you share your connection (workflow.dynomite.cluster.hosts) detail?  (you can replace the hostname with a dummy one)

[2017-03-14 21:27] clari-akhilesh commented on #120
Thanks for pointing out the typo!
Here's the conductor.properties I'm using:
[code]

[2017-03-14 21:35] v1r3n commented on #120
OK.  This seems ok.  Are your workers able to pull tasks now?  Or you still have the issues?

[2017-03-14 21:41] clari-akhilesh commented on #120
The workers were able to pull the first task and then hung after that. I'm still investigating this.
On a side note, I'm still seeing this:
[code]
I'll pull the source and do a fresh build and run it again to see if that resolves both the issues.

[2017-03-14 21:46] v1r3n commented on #120
are you able to use redis-cli to connect to your cluster and run a few commands?  I doubt this is a build issue, but rather connectivity with tunneling.

[2017-03-15 04:28] #121 closed

[2017-03-15 18:05] clari-akhilesh opened #123 "Output from Dynamic Fork task"
I have a workflow where a Dynamic Fork task is firing multiple sub-workflows. My question is how do I collect the output from all the sub-workflows?

[2017-03-16 01:08] clari-akhilesh opened #124 "Connecting to Dynomite"
I've setup Redis and Dynomite on AWS which I'm trying to connect to from the conductor-server running on localhost. I've tunneled ports 8102 and 22122 from AWS to localhost. I'm getting an exception on the server:

[code]

conductor.properties:
[code]

dynomite logs:
[code]

dynomite.yml
[code]

[2017-03-16 02:17] v1r3n commented on #124
@clari-akhilesh couple of quick questions;
1.  Can you try redis-cli and run few commands to ensure dynomite server connectivity is in order?
2.  Dynomite needs a redis server, do you have it running on port 22122 on the same host as Dynomite?
3.  Can you try redis-cli to connect to redis and try?

There is active gitter community for Dynomite @ https://gitter.im/Netflix/dynomite, feel free to joi

[2017-03-16 02:19] v1r3n commented on #123
Output of the sub workflows are collected in the join task.  It will be a map, with key being the reference name of the sub workflow task and value being output from the subworkflow.

To define outputs for workflows, see: https://netflix.github.io/conductor/metadata/#workflow-definition

[2017-03-16 02:35] lydialmr120 opened #125 "Can you show me how to use Event Task and Event Handler?"
I can't trigger the event with my code.

Event Handler:
[code]

Workflow with Event Task:
[code]

Start workflow with
[code]

After this,the Event Task didn't create any event.
The evt_test workflow is started as follow:
[code]

[2017-03-16 03:56] v1r3n commented on #125
@lydialmr120 in the workflow definition, use the upper case for task type:

```"type": "EVENT",``

[2017-03-16 06:12] lydialmr120 commented on #125
@v1r3n Thank you for your reply, I have modified the type to upper case, and the event task is executed, but the event handler didn't execute the action, I am not sure whether it receive the event.
Since the event task's output is conductor:evt_test:task_1, I have modified the event handler definition:
[code]

[2017-03-17 17:08] #120 closed

[2017-03-17 17:10] clari-akhilesh commented on #124
Thanks @v1r3n. I was not running dynomite on the same port as redis. I will close this issue.

[2017-03-17 17:10] #124 closed

[2017-03-17 17:13] clari-akhilesh opened #126 "Workflow metrics"
In the documentation, you mentioned that server and worker metrics are collected using spectator. I'm not familiar with spectator. Can you tell me how I can expose these metrics either in a UI or a log file?

[2017-03-17 19:28] v1r3n commented on #126
You can find more details about spectator here:

https://github.com/Netflix/spectator
http://netflix.github.io/spectator/en/latest/

By defaults all the metrics are exposed as JMX MBeans.
<img width="889" alt="conductor_metrics" src="https://cloud.githubusercontent.com/assets/2246128/24059638/0b801ea0-0b0d-11e7-8781-a045870c81df.png">

[2017-03-17 21:49] clari-akhilesh opened #127 "Complete action for external task"
I have an event task in workflow1 which writes an event to complete a task in an instance of workflow2. Is it possible to do this? How do I get the workflowID of workflow2?

[code]

[2017-03-17 23:32] v1r3n commented on #125
@lydialmr120 the event is listening on the "task_1",  can you update the event handler as below:

[code]

The format is: `conductor:<workflowname>:<task_refname>`

Also, try by removing condition to make sure it is wired up correctly and then add the condition?

[2017-03-17 23:33] v1r3n commented on #127
That will work, but the workflow1's event task will have to publish the id of the workflow2.  If you can  do that, then it should be possible.

[2017-03-17 23:35] clari-akhilesh commented on #127
How do I get the ID of workflow2 in workflow1? Let's assume workflow2 was started by workflow1

[2017-03-17 23:38] v1r3n commented on #127
If you have a task, that starts workflow2, then that task can produce an output with the id of the workflow2.  e.g. the task's output might look like:

[code]

In your event, you can use task's workflow2Id output as one of the payload to publish it.

[2017-03-17 23:41] clari-akhilesh commented on #127
So assuming I have an event task which like this:
[code]

And the corresponding event handler:
[code]

Can you show me what output parameters, I should add to get the workflowID of workflow2?

[2017-03-17 23:48] v1r3n commented on #127
The config above will only start the workflow2, but will not capture the id of the workflow2 into the event task.  The reason is that events are decoupled from handlers - and there could be multiple handlers listening on the events.

If you want to capture the workflow2 details, you need to start the workflow.

If you want to start workflow2 from workflow1, then the better option is to use it as S

[2017-03-20 01:58] lydialmr120 commented on #125
The work task_refname is  just task_1. After modifing the event type,the new workflow JSON is as follow:
[code]

[2017-03-20 02:14] lydialmr120 commented on #125
I also remove the condition, but the event handler still can't execute the action.
[code]

[2017-03-20 09:04] amoolya19 opened #128 "Netflix conductor-query - asynchronous behavior."
Hi, i have kind of requirement, please tell whether i can do with this. consider in a workflow there are 3 tasks, t1,t2,t3. t1 gather data n inputs to t2 and t2 calls external system. now i want workflow should not halt here till the repnse comes for t2, should continue with t3. everywhere its mentioned its aschronous but is this kind of asyncronous allowed?

[2017-03-20 10:10] virursingh commented on #115
cool. let me give it a try. will revert with findings. Thanks!

On Sat, Mar 11, 2017 at 4:03 AM, Viren Baraiya <notifications@github.com>
wrote:

[2017-03-20 17:29] clari-akhilesh commented on #127
Thank you for the clarification.

[2017-03-20 17:29] #127 closed

[2017-03-20 20:48] cquon commented on #86
I am running into an issue similar but it seems to be the opposite.  With an in memory database, I am able to poll for tasks.  However, when I use redis / dynomite, I am receiving Status 204 when polling for task.  Showing output from python wrapper I have for API calls.

In memory database:
(java -jar build/libs/conductor-server-1.8.0-SNAPSHOT-all.jar)

$ python conductor.py getRunningWorkflows c

[2017-03-20 21:11] v1r3n commented on #86
@cquon if you are running using dynomite, can you also add the following line to the property to set the rack/availability zone of the conductor server to be same as dynomite cluster config?

[code]
I have updated the comments in the config file to reflect that.
PS: formatted the files in your comment.

[2017-03-20 21:46] cquon commented on #86
Thanks!  Fixed the issue

[2017-03-20 23:06] v1r3n commented on #128
@amoolya19 Conductor supports fork/join.  Forked tasks are executed in parallel and join can wait for these forks to complete after which the next set of tasks will continue.  Look at the kitchensink example in the documentation and documentation on fork/join.

Based on what you described, it seems like you need a fork where one path executed t1->t2 and another path executes t3.  and a join task t

[2017-03-20 23:39] v1r3n commented on #125
@lydialmr120
I was able to trigger the sub-workflow correctly with the following workflow and event handler definition:

### Workflow Definition
[code]

### Event Handler
[code]

once the event handler is created, it can take few seconds up to a minute for the background thread to start polling for it.  Do you see any errors in the log?

[2017-03-20 23:39] v1r3n commented on #126
closing this - please re-open if required.

[2017-03-20 23:39] #126 closed

[2017-03-21 03:06] lydialmr120 commented on #125
No errors
[code]

[2017-03-21 17:13] cquon commented on #31
@v1r3n a quick question on this.  Is the scaling stateless or is it more of a cluster?  Is there any notion of primary/slaves or all work as standalone servers with same database.

Also is there any special handling that needs to be taken for potential race conditions with a scaled architecture?

[2017-03-21 18:36] v1r3n commented on #31
@cquon the scaling is stateless and follows peer to peer architecture and not master/slave.  Each server in the cluster is capable of serving the requests.  The cluster is identified by the group  of servers talking to the same underlying Dynomite database.

Conductor takes care of any race conditions so no special care has to be taken.

[2017-03-21 18:37] cquon opened #131 "Go Worker Implementation"
I have a go worker implementation for client/worker similar to the python client implementation that I would like to contribute to the project.  Would this be ok?

[2017-03-22 03:36] v1r3n commented on #131
@cquon that will be great.  Do you mind sending a PR to `dev` branch?  Are you using channels and worker pools (https://gobyexample.com/worker-pools) ?

[2017-03-22 05:46] lydialmr120 commented on #125
I added some print in the code, find it can't get any message from the dynoqueue, but there is data in redis.
I added print as follow:
[code]

And the output is 0.
[code]

View the data in redis through cmd.
[code]

[2017-03-22 06:40] amoolya19 commented on #128
@v1r3n consider t4 joins the t2 and t3. this case, t4 waits till t2 gets completed. the workflow will not be progressed i assume.

[2017-03-22 06:46] cquon commented on #131
@v1r3n I am using workers but not channels.  Similar to how the python client specifies a thread count for each worker that will poll and execute, I am creating the specified number of goroutines (workers) to poll and execute as well.  One thing I wanted to inquire about was should the code be placed in Netflix/conductor/client/go ?  From what I have been reading most go applications are in their

[2017-03-22 07:06] sameekb opened #132 "How to define inputParams of WorkflowTask?"
Hi Team,

I am trying the conductor-client APIs to create a sample workflow comprising of 2 tasks. I am able to create the tasks, workflow and execute the workflow. But I am facing issue in data transfer between the tasks or accepting workflow input as input in a task.
Created and registered a TaskDef as follows:

`List<TaskDef> taskDefs = new LinkedList<TaskDef>();
TaskDef taskDef2 = new TaskDef(

[2017-03-22 09:40] sameekb commented on #132
Just passing **workflow.input.paramName** as a String object to the inputParamMap worked for me.
If previous task output needs to passed as input to the next task, we have to pass **previous_task_name.output.paramName** to inputParamMap

Sorry for bothering.

[2017-03-22 09:41] #132 closed

[2017-03-22 19:10] v1r3n commented on #125
Can you share your conductor-conf.properties file?  what is the value of `EC2_AVAILABILTY_ZONE` property in your config file?

[2017-03-22 19:34] v1r3n commented on #131
@cquon
Given we already have python client in the /conductor/client repo, I would suggest you keep go in the same.

I would suggest few things:

1. Use the `log` package in golang to do the logging as opposed to "fmt"
2. In the code, the URLs are relative to /api/*, make the /api also part of the constructor ```conductor.NewConductorHttpClient("http://localhost:8080/api")```. The reason is that /a

[2017-03-22 19:35] v1r3n commented on #115
The new builds also publishes war files to repository.  There is no certified built yet (we are working on it), but you can use one of the snapshots.  Let us know your findings.

[2017-03-22 22:47] #87 closed

[2017-03-22 23:03] cquon commented on #131
@v1r3n Thank you for the feedback.

I have made changes for 1,2,3 exactly as said as they were very straight forward.

For 4,5 I am now returning a TaskResult type defined:
(https://github.com/cquon/conductor/blob/24360d5f6f2bccf1c3b6593906d783d7bcf98def/client/go/task/taskresult.go)

Now all user task implementations will be functions that return this TaskResult, and in the Execute() function, ba

[2017-03-22 23:23] v1r3n commented on #131
@cquon thank you.  Let me take a look.

[2017-03-23 07:45] lydialmr120 commented on #125
[code]

[2017-03-23 10:44] sameekb opened #134 "How to register Event Handler using Conductor Client"
Hi Team,

Is there any conductor-client API to register **EventHandler** object. I can create an object of

`com.netflix.conductor.common.metadata.events.EventHandler`

But couldn't find any API to register the object.

I had to do the same using Swagger, but an API around this will be helpful.

Regards,
Sameek

[2017-03-23 13:53] v1r3n commented on #134
@sameekb Yes, we do not have an API yet, but should be available in the subsequent versions.
Thanks for the feedback.

[2017-03-23 19:05] #131 closed

[2017-03-24 03:25] v1r3n commented on #131
@cquon It seems there is an external dependency on the http client that I missed.  Can you put that as part of the package?

[2017-03-24 03:25] #134 closed

[2017-03-24 03:46] cquon commented on #131
@v1r3n Yes I will do so and resubmit a pull request.

[2017-03-24 17:43] blueelephants opened #136 "Pausing all tasks for a specific task type?"
I have seen, that I can pause a complete workflow within the UI.

Is there also a way to pause all tasks of a specific task type?

My use case is:
A task type represents a microservice, and when I upgrade the microservice (from e.g. version 1.0 to 2.0) I want to pause all associated tasks during the upgrade.

I know I could figure out all associated workflows using the Conductor Server REST API an

[2017-03-24 19:31] v1r3n commented on #136
@blueelephants we do plan to add ability to pause ALL the workflows of a specific type + version.  That should help with your case and not have to find and pause the running workflows.

[2017-03-24 19:34] v1r3n commented on #125
@lydialmr120 can you confirm the workflow and event definitions you have is as follows?

### Workflow Definition
[code]

### Event Handler
[code]

[2017-03-24 19:54] #123 closed

[2017-03-24 19:55] v1r3n commented on #115
@virursingh as part of the 1.7.0 changes, we publish the war files. The files are also available in the release version in github here:

https://github.com/Netflix/conductor/releases/tag/v1.7.0

Give it a try and let us know if you face any issues.

[2017-03-25 06:28] blueelephants commented on #136
That would be a great feature - thanks.
Is this feature already planned for 1.8.x? Or for a later release?

[2017-03-25 06:49] blueelephants opened #137 "Rewrite Docker Image for UI to use CentOS - Contact https://registry.npmjs.org/nf-workflow-ui Error"
Hello,

I want to rewrite the very well working provided [Dockerfile](https://github.com/Netflix/conductor/blob/dev/docker/ui/Dockerfile) from Conductor UI to CentOS 7.3.
(The provided Dockerfile from @jcantosz  is based on Docker image "node", which itself is based on "debian:jessie".)

Here is the rewritten Dockerfile, which installs nodejs 6.9.4 via EPEL package in CentOS:

<pre>
FROM centos:7.

[2017-03-25 12:33] virursingh commented on #115
Hi Viren,

Appreciate the information.
I have been a bit busy in some other areas. I should be back playing around with Conductor this week. I will provide the feedback in the later part of the week.

Thanks,

- Viru.

*Snt frm a typogrphicaly challengd dvice

[2017-03-25 15:17] jcantosz commented on #137
Hey @blueelephants, I tried this out and got the same results.

The server will compile/run if you remove the `image` task from the gulp sequence (line 179 in gulpfile.babel.js).  This leads me to believe, that you are missing some packages required for **imagemin**, or **pngquant** on CentOS.

I tried `yum install -y libpng-devel pngquant` which did not resolve the issue.

[2017-03-26 19:52] blueelephants commented on #137
Thanks for investigating my issue @jcantosz.

I tried to follow your instructions, but I always run into the very same error.
Did you completely remove line 179?
Or did you just remove the "image" part of this line?

I tried both and it didn't work for me.

Having said that, I also tried to find the package imagemin for CentOS, but with no success.
Seems to be a rather "exotic" package?

[2017-03-27 00:33] jcantosz commented on #137
No problem @blueelephants.

(imgmin)[https://github.com/sindresorhus/gulp-imagemin] is an npm package. My guess is that there are system dependencies that the package uses which are present on Ubuntu but not CentOS.

I removed just the `, 'image'` part. I was doing this in interactive mode, but have updated the Dockerfile you provided to do this at build time (see line 25). See if this builds:

[c

[2017-03-27 01:58] lydialmr120 commented on #125
Yes, I have confirmed it.

[2017-03-27 09:42] lydialmr120 commented on #125
Today I modify the dynomite config, and rerun this demo,I get some error message.
[code]

My server config
[code]

How to config EC2_AVAILABILTY_ZONE when I uses two node for redis?

[2017-03-27 10:02] lydialmr120 commented on #125
I have resolved ERR syntax error, I think  the server.properties is wrong with EC2_AVAILABILTY_ZONE, the Correct spelling is EC2_AVAILABILITY_ZONE.
But I get another error, how to solve it?
[code]

[2017-03-27 11:20] amoolya19 opened #138 "204 response when creating task definition"
Hi,
I am trying to register the task for the testing purpose and i am getting 204 as response. below is the task trying to send to http://localhost:8080/api/metadata/taskdefs
[{
    "name": "test_task1",
    "description": "test_task1",
    "retryCount": 0,
    "timeoutSeconds": 0,
    "inputKeys": [
      "param1"
    ],
    "outputKeys": [
      "param2"
    ],
    "timeoutPolicy": "TIME_OUT_WF"

[2017-03-27 12:14] amoolya19 commented on #138
sorry.. i have task def in the UI though 204 is showing. i have 1 more gap here. what are inputkeys, input template in task def and input parameters in wf def? what is the link among these 3 ? could you provide me any example (step by Step) so that it would help me to understand better.

[2017-03-27 15:30] v1r3n commented on #125
@ipapapa @shailesh33 do you now what will cause this error?
[code]

[2017-03-27 17:00] ipapapa commented on #125
The problem is related to the Dno not seeing the correct topology.

If the `EC2_AVAILABILITY_ZONE` environment property has not been set then the topology that Dyno sees may not be correct. We need to add that hook for OSS users that are not using AWS or do not have the variable set. More specifically when trying to [getLocalZone](https://github.com/Netflix/dyno/blob/master/dyno-core/src/main/java

[2017-03-28 03:52] lydialmr120 commented on #125
I start the server with
[code]

But  I still get error when starting, even so , the Conductor started sucessful, but event handler  can't execute action yet.
'''
4320 [pool-4-thread-6] WARN  com.netflix.dyno.connectionpool.impl.ConnectionPoolImpl  - Received FatalConnectionException; closing connection {port=9102, host=192.168.35.211} to host Host [hostname=192.168.35.211, ipAddress=null, port=910

[2017-03-28 05:01] v1r3n commented on #125
What version of redis server are you using with dynomite?  I see some errors above that seems to indicate it is using redis version below 3.0.7.  Can you try and update the redis server to 3.0.7+ if not and try?

[2017-03-28 08:25] lydialmr120 commented on #125
The redis version is 2.8.19, and I can't update it now.Is there any other solution?

[2017-03-28 14:14] v1r3n commented on #125
@lydialmr120 we rely on the commands available in 3.0.7+ versions of Redis server.  Using an older version of server will not work.

[2017-03-28 14:16] v1r3n commented on #138
inputKeys in task definition and input parameters in workflow definition are used for documenting the required inputs for both task and workflow.  These values are not validated or used at runtime otherwise.

inputTemplate is used to support some older workflows for backward compatibility - I would not use it as we might remove it in future versions.

[2017-03-28 14:34] ipapapa commented on #125
@v1r3n The Jedis client version in Dyno is 2.8.6 (hence the corresponding supported commands) so a Redis ver 2.8.19 would work fine with the APIs. Redis 3+ includes some clustering improvements, which are important for the warm up (in case a Dynomite node fails and needs to get data from a peer node).

[2017-03-29 05:59] TangKunjun opened #139 "How to use"
Hello！
   I have successfully installed this project.Can successfully open http: // localhost: 8080 and http: // localhost: 3000 pages.But what should be done next?How to create a new workflow?Is there a more detailed use of documentation available?

[2017-03-29 06:58] lydialmr120 commented on #125
@ipapapa I have tried it a simple JedisClient can work with my redis 2.8.19.
@v1r3n I have changed redis version to 3.2.8, and start the Conductor server with -DEC2_AVAILABILITY_ZONE even I have specified it in properties, then all seem to be fine， the Event Handler executed the action too.
Thank you for your help.@ipapapa @v1r3n

[2017-03-29 07:27] lydialmr120 opened #140 "Asynchronous HTTP request"
When use HTTP Task to invoke an asynchronous HTTP request, how to keep the task scheduled?
Maybe  I can add simple task or wait task after HTTP task, but they all need callback from HTTP service, and HTTP service doesn't know the task id for the simple task or wait task.
 Is there a better solution?

[2017-03-29 12:24] sameekb opened #141 "How to create a HTTPTask using conductor-client"
Hi Team,

I would like to create a HTTPTask using conductor-client apis. But the Type enum within WorkflowTask contains all the types barring HTTP.

` public static enum Type {

		SIMPLE, DYNAMIC, FORK_JOIN, FORK_JOIN_DYNAMIC, DECISION, JOIN, SUB_WORKFLOW, EVENT, WAIT, USER_DEFINED;

		private static Set<String> systemTasks = new HashSet<>();
		static {
			systemTasks.add(Type.SIMPLE.name());
			s

[2017-03-29 20:42] cquon opened #142 "Poll for task of a specific workflow instance"
There is a scenario that we want to poll tasks only from a specific workflow instance.  For example we have a specific worker responsible for completing a given workflow.  Do you see an issue if "workflowInstanceId" is added as a param to the poll GET requests and after we read from the given "taskType" queue we compare the Task's "workflowInstanceId" with the passed in parameter before returning

[2017-03-30 06:37] v1r3n commented on #142
@cquon in such case, you can use the GET api on the workflow instance Id to receive the workflow execution details, which contains the list of tasks - completed, scheduled and in progress.  Take the task in progress update the status to desired result and do a task update.  That should work.

[2017-03-30 06:38] v1r3n commented on #141
Hi Sameek,

The setter takes a string and you can pass `HTTP` as the task type (Case sensitive).

[2017-03-30 06:40] v1r3n commented on #140
@lydialmr120 You can extend the http task to not mark as completed and keep it in progress.  The extended class can override the `execute` method to check if async call is completed and mark the task completed as needed.  We do this for some of our internal async http tasks.

[2017-03-30 06:40] v1r3n commented on #139
@TangKunjun Please visit https://netflix.github.io/conductor/ for details on getting started.

[2017-03-30 07:01] #138 closed

[2017-03-30 11:52] sameekb commented on #141
Hi Viren,

Thanks for the response.
But I am unable to set the input parameters of the HTTPTask.

I understand there has to a input parameter named `http_request`. But what should be the mapping of the parameter? I've tried `HttpTask.Input` which didn't work with the message that "Invalid input expression for http_request , paramPathComponents.size=2, expression=HttpTask.Input"

I feel we've to se

[2017-03-30 14:56] v1r3n commented on #141
Hi Sameek,

Take a look at the kitchensink workflow that has a task with http:

https://netflix.github.io/conductor/metadata/kitchensink/

Here is the snippet of an http task:

[code]

[2017-03-30 17:11] cquon commented on #142
Thanks @v1r3n !

[2017-03-30 17:11] #142 closed

[2017-03-31 06:26] sameekb commented on #141
Hi Viren,

I've understood this JSON to define a HTTPTask. But I am not creating this json manually. Instead I am using **conductor-client** and **conductor-common** apis to define tasks and a workflow by using classes like:

`com.netflix.conductor.common.metadata.tasks.TaskDef
com.netflix.conductor.common.metadata.workflow.WorkflowTask
`

The `WorkflowTask` class accepts a `Map<String>,<Object>`

[2017-03-31 07:07] amoolya19 opened #144 "No delete for workflow"
Hi,
 why there is no delete for workflow def? i could see for task but not for workflow in metadata management. if i want to delete the definition from metadata, how can i do so?
Note : using 1.7 version of conductor.

[2017-03-31 08:38] blueelephants opened #145 "Feeding Java Regex into a task's input"
Hello,

I have one problem where I have a worker, which I feed some Java regex patterns via a task's input.

My workflow definition is this:
[code]

As you can see, I specified some workflow-inputs:
- srcHdfsNameNodes
- srcHdfsUsername
- srcHdfsBaseDirectory
- dstHdfsPathRegexRename

And also some Java Regex inputs:
- srcHdfsPathRegexFilter
- dstHdfsPathRegexRename

Some background: my business lo

[2017-03-31 08:54] amoolya19 opened #146 "workflow with http task not working"
Hi
i am trying to create a task for http request. i followed the however its done in kitchen sink example. i am getting error when i trying to start the workflow.
`

{
  "name": "test_workflow",
  "description": "test http workflow",
  "version": 1,
  "tasks": [

    {
      "name": "test_task1",
      "taskReferenceName": "test_task1",
      "inputParameters": {
        "http_request": {

[2017-03-31 09:27] blueelephants commented on #145
I found a way to workaround the issue:

Instead of re-using the specified group name within the regex (here "relativeFilepath") , I can use $1, $2, $3 to access the regex groups:
[code]

So this works, but if there is any other workaround possible to still use the specified regex group name, that would be great.

[2017-03-31 12:55] sameekb commented on #146
My two cents on this:
I am also facing difficulty in getting HTTPTask working, raised issue #141
I am also getting the error message reported by you.
On closer inspection of the stacktrace and code, this msg is coming from deprecated method `DeciderService.getTaskInputV1` which checks the value of the parameter for 2 dots. In your case its localhost:8080 with no dot, so its getting treated as 1 pa

[2017-04-01 03:46] TangKunjun commented on #139
Thank you very much for your answer. I am a freshman, so I will have a lot of problems that I don’t know, I hope you can help me answer. Now I have been able to simply operate the workflow, but only limited to the server ui, I would like to know, can operate the workflow in java? Is it possible to drag the page view to operate the workflow?

[2017-04-01 07:23] cquon opened #148 "Response 204 when querying "SCHEDULED" In Progress Task with given workflow Id"
I am noticing some strange behavior that I am not sure is expected.  I have started a workflow with a go http GET request.  This puts the first task in SCHEDULED state. However when doing a GET request for the in progress task with given workflow id (/tasks/in_progress/{workflowId}/{taskRefName})  it is returning an empty response 204.  I have tried the request with python as well as the swagger U

[2017-04-01 16:48] blueelephants commented on #137
Thanks @jcantosz ... I am still looking for the missing libraries to install on CentOS.
I debuged the underlying Debian images of the "node" images... but its quite time consuming to find and install all those libraries to get it up & running in a clean way.

The reason I want to run CentOS is because of trying to adhere to "in-house standards", but in the end, if Debian is the only way to go.. I

[2017-04-02 03:21] v1r3n commented on #144
@amoolya19 we haven't exposed delete yet.  This is something we will address in 1.8

[2017-04-02 03:21] #144 closed

[2017-04-03 09:01] amoolya19 commented on #146
@sameekb thank you. it worked.

[2017-04-03 09:01] #146 closed

[2017-04-03 09:58] amoolya19 commented on #141
@sameekb, have you tried with output params for http task. in documentation there are 3 parameters categorised as output but not sure on how to use them. help on this if you have any idea on this.

[2017-04-03 12:05] amoolya19 opened #149 "http task output"
Hi,
I was trying a simple hello world example. but i was not able to figure out how to configure the output of the microservices in workflow json. example my wf has only 1 task which will call hello world. this would return a json.
Also i was wondering on how to have the inputs mapped to the task and microservices other than sending params through uri.

[2017-04-03 12:13] amoolya19 opened #150 "Ui and server in different servers"
is it possible to have server and UI in different system? when i just start the ui without starting the server i get message which means something like the server is not up(localhost :8080 not up). so is there a way  to configure ui for server running different ip? Also is there a way to config port of server other than 8080?

[2017-04-03 12:20] sameekb commented on #141
Hi @amoolya19 ,

Yes, was able to process the output of the HTTPTask. While defining the task where you want to process the HTTPTask output, define the parameter value in the json as `${name_of_httpTask.output}` .

If the HTTP response is a JSON, remember that Conductor unmarshals the json and passes the the response as nested Map objects. Before processing the response, just do a sysout on the re

[2017-04-03 15:49] v1r3n commented on #150
Yes, before you start the server, make sure to export `WF_SERVER` environment variable with location to the server.

e.g.

[code]

[2017-04-03 21:30] cquon commented on #148
Sorry I do not think this is an issue and will close it.  However I was wondering if it is possible to run the swagger API's remotely?  Seems to be an issue for me doing so.

[2017-04-03 21:30] #148 closed

[2017-04-04 06:58] amoolya19 commented on #150
Hi @v1r3n,

I am not using docker image. so is it "conductor/ui/gulpfile.babel.js" you are referring to?

var wf_server = process.env.WF_SERVER || 'http://localhost:8080/api/';

[2017-04-04 12:53] amoolya19 commented on #141
Hi @sameekb ,
Thank you. i was able to get the output. Also have you tried HTTP Task Output with response parameter? i could not find any examples on this. let me know if you have succeeded in this.

[2017-04-04 13:35] v1r3n commented on #150
@amoolya19 even if you do not use docker image, the WF_SERVER variable will work.  the line you pasted from gulpfile does exactly the same.

[2017-04-04 13:36] v1r3n commented on #149
@amoolya19 do you want to do an HTTP POST with request body?  Take a look at the documentation for http task:
https://netflix.github.io/conductor/metadata/systask/#http

[2017-04-04 13:39] #140 closed

[2017-04-04 13:40] v1r3n commented on #115
@virursingh If you were able to make use of the `war` file please share your feedback. meantime, closing this issue.  Newer versions now include a `war` file which can be downloaded from the github's release page.

[2017-04-04 13:40] #115 closed

[2017-04-04 14:35] sameekb commented on #141
Hi @amoolya19,

Do you mean request parameter?

[2017-04-05 05:21] #125 closed

[2017-04-05 06:04] amoolya19 commented on #141
@sameekb,

No. response.
![image](https://cloud.githubusercontent.com/assets/26378337/24691888/d4f44708-19f3-11e7-8ab5-86116b29a595.png)

[2017-04-05 06:24] sameekb commented on #141
@amoolya19

`response` is the output of the HTTPTask which includes `header,` `body` and `status code`. If the response of the called service is a JSON, conductor unmarshals it and passes it as nested Map objects to the task processing the response. You've to programatically traverse through the Map objects to reach to the data you are interested in.

Before writing the traversal logic, just print

[2017-04-05 09:26] amoolya19 commented on #141
@sameekb

once i executed my workflow, i took the json from UI and i was able to see whatever my microservices were retruning in body. but dint get to know how to use response tag to capture the response from http task.
is my understanding correct?

what i am asking is how to use reponse tag in json. for ex

"http_request": {
					"uri": "http://localhost:8081/",
					"method": "GET"

[2017-04-05 10:44] sameekb commented on #141
@amoolya19

No need define `response` within `http_request` as its output of the HTTPTask. HTTPTask should contain inputParameters like `uri, method, accept, contentType `etc.  Instead define a simple task which will process the response of the HTTPTask. While defining the above simple task define a `inputParameter` with the value `${name_of_httpTask.output}`. In the corresponding Worker implement

[2017-04-05 11:16] amoolya19 commented on #150
@v1r3n ,
Thank you Viren. i would try this when our server is ready. would reopen this if i face any hurdles.

[2017-04-05 11:16] #150 closed

[2017-04-05 11:58] amoolya19 commented on #141
@sameekb,
Thank you. yes i have done the way you have explained. but just was wondering if i could use response tag.
Also when i tried to input, like below
`[{
	"name": "test_workflow",
	"description": "test http workflow",
	"version": 1,
	"tasks": [{
		"name": "test_task1",
		"taskReferenceName": "tt0",
		"inputParameters": {
			"http_request": {
				"uri": "http://localhost:8081/2",
				"method"

[2017-04-05 12:33] amoolya19 commented on #149
Hi @v1r3n ,

i tried to a scenario where output of task1 (HTTP type) is input of task2 (type HTTP). i tried to place input of task1 in body tag for task2. but task2 fails and output json has null in the body.

worflow json
`[{
	"name": "test_workflow",
	"description": "test http workflow",
	"version": 1,
	"tasks": [{
		"name": "test_task1",
		"taskReferenceName": "tt0",
		"inputParameters": {
			"

[2017-04-05 13:05] sameekb commented on #141
@amoolya19

Both the task names are test_task1. Change the name of the second one to test_task2.
Second task method is GET, but you are setting the parameter in body. Parameters in body should be used while using POST requests.

If localhost:8081 is a GET service, the URL in the second task should be http://localhost:8081/${**test_task1**.output.number}. Remove the body in the second task.

If the

[2017-04-05 23:36] cquon opened #152 "Continue Workflow if Task Failed"
Hi,

I was wondering if there is any way to have a task "FAILED", but to continue the workflow.  The intent is to acknowledge that the current task was not completed successfully, but we do not want to fail the entire workflow and continue with the remaining tasks.  From testing it appears the entire workflow is failed once a task is FAILED.  I see the possible task results are COMPLETED, FAILED,

[2017-04-06 09:20] amoolya19 commented on #141
@sameekb ,
i have actually tried with post as well but luck.
i changed only `request_param_name : request_param_value` as you suggested. but still the value is getting passed. i dont want to pass the parameter through url to the second task. i want it to be in body.

Task1
![image](https://cloud.githubusercontent.com/assets/26378337/24746698/bd1ed7b2-1ad7-11e7-81ef-4248a9d99c90.png)

Task2
![image

[2017-04-06 09:48] sameekb commented on #141
@amoolya19

Is localhost:8081 a GET service or Post service? In test_task1, the URI is getting invoked as GET whereas in test_task2 it is getting invoked as POST.

Since, it gives out {"number": 2} in test_task1, I assume its GET service.

If localhost:8081 designed to handle both GET and POST, then only test_task2 will work which sends out a POST request. The uri in test_task2 should be http://lo

[2017-04-06 10:17] amoolya19 commented on #141
@sameekb
sorry to confuse you.
my WS has 2 endpoints. one is get and other is post. task1 calls

	 @RequestMapping(value ="/{id}", method=RequestMethod.GET , produces={"application/json"})
	    public ResponseBody home(@PathVariable("id") int number) { //something }

task2 calls

@RequestMapping(value ="/tt1", method=RequestMethod.POST , produces={"application/json"})
	    public ResponseBody tt1(

[2017-04-06 10:21] sameekb commented on #141
@amoolya19

Pls visit the below URL for Worker implementation

[https://netflix.github.io/conductor/worker/](Conductor Worker)

[2017-04-06 10:46] amoolya19 commented on #141
@sameekb ,

will try that. btw i was using taskreference name looking at kitchen sink example.
 {
      "name": "search_elasticsearch",
      "taskReferenceName": "**get_es_1**",
      "inputParameters": {
        "http_request": {
          "uri": "http://localhost:9200/conductor/_search?size=10",
          "method": "GET"
        }
      },
      "type": "HTTP"
    },
    {
      "name": "task_3

[2017-04-06 10:49] sameekb commented on #141
Yeah.  It should be taskReferenceName

Since I used same name and taskReferenceName in my POC, didn't face problem wrt this.

[2017-04-06 13:25] amoolya19 commented on #149
@v1r3n

i also tried with simpler version for workflow where there is only 1 task which is of type http and tried to output the response like
"outputParameters": {
    "number": "${test_task1.output.number}"
  } and after execution, still the output was null for number. is there any other configuration that needs to be done?

[2017-04-06 15:06] v1r3n commented on #149
@amoolya19 the output of the HTTP task is contained in the `response` field of the output of the task.
In your original workflow example, the configuration you have supplied for the second task is:
[code]
If you look at the output of the HTTP task, the `number` is located at`response.body.number`.
You have to use the JSON Path of the field from the `outputData` parameter to inject the value in ano

[2017-04-06 15:09] v1r3n commented on #152
@cquon This is the current behavior in 1.7.0, however as part of next minor update, we are adding ability to mark tasks as `optional` in the workflow.  When marked as optional, the workflow will continue to run even if the task fails.  When the worker marks the task as failed, the status is then reflected as `COMPLETED_WITH_ERRORS`

https://github.com/Netflix/conductor/blob/dev/common/src/main/jav

[2017-04-06 15:17] v1r3n commented on #141
Relevant to this thread and might help:

https://github.com/Netflix/conductor/issues/149

[2017-04-06 23:18] cquon opened #153 "Elasticsearch Inquiry"
This is not an issue just an inquiry.  If there is another place I should post things like this please refer me to it.  I see on the documentation (https://netflix.github.io/conductor/server/) that Elasticsearch is a requirement and was wondering if it is possible to configure Conductor without Elasticsearch with Dynomite?  I see it is used to index workflows, so without it would server performanc

[2017-04-07 01:47] jcantosz commented on #137
@blueelephants No problem. Unless your requirements are strict about CentOS, I would think Debian would be the way to go. If you continue down the CentOS path, it may be easier to re-write or update portions of the UI project to not depend on the modules that are causing you trouble.

[2017-04-07 06:14] amoolya19 commented on #149
@v1r3n,

this worked. actually i had tried this yesterday but not sure why it dint work that time.Any ways thank you for the reply.

[2017-04-07 06:14] #149 closed

[2017-04-07 06:16] amoolya19 commented on #141
@sameekb ,
Able to solve this. Thank you so much for your patience and time.
#149

[2017-04-07 08:29] timoly opened #154 "numbers in HTTP task json input are changed into strings"
It seems that numbers are changed to strings in HTTP task's JSON input. For example when submitting following input.
[code]
And then looking at the input for the task from conductor ui. It has changed into:
[code]

[2017-04-07 08:56] sameekb commented on #141
Welcome @amoolya19 .

Thanks @v1r3n, your pointer to thread #149 really helped a lot. I could achieve the same result, but this time without any simple task

[2017-04-07 08:56] #141 closed

[2017-04-07 09:07] lydialmr120 opened #155 "How to extend DECISION task?"
What is the different between start and execute in WorkflowSystemTask?
May I add some code which will be executed before case in DECISION task? How to do this?
I know I can add a task before DECISION, but I have a lot of requirement like this, if that is OK, it will reduce many configuration in workflow definition.

[2017-04-07 11:40] timoly opened #156 "POST /workflow/{name} response waits until workflow has completed"
Is it a bug or feature that when starting a workflow using rest api POST /workflow/foo?&correlationId=foobar the workflow id is only returned after the workflow has already completed or failed.
If this is indeed by design, are there any plans to include maybe a parameter to indicate that the workflow should be started in background?
My test workflow is made up of http tasks which take about 20 sec

[2017-04-07 11:46] timoly opened #157 "Workflow status notifications -feature request"
It would be great if there would be way to register actions for workflow events. For example to be able to start a specified task in case the workflow finishes in failure state.
Currently, if I have understood correctly, the event system is only used for listening external events, and then executing a following action "Start a Workflow", "Fail a Task" or "Complete a Task".
And if I currently want

[2017-04-07 12:55] smkb80 opened #158 "Feature Request - Executing a task in a loop"
Hi Team,

Is there any configuration which allows a task to be executed within a loop? If no, it would be nice to have one.
E.g. a task receives a list of values as an input and gets executed for each value in the list.

[2017-04-07 20:00] v1r3n commented on #156
@timoly this is true when all the tasks are system tasks such as HTTP.  We are addressing this in the upcoming version allowing for these to be executed asynchronously.

[2017-04-07 20:05] v1r3n commented on #155
`start` is called when the task is scheduled and executed the first time.
`execute` method is used to check the status of the current task or start if the previous start did not complete (backend transient errors etc)

[2017-04-08 01:54] clari-akhilesh opened #160 "Scaling up Conductor"
In the documentation, you mentioned that scaling out conductor servers would achieve scalability and improve performance. In my test cluster, every node has elasticsearch, dynomite and conductor server running. When scaling up from 1 to 2 nodes, the performance dropped (measured by, time taken to run 'x' number of parallel workflows). Is this the right way to scale conductor? If not, could you pro

[2017-04-10 10:54] amoolya19 opened #161 "decision task"
Hi @v1r3n ,

I was trying to make a decision making task in workflow. workflow takes input as number: <some number>. Based on this number whether its odd or even, decision should be taken. As input is an user input it could be anything . where to have a logic to find out whether the input is even or odd?

in kitchen example, decisoin task input is like  "oddEven": "${task_2.output.oddEven}". i cou

[2017-04-10 11:02] amoolya19 commented on #156
@timbozo ,

Even i had same query. 1 more thing i found out was, though the swagger was running for 1st start click, i was able to click for more starts. what i mean to say is you can click 5 times to start workflow 5 times ( 5 work flow instances), but returns only one of the workflow id and i assume its first 1.

[2017-04-10 19:21] v1r3n commented on #161
@amoolya19 this logic will be implemented in a worker that takes the input from workflow and outputs the odd/even as true/false, 1/0 or any other value.  Conductor will not any math out of the box.

[2017-04-10 19:23] v1r3n commented on #160
@clari-akhilesh what does your dynomite setup look like?  When you deploy conductor do you deploy with multiple availability zones or same az (EC2_AVAILABILTY_ZONE in the property file)?

[2017-04-10 19:25] v1r3n commented on #158
@sameekb currently there is no such configuration.  You can actually achieve this by not marking the task completed (IN_PROGRESS) and relying on an internal counter that produce as part of the task's output to mark it as completed after N number of attempts.  But nothing out of the box as yet.

[2017-04-10 19:31] clari-akhilesh commented on #160
@v1r3n There was a mistake in the Dynomite deployment which was causing the performance degradation.
In my test deployment, when adding nodes to the conductor cluster, each node has its own instance of elasticsearch, dynomite and conductor server. elasticsearch and dynomite are part of the entire cluster i.e they talk to other elasticsearch and dynomite running on other instances on the cluster. C

[2017-04-10 19:33] clari-akhilesh opened #162 "Conductor Failover"
One area that seems not quite as robust is around detection of a worker going down.  Specifically, let's say I have a task X that is defined to have a very long timeout period (let's say several days), and such a task starts to execute on a worker and is acknowledged as in-progress.   Some short time later, the worker node dies (perhaps the JVM ran out of memory).  How does the orchestrator detect

[2017-04-10 19:35] clari-akhilesh opened #163 "Task execution"
Are there any facilities for pausing or cancelling an in-progress task?  Or is this only at the level of the workflow?  If a workflow is cancelled, what happens to the tasks it was currently running?  Are they simply abandoned?  Does the orchestrator wait for them to complete prior to cancelling?  Is it possible that the cancelled workflow could later be restarted and result in re-running the task

[2017-04-11 05:43] v1r3n commented on #156
@amoolya19 swagger will return the last response.  it will not accumulate the responses from each click and show.

[2017-04-11 05:43] #110 closed

[2017-04-11 09:34] amoolya19 commented on #161
if i implement worker how to use it ? i am using only json based workflow definitions?

[2017-04-11 17:08] cquon opened #165 "Conductor not compatible with Elasticsearch 5.3.0"
I was thinking of upgrading the elasticsearch version.  On the hub.docker.com for elasticsearch (https://hub.docker.com/_/elasticsearch/), it says the images are deprecated and to use the images provided by elastic.co
Using the latest image specified by docker.elastic.co/elasticsearch/elasticsearch:5.3.0, I changed the docker-compose.yml so elasticsearch could use the new image.  However on upgrad

[2017-04-11 20:09] v1r3n commented on #165
@cquon we will be happy to accept a PR for ES 5.3.x support.  Please send a PR against the dev branch.

[2017-04-11 20:14] v1r3n commented on #163
@clari-akhilesh Tasks are running in remote workers outside the control of Conductor server.  When a workflow is cancelled / terminated, the running tasks continue to execute (except as described in cases below).  Once the task completes and updates the status to Conductor, conductor treats that as NOP.

If your tasks are running in remote workers with a way to terminate them (e.g. containers) you

[2017-04-11 20:24] v1r3n commented on #162
@clari-akhilesh given the tasks are running in remote workers Conductor has no knowledge of them being active once ack has been received.  However, to address the situation you described, we have thought about introducing `heartbeat` that will allow Conductor to detect a terminated worker (if there is no heartbeat received within a set time) and reschedule the task.  No prioritization of the work

[2017-04-11 20:24] v1r3n commented on #161
you will implement a new task type (look at the HTTP task implementation) and use it in your json definition with task type as the one you created.

[2017-04-11 20:29] v1r3n commented on #160
Conductor nodes should share the elasticsearch and dynomite cluster and should be deployed on separate instances (machines, containers, VMs).

`workflow.dynomite.cluster.hosts` will then point to the comma separate list of dynomite hosts and `workflow.elasticsearch.url` will point to one of the elasticsearch hostname (or load balancer).

`EC2_AVAILABILTY_ZONE` should be same as the AZ/rack name yo

[2017-04-11 20:59] clari-akhilesh commented on #163
NOP is NoOp, I presume.
If it's not too much to ask, could you give an example of cancelling tasks using containers? Perhaps, add it in the documentation? Thanks!

[2017-04-11 21:02] clari-akhilesh commented on #160
In my example workflow I've 124 tasks and a single run of the workflow takes about 11 seconds. Is there a guide to the number of dynomite, elasticsearch and conducter servers that would be needed to run a 1000 parallel workflows in under a minute?

[2017-04-11 23:10] clari-akhilesh commented on #160
I separated out dynomite, elasticsearch and conductor and here's my config for conductor servers:
[code]
[code]
[code]
Dynomite configuration is as follows:
[code]
[code]
[code]
On Conductor Server nodes, server-d1 and server-e1, I see a lot of these exceptions:
[code]

[2017-04-12 07:20] timoly opened #167 "retryDelaySeconds not working for HTTP tasks"
retryDelaySeconds doesn't seem to have any effect for http tasks.
My task definition is:
[code]
But regardless of the retry delay, the task is retried immediately after the task fails. As can be seen in the conductor ui output:
[Conductor ui screenshot](https://www.dropbox.com/s/m9gizye6nrueq9v/Screenshot%202017-04-12%2010.16.03.png?dl=0)

[2017-04-12 09:08] lydialmr120 commented on #155
@v1r3n How to extend DECISION task? It seems to be impossible.

[2017-04-12 17:27] v1r3n commented on #167
@timoly this is a known issue as of today with system tasks like HTTP that does not follow retry delays.  Expect the fix in the 1.7.4+ release.

[2017-04-12 17:44] v1r3n commented on #155
@lydialmr120 Yes, currently it is not possible to easily extend the decision task.
We are looking at script tasks that can execute javascript code that might be able to help your case - but we have not prioritized them yet.

[2017-04-13 02:40] lydialmr120 opened #168 "Detail for extending EventQueueProvider."
I will extend event queue from kafka, can you give me more information about how to extend EventQueueProvider? Thank you very much!

[2017-04-13 05:46] v1r3n commented on #168
Take a look at the following:

https://github.com/Netflix/conductor/blob/master/contribs/src/main/java/com/netflix/conductor/core/events/sqs/SQSEventQueueProvider.java

The key is to register:

https://github.com/Netflix/conductor/blob/master/contribs/src/main/java/com/netflix/conductor/core/events/sqs/SQSEventQueueProvider.java#L49

You will also need to extend the enums:

https://github.com/Netf

[2017-04-13 07:13] amoolya19 commented on #128
@v1r3n ,

what i meant to ask is, currently the http task works syncronously, sends req and gets response and after that proceeds with next task in the workflow.I am not able to provide any real time scenarios but i dont want to use fork.  Is there anything like AMQP support or any other with such type for async behavior.
our business scenario is handle 600 transactions per second and each shouldn

[2017-04-13 09:26] amoolya19 commented on #161
@v1r3n,

yes, but what i asked is if i implement a new task type say "TEST" how can i import this jar /class into conductor? or do i have to do some configuration for this to make conductor understand this.

com.netflix.conductor.contribs.http.HttpTask is the one you are referring i assume. i dint see worker class impl or WorkflowTaskCoordinator class usage. Is my understanding wrong?

[2017-04-14 01:43] #155 closed

[2017-04-15 01:16] clari-akhilesh commented on #126
Not metrics are visible in the console. Should I do anything to enable them?
![screen shot 2017-04-14 at 6 14 35 pm](https://cloud.githubusercontent.com/assets/25108672/25059599/69750696-213e-11e7-88da-7de623d629da.png)
![screen shot 2017-04-14 at 6 14 48 pm](https://cloud.githubusercontent.com/assets/25108672/25059600/69759372-213e-11e7-9405-af64b9a25fd3.png)

[2017-04-15 01:17] clari-akhilesh opened #169 "Workflow Metrics"
Not metrics are visible in JConsole. Also,
![screen shot 2017-04-14 at 6 14 35 pm](https://cloud.githubusercontent.com/assets/25108672/25059616/a711bbfc-213e-11e7-8a06-1e1b445cc380.png)
![screen shot 2017-04-14 at 6 14 48 pm](https://cloud.githubusercontent.com/assets/25108672/25059615/a710cdfa-213e-11e7-85a9-29da788e9866.png)

the names appear to be different than those in the documentation

[2017-04-16 05:21] #98 closed

[2017-04-18 22:09] v1r3n commented on #163
@clari-akhilesh we work with container as a service infrastructure so scheduling is an HTTP call and cancelling is another HTTP call to cancel the running container.  the implementation will vary based on the orchestration service you use for containers.

In essence, it is an extension of HTTP task where the `start` method spins up a new container and `cancel` method implementation makes another c

[2017-04-18 22:10] v1r3n commented on #160
Adding Dymomite subject expert on the errors.
@ipapapa @shailesh33

[2017-04-18 22:19] v1r3n commented on #169
I will take a look.  You can also get metrics related documentation on the spectator site (Conductor uses spectator to collect metrics)
https://github.com/Netflix/spectator

[2017-04-18 22:54] jvice152 opened #172 "Workflow designer..."
not sure if this is the right place to ask, but do you ever intend on creating a designer for the orchestration engine? I get the idea i can post a json object that represents a workflow, but id love to be able to use a designer instead of getting my hands dirty to start off ;)

edit- sorry, saw a article on the netflix tech blog (not linked to the github docs) that said it is planned in the futur

[2017-04-19 09:11] amoolya19 opened #173 "kitchen sink - event task"
Hi,

i was going through kitchen sink example and this time i was interested in event task. then i wanted to check how the handlers are written for this and i was hoping see something in the ui under event handlers. also where "event_task" is defined? i am not able to see under task defs and anywhere else. I also checked with GET method of /event but the result was empty.

Am i missing something?

[2017-04-20 01:30] picaron commented on #158
It would indeed be really nice to support that. We have a similar use case and repeating the task for each value in a list would be really helpful

[2017-04-20 01:33] picaron opened #174 "Feature Request : Bundle the Fat Jar with the conductor-ui embedded as well"

[2017-04-20 14:42] v1r3n commented on #174
@picaron UI is a node.js application.  bundling it in a jar with the server will not help much as it cannot b run in a JVM.

[2017-04-20 15:52] picaron commented on #174
ok I understand, thanks @v1r3n

[2017-04-20 15:52] #174 closed

[2017-04-20 17:21] ipapapa commented on #160
Are you seeing the Dyno exception constantly or sometimes? Sounds to me that the topology is not properly reported on the client side and Dyno cannot find the proper node to hash the key.

A couple of other details for Dynomite's YAML. You do not need 65536 for the `mbuf_size`. You can use something smaller like 16384. You should also remove the `  dyn_port: 65533`. `dyn_listen` would do the job.

[2017-04-20 17:35] picaron opened #175 "Question: does wiring inputs and outputs work for HTTP tasks?"
I defined a workflow as follows :

[code]

When I try to run my workflow, I get this error :

`{code=INTERNAL_ERROR, message=INTERNAL_ERROR - Invalid input expression for http_request, paramPathComponents.size=5, expression={uri=https://827e9f2f.ngrok.io/tasks/find_subscriptions_for_company, method=GET, body={companyId=${workflow.input.companyId}}}, instance=1cf501368d03}`

If I hardcode the value

[2017-04-20 18:43] picaron commented on #175
nevermind, I found the issue, the workflow needs to be defined with `"schemaVersion": 2` in the definition otherwise some legacy parsing logic is applied.

why not have schemaVersion set to the latest by default when this key is omitted in the workflow definition?

[2017-04-20 19:33] #175 closed

[2017-04-21 09:21] amoolya19 opened #176 "Not able to add event handler- any1 facing same issue?"
Hi,
I tried to add event handler using swagger . i was trying to register event handler using POST /event api. but giving me below error.

"code": "INTERNAL_ERROR",
  "message": "INTERNAL_ERROR - String index out of range: -1",

**json used**
[code]

[2017-04-21 15:15] picaron commented on #25
@v1r3n
I saw this was removed from the 2017 Q1 milestone. Do you have any plans to build this soon?

I would be happy to contribute if my help is welcome.

[2017-04-21 16:00] picaron opened #178 "Avoid aborting the entire workflow if some forked tasks are failing"
Hi,

I am building a workflow that has a dynamic fork step of type HTTP followed by a join.

Currently, if any of the forked tasks fail, the entire workflow is aborted.

See example execution graph :

<img width="486" alt="workflow-graph-with-error" src="https://cloud.githubusercontent.com/assets/507577/25285836/9dbd10d8-2689-11e7-82b4-0bd764d2f45b.png">

I want to generate a report at the end of

[2017-04-21 16:41] picaron commented on #178
Here is the workflow definition I'm using :

[code]

[2017-04-21 17:27] picaron commented on #178
It seems that the HTTP task does not support the `optional` parameter.

Looking at the code, it seems straightforward to add support for this additional input parameter.

I can submit a PR for that shortly.

[2017-04-21 18:44] picaron commented on #178
@v1r3n

I was able to test the fix locally. I created and submitted a PR :

https://github.com/Netflix/conductor/pull/179

[2017-04-22 11:41] #145 closed

[2017-04-22 11:41] #137 closed

[2017-04-22 11:47] blueelephants commented on #158
@sameekb: I had a similiar use case where @v1r3n helped me out.

One way to solve it could be using "Dynamic Fork Tasks".
You could have a list of input values which one worker picks up and creates the needed JSON output for a subsequent "Dynamic Fork Task".

For more details, please see here https://github.com/Netflix/conductor/issues/30

[2017-04-24 05:43] sameekb commented on #158
@blueelephants @v1r3n : Given the current situation, dynamically forking tasks is a viable alternative.

But there's a catch, more the no. of tasks, more is the management overhead from framework's point of view.

[2017-04-24 10:55] amoolya19 commented on #176
now im able solve internal error by changing "event": "conductor:wokflow_test:event_1", where wokflow_test is main workflow name and event_1 is event task in main wf.

now my workflow completes but i dont think so any event is getting triggered. --> need help with this.

Found 1 more article on event and event handlers.
http://techblog.netflix.com/2017/04/netflix-conductor-inversion-of-control.htm

[2017-04-24 12:59] amoolya19 commented on #176
#125 . solved using this link.

[2017-04-24 12:59] #176 closed

[2017-04-25 13:27] kedarchikorde opened #180 "Dynomite is having problem with Windows 10 Home"
Dynomite is intended to target the Linux systems. I am able to run conductor server on Ubuntu 14.4. How do I configure conductor server on Windows 10 Home. Is there any way?

[2017-04-25 16:25] ipapapa commented on #180
Dynomite is a C application. As long as you have the proper libraries, it should work in any OS. Of course, Conductor is based on Java so it will work in any JVM.

[2017-04-25 19:09] blueelephants opened #181 "ElasticSearch Backend Questions"
I have some follow up questions to https://github.com/Netflix/conductor/issues/23, where I would like you to ask for some more background information.

(1) Is all workflow and task execution information stored in ElasticSearch "only"?
     Or is this information also stored in Redis/Dynomite (for state machine activities) and additionally in ElasticSearch to offer better search capabilities?

I gu

[2017-04-25 19:15] blueelephants opened #182 "Conductor Server Logging Questions"
In the startup-script of the Docker deployment (https://github.com/Netflix/conductor/blob/master/docker/server/bin/startup.sh), the Conductor server gets started with this command:

`nohup` java -jar conductor-server-*-all.jar $config_file 1>&2 > /app/logs/server.log`

Is there a way to better "configure" the logging - i.e. to provide a logback.xml or log4j.properties to e.g. configure the log-lev

[2017-04-25 23:44] lilwan opened #183 "Skip SCHEDULED/IN_PROGRESS task"
Hi

I was wondering if we can skip IN_PROGRESS task. We would like to skip a task that was already IN_PROGRESS, and continue the workflow.

I modified the following code to achieve this, could anyone please let us know if it is okay or has any side effect?

In common/metadata/tasks/TaskResult.java

@@ -30,7 +30,7 @@ public class TaskResult {

        public enum Status {

-               IN_PROGRE

[2017-04-26 17:59] lilwan commented on #183
Hi, We thought about it, we do not want to mess up your SKIPPED concept, so can we add "no-op" field in the task result? A task can be set to "no-op" when it was scheduled/in_progress, which means it did not perform any action after it started.

[2017-04-26 23:15] cquon opened #184 "Conductor UI "Running" tab not showing "Running" Workflows"
Hi,

I have checked out a fresh Conductor workspace (Last commit a2731a21b48fa924693102af50b710459bac3184):

And have done a
[code]
in the docker directory.

All of the containers are created correctly (dynomite, elasticsearch, conductor server, conductor ui)

Initially the kitchensink workflow is not indexed by elasticsearch properly which is likely due to a timing issue (not a problem)
Logs:
[co

[2017-04-27 11:15] amoolya19 commented on #161
can we use ecpression in the case ? like this ${workflow.input.number}%2=0

[2017-04-27 15:07] v1r3n commented on #182
@blueelephants yes, it takes two arguments and second one (after the config file) is the location of log4j properties.

https://github.com/Netflix/conductor/blob/master/server/src/main/java/com/netflix/conductor/server/Main.java#L47

[2017-04-27 17:13] blueelephants commented on #182
Many thanks for your help!

[2017-04-27 17:13] #182 closed

[2017-04-28 00:25] #153 closed

[2017-04-28 14:21] v1r3n commented on #181
@blueelephants

1. ES is used only as index and used only to search for workflow instances - by UI.  ES is not used for executing workflow.  The data is also present in Redis/Dynomite.
2. Redis/Dynomite data is not deleted automatically, there is an API endpoint under /workflow to actually remove the data when required.
3. UI searches the data using ES (/workflow/search endpoint) but when loading

[2017-04-28 14:24] v1r3n commented on #172
@jvice152 workflow designer is in the wishlist, we have not prioritized yet.

[2017-04-28 23:26] ajayaks opened #189 "CORS support"
Hi Viren,

Would you please suggest on below:-
1. Want to add CORS support in conductor, specially X-XSRF-token, do we have any configuration for the same.
2. Any plan for updating to swagger 2.0 , currently after deploying  conductor on remote server swagger apis are working until i am repackaging the jar after changing the ip address in index.html.

Regards
Ajay

[2017-04-29 08:47] blueelephants commented on #181
Thank you very much for the detailled explanation

[2017-04-29 08:47] #181 closed

[2017-05-01 21:04] k0105 opened #190 "Apache Camel Integration?"
Hi,

if I need my orchestrator to integrate with many different systems using Enterprise Integration Patterns - can I use Apache Camel for this? What is the relationship between Camel and Conductor and if they should not directly work together - what would it take to integrate them?

Thank you in advance.

Best wishes,
Joe

[2017-05-01 21:14] picaron commented on #178
@v1r3n this is still a blocking issue for us to be able implement our workflow based on HTTP endpoints.

Is there any way for you to consider supporting an `optional` parameter so that a workflow forking multiple intermediate steps could still continue and join to a common final step even if some forked tasks had errors?`

[2017-05-03 10:03] lydialmr120 opened #191 "Swagger UI can't get any result running in docker."
I run conductor with docker, but Swagger UI can't  reponse correctlly, the server seems to be empty, but I can  get the correct response with terminal.
For example, gets all task definition:
Swagger UI:
[code]

Terminal
[code]

[2017-05-03 15:30] #172 closed

[2017-05-03 18:00] v1r3n commented on #189
@ajayaks

1. We do not have a configuration for this as yet - but I think you can certainly add a filter and configure it as guice module.  Conductor allows loading additional modules that are in the classpath.  So that should work.

2. swagger 2.0 - no plans yet.

[2017-05-03 18:01] v1r3n commented on #184
@cquon what version of elasticsearch are you using?

[2017-05-03 18:54] cquon commented on #184
@v1r3n When I was running it was using 2.4 with no local changes after a fresh clone

[2017-05-04 09:13] amoolya19 commented on #160
@clari-akhilesh ,

im new cluster things. so could you please explain on how did you do it? i am running conductor using jar. do i need any other clustering tools to make the conductor cluster or they have cluster mode themselves? please let me know if there are any other reference docs.

[2017-05-04 18:59] v1r3n commented on #191
@lydialmr120 can you try running both server and UI outside the docker container?  Seems like the images are not in sync.

[2017-05-04 19:00] v1r3n commented on #190
@k0105 We have not tried Apache Camel, and there is no relationship between the two.

[2017-05-04 19:00] #190 closed

[2017-05-04 19:00] v1r3n commented on #189
Closing the issue.  Please re-open if you have further questions.

[2017-05-04 19:00] #189 closed

[2017-05-04 19:02] v1r3n commented on #183
@lilwan how is no-op different from just marking the task as completed with no output?

[2017-05-04 19:02] #180 closed

[2017-05-04 19:03] v1r3n commented on #173
@amoolya19 kitchensink does not have any event handlers defined - we plan to add some examples in future.  Meantime, you can use the swagger APIs page to add event handlers.

[2017-05-04 19:03] #173 closed

[2017-05-04 19:04] #168 closed

[2017-05-04 19:04] v1r3n commented on #165
Closing this issue.  We can continue the further conversation on the PR.

[2017-05-04 19:04] #165 closed

[2017-05-04 19:07] #163 closed

[2017-05-04 19:08] #162 closed

[2017-05-04 19:08] v1r3n commented on #161
@amoolya19 we are planning to add expression support for decision task sometime in Q2 of 2017.

[2017-05-04 19:08] #161 closed

[2017-05-04 19:09] #156 closed

[2017-05-04 19:12] v1r3n commented on #73
@anshul35 feel free to send a PR if you manage to get this working.  We do not have plans for it as of now.

[2017-05-04 19:12] #73 closed

[2017-05-04 19:13] v1r3n commented on #25
@picaron yes, we are planning for Q2, not started the work yet.

[2017-05-04 19:13] #25 closed

[2017-05-04 19:13] #78 closed

[2017-05-04 19:16] v1r3n commented on #139
@TangKunjun the UI is only used for monitoring the workflows.  Operational aspects are handled via REST APIs.  Refer to the documentation for more.

[2017-05-04 19:16] #139 closed

[2017-05-04 21:42] cquon commented on #152
I have tried it out with the "optional" and it seems to be the desired behavior thanks!

[2017-05-04 21:42] #152 closed

[2017-05-04 21:51] cquon opened #192 "Conductor UI 404 - Not Found with Exception if workflow has "/" in name"
In the Conductor UI, when monitoring the Workflow executions, you are able to click on the workflow id which leads to a page with the "Execution Flow" graph, "Task Details", "Input/Output", and "JSON" tabs.

However when my workflow name has a forward slash "/" character it appears to be throwing a no response error:

404 - Not Found
"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"ut

[2017-05-05 02:09] lydialmr120 commented on #191
When running both server and UI outside the docker container, all is correct.
What do you mean that the images are not in sync?

[2017-05-09 20:29] lilwan commented on #183
@v1r3n Thanks for the reply, because we would like to show user that the task was not actually performed. If we mark it completed with no output, user may confused with other task which we have that is actually performed and completed but no output.

[2017-05-11 13:11] nbraquart commented on #144
Hello @v1r3n,

Thanks for the information. You are talking about 1.8, is there any information available regarding the roadmap/versions somewhere? This page https://github.com/Netflix/conductor/wiki/Conductor-Roadmap does not mention the soft delete for instance.

Have a nice day!

[2017-05-11 13:55] kpdude7 opened #195 "Switching out SQS/DB; need to eliminate AWS dependencies"
Has anyone had any experience switching out the default implementations for queuing and persistence? We have a need to eliminate all AWS dependencies and would like to know how involved it is to accomplish this. Exactly what interfaces need to be implemented and which classes need to be overridden? Are there issues we need to be aware of?

[2017-05-12 15:01] v1r3n commented on #195
@kpdude7 the default implementation for queuing does not use SQS.  Dynomite is also not an AWS specific implementation.

Conductor supports SQS for events (in the contribs module), but that is optional and is not required.

Visit https://github.com/Netflix/dynomite for more details on dynomite.

[2017-05-15 12:03] ma-sir opened #196 "Rerun API, not continue to run the following tasks ?"
![image](https://cloud.githubusercontent.com/assets/21301149/26056321/688b72ca-39a7-11e7-9a83-89a78c907165.png)

[code]

but task_6 not running

I check the code, in `com.netflix.conductor.core.execution.WorkflowExecutor#rerun`

[code]

Here  **break**, is this right?

[2017-05-15 12:04] amoolya19 opened #197 "Event handler and events"
Hi @v1r3n ,

i have a query on events. consider i have 2 workflows main and sub. if i trigger a event from "main" to start a wf which is "sub". is there a way to bring back the infomation of subworkflow like task outputs to the main workflow? and is there is any way tell main work wf that sub wf is completed.

[2017-05-17 07:00] blueelephants opened #199 "Question: Starting a workflow at a specific task"
Hello,

I have a workflow with a sequence of tasks - e.g. Task A => Task B => Task C => Task D

Is there any possiblity to start the workflow at a certain task - e.g. Task C, which means skipping Task A and Task B?

This would mean within the input to the workflow, a configuration something like "start at taskReferenceName == Task C"?

Thanks for your help.

[2017-05-18 04:41] v1r3n commented on #199
@blueelephants there is no feature that allows skipping few tasks and start the workflow at a specific task.

Maybe a decision task as the first task might be useful if task A & B needs to be skipped for certain conditions.

[2017-05-18 04:47] v1r3n commented on #167
This is available in the latest release now.

[2017-05-18 04:47] #167 closed

[2017-05-18 06:50] blueelephants commented on #199
Alright - thanks for clarification

[2017-05-18 06:50] #199 closed

[2017-05-18 07:52] ma-sir opened #200 "Support ES5 plan？Or in the new branch."
Support ES5 plan？, Or in the new branch.

[2017-05-18 09:33] nbraquart opened #201 "BUG: Invalid sub-workflow execution generates inconsistency"
Hello,

Testing the sub-workflow system task, I ran into an inconsistent state with a system task staying in SCHEDULED state. This happens when a sub-workflow cannot be started, apparently for any reason (in my case, it was either because it did not exist or because it referred to a non-existing task definition).

When starting a workflow referring to a non-existing sub-workflow, I had this stack:

[2017-05-19 19:49] blueelephants opened #203 "Question: Configuration settings for Conductor with a non-Dynomite based Redis instance"
In case I want to configure a non-Dynomite based Redis instance...

What configuration settings do I need to configure?
From the documentation, I can see
- db = redis
- queues.dynomite.nonQuorum.port=22122
- workflow.namespace.prefix=conductor

But where do I have to configure the Redis host to connect?

Should it be via the field `workflow.dynomite.cluster.hosts` ?
If yes, what about the rack inf

[2017-05-20 16:37] danca226 opened #204 "Conductor with AWS SQS"
At our company we are currently evaluating using conductor but we are unable to listen to SQS events.

1) We added contribs module to properties:
conductor.additional.modules=com.netflix.conductor.contribs.ContribsModule

2) defined two environment variables:
AWS_ACCESS_KEY_ID=...
AWS_SECRET_KEY=...

Still not able to listen to queue. Are there any other steps we are missing?

[2017-05-20 19:21] nbraquart commented on #203
Hello,

If I can be of any help: for demo/testing purposes I have replaced Dynomite with a Redis database. What I did was setting the host in the value workflow.dynomite.cluster.hosts as you thought. For the cluster, I did not change the default ones, and it worked like a charm.

It is true that the server configuration is quite Dynomite-oriented, but I must say that looking at the server code was

[2017-05-22 03:48] ma-sir commented on #203
## Conductor with a non-Dynomite based Redis Configuration
[code]

[2017-05-22 03:48] #200 closed

[2017-05-23 02:26] djk29a opened #205 "Statically defined Dynomite hosts troublesome in dynamic HA environment"
The current Conductor configuration line for Dynomite hosts uses the pattern `workflow.dynomite.cluster.hosts=host1:1234:zone1;host2:1234:zone2 ....`

This is possibly an issue in dynamically scaled environments where clusters can scale up and down frequently. I suspect that these hosts should correspond to what DynomiteDB calls [seed nodes](http://www.dynomitedb.com/docs/dynomite/v0.5.7/seeds-lis

[2017-05-23 15:27] #195 closed

[2017-05-24 13:50] chetan3434 commented on #74
Running into similar error on executing `docker-compose build` command.
Is there any fix/workaround for this issue?

[2017-05-25 09:05] shahhuda opened #208 "Can we manually fail the workflow"
I have a decision box. Here the flow gets divided for 'yes' or 'no'. For yes it can follow the normal flow. If its 'no' then I have a simple task and then I want to manually fail the workflow. Is it possible?

[2017-05-27 09:14] blueelephants commented on #203
Thanks for your help

[2017-05-27 09:14] #203 closed

[2017-05-31 07:49] nbraquart opened #210 "BUG: Timed out task remain pollable"
Hello,

I was testing the error management in conductor, and in particular the handling of timeouts (both response time out, and "global" task time out).

At first, I thought it did not work as tasks were not timed out, I got it solved by binding a workflow sweeper as an eager singleton.

I then faced two problems:

1. Only task with IN_PROGRESS status are timed out, nothing happens for SCHEDULED

[2017-06-02 13:28] nicoSalsa opened #211 "Wait task and Join Task"
Hello,
I'm creating workflow using Join and Wait tasks but i don't really understand how it works. Is there any workflow's example using Wait task?
When i try, i get Internal Server Error.
Concerning "JOIN" task, what i thought is the join task was completed when the differents tasks in the fork are completed but it is not the case. So, i don't really understant the interest of this task.
Can you

[2017-06-04 10:42] blueelephants commented on #59
@v1r3n  I also experienced the same problem and the proposed workaround from you to change the rack name worked for me
`workflow.dynomite.cluster.hosts=localhost:8102:us-east-1b`

Interestingly, only this us-east-1b setting works. I tried to change it to e.g. **eu-west-1a** and that didn't work.
Is this us-east-1b setting somehow hardcoded?

[2017-06-05 07:56] marcolenzo opened #212 "How to compensate task failures"
This is more of a support request than an issue.

I was wondering what is the proper way of compensating task failures.

Let's assume that I have a provisioning flows which involves two steps in series. However if the second step in the flow fails, I need to revert whatever I did in the first step. How am I supposed to do that?

From what I am understanding I cannot use a DECISION task. The only o

[2017-06-06 14:37] v1r3n commented on #212
@marcolenzo there are two ways you can do this.
* Mark the task as optional and let a decision task ( ${taskRef.status} ) take care of handling compensation.
* Keep the task as it is and let the workflow fail.  Add a failure handler workflow (https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/metadata/workflow/WorkflowDef.java#L48) to be executed whe

[2017-06-06 16:04] marcolenzo commented on #212
@v1r3n thank you for the prompt support!

[2017-06-08 17:55] cquon opened #214 "Task Search"
Currently there is Workflow Search API, I was wondering if there are plans on having the Task Search as well?

Thanks,
Corey

[2017-06-09 10:09] sameekb commented on #211
A FORK_JOIN task forks a parallel set of tasks. Each set is scheduled to be executed in parallel. But tasks within a set execute serially.

In your case, you have 2 sets of parallel tasks: [wait_status_affected, send_sms] and [send_sms_2]

A WAIT task remains in IN_PROGRESS states until marked as COMPLETED or FAILED by an external trigger (e.g. Swagger).

So, send_sms won't start start until wait_

[2017-06-09 10:18] sameekb commented on #208
I didn't try but worth a try:

In the 'No' path, after the SIMPLE task introduce another SIMPLE task. In the corresponding overriding execute(...) method of the Worker implementation of this newly introduced simple task, explicitly set the task result status as FAILED.

[code]

[2017-06-11 10:48] guyeng0 opened #215 "Compatibility with python 3.x"
At the moment the python client code is compatible with python 2.7. I've looked and it seems this is limited to adding parenthesis around print functions and replacing the thread package with the threading package in ConductorWorker.py.

If you wish I can create a pull request with the relevant changes.

[2017-06-12 13:04] nicoSalsa commented on #211
Thanks, it works!

[2017-06-12 13:04] #211 closed

[2017-06-12 13:57] nicoSalsa opened #217 "Kafka + Netflix conductor"
Hello,

I want to know if there is an easy way to connect Kafka and Netflix Conductor?
At now, it seems to work only with Amazon SQS.
Moreover, it seems that it is only possible to make one action by task.
Is there a way to execute more than one action by task?

Thanks in advance,

[2017-06-12 18:25] v1r3n commented on #215
@guyeng0 will be happy to review and accept the PR if you have a 3.x compatible client.

[2017-06-12 22:15] dcompgriff opened #218 "General Multi-Task Workers, and General Task Polling?"
So, most of the documentation shows each worker having its own 'task type'. Is there any way to set up workers that can handle any, or a specified subset of task types? Also, is there a way then to simply query for the next task ready for processing in the Orchestrator's queues?

The main use case I have is this:
There are (very) many services that I want the orchestration's workers to call, each

[2017-06-13 06:23] sameekb commented on #218
The project conductor-client has a class, **WorkflowTaskCoordinator** which polls for Worker input data in addition to other tasks like Task Worker thread pool management etc. Before polling for input data, the Worker instances have to be registered with the WorkflowTaskCoordinator object. Worker instance is  created by passing the unique Task Definition name to its constructor. Pls refer to the b

[2017-06-13 09:13] smkb80 commented on #160
@v1r3n ,
How is load balancing among Conductor servers achieved? Is a load balancer must? Or the Conductor Servers within a cluster (talking to the same underlying Dynomite) capable of load balancing by themselves as the deployment follows peer-to-peer architecture?

[2017-06-13 11:26] rpdeshmukh opened #220 "Extending conductor with cassandra."
I am trying to extend conductor with a cassandra backend to persist workflows and tasks. I found the "Extending Conductor" section that mentions about implements the Dao's. However, when I start the conductor server I'm not sure what the db property in conductor properties should be.

I tried to set value as cassandra but it seems to accept only memeory, redis and dynomite and I get this error.

$

[2017-06-14 14:02] marcolenzo commented on #212
@v1r3n I am re-opening the issue because I have some additional questions after I had chance to try out your suggestions.

1- It does not seem possible to specify the version of the `failureWorkflow`. I noticed that the `failureWorkflow` shares the input of the original workflow, thus the version as well. Is it intentional?
2- Is there a way to access the output of the original workflow?

[2017-06-14 20:04] ipapapa commented on #205
@djk29a Let us differentiate DynomiteDB (the commercial product) and Dynomite (the Netflix OSS). Dynomite does in fact use static token assignments, but that does not stop somebody from doing scale up and scale down. Dynomite's token assignment is based on the Dynamo protocol as is Casssandra and several other databases.

Conductor leverages Dyno in the DAO. If an IP changes from Dynomite, then Dy

[2017-06-15 08:57] nicoSalsa opened #221 "Detecting Change status tasks"
Hello,

I'm working about a java class which implements a workflow in Netflix Conductor.
I need to detect when the status of a task change to generate a diary.
Is there a simply interface to implement with a method like "OnChangeTask" for example?

Thanks in advance

[2017-06-15 16:50] picaron opened #222 "Feature request : Mechanism for setting configurations that can be reused in all workflows"
When defining workflows using the JSON DSL, we can currently use the JSONPath expression language to refer to variables from tasks (ex: `${workflow.task_abc.output.response.body}`)

Sometimes however, we have configurations that are used across multiple workflow definitions so it would be nice to have a mechanism for configuring variables in conductor and to refer to them inside workflow definitio

[2017-06-16 09:58] nicoSalsa opened #223 "Dynamic name of field TaskReferenceName"
Hello,

It seems not possible to make field TaskReferenceName dynamic, which could be really helpfull.
For example, i would like something like  this:

{
  "name": "sub_workflow_claim",
  "description": "A simply wait external workflow",
  "version": 1,
  "tasks": [
    {
      "taskReferenceName": "${workflow.input.motif}_order_start",
      "name": "Order_start",
      "type": "SIMPLE",
      "s

[2017-06-16 14:20] maciejmrowiec commented on #204
any luck ?

[2017-06-16 16:49] v1r3n commented on #128
@amoolya19 the current version runs HTTP task in an asynchronous fashion.
As far as AMQP support, is that for running HTTP task in async?  If so - it is probably not required as Conductor has internal queues that are used for doing that.

[2017-06-16 16:49] #128 closed

[2017-06-16 16:55] v1r3n commented on #217
@nicoSalsa
1) Support for Kafka can be added similar to how SQS is done.
2) Each task today runs only action -  that is by design.

[2017-06-16 16:55] #217 closed

[2017-06-16 16:56] v1r3n commented on #220
@rpdeshmukh You will have to add new persistence classes to store the data into Cassandra.
After you are done with it, you can wire up the guice modules to load cassandra DAOs as opposed to Redis/Dynomite.  This will prob. need some code changes - minor though and one more condition in the property loader that validates the db name.

Hope this helps.

[2017-06-16 16:56] #220 closed

[2017-06-16 16:57] v1r3n commented on #221
@nicoSalsa currently, there are no events/notification on the task status change.

[2017-06-16 16:57] #221 closed

[2017-06-16 17:04] #215 closed

[2017-06-16 20:34] v1r3n commented on #214
@cquon Yes, this is in the plans.  We have the framework in place, but needs some work and testing to expose this via services and in the UI.

[2017-06-16 20:34] #214 closed

[2017-06-16 20:36] v1r3n commented on #212
1.  This is a known limitation that failure workflow does not allow specifying the version.  We are adding that in the coming releases.  (no ETA as yet)
2. Failure workflow should get the output of main workflow that failed as input.  Again, not in the current release, but we will add in the coming releases.

[2017-06-17 14:52] djk29a commented on #160
Conductor itself is stateless and so _n_ nodes can be put behind a load balancer and each Conductor instance treated the same as another functionally. With horizontal scaling and availability of Conductor solved, this leaves the backend. Each Conductor node is configured in its configuration file to talk to _m_ Dynomite nodes and internally Dynomite will potentially forward requests to other Dynom