[2020-09-27 01:30] 77yang commented on #883
@kishorebanala  I restarted it, issue gone😓

[2020-09-28 20:33] kishorebanala commented on #1865
Fixed.

[2020-09-28 20:33] #1865 closed

[2020-09-28 21:41] kishorebanala commented on #1881
Hey @HenryLauu , I'm confused by the interchanged use of `dynamic task` and `dynamicTasksInputJSON, dynamicTasksJSON` which belongs to `dynamic fork task`. Are you planning to use https://netflix.github.io/conductor/configuration/systask/#dynamic-fork instead of https://netflix.github.io/conductor/configuration/systask/#dynamic-task ?

[2020-09-28 21:42] #1879 closed

[2020-09-28 21:46] kishorebanala commented on #1856
@vtzi This is in `enhancement` backlog now. Please feel free to send us a PR if you have bandwidth. Thanks for opening up this discussion.

Here are some additional things to consider when working on this feature:
- Make sure to enforce this new `retry` flag only when subworkflow task is retried. i.e if the subworkflow tasks is being newly executed, even if the configuration has `retry` flag, it s

[2020-09-28 21:58] apanicker-nflx commented on #1890
@manan164 / @rickfish  Could you please help with this?

[2020-09-28 22:29] aravindanr commented on #1884
Can you provide more details about how you are achieving the following flow?

Please post the _full workflow definitions_ and also the _input parameters_ used to start the FIRST WORKFLOW so that it triggers E_H_1 and E_H_3.

Does the event handler not start the FIRST WORKFLOW in the correct branch?

E_H_1 and E_H_3 trigger two different branches of the same workflow. Each _start_workflow_ action t

[2020-09-30 03:56] willqiao opened #1892 "Unimplemented QueueDAO.containsMessage() for mysql & postgres"
Hi Conductor Team,

We are using conductor with postgres database(previously, we were using mysql). After switching to both of the DBs, we found there is a WorkflowRepairService trying to call QueueDAO.containsMessage(). However, both Mysql and Postgres impl doesnt have this containsMessage() implemented. Logs will constantly throws following exceptions. I tried to put a
workflow.repairservice.ena

[2020-09-30 14:07] manan164 commented on #1890
@TheSabreSlicer If wewant to use loop over task output outside the scope of do_while then we have to append iteration also. like ```get_info__1.output.data.response.code```

[2020-09-30 14:50] elisherer commented on #1890
If you have the latest version you could define a [variable](https://netflix.github.io/conductor/configuration/systask/#set-variable-task) before the loop and change its value after each http call (based on the http output).
The loop condition could check the variable value.

[2020-09-30 21:16] Yingsheng-eroad opened #1896 "Found non-empty schema "public" without metadata table! Use baseline() or set baselineOnMigrate to true to initialize the metadata table"
When I try to run the conductor server with postgres. I got the error below:
[code]
Then I update the `com.netflix.conductor.postgres.PostgresDataSourceProvider#flywayMigrate` with
[code]
I got another error like below:

[code]

I dug in. The default baseline version is 1, so the script "V1__initial_schema.sql" won't be executed.

[code]

Fixed by updating `com.netflix.conductor.postgres.PostgresD

[2020-09-30 22:53] Yingsheng-eroad opened #1898 "Question: How can I avoid to download dependencies every time when running docker-compose build"
I am not familiar with Gradle at all.
It keeps downloading dependencies every time when I am running `docker-compose build`. Is there a way to avoid this?
volume?

[2020-10-01 01:39] kishorebanala commented on #1892
Hey @willqiao , The `WorkflowRepairService` should be disabled by default for MySQL and Postgres QueueDAO implementation with this configuration parameter: https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/config/Configuration.java#L389

Can you verified if this is overwritten by any chance? This is only enabled for `redis-persistence` module at the mom

[2020-10-01 01:42] demichej commented on #1892
@kishorebanala there's a bug in general with how the Configuration is being bound. I've got a PR up to fix it. (But thank you too for fixing Mysql and Postgres @Yingsheng-eroad !!)

https://github.com/Netflix/conductor/pull/1895

The issue is that the core System properties configuration was always being bound to the Dynomite one.....so everything always get true. My PR changes it so that you have

[2020-10-01 03:53] flavioschuindt commented on #1635
We are observing the same behavior as described in (1) above. Any thought?

[2020-10-01 09:20] beatfreaker opened #1904 "Mandatory ownerEmail json property is missing in example document"
In [Create workflow definition](https://netflix.github.io/conductor/labs/beginner/#creating-workflow-definition) JSON example mandatory `ownerEmail` property is missing

if `ownerEmail` is not passed in the request body, server send below response
[code]

Created PR [#1903](https://github.com/Netflix/conductor/pull/1903) to add it.

[2020-10-01 13:59] mishika29 opened #1905 "how does the worker undergo execution of a workflow?"
Hello,

I am trying to use conductor to execute a registered workflow.
I am struggling with how the workers work to do so.
As per my understanding until now, the worker must poll for a task for its execution, but the API call needs the task type to be passed to it.
How will the worker know the task type while polling for it?
The API we are using to poll for a task is:
http://51.79.140.163:8080/api

[2020-10-01 16:13] cmrenus opened #1906 "Achitecture / Enteprise implemntation questions"
Hey there, I have been looking at implementing Conductor in our company but had a bunch of questions regarding some decisions and just things I couldnt find. I've scoured through all the other issues and what I can find, so I'll try not to ask questions that may have already been asked :)

1. Looking through documentation, I see internally you have moved away from Redis at the persistence layer to

[2020-10-01 16:25] cmrenus commented on #1906
Oh and what is currently being used for queues? I see here https://github.com/Netflix/dyno-queues that the project is no longer supported

[2020-10-01 16:46] TheSabreSlicer commented on #1890
@elisherer I see how variables would be useful, thanks! @manan164 do I have to make a lambda task to generate the latest task name? or what is the best way to get the latest iteration?

[2020-10-02 17:12] ritu-p opened #1907 "Is there a way to start a workflow from a particular task? Say I have task1 , task2, task3, task4 can I start a workflow from task3 giving the correct workflow inputs?"

[2020-10-03 21:02] conductor-boot opened #1910 "How to update workflow variables from a simple task ?"
Is it possible to update the value of a workflow variables from a simple task ? Without actually using a Set Variable task.

[2020-10-04 08:42] elisherer commented on #1910
No. Workers can only update tasks.
https://netflix.github.io/conductor/labs/beginner/#return-response-add-logs

It is best to use only Set Variable tasks to update the value of variables.

[2020-10-04 21:47] conductor-boot commented on #1910
Thanks

[2020-10-04 21:47] #1910 closed

[2020-10-05 15:07] rickfish commented on #1804
I just created PR #1911 for this. I am sure there will be lots of back and forth before it is accepted though.

[2020-10-06 03:46] andyyumiao opened #1912 "Build error in latest version"
**conductor git:(master) ./gradlew build -x test**
Starting a Gradle Daemon (subsequent builds will be faster)

Inferred project: conductor, version: 2.31.0-SNAPSHOT
Download https://jcenter.bintray.com/com/github/jknack/handlebars/maven-metadata.xml

FAILURE: Build failed with an exception.

* Where:
Build file '/Users/yumiao3/workspace/github/conductor/server/build.gradle' line: 9

* What went w

[2020-10-06 08:01] andyyumiao opened #1913 "params for failureWorkflow"
How does we pass on the parameters to the failureWorkflow? or does workflow definition support parameter for failureWorkflow？

[2020-10-06 08:22] vijchint commented on #823
Is zipkin available now?

[2020-10-06 12:13] tomasol opened #1914 "/api/tasks/queue/all sometimes excludes tasks belonging to task domains"
Since the `/api/tasks/queue/all` API is not documented here https://netflix.github.io/conductor/apispec/
I am just guessing it should be possible to obtain `PollData` for all queues. However reading https://github.com/Netflix/conductor/blob/d6b5ca91ab0e0bcc30772b9371a98286ddf87c9b/core/src/main/java/com/netflix/conductor/service/ExecutionService.java#L206 shows that queues with task domains are ac

[2020-10-06 18:49] cchristopherdxc commented on #351
C:\DXC\Software\conductor\server>../gradlew server
'..' is not recognized as an internal or external command,
operable program or batch file.

i installed gradle and tried to execute the above command to startup conductor server. but it fails
i tried run the server from root directory as below
C:\DXC\Software\conductor>gradlew server

Inferred project: conductor, version: 2.31.0-SNAPSHOT
Publicati

[2020-10-07 07:26] vamsibandarupalli opened #1917 "How to get DecisionTasks output with multiple tasks on a single decision case."
I looked into [EXCLUSIVE_JOIN](https://netflix.github.io/conductor/configuration/systask/#exclusive-join), it gives output of executed decision case where only single task present in each decision case.

Example:
In Exclusive_Join it is mentioned that,
  True: T1 -> T2 -> EJ; EJ will have T2's output.
  False: T1 -> T3 -> EJ; EJ will have T3's output.

My workflow is
 True: T1 -> T2,T3 -> EJ; I ne

[2020-10-08 15:20] jkaipa commented on #1917
[code]
means, all T2, T3, T4, and T5 are forked from a decision. So, your usage is not correct per what you are expecting.
If you want the output of T2, T3 together (I assume that T3 gets executed after T2 completes) you need to pass the output of T2 to T3 and hold all the values to pass on to join. In this case, you will do joinOn only on the tasks T3 and T5 per your scenario.

[2020-10-08 21:34] kishorebanala commented on #1868
Hey @ritu-p ,

EVENT task is not an async system task, meaning it will not be added to queue.. and hence the start delay wouldn't work for EVENT task.

This may not be related to DO_WHILE, but should be improved though. Feel free to open another issue with a proposal for adding start delay to all non-async system task(s).

[2020-10-08 21:39] #1904 closed

[2020-10-08 21:47] kishorebanala commented on #1892
Fixed in https://github.com/Netflix/conductor/pull/1895,  https://github.com/Netflix/conductor/pull/1899,

[2020-10-08 21:47] #1892 closed

[2020-10-08 21:54] apanicker-nflx commented on #1905
@mishika29 Workers are configured to execute specific task types and are not tied to the workflow executions. Please refer to the documentation [here](https://netflix.github.io/conductor/gettingstarted/client/) for how to use the java client. This is a [sample worker implementation](https://github.com/Netflix/conductor/blob/dev/client/src/test/java/com/netflix/conductor/client/sample/SampleWorker.

[2020-10-09 10:26] timpamungkas opened #1919 "Question : is conductor suitable for polling tasks that takes long time?"
Hi, I got an (oversimplified use case). Assume I have these tasks to be arranged :

1. submit data - HTTP task, call API to insert data
2. human approval, for submitted data. This should happened within 2x24 hours after data submitted, otherwise task is marked as timed out and send to "invalid" status
3. decision task - based on number 2 outcome (approved / rejected / timed out)
4. the other tasks

[2020-10-09 13:08] vamsibandarupalli commented on #1917
How to pass output of T2 to T3? If somehow we passed T2's output to T3 and reference "T3.output" in workflows outputParameter we will get both T2 and T3 whereas we are expecting only T3's output.

This representation may be wrong but I do need output of all the tasks that are executed in single decision case without sending one tasks output to other task.

[2020-10-09 16:10] jkaipa commented on #1917
[code]
Without passing one tasks output to another, you would not be able to get what you are looking for. Because, the total workflow execution is stateless. They are all completely distinct. Unless you piggyback the output from T2 to T3, you cant get the T2's output as part of your T3.

[2020-10-10 17:19] btafarelo commented on #1849
After a long time implementing other stuffs on the project I finally returned to conductor development in my project. This first subworkflow that I have commented doesn't exist anymore just because I gave up to use this feature when I don't have any HTTP taks inside it as this is the only way that makes the subworkflow return the ouput. Now I'm facing the same issue again. I made a subworkflow wit

[2020-10-11 09:37] btafarelo commented on #1849
After to add this task bellow on my subworkflow, I'm able to get its output on the parent flow. As you can see this task doesn't make any thing, it is just necessary to make the subworkflow return the result.

{
      "name": "Mock",
      "taskReferenceName": "Mock",
      "optional": "true",
      "type": "HTTP",
      "inputParameters": {
        "http_request": {
          "uri": "${workflow.i

[2020-10-12 19:10] shiftybits opened #1920 "Unable to build Server on WSL2/Ubuntu 18.04"
I'm following the getting started guide and I'm unable to build the in-memory server.

Here are my steps:

git clone https://github.com/Netflix/conductor.git -b v2.30.1 --depth 1
cd conductor
cd server
../gradlew server

I'm getting the following error:

FAILURE: Build failed with an exception.

* Where:
Build file '/mnt/c/dev/conductor/build.gradle' line: 12

* What went wrong:
An exception occur

[2020-10-12 20:18] shiftybits commented on #1920
I figured out the issue. I removed the --depth argument when cloning the repository.

[2020-10-12 20:18] #1920 closed

[2020-10-13 15:58] demichej commented on #1898
Unfortunately, this is more of a Docker/Gradle question than a Conductor question. Here's a SO question that is relevant: https://stackoverflow.com/a/50467205/115694

[2020-10-13 16:03] demichej opened #1922 "TaskRunnerConfigurer performance issue on server"
We were looking to migrate over to TaskRunnerConfigurer, but we noticed that there is no longer a concept of making the `batch` endpoint call. Instead, it appears that there's a polling thread 1:1 to a worker, and that polls the server for 1 task at a time.

It sounds like maybe this was done to avoid something like this: (https://github.com/Netflix/conductor/issues/694), but we have some concerns

[2020-10-13 21:29] demichej commented on #1913
I believe that the failureWorkflow has access to the input parameters to the workflow itself when starting the workflow.

[2020-10-13 23:23] apanicker-nflx commented on #1907
This is not supported. Would it help to break up your workflow into subworkflows if you only want a subset of tasks to be executed? The subworkflow (which is a separate workflow) could now be executed by itself.

[2020-10-13 23:40] kishorebanala commented on #1849
@btafarelo Looking at `"outputParameters": { "vsfd": "${RootJson.output.result}" }` in Workflow definition, What is the result of Task `RootJson`? If this task's output has an object `result` in the json, it should be populated to the Subworkflow output.

[2020-10-13 23:40] aravindanr commented on #1919
DECISION task supports as many cases as needed. https://netflix.github.io/conductor/configuration/systask/#decision, In the worker, the output of task 2 can be set as "time out" and task 3 can have a case for it. I am closing the question, but feel free to re-open if you need more information.

[2020-10-13 23:40] #1919 closed

[2020-10-13 23:47] kishorebanala commented on #1898
Closing this issue, please feel free to re-open if you have any further questions.

[2020-10-13 23:47] #1898 closed

[2020-10-13 23:51] apanicker-nflx commented on #1922
Can we get some insight into this decision

This is correct, this was done to address the issue where a polled task could be lost if the instance that polled for it is terminated before processing the task in addition to #694. Additionally, the startTime on the task is misleading because the task could be polled and held in the client-side queue but not actually started processing by a worker thre

[2020-10-14 00:07] apanicker-nflx commented on #1917
Also, consider the [SET_VARIABLE](https://netflix.github.io/conductor/configuration/systask/#set-variable-task) system task which may be helpful to your use-case here.

[2020-10-14 03:39] timpamungkas commented on #1919
The timeout should happened automatically after 48 hours. So is this long-window (48 hours) is suitable using conductor?

[2020-10-14 08:33] archthegit opened #1923 "unable to execute function that implements task using go client"
Hi I am using the go client. And as with the example I have a main.go file that starts workers for a task
[code]
I also have a login.go file with the task execution implementation
[code]

And then I registered this task by posting the task to http://localhost:8080/api/metadata/taskdefs
[code]
And then I run my workflow by posting the following  workflow to /api/metadata/workflow and then to /workf

[2020-10-14 21:10] IamManifold opened #1924 "Dynamic Fork Join Issue Netflix Conductor"
Trying to use the FORK_JOIN_DYNAMIC task in Conductor and I believe i'm having an issue with my data mapping or possibly the structure of it?

I keep looking at examples and the one other post on here (solved by saidatta) with the same problem but I must be missing something with the mapping.

WORKFLOW DEF:
[code]

OutputVideoFrames OUTPUT:
[code]

ERROR:
[code]

[2020-10-15 06:28] shiva-moorthy commented on #1905
@apanicker-nflx I could understand how this works. Does the python client behave the same way?
Also, I see that there is another possible implementation of worker. i.e, we can create a system task and call an API hosted on worker from this system task for triggering the task. The worker can then execute the task and update the conductor on status (COMPLETED, FAILED and so on) . Is this understandi

[2020-10-15 08:09] ketantalreja opened #1925 "ES 6 index mapping issue for type: task"
Hi All, I am using Netflix conductor v2.27.2 with ES 6.4.3 configuration as below -

workflow.elasticsearch.instanceType=external

Transport address to elasticsearch
workflow.elasticsearch.url=es:9300

Name of the elasticsearch cluster
workflow.elasticsearch.index.name=conductor
workflow.elasticsearch.version=6
workflow.elasticsearch.tasklog.index.name=task

And I am getting error below when I am

[2020-10-15 08:18] ketantalreja opened #1926 "Parse/convert invalid json output from ES search index query to valid json object"
Hi All, I am using Netflix conductor v2.27.2 with ES 5.x configuration as below -

workflow.elasticsearch.instanceType=external

Transport address to elasticsearch
workflow.elasticsearch.url=es:9300

Name of the elasticsearch cluster
workflow.elasticsearch.index.name=conductor

And I am getting below output when performing a search query on ES 'conductor' index,

Here is the output I get from /con

[2020-10-15 16:21] willqiao opened #1927 "Is that possible to make ES6/ES5 module configurable?"
Hi Conductor team,

I understand how we switch the ES6 and ES5 currently, by using the same "ElasticSearchModule" class presented in both es6 and es5 dependency jar file. Is that possible to make it configurable like how we hook up with other modules? By changing following logic a little bit, maybe using String value of a class name to create the module?

The reason that we request this is, we are

[2020-10-17 13:41] james-deee commented on #1922
@apanicker-nflx thank you for the response.

Yeah we'll have to have batching available for us if we are going to move to `TaskRunnerConfigurer`. I haven't really dived into the code as of it, but will it be relatively trivial to know how many available workers there would be when it's time to poll again? If so then that would be pretty easy to add batching there i would think.

[2020-10-19 13:45] rickfish commented on #1767
@apanicker-nflx do you have a timetable for 3.0?

[2020-10-19 22:14] aravindanr commented on #1906
1. There are two major issues we have with Dynomite as workflow execution store that motivated us to migrate to a different data store:
Dynomite cannot be scaled horizontally without downtime, which limits the number of conductor instances we can have and the amount of data we can store. Dynomite doesn't provide transaction support for multiple writes across different data structures, this causes

[2020-10-19 23:33] apanicker-nflx commented on #1914
@tomasol We are considering refactoring the API to obtain PollData for **all** queues. From the feedback that we have collected from our users, we see that as a task owner, users are primarily interested in the PollData for specific tasks across all domains. The `/tasks/queue/polldata?taskType=<INSERT_TASK_NAME_HERE>` API satisfies this requirement and is more streamlined.
Could you please comment

[2020-10-19 23:36] apanicker-nflx commented on #1913
As noted by @james-deee , failure workflow has access to input parameters for the workflow.
[This](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/WorkflowExecutor.java#L757-L776) is the complete input to the failure workflow. It includes the workflowId, status, reason, workflow input.

[2020-10-19 23:36] #1913 closed

[2020-10-19 23:38] apanicker-nflx commented on #1923
@tartale As a user and contributor to the go client, can you please help answer this question?

[2020-10-19 23:42] aravindanr commented on #1919
Yes. that should be fine. The timeout can be set to any value as the use-case demands.

[2020-10-19 23:49] apanicker-nflx commented on #1905
@shiva-moorthy The python client is a community contribution and is maintained by the OSS community. However, I believe it does honor the same contracts as that of the java client.

As opposed to SIMPLE tasks which are implemented by a worker, System tasks are executed by the Conductor server. Please refer the [documentation](https://netflix.github.io/conductor/gettingstarted/basicconcepts/#system

[2020-10-19 23:50] aravindanr commented on #799
@anuraggupta Java 11 support is in our roadmap, but it's not high on the list. We are curious to know what you plan to get out Java 11 support in Conductor?

[2020-10-19 23:57] apanicker-nflx commented on #1927
@willqiao The ES6 module is currently published as a shadowJar to avoid dependency conflicts with ES5 which is the default ES version in conductor 2.x
When we upgrade Conductor to the next major version 3.x, we plan to make ES6 as the default and remove ES5.

[2020-10-20 00:00] apanicker-nflx commented on #1767
@rickfish We are currently re-designing the architecture for Conductor and this is one of the features of highest importance that we are factoring into the design. We expect to rollout and early version of this by early 2021.

[2020-10-20 00:00] aravindanr commented on #1922
@james-deee [TaskRunnerConfigurer.init](https://github.com/Netflix/conductor/blob/master/client/src/main/java/com/netflix/conductor/client/automator/TaskRunnerConfigurer.java#L186-L195) schedules a poll for each worker. Instead of that, there could be one poller which contains a `Semaphore` with permits matching the `threadCount`. The `pollAndExecute` method can be modified to acquire a permit fro

[2020-10-20 11:52] vamsibandarupalli opened #1928 "TERMINATE workflowOutput not overriding the outputParameters in workflow."
I have a basic workflow which have one decision task, for decision when first condition is met I have TERMINATE task, on all other conditions I want to execute some other tasks.

For TERMINATE tasks "workflowOutput", I'm giving some static string output. And for workflows "outputParameters" key, I've given other tasks output.

When TERMINATE task is executed, I'm expecting just the static output t

[2020-10-20 15:33] tartale commented on #1923
@apanicker-nflx - Hi!  I'd love to help but have moved on from the project that was working with Netflix conductor and I haven't used it in awhile, so I don't think I could help troubleshoot

[2020-10-20 15:51] iamandicip opened #1929 "Number representation problem in URI's"
I am running version 2.31.0.

I have the following scenario in my workflow:
- HTTP task A returns an integer as response (e.g. 12345)
- HTTP task B uses the response from task A to form the URI it will call

The problem is that, when composing the URI for the second task, there is a decimal point added to the number, which makes the URI invalid.
Instead of calling URI `http://www.amock.io/api/iama

[2020-10-20 18:03] iamandicip commented on #1929
I found a workaround to this issue.
I changed my web service to return `{"taskId" : "12345"}` instead of `12345`.
Now, when composing the url, I am using `${get_task_id.output.response.body.taskId}` and it's not adding the `.0` to the id.

It seems that when passing data between tasks, it's a good idea to keep it encapsulated in JSON objects, instead of passing it as primitives.

[2020-10-22 08:20] ketantalreja commented on #1925
@kishorebanala, @apanicker-nflx  could you please have a look into this issue, and provide your inputs?

Thanks,
Ketan

[2020-10-23 15:53] TwoUnderscorez opened #1934 "Deploying Conductor with HA and DR in mind"
Hi, I'm trying to wrap my head around how one should deploy Conductor.

I would like to deploy the Conductor as active-active across 3 k8s clusters. That is, I would like to have the same amount of all workers in 3 different k8s clusters.
My 2 goals are:
1. Have the workload distributed as much as possible across 3 AZs
2. Be able to recover from an AZ failing. Not just restarting, but completely g

[2020-10-23 23:24] #1816 closed

[2020-10-26 23:41] apanicker-nflx commented on #1928
@vamsibandarupalli Thanks for reporting this. Upon initial investigation, it seems that the `outputParameters` in the workflow definition will overwrite the workflow output that was set from within the TERMINATE task.
Please feel free to submit a PR with the fix if you need this immediately, else we will fix this in a future release.

[2020-10-26 23:42] apanicker-nflx commented on #1923
@anuccio1 / @djcass44 could you please help with this issue?

[2020-10-26 23:47] #1929 closed

[2020-10-26 23:53] apanicker-nflx commented on #1925
@ketantalreja Are you using the index templates provided within the ES modules? Both es5 and es6 modules provide their own mappings for the ES indices tailored to the ES versions. These may not be cross-compatible.

[2020-10-27 00:32] apanicker-nflx commented on #1934
Because of the limitation imposed by dyno-queues, you would need to install dynomite in 3 AZs alongwith the Conductor server in 3 AZs. However your workers and the scheduling microservice(I assume you use this to start workflows) need not be in all of the AZs as long as the interaction between Conductor and your workers/scheduling service is done using a DNS resolver and not using instance IPs.

[2020-10-27 01:39] mrthankyou opened #1936 "Security Policy (VDP)?"
Hi,

If security researchers discover any security vulnerabilities within the conductor application, where should the bug report be submitted to? Through Netflix's Bugcrowd program? On github? Via secure email?

Thanks!

[2020-10-27 08:40] djcass44 commented on #1923
@archthegit looks like you're using an older version of the Go client. There were some fixes introduced recently, can you try updating?

[2020-10-27 15:33] TwoUnderscorez commented on #1934
@apanicker-nflx assuming my scheduling microservice shards my workload properly, could I set the dyno queues to `localOnly` and basically have each AZ do 1/3 of the work? (Each AZ has it's own set of workers that'll be polling only from the local to them conductor, what I've explained above)

[2020-10-27 16:29] mdepak opened #1937 "Support for Rollover Elasticsearch indexing"
**Overview:**
Conductor uses elasticsearch for indexing workflows, tasks, and other documents. This leads to a pile-up of data in elasticsearch and reduces the indexing performance with increased latency.
One solution is to search for the older data periodically and delete the documents from the elasticsearch. But this approach does not work for high throughput scenarios, where several thousands o

[2020-10-28 04:01] archthegit commented on #1923
Hi @djcass44 it still doesnt work with the newer version of the client, the workflow just times out still. However, when I comment out the continue in this block of code in conductorworker.go the workflow runs successfully. Am I creating my workflow wrong ?
[code]

[2020-10-28 14:43] marosmars commented on #1934
Hey @TwoUnderscorez

We have recently been investigating HA deployment of conductor + dynomite too.
Long story short, we have decided to move away from dynomite as a primary database in favor of RDBMS  (MySQL or PSQL).
The deployment difficulties and operational aspects of dynomite were just not worth it (also considering it is no longer actively maintained).

Comparing performance of Dynomite vs

[2020-10-29 04:42] TwoUnderscorez commented on #1934
@marosmars thanks for sharing!
I'll definitely check out patroni and RDBMS persistence.
By the way, according to #1763 dynomite is still being maintained.

[2020-10-29 05:55] djcass44 commented on #1923
Looks like I missed a bit when I last updated the client. @apanicker-nflx can you take a look at #1942

[2020-10-29 08:00] marosmars commented on #1934
@TwoUnderscorez thanks for sharing info regarding dynomite. But the activity in dynomite seems very low (just 3 PRs merged during 2020). And also, I believe netflix is no longer using dynomite as the backend for conductor ... at least not for the queues.

[2020-10-30 06:18] HenryLauu opened #1943 "don't terminate forked task when one of them fail"
I have a dynamic fork task where generates several tasks. When one of them failed, all other tasks are terminated. Is there any possible to keep other task running utils all task finish?

[2020-10-30 06:22] #1943 closed

[2020-10-30 06:22] HenryLauu commented on #1943
duplicate #1101

[2020-10-30 07:06] HenryLauu commented on #1101
hi @apanicker-nflx . Any suggestions or document reference about how to check the status of forked task with lambda task?

[2020-10-30 16:46] yamuna2511 opened #1944 "Unable to get current task id when a workflow is retried"
I am trying to pass task id of current HTTP task to the api in the request body using ${CPEWF_TASK_ID}. This works for the first task instance. If this task fails and retried manually, new task id gets generated but this ${CPEWF_TASK_ID} still contains first task id. Please help how to pass the latest task id

Workflow definition:
{
    "createTime": 1594656285069,
    "name": "WF1",
    "descript

[2020-10-30 20:41] muralicmr commented on #353
Hi @picaron - did you figure out what is poll count and if its possible to configure this/limit this to 1?

[2020-10-31 00:48] picaron commented on #353
Hi @muralicmr
no sorry I havent used Conductor in 2 years
maybe you should open a new issue

[2020-10-31 14:25] bhawani021 opened #1946 "error while running command -> $ docker-compose up"
Tried multiple times getting same error.
[code]

[2020-11-02 08:55] TwoUnderscorez opened #1949 "Dyno-queues are no longer maintained"
Hi,

I noticed this on [dyno-queue](https://github.com/Netflix/dyno-queues)'s README.md;

Which is used with the Dynomite persistence layer, which is the default.
How does this affect deployment recommendations?
Will the Dynomite persistence layer become obsolete?

[2020-11-02 10:00] wixaw commented on #1946
I have same probleme with  an other project, i think is an error with openjdk or gradle,  i follow this

[2020-11-02 14:33] TwoUnderscorez opened #1950 "WorkflowStatusListener for timed out workflow"
We are using the `DynoQueueStatusPublisher` for scheduling workflows, which implements the `WorkflowStatusListener` interface, but from what I've seen, timed out workflows don't seem to trigger it. Is that on purpose? If so, would you consider to either add a method to the interface for timed out workflows or count timed out workflows as terminated?
https://github.com/Netflix/conductor/blob/d38bdd

[2020-11-02 14:58] TwoUnderscorez opened #1951 "Register multiple WorkflowStatusListeners"
We are using the `DynoQueueStatusPublisher` for scheduling workflows, but we would also like to use the [Archiving Module](https://netflix.github.io/conductor/server/#1-enable-archiving-module), when enabling both of them I get an error saying that a class is already bound to `WorkflowStatusListener` either here
https://github.com/Netflix/conductor/blob/2aae31cff1a3cf4c304cf937deaf4152081cce08/con

[2020-11-02 19:18] TwoUnderscorez commented on #1907
@ritu-p How about [events](https://netflix.github.io/conductor/configuration/eventhandlers/#event-task)?

[2020-11-02 21:28] rmohta opened #1952 "go client: No Domain when polliing for task"
When using go client with an empty string domain, it's creating below GET call, which I think Conductor server does not like. Removing *domain=&* from the call works for polling. Is this is a known bug?

[code]

Go client
github.com/netflix/conductor/client/go v0.0.0-20201029170655-6bce3912d3ce

[2020-11-02 22:57] rmohta opened #1953 "Suggestion: Publishing conductor-spi module"
Extending Conductor per https://netflix.github.io/conductor/extend/ page means we have to import the Conductor code and then build on top of that. Even though Conductor is quite extensible, this approach would not be maintainable when trying to bring conductor within an Enterprise World.

I would suggest we publish a Maven Jar (conductor-spi or similar) with required interfaces to be implemented o

[2020-11-03 19:32] james-deee commented on #1806
@mdepak and @apanicker-nflx can someone respond to @rickfish about this?

We are seeing some odd behavior around Conductor events not getting processed correctly either, and I'm wondering if this is what we are hitting as well.

[2020-11-03 19:53] rickfish commented on #1806
I never did hear back from @mdepak. This is most definitely a problem for
us (not sure why nobody else has reported it) and we have fixed it in our
Conductor codebase. Our solution was to change (in DynoObservableQueue)
this:
Observable<Long> interval = Observable.interval(pollTimeInMS, TimeUnit.
MILLISECONDS, scheduler);
to this:
Observable<Long> interval = Observable.interval(pollTimeInMS, TimeU

[2020-11-03 20:06] james-deee commented on #1806
@rickfish thanks. Yeah I dont understand how no one is hitting this either. Maybe just not a lot of events being used? But it's 100% a problem. We can confirm we were seeing the same thing as you.

Thanks, we'll try your suggestion with the Schedulers.io()

[2020-11-04 08:07] AnnsPhilip commented on #1137
@kishorebanala We are using V2.29.0 release with Redis. Still we are facing issues. Subworkflow is completed but main workflow is still in running state. Is there any configuration to be added or am I missing anything?
![subworkflow](https://user-images.githubusercontent.com/65964511/98084586-0ad1f800-1ea2-11eb-8c1e-549e661c6d18.PNG)
![MainWorkflow](https://user-images.githubusercontent.com/659645

[2020-11-04 08:53] AnnsPhilip opened #1955 "Subworkflow got COMPLETED but main workflow is still in RUNNING state"
We are using V2.29.0 release with Redis and Elasticsearch. We are facing issue after executing workflow. Subworkflow is completed but main workflow is still in running state. Is there any configuration to be added or am I missing anything?
![subworkflow](https://user-images.githubusercontent.com/65964511/98089771-3c9a8d00-1ea9-11eb-9e30-d7df3e85864e.PNG)
![MainWorkflow](https://user-images.githubu

[2020-11-04 10:16] snaik789 opened #1956 "CVE reported for netty-3.2.2.Final.jar in conductor version v2.30.1"
CVE reported for netty-3.2.2.Final.jar in  conductor version v2.30.1. (conductor-zookeeper-lock & test-harness)
Can you please provide the fix for CVE issue.?

**CVE  detail -**

CVE-2014-3488 | The SslHandler in Netty before  3.9.2 allows remote attackers to cause a denial of service (infinite loop and   CPU consumption) via a crafted SSLv2Hello message.
-- | --
CVE-2015-2156 | Netty before 3.9.8

[2020-11-04 20:56] james-deee commented on #1955
Are you manually marking the "task" as completed in anyway? I think that if you just mark the Subworkflow task as COMPLETED, that doesn't mark the subworkflow completed in any way.

[2020-11-04 22:20] apanicker-nflx commented on #1937
@mdepak Thank you very much for write-up. While rollover indices do help, the problem with maintaining the indices here is that workflows can run for an arbitrary amount of time (seconds to months). In these cases, it is not possible to drop older indices based on a fixed time interval. As stated in your proposal, updates to documents refresh the age of a document within an index and deleting such

[2020-11-04 22:23] #1923 closed

[2020-11-04 22:39] apanicker-nflx commented on #1944
@yamuna2511 This behavior does not look correct. I have marked this as a bug for now. We will try to reproduce this and push out a fix in a later release. Please feel free to submit a PR with the fix in the meantime.

[2020-11-04 22:39] kishorebanala commented on #1949
@TwoUnderscorez We were working on a transition plan from dyno-queues to another default Queue implementation.

For the short term, We'll mark the dyno-queues implementation in Conductor as deprecated as well, and add a disclaimer for the same in read me. Please explore other Queueing implementations like MySQL or Postgres.

For the long term, most likely in Conductor v3, we'll port over the defau

[2020-11-04 22:45] mdepak commented on #1806
@rickfish Apologies for the delay. I have verified using the scenario that you mentioned and it seems to be a problem when the number of threads in the scheduler is less than the number of event types.
I will send the PR shortly to restore the previous behavior without this newly added config. After that, I will try to dig into the RxScheduler implementation to understand the root cause of why Exe

[2020-11-04 23:33] apanicker-nflx commented on #1936
Please report security vulnerabilities through the Netflix Bugcrowd program.

[2020-11-04 23:33] #1936 closed

[2020-11-04 23:34] apanicker-nflx commented on #1956
Please report security vulnerabilities through the Netflix Bugcrowd program.

[2020-11-04 23:34] #1956 closed

[2020-11-05 04:04] imaffe commented on #1807
Yeah I'm also wondering if we could add a Helm Chart directory for k8s users. Seems that Netflix is working mainly on EC2 but not k8s clusters. I couldn't find an official guide on how to properly deploy conductor on k8s clusters, and if someone know I would
appreciate it if you can leave a comment~ thank you ~

[2020-11-05 06:39] HenryLauu opened #1957 "JOIN tasks get stuck in IN_PROGRESS status"
I have a workflow with dynamic fork followed by join, the join task stays in IN_PROCESS after all forked task were finished.

[2020-11-05 07:07] AnnsPhilip commented on #1955
No. Each subworkflow task is linked to worker and when worker completes automatically task status changes to completed.

[2020-11-05 07:09] ketantalreja commented on #1925
@apanicker-nflx  I am using as-is ES template provided by ES module. Basically, my requirement is to get the workflow/task execution data from ES, and since ES 6, you cannot have more than one type of mapping for same index, there is no task execution data available when you call api ``` http://<host>:<port>/conductor/_search``` in elasticsearch. Also, the other issue related to this is https://gi

[2020-11-05 09:20] imaffe opened #1958 "Roadmap for fast/high-throughput execution workflow"
Our team is searching for a workflow execution engine that can orchestrate chains of microservice calls with less than 100ms overhead and can support 1k execution per second (on single machine). This engine are very likely to become sort of integration layer of many hidden microservice and is aimed at processing very large volume of requests/events (perhaps 100k per second).

I looked at AWS Step

[2020-11-05 14:06] james-deee commented on #1955
Hmmm. Alright, well we haven't experienced this yet on the latest version, sorry I don't have a better answer. You could try debugging the server.
________________________________
From: AnnsPhilip <notifications@github.com>
Sent: Thursday, November 5, 2020 1:07:53 AM
To: Netflix/conductor <conductor@noreply.github.com>
Cc: Jamie DeMichele <demichej@hotmail.com>; Comment <comment@noreply.github.com

[2020-11-05 19:25] mrthankyou commented on #1936
Thank you for the help!

[2020-11-05 21:54] rickfish commented on #1806
@mdepak thank you

[2020-11-06 07:16] imaffe opened #1960 "Mismatched parameter naming for IsolationGroup"
In IsolatedTaskQueueProducer
[code]

It gets the name for the isolated task by calling QueueUtils.getQueueName(with the following order
- taskType
- null (domain)
- isolatedTaskDef.getExecutionNameSpace()
-  isolatedTaskDef.getIsolationGroupId()

But the signature of QueueUtils.getQueueName is like

[code]

The order of `isolationGroup` and `executionNameSpace` is swapped.

I think this might caus

[2020-11-06 08:30] imaffe commented on #1957
Can you provide some configuration files (include the workflow + task definitions) and perhaps some logs ? Thanks so much ~

[2020-11-06 12:13] AnnsPhilip commented on #1955
Yes @james-deee We are trying to debug the server

[2020-11-06 15:47] mdepak commented on #1937
@apanicker-nflx Thanks for the feedback. I will ensure this feature is controlled by the config.

[2020-11-06 16:22] michaelpaliy opened #1961 "Metadata APIs return 500 instead of 409/404 when using Postgres"
We started to use Postgres instead of Dynomite and found some incorrect response codes when using the Metadata API.

Trying to create workflow that already exists:
[code]
Trying to delete workflow that not exists:
[code]

logs:
[code]

https://github.com/Netflix/conductor/blob/master/postgres-persistence/src/main/java/com/netflix/conductor/dao/postgres/PostgresBaseDAO.java#L127
It looks like it ca

[2020-11-09 06:48] AnnsPhilip commented on #1955
@james-deee Is there any Redis queue size configuration? Am getting below warning in logs
18995820 [pool-21-thread-1] WARN  com.netflix.dyno.queues.redis.RedisDynoQueue  - cannot add d728a994-4f9c-41e3-902a-12dd6ff36827 to the unack shard conductor_queues.test.UNACK._deciderQueue.c

[2020-11-09 10:09] andrea11 opened #1963 "Lock system causes slowness issues"
Hello all, we are currently using Conductor as mono-instance. Because of some issues with tasks executed twice, we have decided to use the Lock mechanism as suggest in the user guide/documentation to see if it was effectively solving it. We decided to use the [LocalOnlyLock](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/utils/LocalOnlyLock.java).

H

[2020-11-09 15:07] AnnsPhilip commented on #1955
Below is the config.properties file configuration used by Netflix conductor
# Servers.
conductor.jetty.server.enabled=true
conductor.grpc.server.enabled=false

# Database persistence model.  Possible values are memory, redis, and dynomite.
# If ommitted, the persistence used is memory
#
# memory : The data is stored in memory and lost when the server dies.  Useful for testing or demo
# redis : non

[2020-11-10 00:36] kishorebanala commented on #1955
@AnnsPhilip Can you please provide the Subworkflow and Workflow state and logs, when the subworkflow is completed.

Upon subworkflow completion, the subworkflow task should be marked completed. And, if the subworkflow task is the last task in parent workflow, it should complete as well.

If the subworkflow task is not being updated on Subworkflow completion, it'd help to debug if there are any err

[2020-11-10 00:48] kishorebanala commented on #1950
Hey @TwoUnderscorez, Can you provide an example where the `WorkflowStatusListener` is invoked for other terminal workflow states, but not for TIMED OUT workflow please? Looking through the execution path for WorkflowStatusListener, I couldn't trace any gaps for when this would fail to be invoked for TIMED OUT workflows.

[2020-11-10 00:59] aravindanr commented on #1961
hi @michaelpaliy, thanks for logging the issue. Sending the right status codes is important, please create a PR with the fix.

[2020-11-10 00:59] #1961 closed

[2020-11-10 01:00] kishorebanala commented on #1963
@andrea11 Apparently, the Semaphore implementation in LocalOnlyLock is not re-entrant, which explains the delays in obtaining the lock and thus evaluating the workflows. Replacing Semaphore with Java's `import java.util.concurrent.locks.ReentrantLock` might resolve this issue. Marking this as a bug, but if you're blocked by this and could get to this before us, please evaluate and send us a PR. Th

[2020-11-10 02:24] apanicker-nflx commented on #1951
Currently, only one implementation of the WorkflowStatusListener can be plugged in. In order to enable both, you would need to create your implementation where you invoke both these listeners.

[2020-11-10 06:34] TwoUnderscorez commented on #1949
Thanks

[2020-11-10 06:34] #1949 closed

[2020-11-10 06:44] TwoUnderscorez commented on #1951
@apanicker-nflx Is it possible to enable multiple listener registrations? Is there any reason you wouldn't want to have all the status listeners be called one after the other in an order specified by the user? What is the correct/preferred pattern for implementing that? (I can open ap pr)

[2020-11-10 07:28] TwoUnderscorez commented on #1950
Yes sorry, it works properly. Timed out workflows go to the terminated queue. The problem was probably  the network issues we were experiencing, which is the reason workflows were timing out in the first place.

[2020-11-10 07:28] #1950 closed

[2020-11-10 07:39] nsargar opened #1964 "Dynamic Subworkflow is getting stuck in IN_PROGRESS status and tasks won't get scheduled"
We have workflows with following structure,
W1 : T1....Tn
W2 : T1(W1) -> T2 [W1 is added as subworkflow]

So in batch processing we are triggering many (issue faced at 300+ calls) workflows simultaneously in 2-3 sec duration
We have found some (20-30) workflows (W1) stuck in RUNNING state
After 3600+ secs task T1 of W2  gets TIMED_OUT and thus W2 gets TIMED_OUT, but workflow W1 is still in IN_PROG

[2020-11-10 07:57] AnnsPhilip commented on #1964
@nsargar Is it similar to issue: https://github.com/Netflix/conductor/issues/1955

[2020-11-10 08:11] AnnsPhilip commented on #1955
@kishorebanala Attaching main workflow and subworkflow screenshots. Order_608655315960955689 is main workflow which is in RUNNING state and CREATE_SUBSCRIBER_INS is task(it is a subworkflow) which is in IN-PROGRESS state.
We had added a trigger from subworkflow class(on IN-PROGRESS and COMPLETED/FAILED of subworkflow) to our application to update subworkflow status in our table, in logs we are abl

[2020-11-10 08:46] nsargar commented on #1964
Issue is with Tasks are not being picked for execution or not being updated.

@AnnsPhilip In your case subworkflow completes and parent workflow stucks, in my case it's opposite. Please confirm

[2020-11-10 10:00] AnnsPhilip commented on #1964
@nsargar Are you using worker? what is the thread count while registering task?

[2020-11-10 10:15] nsargar commented on #1964
got the logs at server
[WARN ] 2020-11-09 12:22:04,197 RedisDynoQueue - Cannot get the message payload 0160d380-a73a-4eeb-b022-0d058638f8fd
Where 0160d380-a73a-4eeb-b022-0d058638f8fd is the task T1 id of W2

[2020-11-10 10:16] nsargar commented on #1964
Yes 100 thread count, for 24 workers

[2020-11-10 10:56] luffy1727 opened #1965 "Cannot get cyrillic text from inputData"
[code]
So I am providing my workflow with the data above, but my python worker cannot comprehend the cyrillic text "ёдаааааааааааааааааа" and replacing it with "?".
I have already tried encoding the task input data but it is still showing as ? both in the UI and on my CLI.
Is this a python issue or a conductor issue?

[2020-11-10 10:58] AnnsPhilip commented on #1964
If TPS is more try increasing the threadCount. Also you can add retryCount and retryDelay while registering worker.

[2020-11-10 11:48] HenryLauu commented on #1957
{
   "taskType": "JOIN",
   "status": "IN_PROGRESS",
   "inputData": {
      "joinOn": [
         "202009190001",
         "202009280001",
         "202009280002",
         "202009280003",
         "202009280004",
         "202009180005",
         "202010090006",
         "202010120007",
         "202010130008",
         "202010200002",
         "202010200005",
         "202010200006",
         "2

[2020-11-10 11:48] HenryLauu commented on #1957
poll count is zero but status is in progress

[2020-11-10 11:49] HenryLauu commented on #1957
the task completed after i restart conductor server

[2020-11-10 12:47] rickfish opened #1966 "Security vulnerabilities in many of Conductor dependencies"
Just so you know, there are security vulnerabilities in many of the Conductor dependencies. Since our company blocks the download of any that have these problems, I have got to add overrides for all of these in order to allow the build to happen. Below is the block I put in all the build.gradle files. Not all overrides are required in all modules but it is easier to use one block for all of them.

[2020-11-11 01:28] pweatherby-ccctc commented on #1849
I am using release v2.30.1 of conductor. I too am experiencing a similar issue in which the output of a subworkflow is not bubbling up to the parent workflow. My issue is also solved by adding a temp/mock/stupid http task as the first tasking within the subworkflow. This indicates to me that there is a race condition present; that the subworkflow is completing too quickly. by adding a http call, i

[2020-11-11 09:16] AnnsPhilip commented on #1955
@kishorebanala  Any update based on my last comment?

[2020-11-11 10:02] nsargar commented on #1964
@kishorebanala Can you please check the description

[2020-11-12 00:57] james-deee commented on #1965
@luffy1727 what's your backing datastore? Mysql? Postgres? Something else?

[2020-11-12 01:01] james-deee commented on #1922
Thanks @aravindanr, if the Netflix is unable to get to this, we can try and take a look in the future; but I would imagine this is something that could be a breaker for people on Mysql + Postgres.

[2020-11-12 06:02] luffy1727 commented on #1965
Currently MySQL

[2020-11-12 08:32] andrea11 commented on #1963
Thank you @kishorebanala for your quick reply. I tried to simply replace the semaphore with the ReentrantLock, as you suggested. However, I think that this is not working fine, because of the mechanism to release lock in the future: today, whenever you request a lock with a release timeout, there is a thread that is scheduled to release it in the future. However, with reentrantLock, you cannot rel

[2020-11-12 15:39] james-deee commented on #1965
@luffy1727 I think you'll need to ensure 2 things. By default, mysql can be using something like latin-1 for its characterset.

You can change the character set of existing DBs and tables like this
[code]

Also, you need to make sure that your jdbc connection has `&characterEncoding=UTF-8` as a parameter for its connection.

This won't fix ones already in the DB, but it should fix new ones.

[2020-11-12 23:01] pweatherby-ccctc opened #1968 "Conductor Client External Payload swallows errors when unauthorized"
When using S3 External Payload Storage; If the client-side External Storage is turn on and triggered per the payload size configurations, the client will retrieve, from the conductor server, a pre-signed AWS url to PUT/upload the task input/output payload against.

If however, the credentials used by the client do NOT have access to the particular bucket, the AWS api endpoint will return a 403 Una

[2020-11-13 07:54] luffy1727 commented on #1965
Thank you, it worked

[2020-11-13 07:54] #1965 closed

[2020-11-13 15:11] andrasfe opened #1969 "change JerseyModule to extend AbstractModule"
JerseyModule currently does not extend AbstractModule. As a result, we cannot replace it with GUICE to add our custom filters (e.g. an authorization filter).

[2020-11-16 17:46] leynae opened #1971 "Use workflow.createTime"
Hi,
I need to send the creation date of my instance to a REST API via HTTP task. I have the following workflow definition:

{
  "name": "test",
  "description": "test",
  "version": 1,
  "ownerEmail": "dev@xxxx.com",
  "workflowStatusListenerEnabled": true,
  "schemaVersion": 2,
  "failureWorkflow": "workflow_error",
  "inputParameters": [
    "workunitId"
  ],
  "tasks": [
    {
      "name": "se

[2020-11-16 23:13] aravindanr commented on #1971
Unfortunately, Workflow _createTime_ is not one of the fields that is available. The available fields can be found in [ParametersUtils](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/ParametersUtils.java#L79-L93). Feel free to submit a PR to introduce a new field `createTime` whose value will be `Workflow.getStartTime()`.

[2020-11-16 23:13] #1971 closed

[2020-11-16 23:13] kishorebanala commented on #1059
@mohelsaka This should've been fixed now. Please feel free to re-open if you have further questions or concerns.

[2020-11-16 23:13] #1059 closed

[2020-11-16 23:15] kishorebanala commented on #1584
Closing this issue as it hasn't been active for a while now. Please feel free to re-open if you still have questions or concerns.

[2020-11-16 23:15] #1584 closed

[2020-11-16 23:15] aravindanr commented on #1969
If you trace the hierarchy, `JerseyModule` does extend from `AbstractModule`. JerseyModule -> JerseyServletModule -> ServletModule -> AbstractModule.

[2020-11-16 23:15] #1969 closed

[2020-11-16 23:15] apanicker-nflx commented on #1952
@djcass44 Could you please help with this potential issue in the go client? Thank you.

[2020-11-16 23:19] kishorebanala opened #1972 "UI fails to render Workflows with inline subworkflow definition"
In #1651, the ability to use inline definitions for subworkflows has been introduced. However, UI tries to fetch the workflow definition for subworkflow task, ignoring the inline definition, causing the workflow to be failed to render.

Update UI logic to ignore fetching subworkflow definition, when inline definition is used.

[2020-11-16 23:28] apanicker-nflx commented on #1953
@rmohta Thanks for the suggestion. We are currently working on Conductor 3.0 within which we will be introducing the SpringBoot framework to Conductor. Once we achieve full feature parity in this effort, we will look into the extensibility story and making it easier to integrate.

[2020-11-16 23:28] aravindanr commented on #1968
Good catch. I have marked it the issue as a bug for now. If you are able, please submit a PR for the fix.

[2020-11-16 23:42] aravindanr commented on #1966
We typically fix vulnerabilities pointed out by GitHub's Dependabot alerts. In this case, it seems like your company's rules are stricter or different. Since you are already running Conductor with these dependencies, it makes sense to upgrade them in the master branch so others could benefit as well. Please create a PR with these upgrades.

[2020-11-16 23:42] #1966 closed

[2020-11-16 23:45] apanicker-nflx commented on #1807
@imaffe I would suggest creating a separate issue for the k8s question so that other users have better visibility into it and can help you out if using a similar setup. I would also suggest you to post this question in our gitter channel for more visibility.

[2020-11-16 23:45] apanicker-nflx commented on #1807
Closing this for now, please post the k8s as a separate question.

[2020-11-16 23:45] #1807 closed

[2020-11-16 23:53] apanicker-nflx commented on #1926
The `output` in this ES document is being written because this is the stringified version of `outputData` from the task. This conversion is being applied [here](https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/run/TaskSummary.java#L123-L125).

If you want to write this as json instead, I would suggest implementing your own [IndexDAO](https://github

[2020-11-16 23:53] #1926 closed

[2020-11-16 23:57] apanicker-nflx commented on #1925
The UI does not directly fetch data from the ES indices. It interacts with the API which will co-ordinate fetching results from the workflow and task indices (in ES6) and forming a workflow object with all the corresponding tasks embedded within it. The `/workflow/search` API on the server does this by first fetching the documents from ES and then hydrating the data from the primary datastore.

[2020-11-16 23:57] #1925 closed

[2020-11-16 23:57] aravindanr commented on #1958
Can you elaborate on the "single machine" part? Why it has to be on a single machine?

This sounds very similar to GraphQL.

Conductor can be scaled to the level that you are looking for provided you pick the right dependencies. For this volume, Redis could be chosen and if persistence/auditing are not a concern, indexing (Elasticsearch) can be disabled. If its single machine, a `LocalOnlyLock` co

[2020-11-17 00:07] apanicker-nflx commented on #1960
@imaffe Thanks for reporting this issue. I have labeled this as a bug and we will push out a fix for this soon.

[2020-11-17 00:08] kishorebanala commented on #1955
@AnnsPhilip From what you've mentioned, it looks like the Subworkflow's complete workflow logic is stopping [here](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/WorkflowExecutor.java#L683), and thus the subsequent workflow status listener is not invoked.

I couldn't trace why the `updateParentWorkflowTask` call if failing from the logs you

[2020-11-17 00:13] kishorebanala commented on #1964
@nsargar Having retries and timeouts on subworflow task helps, but do note that it will create a new workflow on each retry. I'd also check why the task in subworkflow is being stuck in scheduled state for a long time before doing that. It it highly likely the task message is stuck in inconsistent state in the queue, and avoiding those in queuing service would also avoid tasks being stuck in sched

[2020-11-17 00:19] aravindanr commented on #1922
@james-deee I have marked this as an enhancement and we will try to address it as part of our Conductor 3.0 effort. This is less of a problem internally for us since we don't use MySQL or Postgres.

[2020-11-17 00:21] aravindanr commented on #1946
@bhawani021 Is this still an issue? `docker-compose up` works as expected and the stacktrace looks like a network issue.

[2020-11-17 00:29] kishorebanala commented on #1963
@andrea11 Good point!

How do you suggest doing this?

[2020-11-17 00:36] kishorebanala commented on #1849
@pweatherby-ccctc Thanks for helping trace the root cause. I'll reproduce and prioritize a bugfix asap.

[2020-11-17 00:56] #1960 closed

[2020-11-17 00:59] apanicker-nflx commented on #1951
This is not supported.

The primary reason to not do this would be the failure scenarios that would arise from chaining multiple listener implementations. Apart from this, how failures need to be handled in each of these would be different for different use-cases. This would mean additional complexity that is introduced into the project when it could be differed to the implementer.

As mentioned e

[2020-11-17 00:59] #1951 closed

[2020-11-17 03:27] imaffe commented on #1958
Thanks your answer is helping us a lot

No what I mean is on average each machine can handle 1k request. (Perhaps many many more machines~)

Yeah I disabled all possible databases and elasticsearch,  I saw some improvements and are still exploring on other parameters~

[2020-11-17 03:39] imaffe commented on #1958
Do you know how to disable es ? I set async.index.enable=true, so it is not writing task state updates synchronously to the es, not sure if this is the right way to do it~

[2020-11-17 06:04] imaffe commented on #1958
Alsi, I'm wondering if we can set the jetty thread pool size. I read from Jetty documentation that the minthread = 8and max thread = 200, we might want something higher than that number.

[2020-11-17 09:54] MingningShao commented on #1689
1.It seems that Conductor do not registered with an Eureka server currently. you can do it by yourself, like deploy an eureka server and then register the conductor;
2.A new eureka based worker will work if you want service discovery;
3.It's a necessary function(service discovery) since we are orchestrating micro-services.

[2020-11-17 13:12] rickfish commented on #1966
Unfortunately our environment is much different than Netflix as we are not using AWS or other components that you use. Testing would be impossible.

[2020-11-17 15:39] AnnsPhilip commented on #1955
@kishorebanala Thank you for the reply. We had added IN-PROGRESS trigger to our application at end of start method and COMPLETED trigger at the end of execute method of class [this](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/tasks/SubWorkflow.java). As per our observation before IN-PROGRESS trigger completes, execute method got executed

[2020-11-17 20:02] ravisund opened #1974 "Workflow Details/Data in Elastic Search Index is out of sync"
Hi,
   I had setup a conductor instance, created  few sample workflow definitions and created workflows. When called the search API (e.g. /api/workflow/search?size=100&query=status%3D'RUNNING'), it is returning the workflows which are not matching the criteria.
In my example, i searched for all workflows in RUNNING state. But the results contain couple of workflows in PAUSED state.
1) I am using e

[2020-11-18 08:56] nilesh-sargar-tavisca commented on #1964
Thanks @kishorebanala , any pointers where I can check task in subworkflow stuck in inconsistent state, any particular log or part of code you can point out so I can check the logs around it? I am not that much familiar with Conductor codebase, but your pointer may help me start with. Thanks again

[2020-11-18 16:53] ranjeetkowel commented on #1547
Hey @kishorebanala , I was trying to figure out what could be wrong with this code and observed the following:

As you mentioned,

the Http task does not go into the `IN_PROGRESS` state and thats what is causing a problem. However, this behavior is observed in both `mysql-persistence` as well as `redis-persistence` modules.

I observed that in the `exceedsInProgressLimit` method of `MySQLExecution

[2020-11-18 19:40] danteoh opened #1975 "Starting Local Server for Demo Purposes Fails"
I was trying to set up a basic Conductor instance locally following the docs here:  https://netflix.github.io/conductor/architecture/.

When running the `../gradlew server` command, I get the following error:

`
FAILURE: Build failed with an exception.

* Where:
Build file '/Users/dteoh/src/conductor/build.gradle' line: 12

* What went wrong:
An exception occurred applying plugin request [id: 'neb

[2020-11-18 19:48] danteoh commented on #1975
This also fails the same way on `docker-compose up`

[2020-11-19 05:54] djcass44 commented on #1952
@apanicker-nflx I've implemented a possible fix in #1976, are you able to take a look?

[2020-11-19 15:31] gokul-intellect opened #1977 "conductor 2.x redis issue"
When I try to execute a workflow, there is one specific task which keeps executing in the while loop (because it is in SCHEDULED state) for such a long period of time.
I could see the following msg in the logs:
**cannot add (my-workflow-id) to the unack shard (namespace-prefix).(stack).UNACK._deciderQueue.c**

I doubt that I'm missing some conductor 2.x specific configuration.

And also it will be

[2020-11-19 17:03] cesar-moya commented on #1363
@sakim-hooda @apanicker-nflx Hi guys, we're facing this same limitation, was the PR ever merged? otherwise, could you share what configurations need to be done on elastic to be able to retrieve more than 10 entries? - Thanks.

[2020-11-19 18:34] rmohta commented on #1953
@apanicker-nflx Do you have planned roadmap for Conductor 3.0? Interested in trying it out

[2020-11-23 17:44] btafarelo opened #1980 "Conductor get task from previous iteration on loop when it is combined with IF"
Hi.

I did a loop task quite complex, with fork, conditions, variables, etc:

![image](https://user-images.githubusercontent.com/3848106/99995887-4f72f400-2dbb-11eb-8eee-5803217c9c5c.png)

So, when the IF (CONDITION TASK) get different paths/routes amoung the iterations, the tasks from one path from a previous iteration are available to the current iteration.

It can be checked in the interface as

[2020-11-23 17:49] btafarelo commented on #1849
Hi guys, sorry but I don't get any alert from this thread or maybe from any thread in this repository. Can I provide something to help?

[2020-11-23 19:58] jun-he opened #1981 "Conductor supports multiple error types"
Currently, conductor treats all errors as one type and then increase the retry count if feasible to retry.
In some use cases, users want to differentiate errors with different types (e.g. user error, platform failure, etc.) and then set different retry policies accordingly.

[2020-11-24 03:39] HenryLauu commented on #1957
@alexnetflix would you pls assign someone to figure out what's going on ? I had this issues several times

[2020-11-24 10:23] smurakozi opened #1982 "How to use a dynamic subworkflow?"
According to the [doc of SubWorkflow](https://netflix.github.io/conductor/configuration/systask/#sub-workflow) the workflow parameter "Allows starting a subworkflow with a dynamic workflow definition.". This is the solution that andyyumiao recommended to [make dynamic fork serializer](https://github.com/Netflix/conductor/issues/1588).

I see how you can inline a workflow def but I have no clue how

[2020-11-24 12:35] btafarelo opened #1983 "I can't visualize all my flow due lack of scroll"
I have a big flow that can't be shorted as conductor is unable do handle subflows inside loops.

So, in Firefox, when I'm browsing my flow I'm not able to visualize all the steps but it was possible to take a screenshot of everything with Firefox screenshot tool.

I have 3 more items after the last visible step.

![image](https://user-images.githubusercontent.com/3848106/100094518-74b63f80-2e59-11

[2020-11-24 12:38] btafarelo commented on #1983
Sorry, just after past the flow I could see the last items were moved to the top, may some mistake, but it is complete anyway.

[2020-11-24 12:38] #1983 closed

[2020-11-24 16:04] sukruthiarjula commented on #1849
Hi ,

I have fixed the issue and raised the PR https://github.com/Netflix/conductor/pull/1984 .

@btafarelo @kishorebanala @pweatherby-ccctc

[2020-11-25 09:40] yutaodou commented on #1812
Also remember to setup property : `conductor.additional.modules=<your-binding-module>` in your config file

[2020-11-25 14:51] Raman077 commented on #1814
`com.netflix.conductor.common.workflow.SubWorkflowParamsTest > testWorkflowDefJson FAILED
    org.junit.ComparisonFailure at SubWorkflowParamsTest.java:119`

Has anyone resolved this issue?

[2020-11-26 11:07] muralicmr commented on #1977
Hi @gokul-intellect - If you are not setting up conductor in HA mode, you can try if "workflow.dyno.queue.sharding.strategy=localOnly" helps.

source: https://netflix.github.io/conductor/technicaldetails/#alternative-solution-to-distributed-decide-evaluation

[2020-11-30 23:54] apanicker-nflx commented on #1958
ES can be disabled by setting the property `workflow.indexing.enabled` to false.

Configuring the size of the jetty threadpool is not currently supported, however, this can be added. If this is something that is of value to you, please feel free to open a PR to make these configurable in the jetty server.

[2020-12-01 00:07] aravindanr commented on #1982
SubWorkflows can be "dynamically" created as you expect. The workflow def in your example wasn't using the interpolation correctly. The following should work,

[code]

[2020-12-01 00:13] aravindanr commented on #1980
Please post the workflow definition in its entirety for us to analyze it. The posted snippet does not contain a `JOIN` task. If the "false" path is highlighted when it should be "true", it most likely is a user error.

[2020-12-01 00:14] apanicker-nflx commented on #1974
@ravisund This is odd, the behavior that you have listed above is expected when you have async indexing enabled. This is because in this case, workflow updates (status changes, etc) are only indexed when the workflow moves to a terminal state. However, you mention that async indexing is not enabled in your case. Could you please double-check this? Also, I would recommend you to try to debug the se

[2020-12-01 00:20] aravindanr commented on #1977
@gokul-intellect Please clarify if you are using the in-memory Redis implementation or connecting to an external Redis server?

[2020-12-01 00:37] #1952 closed

[2020-12-01 00:38] kishorebanala commented on #1964
@nilesh-sargar-tavisca This would be a good start: https://netflix.github.io/conductor/faq/#my-workflow-is-running-and-the-task-is-scheduled-but-it-is-not-being-processed.

You could also check the task message in relevant queue directly to see the status of the message, and if there's any polling activity.

[2020-12-01 00:39] apanicker-nflx commented on #1363
@cesar-moya Please configure this property `tasklog.elasticsearch.query.size` as seen [here](https://github.com/Netflix/conductor/blob/90ab0ba34a678755d6de8b253da4a808b34d545d/es5-persistence/src/main/java/com/netflix/conductor/elasticsearch/ElasticSearchConfiguration.java#L78)

[2020-12-01 00:42] apanicker-nflx commented on #1953
@rmohta The early 3.0 version is being implemented in this [branch](https://github.com/Netflix/conductor/tree/3.0). As can be seen, it is currently a port over from the Guice based project to the SpringBoot version. This is under active development and we will continue to make changes/tweaks in this branch until it is ready to published.

[2020-12-01 00:48] kishorebanala commented on #1955
Hey @AnnsPhilip, I'm not sure I follow.. Is this any custom code / call back to Sub-workflow's `start` that get's in the way of execution?

[2020-12-01 01:06] aravindanr commented on #1975
Both `../gradlew server` and `docker-compose up` work as expected. Could you run `../gradlew server --stacktrace` and post it here? The issue might be in the `NebulaBintrayPublishingPlugin `.

[2020-12-01 04:40] gokul-intellect commented on #1977
closing this issue as it occurred because one of my custom tasks was not registered and everything works as expected after registering it

[2020-12-01 04:40] #1977 closed

[2020-12-01 12:54] beatfreaker commented on #1972
@kishorebanala created PR [#1989](https://github.com/Netflix/conductor/pull/1989) to fix this issue.

[2020-12-01 18:41] hiren-intellectdesign opened #1990 "ES and Redis data migration scripts from v1 to v2"
Does Conductor provide any migration scripts for moving from v1.x to v2.x ?

Conductor v1 has already been running in our environments since long time and has created huge dataset in Redis and Elasticsearch over a period. Now, if we have to migrate to newer Conductor version (v2.x), then where can we find information/scripts about data migration to be followed? Are there any breaking change in the

[2020-12-01 23:43] pchowdad opened #1991 "Conductor metrics using Prometheus"
We're looking to monitor the performance of conductor servers and workers in our production environment. The documentation lists some of the metrics that are published from the servers and workers. We did check the https://netflix.github.io/conductor/metrics/server/ we don't want to over load the ES so we opt out Publish or Collect metrics. We are planing to use Prometheus for metrics. I see Condu

[2020-12-02 01:30] ravisund commented on #1974
@apanicker-nflx thank u for getting back.
In my case, i noticed this for few workflows only. when a transition happens for that out-of sync workflow (e.g. when i resumed a workflow from PAUSED state), the index was updated.

because those workflows were in paused state for many months (this is a test setup). I will update this thread if this issue happens again.

[2020-12-02 01:30] #1974 closed

[2020-12-02 01:51] ravisund opened #1992 "WorkflowSearch shall return Workflow instead of WorkflowSummary"
Currently Conductor workflow search API is returning https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/run/WorkflowSummary.java  .  The WorkflowSummary is a stripped down version of https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/run/Workflow.java .

The issues is... the data types in WorkflowSummar

[2020-12-02 22:52] pchowdad commented on #600
Thank you for sharing. Wondering why this is not merged to master yet. Do we have any other approach?

[2020-12-04 05:41] #1928 closed

[2020-12-05 19:41] techyragu commented on #1955
@AnnsPhilip Is this issue resolved ?

[2020-12-07 10:18] AnnsPhilip commented on #1955
@techyragu @kishorebanal Issue got solved after removing IN-PROGRESS trigger code. @kishorebanala @james-deee Thank you for the support.
Closing the issue.

[2020-12-07 10:18] #1955 closed

[2020-12-07 18:58] trayo opened #1995 "Vulnerability in ClientBase.java CWE 117 Log Forging"
https://github.com/Netflix/conductor/blob/954c9a8dfd6a478747c8d95d108ebf1162451bb3/client/src/main/java/com/netflix/conductor/client/http/ClientBase.java#L257

I'm creating this issue to track a log forging vulnerability being report by a couple of security scans in ClientBase.java on the line linked to above.

The vulnerability is [CWE 117](https://cwe.mitre.org/data/definitions/117.html).

[2020-12-08 00:07] apanicker-nflx commented on #1957
@HenryLauu can you please provide your workflow definition to help us recreate this issue? Thanks.

[2020-12-08 00:10] aravindanr commented on #1995
CWE-117 states,

I am guessing the relevance of that here is the response from the server. Is that correct?

[2020-12-08 00:12] aravindanr commented on #1992
@ravisund the current search api is consumed by the UI. It does make sense to return Workflow instead of WorkflowSummary. If it's of urgent need for you, please create a pull request with a new but similar api that returns the Workflow object.

[2020-12-08 00:25] apanicker-nflx commented on #1849
Closing since #1984 is merged

[2020-12-08 00:25] #1849 closed

[2020-12-08 00:29] aravindanr commented on #1991
Conductor publishes its metrics through [Spectator](https://github.com/Netflix/spectator). See [Monitors.java](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/metrics/Monitors.java#L39). We don't recommend adding Prometheus directly to the Conductor project. However, there is nothing stopping you from doing a custom build of Conductor which includes Promet

[2020-12-08 00:29] #1991 closed

[2020-12-08 00:34] aravindanr commented on #1990
There are no changes in the data structures that Redis uses. However support for ES2 was dropped in 2.x. Unfortunately, we don't provide any migration scripts. A list of changes in 2.x can be found in this [blog post](https://netflixtechblog.com/evolution-of-netflix-conductor-16600be36bca).

[2020-12-08 00:34] #1990 closed

[2020-12-08 02:25] trayo commented on #1995
Yes. The fix is generally to have some sort of sanitization like ensuring that there are no `/n` newlines or `/r` carriage returns.

[2020-12-08 08:49] #1914 closed

[2020-12-08 16:22] raghavendra-bhat opened #1997 "PostgreSQL persistence: Unable to shard 'queue_message' table using Citus"
I am using PostgreSQL and trying to shard the tables using Citus extension on PostgeSQL. I have hit a road block as I am unable to shard 'queue_message' table (which I believe is the 'queue_name' column is the table that needs to be distributed in the Postgres cluster or have I erred here?). I get the below error when I try to distribute the table

postgres=# SELECT create_distributed_table('queue

[2020-12-09 01:46] apanicker-nflx opened #1999 "Test issue"

[2020-12-09 02:08] HenryLauu commented on #1957
Sorry I can paste the workflow here because of business constraints. Buy you can reproduce this problem by retrying a failed dynamic fork join workflow.

[2020-12-09 05:51] aravindanr commented on #1995
Understood. We won't be able to get to it anytime soon. If you are inclined, a PR is greatly appreciated.

[2020-12-09 05:52] #1975 closed

[2020-12-12 07:02] bhawani021 opened #2006 "Errror while running conductor 3.0 beta with postgresDB"
[code]

I am using in my properties file

db=postgres

[2020-12-12 10:06] xumyselfcn opened #2007 "Do-While may case OOM"
some information:
1. exec a workflow within a do-while task.
2. do-while task need loop 200+ times.
3. vmopthion is -Xmx2500m -Xms1500m

then oom comes...

I think workflowExecutor.decide() deep recursive call is the reason of OOM. below is a simplified call logic.

![image](https://user-images.githubusercontent.com/1269523/101980887-b04b6900-3ca3-11eb-9d0c-ebfb2aeceb8f.png)

**1. each state chang

[2020-12-12 21:11] conductor-boot opened #2008 "Workflow Execution Archival - Unexpected Behavior"
Hi,

Started Conductor with

conductor.additional.modules | com.netflix.conductor.contribs.ArchivingWorkflowModule

I created a workflow with below definition (pasted at the end of the content).
It has **workflowStatusListenerEnabled as true**.
I **triggered workflow execution** and before it could complete, I terminated the execution.
Then I **archived the execution**. The execution was still sho

[2020-12-13 09:46] bhawani021 commented on #2006
[code]

[2020-12-13 10:50] bhawani021 commented on #2006
settings in properties file

[code]

When I run conductor it will create schema in postgresDB and will close connection.

[2020-12-14 10:35] bhawani021 commented on #2006
8832 [main] ERROR org.springframework.boot.SpringApplication [] - Application run failed
org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'flyway' defined in class path resource [org/springframework/boot/autoconfigure/flyway/FlywayAutoConfiguration$FlywayConfiguration.class]: Unsatisfied dependency expressed through method 'flyway' parameter 1; nested

[2020-12-14 10:50] HenryLauu commented on #1957
@apanicker-nflx I think this is a serious bug, may I know who is the main contributor to this ?

[2020-12-14 12:59] ritu-p commented on #1890
I have used a decision task within a do-while loop I want to access the output of a previous task within the do while loop.
The task ref names come like this taskA__1 .How do I access this in the decision task

[2020-12-15 00:38] kishorebanala commented on #1997
Hey @mactaggart, @marosmars Is this something you can help with? Thanks!

[2020-12-15 00:46] #1968 closed

[2020-12-15 00:54] kishorebanala commented on #1957
@HenryLauu IN_PROGRESS is the default state for JOIN task, when it starts it's lifecycle (because it is a synchronous system task), which answers why the poll count is 0.

The execute logic of JOIN task is rather simple, which verifies if the task should reach terminal state on each run: https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/tasks/

[2020-12-15 00:57] kishorebanala commented on #1890
@ritu-p would this help? https://github.com/Netflix/conductor/issues/1890#issuecomment-701441358

[2020-12-15 01:00] HenryLauu commented on #1957
I am absolutely sure about this issue, here is how to reproduce:
1) define a dynamic fork join workflow
2) failed one of the forked task, the join task turns to CANCELLED
3) retry the workflow, join task turns to IN_PROGRESS, all forked tasks complete but join task always stays IN_PROGRESS, the listener is working on in until i restart the conductor server

[2020-12-15 01:01] apanicker-nflx commented on #2008
@conductor-boot Archiving a workflow means that it will be removed from the primary datastore and will only be available in the secondary datastore (elasticsearch). This helps keep the primary datastore datasize in check.

Since these workflows are persisted in the ES index, these workflows will be available to be returned from the search endpoints and also for restart/retry operations.

Regarding

[2020-12-15 01:05] apanicker-nflx commented on #1957
Thanks for the steps, we will try to reproduce this issue and fix this soon. In the meantime, we would also welcome a PR with the fix if you get to this sooner. Thanks.

PS. Labeling this as a bug for visibility.

[2020-12-15 01:49] jeremy-l-ford opened #2010 "Example client reports ClientHandlerException when receiving octet-stream media type"
When the sample client found in client/test source executes, a ClientHandlerException is thrown.  The Spring rest controller for task polling is returning a null task which seems to be interpreted by Spring to result in a media type of octet-stream instead of application/json.

To avoid this issue, the server could return a ResponseEntity and force the media type to be json.  Another option might

[2020-12-15 04:39] ssg2526 opened #2011 "Conductor response taking long time to return the workflowid after inititating a workflow"
when I keep running the conductor for a long time (approx a month for my case), It suddenly starts delaying the response. the error is that i get is as following -

Operation 'indexWorkflow:Indexing workflow document: dc4abbc0-1395-4af3-adfd-65fac4b53898' failed after retrying 3 times, retry limit 3
ClusterBlockException[blocked by: [SERVICE_UNAVAILABLE/2/no master];]
	at org.elasticsearch.cluster

[2020-12-15 11:15] mehmet-islamoglu opened #2012 "Retry Mechanism in SubWorkflow"
We are using a **sub workflow** in our main workflow. When this sub workflow fails **retry mechanism** restarts it from the first task of the sub workflow.

We want to utilize **retry mechanism** in a way so that we can **start immediately from the failed task of the subworkflow** like how it would happen in a retry mechanism in the **parent** workflow.

How can we achieve this?

Thank you very mu

[2020-12-15 16:39] safat commented on #1995
Hello @aravindanr, I would like to work on this.

Hello @trayo, can you tell me which scanner reported this warning and how to use it? I would like to know how I can validate the fix.

[2020-12-15 18:00] trayo commented on #1995
The source code scanners we use are [WhiteSource](https://www.whitesourcesoftware.com/) and [Fortify](https://www.microfocus.com/en-us/products/static-code-analysis-sast/overview). I can't really tell you how to use them because they were set up internally for us and run against our code when we deploy.

[2020-12-16 03:39] safat commented on #1995
Thank you @trayo , I will setup WhiteSource or Fortify locally.

[2020-12-16 08:43] josephrjd commented on #282
Hi,

Is this still in road map, I am finding this very useful while designing generic workflows and sub-workflows.
If there is any workaround for timeout parameter, let the thread know, I am trying to use something similar

Regards,
Joseph Joshy

[2020-12-17 15:28] mactaggart commented on #1997
@raghavendra-bhat I've not used Conductor with Citus, however, I suggest trying the 'id' column instead of 'queue_name' since it's the primary key. Other tables also use 'id' as the primary key, so they could be sharded by id as well. Let me know if that works.

[2020-12-18 10:43] raghavendra-bhat commented on #1997
@mactaggart Nope, using 'id' also has the same issue as it needs to be part of unique key constraints.

_postgres=# SELECT create_distributed_table('queue_message', 'id');
ERROR:  cannot create constraint on "queue_message"
DETAIL:  Distributed relations cannot have UNIQUE, EXCLUDE, or PRIMARY KEY constraints that do not include the partition column (with an equality operator if EXCLUDE)._

[2020-12-21 05:11] andyyumiao opened #2014 "CONFLICT BACKEND_ERROR"
I used the latest version v2.30.4 and use mysql as my default storage, but got error below:

[INFO ] 2020-12-21 13:09:20,426 MySQLQueueDAO - CONFLICT BACKEND_ERROR
[INFO ] 2020-12-21 13:09:20,450 MySQLQueueDAO - CONFLICT BACKEND_ERROR
[INFO ] 2020-12-21 13:09:20,466 MySQLQueueDAO - CONFLICT BACKEND_ERROR
[INFO ] 2020-12-21 13:09:20,483 MySQLQueueDAO - CONFLICT BACKEND_ERROR
[INFO ] 2020-12-21 13:0

[2020-12-21 08:34] andyyumiao opened #2015 "startDelay not work for sub workflow in dynamic workflow?"
1、As title, 'startDelay' not work in dynamic workflow(all with sub workflow in it)?  I want lazy start sub workflow in dynamic workflow...
2、does sub workflow support the param 'timeoutSeconds'?

[2020-12-21 14:27] HenryLauu opened #2016 "Mixed usage of multiple persistent implements"
We have lots of task and workflow definitions which were store in mysql. for performance purpose, we are planning to use redis as backend queue . Is it possible to use mysql for definitions and redis for queue? Any suggestions would be helpful.

[2020-12-22 00:34] kishorebanala commented on #2012
Copying over my response from Gitter here:

[code]

[2020-12-22 00:40] apanicker-nflx commented on #2010
Assuming that you are running into this issue in the 3.0 branch, thanks for reporting this.

This is because of the difference in behavior between the response from Spring's tomcat layer v/s the Jetty server used in the Guice implementation in 2.x
To fix this, you would need to add logic similar to the `/tasks/taskId` [endpoint here](https://github.com/Netflix/conductor/blob/3.0/rest/src/main/java

[2020-12-22 00:40] #2010 closed

[2020-12-22 00:43] aravindanr opened #2017 "Provide more granular configuration options to choose DAO implementations"
Currently the DAO (MetadataDAO, QueueDAO, ExecutionDAO) implementations are chosen by one property called _**db**_.  This prevents users from picking different implementations for different purposes. For instance, executions could be stored in Cassandra, but queue could be MySQL.

One approach is to provide a configuration property for each DAO interface.

[2020-12-22 00:44] #2012 closed

[2020-12-22 00:45] aravindanr commented on #2016
It is possible but it can't be accomplished using configuration. It requires code changes. You can fork the code and create your own Guice module and wire in any implementation of the DAOs as needed. Also, note that we are undergoing a transition from Guice to Spring Boot and we are planning to make the DAO selection more granular in that version.  If you are inclined, the issue is [here](https://

[2020-12-22 00:45] #2016 closed

[2020-12-22 00:48] apanicker-nflx commented on #2011
Hi @ssg2526 from the exception stack trace posted above, it seems to be failing to index documents in elasticsearch.
Please note this section which signals a possible connection issue with the ES cluster that you are using.

[code]

[2020-12-22 00:48] #2011 closed

[2020-12-22 00:54] kishorebanala commented on #282
@josephrjd We couldn't get to prioritizing this over other features in Conductor 2.0 or 3.0; If you have bandwidth to help with this, Please feel free to open a Github issue with a proposal to get the ball rolling. Thanks!

[2020-12-22 01:05] aravindanr commented on #2014
MySQLQueueDAO is a contribution and we don't use or maintain it. A brief look at the code is pointing us to a SQLException when polling for a message in [MySQLBaseDAO](https://github.com/Netflix/conductor/blob/master/mysql-persistence/src/main/java/com/netflix/conductor/dao/mysql/MySQLBaseDAO.java#L209-L215). It would have been helpful if the SQLException was logged somewhere.

This is likely beca

[2020-12-22 01:12] apanicker-nflx commented on #2006
@bhawani021 Thanks for reporting this issue. This is caused by the FlywayAutoConfiguration which SpringBoot instantiates because flyway is on the classpath. You would want to disable this by setting `spring.flyway.enabled:false` similar to how it is done in the [test here.](https://github.com/Netflix/conductor/blob/3.0/test-harness/src/test/java/com/netflix/conductor/test/integration/grpc/postgres

[2020-12-22 01:12] #2006 closed

[2020-12-22 10:36] HenryLauu commented on #1957
Hi @apanicker-nflx @kishorebanala I am trying to figure out what's going on here. It seems that the Workflow Executor does not keep monitoring the JOIN task. any suggestion about further investigation?

[2020-12-22 14:58] bhawani021 opened #2019 "Conductor 3.0 -> what configuration is required to connect with Standalone Redis server instance"
I have shared Redis instance (standalone remote). I need help in understanding configuration so that Conductor 3.0 can connect to Redis DB.

While connecting with DB conductor is throwing error
[code]

[2020-12-22 15:16] safat commented on #1995
To update,
I've signed up for a trial version of WhiteSource to test the fix, expecting to get the installation files and setup guidelines soon from the WhiteSource.

[2020-12-23 01:33] bhawani021 commented on #2019
Configuration
[code]

DB connection
[code]
Error
[code]

[2020-12-23 10:56] HenryLauu commented on #1957
update: I used zookeeper as distributed lock before. everything goes well after removing lock.

[2020-12-24 05:14] HenryLauu opened #2020 "Push task to workers rather than poll repeatly"
We have thousands of tasks most of which are executed once a day. These workers keep polling task 24-hours , Any consideration in conductor 3.0 to allow using push mechanic?

[2020-12-24 08:38] dcore94 commented on #2020
That would be great even if I suspect it could be a major architectural change with impact on many aspects.... anyway if this really becomes a possibility, please, consider lightweight solutions like web-hooks or websockets and not bloated old-fashioned RPC paradigms ... thanks a lot!

[2020-12-24 08:46] azb96 opened #2021 "Execution problems due to mandatory ownerEmail value"
ownerEmail value in Workflow and Task objects should be optional. Otherwise it creates problems with existing workflows on master branch. @kishorebanala

[2020-12-24 11:09] mehmet-islamoglu commented on #2021
Thank you @azb96 for creating this issue. We are also facing problems in this regard.

[2020-12-28 03:28] RileyMichael commented on #2021
There is a property you can override so that it's not mandatory: https://github.com/Netflix/conductor/blob/86d3c1ee690b636b20726843d6dfa9adf822e854/core/src/main/java/com/netflix/conductor/core/config/Configuration.java#L122-L123

[2020-12-28 12:56] mehmet-islamoglu commented on #2012
Thank you for the feedback @kishorebanala

I will go ahead and create a Pull Request with my colleagues @grkn @azb96

[2020-12-28 13:25] mehmet-islamoglu commented on #2012
I created two PRs to dev and master for this issue.

I can't re-open the issue and move the issue to backlog->TO-DO, so checks on my PRs are failing. Can you please help me with this problem?

@v1r3n
@apanicker-nflx
@kishorebanala
@jfernandez

[2020-12-28 13:37] mehmet-islamoglu opened #2026 "Retry Mechanism in SubWorkflow continued"
This is issue is continuing the following issue: #2012

The related PRs are here:
#2025 #2024

[2020-12-28 13:38] mehmet-islamoglu commented on #2026
@apanicker-nflx
@kishorebanala
@v1r3n
@jfernandez

[2020-12-28 14:10] mehmet-islamoglu commented on #2026
I created two PRs to dev and master for this issue.

I can't re-open or move the previous issue to backlog->TO-DO, so checks on my PRs are failing.

That's why I decided to open this new issue, which is a continuation of my previous issue.

How should I proceed with my contribution/PR at this point?

@v1r3n
@apanicker-nflx
@kishorebanala
@jfernandez

[2020-12-31 07:56] aravindanr commented on #2019
@bhawani021 Please get the latest from `3.0` and set

[code]

See [CHANGELOG.MD](https://github.com/Netflix/conductor/blob/3.0/CHANGELOG.md) for the new property names.

[2021-01-01 01:51] #2021 closed

[2021-01-01 02:01] #1999 closed

[2021-01-02 01:28] jeremy-l-ford commented on #2019
I think a condition needs to be added to the AnyRedisCondition class to handle the new redis_standalone db type.  Also, I think the dynomite one should be removed.

[2021-01-03 09:39] heinrichcohn opened #2030 "ES7 support"
@apanicker-nflx
Hi

I have implemented the ES-persistence module for ES7.
It based on ES6 implementation with a few changes due to the significant breaking changes made in Elasticsearch from version 6 to 7.

**Main Changes:**

1. Mapping Types - Since these are now deprecated, i changed all API calls to use the new format. Templates json files were updated accordingly
2. Template API was changes t

[2021-01-03 14:00] heinrichcohn commented on #2030
PR create:
https://github.com/Netflix/conductor/pull/2031

[2021-01-04 12:59] azb96 commented on #2026
@apanicker-nflx @kishorebanala @aravindanr @jfernandez @mehmet-islamoglu can you please guide us forward with the process?

[2021-01-04 14:20] TwoUnderscorez opened #2032 "Are MySQL Events working?"
Hi,

Are MySQL events working? When following the instructions [here](https://netflix.github.io/conductor/labs/eventhandlers/#create-workflow-definitions) everything works as expected, but when adding:
[code]
then starting `test_workflow_for_eventHandler2` the event works, it turns green, but the `test_workflow_startedBy_eventHandler2` does not start. Am I missing something?

Thanks.

[2021-01-05 00:23] aravindanr commented on #2019
Good catch. `redis_standalone` is added to `AnyRedisCondition` in an upcoming PR. Why do you think `dynomite` should be removed?

[2021-01-05 00:28] apanicker-nflx commented on #2020
Thanks for the suggestions, this is on the long-term roadmap for Conductor task execution.
As @dcore94 mentioned above, this would involve major architectural changes and would need a smooth migration strategy for the clients. There is definitely a major value-add but given the prerequisite work needed and the other items on the roadmap, I imagine we will not get to this in the first half of 2021.

[2021-01-05 00:29] aravindanr commented on #2032
In the [example](https://netflix.github.io/conductor/labs/eventhandlers/#create-workflow-definitions), there is no workflow called `test_workflow_startedBy_eventHandler2`. Do you have the right workflow name in the "actions" of the event handler?

[2021-01-05 00:32] kishorebanala commented on #1957
@HenryLauu From your comment above: https://github.com/Netflix/conductor/issues/1957#issuecomment-744927453,
is there any chance the WorkflowExecutor is unable to obtain the lock from Zookeeper after retry?

[2021-01-05 00:38] aravindanr commented on #2030
@heinrichcohn Thanks for taking the time to do this PR. Would you mind creating a `es7-persistence` module for 3.0? We migrated to `es6-persistence` to 3.0 which can be seen [here](https://github.com/Netflix/conductor/tree/3.0/es6-persistence). You can follow the same procedure to migrate this for 3.0 as well. Note that 3.0 will be the future and 2.x will be deprecated soon.

[2021-01-05 02:34] jeremy-l-ford commented on #2019
Sorry.  Misread something.  Looks like that would still be needed.

[2021-01-05 04:56] TwoUnderscorez commented on #2032
@aravindanr You might have misunderstood me. I know there isn't  a `test_workflow_startedBy_eventHandler2`, but I've defined one, and it's just like the one in the example and therefore it should work. Shouldn't it?

[2021-01-05 07:02] kdohyeon opened #2033 "Subworkflows in Scheduled"
Hello,
I have a question related with 'sub-workflows'.

I am running a workflow that contains a sub-workflow.
I recognized that the sub-workflow gets 'scheduled' before it gets run.
The thing is that the sub-workflow stays in the 'scheduled' state for like 30 seconds or more.

I would like to know a method that starts the sub-workflow right away.
<img width="896" alt="스크린샷 2021-01-05 오후 4

[2021-01-05 07:07] heinrichcohn commented on #2030
@aravindanr  No problem, i'll create an additional PR for 3.0 branch containing es7 support. Until then can we merge  this PR to 2.x.
In another future PR i will update remaining rest calls to use the the high-level rest client only. ( I'll add those changes to 3.0 as well)

[2021-01-05 08:24] smurakozi commented on #1982
@aravindanr thanks for your answer.

I tried to create a workflow with the tasks you provided, but I get the same error message:
`"INTERNAL_ERROR - Cannot construct instance of `com.netflix.conductor.common.metadata.workflow.WorkflowDef` (although at least one Creator exists): no String-argument constructor/factory method to deserialize from String value ('${create_batches.output}')\n at [Source:

[2021-01-05 13:03] sanyamsidana commented on #2032
Using POSTGRES,

I am facing similar issue,
the messages are present in **queue_message** Table, with **popped** column as _false._

[2021-01-05 19:01] mehmet-islamoglu commented on #2026
@aravindanr @apanicker-nflx We will be updating the PR as requested by @kishorebanala. Could you please move this issue to backlog->TO-DO so that we can pass the PR checks?

[2021-01-05 22:12] morbeleg commented on #2032
The same goes here, using Postgres and Conductor internal events.

I'm using Postgres(11) persistence and also tried it out with the example provided here
https://netflix.github.io/conductor/labs/eventhandlers/ still couldn't succeed. The second workflow never starts. I just checked the database it looks fine to me. (Queue messages are written etc.)

However, I have another version of an event han

[2021-01-06 04:01] WavyPeng commented on #1870
Have you solved this problem? I also met this, so sad

[2021-01-06 05:41] TwoUnderscorez commented on #2032
We're also using @morbeleg 's workaround but it's kind of ugly and therefore would like for this to be marked as a bug so it can be eventually fixed.

[2021-01-06 10:20] azb96 opened #2037 "testWorkflowDefJson failure on dev and master branches"
We are trying to contribute conductor project but testWorkflowDefJson test fails without interacting to our code. After running the master branch we found out that it fails either way(both on dev and master branches). Can you fix this problem? Test is on SubWorkflowParamsTest.java class.

[2021-01-06 12:00] mehmet-islamoglu commented on #2037
Thank you @azb96. This test failure is causing the build to fail.

[2021-01-06 12:44] azb96 opened #2039 "Pull rate limit problem"
Hello we are trying to contribute to your project but due to  docker compose up fail we can't get a build on Travis CI.  (Pull request #2038 ) Details can be seen below.

[code]

How can we solve this issue? Can you help us with the process? @apanicker-nflx  @kishorebanala  @jfernandez @aravindanr

[2021-01-08 07:54] aravindanr commented on #2032
@TwoUnderscorez Please create a bug. Note that we (Netflix) does not use or maintain the `mysql-persistence` and `postgres-persistence` modules. They are contributions from the community. We do our best to answer questions about them, but it's unlikely that we will address this anytime soon.

[2021-01-08 10:26] TwoUnderscorez commented on #2032
@aravindanr How do I create a bug? What do you mean?

[2021-01-11 03:44] andyyumiao opened #2043 "How to use startDelayInSeconds?"
How to delay the start of a simple task after a specified time？

[2021-01-11 06:04] josephrjd commented on #1103
Hi Team,

I have tried this with a couple of times, but this feature is not working for me with the http system tasks.
I tried debugging with the configurations and versions, but seems i am stuck with this will all combinations.

Can someone help me on this? - I have added simple def of what i am trying to do

Task
[code]

Workflows
[code]

Let me know in case i can help with something

[2021-01-11 13:48] techyragu opened #2044 "Function UpdateTask is taking longer time (100ms or more) for POST TASK API"
We have observed that the function `updateTask` is taking more time around 100ms and even more sometimes with the latest Netflix master code.
https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/service/TaskServiceImpl.java#L135

Last code we had of Netflix/conductor was of Oct 2017.
Lately (Sep 2020), we have merged the latest master Of Netflix/conductor in ou

[2021-01-11 13:49] techyragu commented on #2044
Attaching the log excerpt from new and old code, if it helps. It is not the entire log but the excerpt of the log specifying the respective task.
[newlog.txt](https://github.com/Netflix/conductor/files/5796069/newlog.txt)
[oldlog.txt](https://github.com/Netflix/conductor/files/5796071/oldlog.txt)

[2021-01-11 13:58] techyragu commented on #2044
fyi @manjurad

[2021-01-11 20:51] heinrichcohn commented on #2030
@aravindanr @apanicker-nflx
Anything new regarding this PR? I have additional code i would like to add, such as:
- ES Basic Authentication
- Extend ES indices/aliases creation  in order to facilitate integration with multiple clusters, and Cross-Cluster-Replication

Thanks

[2021-01-12 05:39] ssg2526 opened #2046 "Elasticsearch stops while workflow creation (after running conductor continuously for a while)"
when I keep running the conductor for a long time (approx a month for my case), It starts delaying the response (approximately 2 - 3 mins). the error log that i get is as following -

1179770237 [[ACTIVE] ExecuteThread: '11' for queue: 'weblogic.kernel.Default (self-tuning)'] ERROR com.netflix.conductor.common.utils.RetryUtil  - Operation 'indexWorkflow:Indexing workflow document: 416b27dc-8e31-43

[2021-01-12 05:45] ssg2526 commented on #2046
from the issue I did some research and I reached at this link -

https://discuss.elastic.co/t/what-does-this-error-mean-data-too-large-data-for-transport-request/209345/2

for my use case I am running conductor on weblogic (12.2.1.4 version). The property mentioned in the link (MaxGCPauseMillis) is not set in my env. What configurational changes I need to make to fix this. currently I am using 2.2

[2021-01-12 13:02] Jiehong opened #2047 "feature: allow setting a very short (100char?) "label"/"description"/"tags" when starting a workflow"
Hi,

Today, when starting many executions for the same workflow, the only way to really understand what is different between them when retrieving them, is to check what inputs were provided.

However, it would be convenient to be able to set a "tag"/"description"/"label" that could be searched for, but also as a way to quickly understand the execution with a human-readable field.

I propose to add

[2021-01-12 13:40] WavyPeng opened #2048 "How can I get the final output of the workflow?"
Hi, I have a problem that I need to get the final output of the workflow with Conductor Client.
Does our Java SDK provide methods to implement this?

[2021-01-12 17:26] DanielAWood opened #2049 "Custom Task scheduled but tasks/poll endpoint returns 204"
Hello, I'm currently working through a PoC with Conductor `Version: 2.30.4 | Build Date: 2020-12-03_19:59:4`. I have Conductor running on an EC2 instance, and two additional EC2 instances running Redis+Dynomite. With the below configuration I am able to successfully connect and run all instances. I can create Tasks and Workflows and start Workflows successfully with all configurations that I've at

[2021-01-12 19:56] n-h opened #2050 "docs: Apispec sort format in documentation doesn't match the implementation"
👋

**Actual**
The Apispec documentation for searching workflows lists the search format as `<direction>:<field>`:
![Screen Shot 2021-01-12 at 2 54 05 PM](https://user-images.githubusercontent.com/2981255/104365512-123b0080-54e6-11eb-842d-19be94d9a6e1.png)

The implementation uses the reversed format, than what is in the docs. Implementation is here:
https://github.com/Netflix/conductor/blob/be9e74

[2021-01-13 00:30] aravindanr commented on #2050
PR has been merged.

[2021-01-13 00:30] #2050 closed

[2021-01-13 00:37] apanicker-nflx commented on #2033
@kdohyeon Could you please expand on the use case for synchronous execution of subworkflows? This design decision to asynchronously execute subworkflows was made consciously to ensure reliable execution and completion of subworkflows and the corresponding subworkflow tasks.

[2021-01-13 00:38] aravindanr commented on #2048
Yes. You can use the `WorkflowClient.getWorkflow` method by passing in the workflow id. Note that workflow is not synchronous and the output will be available once the workflow reaches a terminal state.

[2021-01-13 00:38] #2048 closed

[2021-01-13 00:39] aravindanr commented on #2032
@TwoUnderscorez Create an issue in GitHub and label it as "Bug".

[2021-01-13 00:42] apanicker-nflx commented on #1982
@smurakozi Thanks for reporting this, we will try to reproduce this issue and get back to you with a fix soon. In the meantime, if you get a chance to debug/fix this, we would welcome a pull request :). Thanks

[2021-01-13 00:48] aravindanr commented on #2039
This is because of the new rate limits introduced by DockerHub. Retrying the build after some time should solve the problem. We will see if we can add DockerHub credentials that will reduce the likelihood of this issue.

[2021-01-13 00:48] #2039 closed

[2021-01-13 00:49] #2019 closed

[2021-01-13 00:49] apanicker-nflx commented on #1870
@WavyPeng If you're new to using Conductor and want to use the es6-persistence layer, we would urge you to try out the 3.0 version, it is available in the 3.0 branch. This version uses es6 as the default indexing layer.

[2021-01-13 00:49] #1870 closed

[2021-01-13 01:00] aravindanr commented on #2047
There is already a field [correlationId](https://github.com/Netflix/conductor/blob/dev/common/src/main/java/com/netflix/conductor/common/run/Workflow.java#L94-L95) that can be used for this.

[2021-01-13 08:13] Jiehong commented on #2047
@aravindanr : I know about the correlationId, which is a unique, machine-generated element.

Here, I'm talking about a non-unique, human-generated element.

Could you please re-open this issue?

[2021-01-14 07:48] WavyPeng opened #2052 "Does our workflow inputParameters support type like 'MultipartFile'"
Hi, we have a use case that we need to deal with picture. Therefore, the input parameter maybe 'MultipartFile'.
Does our Java SDK supports this?

[2021-01-14 13:20] WavyPeng opened #2053 "How to get 'Task execution logs'?"
Hi, I want to get task execution logs，and I find a method in **TaskResult**. But when I call **TaskResult.getLogs()**, it returns nothing.
Also, the Logs  of a task in our Conductor UI shows no content, like this:
![image](https://user-images.githubusercontent.com/26155781/104595817-144fbb80-56ae-11eb-8e0a-ea28874bde8c.png)

So, how can I get 'Task execution logs'?
Thank you :)

[2021-01-17 17:10] Jiehong commented on #2047
@aravindanr : ?

[2021-01-18 04:03] andyyumiao opened #2055 "where's the defination of isolation group id for a workflow?"
see the attachment
![20210118115912](https://user-images.githubusercontent.com/11346379/104871081-2028cf80-5985-11eb-869d-22e80e624256.jpg)

[2021-01-19 21:08] rickfish opened #2058 "Postgres processAllUnacks does not work"
@mactaggart I noticed a problem with the SELECT/FOR UPDATE during the poll. When the task is being updated to COMPLETED (POST /tasks), the removeMessage (i.e. DELETE FROM queue_message) method is taking a long time sometimes. It seems to be related to there being a lock on the row that it is trying to DELETE.

I tried putting in an UPDATE statement right before the DELETE to try and clear the lock

[2021-01-20 02:52] rickfish commented on #2058
Actually I think it has to do with processAllUnacks locking the rows. @mactaggart does the processAllUnacks() method work for you? I notices that the UPDATE of the rows to set popped to false returns 0 meaning no rows are ever actually updated. In my case the SELECT/FOR UPDATE statement actually returns 3 million rows because the update never actually does anything. So you can imagine what the sta

[2021-01-20 06:44] sanyamsidana commented on #353
We are also facing this issue, @muralicmr - did you figure out something?

[2021-01-20 09:51] #1859 closed

[2021-01-20 09:52] #1881 closed

[2021-01-20 09:52] #1860 closed

[2021-01-20 10:47] andyyumiao opened #2059 "What is the most stable storage for conductor?"
As title, what is the most stable storage for conductor? Cassandra、Redis、Mysql or PostgreSQL? I mean the recommended storage storage...

[2021-01-20 11:07] muralicmr commented on #353
we observed that there is a workflow sweeper which increaments the poll_count based on workflow_sweeper_thread_count and decider_sweep_frequency_seconds. We did not need this functionality hence we set decider_sweep_disable to true. After this the poll count was always 1.

[2021-01-20 13:24] Jiehong commented on #2047
@aravindanr / @moustaki  / @jfernandez  / @fabiokung  hello…

[2021-01-21 00:21] apanicker-nflx commented on #2059
The choice of storage depends on your use-case and how distributed you want your Conductor deployment to be.
At Netflix, we are currently using Cassandra as our primary datastore. We use an internal queuing system built on top of Redis for the queuing layer. Further, we also Redis for the rate limiting dao implementation. This is supported by Elasticsearch (v6) which acts as the indexing layer (se

[2021-01-21 00:24] apanicker-nflx commented on #2043
The field `startDelay` is a part of [WorkflowTask](https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/metadata/workflow/WorkflowTask.java#L133). You can set the startDelay for a specific task in your WorkflowDefinition where you specify the task in your DAG structure. This would take effect when the workflow is executed to delay the task.

[2021-01-21 00:24] #2043 closed

[2021-01-21 00:31] apanicker-nflx commented on #2047
Re-opening to further the discussion.

@Jiehong Do you intend to use both the correlationId field and the newly proposed field? In this case, how do you propose setting the new field? And how it would differ from the correlationId since you could set this to a generic string instead of a machine generated element.

[2021-01-21 00:46] apanicker-nflx commented on #2055
There was a slight typo in the documentation which has been fixed. The `name` parameter for the WorkflowTask in the screenshot above should be `encode_task` to match the task name in the task definition in the example [here](https://netflix.github.io/conductor/configuration/isolationgroups/).
Since the isolation group id is set in the task definition, this task will now be queued up in an isolated

[2021-01-21 00:46] #2055 closed

[2021-01-21 00:48] apanicker-nflx commented on #2052
The input parameters to a workflow is a map of string to objects. In this case, since Conductor is to be used as an orchestrator for scheduling and executing the tasks processing the picture, it is recommended to provide the locations of your picture files in the input parameters rather than passing binary blobs of data through the workflow engine.

[2021-01-21 00:48] #2052 closed

[2021-01-21 00:52] apanicker-nflx commented on #2053
The task execution logs that are shown in the UI and part of the TaskResult object need to be explicitly added by your worker that process the tasks.
To add to the example [here](https://github.com/Netflix/conductor/blob/master/client/src/test/java/com/netflix/conductor/client/sample/SampleWorker.java), you would need to add result.setLogs(<Insert list of task execution logs here>).

[2021-01-21 00:52] #2053 closed

[2021-01-21 10:14] andyyumiao commented on #2055
Ok Thanks, and as I expected, it seems to be a documentation problem, lol

[2021-01-21 10:44] Jiehong commented on #2047
The correlationId is supposed to be unique for that workflow, right? (and it has a fixed size?)

This new "comments" field is optionally provided by the user, and allows adding comments to that workflow.

For example, if I have a workflow whose job is to setup a new user in some systems (via http calls). I might want to comment some of those workflow with "category 1" when starting those workflows

[2021-01-21 19:41] rickfish commented on #2058
So it turns out that the newest implementation of processAllUnacks() for Postgres does not work and in fact causes performance issues. It does a query to get all rows in queue_message with popped=true FOR UPDATE SKIP LOCKED. That locks all the rows. Then it does an UPDATE statement that uses a 'message id IN(?)' parameter variable that is set to a comma-delimited list of message ids. This is not v

[2021-01-22 06:00] andyyumiao commented on #2059
yes, we have used Mysql as the storage in our production environment, it's also stable enough.

[2021-01-22 13:27] andyyumiao opened #2061 "fix npe"
We encountered NPE in the production environment and repaired it. Please evaluate whether it is necessary to deal with it.
The PR [#2060](https://github.com/Netflix/conductor/pull/2060)

[2021-01-23 11:38] amisol commented on #2047
Yes correlationId can be used exactly like you're describing

[2021-01-23 20:14] mactaggart commented on #2058
@rickfish apologies for the delay. We're running an older version that doesn't include the most recent changes to processAllUnacks() so I haven't encountered this issue. Glad you found the cause. I didn't catch this when reviewing that PR either, so guilty here too. Looking at PostgresQueueDAOTest, processAllUnacks is called, but the invalid code isn't reached since there aren't any unack'd messag

[2021-01-25 06:15] #2015 closed

[2021-01-25 06:18] andyyumiao commented on #2014
this caused by the wrong mysql table structure, it fixed when i reinitializes the correct table structure

[2021-01-25 06:18] #2014 closed

[2021-01-25 08:48] Jiehong commented on #2047
Alright then, thank you!
Closing this issue.

[2021-01-25 08:48] #2047 closed

[2021-01-26 00:43] kishorebanala commented on #2044
Hey @techyragu, updateTask does a lot of things along with updating the task, such as cleaning up task queues and few other places that might store relevant task information, and calling decide on workflow which further evaluates and progresses the workflow etc. The structure and order of these might've also changed since Conductor 1.x in 2017.

We're curious to understand the impact of this incre

[2021-01-26 00:52] kishorebanala commented on #2037
@mehmet-islamoglu @azb96 I couldn't reproduce this. I've also merged one of your PR's, for which the build has passed in both the branch and devint. I'm closing this, but please feel free to re-open this issue, if you continue to see this.

[2021-01-26 01:03] kishorebanala commented on #2049
Hey @DanielAWood, I'm guessing this might've something to do with Dynomite / Dyno-queues client's inability to find the relevant message in the queue. You can further confirm this by trying out these commands outside of Conductor, directly on top of Dyno-queues. If that happens to be the case, I faintly remember the constraints on Dyno-queues which require at least one client polling in each regio

[2021-01-26 01:04] kishorebanala commented on #2049
Closing this issue, but please feel free to re-open if you've further questions about this issue.

[2021-01-26 01:04] #2049 closed

[2021-01-26 22:08] flavioschuindt opened #2063 "Conductor build version for 2.28 generates wrong version number for final artifact"
Hi, guys.

Try to do this:

* Pull conductor code;
* Do a checkout to version **2.28.0**;
* Inside docker directory, use the docker-compose to build conductor;
* Build runs fine, but I see the generated jar has on its name **2.29.0**.

Did I miss somerhing here or is this build versioning somehow wrong?

Thank you.

[2021-01-28 13:17] SaumitraChaskar commented on #1946
I am facing the same problem.

Stacktrace:

Building conductor-server
Step 1/16 : FROM openjdk:8-jdk AS builder
 ---> 7f5d492e2c8a
Step 2/16 : MAINTAINER Netflix OSS <conductor@netflix.com>
 ---> Using cache
 ---> 6fdeceb32892
Step 3/16 : COPY . /conductor
 ---> Using cache
 ---> 4ef0d55e2fa5
Step 4/16 : WORKDIR /conductor
 ---> Using cache
 ---> 7ed5fb063f41
Step 5/16 : RUN ./gradlew build -x tes

[2021-01-28 14:46] mark91m12 commented on #1177
Hello guys, i'm doing exactly the same, it would be grate if one of you sharing your yaml files and Kubernetes deployment guide, any news about this? thank you in advance

[2021-01-28 22:26] flavioschuindt commented on #2063
Just a comment: If you build from **2.27.2** for example this generates **2.28.0-SNAPSHOT**. My understanding is that conductor build is always targeting X.Y.Z branch as X.Y+1. While it correctly states that this is SNAPSHOT, I believe this should be targeting the same version as the branch to avoid confusion.

[2021-01-28 22:33] flavioschuindt opened #2064 "WorkflowStatusListener requires flag enabling it on Workflow Definition"
Hi,

I was able to implement my own custom workflow completion/termination listener. It just works. However, I noted that it is only being activated if I add the property ```"workflowStatusListenerEnabled": true``` in the workflow definition. This is required because conductor code is relying on this property in the [WorkflowExecutor](https://github.com/Netflix/conductor/blob/master/core/src/main/

[2021-01-29 05:23] vbratitsa commented on #649
Hi, passed year after your answer, is there any UI for creating worflows was developed?)

[2021-01-29 06:08] SaumitraChaskar commented on #1730
@apanicker-nflx The task is taking more than 10 mins even after multiple attempts.

C:\Users\conductor\server>..\gradlew clean build -x test
Starting a Gradle Daemon (subsequent builds will be faster)

Inferred project: conductor, version: 2.31.0-SNAPSHOT
Publication nebula not found in project :.
<====---------> 34% EXECUTING [14m 35s]

Also what should be done regarding the Nebula publication ?

[2021-01-29 12:13] Paxon96 commented on #2030
Hi @aravindanr  @apanicker-nflx
I and my team are willing to use conductor with ES7 support. When can we expect to merge this PR #2031 ?
Soon we will have to move from ES6 to ES7 and I hope for an official solution, rather than implementing something ourselves.

Best regards!

[2021-02-01 11:42] xiaowei582648206 commented on #1742
hello, I created a workflow which contains a sub_workflow with inline workflow definition mentioned above,  the wrokflow json is:
`{
	"name": "virtual_parent_workflow",
	"workflowDef": {
		"ownerApp": "xiaowei12",
		"ownerEmail": "xiaowei79@jd.com",
		"createdBy": "xiaowei12",
		"name": "virtual_parent_workflow",
		"description": "virtual test",
		"version": 1,
		"tasks": [
			{
				"name": "virtu

[2021-02-01 14:37] TwoUnderscorez opened #2066 "Custom concurrent execution limiting"
The purpose of this issue is to discuss a new interface that would solve the problem explained in #1893.
I am planning to implement this interface, but here are some questions I have:
1. `ExecutionDAO.exceedsInProgressLiint` will do the task def limit check, then call the new interface, then rate limit check?
2. What methods should the interface have? I think only one method `exceedsLimit` that re

[2021-02-01 16:45] raghavendra-bhat opened #2067 "Need suggestions on scaling Conductor"
We have been running performance tests with Conductor on Postgres and so far we managed to get the system scale upto a point of **completing** 35 workflows per second. The workflow that we ran our tests had around 20 tasks with 16 worker tasks. The env setup that we used are below:

14 Conductor pods (2 core and 3 GiB each) and single PostgreSQL instance server (64 core).

Though there are options

[2021-02-02 00:11] apanicker-nflx commented on #2061
Hi @andyyumiao , testing out the codepaths for the subworkflow execution, I was unable to reproduce a case where the subworkflow task would be null. While the PR itself is safe to merge because defensive programming inherently is helpful, I would like to better understand the scenario when you encountered this and fix at the root cause as well.

Please attach the workflow defs, execution etc that

[2021-02-02 00:12] aravindanr commented on #2067
Postgres persistence is community contributed. Netflix uses Cassandra for persistence and Redis for queuing. Number of workflows completed per second is not a general metric that can be used to measure Conductor's throughput as that metric is not only dependent on Conductor. Workflow definitions are arbitrary and we have workflows which take anywhere from few minutes to several weeks to complete.

[2021-02-02 00:16] aravindanr commented on #2067
Looping in @rickfish and @mactaggart who may have more context about postgres-persistence

[2021-02-02 00:25] kishorebanala commented on #1946
@SaumitraChaskar We couldn't reproduce this. `returned a non-zero code` appears to be Docker configuration issue. Hope this helps: https://stackoverflow.com/questions/31876031/the-command-bin-sh-c-returned-a-non-zero-code-127

Please feel free to reopen if the issue still persists and / or if we need to tweak anything in Conductor.

[2021-02-02 00:25] #1946 closed

[2021-02-02 00:29] aravindanr commented on #2064
WorkflowExecutor can be modified to look at a global property and invoke the `WorkflowStatusListener`. If you have the time, please create a pull request.

[2021-02-02 00:29] #2064 closed

[2021-02-02 00:50] kishorebanala commented on #649
@vbratitsa We're pipelining the release of revamped UI later this year. We don't have concrete timelines yet, we'll update as we know more.

[2021-02-02 00:59] kishorebanala commented on #1742
@xiaowei582648206 I believe the UI doesn't support inline subworkflow definitions yet. We're considering revamping the UI, which would have a fix for this, but we're not certain of the timelines yet. If you could get to this before the release of latest UI, please send us a PR.

[2021-02-02 01:56] apanicker-nflx commented on #2066
@TwoUnderscorez Thanks for starting the discussion.

I would suggest extracting out the concurrent execution limit into its own interface similar to the [RateLimitingDAO](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/dao/RateLimitingDAO.java). The interface method here would perform the in progress limit check for the tasks.

For starters, this interface

[2021-02-02 03:37] liangguohun opened #2068 "conductor-server exit 0"
docker_conductor-server_1  Exit 0 ，when run docker-compose up to run ,but got exit the server

[2021-02-02 03:53] xiaowei582648206 commented on #1742
thanks a lot！

[2021-02-02 06:51] TwoUnderscorez commented on #2066
@apanicker-nflx Alright. There is only one problem with that.  The `exceedsInProgressLimit` methof in the redis and mysql execution daos contain code that executes queries on redis and mysql respectively, so it'd be kind of problematic to fi that. Unless implementations of this new DAO can depend on the execution dao. Then we can add that method to the execution dao interface.

As for the semaphor

[2021-02-02 06:54] liangguohun commented on #2068
when i use command "docker-compose logs conductor-server" and got logs like
[code]

[2021-02-02 07:56] ninyjun opened #2069 "jdk11 build error"
jdk11 build error

[2021-02-02 14:43] leynae opened #2070 "HTTP task is executed several times"
Hi,

We use conductor with the postgres DB. Our workflow contents HTTP tasks with the following configuration:

`{
  "name": "default_http_task",
  "retryCount": 0,
  "pollTimeoutSeconds": 0,
  "timeoutPolicy": "RETRY",
  "retryLogic": "FIXED",
  "retryDelaySeconds": 60,
  "timeoutSeconds": 0,
  "responseTimeoutSeconds": 3600,
  "ownerEmail": "xxxxx@yyyyyy"
}`

Sometime, not always, we discovered

[2021-02-02 14:46] raghavendra-bhat commented on #2067
@aravindanr Thanks for the comment. Yes, its true that the completion depends on other factors including the time it takes to complete task inside the worker. We wanted see how well the Conductor server completes workflows if there is no delay when worker completes a task. Hence we have have stubbed the client/worker and instead used jmeter to generate the load that a worker would have generated i

[2021-02-02 15:24] liangguohun commented on #2068
at last i change the command ‘“docker/server/bin/start.sh”
  to “java -jar conductor-server-3.0.0-SNAPSHOT-boot.jar $config_file $log4j_file” on the file end from  "java -jar conductor-server-*-all.jar $config_file $log4j_file"

and i find an nother question on directs of docker/server/Dockerfile of give power "RUN chmod +x ./gradlew"

[2021-02-02 15:24] #2068 closed

[2021-02-02 19:53] rickfish commented on #2067
@raghavendra-bhat I am going to create a pull request to change the combo_queue_message index to sort by priority desc instead of asc (the default). That DRAMATICALLY increases the performance of the polling call, especially on the sweeper when it polls for _deciderQueue messages. This is critical for high-volume situations like ours where we have millions of rows in queue_message. Try that change

[2021-02-03 04:38] shank1204 opened #2071 "Conductor does not retain the json format of the data passed to k8s job task"
Conductor Version - **2.27.2**

**Steps** -
1. Create a workflow where K8s job task is added in it.
2. This K8s job task has one of the argument in job spec pointing to the json field data in workflow input. e.g. _${workflow.input.**jsondata**}_ where 'jsondata' field will have a json format value in workflow input
3. Execute such workflow with a workflow input e.g.
 _{
	"workflowId":"<WORKFLOW ID

[2021-02-03 08:35] WavyPeng opened #2072 "How to set the value of "conductor.worker.<taskDefName>.<property>""
Hi, I need to pause worker from polling tasks, And I see a method provided in our [document](https://netflix.github.io/conductor/gettingstarted/client/) that we can set the value of conductor.worker.<taskDefName>.<property> to implement this. But I don't know how to use it. Is there any example for this? Thank you :)

[2021-02-03 12:17] liangguohun opened #2073 "when i run my work i got "MIME media type application/octet-stream was not found""
when i run my work i got "MIME media type application/octet-stream was not found" for version 3.0

[code]

[2021-02-03 12:24] liangguohun opened #2074 "the demo "kitchensink" can't initialize on docker-compose"
i run by docker-compose and start ok, but the  "kitchensink" can't initialize. i don't know if the config file is ok or  not, and i can't get every task singleton.

[2021-02-03 22:00] danteoh commented on #1975
Hey @aravindanr  sorry for not following up on this, other priorities :(

`
FAILURE: Build failed with an exception.

* Where:
Build file '/Users/dteoh/src/conductor/build.gradle' line: 12

* What went wrong:
An exception occurred applying plugin request [id: 'nebula.netflixoss', version: '5.1.1']

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insight

[2021-02-03 23:57] rickfish commented on #2058
@mactaggart thanks for the tip on using an Array and a parameter. Works like a charm. I am swamped right now but will try to contribute it back shortly.

[2021-02-04 08:08] andyzhaozhao opened #2076 "Couldn't Start Local Server"
I am watching the doc https://netflix.github.io/conductor/architecture/
There is an error when running :../gradlew server
[code]
**I have not use the port 8080, the 8080 is started by Conductor it self .**

[2021-02-04 15:20] safat commented on #1995
I managed to run a scan in Github using the free trial. But I don't see the CWE-117  to be reported.

https://github.com/safat/conductor/pull/2/checks?check_run_id=1831647898

@trayo, how did you run the scan? I was told that the free trial version report might not be the same as the full-fledged version 😭

[2021-02-04 20:08] trayo commented on #1995
Sorry @safat that I wasn't clear that my company has the paid version they've set up for us. I might have to tackle this one myself since the trial version doesn't detect it. I'll try and find time in the next week.

[2021-02-05 08:27] leynae commented on #2070
I used the version 2.28.3 and after migration to 2.30.4, we can't reproduce the issue. So I think you can close the issue

[2021-02-05 08:27] #2070 closed

[2021-02-05 13:13] gau31rav opened #2077 "Is there any way to bulk delete the workflow metadata"
In dynomite / redis, workflow metadata is maintained forever. We have a requirement to delete the older workflow metadata.

According to API specification https://netflix.github.io/conductor/apispec/

GET API returns 100 records at a time and in DELETE we can specify only one workflow id at a time. Which adds to the execution time.

Is there a way to bulk delete the older workflow metadata.

[2021-02-06 01:27] arketec opened #2078 "Convert double to int in lambda task output?"
I have a legacy server that I need to reach through a Conductor http task that only accepts numeric inputs as integers and will reject any floating point number with an error.

I searched for this issue and came across this: #1200

But that is referring to converting an input int into a double, which is not what I am looking for. I want to convert the output into an int.

Is this possible?

edit:

[2021-02-08 13:01] kartikv11 commented on #1912
+1 facing the same issue.

[2021-02-09 00:13] apanicker-nflx commented on #2030
@heinrichcohn Thank you very much for the contribution.

@Paxon96 we expect to merge this PR soon within the next couple of days.

[2021-02-09 00:14] apanicker-nflx commented on #2069
Closing due to lack of details.

[2021-02-09 00:14] #2069 closed

[2021-02-09 00:33] aravindanr commented on #2067
@raghavendra-bhat Additional context helps. During task poll and update, Conductor reaches out to both the queue and the persistence layers. With C* as the persistence layer, writes might be faster although we don't have comparisons of C* vs Postgres. We are curious to know what the results of your test with C* are.

For high throughput scenarios, redis-persistence might be a better fit. But Redis

[2021-02-09 00:35] kishorebanala commented on #2071
@shank1204 Can you provide more details to help reproduce this please? Also, which endpoint is used to start the workflow? And how is the start workflow object created?

[2021-02-09 00:40] apanicker-nflx commented on #2074
@liangguohun Can you please elaborate on ```the "kitchensink" can't initialize``` . Are you seeing an error when loading the kitchensink workflow or running it?

[2021-02-09 00:41] kishorebanala commented on #2072
@WavyPeng `conductor.worker.<taskDefName>.<property>` is one of the configurable properties of the worker. For eg., you can set `conductor.worker.task_1.paused` property to `true` to pause a task (by task reference name) `task_1`. Also, if you don't have dynamic reload on the properties, you might have to restart your worker instance to enable this property.

I'm closing this, but feel free to reo

[2021-02-09 00:41] #2072 closed

[2021-02-09 00:44] aravindanr commented on #2073
This might be a possible bug, we will look into it.

[2021-02-09 00:53] apanicker-nflx commented on #1975
https://bugs.eclipse.org/bugs/show_bug.cgi?id=565774
There seems to be an issue with a local installation of jgit on your machine. Could you try running it on a different machine?
Unfortunately, I am not familiar with jgit, so unable to help out more with this.

[2021-02-09 00:54] aravindanr commented on #2077
@gau31rav There is no API to bulk delete.

[2021-02-09 00:54] #2077 closed

[2021-02-09 00:54] kishorebanala commented on #2076
@andyzhaozhao Can you confirm if some other process is already using the port 8080? (For eg., in linux: `sudo lsof -n -i :8080 | grep LISTEN`).

If you still see port 8080 is open and that Conductor server is unable to start, can you provide the steps to reproduce please. Thanks!

[2021-02-09 01:58] aravindanr commented on #2078
`{
  "name": "test_http_int_wf1",
  "version": 0,
  "input": {
    "id": 1
  },
  "workflowDef": {
    "name": "test_http_int_wf1",
    "description": "test_http_int_wf1",
    "version": 1,
    "tasks": [
      {
        "name": "jq_1",
        "taskReferenceName": "jq_1",
        "type": "JSON_JQ_TRANSFORM",
        "inputParameters": {
          "id": "${workflow.input.id}",
          "queryExpr

[2021-02-09 02:53] apanicker-nflx commented on #1912
Could you please run the same command with --stacktrace and post the detailed error?

[2021-02-09 07:33] andyzhaozhao commented on #2076
@kishorebanala I run it on windows10 . I am sure there's no other process using the port 8080.  My steps:

[2021-02-09 17:26] raghavendra-bhat commented on #2067
@aravindanr  Instead of using Redis persistence, we are planning to use Hazelcast as it supports distributed queuing and inbuilt clustering. I would like to hear if there are any gaps using Hazelcast like tech.

[2021-02-09 18:45] kishorebanala commented on #2076
I couldn't reproduce this when I tried locally. Can you tell us what the port 8080 is doing when you see `Caused by: java.net.BindException: Address already in use: bind`?

Alternatively, you can try using docker compose files we have to run your local server.

[2021-02-09 19:03] arketec commented on #2078
Thanks. Yes, I gave a simplified version of what I am doing, and when hard-coding an int, it does seem to output correctly.

So, what I did not include in my example was the step before the JQ transform which was an http response.

for example, the http response body is a simple int:

{
	"response": {
		"headers": {
			"Server": ["nginx/1.10.3 (Ubuntu)"],
			"Connection": ["keep-alive"],
			"Conte

[2021-02-10 12:10] bhawani021 opened #2080 "how to dynamic fork sub-workflow?"
https://netflix.github.io/conductor/configuration/systask/#dynamic-fork here I can see Dynamic Fork of task
similarly how we can dynamically fork subworkflow?

[2021-02-10 12:22] liangguohun commented on #2076
i got this problem too for the master branch.

[2021-02-10 12:27] liangguohun commented on #2076
[code]
this is use docker-compoe , and the config  of `java -jar conductor-server-*-all.jar $config_file $log4j_file` never work, for days i got that, the "*" isn't work, but the config_file not work too, because default run in memery, the docker-compose use the component of dynomite

[2021-02-10 12:29] liangguohun commented on #2076
use docker ps found that 'hardcore_nobel' use the port, but the config_file don't work for branch master and 3.0

[2021-02-10 16:07] liangguohun opened #2081 "how to config the work"
'conductor-client', version: '2.30.4' always print like below
[code]
even throught i set log4j.properties log level

[2021-02-11 14:20] sherlockEix opened #2083 "how to set jvm options on docker environment"
i want set jvm options on docker env. i see [start.sh](https://github.com/Netflix/conductor/blob/master/docker/server/bin/startup.sh) can't set jvm options.
on docker env. Is there any other path to set jvm options? thanks

[2021-02-11 15:58] jpcarlino-invitae commented on #2067
Hi @raghavendra-bhat . Your testing scenario is useful for me in the sense you are exploring similar storage options. I would like however to confirm I'm understanding correctly:

Primary storage: PostgreSQL
Queue storage: PostgreSQL
Secondary storage: ?

Is this correct? In case my understanding is correct: any reason why you choose PostgreSQL instead of DynoQueues?
Similar question about replaci

[2021-02-11 19:07] flavioschuindt commented on #2071
Hey @kishorebanala,

First, sorry if this is too long. Just trying to give many details as possible.

I work with @shank1204 and was helping him with it. So, to reproduce is like this:

* Create a workflow with a task type SIMPLE (We didn't test with other types, but probably will happen);
* In the inputParameters field for this task, say that you have this:

[code]

Say also that, just for the sa

[2021-02-11 21:18] #2026 closed

[2021-02-13 02:03] sherlockEix commented on #2083
can i modify start.sh and pr ?😄

[2021-02-14 19:41] #2080 closed

[2021-02-14 19:41] bhawani021 commented on #2080
resolved

[2021-02-15 05:27] techyragu commented on #1597
@apanicker-nflx

[2021-02-15 14:12] guru1306 opened #2088 "Mongodb integration with Conductor"
Hi All

We are using MongoDB in our product. We want to leverage the Mongo DB for Conductor.  Will the PR be accepted if we can contribute?

Thanks
Guru

[2021-02-16 00:20] apanicker-nflx commented on #2081
Please elaborate on the issue that you are facing, it is unclear from the description above.

[2021-02-16 00:37] #2083 closed

[2021-02-16 00:39] apanicker-nflx commented on #2030
@heinrichcohn Closing this issue for now since the PR has been merged. Please create another PR for the 3.0 branch.

[2021-02-16 00:39] #2030 closed

[2021-02-16 00:46] apanicker-nflx commented on #1597
@techyragu Since the correlationId is an indexed field, you could use the ```GET
/workflow/search``` API to search for all workflows given just the correlation id. You could combine the query for correlationId with the status to further filter the search.

There is no bulk delete API currently supported, but we would welcome a PR for the same :)

[2021-02-16 00:46] #1597 closed

[2021-02-16 00:50] apanicker-nflx commented on #2088
@guru1306 The persistence layer in Conductor is a plugin and can be implemented using pretty much any data store. We would welcome a contribution that would benefit the community.

Before getting started on the PR however, please outline the design and implementation plan for this persistence layer in a separate issue. Also, as with any open-source project, the buck does not stop with the contribu

[2021-02-16 00:50] #2088 closed

[2021-02-16 08:15] michaelpaliy commented on #1992
This API will help us also (currently we need to convert the WorkflowSummary to Workflow and it causing some overhead ).
I will start working on it and open PR later.

[2021-02-16 21:02] techyragu commented on #1597
@apanicker-nflx
To begin with I tried with existing bulk api to terminate WFs, but it did not seem to work.
Do you have any working example for existing WF API

[2021-02-17 18:18] venkatrangan opened #2091 "Licensing for conductor"
I have a question on conductor license. The entire conductor distribution is licensed under Apache license. However, one of the dependencies - javax.el downloaded from glassfish is covered by GPL, CDDL license, per maven central - https://mvnrepository.com/artifact/org.glassfish. What is the legal position for a solution that uses conductor, but the dependencies now entangle them with a stricter l

[2021-02-18 13:07] Jiehong opened #2094 "Task update fails because of metrics exception"
Hi,

In some cases, we encounter the following exception when updating a task:

[code]

We're using conductor 2.30.3.

We're injecting the metrics registry via Spring and a bean provider:

[code]

A metrics issue should not be breaking the updateTask completely. Logging a warning would be better, and more reliable.

[2021-02-18 14:17] rakeshnarang5 opened #2096 "batch poll with domain: NO_DOMAIN won't return default queue tasks"
At the time of starting a workflow,
I put the following entry in taskToDomainMap
key: "*"
value: "NO_DOMAIN"
This put all the tasks in my workflow in the default queue.
----
But, when I am batch for tasks using domain: NO_DOMAIN,
it is not returning any tasks
but if I will remove the property conductor.worker.<my-worker>.domain from application.properties
the task gets picked
what is the value to

[2021-02-18 19:46] btafarelo opened #2097 "DecisionTask Printing Both Routes"
Hi

As you can see my DecisionTask is taking a path but showing execution in both sides (the bold line and the green step).

![image](https://user-images.githubusercontent.com/3848106/108411815-5fb73580-7229-11eb-9763-4c69729f43a6.png)

`{
      "name": "Should_Not_Run",
      "taskReferenceName": "Should_Not_Run",
      "inputParameters": {
        "ispst": "${workflow.input.req.simulationParamet

[2021-02-19 08:54] raghavendra-bhat commented on #2067
@jcacciatore Sorry for the delay in response. We started off using PostgreSQL as it made tech stack little lighter (no separate DynoQueue needed). Conductor has modelled queues as Postgres table. So primary and queue storage is Postgres.

However we soon found that scaling using Postgres has its own limitation as compared to Cassandra like database. Conductor does have support for Cassandra (I see

[2021-02-19 16:06] raghavendra-bhat opened #2098 "Duplicate tasks created for workflow"
We are observing a strange behaviour during our load test which we didn't find during regular functional testing. The workflows are getting terminated as a task (T5) could not be processed as it is unable to get the correct input. The task's input is dependent on a previous task's (T2) output. UI marks T2 task as red indicating it failed but a look at the task details tab in the UI shows that task

[2021-02-22 06:34] aravindanr commented on #2098
Please always include workflow and task definitions when posting a question. Without those, we can only speculate. In the data you have shared, the scheduled is after the start time, which does not happen. Is it possible that the columns got interchanged when posting the question?

Conductor creates a task instance for each attempt of the task. If a task has 3 retries, each attempt gets its own ta

[2021-02-22 06:52] aravindanr commented on #2096
`NO_DOMAIN` is a keyword used when defining fallback domains. If you are not planning to use domains, there is no need to populate the `taskToDomainMap`. If `NO_DOMAIN` is specified during poll, Conductor looks for the task in a domain named "NO_DOMAIN". Not specifying a domain property, makes the _poll_ call look for tasks without a domain.

[2021-02-22 06:52] #2096 closed

[2021-02-22 07:03] aravindanr commented on #2094
@Jiehong Thanks for reporting this.

Could you elaborate under what exact circumstances this issue occurs?

Out of curiosity, are you running Conductor 2.30.3 inside a Spring app?

[2021-02-22 09:32] Jiehong commented on #2094
This happens when a worker sends a request to update a task (I've edited my comment to make the stack trace easier to read).

Yes, we do run conductor 2.30.3 in a Spring application.

[2021-02-23 00:53] kishorebanala commented on #2091
@venkatrangan We've removed this dependency in [Conductor 3.0 branch](https://github.com/Netflix/conductor/tree/3.0), which we expect to be generally available very soon. Thanks for pointing this!

[2021-02-23 01:00] apanicker-nflx commented on #2097
@btafarelo This issue is because of a bug in the case where a Terminate task within a Decision branch is executed. In the above case, the workflow ran correctly and terminated at the desired terminate task. However, the decision task was not saved correctly to the data store. The other branch of the decision tree was not executed but is bolded because of a UI glitch.

[This issue has been fixed](h

[2021-02-23 01:00] #2097 closed

[2021-02-26 14:00] raghavendra-bhat commented on #2098
Hi @aravindanr, Sorry for delay in getting you the details. We have been trying to replicate the issue again, this time by introducing Zookeeper lock and having the workflow sweeper service enabled. Even after introducing locks, I'm seeing that the duplicate tasks get created. They get created at different tasks in different failed workflow executions. I have noticed that if the workers are able t

[2021-02-28 19:34] my1795 opened #2104 "Class Naming İssue : ServletContextListner"
I have foud a small spelling mistake. I have come across while searching solution gor AMQP integration. I think com.netflix.conductor.server.ServletContextListner would be com.netflix.conductor.server.ServletContextListener.

[2021-03-01 16:20] raghavendra-bhat commented on #2098
@aravindanr I think we were able to figure out the cause for the duplicate tasks issue. Zookeeper cluster misconfiguration in our perf environment resulted in this issue. Zookeeper nodes were giving locks to the same workflow for two different transactions. Workflow sweeper was also getting a lock on the same workflow that was being processed by the start workflow/update task transaction. As a res

[2021-03-01 17:35] mignoni opened #2106 "Sometimes, The order of execution of the tasks is not following the order of execution drawn in the definition of the workflow"
Sometimes, The order of execution of the tasks is not following the order of execution drawn in the definition of the workflow

You can see below 2 executions of same workflow definition, **the first worked, the second not**:

The last task in the workflow is "RootJson", in the second execution you can see that the task was not executed last.

I put workflow definition in Simulation-Promotional-de

[2021-03-02 00:49] aravindanr commented on #2106
@mignoni the issue does not include the attachment. Can you include the definition and the execution json? Also, please describe your setup. What is the persistence and queue implementation?

[2021-03-02 00:51] aravindanr commented on #2098
No problem. Glad you were able to figure it out.

[2021-03-02 00:51] #2098 closed

[2021-03-02 00:53] #2104 closed

[2021-03-02 01:03] aravindanr commented on #2094
@Jiehong this could be because of how `com.netflix.spectator.micrometer.MicrometerRegistry` is implemented by the micrometer version that your app is using. From the stack trace, you can see that Conductor is calling Spectator to increment a counter. The error is from the underlying Micrometer implementation which Conductor has no control over.

[2021-03-02 01:03] #2094 closed

[2021-03-02 01:04] #2091 closed

[2021-03-02 06:34] Mohit177 opened #2107 "Cassandra-persistence: what are the reasons/challenges for not implementating Queue DAO"
We are currently in the process of evaluating the design for implementing dynamoDB-persistence DAL for all the DAOs in conductor. Looking at the cassandra-persistence, we want to know what were the challenges or reasons for not implementing the Queue DAO?

@rickfish @apanicker-nflx

[2021-03-02 08:48] jmanali opened #2108 "Unable to update non system task status to IN_PROGRESS through POST /tasks API"
When we are trying to update task status to **IN_PROGRESS** from **SCHEDULED** through POST /tasks API, it returns task ID with 200 response but the task status still remains in SCHEDULED state. This was working earlier however the mentioned PR seems to have below code snippet and hence it is not allowing us to change the status to IN_PROGRESS

 if (!isSystemTask.test(task) && taskResult.getStatus

[2021-03-02 13:03] sidhique91 opened #2109 "How to update the WAIT system task as completed"
Kindly help me with a sample on how to update the WAIT system task as completed

[2021-03-02 21:17] rickfish opened #2110 "Advice on how to properly construct a workflow that is inherently recursive"
I am responsible for running and maintaining the Conductor instances in my organization. I have had a few teams in my organization that have created 'recursive' workflows that have caused major issues for Conductor. They have workflows that do things like check a status in their database and if the status is not what they want then their workflow calls itself as a subworkflow and so on and so on u

[2021-03-03 12:42] mignoni commented on #2106
@aravindanr

I updated the issue text and attachmented the source code of workflow the definition (**Simulation-Promotional-def.zip**), JSON of execution that works (**json_works.zip**) and that not works (**json_not_works.zip**).

In section "**Configurations Of Conductor Server**" I puted the details of conductor.

[2021-03-04 02:58] andyyumiao opened #2113 "About conductor instance hang up"
**1.We encountered the problem of the conductor instance hanging up in the production environment, such as the last hanging up, we found these logs, I don't know if it's the cause of hang up:**

`[INFO ] 2021-03-02 17:58:25,568 WorkflowExecutor - Execution terminated of workflow: e122a8d8-e41f-4237-960e-596346b0cf3d
com.netflix.conductor.core.execution.TerminateWorkflowException
at com.netflix.con

[2021-03-04 18:08] akash0996 opened #2114 "Securing conductor workflows based on teams"
Is there a way to secure workflows based on specific teams or using owner email so only authorized people are allowed to create/edit/execute workflows?

[2021-03-05 01:01] mignoni commented on #2106
@apanicker-nflx Can you help us?

[2021-03-08 06:01] bharadwajrembar opened #2117 "Tasks are still in IN_PROGRESS/SCHEDULED state even though workflow/sub-workflow are in FAILED/TERMINATED state"
Hi,

We are running Conductor v2.26.0 with Elasticache Redis cluster as our metadata store and Elasticsearch 6.x as our indexing store.

We also leverage dynamic forks and sub-workflows heavily in our project. We notice that when sub-workflows fail, they don't actually put their tasks in a CANCELLED or a FAILED state. Rather they are still SCHEDULED/IN_PROGRESS.

Because of this, our workers tend

[2021-03-08 18:01] rickfish opened #2118 "Postgres v5, v6 DDL, getting error trying to apply them"
@mactaggart I am finally getting around to applying the v5, v6 DDL updates for Postgres. I got an error on v5 similar to the below. I made some changes and somehow that later worked but now i am getting this error on v6, wondering if you got same or, if not, why not...seems like I will get this on every table, maybe because it is the primary key?

`org.flywaydb.core.internal.dbsupport.FlywaySqlScr

[2021-03-08 21:31] rickfish commented on #2118
@mactaggart Ah, in my Postgres database I had to drop the constraints as opposed to dropping the indexes. Apparently unique keys are considered as constraints. This wasn't the case for you?

[2021-03-09 00:04] aravindanr commented on #2114
Currently, there is no authentication or authorization built into Conductor.

[2021-03-09 00:04] #2114 closed

[2021-03-09 00:18] aravindanr commented on #2117
hi @bharadwajrembar, thanks for reporting this. We have also identified some glitches with subworkflows inside a fork join. There is a fix on the way for 3.0 which will be back-porting to 2.30. I am marking this as a bug and will update this thread when the fix is released.

[2021-03-09 00:22] kishorebanala commented on #2107
@Mohit177 Queues in Cassandra is a long discussed topic, and is labelled an anti-pattern: https://www.datastax.com/blog/cassandra-anti-patterns-queues-and-queue-datasets.

[2021-03-09 00:24] aravindanr commented on #2113
I am assuming "instance hanging up" means the instance is not responding to api requests from the client. The exception does not seem to be related to instance hanging up. This exception could happen in the normal execution when a task failure results in a workflow to be TERMINATED. JMRWFHandlerListener is failing when connecting to its server. Both of these exceptions shouldn't cause an instance

[2021-03-09 00:24] #2113 closed

[2021-03-09 00:26] apanicker-nflx commented on #2108
@jmanali This was done by design. Updating the status of a task from SCHEDULED to IN_PROGRESS is the responsibility of the state machine and is not exposed to the user.

A given task will be moved from SCHEDULED to IN_PROGRESS when it is polled by the worker using the /tasks/poll/{taskType} API. At this point, it is expected that the worker is processing this task and will report back the result o

[2021-03-09 00:26] #2108 closed

[2021-03-09 00:27] kishorebanala commented on #2109
@sidhique91 There are couple of ways to accomplish this:
1. By registering an [EventHandler](https://netflix.github.io/conductor/configuration/eventhandlers/) that completes this task. Eg: https://netflix.github.io/conductor/labs/eventhandlers/
2. By calling the TaskResource's `/update` endpoint directly.

[2021-03-09 00:27] #2109 closed

[2021-03-09 00:49] aravindanr commented on #2110
I see two separate problems listed here. We are aware of the bottlenecks that a large __deciderQueue_ could cause. We are exploring ways to split the queue and also options to scale up processing corresponding to __deciderQueue_ depth. These improvements are expected in Q3.2021.

Lately, we have seen problems with Subworkflows inside a FORK_JOIN, which led us to reevaluate how child workflows inte

[2021-03-09 00:59] apanicker-nflx commented on #2106
@mignoni Thanks for reporting the issue. From the workflow execution graph that you posted above, it looks like all the tasks executed correctly but the task details were not populated? Let me look into the attachments that you have posted and get back to you.

Also, on a sidenote, I see that you are not using the workflow execution lock. This could potentially impact workflow executions. I would

[2021-03-09 01:01] #2078 closed

[2021-03-09 01:27] apanicker-nflx commented on #2110
This is a rather strange implementation.  Have you considered using the callbackAfterSeconds mechanism instead? In this case, the worker would return the task as IN_PROGRESS with a desirable value for `callbackAfterSeconds` in the TaskResult object till the status in the db is not as expected for the task to be COMPLETED. This would mean that the same task instance is reused by the worker. The `ca

[2021-03-09 01:39] mignoni commented on #2106
@apanicker-nflx I will try enable locking mechanism.

[2021-03-09 01:59] andyyumiao commented on #2113
@aravindanr i found new errors below, pls take a look:
[WARN ] 2021-03-08 20:40:40,007 RestClient - request [POST http://es-nlb-es-a5rd7v0qlt.jvessel-open-hb.xxx.com:9200/task_log*/task_log/_search?typed_keys=true&ignore_unavailable=false&expand_wildcards=open&allow_no_indices=true&search_type=query_then_fetch&batched_reduce_size=512] returned 4 warnings: [299 Elasticsearch-6.5.4-d2ef93d "Deprecat

[2021-03-09 03:01] bharadwajrembar commented on #2117
Sure @aravindanr thanks for this

[2021-03-09 07:55] rickfish commented on #2118
@mactaggart Never mind...I forgot...our Postgres database predates the postgres-persistence module. We had our own persistence module until this one was available. Its DDL used constraints in the create table DDL for primary keys and unique indexes. Sorry, I completely forgot about that.

[2021-03-09 08:52] btafarelo opened #2119 "Jq Transform has different results on the same execution"
Hi

Here you can see the result and resultList have different values, for instance:

result:
[code]

resultList:
[code]

![image](https://user-images.githubusercontent.com/3848106/110443639-6d3f3d00-80bc-11eb-9861-74aa03397160.png)

Here, is my queryExpression with the expected result.

https://jqplay.org/s/V6cQhFE7Ls

And here the task.

`{
            "name": "InsuranceOfferResult",

[2021-03-09 08:56] btafarelo commented on #1980
`{
  "createTime": 1598614840535,
  "name": "simulation_execution_flow_promotional",
  "description": "promotional subflow",
  "version": 1,
  "schemaVersion": 2,
  "restartable": true,
  "workflowStatusListenerEnabled": false,
  "ownerEmail": "btafarelo@gmail.com",
  "timeoutPolicy": "ALERT_ONLY",
  "timeoutSeconds": 0,
  "tasks": [
    {
      "name": "SimulationParameters",
      "taskReference

[2021-03-09 09:31] jas34 opened #2120 "Conductor Does Not Return Tasks Due To "Task execution count limited""
Hi
We are running a conductor with the following configuration:
**Server**:

1. version = 2.30.4
2. mysql persistence

**Client**:

1.  version = 2.30.4
2. TaskRunnerConfigurer (not batch polling)

During performance test executions we have found occasions:

1. server and clients are in complete sync w.r.t polling. Whenever we have running workflows then client receives a task upon each poll.
2. a

[2021-03-09 10:56] ssg2526 opened #2121 "Multitenancy Support for Condutor"
Currently from the conductor code it seems that the conductor supports a single datasource connection. Can we have more than one datasources for the same conductor server. for example if a workflow is being created by a user then based on the tenancy the workflow will get saved in a different schema for MYSQL determined at runtime

[2021-03-09 19:50] rickfish commented on #2110
I take back my comment about the DO_WHILE loop task statuses not being visible in the UI. Looks like that is working great now.

[2021-03-10 08:11] hans1980775481 opened #2122 "IDEA Sync fail"
**Describe the bug**

org.gradle.api.ProjectConfigurationException: A problem occurred configuring root project 'conductor'.
at org.gradle.configuration.project.LifecycleProjectEvaluator.wrapException(LifecycleProjectEvaluator.java:75)
at org.gradle.configuration.project.LifecycleProjectEvaluator.addConfigurationFailure(LifecycleProjectEvaluator.java:68)
at org.gradle.configuration.project.Lifecyc

[2021-03-11 02:39] saralaks opened #2123 "Elasticsearch index setup is called 2 times due to duplicate code in bootstrap Main.java"
https://github.com/Netflix/conductor/blob/master/server/src/main/java/com/netflix/conductor/bootstrap/Main.java#L53

Same call is made in line 50 as well in the above code

[2021-03-11 03:21] mactaggart commented on #2118
@rickfish ah, ok. I think we can close this since I don't see an issue. Thanks.

[2021-03-11 03:24] mactaggart commented on #2058
@rickfish I can help with this. Do you plan to submit a PR?

[2021-03-11 11:25] guru1306 opened #2124 "Dynomite Connection Pool Configuration"
Hi All

We are getting a connection pool exhaustion issue. I see we can increase the maximum number of connections per host from the below code. How do I override other settings like retry and maxTimeoutWhenExhausted?

[Code](https://github.com/Netflix/conductor/blob/a88e27400aa7666bfb462548a279db378abfff8d/redis-persistence/src/main/java/com/netflix/conductor/jedis/DynomiteJedisProvider.java#L43)

[2021-03-11 14:11] #2118 closed

[2021-03-11 14:19] rickfish commented on #2058
@mactaggart sorry, I am swamped right now and probably will be for a while. I have been meaning to change my code from what we discussed. I happened upon PostgresExecutionDAO.getTasks() that uses Query.generateInBindings(). I think that would probably be the better way to go. It probably executes the same but that would be the more 'standard' way. What do you think?

[2021-03-11 15:29] mactaggart commented on #2058
@rickfish I doubt building a placeholder string is more efficient than passing the array in directly, but agree it may be a more "standard" especially if we're going to abstract/reuse these queries across different SQL backends eventually. SQL IN is pretty standard, not sure about SQL ANY beyond postgres.

[2021-03-12 06:59] liangguohun opened #2126 "org.flywaydb.core.api.FlywayException: Schema `conductor` contains a failed migration to version 1 !"
[INFO ] 2021-03-12 14:58:20,130 HikariDataSource - HikariPool-7 - Shutdown completed.
[ERROR] 2021-03-12 14:58:20,130 MySQLDataSourceProvider - error migration DB
org.flywaydb.core.api.FlywayException: Schema `conductor` contains a failed migration to version 1 !
	at org.flywaydb.core.internal.command.DbMigrate$2.doInTransaction(DbMigrate.java:218)
	at org.flywaydb.core.internal.command.DbMigrate$

[2021-03-12 07:54] liangguohun commented on #2126
**i found that**
because i use mysql 5.6 and use utf8mb4, so got
[code]
**fixed:**

[code]
service mysql restart;
and check again

[2021-03-12 10:49] #2126 closed

[2021-03-12 12:04] liangguohun opened #2127 "master branch None of the configured nodes are available"
[code]

[2021-03-12 12:14] liangguohun commented on #2127
when i annotation
[code]
in file ElasticSearchTransportClientProvider, it's ok

[2021-03-12 12:14] #2127 closed

[2021-03-15 11:23] jas34 commented on #2120
Team, quick support will be appreciated.

[2021-03-15 23:27] aravindanr commented on #2113
@andyyumiao By obsolete, i presume that you are referring to this line in the log,

Note that this is a warning printed by the ElasticSearch client and not related to Conductor or the instance "hanging up". `JMRWFHandlerListener` seems to be connecting now based on the log entries, but i don't see any reason for the TerminateWorkflowException to be cause of the instance hang up.

[2021-03-15 23:44] kishorebanala commented on #2121
@ssg2526 This is not supported, however, we're also uncertain about implementing this within Conductor.

One of the ways this can be implemented is by having separate Conductor deployments and use a proxy layer (For eg: [Zuul](https://github.com/Netflix/zuul/wiki)) to direct to relevant deployment as required.

[2021-03-15 23:47] aravindanr commented on #2124
Those properties are part of Dyno Queues which is currently deprecated.

dyno.conductor.connection.connectTimeout -> Connection Timeout in milliseconds
dyno.conductor.connection.maxConnsPerHost
dyno.conductor.retryPolicy=RetryNTimes:2:true

[2021-03-15 23:48] apanicker-nflx commented on #2110
Thanks for the additional context, for this use-case a DO_WHILE does look to be a better fit. Alternatively depending on the nature of the logical decision (whether it could be modeled as an independent subworkflow), you could use trigger a new workflow in every iteration which operates independently in a fire-and-forget manner.

[2021-03-15 23:50] aravindanr commented on #2123
Thanks for reporting it. This is addressed in our upcoming 3.0 release. Feel free to create a pull request. We will get to it as soon as we can.

[2021-03-15 23:57] aravindanr commented on #2120
This is the concurrent execution limit that can be set on a task. Explained [here](https://netflix.github.io/conductor/configuration/taskdef/#task-definition). If the feature is not needed, set `concurrentExecLimit` in task definition as `0`.

[2021-03-15 23:57] #2120 closed

[2021-03-16 00:03] kishorebanala commented on #2122
@hans1980775481 This plugin seems to be available: https://plugins.gradle.org/plugin/nebula.netflixoss. Can you double check the gradle repositories configured please.

[2021-03-16 03:01] BobWang-SIA opened #2130 "queue name for userdefined task: taskType or taskDefName ?"
Hi, I found that the 'QueueUtils.getQueueName(Task)' used taskType to decide the queue name,
but in the client package, the TaskPollExecutor and Worker poll tasks by taskDefName.
So I'm confused. It seems that the server / worker  are not consistent with the queue strategy, so that workers can not fetch tasks
correctly?

[2021-03-16 04:39] guru1306 commented on #2124
@kishorebanala @aravindanr    Are you suggesting there is another way other than using these properties as you have pointed out dynoQueue is deprecated? I understand that the properties cannot be directly used.

[2021-03-16 10:12] andra-sava opened #2131 "conductor.proto.Workflow used instead of GetWorkflowStatusResponse"
Hi!  :smiley:
I am trying to integrate Graph QL - Mesh with a gRPC conductor service and I am using the conductor .proto files.
In **workflow_service.proto**, I have noticed that you have used **"conductor.proto.Workflow"** as the response for the GetWorkflowStatus rpc function, even if you have declared GetWorkflowStatusResponse which is not used anywhere. Is there any reason for that, because I

[2021-03-16 14:10] #1308 closed

[2021-03-17 02:47] ninyjun opened #2132 "v2.31.1 v3.0 RedisClusterJedisProvider Can only get a redis cluster IP bug"
//fixed Can only get a redis cluster IP  by ninyjun 462711932@qq.com 2021/03/17
        Set<HostAndPort> hosts = new HashSet<>();
        for(Host h : hostSupplier.getHosts()){
            hosts.add(new HostAndPort(h.getHostName(), h.getPort()));
        }
        //end

[2021-03-22 05:22] rafaelfbs commented on #828
I'm trying to resolve issues with Java 9+ and I think it's related to this (https://github.com/Netflix/conductor/issues/828) issue. I will fork and do some tests adding the `javax.annotation:javax.annotation-api:1.3.2` dependency to codegen.

[2021-03-23 03:38] BhavanaJoshi21 commented on #1856
Hello
Can someone provide task and workflow definitions for creating a subworkflow inside a parent workflow.
Thanks

[2021-03-23 15:39] marcocrasso commented on #2017
@aravindanr
I'd like to contribute with this, however I had a couple of questions after diving at 3.0 source code and  #2016. Based on available DAOs and implementations found in this repo, I sketched this:

![image](https://user-images.githubusercontent.com/73197513/112170751-1401fe00-8bd2-11eb-9b78-e1675264f404.png)

Based on "One approach is to provide a configuration property for each DAO inte

[2021-03-24 13:32] andyyumiao opened #2139 "About delete the primary key id of the tables"
I found the release note `Removed id column from Postgres and MySQL tables, set primary key to existing unique index` in v2.31.0, so i have a question, why delete the primary key id of the tables? what's the reason behind it?

[2021-03-24 13:57] mactaggart commented on #2139
@andyyumiao The id column wasn't serving any purpose and was set as the PK, therefore the PK was changed to the columns used in the unique indexes.

[2021-03-24 23:24] apanicker-nflx commented on #2130
For async system tasks, the queue names are created based on taskType while for simple tasks the queue names are created based on the taskDefName. The conductor server polls for system tasks from the queues by the task types but the poll requests from the client are routed to the queue names by their task def names.

[2021-03-24 23:24] #2130 closed

[2021-03-24 23:26] apanicker-nflx commented on #2124
These properties can be set directly on the server since they are applied to the dyno client.

DynoQueues being deprecated means that there is limited support for this project and eventually, we will look into removing support for this queuing layer from Conductor.

[2021-03-24 23:26] #2124 closed

[2021-03-24 23:29] kishorebanala commented on #2132
@ninyjun Not sure I understand the question here. Can you add more details with the expected behavior please?

[2021-03-24 23:36] apanicker-nflx commented on #2131
@andra-sava That looks like a bug and is certainly not expected. Please feel  free to submit a PR with the fix.

[2021-03-24 23:36] #2131 closed

[2021-03-25 00:02] #1997 closed

[2021-03-25 00:03] #2139 closed

[2021-03-25 00:07] apanicker-nflx commented on #1856
@BhavanaJoshi21 Please refer the [kitchensink workflow example](https://netflix.github.io/conductor/labs/kitchensink/#definition) in the documentation for an example of a subworkflow task within a parent. Also, the [subworkflow task](https://netflix.github.io/conductor/configuration/systask/#sub-workflow) documentation provides details about a subworkflow task using a workflow definition.

[2021-03-25 00:08] apanicker-nflx commented on #1856
This issue will be fixed as part #2025 . Closing

[2021-03-25 00:08] #1856 closed

[2021-03-25 14:08] RobinzhangPRO opened #2140 "Task with name 'postRelease' not found in root project 'conductor'"
zf@LAPTOP-4VS2EBU4 MINGW32 /d/web/mirrors-netflix-conductor-master/netflix-conductor/server
$ ../gradlew server

Git repository not found at D:\web\mirrors-netflix-conductor-master\netflix-cond
FAILURE: Build failed with an exception.

* Where:
Build file 'D:\web\mirrors-netflix-conductor-master\netflix-conductor\build.gradle' line: 13

* What went wrong:
An exception occurred applying plugin requ

[2021-03-25 22:48] aravindanr commented on #2017
@marcocrasso Thanks for volunteering. The idea behind this is to not eliminate `conductor.db.type`, but allow overrides for it. For instance, in #2016, the ask was to use MySQL for definitions & executions but Redis for queues. In the current setup, that is not possible.

The implementation that i am aiming for is something like,

[code]

The effect of the above configuration should be, for all DA

[2021-03-26 08:05] BobWang-SIA commented on #2130
I'm sorry but could you please show me where the queue names were created based on the taskDefName ?  I only found that the queue name are always decided by  the 'QueueUtils.getQueueName(Task)' , which always create queue by taskType.

[2021-03-26 12:19] CHURLZ opened #2142 "JSON reshaped to k=v"
When passing in a json object (outputted from another task), conductor reshapes my object to `k=v` such that the following input:

[code]

yields the following output:

[code]
rather than

[code]

The echo command is ran as part of a custom task. Is there a way to configure Conductor to retain the JSON shape of the original output?

[2021-03-28 04:14] andyyumiao commented on #2139
but if someone has deployed conductor in the production environment, can this change be compatible with the previous version? and will the previous workflow and task data be affected?

[2021-03-28 15:57] skycubed commented on #2139
@andyyumiao Yes, upgrading is backward compatible. Conductor uses database migrations when upgrading. If you have a previous version of conductor deployed a migration will handle making the necessary database modifications.

[2021-03-28 16:01] mactaggart commented on #2139
@andyyumiao Yes, this update is backward compatible. Conductor uses database migrations for upgrading. If you have an older version of Conductor deployed, a database migration will make the necessary database modifications.

[2021-03-29 19:32] akash0996 opened #2144 "Accessing owner email from WorkflowStatusListner"
Is there a way to access the owner email field from WorkflowStatusListner which has a parameter for common.run.workflow?

[2021-03-29 23:05] aravindanr commented on #2144
Yes. The methods in `WorkflowStatusListener` receive `Workflow` as the argument. `Workflow.getWorkflowDef().getOwnerEmail()` is the way to access owner email.

[2021-03-29 23:05] #2144 closed

[2021-03-29 23:12] apanicker-nflx commented on #2140
What is the gradle version that you are using? We recommend using the gradle wrapper that is packaged within the project so that it is compatible with the versions of the plugins used.

[2021-03-29 23:22] aravindanr commented on #2142
Can you share the workflow input and the workflow definition? Conductor does not (rather should not) alter the input in any way. Also, what language is this custom task worker written in. it is possible the object representation of the "input" in that language is altering the format.

[2021-03-29 23:25] #2107 closed

[2021-03-29 23:33] #2121 closed

[2021-03-29 23:34] #1751 closed

[2021-03-29 23:34] #2076 closed

[2021-03-29 23:35] #1761 closed

[2021-03-29 23:36] #1768 closed

[2021-03-29 23:37] #2081 closed

[2021-03-29 23:37] #1781 closed

[2021-03-29 23:42] aravindanr commented on #2142
This is probably the same issue as #2071 . The JSONPath library that Conductor uses for json interpolation does not support this.

[2021-03-29 23:44] #1797 closed

[2021-03-29 23:45] aravindanr commented on #2071
The JSONPath library that Conductor uses for json interpolation does not support this behavior. JSONPath sees the expression as a string uses the String representation of `${workflow.input.resources}` which is a `java.util.Map`.

[2021-03-29 23:45] #2074 closed

[2021-03-29 23:46] apanicker-nflx commented on #2130
When a SIMPLE task is created, the type is replaced with the task def name - https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/mapper/SimpleTaskMapper.java#L77

[2021-03-29 23:48] aravindanr commented on #2067
Using Cassandra for Queue is a known anti-pattern. That's why there is no QueueDao implementation backed by it.  Internally, we use Cassandra for Metadata and Executions, with QueueDao backed by an internal priority queuing system.

[2021-03-29 23:49] #1803 closed

[2021-03-29 23:50] #1804 closed

[2021-03-29 23:50] kishorebanala commented on #2061
Marking this as closed; Please feel free to reopen if this is still relevant.

[2021-03-29 23:50] #2061 closed

[2021-03-29 23:51] #1896 closed

[2021-03-29 23:51] #2033 closed

[2021-03-29 23:51] #1871 closed

[2021-03-29 23:52] #1905 closed

[2021-03-29 23:53] #1912 closed

[2021-03-29 23:53] #1906 closed

[2021-03-29 23:55] apanicker-nflx commented on #1924
This needs to be an array ```"dynamicTasksInputJSON": {
    "video2frames1": {
      "width": 100,
      "height": 100,
      "params": {
        "recipe": "jpg"
      }
    },
    "video2frames2": {
      "width": 200,
      "height": 200,
      "params": {
        "recipe": "jpg"
      }
    }
  }```

[2021-03-29 23:55] #1924 closed

[2021-03-29 23:56] apanicker-nflx commented on #1957
@HenryLauu this has been fixed as part of #2125

[2021-03-29 23:56] #1957 closed

[2021-03-30 00:01] apanicker-nflx commented on #1665
Please reopen if still relevant.

[2021-03-30 00:01] #1665 closed

[2021-03-30 00:02] #1622 closed

[2021-03-30 00:02] #1623 closed

[2021-03-30 00:03] #1638 closed

[2021-03-30 00:04] #1532 closed

[2021-03-30 02:02] saralaks opened #2146 "searchObjectIds method in ES gets the whole document which is not efficient"
Following method can cause 'org.apache.http.ContentTooLongException' since it fetches the actual document content in addition to ids.  For error details, refer to this [article](https://stackoverflow.com/questions/51020646/org-apache-http-contenttoolongexception-entity-content-is-too-long-105539255).

https://github.com/Netflix/conductor/blob/e328b5636b06268445a68fe51de87445b23c8560/es5-persistenc

[2021-03-30 02:31] flavioschuindt commented on #2071
Hi, @aravindanr. Thanks for replying.

So, is there any plan to change it? From my understanding, if I pass a json as input I would expect that this would still be a valid json and not a map. For example, this blocks some use cases where I want to call any http downstream services that is accepting a json. Unless I go in this downstream services and convert again the map to json or stringfy the in

[2021-03-30 02:34] andyyumiao opened #2147 "About ES Credentials issue"
**1.ES7 certificate username and password default value**
For ElasticSearch7 module, the `DEFAULT_ELASTIC_SEARCH_BASIC_AUTH_USERNAME` and `DEFAULT_ELASTIC_SEARCH_BASIC_AUTH_PASSWORD` in class `ElasticSearchConfiguration` should be null, or else, the verification in this class `ElasticSearchRestClientBuilderProvider` will not take effect, it is judged that the certificate does not exist when userna

[2021-03-30 12:27] hs-petko opened #2150 "Add task reference name to TaskSummary"
Could the task reference name be added to [TaskSummary](https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/run/TaskSummary.java) returned by [task search](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/service/TaskService.java#L203)?

Our use case is that we are adding some metadata as static inputs to tasks

[2021-03-31 23:59] RussellRC opened #2152 "Support for semantic versioning in workflows"
Currently you can version your workflow definitions with an integer number, which is nice because you can have multiple versions for the same workflow.

However, as with any app, sometimes you have to patch an existing production-in-use version, while you already have the next minor or major version in the works, or even already running in a non-production environment, in which case having an incr

[2021-04-01 08:24] CHURLZ commented on #2142
Thanks @aravindanr ! It was indeed an issue from stringifying the payload and sending as a string command to our docker based worker.

[2021-04-01 08:24] #2142 closed

[2021-04-06 02:25] ninyjun commented on #2132
A redis(3.0+)  cluster has multiple IP addresses
like this. x.x.x.111:6379;x.x.x.222:6379;x.x.x.333:6379
A redis(3.0+)  cluster has multiple IP addresses
like this   x.x.x.111:6379;x.x.x.222:6379;x.x.x.333:6379

RedisClusterJedisProvider.java

 public RedisClusterJedisProvider(HostSupplier hostSupplier, DynomiteConfiguration configuration) {
        GenericObjectPoolConfig genericObjectPoolConfig

[2021-04-06 21:42] jackstenglein commented on #136
@apanicker-nflx @v1r3n Hello, I'm a student at UT Austin, and I'd like to work on this issue as part of an assignment for my distributed systems class. Could you provide any guidance as to which files/sections of the codebase I will likely need to edit or where I should start looking? Thanks!

[2021-04-07 07:50] sanyamsidana commented on #2032
event other than “conductor:test_workflow_startedBy_eventHandler:complete_task_with_event” are not working.

I tried with the below definitions.

### Workflow with wait task
`{
  "name": "test_workflow_with_wait_task",
  "description": "A test workflow with wait task",
  "version": 1,
  "ownerEmail": "ev@ev.com",
  "tasks": [
    {
      "name": "wait_for_external_execution_completion",
      "tas

[2021-04-07 08:23] sanyamsidana commented on #2032
Though,
these events and workflows with same definition are working in v2.28.0

**screenshot from v2.28.0**
<img width="729" alt="Screenshot 2021-04-07 at 1 52 12 PM" src="https://user-images.githubusercontent.com/33194901/113834578-9d0b5e80-97a8-11eb-87ed-af4fe34f0be9.png">

[2021-04-07 08:25] #1613 closed

[2021-04-07 11:22] heinrichcohn opened #2162 "Allow configuration of min/max threads of JettyServer thread pool"
Externalize JettyServer thread pool configuration so that minThreads and maxThreads properties can be configured through configuration file

[2021-04-07 12:41] #2150 closed

[2021-04-07 14:36] neokyle1 commented on #1620
I think this is still an issue. I will re-test once 3.0 is released...

[2021-04-10 07:06] TwoUnderscorez commented on #2066
I will soon (week or two) open a pull request. We are currently running it in our environment to make sure it works properly.

[2021-04-12 23:27] #2162 closed

[2021-04-12 23:36] apanicker-nflx commented on #1620
What persistence layer and queue implementation are being used?

[2021-04-12 23:50] apanicker-nflx commented on #2146
@saralaks Thank you very much for reporting this. This would definitely be an enhancement to the search APIs. We will look into fixing this in 3.0, which uses ES6 by default.

If you wish to use in ES5, please feel free to open a PR with the fix against the 2.31 branch and we will merge and release.

[2021-04-12 23:50] aravindanr commented on #2032
@sanyamsidana I looked at the configuration and everything seems correctly configured. Unfortunately, we (Netflix) does not use or maintain the `mysql-persistence` and `postgres-persistence` modules. They are contributions from the community.  I am tagging some users who might be able to help with this one.

@rickfish @mactaggart @picaron

[2021-04-12 23:54] marcocrasso commented on #2017
@aravindanr
I've refactored all x-persistence modules to implement these as Java SPI modules, added one new module named service-loader which loads SPI Service Providers as spring-boot beans, updated documentation and added docker-compose-* with backend combinations, like MySQL +Cassandra.

I have forked the repo. Right now, me and our team is testing the Cassandra + MySQL combination. I decided t

[2021-04-13 00:05] apanicker-nflx commented on #2147
@heinrichcohn Could you please help with these questions?

[2021-04-13 00:10] kishorebanala commented on #136
Hey @jackstenglein, that's awesome. You can start by starting a discussion in [Github issues](https://github.com/Netflix/conductor/issues) with a proposed solution(s).

To get started with Conductor codebase, I'd recommend running in debug mode and tracing the execution path of some of the Conductor operations, eg: starting a workflow, and then polling and updating a task. [Workflow Executor](http

[2021-04-13 00:12] aravindanr commented on #2071
The JSONPath library is customizable. Here's a similar question about JSONPath in [SO](https://stackoverflow.com/questions/52078224/java-jsonpath-extract-nested-json-object-as-string). Unfortunately, this is not a high priority and we won't get to it in the near future

@flavioschuindt @CHURLZ if you have the time, we highly encourage you to contribute.

[2021-04-13 12:37] rickfish commented on #2032
Not sure if this is the same problem but see issue #1806 (it is closed now). If you are running in a kubernetes implementation, your pod might be using one logical core. There was a change made (PR #1748) that defaulted the number of threads in the event processing scheduler to the number of cores on the box. That change made it so that if you use the default of the new 'workflow.event.queue.sched

[2021-04-13 13:30] cdzhek commented on #2140
Hello @RobinzhangPRO . Were you able to solve this problem?
If yes, could you share your solution please.

[2021-04-14 07:09] komatiraju032 opened #2174 "/api/workflow/{workflowId} endpoint not working in swagger"
**Describe the bug**
Get  the workflow by id(/api/workflow/{workflowId}) endpoint is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://<conductor_ip>:8080/swagger-ui/index.html?configUrl=/api-docs/swagger-config'
2. Click on '/api/workflow/{workflowId}' endpoint. It's not working. When I click on it page is stuck (not responding)

**Expected behavior**
It should give

[2021-04-14 07:19] komatiraju032 opened #2175 "Workflow UI not showing the workflows"
**Describe the bug**
Workflow ui not showing the workflows.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the workflow  by making a POST request to '/api/workflow' endpoint
2. Open the conductor ui 'http://conductor_ip:5000. Now select the any category(All, Running, etc..) in **Executions** tab. It's not showing any workflows.

**Expected behavior**
It should show all the workflows .

[2021-04-14 15:36] hvishal44 opened #2177 "Task stuck at SCHEDULED state when on redis clustering mode"
I'm providing clustered redis as db, and whenever a workflow is created, tasks inside the workflow are stuck at SCHEDULED state, while syncing of tasks and workflow defs between 2 conductor instances are working fine.
Checked on polling part and seems fine for that task.

Verifying logs:
Only few logs are visible when workflow is started :

`273641 [qtp1801709229-92] INFO  com.netflix.conductor.co

[2021-04-15 00:13] #2044 closed

[2021-04-15 00:13] #2037 closed

[2021-04-15 00:13] #2008 closed

[2021-04-15 00:13] #2007 closed

[2021-04-15 00:13] #1992 closed

[2021-04-15 00:13] #1964 closed

[2021-04-15 00:13] #1958 closed

[2021-04-15 00:13] #1937 closed

[2021-04-15 00:13] #1934 closed

[2021-04-15 00:13] #1927 closed

[2021-04-15 00:13] #1917 closed

[2021-04-15 00:13] #1907 closed

[2021-04-15 00:13] #1890 closed

[2021-04-15 00:13] #1868 closed

[2021-04-15 00:14] #1857 closed

[2021-04-15 00:14] #1855 closed

[2021-04-15 00:14] #1854 closed

[2021-04-15 00:14] #1848 closed

[2021-04-15 00:14] #1844 closed

[2021-04-15 00:14] #1836 closed

[2021-04-15 00:14] #1811 closed

[2021-04-15 00:14] #1806 closed

[2021-04-15 00:14] #1790 closed

[2021-04-15 00:14] #1772 closed

[2021-04-15 00:14] #1767 closed

[2021-04-15 00:14] #1744 closed

[2021-04-15 00:14] #1736 closed

[2021-04-15 00:14] #1726 closed

[2021-04-15 00:14] #1713 closed

[2021-04-15 00:14] #1703 closed

[2021-04-15 00:14] #1697 closed

[2021-04-15 00:14] #1690 closed

[2021-04-15 00:14] #1689 closed

[2021-04-15 00:14] #1687 closed

[2021-04-15 00:14] #1683 closed

[2021-04-15 00:14] #1677 closed

[2021-04-15 00:14] #1662 closed

[2021-04-15 00:14] #1661 closed

[2021-04-15 00:14] #1659 closed

[2021-04-15 00:14] #1656 closed

[2021-04-15 00:14] #1655 closed

[2021-04-15 00:14] #1647 closed

[2021-04-15 00:14] #1635 closed

[2021-04-15 00:42] james-deee commented on #2032
Yeah @rickfish is right. Unfortunately, that PR was "closed" because it just got stale :( So we still probably need that reverted.

Another option, which we've done temporarily until that core issue can be addressed, is just tweaked a setting to handle it:

[code]
Now, that's a problem if you have more than 300 events, you'll be in the same boat. For *us* this is fine because we don't have even cl

[2021-04-15 10:01] hvishal44 commented on #2177
I even tried redis sentinel and configured sentinel hosts in configuration, problem seems to be not solved.

[2021-04-16 00:17] #1398 closed

[2021-04-16 00:44] marcocrasso commented on #1811
@eins today I faced the same problem and a Web search brings me here. In case you still want to achieve this, I'd suggest to:

## for development purposes:

in server/build.gradle file add:

[code]

in server/src/main/resources/application.properties add:
[code]

then hit at root:

[code]

visit: http://localhost:8080/actuator and follow the links.

## for PRD
For production, build a docker image

[2021-04-16 00:49] marcocrasso commented on #1811
By the way, the source I consulted:

1) Sections 1 and 2 (only the first two sentences) of : https://micrometer.io/docs/registry/prometheus#_installing
2) https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-features.html#production-ready-endpoints-exposing-endpoints

[2021-04-16 00:57] marcocrasso commented on #600
For those interested in this support working with Prometheus:

Using latest main branch, and after consulting:
1) https://micrometer.io/docs/registry/prometheus#_installing (just need Section 1 and 2 sentences of Section 2)
2) https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-features.html#production-ready-endpoints-exposing-endpoints

## DEV

in server/build.gradle f

[2021-04-16 01:28] ninyjun commented on #2132
conductor3.0               RedisClusterConfiguration.java
----------------
protected JedisCommands createJedisCommands(RedisProperties properties, ConductorProperties conductorProperties,
        HostSupplier hostSupplier, TokenMapSupplier tokenMapSupplier) {
        GenericObjectPoolConfig genericObjectPoolConfig = new GenericObjectPoolConfig();
        genericObjectPoolConfig.setMaxTotal(propert

[2021-04-16 02:21] apanicker-nflx commented on #2132
@ninyjun Thank you for reporting this. Could you please open a PR with the fix?

[2021-04-16 11:41] rickfish commented on #1884
@zummino Not sure if this is the same problem but it might be - see issue #2032. If it is the same problem, the issue resides in DynoObservableQueue. There was a change made by somebody that caused the number of event types that can be processed to be equal to the number of cores on the box. This was supposed to be reverted but apparently was not.

If this is your problem, the solution is to chang

[2021-04-16 13:00] BhavanaJoshi21 opened #2182 "[QUESTION]: Decision condition for decide task for dictionary output from a task?"
Hello
I have two tasks- task1, task2 in my workflow
I want to have a decision task between above these two tasks, if task1 gives success as output then only task2 should be executed
I have a python handler script which is giving output of task1 in dictionary format like this

output['status of task1'] = 'success'
output['message from task1'] = 'success'

how do I apply the decision condition in my

[2021-04-17 10:38] #2182 closed

[2021-04-19 00:13] #1607 closed

[2021-04-19 03:18] ninyjun opened #2190 "[BUG]: conductor3.0.1 build error"
Build file '/Users/songzj/Downloads/sourceCode/conductor-3.0.1/build.gradle' line: 18

An exception occurred applying plugin request [id: 'nebula.netflixoss', version: '9.2.2']

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.plugins.InvalidPluginException: An exception occurred applying plugin request [id: 'neb

[2021-04-19 09:18] maheshyaddanapudi commented on #2190
I was able to fork the repository, make changes, build the JAR, run the Jar and Gradlew Server successfully.

I have submitted a PR for the changes in Dockerfile as it defaults to openjdk-8 and Conductor 3.X is openjdk-11 compatible, along with few other features.

Checkout https://github.com/maheshyaddanapudi/conductor or the PR https://github.com/Netflix/conductor/pull/2188

[2021-04-19 19:22] neokyle1 commented on #1620
ES 6 and dyno-queues

[2021-04-19 23:25] apanicker-nflx commented on #2140
@cdzhek Please ensure that you are using the gradle wrapper packaged within the project.

[2021-04-19 23:32] apanicker-nflx commented on #2174
@komatiraju032 What type of persistence layer are you using? Do you see any errors in the server logs?

[2021-04-19 23:33] apanicker-nflx commented on #2175
@komatiraju032 Did you enable the indexing layer? The UI needs indexing layer to display results. Can you verify if the API returns results?

[2021-04-19 23:54] apanicker-nflx commented on #2177
@hvishal44 Can you please test this out with version 3.+ ? What queueing implementation are you using?

[2021-04-20 05:22] komatiraju032 commented on #2174
@apanicker-nflx I am using default configuration(docker-compose.yml). And For your information endpoint is working from postman.

[2021-04-20 11:28] hvishal44 commented on #2177
Sure will try with 3.+, Thanks for suggestion.
We are using default queuing implementation, we have not configured or changed the queue configuration.

[2021-04-20 13:55] #1588 closed

[2021-04-21 00:13] #1598 closed

[2021-04-21 00:13] #1596 closed

[2021-04-21 00:13] #1587 closed

[2021-04-21 00:13] #1583 closed

[2021-04-21 03:21] liangguohun opened #2197 "org.flywaydb.core.api.FlywayException: Validate failed: Migration checksum mismatch for migration 1"
when i start my server got bug
[code]
or
[code]
but i don't change any，mysql version 5.6.39

[2021-04-21 05:40] maheshyaddanapudi commented on #2174
No errors observed but the issue happens only in Swagger UI. I have opened a discussion thread https://github.com/Netflix/conductor/discussions/2192

[2021-04-21 05:50] maheshyaddanapudi commented on #2110
Hi,

Below is my understanding of the usecase.

Trigger Workflow 'Perform HC'

1) Start
2) Check Status
  2.1) If Status is Green --> Terminate with Status COMPLETED or just Stop (as in let the workflow end)
  2.2) If Status is Amber (as in not Green) --> Repeat

Instead of using a SUB_WORKFLOW, it can be replaced with a HTTP Task that would POST a request to run 'Perform HC'.

Something like belo

[2021-04-21 09:52] maheshyaddanapudi commented on #2175
This property is not enabled by default in the docker/server/config/config.properties and hence even though the elasticsearch url is provided, the workflow execution history is not being returned by the search API.

conductor.indexing.enabled=true

Added this in the PR https://github.com/Netflix/conductor/pull/2188

Of course, the same has to be set manually while running Conductor standalone (or

[2021-04-21 10:54] komatiraju032 commented on #2175
@maheshyaddanapudi but it's working for conductor v2 without that property

[2021-04-21 10:56] maheshyaddanapudi commented on #2175
Yes.

There is switch from 2.X to 3.X which has many changes like Framework being used now is Spring Boot, the embedded Elasticsearch is no longer supported etc.

As a part of these changes, few properties for updated / added.

[2021-04-21 18:08] #2146 closed

[2021-04-21 18:11] komatiraju032 opened #2198 "build failure because of java-8"
I tried to build the conductor using `docker-compose build`. Build is failing with below error.
[code]

[2021-04-21 18:12] komatiraju032 commented on #2198
When I replace java-8 with java-11 build completed successfully

[2021-04-21 18:53] komatiraju032 opened #2199 "conductor server is failed to run because of wrong jar file name"
I have started the conductor using `docker-compose up -d`. I'm getting the below error for conductor-server
[code]

[2021-04-21 18:54] komatiraju032 commented on #2199
I fixed the issue by changing "all" with "boot"(conductor-server-*-boot.jar) in `docker/server/bin/startup.sh` file

[2021-04-21 23:07] rickfish commented on #2110
Thanks. This is a good solution, very similar to using EVENT tasks to start the secondary workflow. We will look into this.

[2021-04-22 00:19] #1376 closed

[2021-04-22 06:43] franz040187 commented on #2177
Hi @hvishal44, have you solved with new version? I have a similar issue with event handlers (they stuck in WAIT task and they cannot be resumed), i think this can be a queues issue that are not pop some events/messages. Thanks

[2021-04-22 07:05] maheshyaddanapudi commented on #2199
Hi @komatiraju032

I am raising a PR with this and few other docker compose big fixes.

Will post the PR# here once done.

[2021-04-22 09:14] liangguohun opened #2201 "when access swagger i can't got any"
**when i access address**
http://localhost:8080/index.html

can someone tell me what is the flow path, thanks.

![image](https://user-images.githubusercontent.com/10294447/115688760-03d66d80-a38e-11eb-9073-f745e34c6db5.png)

[code]

[2021-04-22 09:45] liangguohun commented on #2201
![image](https://user-images.githubusercontent.com/10294447/115692985-105cc500-a392-11eb-8696-9ecfe0a1187e.png)
because i change the framwork myself , the version's problem

[2021-04-22 09:45] #2201 closed

[2021-04-22 11:04] AditiRitam1209 opened #2202 "[DOC]: Need help or example for integrating microservice to call the workflow of conductor in production"
## What are you missing in the docs

## Proposed text

[2021-04-22 14:56] andyyumiao commented on #2147
@apanicker-nflx @heinrichcohn I have just submit a PR for it, pls help to evaluate and check it. [https://github.com/Netflix/conductor/pull/2204](url)

[2021-04-23 00:14] #1580 closed

[2021-04-23 00:14] #1578 closed

[2021-04-23 00:14] #1577 closed

[2021-04-23 00:14] #1560 closed

[2021-04-23 00:14] #1558 closed

[2021-04-23 00:14] #1556 closed

[2021-04-23 00:14] #1544 closed

[2021-04-23 00:14] #1540 closed

[2021-04-23 00:14] #1539 closed

[2021-04-23 00:14] #1531 closed

[2021-04-23 00:14] #1529 closed

[2021-04-23 00:14] #1525 closed

[2021-04-23 00:14] #1524 closed

[2021-04-23 00:14] #1518 closed

[2021-04-23 00:14] #1499 closed

[2021-04-23 00:14] #1497 closed

[2021-04-23 00:14] #1496 closed

[2021-04-23 00:14] #1486 closed

[2021-04-23 00:15] #1485 closed

[2021-04-23 00:15] #1483 closed

[2021-04-23 00:15] #1476 closed

[2021-04-23 00:15] #1472 closed

[2021-04-23 00:15] #1460 closed

[2021-04-23 00:15] #1455 closed

[2021-04-23 00:15] #1448 closed

[2021-04-23 00:15] #1446 closed

[2021-04-23 00:15] #1443 closed

[2021-04-23 00:15] #1431 closed

[2021-04-23 00:15] #1424 closed

[2021-04-23 00:15] #1421 closed

[2021-04-23 00:15] #1410 closed

[2021-04-23 00:15] #1407 closed

[2021-04-23 00:15] #1405 closed

[2021-04-23 00:15] #1404 closed

[2021-04-23 00:15] #1401 closed

[2021-04-23 00:15] #1399 closed

[2021-04-25 13:39] maheshyaddanapudi commented on #2199
Raised PR# https://github.com/Netflix/conductor/pull/2206

[2021-04-25 13:40] maheshyaddanapudi commented on #2198
Raised PR# https://github.com/Netflix/conductor/pull/2206

[2021-04-25 18:03] arjunbiyani opened #2207 "[BUG]:"
While running Docker compose up  ,  build is failing

**To Reproduce**
Steps to reproduce the behavior:
1. cd docker
2. docker-compose up

**Screenshots**
Docker Compose is now in the Docker CLI, try `docker compose up`

Building conductor-server
[+] Building 125.6s (12/16)
 => [internal] load build definition from Dockerfile

[2021-04-25 18:19] komatiraju032 commented on #2207
Duplicate of #2198

[2021-04-25 20:26] maheshyaddanapudi commented on #2198
PR Raised https://github.com/Netflix/conductor/pull/2206

[2021-04-25 20:27] maheshyaddanapudi commented on #2207
PR Raised https://github.com/Netflix/conductor/pull/2206

[2021-04-26 07:01] liangguohun opened #2208 "how to use grpc client view!!"
as i know grpc is more effect, so i use grpc replace jersey but got such problem as follow

[code]
my change as bellow
[code]

[2021-04-26 08:23] liangguohun commented on #2208
it works when i update grpc versiont to 1.37.0

[2021-04-26 08:23] #2208 closed

[2021-04-26 12:12] komatiraju032 commented on #2174
@apanicker-nflx  I have find it's not working because of this issue https://github.com/OAI/OpenAPI-Specification/issues/822

[2021-04-26 12:20] maheshyaddanapudi commented on #2174
@komatiraju032 is there any specification for a work around it different way to configure ? I couldn't directly find any in their Read Me. I'll explore too.

[2021-04-26 12:33] komatiraju032 commented on #2174
@maheshyaddanapudi  I found one more related issue on stackoverflow https://stackoverflow.com/questions/35605427/swagger-ui-freezes-after-api-fetch-and-browser-crashes

[2021-04-26 13:14] hi-zjh commented on #2177
same problem with 3.0.1, redis cluster

[2021-04-26 13:18] hvishal44 commented on #2177
Yes @franz040187 , tried with 3.+, didnt solve the problem.

[2021-04-26 13:28] hi-zjh commented on #2177
createSubdomain_vivoops-dns (SCHEDULED)
log：No Task available for the poll: /tasks/poll/createSubdomain_vivoops-dns?vivoops-dns-pre-10-209-10-4.v-bj-4.vivo.lan&null

[2021-04-26 23:44] apanicker-nflx commented on #2197
What persistence layer are you using? Also what version of Conductor are you running into this error with?

[2021-04-26 23:50] apanicker-nflx commented on #2175
@maheshyaddanapudi Thanks for the response. Your observation and workarounds are correct.

@komatiraju032 We are working on merging #2206 soon and hopefully this will alleviate any issues with getting the server up and running.

[2021-04-27 00:03] #2110 closed

[2021-04-27 00:09] apanicker-nflx commented on #2202
Please open a discussion which explains your setup and how you plan to use Conductor in your ecosystem. Also please provide some details about the type of services that you are looking to orchestrate.

[2021-04-27 00:09] #2202 closed

[2021-04-27 00:11] aravindanr commented on #2174
@komatiraju032 we believe its because of the `com.google.protobuf.Any` type that the `inputMessage` and `outputMessage` fields in `Task` class. Excluding those fields in Swagger definition should solve the issue. We will get to it  asap.

[2021-04-27 00:13] #2147 closed

[2021-04-27 06:43] komatiraju032 commented on #2174
@aravindanr I have fixed the issue with the information you have provided. I also created a PR #2210

[2021-04-27 12:00] liangguohun opened #2211 "[BUG]: if the output has nested structure the AbstractProtoMapper can't use toProto convert"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1、if data structure like follow it work.
[code]

2、like follow it donot work.

[code]
3、 got errors like follow
[code]

**Expected behavior**
hope can convert nested structure like
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additio

[2021-04-27 16:38] aravindanr commented on #2174
Thanks @komatiraju032 . I left a minor comment in the PR.

[2021-04-27 16:43] hi-zjh commented on #2177
https://github.com/Netflix/conductor/issues/1287#issuecomment-529289190
this issue explain to how to solve this problem

[2021-04-27 18:19] #2174 closed

[2021-04-28 05:25] komatiraju032 commented on #2211
@liangguohun expected output you provided is not matching with your code. In your code ket "data" is empty map but in your output it has values.

[2021-04-28 08:10] komatiraju032 opened #2212 "Validation error while posting the workflow"
I am trying to add the workflow using `/metadata/workflow` endpoint. When I make the request it's failing with validation errors.

I am using [kitchensink workflow](https://netflix.github.io/conductor/labs/kitchensink/#definition).

**Curl Request**
[code]
**Error:**
[code]

[2021-04-29 19:15] mashurex commented on #2197
@liangguohun What version of conductor did you upgrade from? Quite a while ago the Version 1 migration was modified and republished, which is why Flyway is throwing a validation error.

If you do not worry about the data in the database you can drop the schema and re-create it and all will work fine going forward.

If you do care about the database content you can attempt a manual migration which