[2021-04-30 00:07] #1381 closed

[2021-04-30 05:07] hi-zjh commented on #2059
i use mysql too,but the task is always in scheduled status, server log is "No Task available for the poll"

i use 3.0.1 version, here is my config ,can you help me find the problem?
`conductor.db.type=mysql
conductor.mysql.jdbcUrl=jdbc:mysql://10.101.1.217:9672/conductor
conductor.mysql.jdbcUsername=rw_conductor
conductor.mysql.jdbcPassword=rjYdXx76HU8A4JUq
# Hikari pool sizes are -1 by default an

[2021-04-30 19:25] TwoUnderscorez commented on #2032
@rickfish This fix worked for us. Should I open a PR to change it back to Schedulers.io()? Now in https://github.com/Netflix/conductor/blob/d32ad1622740221398b48589a44079febbcdc5fb/core/src/main/java/com/netflix/conductor/core/events/queue/ConductorObservableQueue.java I assume.

[2021-05-02 00:09] #2119 closed

[2021-05-02 00:09] #2106 closed

[2021-05-02 00:09] #1980 closed

[2021-05-02 00:09] #1375 closed

[2021-05-02 00:10] #1367 closed

[2021-05-02 00:10] #1359 closed

[2021-05-02 00:10] #1356 closed

[2021-05-02 00:10] #1340 closed

[2021-05-02 00:10] #1324 closed

[2021-05-02 00:10] #1317 closed

[2021-05-02 00:10] #1316 closed

[2021-05-02 00:10] #1315 closed

[2021-05-02 00:10] #1307 closed

[2021-05-02 00:10] #1306 closed

[2021-05-02 00:10] #1303 closed

[2021-05-02 00:10] #1298 closed

[2021-05-02 00:10] #1290 closed

[2021-05-02 00:10] #1287 closed

[2021-05-02 00:10] #1281 closed

[2021-05-02 00:10] #1277 closed

[2021-05-02 00:10] #1276 closed

[2021-05-02 00:10] #1271 closed

[2021-05-02 00:10] #1226 closed

[2021-05-02 00:10] #1219 closed

[2021-05-02 00:10] #1208 closed

[2021-05-02 00:10] #1164 closed

[2021-05-02 00:10] #1091 closed

[2021-05-02 00:10] #1035 closed

[2021-05-02 00:10] #1031 closed

[2021-05-02 11:12] Jiehong commented on #2094
@aravindanr indeed, but I think conductor should not fail to update a task if the metric fails. It should be wrapped in a try/catch, and only be a warning.

On the other side, fixing that metric exception is our side, indeed.

Could this bug be re-opened as such?

[2021-05-03 22:25] neokyle1 commented on #1620
@kishorebanala I tested this with conductor 3.0.2 and it is still broken (every time). The best I can tell, dyno-queues is using the ZRANGEBYSCORE redis function to pop messages off the queue. After queuing some tasks using the above script, I checked the result of that command manually:

[code]

It looks like the SCORE value is comprised of the task's creation time as an epoch millisecond plus it

[2021-05-03 23:15] #2017 closed

[2021-05-03 23:17] #2152 closed

[2021-05-03 23:43] kishorebanala commented on #2212
Hey @komatiraju032, Looking at the validation messages above, I believe the tasks are not registered before registering a workflow. The validation order is to ensure that the tasks are defined before being used in a workflow.

[2021-05-04 00:05] #2058 closed

[2021-05-04 04:24] apanicker-nflx commented on #2177
@hi-zjh thank you.
This is a limitation of dyno-queues and the linked comment above explains it.

[2021-05-04 04:24] #2177 closed

[2021-05-04 04:50] komatiraju032 commented on #2212
@kishorebanala But the same request working in conductor 2.x.

[2021-05-04 05:18] #2067 closed

[2021-05-05 00:03] #963 closed

[2021-05-05 07:41] heinrichcohn opened #2228 "[BUG]: Unable to build conductor. Forbidden access to Bintray"
**Description**
I'm unable to build conductor-grpc due to forbidden access to Bintray. Bintray has been sunset (since May 1st !!)
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

**To Reproduce**
Steps to reproduce the behavior:
1. Clean gradle local cache related to io.chaossystems.grpc grpc-healthcheck 1.0.1  (or use a clean  machine on which you haven't run any

[2021-05-05 14:08] devinderpal commented on #2228
+1. I also ran into this issue with v2

[2021-05-05 15:17] devinderpal commented on #2212
I am also facing the same issue. In my case, tasks have been registered already. The code was working fine with 2.x but not working with v3.0.2

[2021-05-05 16:47] devinderpal commented on #2212
After some troubleshooting, it's failing at the below code in WorkflowTaskValidConstraint.
Even though I am using "mysql" persistence, ValidationContext.getMetadataDAO() = com.netflix.conductor.redis.dao.**RedisMetadataDAO**@...

Why is it pointing to Redis? It should be MySQLMetadataDAO

[code]

[2021-05-05 21:35] devinderpal commented on #2212
After some more investigation, looks like the root cause is that `conductor-mysql-persistence-*.jar` is not in the conductor-server-*-boot.jar. So it can't load MySQLMetadataDAO. Even postgres jar is not there. So currently v3.x wouldn't work correctly with these databases.

[2021-05-06 00:03] #952 closed

[2021-05-06 00:03] #904 closed

[2021-05-06 08:22] atri83 commented on #2228
This is a serious issue and affecting our PoC. Why can't grpc dependency be changed.

[2021-05-06 21:00] aravindanr commented on #2228
@atri83 If you are doing PoC, we recommend that you use 3.x. 2.x is on life support and will be deprecated soon.

[2021-05-06 21:13] aravindanr commented on #2228
@heinrichcohn @devinderpal If you can upgrade, please use 3.x, as its more actively maintained. It also does not include this particular dependency.

For 2.x, the `io.chaossystems.grpc grpc-healthcheck` seems superfluous as i was able to run the build after removing the dependency.  You can remove the dependency locally if you want. We will update the 2.31 branch soon.

[2021-05-06 22:53] devinderpal commented on #2228
Even 3.x version is not working for MySQL database.
See https://github.com/Netflix/conductor/issues/2212

Sent from my iPhone

[2021-05-07 05:32] heinrichcohn commented on #2228
@aravindanr  I was able to compile the project after removing  'io.chaossystems.grpc:grpc-healthcheck:1.0.+:protos' from the gradle.build

Thanks!

[2021-05-07 06:11] atri83 commented on #2228
@heinrichcohn It's not working for me to post that as well. I am getting Test cases failed for conductor

Task :conductor-cassandra-persistence:test

com.netflix.conductor.dao.cassandra.CassandraDAOTest > classMethod FAILED
    java.lang.AssertionError at CassandraDAOTest.java:71

com.netflix.conductor.dao.cassandra.CassandraDAOTest > classMethod FAILED

[2021-05-07 06:12] atri83 commented on #2228
@aravindanr thanks for that. Only one question... Does it support integration with ElastiCache Redis Cluster?

[2021-05-08 00:03] #2122 closed

[2021-05-10 23:08] #2228 closed

[2021-05-10 23:10] aravindanr commented on #2199
This bug is addressed in [v3.0.3](https://github.com/Netflix/conductor/releases/tag/v3.0.3)

[2021-05-10 23:10] #2199 closed

[2021-05-10 23:11] aravindanr commented on #2190
This issue is addressed in [v3.0.3](https://github.com/Netflix/conductor/releases/tag/v3.0.3)

[2021-05-10 23:11] #2190 closed

[2021-05-10 23:12] aravindanr commented on #2207
This is addressed as part of [v3.0.3](https://github.com/Netflix/conductor/releases/tag/v3.0.3)

[2021-05-10 23:12] #2207 closed

[2021-05-10 23:27] apanicker-nflx commented on #2032
See #1987 , @mdepak can you please comment on the changes and how you are attempting to fix this? Thanks

[2021-05-10 23:38] apanicker-nflx commented on #2094
@Jiehong Metrics collection is not/should not be on the critical path of the application such that an exception here should not be tricked up to the app layer. The problem with wrapping it in a try/catch would be that the entire code base will then be littered with such making it impossible to parse/consume, given the volume of metrics that are emitted from Conductor.

[2021-05-10 23:58] apanicker-nflx commented on #2212
This should be fixed as part of #2222

[2021-05-10 23:58] #2212 closed

[2021-05-11 00:03] #822 closed

[2021-05-11 00:04] #718 closed, assigned to nobody

[2021-05-11 00:04] #524 closed

[2021-05-11 00:04] #429 closed

[2021-05-11 00:04] #300 closed

[2021-05-11 00:04] #292 closed

[2021-05-11 00:20] kishorebanala commented on #1620
You're right! The priority in a decimal with epoch doesn't makes sense. Thanks for providing a detailed example.

Given that Dyno-queues is deprecated, I'd encourage you to move to Mysql or other implementations of queue.

Otherwise, one way to get around this is by tweaking the timestamp (eg: ts minus priorityScore) before sending this to Dyno-queues.

[2021-05-12 10:28] Jiehong opened #2248 "[BUG]: Subworkflows are assumed to be started by the subworkflow task"
When a workflow is decided, it might have a parent, in which case the parent needs to be updated.

Up until 2.30.3, the parent task was correctly retrieved and updated when the sub workflow was finished.

However, updating to 2.31.3, it seems that now it fails, because conductor tries to specifically update the task that started that subworkflow as SUB_WORKFLOW.

However, we have defined multiple

[2021-05-12 16:50] #2175 closed

[2021-05-12 16:50] #2140 closed

[2021-05-12 21:09] jackstenglein commented on #136
Hi @kishorebanala, sorry for the late reply.

It seems like this functionality already exists, and I am confused about what work this issue requires. See the screenshot below: you can filter workflows by their type and version and then use the bulk processing functionality to pause all of them. That seems to be the functionality that this issue is looking for. Is this just an old issue that never

[2021-05-13 00:33] #354 closed

[2021-05-13 00:34] #370 closed

[2021-05-13 00:34] #377 closed

[2021-05-13 00:34] #379 closed

[2021-05-13 00:35] #435 closed

[2021-05-13 00:35] #438 closed

[2021-05-13 00:36] #376 closed

[2021-05-13 00:36] #402 closed

[2021-05-13 00:37] #403 closed

[2021-05-13 00:40] #1110 closed

[2021-05-13 00:40] #1861 closed

[2021-05-13 00:43] #2063 closed

[2021-05-14 19:11] Sujay008 opened #2252 "[BUG]: Task acknowledgment not consumed by Conductor posted by a Custom Worker"
**Bug :** Task acknowledgement triggered by custom worker (SIMPLE) was not consumed by conductor and this is observed during a simple Performance execution

**Impact of Bug** : Task remained in InProgress status and Conductor moved the workflow to Completed status.

**Pre-requisites** - Conductor version is 2.30.3.  A workflow calling a sub-workflow where sub-workflow performs custom tasks consume

[2021-05-14 22:06] flavioschuindt commented on #1953
As suggestion for 2.X of conductor, you actually don't need to import conductor code per say. One approach is to create a external jar that implement any interface of conductor described in the docs and inject this as a bean using Guice. Once implemented, you change the classpath to make conductor load your external jar inside its own JVM. One example for a custom listener implementation that I di

[2021-05-14 23:58] #2132 closed

[2021-05-16 04:40] taojwmware commented on #999
@kishorebanala same issue on me too.

#11 519.4 FAILURE: Build failed with an exception.
#11 519.4
#11 519.4 * What went wrong:
#11 519.4 Could not resolve all files for configuration ':conductor-grpc:protobuf'.
#11 519.4 > Could not resolve io.chaossystems.grpc:grpc-healthcheck:1.0.1.
#11 519.4   Required by:
#11 519.4       project :conductor-grpc
#11 519.4    > Could not resolve io.chaossystems

[2021-05-16 09:05] bhawani021 opened #2257 "[QUESTION]: Version 3: How custom worker will acknowledge to conductor server if it's reading (executing) a task"
In conductor version 3, `API POST /tasks/{taskId}/ack` has been removed.

https://github.com/Netflix/conductor/blob/main/CHANGELOG.md

How worker can acknowledge to Conductor server about execution of task? Is there any new API that worker need to use to acknowledge Connector servicer.

[2021-05-16 12:20] taojwmware commented on #2228
<img width="1835" alt="Screen Shot 2021-05-16 at 7 18 29 AM" src="https://user-images.githubusercontent.com/25186652/118396837-fae85d00-b616-11eb-9f72-ae5b15ba3975.png">

Looks like bintray is no longer available. Is there any plan to move out of bintray?

[2021-05-16 18:40] #2257 closed

[2021-05-17 07:27] arjunlajpal opened #2259 "[BUG]:"
**Describe the bug**
RedisLockConfiguration.java in case of sentinel mode should accept multiple sentinel node addresses.
Currently it takes in only one node address and discover other sentinel nodes by firing command
sentinel slaves 'masterName'

If this node happens to be down, application won't come up.

**To Reproduce**
Steps to reproduce the behaviour:
1. Setup redis in sentinel mode.
2. Brin

[2021-05-17 15:07] voratham commented on #999
Yes, I have a problem same on my ci-runner.  In past 4 - 5 month not found with this problem but i found on today

![image](https://user-images.githubusercontent.com/30921472/118511412-127d2e00-b75c-11eb-9918-b27fe2a490a5.png)

[2021-05-17 16:43] taojwmware commented on #999
<img width="1835" alt="Screen Shot 2021-05-16 at 7 18 29 AM" src="https://user-images.githubusercontent.com/25186652/118525631-074ae380-b705-11eb-924b-ee664342eddd.png">
I think bintray is dead and we need to switch to other places.

[2021-05-17 23:33] apanicker-nflx commented on #136
I think the wording in that comment is a bit misleading as the original poster is looking for a way to pause all _tasks_ of a specific type. In the case described by OP, they are looking to temporarily pause processing of a specific task type. During this time, all RUNNING workflows which contain this task would inherently be halted until such time that the paused task type has been resumed.
Hope

[2021-05-17 23:44] apanicker-nflx commented on #2252
@Sujay008 There were a couple of edge cases with regards to updating the subworkflow status and subworkflow task status in parent workflow which we identified and fixed as part of the 3.0 release. These fixes were made in #2125 .

We strongly recommend upgrading to the newest stable version which simplifies and fixes the subworkflow execution path.

[2021-05-17 23:50] apanicker-nflx commented on #2228
@taojwmware v3.x does not publish to bintray rather to [mavencentral](https://mvnrepository.com/artifact/com.netflix.conductor/conductor-core).

[2021-05-17 23:55] kishorebanala commented on #2259
@arjunlajpal Thanks for bringing this up. Can you confirm what version of Conductor you're using please?

Also, please feel free to send us a PR with a fix, if you were able to address this.

[2021-05-18 00:32] taojwmware commented on #2228
I was following https://github.com/Netflix/conductor/tree/main/docker by issue just a single command:
docker-compose build

It is 100% reproducible. Is there any new command I should use?

[2021-05-18 02:35] HenryLauu commented on #2033
I have the same situation where the subworkflow takes very long time to start, would you pls advise how to figure out what is actually happening? @apanicker-nflx
![image](https://user-images.githubusercontent.com/35942020/118581792-c9ad8f80-b7c4-11eb-9983-1174272d2b31.png)

[2021-05-18 02:36] HenryLauu commented on #2033
to be clear, i am using mysql as backend.

[2021-05-18 02:47] taojwmware commented on #2228
Figured it out. Need to switch to one of release instead of using main directly.
git checkout tags/v3.0.4
docker-compose up

It works but too much logging info because log level might be set to debug.

[2021-05-18 09:11] evgvain opened #2262 "[BUG]: The method waitForHealthyCluster of calss ElasticSearchRestDAOV6 causes a timeout with a stand-alone Elasticsearch"
**Describe the bug**
The method waitForHealthyCluster of calss ElasticSearchRestDAOV6 causes a timeout since stand-alone Elasticsearch has status "yellow". This status is expected for the  stand-alone Elasticsearch to indicate that the primary shard is allocated but replicas are not.

**To Reproduce**
config.properties is unchanged:

conductor.indexing.enabled=true
conductor.elasticsearch.url=http

[2021-05-18 10:38] evgvain opened #2263 "[BUG]: Modified mysql migration files cause migration failure"
**Describe the bug**
Modified mysql migration files cause migration failure since old files were changed. The migration process verifies the checksum of previous migration and fails in case of a mismatch.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure mysql percipience
1. Build docker from v2.26.0 and run
2. Build docker from v2.27.0 and run - migration happen for the 1st time
3.

[2021-05-18 16:24] ruchitadamodar1922 opened #2265 "[BUG]:"
![image](https://user-images.githubusercontent.com/43370835/118688163-6d2d8d00-b823-11eb-9735-1592e40aca6c.png)

I have created the task workflow using postman but I am not  able to get these tasks into running

![image](https://user-images.githubusercontent.com/43370835/118688306-92220000-b823-11eb-8248-9e1badc9edb5.png)

[2021-05-18 18:26] michaelpaliy commented on #2263
Hi,
Duplicate of #2197
You can find the solution at: https://github.com/Netflix/conductor/issues/2197#issuecomment-829519429

[2021-05-20 02:29] RAVIPMALL commented on #1057
@kishorebanala  is it now possible? I want to process a csv in batches, a task that would fetch a batch and pass this batch to other tasks while the fetch batch continues for all the data in the csv.

[2021-05-21 04:51] aravindanr commented on #2263
@evgvain Did the above comment fix the issue?

[2021-05-21 17:41] mummoo opened #2269 "[BUG]: http task fails with "Read timed out" or invalidMediaTypeException"
**Describe the bug**

HTTP task (post request) fails with    "Read timed out".
When I add readTimeOut with a some value, it fails with another error:

"reasonForIncompletion": "Failed to invoke HTTP task due to: org.springframework.http.InvalidMediaTypeException: Invalid mime type \"application/json, application/json\": Invalid token character ',' in token \"json, application/json\",

**To Reprodu

[2021-05-22 19:12] aravindanr commented on #2269
From the exception message, it looks like the endpoint is returning an incorrect MIME type in the `Content-Type` header, "application/json, application/json". When you run curl, you can use the `-v` flag to see the "Content-Type". Since the type is incorrect, Conductor is unable to parse the request.

[2021-05-22 19:47] mummoo commented on #2269
Yes, the curl response has a malformed header. We can close the issue. Thanks for the quick response.

[2021-05-22 19:47] #2269 closed

[2021-05-24 23:30] kishorebanala commented on #2262
@evgvain We discussed and decided not to change the default to `yellow`. However, you can override this property in your local: https://github.com/Netflix/conductor/blob/main/es6-persistence/src/main/java/com/netflix/conductor/es6/config/ElasticSearchProperties.java#L42

[2021-05-24 23:30] #2262 closed

[2021-05-24 23:31] apanicker-nflx commented on #2033
@HenryLauu What version of Conductor are you using? Subworkflows are started by system task workers, could you please check how many threads you have assigned for these workers?

[2021-05-24 23:34] kishorebanala commented on #2265
+1. Please share the workflow definitions and payloads you've used to help reproduce this.

[2021-05-24 23:35] aravindanr commented on #2248
@Jiehong https://github.com/Netflix/conductor/blob/2.31/core/src/main/java/com/netflix/conductor/core/execution/WorkflowExecutor.java#L1771, this line will return null only if the `SubWorkflow` task is not registered. The task is registered by default. Can you share the details of how you are running Conductor and whether you have made any changes to the code?

[2021-05-24 23:38] kishorebanala commented on #1057
@RAVIPMALL This is not available, and is still a low priority for us. But, please feel free to open a discussion to gauge the interest and potentially a contribution from the community.

[2021-05-24 23:48] #2123 closed

[2021-05-25 09:31] Jiehong commented on #2248
@aravindanr we run a Spring application, using condutor as the base.

We do provide WorkflowExecutor via Spring injection in which we ensure the mapping is still correct.

It contains something like that:

[code]

This hasn't changed in a long time, and works just fine with conductor 2.30.3, but updating to conductor 2.31.3 leads to that issue.

As anything changed by any chance? I'm wondering if

[2021-05-25 09:50] Jiehong commented on #2248
I just noticed that we also override startWorkflow from WorkflowExecutor due to our DAO being a bit different, but this is done for about at least 1 year now:

[code]

[2021-05-25 14:32] lakeoffaith commented on #2262
i get the same problem  two days before, so i start  es cluster on my computer.

[2021-05-27 09:47] ruchitadamodar1922 commented on #2265
@kishorebanala @komatiraju032  Sir These are the task defs and workflows in my postman
http://localhost:8080/api/metadata/taskdefs
[
    {
        "name": "add_product_to_catalogue",
        "retryCount": 3,
        "retryLogic": "FIXED",
        "retryDelaySeconds": 10,
        "timeoutSeconds": 300,
        "timeoutPolicy": "TIME_OUT_WF",
        "responseTimeoutSeconds": 180,
        "ownerEmai

[2021-05-27 10:07] leissen opened #2277 "[BUG]: Different worker threads poll the same duplicated task message"
**Describe the bug**
Different worker threads poll the same duplicated task message. In other words, the same task message could be polled twice by different worker threads sometimes and I can see the following logs from conductor server.

[INFO ] 2021-05-27 17:57:24,154 MySQLExecutionDAO - Task execution count for TaskA: limit=100000, current=111
[INFO ] 2021-05-27 17:57:24,163 MySQLExecutionDAO

[2021-05-28 01:34] belencoding commented on #2277
It happened to me too

[2021-05-31 03:52] QiAnXinCodeSafe opened #2278 "There is a vulnerability in Spring Boot 2.3.1.RELEASE ,upgrade recommended"
https://github.com/Netflix/conductor/blob/1ae474584b1a4572e9ecbd5e47473a42088f8f99/build.gradle#L10

CVE-2020-5421

Recommended upgrade version：2.3.4.RELEASE

[2021-06-01 05:41] snoopakon opened #2281 "How to implement/use workflowStatusListner"
I'm using Netflix Conductor over Rest API. I'm able to create a workflow and run it but I would like to know how to use the WorkflowStatusListener feature.

While registering workflow definition I set workflowStatusListenerEnabled = true. Not sure how to use conductor.additional.modules for conductor-server-all-3.0.0.jar

Please note that I am using a conductor-server-all-3.0.0.jar to up the condu

[2021-06-02 07:49] bhawani021 opened #2282 "[QUESTION]: Why task is getting executed 2 times only in case of failure even though retryCount is 10"
**Conductor version: 3**

_Need help in understanding why below task is getting executed only 2 times if task is failed.
 I have given retryCount = 10 that means it should be called 10 times in case response of get_workspace is FAILED_

[code]

[2021-06-04 00:26] #2071 closed

[2021-06-04 07:31] TwoUnderscorez commented on #2066
I’ve also opened a PR for conductor version 3. It’s not ready yet though, so if possible can you start with version 2 and then have a look at version 3 which will hopefully be ready till then?

[2021-06-04 14:17] bhawani021 commented on #2282
during debugging I see this error in my logs. Is it reason?
[code]

[2021-06-04 16:53] bhawani021 commented on #2282
After fixing above error, it's looking good.

[2021-06-04 16:53] #2282 closed

[2021-06-04 18:32] imcyee commented on #1725
I had the exact same error, but changing CONFIG_PROP=config-local.properties
temporary fix the issue. Not sure what causing it.
`
  environment:
      # - CONFIG_PROP=config.properties
      - CONFIG_PROP=config-local.properties # using memory
`

[2021-06-07 08:50] abrezuica opened #2292 "[BUG]: operationIds are not unique"
Some operationIds have the same name, for example:

![searchWf](https://user-images.githubusercontent.com/59456269/120986130-efef9b00-c784-11eb-8ea2-0409064b20b9.PNG)

![searchTasks](https://user-images.githubusercontent.com/59456269/120986155-f4b44f00-c784-11eb-90be-8a120f9ee607.PNG)

As far as I know, operationIds must be unique among all operations described in the API.

This issue is kind of m

[2021-06-07 19:38] indiv0 commented on #2117
@aravindanr Hi, is there any progress on the fix? Either in 3.0 or as a back port? It appears that we might be encountering this bug as well.

[2021-06-08 22:06] #813 closed

[2021-06-08 22:48] apanicker-nflx commented on #2265
what is the output of this request -

{
"name": "product_catalogue_service3",
"version": 2,
"correlationId": "Product_catalogue_service3",
"input": {
"controllerId":1,
"value":"add_product_to_catalogue",
"productId":"1234"
}
}

[2021-06-08 22:53] kishorebanala commented on #2265
@ruchitadamodar1922 Also, if your workflows are started successfully, but are not visible in the UI.. It is most likely related to how Elasticsearch is configured. Do you mind sharing your Conductor server set-up please. Can you also double check few other things, such as Elasticsearch status, if the workflow and task data is being written successfully to Elasticsearch, if they can be retrieved su

[2021-06-08 22:56] apanicker-nflx commented on #2278
Thanks for reporting, we will address this in an upcoming release.

[2021-06-08 23:04] apanicker-nflx commented on #2277
@james-deee @rickfish Since you use the mysql-persistence for storing executions, could you please help reproduce/debug this issue? Thanks.

[2021-06-09 11:56] rickfish commented on #2277
I use postgres-persistence but I can see if it happens on our system

[2021-06-09 11:58] rickfish commented on #2277
@leissen what does your worker do with the task when it gets it? Does it set the task status? Does it set callbackAfterSeconds?

[2021-06-09 14:18] oryde commented on #2140
I get the same error when building docker images on Windows with `docker-compose build`. How do I specify to use the packaged gradle wrapper in this case?
[code]

[2021-06-09 15:53] OguzhanUlucay opened #2297 "[BUG]: The Subworkflow Completes Even Though The Latest Task Is Scheduled"
**Describe the bug**
We using Conductor v2.30 with Elastic Search and Redis. We encountered that the subworkflow that inside a fork joins finished even though the the latest task is in scheduled state. The minor detail in here is the latest task is fixed interval retryable task with 30 min delays. At some of time this situation occurs. The occurance seems random, sometimes it happens when this tas

[2021-06-10 01:15] leissen commented on #2277
@rickfish this is my code in worker.

    @Override
    public TaskResult execute(Task task) {
        TaskResult result = new TaskResult();
        // 数据处理流程
        String a = task.getInputData().get("inputA").toString();
        String b = task.getInputData().get("inputB").toString();
        boolean isSuccess = a.equalsIgnoreCase("a/true");
        try {
            TimeUnit.SECONDS.sleep(1);

[2021-06-10 10:58] leissen opened #2301 "[BUG]: The table structure is not created automatically when starting conductor server using postgres"
**Describe the bug**
I use postgres as the persistent store and created a database for conductor server. But the table structure is not created automatically when starting conductor server. The table structure is created automatically if I use mysql as the persistent store.
Is there any configuration I missed? The jdbc properties are correct. Because the conductor server could start successfully a

[2021-06-11 03:17] bhawani021 opened #2310 "[QUESTION]: How to mark a task failed when worker pick up task but does't return response"
I found task is In Progress  as workflow worker pick up the task but not giving any failure and success response to workflow engine. How to make such task failure after certain time period

[code]

[2021-06-11 23:11] manjurad commented on #1851
I believe I am able to reproduce something similar as described by @james-deee
Fork has 2 identical task with timeout as 60 seconds and retries as 3.  First set of tasks were scheduled and task update was not received within 60s. When the next retry attempt is being scheduled, updateTask is called on the earlier task instance id. In such a timing, I believe join task is being evaluated (as part of

[2021-06-12 09:49] BhavanaJoshi21 opened #2311 "Dynamic Fork Task Exception 429 - Too Many Requests"
I am using **JSON JQ Transform and Dynamic Fork Task** to dynamically trigger subworkflows (giving an input list with some values)

**Now if my list has 20 values, only 18 subworkflows are getting triggered and rest two does not get triggered & have status -
COMPLETED WITH ERRORS and ReasonForIncompletion - Got Exception - 429 - Too Many requests**

For Exact 12 values in list, all respective subw

[2021-06-14 23:16] aravindanr commented on #2311
Can you post the workflow definition and also the exception log related to "429 - Too Many requests"?

[2021-06-14 23:18] aravindanr commented on #2310
The task can't be marked as `FAILED`, but using `timeourSeconds`, it can be marked as `TIMED_OUT`.https://netflix.github.io/conductor/configuration/taskdef/

[2021-06-14 23:18] #2310 closed

[2021-06-14 23:29] aravindanr commented on #2301
Please provide the Conductor version that you are using and check if `flyway.enabled` is set to `false`. Do you see any errors in the logs? If yes, include them as well.

[2021-06-14 23:42] apanicker-nflx commented on #2281
@snoopakon The documentation might be a little outdated w.r.t the current release version of Conductor. We are working on an updated version currently.

For implementing your own WorkflowStatusListener, you can follow one of these [implementations](https://github.com/Netflix/conductor/tree/main/contribs/src/main/java/com/netflix/conductor/contribs/listener) as references. You can choose to enable

[2021-06-14 23:42] #2281 closed

[2021-06-15 01:01] apanicker-nflx opened #2312 "Replace Nashorn engine with GraalVM"
With the release of Java 11, Nashorn is deprecated, and has been removed from JDK 15 onwards. The engine needs to be replaced with GraalVM.

[Helpful article for migration](https://medium.com/graalvm/oracle-graalvm-announces-support-for-nashorn-migration-c04810d75c1f)

[2021-06-15 08:12] pxzxj opened #2314 "[DOC]: Invalid Task Domains link and WorkflowDefinition link in Chapter Configuration/SystemTask/SubWorkflow"
link (configuration/taskdomains) shoud be (/conductor/configuration/taskdomains)
link (configuration/workflowdef) shoud be (/conductor/configuration/workflowdef)

[2021-06-15 12:59] BhavanaJoshi21 commented on #2311
input_list = ['input1', 'input2', 'input3', till input20]

**Master Workflow**
{
"name":"master_workflow",
"description": "master workflow to create subworkflows",
"version": 1,
"schemaVersion": 2,
"tasks": [
           {
             "name": "task_1",
             "taskReferenceName": "fetch_input_values",
             "type": "SIMPLE"
           },
           {
             "name": "json_transfo

[2021-06-17 20:38] yangzhang21 commented on #1104
I tried this but looks it doesn't work. The wait task runs forever.....The task I added is like this. Did I make anything wrong? Thanks. @kishorebanala
`                {
                    "name": "delay",
                    "taskReferenceName": "delay",
                    "type": "WAIT",
                    "optional": True,
                    "timeoutSeconds": 60
                },`

[2021-06-18 04:26] imcyee commented on #459
In case anyone stumbled across this.
[code]

[2021-06-18 12:50] vamsibandarupalli opened #2323 "[BUG]: Workflow Status is always in RUNNING if workflow output is greater than 10MB."
**Describe the bug**
If the Workflow output is greater than 10MB, conductor is failing the workflow [here](https://github.com/Netflix/conductor/blob/c09ba129c2e57061902831efa06f0abac1903fc7/core/src/main/java/com/netflix/conductor/core/utils/ExternalPayloadStorageUtils.java#L135).

While terminating the workflow [here](https://github.com/Netflix/conductor/blob/c09ba129c2e57061902831efa06f0abac1903

[2021-06-20 07:32] FingerLiu commented on #600
I solved this by add the following packages to pom.xml since I am using maven.
[code]

[2021-06-20 14:55] User-Nikita opened #2326 "Is there any Task status listener for Completion and Failure of system task?"
### Discussed in https://github.com/Netflix/conductor/discussions/2322

<div type='discussions-op-text'>

<sup>Originally posted by **User-Nikita** June 18, 2021</sup>
**Is there any Task status listener in Conductor just like a workflowStatusListener?**
If yes, please guide me how to use it.
Details about my question-
In my workflow definition, **all tasks are System tasks.**
I am using Java prog

[2021-06-21 00:08] #2197 closed

[2021-06-21 23:20] apanicker-nflx commented on #2292
The operations Ids that you have linked above are from different routes, viz. `/workflow/search` and /tasks/search`. This does not seem like a bug

[2021-06-21 23:25] apanicker-nflx commented on #2117
This should be fixed as part of #2125 in v3.x
Given the expanse of the changes, it was decided to not backport to 2.31 at the time. However, if you have the bandwidth we would welcome a PR with the changes.

[2021-06-21 23:25] #2117 closed

[2021-06-21 23:35] kishorebanala commented on #2297
Please take a look at this [comment](https://github.com/Netflix/conductor/issues/2117#issuecomment-865409050) from similar issue.

If possible, please consider upgrading to 3.x for latest changes.

[2021-06-21 23:35] #2297 closed

[2021-06-22 00:04] kishorebanala commented on #2314
Thanks for the suggestion. https://github.com/Netflix/conductor/pull/2327

[2021-06-22 00:04] #2314 closed

[2021-06-22 18:28] TwoUnderscorez commented on #2066
Hey @apanicker-nflx, when do you think someone can have a look at  #2283?
Thanks.

[2021-06-27 21:01] Jiehong commented on #2248
Any change in that direction?

[2021-06-29 06:15] ruchitadamodar1922 commented on #1725
for me swagger is running but I still encounter the same issue.

[2021-06-30 00:54] neokyle1 commented on #1104
Yeah, it looks like maybe this workaround broke with Conductor v3?

[2021-06-30 22:55] aravindanr commented on #2326
Continued in #2322

[2021-06-30 22:55] #2326 closed

[2021-06-30 23:07] apanicker-nflx commented on #1851
@manjurad Can you please share your workflow definition where you are able to reproduce this issue? Also, please describe your setup, namely
1. What persistence layer are you using?
2. Is indexing enabled?
3. What execution lock implementation are you using?

[2021-06-30 23:19] kishorebanala commented on #2262
@whitmell Which version of Conductor are you using? In 3.x, [Conductor Properties](https://github.com/Netflix/conductor/blob/main/core/src/main/java/com/netflix/conductor/core/config/ConductorProperties.java) is a good start.

[2021-06-30 23:35] aravindanr commented on #2311
I don't have visibility into what the SubWorkflow does and whether its calling a "token service", but the error message is not from Conductor internally. `reasonForIncompletion` is set by task implementations and for simple tasks, the message comes from the worker. So its very likely that the message is from the simple task.

[2021-06-30 23:43] aravindanr commented on #2248
@Jiehong Sorry about the delay. In your spring application, either create a Bean of type `Subworkflow` or create an instance of `SubWorkflow` during startup.

In the latest version of `2.31`, the code in WorkflowExecutor is changed to load SubWorkflow from the ["system task registry"](https://github.com/Netflix/conductor/blob/2.31/core/src/main/java/com/netflix/conductor/core/execution/tasks/Workf

[2021-06-30 23:45] kishorebanala commented on #2323
@vamsibandarupalli Thanks for reporting this. If you happen to fix this yourselves, please send a PR our way.

[2021-07-01 00:53] apanicker-nflx opened #2336 "[BUG]: Conductor HA race-condition for system tasks completing within milliseconds"
### Discussed in https://github.com/Netflix/conductor/discussions/2333

<div type='discussions-op-text'>

<sup>Originally posted by **guru1306** June 24, 2021</sup>
Hi All

We are using AMQP Message Queues to run our tasks with Dynomite as the backend. The queue is used to send tasks to the workers and receive completion notification for the conductor.

Here is the flow.
As part of scheduling , th

[2021-07-01 01:07] apanicker-nflx commented on #2336
Thanks for reporting this issue and providing the sequence of operations which would lead to this race condition.
The race condition, upon deeper investigation, is not constrained to EVENT tasks but could be a case with other system tasks as well (for eg: HTTP with asyncComplete=true). We will look into fixing this issue in an upcoming version.

[2021-07-01 06:07] bhawani021 opened #2337 "[QUESTION]: In Fork if one task is failing all will fail automatically. How we can avoid it."
Fork

A.      D.    G
B.      E.    H
C.     F.      I

    JOIN -> C, F, I

Let's say task Task A,  D, G are in execution and task G failed but it will show A and D also as failed.

If G  failed then A, B, C should continue in  execution
and D E F should also continue in execution.

[2021-07-01 08:27] xiaowei582648206 opened #2338 "[BUG]: Retry Faliled SubWorkflow, the Parent Workflow is Completed, but Ancestor Workflow is still Failed!"
**Description of  Phenomenon**

I created a three level nested workflow,  a SUB_WORKFLOW task contains another SUB_WORKFLOW task。
In the thrid level  workflow( **son workflow** ),  the last task  was executed failed ,  I retried the **son workflow**,  it was changed into RUNNING status immediately,  so as the second workflow ( **parent workflow** )。 After some minutes, the **son workflow** and **p

[2021-07-02 11:37] jansonz opened #2340 "[BUG]: LAMBDA tasks not working after upgrade to 3.0.6"
**Describe the bug**
After upgrading from 2.30.4 to 3.0.6 LAMBDA tasks have started with the following error:

[code]
The task JSON:

[code]

**Details**
Conductor version: 3.0.6

[2021-07-02 13:57] jansonz commented on #2340
Managed to resolve the issue by downgrading to Java 11 as it seems nashorn is discontinued on newer Java versions. Something to note for the future I guess.

[2021-07-02 13:57] #2340 closed

[2021-07-03 00:08] #1620 closed

[2021-07-03 18:40] TwoUnderscorez commented on #2066
@apanicker-nflx Any updates? Thanks.

[2021-07-06 08:13] Jiehong commented on #2248
@aravindanr  thanks! It seems to have fixed the problem, so I'll close this issue.

Thanks again for the support!

[2021-07-06 08:13] #2248 closed

[2021-07-06 10:10] vamsibandarupalli commented on #2323
I'm seeing same issue for task as well, workflow status is always RUNNING when task output is greater than 10MB.

[2021-07-06 23:12] aravindanr commented on #2066
hi @TwoUnderscorez , sorry about the delay. I am slated to work on refactoring the concurrent execution limits. I will review your PRs by 07/13.

[2021-07-06 23:27] aravindanr commented on #2338
@xiaowei582648206 There are differences in SubWorkflow processing between 2.31.x and 3.0.x, can you provide the version that you are using?

[2021-07-06 23:46] apanicker-nflx commented on #2340
@jansonz Nashorn is deprecated in JDK 11 and will be removed in future versions. We are looking for contributions for this upgrade in #2312 . Please let us know if this is something you would be interested in contributing. Thanks

[2021-07-06 23:49] kishorebanala commented on #2337
Hey @bhawani021, This is not supported today. One option is to mark all the forked tasks as optional. But, in your example above, H & I will also be executed, after G fails, if marked optional.

Another option is to put each branch in a sub workflow, and handle the failures within subworkflow, without affecting other subworkflows.

If you think Fork should handle this in a better way, please open

[2021-07-06 23:49] #2337 closed

[2021-07-07 06:45] xiaowei582648206 commented on #2338
@aravindanr , thank you very much，We are using version 2.31.0,  next we'll do some test on version 3.0.x,  thank you again!

[2021-07-07 15:40] bhawani021 commented on #2337
@kishorebanala
need your help in understanding if I am putting in subworkflow like

[code]

What if sub-workflow SubWf3 failed? will SubWf1 and SubWf2 continue to execute?

[2021-07-08 23:47] yangzhang21 commented on #1117
@kishorebanala  @mohelsaka , i had an issue similar. I use conductor to start a HTTP task, which will take two minutes to finish. However, after a round 30 seconds, before the task is done, somehow conductor kicks off the task again and I see poll count become 2. Here I set the task timetoutSeconds, responseTimeoutSeconds, http readTimeout and connectionTimeout to some value big enough. But it sti

[2021-07-12 12:37] maheshyaddanapudi commented on #2337
Ideally yes.

Could you please provide a sample workflow def ? I will try replicating the issue.

[2021-07-13 06:18] rukter opened #2359 "[QUESTION]: I found this error when i build version 2.31"
#12 43.58 Starting a Gradle Daemon (subsequent builds will be faster)
#12 117.3
#12 117.3 > Configure project :
#12 117.3 Git repository not found at /conductor -- nebula-release tasks will not be available. Use the git.root Gradle property to specify a different directory.
#12 117.6
#12 117.6 FAILURE: Build failed with an exception.
#12 117.6
#12 117.6 * Where:
#12 117.6 Build file '/conductor/bu

[2021-07-13 09:27] MikeTangoEcho commented on #2323
The 10MB is the default Max Threshold for Conductor to decide where it should store the payload (persistence layer, external storage or just discard it)
https://github.com/Netflix/conductor/blob/8b1c0259b6a8bbced97d6ae8115f13a11c8f5c5b/core/src/main/java/com/netflix/conductor/core/config/ConductorProperties.java#L184-L241

By default, Conductor use the DummyPayloadStorage, so you may have a NullPo

[2021-07-13 23:14] apanicker-nflx commented on #2337
Continuing discussion in #2346

[2021-07-13 23:17] aravindanr commented on #2338
This is a bug, but quite a tricky one to fix. We had to rewrite the SubWorkflow execution logic to fix it in 3.0.x. That's one of the reasons, it can't be easily ported to 2.31.x.

The ancestor workflow is most likely stuck because it is out of the workflow evaluation cycle. You can re-evaluate the ancestor workflow using the `/sweep/requeue/{workflowId}` api.

[2021-07-13 23:49] kishorebanala commented on #1117
@yangzhang21 I'm curious, how the Http task message is available again for poll (after ~30s), while the task is still in progress. What does your Conductor set-up look like?

Also, HTTP task taking ~2mins is an anti-pattern, and I'd recommend looking into `asyncComplete`, or executing this process in a simple task.

[2021-07-13 23:53] yangzhang21 commented on #1117
@kishorebanala , yea, i use a HTTP task to invoke a lambda which will run a while. now I changed it to async type and it works fine. the extra work for async is to call back to conductor and mark the task done when the task finishes.

[2021-07-13 23:59] apanicker-nflx commented on #2359
Looks like the gradle version that is packaged as part of the project is not being used. Please try with this one.

[2021-07-13 23:59] #2359 closed

[2021-07-14 06:37] rukter commented on #1725
Hi @IanSietro Can you share step for fix this issue ?

[2021-07-15 09:02] xiaowei582648206 commented on #2338
@aravindanr , thank you very much , considering what you said ，we are going to upgrade into v3.0.x, but there is a problem: the version of elasticsearch in product environment is 6.5 , it is old than then 6.8.12 ( the version of ES Client in conductor V3.0.x). what influence will it cause, and which version is recommended for v3.0.x ?

[2021-07-15 15:18] TwoUnderscorez commented on #2066
@aravindanr Thanks, I'll be waiting.

[2021-07-19 13:25] jas34 commented on #106
Commenting to provide the latest update:
- The capability to schedule conductor workflow is here: https://github.com/jas34/scheduledwf
- The project has been listed in the conductor community projects: https://github.com/Netflix/conductor/blob/main/RELATED.md#schedule-conductor-workflow

[2021-07-19 23:30] aravindanr commented on #2338
Unfortunately, we have only tested with 6.8.x and can't comment on the behavior for 6.5.

Technically, the `es6-persistence` module is expected to work with **all** `6.x` versions, but as i said we have only tested it with `6.8.x`

fwiw, i think the module should work with 6.5 without any issues. If you run into any, we can support as much as we can. I encourage you to try running Conductor with a

[2021-07-21 04:22] aravindanr commented on #2066
@TwoUnderscorez Thanks for taking the time to create the PR. The work you have done with separating the "concurrent execution limit" check into its own DAO is a welcome change. You have implemented the logic mentioned in #1893 in the
[TaskDefAndWorkflowTaskLimitingDAO](https://github.com/Netflix/conductor/pull/2284/files#diff-6df1906ffc8a32e0831428f12bee5456ca22b7c1c2740d551753671568f79897) class.

[2021-07-21 08:09] UDragon-CK opened #2367 "conductor build error"
Hi~
My IDE: intellij 2021.1.2
JDK: java.1.8.0_231
gradle version : 7.1.1

I keep getting an error in the [conductor-common] part during build.
Intellij SDKs are all set to 1.8
I also changed all the jdk versions in build.gradle
  - sourceCompatibility = JavaVersion.VERSION_1_8
  - targetCompatibility = JavaVersion.VERSION_1_8

error :
Execution failed for task ':conductor-common:compileJava'.

* T

[2021-07-21 13:23] evgvain opened #2368 "[BUG]: The tasks in the loop are scheduled concurrently"
The loop is a fragment of the complex workflow. The order of the iteration is broken and tasks from the next iteration are dispatched before the previous iteration is completed.
The loop body consists of 3 tasks: set_variable, simple, set_variable. The tasks are executed consecutively but the 33rd iteration is mixed up with the 34th. The task set_dec_loop_completed__33 appears scheduled twice.

Co

[2021-07-22 10:57] mark91m12 opened #2369 "[BUG]: workflow get stuck apparently for no reason"
hello guys, i installed conductor latest version (3.2.0) into k8s cluster and i'm using dynomite for persistence, this is my configuration :

[code]

**Details**
Conductor version: 3.2.0
Workflow definition:
[code]

Tasks definition:
[code]
probably i have a problem with the decider service of conductor, when i run 50 workflows in parallel i notice this bug, sometimes some workflow get stuck in th

[2021-07-23 11:04] TwoUnderscorez commented on #2066
@aravindanr Note taken. We'll keep everything in our internal repo.

[2021-07-23 17:29] #2066 closed

[2021-07-25 09:26] TwoUnderscorez commented on #2032
@apanicker-nflx I noticed you merged #1987 which fixed the issue for v2. Any updates on plans to fix v3?

[2021-07-26 12:25] #2367 closed

[2021-07-26 23:22] apanicker-nflx commented on #2368
Hi @evgvain, is this reproducible? Could you please give us a few details about your setup? Also what conductor version are you running?
If reproducible, please share the workflow definition that you used as well.

[2021-07-26 23:53] kishorebanala commented on #2369
Hey @mark91m12, do you happen to have distributed locking enabled? (More details here: https://netflix.github.io/conductor/technicaldetails/#a-two-part-solution-to-maintain-workflow-consistency)

[2021-07-27 00:11] apanicker-nflx commented on #2032
@TwoUnderscorez we would want to pull in this fix into v3. If you can get to this soon, we would appreciate a pull request for the same ;). Thanks

[2021-07-27 07:29] evgvain commented on #2368
Conductor version: 3.0.4. Unfortunately, it is not deterministic - it happens from time to time.
Please specify what details about the setup do you need.

[2021-07-27 08:28] mark91m12 commented on #2369
hi @kishorebanala, thank you very much for your reply, actually all my configuration is the one that i shared above, as you can see i did not set anything about distributed locking, indeed I will tell you more, i made even some test with the basic configuration of conductor 3.2.0 and i had the same problem, a couple of workflows get stuck.  Only thing that i added is sharding strategy setted to lo

[2021-07-27 21:43] #2338 closed

[2021-07-27 21:44] aravindanr commented on #2278
[3.1.0](https://github.com/Netflix/conductor/releases/tag/v3.1.0) uses Spring Boot `2.3.12.RELEASE`

[2021-07-27 21:44] #2278 closed

[2021-07-28 08:40] heinrichcohn opened #2375 "[BUG]: Event handler fails to process event due to duplicated meter names"
**Describe the bug**
When starting a workflow using an event-handler action the following exception is thrown:
**java.lang.IllegalArgumentException: Prometheus requires that all meters with the same name have the same set of tag keys. There is already an existing meter named 'dao_requests_total' containing tag keys [action, class, dao, taskType, workflowType]**

This issue occurs due to duplicated

[2021-07-28 12:27] rakeshnarang5 commented on #1294
@apanicker-nflx
"Currently, we do not have a clean way of using index rollovers when archiving workflows. Instead, we run a cleanup job which deletes documents from our index which have not been updated for >1 year."
Is this time configurable?
I want to configure this job such that it clean ups documents which have not been update for >30 days.
Is that possible?

[2021-07-28 13:40] heinrichcohn commented on #2375
I created the following PR that fixes the issue
Pull Request: https://github.com/Netflix/conductor/pull/2376

@aravindanr

[2021-08-01 08:30] heinrichcohn opened #2382 "[BUG]: AMQP Unknown Tags - Messages can't be acked because channel is recreated each time there is a network failure"
**Describe the bug**
I'm using Rabbitmq to send/receive messages from or to workflows. I found out that in case of a network failure, messages that were taken from a queue but not yet acked, conductor won't be able to ack them at all until the server is restarted.

This happens because in case of a network error the channel is __recreated each time!__ . From the moment the channel is recreated  al

[2021-08-01 08:41] heinrichcohn commented on #2382
@aravindanr

Pull Request created:
https://github.com/Netflix/conductor/pull/2383

[2021-08-02 17:50] aravindanr commented on #2382
@ritu-p , can you look into this?

[2021-08-02 17:51] apanicker-nflx commented on #2368
Please provide details about the persistence layer, lock implementation and server deployment.

Since this bug is not easily reproducible, it would take us some time to get around to it. But in the meantime, please feel free to send in a PR with the fix if you are able to get to it sooner.

[2021-08-02 17:57] kishorebanala commented on #2369
Hey @mark91m12, Chances are the workflow is running into race conditions, when multiple Conductor instances try to execute the same workflow at the same time. This concurrent execution can happen for several reasons - for eg., when the background sweeper and task update comes in at the same time.

Having distributed locking enabled solves this problem by preventing concurrent executions. There are

[2021-08-02 17:58] apanicker-nflx commented on #1294
Hi @rakeshnarang5 , the cleanup job is a simple batch job which uses the elasticsearch [delete-by-query](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/docs-delete-by-query.html) API to perform the deletion of documents from the index. This time can be configured in the request body as required.

PS: Please create a new issue/discussion for further conversation as closed issues tend t

[2021-08-02 18:02] apanicker-nflx commented on #2375
Thanks for reporting the issue and the PR with the fix. 💯

[2021-08-02 18:02] #2375 closed

[2021-08-03 07:22] evgvain commented on #2368
I am working with stand alone MySQL db persistence model and stand alone Elasticsearch instance.
I am not sure about the lock implementation - I am using the default configuration. conductor-server, conductor-ui, Elasticsearch and MySQL are running on the same platform in dockers, managed by docker-compose.

[2021-08-04 09:11] bhawani021 opened #2385 "BACKEND_ERROR - HikariPool-1 - Connection is not available, request timed out after 30000ms"
I am using PostgresDB with conductor version 3.0

GET /api/metadata/taskdefs

[code]

[2021-08-04 13:41] rickfish opened #2387 "Building 3.x getting 'IllegalArgumentException: invalid flag: --release' error in common"
When running a gradlew build on 3.1.0, getting an ''IllegalArgumentException: invalid flag: --release' error when it is building conductor-common. I did some research and saw that this error sometimes happens if the default JDK version is different than the compatibility settings of build.gradle. For 3.1.0 it looks like it is using JDK11 as source/target so I set OpenJDK 11 as my default JDK (java

[2021-08-05 05:35] sreedharguda commented on #702
Please help me on the docker file for conductor ui app.

[2021-08-05 18:02] rickfish commented on #2387
nvm...this happens at my client site where they have different repositories and don't allow access outside their firewall. The build works perfectly on my home laptop so it must be something to do with their environment.

[2021-08-05 18:02] #2387 closed

[2021-08-06 00:06] #2301 closed

[2021-08-06 13:40] saralaks opened #2389 "[BUG]: Several security vulnerabilities in dependency 'xstream'"
Currently client dependency xstream uses version 1.4.13 which has many CVE vulnerabilities
https://github.com/Netflix/conductor/blob/main/client/dependencies.lock#L175

Solution: Version 1.4.16 has the fix (https://x-stream.github.io/changes.htm).

[2021-08-07 01:59] AbelLi18 commented on #2367
Can you success? I also got the error.

[2021-08-09 21:20] aravindanr commented on #2389
Thanks for reporting it. If you have the time, we appreciate a PR with the upgraded version.

[2021-08-09 21:27] aravindanr commented on #2385
Please check if Conductor can connect to your PostgresDB

[2021-08-09 21:46] #2311 closed

[2021-08-09 21:55] apanicker-nflx commented on #2367
@AbelLi18 Please ensure that you are building the server with jdk11. The above error is indicative of a jdk8 build environment.

[2021-08-10 03:51] saralaks commented on #2389
Sure, I can help.  I am not a contributor yet.  let me know how i can join

[2021-08-10 14:35] lbarker800 opened #2394 "Netflix Conductor build fails"
### Discussed in https://github.com/Netflix/conductor/discussions/2391

<div type='discussions-op-text'>

<sup>Originally posted by **lbarker800** August  9, 2021</sup>
I am trying to build  Netflix Conductor to perform an evaluation. I am targetting the docker build solution.  Executing gradlew build from the project root, it gets about 70% of the way through...  Then there are 3 errors:

Error d

[2021-08-10 14:38] lbarker800 commented on #2394
Oh, and one more thing.   Thinking that it needs an elastic search instance, I create a separate docker compose file from the elastic search config in one of your docker files and spun it up...   When it gets to this test, that docker instance dies with exit code 137...

[2021-08-10 15:10] lbarker800 commented on #2394
I resolved the problem.  Running on mac.  Default Docker memory limit is 2GB.  Increased to 4GB.  Success.

[2021-08-10 15:10] #2394 closed

[2021-08-10 20:30] heinrichcohn opened #2398 "[BUG]: Workflow tasks are not accessable when using workflow archiving with TTL - Redis DAO specific"
**Describe the bug**
When archiving workflows using archiving with TTL status listener, their task are not reachable causing the getWorkflow API return Workflows summary with no tasks.  The root cause of this problem is that the WORKFLOW_TO_TASKS mapping is deleted with no TTL during the archiving what leads to a situation in which you have workflows and tasks data ( they have a TTL > 0) but no ma

[2021-08-11 14:57] sukruthiarjula opened #2400 "v3.1.0 - property conductor.additional.modules not found"
### Discussed in https://github.com/Netflix/conductor/discussions/2397

<div type='discussions-op-text'>

<sup>Originally posted by **sukruthiarjula** August 10, 2021</sup>
Hi,

We are on 2.31.4 and trying to upgrade to 3.1.0. below is the command I use for starting the application

java -jar -DCONDUCTOR_CONFIG_FILE=$config_file  conductor-server-*-SNAPSHOT-boot.jar  /app/config/log4j.properties

[2021-08-11 17:14] #2400 closed

[2021-08-16 05:35] yangzhang21 opened #2407 "[BUG]: image build failure"
**Describe the bug**
when I run `docker-compose build` to build the docker image, I got an error

**Details**
Conductor version: latest
Workflow definition:
Task definition:
Event handler definition:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `docker`
2. Run `docker compose build

**Expected behavior**
image should be built

**Screenshots**
log
[code]

**Additional context**
It us

[2021-08-16 17:43] apanicker-nflx commented on #2389
Please refer to the contribution guide [here](https://github.com/Netflix/conductor/blob/main/CONTRIBUTING.md) for guidelines and best practices.

[2021-08-16 18:35] apanicker-nflx commented on #2398
Closing since #2399 is merged

[2021-08-16 18:35] #2398 closed

[2021-08-16 22:59] aravindanr commented on #2407
@yangzhang21 Thanks for reporting it. `azure-storage-blob:12.2.0` is not available in Maven Central. Upgraded the library to its latest, `12.13.0`.

[2021-08-17 11:57] pq-dong commented on #2407
If you are in China, you can try to use `maven{ url 'http://maven.aliyun.com/nexus/content/groups/public/'}` in root build.gradle to solve this problem

[2021-08-18 03:44] lmbai commented on #2407
use `12.7.0` ,

[2021-08-18 04:00] yangzhang21 commented on #2407
i still see the issue after changing zaure-storage-blob to `12.13.0`. `12.7.0` works for me :)

[2021-08-18 04:13] lmbai commented on #2407
yeah.. `12.13.0` have other change. i will cause some compile error.  the `12.7.0` is the smallest change we can get now. it seems like any version below `12.7.0` is 404 in mavencentral now.

[2021-08-18 09:10] uakihir0 commented on #2359
Hi.
Have you downloaded the zip file and extracted it to build it? In my case, I did `git clone` and it built fine.

[2021-08-18 09:10] uakihir0 commented on #2140
Hi.
Have you downloaded the zip file and extracted it to build it? In my case, I did `git clone` and it built fine.

[2021-08-18 10:57] suryast commented on #2407
I wonder if you could help specifying which files you made this change. I had the same issue.

[2021-08-18 11:17] lmbai commented on #2407
1. update the `    revAzureStorageBlobSdk = '12.2.0'` to 12.7.0  in`https://github.com/Netflix/conductor/blob/main/dependencies.gradle`
2. delete the file `https://github.com/Netflix/conductor/blob/main/azureblob-storage/dependencies.lock` otherwise the above change won't apply.

hope it will help....

[2021-08-18 18:49] eins commented on #1811
@marcocrasso thanks for the reply on this ticket. We moved to camundabpm . conductor was to green .

[2021-08-19 01:04] iuprade commented on #1613
I am having same error. Feeding below config DynoJedisClient. I have simple redis cluster with 2 nodes, multi AZ, failover enabled running with default 5.0 parameter group config. Please suggest what could been missing here.

[code]

When performing manual failover connection switches back to new primary but it takes almost more than 2 minutes.

[2021-08-19 15:01] shriram-apps opened #2418 "[BUG]: Not able to utilise simple task output value in DO_WHILE task loop condition"
**Describe the bug**
In my current workflow i have created on  DO_WHILE task which has multiple simple task inside the loopvars. I want to utilise couple of the simple task output values in the loopCondition which will help the workflow to process in loop to execute the simple task till the required data is received

**Example:**
i have 2 simple tasks TASK A & TASK B both the tasks return the stat

[2021-08-19 22:02] #2407 closed

[2021-08-20 11:23] jevonsnotes opened #2422 "[QUESTION]: how can i deal with this problem?Received status code 403 from server: Forbidden"
when i run build jar of conductor-server ,it occurs ..
[code]

[2021-08-25 06:26] SuperMasterBlasterLaser opened #2427 "[BUG]: PoolOfflineException after some time when service started"
Hello everyone.

I have deployed Conducor about year ago into my dedicated server. I use redis as data storage and created configs like this:

    db=redis

    workflow.dynomite.cluster.hosts=localhost:6379:us-east-1e
    workflow.dynomite.connection.maxConnsPerHost=31
    EC2_AVAILABILITY_ZONE=us-east-1e
    queues.dynomite.nonQuorum.port=6379

Last two days, Conductor started crash with these e

[2021-08-25 07:52] evgvain commented on #2368
This happen again. See below the tasks from the loop extracted from the Elasticsearch index conductor_task. You can see that the last task  (seq_qry_decrypt__9) is scheduled and starts before the previous (seq_qry_decrypt__8) ends. The task seq_qry_decrypt__8 even does not appear in conductor GUI. The order of 8th and 9th iteration is messed up.
`
{'workflowId': 'cf55b2ab-da00-47a8-9881-8e3e6d1c6f

[2021-08-25 11:40] UDragon-CK opened #2428 "[BUG]: protogen-annotations:1.0.0. module not found"
**Describe the bug**
I was building the netflix conductor worker project.
I put 2 gradle dependencies below.

implementation group: 'com.netflix.conductor', name: 'conductor-common', version: '3.1.0'
implementation 'com.netflix.conductor:conductor-client-spring:3.1.0'

Then I proceeded with the gradle build, but an error occurred and the build kept failing.
The build error is

====================

[2021-08-25 19:38] arielzadi opened #2429 "APPLICATION FAILED TO START due to ExecutionLockService"
Hi all,

I am running conductor and while defining the locking service in the configuration in the following manner:

conductor.app.workflowExecutionLockEnabled=true
conductor.workflow-execution-lock.type=zookeeper
conductor.zookeeper-lock.namespace=zookeeper
conductor.zookeeper-lock.connection-string="xxxx" (redacted)

conductor fails to start properly with the following error:

84527 [main] DEBU

[2021-08-27 22:44] marcocrasso opened #2437 "[BUG]: Client 'task_poll_error_total' meter is created with different set of tag keys"
**Describe the bug**
Prometheus requires that all meters with the same name have the same set of tag keys. When JVM client uses incrementTaskUpdateErrorCount with domain, the next exception is raised:

"stack_trace":"com.netflix.conductor.client.exceptions.ConductorClientException: INVALID_INPUT - Prometheus requires that all meters with the same name have the same set of tag keys. There is alread

[2021-08-29 19:39] arielzadi commented on #2429
After some investigation, I have found that the the Azure Blob Storage module is loaded via configuration:
`conductor.additional.modules=com.netflix.conductor.azureblob.AzureBlobModule`

maybe the zookeeper locking service needs to be loaded similarly?

[2021-08-30 22:00] apanicker-nflx commented on #2428
The dependency is available [here](https://mvnrepository.com/artifact/com.github.vmg.protogen/protogen-annotations?repo=jcenter), could you try adding `jcenter` to your repositories as well.

[2021-08-30 22:00] #2428 closed

[2021-08-30 22:17] aravindanr commented on #2429
`conductor.additional.modules` is no longer used in the `3.x` version. The properties that you have added look correct. Could you run Conductor with Spring Boot [debug mode enabled](https://docs.spring.io/spring-boot/docs/2.1.6.RELEASE/reference/html/boot-features-logging.html#boot-features-logging-console-output) to see if that gives you more information about the error? Please attach the full st

[2021-08-31 09:16] SukhadB opened #2440 "[QUESTION]: I am trying to use DO_WHILE task in my workflow, however after adding the task to the workflow, the workflow fails and the reason for Incompletion is "Invalid task specified. Cannot find task by name LoopTask in the task definitions". I went through multiple issues and found https://github.com/Netflix/conductor/issues/1559, but not able to understand as i am very new. Please help me with usage of DO_WHILE task."
Please do not create issues for questions. Use the [discussion forum](https://github.com/Netflix/conductor/discussions) instead!

[2021-08-31 11:51] UDragon-CK commented on #2428
I'm added this dependency, but the problem is the same.
implementation group: 'com.github.vmg.protogen', name: 'protogen-annotations', version: '1.0.0'

Execution failed for task ':compileJava'.

     Required by:
         project :

Possible solution:
 - Declare repository providing the artifact, see the documentation at https://docs.gradle.org/current/userguide/declaring_repositories.html

[2021-09-03 23:38] buzz08 opened #2446 "[BUG]: Need to remove the dependency on com.github.vmg.protogen:protogen-annotations"
**Describe the bug**
Need to remove the dependency on com.github.vmg.protogen:protogen-annotations
- This library is not actively maintained and the Jars are only published to jcenter
- jcenter is deprecated and this library is no longer accessible
- It seems like a personal project which is not getting any updates

**Details**
Conductor version: Latest

**To Reproduce**
Steps to reproduce the beh

[2021-09-04 23:50] buzz08 commented on #2446
@apanicker-nflx @kishorebanala cc: @cyzhao  - Please suggest the recommended fix approach and one of us can try to submit a PR to expedite this. Thanks! cc:

[2021-09-05 08:29] buzz08 opened #2447 "[BUG]: Elasticsearch 7 based configuration fails to start the app"
**Describe the bug**
When running the app with the ElasticSearch 7 configuration - it fails to start - Looks like there is a classpath conflict between the older version of ES and the newer version.  This is the

**Details**
Conductor version: 3.3.0-SNAPSHOT (Latest from GitHub)

**To Reproduce**
Use the following properties:
[code]

[2021-09-06 01:54] bhawani021 opened #2448 "[QUESTION]: how I can put retryDelaySeconds in DO_WHILE task"
[code]

I tried to put           "retryDelaySeconds": 30
so my task test_task_test execute after every 30 secs but it's not working.
Any suggestion?

[2021-09-06 10:45] SukhadB commented on #2448
Hi, I am trying to use DO_WHILE in my workflow, however it fails with "Invalid task specified. Cannot find task by name loop_task in the task definitions", loop_task is the taskRefName. With the above workflow definition are you able to execute the DO_WHILE task? Can you help me with the Workflow definition with DO_WHILE task?

[2021-09-07 07:12] pratprad opened #2451 "[BUG]: Not able to build the server / docker"
**Describe the bug**
When building the conductor server getting the following error.

#14 [conductor:server builder 4/4] RUN ./gradlew build -x test
#14 sha256:e3c8e93d24f2aeffecf0afaa4009188479be4f6861fb472c9058c66643a316ff
#14 134.1
#14 134.1 > Configure project :
#14 134.1 Git repository not found at /conductor -- nebula-release tasks will not be available. Use the git.root Gradle property to s

[2021-09-09 00:30] buzz08 commented on #2451
This is probably just happening for your local. I was able to build it fine. Can you highlight the steps you followed?

[2021-09-09 00:32] buzz08 commented on #2446
@kishorebanala - Thoughts on this one? Suggest the approach and we can submit a PR.

[2021-09-09 05:53] roversnord opened #2452 "[BUG]: Scheduled Task initiated with previous failed task's outputData"
**Describe the bug**
Creating a task where it is setup to retry upon failure, the retried task is populated with the previous failed attempt's outputData.

**Details**
Conductor version: 3.2.0
Workflow definition: `{
  "name": "response_test",
  "version": 1,
  "tasks": [
      {
          "type": "HTTP",
          "name": "FUNCTION",
          "taskReferenceName": "test_task",
          "inputPar

[2021-09-09 13:30] roversnord commented on #2452
The behavior is same in conductor version 2.30.3 as well. This is the version we use and originally noticed the issue. Tried to verify in latest and see the same behavior in 3.2.0

[2021-09-10 17:27] evgvain opened #2455 "[BUG]: The workflow is stuck on join"
Dynamic fork runs 3 sub_workflows. When all sub_workflows are completed the workflow is stuck on join task.

Conductor version: 3.2
Database persistence type: conductor.db.type=dynomite
(using default config.properties)

![bug2](https://user-images.githubusercontent.com/6605905/132893384-9c4da07b-b1c4-4ceb-9a84-e917d764e138.png)

![bug1](https://user-images.githubusercontent.com/6605905/132893471-

[2021-09-11 14:55] evgvain commented on #2455
The issue disappear after I changed the Database persistence type to mysql. When using dynomite, the workflow suck in ~10% of runs (out of ~100 runs). When using mysql - issue wasn't recreated in more than 300 runs.

[2021-09-13 07:45] starkblaze01 opened #2457 "[DOC]: Artifacts Link in the README doesn't work"
## What are you missing in the docs
The artifacts link for conductor is not working:
1. https://artifacts.netflix.net/netflixoss/com/netflix/conductor/
2. https://artifacts.netflix.net/netflixoss/com/netflix/conductor/conductor-server/
## Proposed text
Update the links with MVN repo links

[2021-09-13 15:48] marosmars commented on #2446
Hey, I temporarily fixed this for myself:

[code]

I just added jcenter repo and removed exlcusivity for netflix/required-jcenter-modules-backup.
I am not sure what is the deal with jcenter vs netflix/required-jcenter-modules-backup and why the dependency suddenly disappeared from netflix/required-jcenter-modules-backup...

[2021-09-13 21:10] aravindanr commented on #2447
I can reproduce this. Looks like its related to #2324 , @FpyrypT can you look into this?

[2021-09-13 21:22] aravindanr commented on #2448
@bhawani021 `retryDelaySeconds` is only supported in the task definition. For this case, you can add the field to the task definition of `test_task_test`.

[2021-09-13 21:24] aravindanr commented on #2448
It would help if you can post the workflow definition. Based on the error message, it looks like the workflow is using a `SIMPLE` task named `loop_task` for which there is no task definition defined.

[2021-09-13 21:39] aravindanr commented on #2457
@starkblaze01 Thanks for reporting and taking the time to correct it.  Contributions are always appreciated.

[2021-09-13 21:39] #2457 closed

[2021-09-13 21:39] kishorebanala commented on #2452
@roversnord While this is fairly simple to fix, we were thinking if this would break for some users, for eg., if they were using output data from the failed attempt(s).

What are you trying to accomplish?

[2021-09-13 21:55] aravindanr commented on #2446
@buzz08 Unfortunately, its not easy to remove that dependency since the `grpc` module depends on it. Did you try excluding the dependency in your `build.gradle`? The dependency is used to generate proto files and mappers from Java classes.

[2021-09-13 21:58] aravindanr commented on #2455
@evgvain We have had such issues with Dynomite internally and switched Cassandra for persistence and Redis for queues. We will be replacing with a pure [Redis implementation](https://github.com/Netflix/conductor/wiki/Roadmap#usability).

[2021-09-13 21:59] #2455 closed

[2021-09-13 22:00] buzz08 commented on #2447
Yes - managed to work with ES6 and also ES7 after changing some of the code per the instructions in the readme for ES7. So we can perhaps close this and wait for official support for ES7. Thanks for checking.

[2021-09-13 22:00] #2447 closed

[2021-09-13 22:05] buzz08 commented on #2446
@aravindanr - We can copy the relevant code to the conductor code base and prevent this. It's a bit odd for a new user to have to explicitly exclude dependencies.

If you'd like I can make a patch based on this approach.

Also thanks @marosmars for your suggestion. This should also work for the time being.

[2021-09-13 22:53] aravindanr commented on #2446
Adding the code to the Conductor repo was considered but dropped, because that places on the maintenance burden of the copied code on Conductor maintainers.

@vmg Can you publish `protogen-annotations` to Maven central?

[2021-09-13 23:05] buzz08 commented on #2446
Hey @aravindanr - What you say makes total sense - One other angle to consider is reducing / removing the dependency on this external library will likely reduce the overall long term maintenance overhead. The library you are referring to can be parked perhaps in the contribs module?

I'll leave this to you to decide, but hopefully you can reduce risks around keeping this library around.

[2021-09-14 08:59] vmg commented on #2446
Hey! I'm sorry, I wrote this dependency as part of Conductor's introduction to GitHub and I'm no longer working there. I think the best bet for long-term maintenance would be to park it on `contrib`. The functionality of the library is quite straightforward (generating ProtoBuf Java objects from Conductor's Java PODs), but manually doing the same thing would quickly become very cumbersome, since C

[2021-09-14 13:41] roversnord commented on #2452
When we update task, we don't want to lose the previously populated outputdata for the task, so we append to the outputdata if there's anything there already. What this causes is when a task fails and is retried, the output data keeps getting accumulated with all the previous failed attempts' outputdata. So, if have 5 retries and the first 4 fail and the last attempt succeeds, the outputdata now h

[2021-09-14 13:48] OguzhanUlucay opened #2459 "[BUG]: The Subworkflow Completes Even Though The Latest Task Is Scheduled When Optional Task Included"
**Describe the bug**
Hello, I have had opened a issue earlier #2297 and we got recommendation to update conductor version from v2.30 to the 3.x since some fixes related to problem are entered.

We have updated the our conductor and encountered same issue again.

To desribe issue again, the subworkflow which has two retryable(one is optional) task and also fired under fork-join is getting marked as

[2021-09-17 06:42] mashary commented on #2459
+1

[2021-09-17 06:44] azb96 commented on #2459
+1

[2021-09-20 08:18] starkblaze01 opened #2464 "[DOC]: Update docker-compose in the docs as per README"
## What are you missing in the docs
The old docker commands will not start the database:
- Server Page: https://netflix.github.io/conductor/server/#3-use-the-pre-configured-docker-image
![image](https://user-images.githubusercontent.com/22374162/133973155-49773863-8b76-4b8c-8113-51a093385dd1.png)
- Architecture Page: https://netflix.github.io/conductor/architecture/#or-start-all-the-services-using

[2021-09-20 21:36] aravindanr commented on #2452
Workflow does not have access to the `outputData` of all the attempts at the moment. Only the successful attempt is visible to the following tasks. Clearing the `outputData` after each attempt could break existing users and also some future use-cases.

We suggest introducing the following expressions

1. `taskRefName.attempts[attemptIndex].output` which picks the output of a specific attempt.
2. `

[2021-09-20 21:43] aravindanr commented on #2446
Parking it in `contrib` creates a circular dependency between `contrib` and `common`.

@buzz08 Wondering if changing the protogen-annotations to `compileOnly` in `conductor-common` solves the problem.

[2021-09-20 22:19] #2464 closed

[2021-09-23 08:48] vish220787 opened #2474 "[QUESTION]: Conductor uses in Batch"
Please do not create issues for questions. Use the [discussion forum](https://github.com/Netflix/conductor/discussions) instead!
We have requirement to initiate/process the  multiple workflows at the same point in time in batch? How to handle this kind of scenario and what configuration s needed for this

[2021-09-23 20:05] CHURLZ commented on #2459
Add a Join task, according to the docs it might allow the tasks to finish.

[2021-09-24 07:37] dzx2018 opened #2481 "[QUESTION]: ERROR [2/6] RUN apk update && apk add python make g++"
=> ERROR [2/6] RUN apk update && apk add python make g++                                                                                                              1.8s
------

#5 0.427 fetch http://dl-cdn.alpinelinux.org/alpine/v3.11/main/aarch64/APKINDEX.tar.gz
#5 1.172 fetch http://dl-cdn.alpinelinux.org/alpine/v3.11/community/aarch64/APKINDEX.tar.gz
#5 1.172 ERROR: http://dl-cdn.alpinelinux.

[2021-09-27 11:26] pratprad opened #2483 "[QUESTION]: how do we call aws lambda from conductor ?"
Please do not create issues for questions. Use the [discussion forum](https://github.com/Netflix/conductor/discussions) instead!

[2021-09-27 14:58] OguzhanUlucay commented on #2459
@CHURLZ Can you explain to put the join task where? I guess you are saying to put a join task to end of decision case but I couldn't find any info about that in conductor doc. By the way, we have already a join task after fork join.

[2021-09-27 21:17] #2474 closed

[2021-09-27 21:41] aravindanr commented on #2481
Can you be more specific with the question? This does not seem to be related to Conductor.

[2021-09-27 21:43] #2483 closed

[2021-09-27 21:55] aravindanr commented on #2459
@OguzhanUlucay We are trying to reproduce this on our end. In the meantime, could you also post the workflow execution json for both the main and the sub workflow?

[2021-09-28 09:11] OguzhanUlucay commented on #2459
@aravindanr I have now uploaded workflow execution jsons to details section of my main comment; https://github.com/Netflix/conductor/issues/2459#issue-996043851

[2021-09-28 16:47] #2481 closed

[2021-09-29 22:24] v1r3n commented on #2455
@aravindanr is the issue related to Dynomite? Does using lock fix this issue?

[2021-09-30 02:16] aravindanr commented on #2446
@vmg After some thought, we can bring the `protogen-annotations` as its own module into Conductor, but we won't be able to keep the package names as-is.

`com.github.vmg` will change to `com.netflix.conductor` and you will be credited as author. Let us know if you are ok with this.

[2021-09-30 08:37] vmg commented on #2446
@aravindanr Absolutely, that's not a problem at all.

[2021-10-01 00:08] #2385 closed

[2021-10-04 18:20] peterlau commented on #1880
This should be fixed with the 3.3.0 dockerfile for the new UI.

[2021-10-04 18:20] #1880 closed

[2021-10-05 17:34] jasondavindev commented on #2451
I solved this problem when I added `id "io.github.gradle-nexus.publish-plugin" version "1.1.0"` for `plugins` field and `classpath 'com.netflix.nebula:gradle-extra-configurations-plugin:5.0.3'` for `buildscript.dependencies` in the root `build.gradle`.
But the `3.4.0` version fixed these problems and no changes is required.

[2021-10-05 17:36] jasondavindev commented on #1981
Follows the Amazon State Language specification https://states-language.net/spec.html#errors

[2021-10-05 17:52] jasondavindev commented on #1177
Elasticsearch

[code]

Postgres

[code]

Conductor server

[code]

Conductor UI

[code]

I've deployed Conductor on AWS EKS.

[2021-10-07 21:01] taojwmware opened #2505 "[BUG]: Vulnerability in Conductor Server"
**Describe the bug**
A clear and concise description of what the bug is.

**Details**
Conductor version: latest main branch
Workflow definition:
Task definition:
Event handler definition:

**To Reproduce**
Build conductor from main branch and perform black duck analysis on the jar file.

**Expected behavior**
Some critical vulnerabilities exist in xstream component used in Conductor.

**Screenshot

[2021-10-07 21:09] taojwmware commented on #2505
Looks like it comes from :conductor-redis-persistence
[code]

[2021-10-10 10:24] vidhi-pavan-agrawal opened #2507 "[BUG]: Conductor v3.3.1 ui not showing updates"
I have set up Conductor v3.3.1 by cloning the main repo and then using docker-compose
after pushing the task defs and workflow def to the server I could the task def and workflow on the conductor UI running locally but when I try to update the status of tasks or trigger the workflow it is not reflected through the UI but I can see the status of the task as COMPLETED using the API call
**Details**

[2021-10-11 21:27] kishorebanala commented on #1177
@jasondavindev Awesome, thanks for sharing. Do you mind putting this somewhere with instructions and sending us a PR linking to related section: https://github.com/Netflix/conductor/blob/main/RELATED.md. I believe this would help someone in the community as a reference.

[2021-10-11 21:32] #2382 closed

[2021-10-11 21:40] #2448 closed

[2021-10-11 23:06] aravindanr commented on #2505
@taojwmware if you would like to upgrade the xstream library, please submit a PR.

[2021-10-12 13:32] ZergRushJoe commented on #1177
I would add a +1 to have ready to go images available

[2021-10-13 12:55] OguzhanUlucay commented on #2459
@aravindanr Hello, is there any update about issue?

[2021-10-14 07:39] andyyumiao opened #2514 "[QUESTION]: how to make the task(sub workflow task) delay to run in Dynamic Workflows?"
As title, in latest conductor version, how to make the task(sub workflow task) delay to run in Dynamic Workflows?For example, I want a sub workflow task run after 60s when the task starts to be scheduling, .

[2021-10-14 08:36] xiaowei582648206 opened #2515 "The workflow suspended , which contains 3,253 tasks."
**Describe the bug**
I create a workflow which contains 3,253 tasks: 1,627 **SUB_WORKFLOW** task and 1,626 **SIMPLE** task ,  each **SUB_WORKFLOW** task followed by  a **SIMPLE** task.  When the **SUB_WORKFLOW** task:  **sub_wf_334** executed completely, the workflow just suspended , the status of workflow is still "RUNNING",  but the rest task are never scheduled.

**Details**
Conductor version:

[2021-10-15 16:42] #2514 closed, assigned to nobody

[2021-10-15 16:45] aravindanr commented on #2515
Could you also share details about your conductor setup? It would help to know,

1. Persistence implementation.
2. Queue implementation.
3. Whether locking is enabled, if yes, Redis or Zookeeper?

[2021-10-18 21:36] kishorebanala commented on #2427
@SuperMasterBlasterLaser This seems more of a Dynomite / Dyno-queues issue, do you mind checking there please? https://github.com/Netflix/dynomite

[2021-10-19 04:42] SuperMasterBlasterLaser commented on #2427
@kishorebanala I have increased RAM of my VM from 4 GB to 16 GB and it started to work stable.

[2021-10-20 01:19] aravindanr commented on #2459
@OguzhanUlucay I am not able to reproduce the bug by running the workflow manually several times. I am working on an automation script to run the workflow periodically to check if its reproducible.

While analyzing the code, i see possibilities of workflow state becoming unpredictable if there "locking" is not enabled. Do you have it enabled? If yes, is it zookeeper or redis?

[2021-10-21 18:04] OguzhanUlucay commented on #2459
@aravindanr No, We have not enabled the locking. Would you propose to open it? We may open it via redis.

[2021-10-22 00:08] #2429 closed, assigned to nobody

[2021-10-22 02:12] #2505 closed

[2021-10-22 03:25] dzx2018 opened #2528 "[QUESTION]: Why can't Switch display branches"
Why can't Switch display branches
The execution flowchart also cannot show which branch of the Switch.

![image](https://user-images.githubusercontent.com/39911370/138388351-fed253e6-07ae-4e1f-a102-022039eeed99.png)

[2021-10-25 02:59] dzx2018 opened #2533 "[QUESTION]: How to set redis password"
There is no redis password attribute in RedisProperties. Can't I set the redis password?

[2021-10-25 03:51] buzz08 opened #2534 "Latest version of Conductor fails for prometheus metrics users"
**Describe the bug**
There is a line in the code that seems to have been introduced recently:
https://github.com/Netflix/conductor/blob/main/core/src/main/java/com/netflix/conductor/core/execution/tasks/SystemTaskWorker.java#L127

[code]

The `recordTaskPollCount` API is called from multiple places. Here its being called with an empty string and in other places its being called with `null`

This p

[2021-10-25 21:17] #2507 closed, assigned to nobody

[2021-10-27 09:33] mkp-bartsch opened #2540 "[QUESTION]: server log stops after starting in version 3.x when using docker image"
Hello,
we are using conductor for orchestrating microservices in our company and have some issues while setting up the latest version v.3.x.

Maybe you can help me:

Short description:
After building and starting the server and ui image (docker) from the latest tag, the server stops starting after "Using java options config:". This behaviour is independent of the configurations in the config-file.

[2021-10-27 21:21] altafalam21 opened #2541 "Switch Task not showing up properly"
**Describe the bug**
Switch Task is not working as how it is supposed to work.

**Details**
Conductor version: 3.3.0
Persistence implementation: Cassandra, Postgres, MySQL, Dynomite etc
Queue implementation: Postgres, MySQL, Dynoqueues etc
Lock: Redis or Zookeeper?
Workflow definition:

{
  "name": "Switch_TaskExample",
  "description": "Switch_TaskExample",
  "version": 1,
  "ownerEmail":"abc@exa

[2021-10-27 21:24] altafalam21 opened #2542 "[DOC]: 'ownerEmail' mandatory field missing"
## What are you missing in the docs
"ownerEmail" field while creating Workflow definition has been made mandatory in latest releases of conductor, which is yet to be
updated in docs.

## Proposed text
"ownerEmail" : Mandatory Field

[2021-10-28 21:28] #2541 closed, assigned to nobody

[2021-10-29 17:15] peterlau opened #2548 "[FEATURE]: [UI] Adjustable width task panel"
Please read our [contributor guide](https://github.com/Netflix/conductor/blob/main/CONTRIBUTING.md) before creating an issue.
Also consider discussing your idea on the [discussion forum](https://github.com/Netflix/conductor/discussions) first.

## Describe the Feature Request
The task panel is currently fixed width. While this works well in most cases, on small screens it would be advantageous to

[2021-10-29 18:09] boney9 opened #2550 "UI build is broken in the latest code"
**Describe the bug**
When running the UI of the main branch, we run into this error:
[code]

**Details**
Conductor version: Latest
Persistence implementation: In Memory
Queue implementation: In Memory
Lock: NA
Workflow definition: NA
Task definition: NA
Event handler definition: NA

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the codebase
2. Run the UI

**Expected behavior**
UI shou

[2021-10-29 20:26] gizmodude4 commented on #2540
Same issue here. Running from `./gradlew bootRun` works, but `docker-compose up` is not

[2021-10-29 20:28] #2550 closed

[2021-10-29 21:57] buzz08 commented on #2540
The logs are not exposed to the console, it should be available in `/app/logs/server.log`
Are you not able to see the server logs there?

By the way, for the whole thing to work - you will need Elasticsearch up and running as well as the option is now enabled by default. Check the `config.properties` files on the URL it tries to connect.

If you don't have ES, you will need to disable the indexing

[2021-10-29 22:16] gizmodude4 commented on #2540
Quick update: I'll try looking for server logs there later tonight.

I couldn't get the server up and running with `docker compose up -d` in the `docker` directory and had the issue mentioned here https://github.com/Netflix/conductor/issues/2540#issuecomment-953667972 where the server was seemingly up but wasn't responding to me trying to hit it via the API or the health check. Elasticsearch was u

[2021-10-30 09:13] kartaa commented on #2277
We also run conductor on top of mysql and have experienced this issue.
Anyone working on this issue?

[2021-11-01 01:59] andyyumiao opened #2552 "Execution error when start ui in latest version"
**Describe the bug**
when start ui program with 'yarn run start', i got the errors below:
**Failed to compile.

src/components/KeyValueTable.jsx
  Line 63:62:  'value' is not defined  no-undef

Search for the keywords to learn more about each error.**

**Details**
Conductor version:
Persistence implementation: MySQL
Queue implementation: MySQL
Lock: no lock
Workflow definition:
Task definition:
Ev

[2021-11-01 02:13] andyyumiao commented on #2552
So I think it was introduced from a later version

[2021-11-01 06:22] andyyumiao opened #2553 "Non-executable package: conductor-3.4.0-SNAPSHOT.jar"
**Describe the bug**
In latest version, after execute './gradlew build -x test', then i got the jar 'conductor-3.4.0-SNAPSHOT.jar' in ../build/libs, but it's Non-executable.

[2021-11-01 08:10] mkp-bartsch commented on #2540
Thank you for the explanation.
With the command `docker-compose -f docker-compose.yaml -f docker-compose-postgres.yaml up` the environment works. But the log remains in the console in any case.
I have checked the `/app/logs/server.log` file. In it is the complete log.
In the Conductor version 2.x this log was printed in the console. This was always very helpful in case of an error and it would be

[2021-11-01 12:44] #2553 closed

[2021-11-01 17:51] peterlau commented on #2552
Thanks for the report. 3.3.4 was released to patch this. Please give that a try.

[2021-11-01 19:30] aravindanr commented on #2277
@kartaa mysql is a community contributed module and looks like the original contributors are not active in maintaining the module. No one is actively looking into this issue.

[2021-11-01 22:47] aravindanr commented on #2542
Hello, thanks for reporting it. If you know where the update is needed in the documentation, please create a pull request with the update.

[2021-11-02 00:56] andyyumiao commented on #2552
Great, the latest version is fine!!

[2021-11-02 00:56] #2552 closed

[2021-11-04 18:12] headibr opened #2558 "[QUESTION]: Can you increase the number of HTTP tasks picked up by the workers?"
Is there somewhere in the configuration setting to define the number of HTTP tasks picked up by the workers during each poll cycle?

[2021-11-04 20:13] FpyrypT commented on #2558
Hello! I suggest that such property doesn't exist in java client. I think it's possible to write a similar client https://github.com/Netflix/conductor/blob/main/client/src/main/java/com/netflix/conductor/client/automator/TaskPollExecutor.java#L106
with this method
https://github.com/Netflix/conductor/blob/main/client/src/main/java/com/netflix/conductor/client/http/TaskClient.java#L167.
Also, TaskP

[2021-11-05 08:16] weiwensi commented on #2014
我尝试将表结构由原来的MySQL改为了Oracle启动的时候一直打印和这一样的信息，不可以Oracle吗？

[2021-11-08 22:34] aravindanr commented on #2558
@headibr The poll count for system task workers (HTTP) is controlled by this property, `conductor.app.system-task-max-poll-count`. The default value is 1.

[2021-11-09 02:19] buzz08 opened #2564 "Creating a new workflow definition will not populate createTime"
**Describe the bug**
When you create a new workflow definition, it doesn't set the create time. This causes issues in the workflow definitions UI page, especially if you try to sort by create time. We need to set this value as a current time when you create the workflow.

**Details**
Conductor version: Latest
Persistence implementation: NA
Queue implementation: NA
Lock:  NA
Workflow definition: Ap

[2021-11-09 04:06] boney9 opened #2565 "Inline tasks implementation is broken - the validations are incorrectly implemented"
**Describe the bug**
Inline tasks implementation is broken - the validations are incorrectly implemented. The validations intends to check for whether the `evaluationType` or `expression` is blank, but instead its checking for `isNotBlank`. There are no tests for the new inline task implementation either.

**Details**
Conductor version: Latest
Persistence implementation: NA
Queue implementation: N

[2021-11-09 14:10] headibr commented on #2558
Are there any consequences by increasing that value to 500 or even 1000? My system consistently has 25k-30k running workflows at any given time but HTTP tasks slow down when the queue builds up.

[2021-11-09 15:33] headibr commented on #2558
@aravindanr in which config file is this property located? or is this something we need to manually add?

[2021-11-09 18:24] boney9 commented on #2548
@peterlau - As we discussed - we can own this task. You can assign it to us.

[2021-11-09 19:00] boney9 commented on #2540
Hey - quick update - if you need the logs to show up on the console you can delete the logs redirect on this startup.sh command. Specifically this part:
[code]
https://github.com/Netflix/conductor/blob/main/docker/serverAndUI/bin/startup.sh#L36

This is assuming you are using the `serverAndUI` docker.

Try this out locally on Docker desktop and let us know if its working

[2021-11-09 19:48] shubham-prasad opened #2567 "Server fails to start with ES connection error if workflow.elasticsearch.cluster.health.color=yellow is not set"
**Describe the bug**
I'm using prebuild jars in a personal project to run conductor with custom WorkflowStatusListener implementation.
I've observed that if I don't set workflow.elasticsearch.cluster.health.color=yellow, the ElasticSearchRestDAOV5 throws timeout error. Same happens for TransportClient, the error thrown is NoNodeAvailableException.
I have also seen that docker/server/config/config.

[2021-11-13 00:58] boney9 commented on #2446
@aravindanr Did we get a chance to make this change?

[2021-11-14 13:40] vfmuniz opened #2573 "3.3.4 UI Bug. Task Details tab doesn`t show with javascript error."
Hi. I just upgraded to 3.3.4 UI and I noticed that task details tab does not show when you click on it any task. Issue happens both on production mode (when I copy the build result from yarn build command to the server resources folder and access all the pages as static files) and on development mode.

Details
Conductor version:
Persistence implementation: Oracle, Elastic 7
Queue implementation: D

[2021-11-14 13:49] vfmuniz opened #2574 "3.3.4 UI Bug. Browser refresh (F5) fails with 404 not found page"
**Describe the bug**
On the 3.3.4 UI version, if you go to workflow details screen (or some others as well) and try to refresh the page using F5 or Mouse Right click + Refresh option, the app gets a 404 page. You need to go back to home screen for it to work again.
IMPORTANT:  Issue only happens when I copy the build result (from yarn build command) to the server resources folder and access all th

[2021-11-14 19:14] #2565 closed

[2021-11-15 00:09] vfmuniz commented on #2574
Never mind. Found a fix for this one. I the index.js I changed the BrowserRouter to HashRouter (according to https://www.bezkoder.com/integrate-reactjs-spring-boot/) and it Worked ! Thanks all.

[2021-11-15 00:09] #2574 closed

[2021-11-15 03:49] boney9 commented on #2446
@aravindanr - I took a stab at moving this code with this PR - it works locally and it was an easy change - but the PR build seems to fail to recognize the new modules - not sure what is happening - will you be able to take a look?

https://github.com/Netflix/conductor/pull/2575

cc @v1r3n

[2021-11-15 21:26] peterlau commented on #2573
Looks to be caused by a workflow execution returning no 'taskToDomain' field.

[2021-11-15 22:27] peterlau opened #2576 "[UI] Dockerfile apk command error"
### Discussed in https://github.com/Netflix/conductor/discussions/2490

<div type='discussions-op-text'>

<sup>Originally posted by **dzx2018** September 24, 2021</sup>
 => ERROR [2/6] RUN apk update && apk add python make g++                                                                                                              1.8s
------

#5 0.427 fetch http://dl-cdn.alpinelinux.org/alpine

[2021-11-15 22:32] jxu-nflx commented on #2567
Hello @shubham-prasad, where did you get the es5-psersistent module? Also how did you launch ES, it it via docker container? By default, conductor.elasticsearch.clusterHealthColor=green, so it will wait for the ES cluster to become green: https://github.com/Netflix/conductor/blob/main/es6-persistence/src/main/java/com/netflix/conductor/es6/dao/index/ElasticSearchRestDAOV6.java#L337 You can check t

[2021-11-15 22:33] jxu-nflx commented on #2564
Hello @buzz08 Do you want to submit a PR to fix this? Thank you!

[2021-11-15 22:36] aravindanr commented on #2564
I was able to reproduce it. PUT /workflow does not set the `createTime`, but POST /workflow defaults it to the current server time.

[2021-11-15 22:38] jxu-nflx commented on #2558
@headibr You can add it manually to your config file

[2021-11-15 22:45] aravindanr commented on #2558
@headibr Increasing the count to a large value does not speed up processing. The value should be a function of the number of processors (e.g. no of processors * 4) on the server that Conductor runs on. Setting a high value will simply overload the system with many threads. To reduce task build up, you can scale horizontally by adding more servers.

[2021-11-15 22:52] #2576 closed

[2021-11-16 00:33] #2446 closed

[2021-11-16 02:19] #2548 closed

[2021-11-16 03:21] fooozhe commented on #2576
same here

[2021-11-16 05:49] ektabansal15 commented on #204
Try to see in default aws region that is us east

[2021-11-16 06:04] #2558 closed

[2021-11-16 06:04] #2540 closed

[2021-11-16 06:28] boney9 commented on #204
If you are on conductor version 3.x and above the above property does not work.  set up
`conductor.default-event-queue.type=sqs` and
`conductor.sqs-event-queue-processor.enabled=true` in your properties.

Join us in our [Slack Community](https://join.slack.com/t/orkes-conductor/shared_invite/zt-xyxqyseb-YZ3hwwAgHJH97bsrYRnSZg) to discuss more or if you have any questions.

[2021-11-16 13:10] vfmuniz commented on #2573
Thank you :)

[2021-11-17 18:29] #2573 closed

[2021-11-18 15:18] DemisB commented on #1781
Hi 👋
Would you have further information about this issue?

I observed that behaviour on our production conductor instance (that indeed has a significantly higher workload than our staging instance). We are using conductor 2.31.5.
I have not tried to look at the error logs yet.

Thanks!

[2021-11-19 05:01] aravindanr commented on #1781
Without details about the workflow and task, we can only speculate. Any running or scheduled task    is canceled when the workflow is terminated.

[2021-11-22 18:53] FlorianKuckelkorn opened #2588 "UI Bug with v3.3.6 - TypeError: data is not iterable"
**Describe the bug**
By calling the start page of the UI, the UI crashes instantly with the Error Message described below

**Details**
Conductor version: 3.3.6
Persistence implementation: Dynomite
Queue implementation: Dynoqueues
Lock: Redis
Workflow definition: none
Task definition: none
Event handler definition: none

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'conductor ui' on p

[2021-11-22 23:00] aravindanr commented on #2567
@shubham-prasad as part of the above step, are you setting `workflow.elasticsearch.cluster.health.color=yellow`? The default value is `green`.

[2021-11-23 15:11] javiercanillas opened #2589 "Docker ElasticSearch misconfiguration"
**Describe the bug**
When running using the docker image ([explained here](https://netflix.github.io/conductor/server/#3-use-the-pre-configured-docker-image)),  indexes configuration on ElasticSearch includes one replica. Since ES instance is only one, this statemente cannot be fulfilled correctly, so ES health will always be yellow, instead of green.

Since ES health can only achieve yellow statu

[2021-11-23 19:05] peterlau commented on #2588
This looks to be a symptom of the backend not being up. Please verify that the conductor backend is accessible at `localhost:8080`.

[2021-11-23 20:48] flavioschuindt opened #2594 "Conductor Java SDK fails to update the task output"
**Describe the bug**
I have a workflow that has a SIMPLE task. I have a custom worker implementation that is responsible to:

* Call an async downstream service;
* Update the task output with some acknowledge content:

[code]

Just FYI, later on the downstream service will resume the task in the workflow with more content in the task output, but this is not part of this discussion here.

This work

[2021-11-23 21:07] FlorianKuckelkorn commented on #2588
Hi, i just tried it and the backend is fully available

[2021-11-24 15:14] jmigueprieto commented on #2542
I'm just getting started with conductor and I noticed this issue while using the sample payloads in the docs to create tasks and workflow in my dev environment.

I believe this PR https://github.com/Netflix/conductor/pull/2598 addresses the issue but there might be other docs that need to be updated.

[2021-11-25 01:43] weiwensi opened #2599 "[QUESTION]: EventServiceGrpc don't have found"
I pull the master branch to my loacl,inthe  grpc-client and the grpc-server can't found the class EventServiceGrpc what should I do?

[2021-11-29 11:44] andyyumiao opened #2604 "Cannot read properties of undefined (reading 'length')"
**Describe the bug**
In latest version v3.3.6, i deployed a new conductor server(without any workflow and task template data in it), then run the ui, got the error
![企业咚咚20211129194402](https://user-images.githubusercontent.com/11346379/143862270-09bf4513-8da2-4b12-b924-b52316a595cb.jpg)

[2021-11-29 15:04] andyyumiao commented on #2604
I have create a bug fix for this issue, see [#2605](https://github.com/Netflix/conductor/pull/2605) pls help to check.

[2021-11-29 21:23] #2604 closed

[2021-11-29 21:24] peterlau commented on #2588
This is expected. The UI (via create-react-app or nginx) proxies the entire backed to the UI port (5000) to avoid browser
cross-origin complications.

[2021-11-29 22:27] jxu-nflx opened #2606 "OAuth Support in HTTP task"
### Discussed in https://github.com/Netflix/conductor/discussions/2603

<div type='discussions-op-text'>

<sup>Originally posted by **pankajthamkeappdirect** November 28, 2021</sup>
Hi Team, in the change log it is mentioned that **Removed OAuth Support in HTTP task** Most of the workflows that we have use HTTP task with OAUTH, Is there any alternative ?</div>

[2021-11-29 22:33] apanicker-nflx commented on #2542
Merged #2598

[2021-11-29 22:33] #2542 closed

[2021-11-29 22:45] aravindanr commented on #2594
This _may be_ a timing issue. Its possible that the downstream service updates the task output and sets the task to a terminal state (COMPLETED, FAILED etc) before the worker does it. If the task reaches a terminal state, all updates from there on will be ignored by conductor.

[2021-11-29 22:46] apanicker-nflx commented on #2599
EventClient is part of the grpc-client module [here](https://github.com/Netflix/conductor/blob/main/grpc-client/src/main/java/com/netflix/conductor/client/grpc/EventClient.java) and also the EventService is part of grpc-server [here](https://github.com/Netflix/conductor/blob/main/grpc-server/src/main/java/com/netflix/conductor/grpc/server/service/EventServiceImpl.java)

[2021-11-29 22:46] #2599 closed

[2021-11-30 08:37] andyyumiao opened #2609 "Errors happend when startup conductor server with ElasticSearch7"
**Describe the bug**
**Does anyone encounter this problem when using es7? The error is as follows when starting the server:**
9690 [main] INFO  com.netflix.conductor.es7.dao.index.ElasticSearchRestDAOV7 [] - Creating the index template 'template_event'
9703 [main] WARN  org.elasticsearch.client.RestClient [] - request [PUT http://xxxx.xx.com:40000/_template/template_event] returned 1 warnings: [29

[2021-11-30 11:39] #2609 closed

[2021-11-30 13:16] evgvain commented on #2368
Similar behavior was observed again after upgrade to version 3.2, even after setting conductor.app.workflowExecutionLockEnabled=true

[2021-11-30 18:00] aravindanr commented on #2368
Could you share more details about the lock implementation, that is used? Zookeeper or Redis.

[2021-12-01 05:52] evgvain commented on #2368
I am not sure. This is my configuration file. Am I need to configure something else?

`
conductor.grpc-server.enabled=false

conductor.db.type=mysql
spring.datasource.url=jdbc:mysql://mysql:3306/conductor
spring.datasource.username=uconductor
spring.datasource.password=pconductor

spring.datasource.hikari.maximum-pool-size=10
spring.datasource.hikari.minimum-idle=2

conductor.indexing.enabled=true

[2021-12-01 19:11] laxmikantb opened #2616 "Help to install the visual workflow UI"
### Discussed in https://github.com/Netflix/conductor/discussions/2615

<div type='discussions-op-text'>

<sup>Originally posted by **alawth** November 30, 2021</sup>
I have tried to start the conductor server from source (https://github.com/Netflix/conductor) and executed the following.

./gradlew server

/ui/ -> yarn run start

And I'm getting this UI [here](https://ibb.co/yhMf1fv) and not the w

[2021-12-01 19:14] laxmikantb commented on #2616
I started server as below  (on windows 10)

cd conductor
gradlew server

from another cmd termincal
cd conductor/ui
yarn run start

but I am getting

Usage Error: Couldn't find a script named "start".

$ yarn run [--inspect] [--inspect-brk] <scriptName> ...

any idea ,  where i can find start script?

Thanks.

[2021-12-03 00:08] #2369 closed

[2021-12-03 00:08] #2292 closed

[2021-12-03 06:36] shubham-prasad commented on #2567
Thanks @aravindanr for the clarification. We should add this in property in the docs.

[2021-12-03 06:36] #2567 closed

[2021-12-03 15:14] OpenPj opened #2620 "Docker Compose needs volumes for Elasticsearch and PostgreSQL"
**Describe the bug**
Trying to restart the default Docker Compose template the system return corruption exceptions on the storage components.

**Details**
Conductor version: 3.3.6
Persistence implementation: In-Memory, PostgreSQL

**To Reproduce**
Steps to reproduce the behavior:
1. Execute the Docker compose starting from the docker folder:
docker-compose -f docker-compose.yaml -f docker-compose-

[2021-12-03 16:27] debapi94 commented on #2616
shell 1
$ cd conductor
conductor$ cd server
server$ ../gradlew bootRun
//access the APIs at: http://localhost:8080/swagger-ui/index.html?configUrl=/api-docs/swagger-config

shell 2
$ cd conductor
conductor$ cd ui
conductor/ui$ yarn install
conductor/ui$ WF_SERVER=http://localhost:8080/ yarn run start

[2021-12-03 23:32] laxmikantb commented on #2616
I tried same steps - I am running on windows.
here are the steps i ran -
npm i -g corepack
yarn init -2
yarn set version stable
yarn set version from sources

ran server gradlew server - it came up w/o issues
i see the api with swagger

then

cd ui
yarn install
yarn run start

D:\software\conductor\ui>yarn run start
     **Usage Error: Couldn't find a script named "start".**

[2021-12-06 22:41] apanicker-nflx commented on #2564
Since we are altering the metadata APIs, we propose that we should make these consistent.
For example, the task definition APIs allow creation of an array of task definitions but update of one task definition. Further, the update operation is only allowed if the task definition has already been registered.

The proposal is to follow the same convention for workflow definition APIs as well.
As part

[2021-12-07 02:15] boney9 commented on #2616
Hey @laxmikantb - The UI has been upgraded to the new look that you see. The start command is there. You can look at the package.json to confirm. Make sure you have the latest code base or one of the release code base.

[2021-12-07 20:52] ZergRushJoe opened #2627 "inline task not working on 3.3.6"
**Describe the bug**
when running the system task "INLINE_TASK" getting error of

`Empty 'evaluatorType' in Inline task's input parameters. A non-empty String value must be provided.`

I tried moving the evaluatorType from inside the inputParameters to the outside but get the same error

**Details**
Conductor version: 3.6
Persistence implementation: Postgres
Queue implementation: Postgres
Lock: no

[2021-12-10 17:55] shahnaresh41 opened #2635 "taskReferenceName needs to be unique within a workflow"
Moving from conductor-2.30.0 to 3.3.4 and trying to import old workflow definition to conductor-3.3.4
but it is throwing error that taskReferenceName needs to be unique within a workflow.
Is there any solution to this so that we do not have to change the taskReferenceNamewithin workflow.

Error :
------------------
{
    "status": 400,
    "message": "Validation failed, check below errors for deta

[2021-12-13 15:22] amoutaux opened #2639 "[BUG] [MACOS] docker-compose build 'Gradle daemon disappeared unexpectedly'"
**Describe the bug**
I couldn't find any similar issue, hope I haven't missed something 🤞

On a clean repository, `docker-compose build` command fails at `ERROR [builder 4/4] RUN ./gradlew build -x test --stacktrace`

**Details**
Conductor version: bda333
Persistence implementation: Default
Queue implementation: Default
Lock: Default
Workflow definition: Default
Task definition: Default
Event hand

[2021-12-13 16:40] amoutaux commented on #2639
After retrying several times it finally succeeded. It may just have been an OOM issue 🤷 🤔

[2021-12-13 16:40] #2639 closed

[2021-12-15 07:45] evgvain opened #2641 "Workflow Timeline: Cannot read properties of undefined (reading 'map') at Timeline.jsx:43"
**Describe the bug**
Workflow Timeline: Cannot read properties of undefined (reading 'map') at Timeline.jsx:43

**Details**
Conductor version: 3.3.6
Persistence implementation: MySQL

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Execution', search for workflows
2. Click on any workflow
2. Click on 'Timeline'
4. See error

Uncaught TypeError: Cannot read properties of undefined (read

[2021-12-15 08:50] flavioschuindt opened #2642 "Distributed locking with redis sentinel does not honor server address configuration property"
**Describe the bug**
 I am trying to enable a distributed locking using Redis sentinel. Due to the lack of missing information in documentation, I am looking directly in the code and I identified these properties that needs to be configured. They are coming from interfaces  ```Configuration``` and ```RedisLock```:

[code]

[code]

[code]

Not sure if relevant here, but my redis sentinel is deploye

[2021-12-15 22:50] aravindanr commented on #2368
Enabling the lock is not sufficient. The lock implementation needs to be configured. Please configure it to use [Redis](https://github.com/Netflix/conductor/blob/main/CHANGELOG.md#redis-lock-module) or [Zookeeper](https://github.com/Netflix/conductor/blob/main/CHANGELOG.md#zookeeper-lock-module). Use the property values from the NEW column.

[2021-12-15 22:55] #2620 closed

[2021-12-15 23:01] flavioschuindt commented on #2642
Ok, looks like I found the issue. The issue is in redisson. It's very easy to reproduce:

* Create a simple java app;
* Add redisson in the classpath;
* Copy and paste the same block of code that conductor is using to connect to redis sentinel:

[code]
* In this simple Java app, make sure you are referring in the pom.xml the exact samve redisson version that conductor is currently using (3.11.4);

[2021-12-15 23:53] aravindanr commented on #2642
@flavioschuindt Thanks for posting the details. Please create a PR to bump up the version in 2.31 branch.

[2021-12-16 08:27] pavansharma30 opened #2650 "Task timeout is not happening for async tasks"
Describe the bug
Task timeout is not happening for async tasks even after task timeout is exceeded and no body invoked the pending task

**Details**
Conductor version: 3.10
Persistence implementation: Cassandra, Postgres, MySQL, Dynomite etc
Queue implementation: Postgres, MySQL, Dynoqueues etc
Lock: Redis or Zookeeper?
Workflow definition:
Task definition:
Event handler definition:

**Expected be

[2021-12-16 08:40] flavioschuindt commented on #2642
Done in #2651, @aravindanr. Could you please review and merge? Also, once merged, do you have an idea of the timeline to be added in 2.31.6? Our team is dependent on this and we would like, of course, to consume directly from the open source project. Thank you!

[2021-12-16 18:11] apanicker-nflx commented on #2642
Closed by #2651

[2021-12-16 18:33] headibr opened #2652 "After Version 2.30.2 you can no longer reuse taskReferenceName in a single workflow"
After Version 2.30.2 you can no longer reuse taskReferenceName in a single workflow, and now requires each to be uniquely named. This is causing a lot of rework for workflows used in previous versions when upgrading to any version passed 2.30.2.

We should be able to reuse taskReferenceNames throughout a single workflow for simplicity, streamlined workflow visualization, and unifying the workflow

[2021-12-16 23:54] #2642 closed

[2021-12-17 00:03] apanicker-nflx commented on #2589
Closed by #2590

[2021-12-17 00:03] #2589 closed

[2021-12-17 00:05] #1111 closed

[2021-12-17 00:05] #871 closed

[2021-12-17 19:09] laxmikantb opened #2654 "How to restart a Task when Workflow fails at task 4 in sequence."
We do requirement like workflow defined as
    task1-> task2-> decision (T3, t4) -> t5 -> t6

now workflow get started but failed in task2, is any way we can re-start same workflowid starting from task2 or failed.I do not want restart task1 as task1 already time consuming job and no need to re run task1 , but would like to use output from task1 to restart t2.

[2021-12-18 02:25] #2073 closed

[2021-12-18 06:11] laxmikantb commented on #2616
Thanks , I am able to start it , as I took latest package json from repo. I am able to see workflow and task definitions with directed graph. But I am not able to get execution graph , is any anything missing on settings?

[2021-12-20 06:47] abhijit-kottur opened #2658 "ES6 to ES7: Build failed with an exception - com.fasterxml.jackson dependencies"
**Describe the bug**
I have pulled the v3.4.0 into my custom repo and I'm trying to build the project with ES7 while I get this error. With ES6 I don't see any issues.

**Details**
Conductor version: v3.4.0

**To Reproduce**
Steps to reproduce the behavior:
1. Do the steps as directed on https://github.com/Netflix/conductor/blob/main/es7-persistence/README.md
2. Run `./gradlew build`
3. Build fail

[2021-12-20 22:52] apanicker-nflx commented on #2635
@shahnaresh41 Please do not create issues for questions. Use the [discussion forum](https://github.com/Netflix/conductor/discussions) instead!

[2021-12-20 22:52] #2635 closed

[2021-12-20 22:54] jxu-nflx commented on #2654
Hello @laxmikantb you could use either 'rerun` or `retry` to restart from task2: https://netflix.github.io/conductor/apispec/#manage-workflows

[2021-12-20 23:04] aravindanr commented on #2652
Please see the [response](https://github.com/Netflix/conductor/discussions/2662#discussioncomment-1849945) in #2662.

[2021-12-20 23:07] jxu-nflx commented on #2627
Hello @ZergRushJoe I tried the exact workflow def that you posted, and it works fine for me. Can you check your workflow definition in UI to make sure it is correct?

[2021-12-20 23:10] aravindanr commented on #2650
Could you clarify which task has the `timeoutSeconds` set and also which "pending" task should be invoked on the timeout? Note that `responseTimeoutSeconds` and `timeoutSeconds` have different meaning. https://netflix.github.io/conductor/configuration/taskdef/

[2021-12-20 23:18] apanicker-nflx commented on #2658
@abhijit-kottur Looks like your build is still using ES6. Please ensure that all the listed steps are followed.

[2021-12-21 00:12] abhijit-kottur commented on #2658
You reckon it's because of the stale `dependencies.lock` files? Because, I'm sure I'm following all steps there.
Even making sure all of these are cleaned by running this command in the repo folder
`find . -name "dependencies.lock" -delete`

[2021-12-27 14:58] deoramanas opened #2678 "conductor.elasticsearch.url not working without http, in the format 'localhost:9200' with tcp protocol(Screenshots attached)"
**Describe the bug**
Using ES6,
When you give URL in the format- "**localhost:9200**", you will be getting error,
_java.lang.IllegalArgumentException: tcp://localhost:9200can not be converted to java.net.URL_
**Details**
Conductor version: v3.3.2
Persistence implementation: mysql
Lock: Redis
Workflow definition: Not required
Task definition:  Not required
Event handler definition:  Not required

*

[2021-12-27 22:36] #2437 closed

[2021-12-27 22:36] #2534 closed

[2021-12-27 22:52] apanicker-nflx commented on #2658
No, if the lock files were not updated, the build would fail due to a ClassDefNotFound error.
Here it seems to be loading the es6 module and trying to resolve classes within. Once the changes have been made correctly to the `build.gradle` file then only es7 module should be loaded. Please re-verify if this is the case.

Also, pinging @marcocrasso to see if any help can be provided.

[2021-12-28 03:14] marcocrasso commented on #2658
@apanicker-nflx is right, the problem is that es6 and es7 modules cannot be loaded simultaneously. Our team uses Conductor 3.4.0 with es7, with next patch:

[code]

[2021-12-28 23:21] marcocrasso opened #2679 "v3.4.1 at UI execution dropdown actions button cannot click on restart with latest definition"
**Describe the bug**
Restart using latest defintion cannot be executed from execution dropdown. However it works from bulk execution*s* dropdown.

**Details**
Conductor version: v3.4.1
Persistence implementation: out-of-the-box (index=false)
Queue implementation: dynoqueue
Lock: none
Workflow definition: any
Task definition: any
Event handler definition: none

**To Reproduce**
Steps to reproduce t

[2021-12-28 23:22] marcocrasso commented on #2679
Same using:
- Chrome Version 96.0.4664.110 (Official Build) (x86_64)
- Safari Version 15.2 (15612.3.6.1.8, 15612)

[2021-12-31 00:08] #2515 closed

[2022-01-03 18:25] #2658 closed

[2022-01-03 18:55] apanicker-nflx commented on #2678
@deoramanas Thanks for the detailed bug report and RCA.

This seems to have been introduced when we upgraded to 3.0 Is this a fix that you would be interested in contributing to the project?
Please note that this would only be applicable in ES6 (not ES7 +) since transport client has been removed in newer ES versions.

[2022-01-04 10:29] deoramanas commented on #2678
@apanicker-nflx  I will like to contribute the fix and will share the PR as soon as it is ready.

[2022-01-09 14:46] pavansharma30 commented on #2650
Thanks Aravindan for your response

We are not setting any timeoutSeconds explicitly, expecting default timeout should happened. This used to work fine for previous version of Conductor: 3.10

[2022-01-10 22:24] aravindanr commented on #2452
@csharplus this is a good first issue to look into, if you are interested.

[2022-01-11 17:57] aravindanr opened #2690 "[DOC]: Documentation page that lists all properties"
Conductor contains a large list of properties to customize its behavior. But these properties are scattered across several modules. There is not a consolidated place in the documentation where all of these are listed and documented.

Most properties are modeled as SB _@ConfigurationProperties_ and the ones that are not added to _additional-spring-configuration-metadata.json_ files. The SB annotati

[2022-01-12 10:19] odedlevy02 opened #2692 "Conductor UI - displaying logs does not work"
When trying to get logs using the conductor UI, it looks like the URL used to get the logs from the server is wrong - causing the Logs tab to always remain empty.

I have compiled the conductor server and client from the latest git version.
I am creating a very simple task of type SIMPLE and adding logs when updating the task.
If I use Conductor server swagger api:  '/api/tasks/{taskId}/log' - the

[2022-01-12 10:51] howaric commented on #2692
Hi @odedlevy02 , this bug was fixed in v3.4.0, you can upgrade the UI and have a try, thanks.

[2022-01-12 11:43] UDragon-CK commented on #2277
It happened to me too ㅜㅜ

[2022-01-12 11:54] UDragon-CK commented on #2277
I'm using mysql and I'm experiencing this problem.

[2022-01-12 11:56] UDragon-CK commented on #2277
I'm also experiencing this problem using mysql. T_T
Did you solve it by any chance?
@kartaa

[2022-01-12 13:05] UDragon-CK commented on #2277
CallbackAfterSeconds Can this be a solution?

[2022-01-12 16:16] james-deee commented on #2277
Just curious if anyone also is trying to make use of Redis/Zookeeper Locking too? I'm not sure if that's a solution, but am wondering if anyone hitting this issue is also using Locking as well.

[2022-01-12 17:01] odedlevy02 commented on #2692
Thanks but I have taken the latest version with tag v3.4.1 and v2.31.7 (latest main branch) and yet the bug still remains.
I am building a docker image using the docker compose file supplied in folder docker. Building ( docker-compose build ) and running (docker-compose up)

[2022-01-12 17:12] odedlevy02 opened #2693 "Building conductor server via docker fails"
I have taken the latest main branch code and tried to build the conductor server using docker compose and getting the following error:
FAILURE: Build failed with an exception.
#11 38.84
#11 38.84 * What went wrong:
#11 38.84 A problem occurred configuring root project 'conductor'.
#11 38.84 > Could not resolve all artifacts for configuration ':classpath'.
#11 38.84    > Could not resolve com.netfl

[2022-01-12 17:21] odedlevy02 opened #2694 "Using Swagger api for /api/tasks causes browser to freeze"
I am running conductor as a docker image on my local machine.
Then I am doing the following:
1. opening conductor server swagger on http://localhost:8080/ and selecting Swagger Documentation
2. I try to expand api [post] /api/tasks
This causes the browser to freeze and will require to kill the browser
I tried doing this on both chrome and edge browsers with the same result

[2022-01-12 21:08] csharplus commented on #2452
Hi Aravindan,

Sure, I'll take a look at it, and let you know when the fix is ready for
review.

Thanks,
Henry

On Mon, Jan 10, 2022 at 2:25 PM Aravindan Ramkumar ***@***.***>
wrote:

[2022-01-13 09:31] Priyank0711 commented on #1677
d

[2022-01-13 09:33] Priyank0711 commented on #1677
Hi, I am trying to execute a task 'A' inside do while task and I want to change the input to task 'A' on every iteration. Can we do this?

[2022-01-13 17:29] peterlau commented on #2641
There is probably some bug/undesired interaction between the particular workflow execution you're trying to visualize and the Timeline renderer. could you provide more detail, screenshots, or a snippet of the workflow that is failing?

[2022-01-13 19:08] odedlevy02 commented on #2692
Thanks. It works

[2022-01-13 19:08] #2692 closed

[2022-01-14 16:12] muthurajr commented on #2588
@FlorianKuckelkorn What is the value of WF_SERVER passed to the ui container?
I faced similar issue when upgrading from 3.2 to 3.3. May be it can help you.
in 3.2 WF_SERVER=http://conductor-server:8080/api/
in 3.3 onwards with the react app, WF_SERVER=http://conductor-server:8080

[2022-01-14 21:16] #2679 closed

[2022-01-16 18:45] odedlevy02 commented on #2693
Currently works.
Thanks

[2022-01-16 18:45] #2693 closed

[2022-01-17 13:13] eransagi1 opened #2703 "Conductor UI Task Logs tab does not show log messages"
**Describe the bug**
Conductor UI Task Logs tab does not show log messages

**Details**
Conductor UI Task Logs tab does not show log messages.

The problem is - the UI try to get the logs from the following URL - pay attention that "api" appear twice in the URL.
http://my-host:port/api/api/tasks/bd81fae3-d514-42e5-8fbb-3e5bc5433d8b/log

![image](https://user-images.githubusercontent.com/7852785/14

[2022-01-18 03:27] howaric commented on #2703
Hi @eransagi1 , thanks for your report, this issue has been fixed, please refer to #2692  and #2630

[2022-01-19 00:27] #2703 closed

[2022-01-19 00:32] aravindanr commented on #2694
Thanks for reporting it. Will include the fix in the next release.

[2022-01-19 01:23] apanicker-nflx opened #2705 "Publish workflow events to internal Conductor queues"
Events for workflow completion and termination are currently published using the WorkflowStatusListener. These events can be used to trigger actions in downstream systems.

However, if actions need to be triggered within Conductor (eg. start another workflow), an intricate event handling needs to be built in the eventing system to callback into Conductor. To enable workflow events to further trigg

[2022-01-19 05:51] aravindanr opened #2706 "Add your company to Conductor users list"
If you are using Conductor at the company you work with, add the name of your company and your Github handle to the list at https://github.com/netflix/conductor/blob/main/WHOSUSING.md

[2022-01-19 06:03] aravindanr commented on #2705
@duoertai @csharplus this is another issue that you can look into.

[2022-01-19 13:58] icecreamwala12 opened #2708 "java.lang.NoClassDefFoundError: org/glassfish/jersey/uri/internal/UriTemplateParser"
i have deployed my conductor on weblogic.

somehow i am facing this bug:
java.lang.NoClassDefFoundError: org/glassfish/jersey/uri/internal/UriTemplateParser rooting from clientbase class of conductor.
stack trace is as follows
![image](https://user-images.githubusercontent.com/3677867/150145150-f2facb65-8978-4963-8de9-499b7bfcfdf5.png)

[2022-01-20 18:55] peterlau opened #2712 "UI: Make canceled task yellow in DAG graph"
### Discussed in https://github.com/Netflix/conductor/discussions/2701

<div type='discussions-op-text'>

<sup>Originally posted by **howaric** January 16, 2022</sup>
Now, a canceled task is red in DAG graph which is hard to distinguish from failed task, an idea is to fill canceled task with another color, such as yellow. </div>

[2022-01-20 19:13] #1972 closed

[2022-01-20 21:48] peterlau commented on #1972
No longer an issue with the new UI as we don't 'expand' subworkflows and inject them in their parent graph visualization any more.

[2022-01-21 21:39] aravindanr commented on #2678
@deoramanas We are trying to gather more information about who's using Conductor. If you can,  please create a PR with your company information to WHOSUSING.md

[2022-01-22 00:08] #2594 closed

[2022-01-22 08:56] #2678 closed

[2022-01-23 07:37] deoramanas commented on #2678
Sure @aravindanr . I'll raise one

[2022-01-23 09:01] deoramanas commented on #2706
@aravindanr https://github.com/Netflix/conductor/pull/2713

[2022-01-24 02:58] wpz850398226 opened #2714 "[QUESTION]: How to create a queue??"
When I was publish a message in queue to mark a wait task as completed，use /api/queue/update/{workflowId}/{taskRefName}/{status}
I got response such as "There is no queue for handling COMPLETED status",I don't know how to create a queue in conductor,please

[2022-01-24 05:33] nohup23 commented on #1669
Please take a look here: https://orkes.io/content/docs/reference-docs/system-tasks/json-jq-transform-task

[2022-01-24 22:48] aravindanr commented on #2714
Conductor automatically creates queues for `COMPLETED` and `FAILED` statuses. Do you have any of the following properties set to `true`?

[code]

[2022-01-24 22:49] jxu-nflx commented on #2708
@icecreamwala12 what version of conductor are you trying to deploy? And what version of weblogic is it?

[2022-01-24 22:55] #2694 closed

[2022-01-24 22:55] aravindanr commented on #2650
The default `timeoutSeconds` is set as 0, which means the task has no timeout and can run indefinitely. The value of `timeoutSeconds` has not been changed between releases.

[2022-01-24 22:58] #2652 closed

[2022-01-25 01:41] wpz850398226 commented on #2714
![image](https://user-images.githubusercontent.com/41596989/150894634-621aec09-590f-437b-a649-83d9d6f3ae2b.png)
thanks!Should I add **"value": true** here in additional-spring-configuration-metadata.json?

[2022-01-25 17:33] aravindanr commented on #2263
#2263 fixes this issue.

[2022-01-25 17:33] #2263 closed

[2022-01-25 19:02] aravindanr commented on #2714
The `additional-spring-configuration-metadata.json` is a file that describes configuration properties. Conductor deployments typically have a properties file listing the customizations and features enabled. The value for `conductor.event-queues.sqs.enabled` can be set to `true` there.

[2022-01-27 13:20] astelmashenko opened #2725 "DO_WHILE task is shown as a single box on new UI"
**Describe the bug**
Since new UI is out, it does not show DO_WHILE task list, it is just a single box. Before it was expanded and DO_WHILE task list was shown.

**Details**
Conductor version: 3.4.1
Workflow definition:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. submit workflow definition
2. observe workflow on new UI

**Expected behavior**
LoopTask shows it's internal task list

[2022-01-29 16:49] manan164 commented on #2725
Hi @astelmashenko , I see there is a fix for this. [loop ui](https://github.com/Netflix/conductor/pull/1824). Can you please check whether this is included in 3.4.1 or not?

[2022-01-29 22:02] astelmashenko commented on #2725
@manan164 , nope, if you look at #1824 fix, it is for _old_ UI, it is included into v2.29.0. Now there is new UI implementation without that fix, unfortunately.

[2022-01-31 22:06] peterlau commented on #2725
A implementation of the visualization of DO_WHILE is in the works. @boney9 can provide more details.

[2022-02-01 00:39] boney9 commented on #2725
I'll submit a PR for this by this week. Thanks for pointing this out @peterlau

[2022-02-01 20:06] astelmashenko opened #2740 "Elasticsearch 7 build fails"
**Describe the bug**
I follow elasticsearch7 extension [build steps](https://github.com/Netflix/conductor/tree/main/es7-persistence#build) and it fails to build.

**Details**
Conductor version: 3.4.1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /build.gradle
2. change ext['elasticsearch.version'] from revElasticSearch6 to revElasticSearch7
3. /server/src/main/resources/application.p

[2022-02-02 16:21] pavansharma30 opened #2743 "Build failure with critical vulnerability - CVE-2021-3711"
**Describe the bug**
Build failure with critical vulnerability

**Details**
Conductor version: 3.4.1
Build failure with openssl vulnerabilities : CVE-2021-3711

**To Reproduce**
Steps to reproduce the behavior:
Just build

**Expected

Build should go through

**Screenshots**

critical
openssl
CVE-2021-3711
Fixed in: 1.1.1d-0+deb10u7

[2022-02-02 17:02] james-deee opened #2744 "Build is broken with Bintray"
We are currently unable to build on `master` in Conductor due to Bintray not being available. I think that Jcenter has been deprecated,.

[code]

[2022-02-02 17:44] aravindanr commented on #2744
@james-deee the repo does not have a `master` branch. Are you building in `main` or `2.31`?

[2022-02-02 17:54] james-deee commented on #2744
Whoa boy, my local checkout still has a `master` branch, but that appears to be way out of date! It looks like if i go here: `https://github.com/Netflix/conductor/tree/master` it redirects me to 2.31! So that must be it.

Sorry for the confusion.

[2022-02-02 17:57] james-deee commented on #2744
Actually @aravindanr Does this mean that `2.31` is broken? I know that y'all said it wont be supported, but at the very least `2.31` needs to be able to build. What's needed to get that to work?

[2022-02-02 18:18] james-deee commented on #2744
Man, nevermind. I think I just am on a really old version by using `master`. My cloned copy must be super old. Sorry about that! It looks like 2.31 is building fine now.

[2022-02-02 18:18] #2744 closed

[2022-02-06 17:16] Germs31 opened #2753 "Docker-compose build failing"
HI my build keeps failing and im not totally sure why. Im very new to this. forgive my noobiness. From what i read this was already corrected but im still getting this error.

` => ERROR [conductor:ui 2/6] RUN apk update && apk add --no-cache python3 py3-pip make g++

[2022-02-07 14:14] octoshikari opened #2755 "[BUG] Use switch in fork task"
### Discussed in https://github.com/Netflix/conductor/discussions/2754

<div type='discussions-op-text'>

<sup>Originally posted by **octoalex** February  7, 2022</sup>
I see multiple execution for switch task when i use them inside FORK task.
Also same behaviour with DO_WHILE inside switch - for first iteration it execute task from parallel fork line

![image](https://user-images.githubuserconten

[2022-02-07 20:31] ZergRushJoe opened #2758 "[BUG] fork join will never finish on when switch default path is invoked"
**Describe the bug**
A clear and concise description of what the bug is.

**Details**
Conductor version: 3.4.1
Persistence implementation: Postgres
Queue implementation: Postgres
Lock: Zookeeper?
Workflow definition:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. create a workflow that has a fork join with a switch statement that has default path
2. run the workflow

**Expected behavi

[2022-02-07 22:57] apanicker-nflx commented on #2740
I believe you may be missing the second part of the steps detailed [here](https://github.com/Netflix/conductor/tree/main/es7-persistence#build) starting from

This is because `./gradlew build -x test --stacktrace` builds all modules and `test-harness` is one of the modules that would be built as part of this command. Since this module depends on `es6-persistence` the build would fail with the abov

[2022-02-07 22:58] jxu-nflx commented on #2753
Hello @Germs31 I just followed the exact steps and didn't encounter any issues. What is the exact error messages you get for that step?

[2022-02-07 23:03] apanicker-nflx commented on #2743
Build passes in v3.4.1
Can you provide a stack trace for the failure that you observe?

[2022-02-07 23:05] aravindanr commented on #2758
The outer join task (`app-creation-complete`) is waiting on the inner join task (`ingress_creation_task_join`) to complete. Since the workflow did not take the "true" path, the inner join does not complete which prevents the outer join from completion effectively stalling the workflow.

In this case, you may want to try the _un-intuitively_ named [EXCLUSIVE_JOIN](https://netflix.github.io/conducto

[2022-02-07 23:22] aravindanr opened #2759 "[FEATURE]: Rename EXCLUSIVE_JOIN to a more intuitive name"
Please read our [contributor guide](https://github.com/Netflix/conductor/blob/main/CONTRIBUTING.md) before creating an issue.
Also consider discussing your idea on the [discussion forum](https://github.com/Netflix/conductor/discussions) first.

## Describe the Feature Request
The name _EXCLUSIVE_JOIN_ does not do justice to the work that this task does. _EXCLUSIVE_JOIN_ sounds like a specialized v

[2022-02-08 13:01] ZergRushJoe commented on #2758
@aravindanr would be a good idea to create some docs for this. I can go about making a pull request

[2022-02-08 13:25] #2758 closed

[2022-02-08 13:29] ZergRushJoe commented on #2759
#2758 As I was confused by this. It maybe a good idea to have some examples with the each system task of the use cases that show images of the workflow.
Current state:
![image](https://user-images.githubusercontent.com/7153267/152996599-ccf1f91a-5f42-467f-9a49-5e3d222b582f.png)
I could put together some prs for improving the docs

[2022-02-08 13:45] ZergRushJoe commented on #2627
@jxu-nflx sorry for the wait. I copied the workflow I have above with the same result
here is the copy from conductor itself:
[code]

[2022-02-08 13:46] #2627 closed

[2022-02-08 13:46] ZergRushJoe commented on #2627
I have closed this because I have found another way of doing what I needed

[2022-02-08 14:34] astelmashenko commented on #2740
It fails even after I apply all steps including ```test-harness``` steps. Build fails even if I exclude ```test-harness``` from ```settings.gradle```. To build it successfully I did following:

- comment ```//include 'es6-persistence'``` in settings.gradle
- comment ```//include 'test-harness'``` in settings.gradle
- change ```server/build.gradle```
[code]

after these additional steps I was able

[2022-02-08 15:46] Germs31 commented on #2753
@jxu-nflx  😓  It was being blocked. its fixed now. Thank you!!!

[2022-02-08 15:46] #2753 closed

[2022-02-08 17:38] manan164 commented on #2368
Hi @evgvain , Is it possible for you to share the workflow definition json? Please remove all confidential info. Also what is the frequency this behavior occurs? Like out of X executions it is appearing Y times.

[2022-02-08 19:12] aravindanr commented on #2759
@ZergRushJoe Please do. Appreciate the help. the docs need some love.

[2022-02-08 19:25] pavansharma30 commented on #2743
Hi Anoop, Thanks for reply
Here is the stack trace for failure

[PRISMACLOUD] Scanning images remotely on mvn-agent-0008pqui8e67m
[PRISMACLOUD] Waiting for scanner to complete
[PRISMACLOUD] <docker_address>
0220120224540 --docker-address unix:///var/run/docker.sock --ci --publish --details --address http://<internal_url> --ci-results-file prisma-cloud-scan-results.json
[onductor_upgrade-conductor-

[2022-02-09 05:18] manan164 commented on #2368
Thanks, @evgvain, I will check and update.

[2022-02-10 00:09] #2616 closed

[2022-02-10 01:37] trivedishalini opened #2766 "APPLICATION FAILED TO START due to ExecutionLockService using Redis sentinel"
Hi all,

I am trying to enable conductor **3.x distributed locking** implementation using **Redis sentinel** with below **configuration**:

conductor.app.workflowExecutionLockEnabled=true
conductor.redis-lock.namespace=conductor
conductor.workflow-execution-lock.type=redis
conductor.app.lockLeaseTime=60000ms
conductor.redis-lock.serverType=SENTINEL
conductor.redis-lock.serverMasterName=mymaster
co

[2022-02-10 01:40] trivedishalini commented on #2766
Here is more error log #
01:00:23.198 [main] WARN  org.springframework.boot.web.servlet.context.AnnotationConfigServletWebServerApplicationContext - Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'adminResource' defined in URL [jar:file:/app/libs/conductor-server-3.1.0

[2022-02-10 10:04] leissen opened #2768 "[QUESTION]: Does dynamic fork support subworkflow?"

[2022-02-11 20:25] trivedishalini commented on #2766
Issue resolved after upgrading conductor 3.4.1 version.

[2022-02-11 20:25] #2766 closed

[2022-02-11 21:41] marcocrasso opened #2770 "JS arrays in INLINE_TASK are converted into objects by Nashorn"
**Describe the bug**
I am trying to fill a JSON array `dynamicTasksJSON` of a FORK_JOIN_DYNAMIC task, using an IN_LINE_TASK. However the array of tasks is converted onto an object. This can be reproduced for any array in general.

The next task definition:
[code]
Produces:
[code]
The expected result was:
[code]

**Details**
Conductor version: [main](https://github.com/Netflix/conductor/commit/16c6

[2022-02-12 00:35] dcore94 commented on #2770
I don't know whether you can consider this a bug... it's an infortunate behaviour of nashorn. You have to cast the Array to Java arraylist. I usually do smth like "return {tasks: Java.to(tasks, 'java.util.Map[]')" when having to return Arrays of objects. Replace with java.lang.string or the type you need.
I was hoping that inline with javascript was not nashorn any longer btw...🙄

[2022-02-14 02:01] UDragon-CK opened #2773 "Found bug where the workflow status is maintained as RUNNING."
Hi

netflix conductor build version: 2.31
db: mysql 8.x

Workflow is over, but it's status still running.
It was useless to add Terminate Task at the end.
Terminate Task document url: https://netflix.github.io/conductor/configuration/systask/#Terminate%20Task
(Terminate Task)

Is there any solution?
I need help.

![screencapture-nrp-workflow-ui-coupang-net-2022-02-14-10_42_17](https://user-images.

[2022-02-14 13:52] marcocrasso commented on #2770
You are right is not a Conductor issue, is a dependency limitation. I am closing the ticket.  BTW your suggestion seems to work for me, and now I can feed DYN_FORK with a the of output of an INLINE task. Thank you

[2022-02-14 13:52] #2770 closed

[2022-02-14 22:20] jxu-nflx commented on #2773
Hello @UDragon-CK Do you have lock enabled for the workflow exeuction in your property file? As by default, it is disabled, and that could cause the risk condition for issues like what you saw.

BTW, we no longer support 2.31, and users are encouraged to migrate to 3.x

https://github.com/Netflix/conductor/discussions/2734

[2022-02-14 22:31] apanicker-nflx commented on #2740
Yes, you would need to remove(or comment out) the es6-persistence modules in your gradle files. Please note that the steps state that the modules need to be changed from es6 to es7. Both the modules cannot co-exist.

I think we can improve the documentation here to make this more explicit. Apologies if this was confusing to you.

[2022-02-14 22:31] apanicker-nflx commented on #2740
Closing this issue for now since the build was successful, we will update the documentation to better reflect the steps in this process.

[2022-02-14 22:31] #2740 closed

[2022-02-14 22:47] apanicker-nflx commented on #2743
This looks like it could be coming from the docker container that you are running the scan on which seems to be using an older version of openssl.

[2022-02-15 02:23] UDragon-CK commented on #2773
@jxu-nflx
workflow.decider.locking.enabled
I didn't set this property.

very tired

I think the workflow status status status is being managed by ElasticSearch But I don't think it's synchronized.
Does it have anything to do with mysql?

[2022-02-16 05:30] UDragon-CK commented on #2773
@jxu-nflx  ~hi
I solved it by creating a scheduler in the next ui area that changes the nodejs-based RUNNING state to COMPLETED.
I'll show you the source code, too. I hope we can be of help each other.
There's only one file, and the js file itself doesn't go up, so I'll compress it into zip.

I used two api to solve the problem.
 - /api/wfe/bulk/pause
 - /api/wfe/bulk/resume

[nrpWorkflowStatusUpd

[2022-02-16 05:41] wangguohui0726 opened #2775 "build error in tag 3.5.2"
**Describe the bug**
download tar.gz in tag 3.5.2,
and when i builded it ,it's failed.

**Details**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. go to this url https://github.com/Netflix/conductor/releases/tag/v3.5.2
2. click here to download
<img width="431" alt="image" src="https://user-images.githubusercontent.com/33613004/154202801-020669ca-0024-4768-a544-91ccda271f16.png">
3.

[2022-02-16 05:54] wangguohui0726 commented on #2775
and when i use 'git clone https://github.com/Netflix/conductor.git' to get code, have no error like above

[2022-02-17 06:39] wpz850398226 opened #2777 "[QUESTION]: How to know about the workflow's running status?"
Please do not create issues for questions. Use the [discussion forum](https://github.com/Netflix/conductor/discussions) instead!
When I start a new workflow,it returns only ID.I don't know whether workflow ran successfully or not.If it ran failed or stoped at a wait task,I can only know which node is failing or stoped by constant polling,do I?Is there other ways for workflow to actively push messa

[2022-02-18 09:52] AntoineAutoretouch commented on #1851
I do have a very similar issue with forked tasks being canceled before hitting their max retries / timeoutSeconds.
An update on this issue would be great!
<img width="1165" alt="Screenshot 2022-02-18 at 10 50 11" src="https://user-images.githubusercontent.com/98022685/154659263-f9136458-17d9-43e7-a4cf-fe1c8067d08a.png">

[2022-02-21 19:37] trivedishalini opened #2779 "conductor version # 3.4.1 and getting below critical Vulnerability issue"
**Describe the bug**
I am using conductor version # 3.4.1 and getting below critical Vulnerability issue .

Is there any other conductor version which has resolution of these issue ??

**Details**
Conductor version: 3.4.1

<img width="812" alt="image" src="https://user-images.githubusercontent.com/92401531/155016454-37590ba2-de9d-4799-84c1-4821e5f42265.png">

[2022-02-22 05:55] v1r3n commented on #2777
Currently, the only way to get this by polling for the status since the workflows can be long running.
You can setup a failure workflow that will get started if the workflow fails or times out if that is the use case.

[2022-02-22 06:03] wpz850398226 commented on #2777
ok, I got it, thank you very much!

[2022-02-22 08:24] manan164 commented on #2418
Hi @shriram-apps , I have changed the workflow definition a little bit. Here is what I am trying and I found it is working.
{
    "createTime": 1644342705547,
    "name": "query_hub_proxy_batch_subflow",
    "version": 4,
    "tasks": [
        {
            "name": "comp_loop_loop",
            "taskReferenceName": "comp_loop_loop",
            "type": "DO_WHILE",
            "decisionCases": {},

[2022-02-22 10:28] duoertai commented on #2705
@aravindanr @apanicker-nflx  sry, been stuck in some other things and just got started on it. Just want to check if I understand this issue correctly, to publish events upon workflow completion/termination to internal conductor queues, we could just create another implementation of WorkflowStatusListener, right?

[2022-02-22 11:13] duoertai commented on #2705
@aravindanr @apanicker-nflx here the conductor internal queue refers to event queue, right? With publisher to event queue upon workflow status change, we could use an event handler to trigger things like starting a workflow. But I didn't find an event queue provider for the internal event queue, only AMQP/Dyno/NATS/SQS, maybe I misunderstand something here, could you help explain how it works?

[2022-02-22 16:31] Kristin0 commented on #405
@lucas-pinheiro-ipremios hey, we need your help :(

[2022-02-22 16:31] Kristin0 commented on #405
@jansonz @dskarataev did you find the solution?

[2022-02-22 18:39] Kristin0 commented on #405
@v1r3n do i need to specify it? i just have a
[code]

[2022-02-22 18:52] v1r3n commented on #405
You will need `availabilityZone` property that matches with the connection string for redis cluster `conductor.redis.hosts`.

The connection string for redis will be of the for `host:post:availability_zone` and the availability_zone part should match with the `availabilityZone` property.

[2022-02-22 18:58] Kristin0 commented on #405
and what if i have 3 zones ?

[2022-02-22 19:01] v1r3n commented on #405
`availabilityZone` property is used for sharding across multiple zones when using Dynomite.  If you have multiple  zones, you can just pick one and set that as the `availabilityZone` property for all the deployment.  This property is meaningful only when using Dynomite, where all the connections are zone aware and we use it as a proxy to create the shards for queues.

For the redis cluster, you ca

[2022-02-23 14:41] Kristin0 commented on #405
yes it helps, thanks !! @v1r3n

[2022-02-23 22:41] apanicker-nflx commented on #1851
@AntoineAutoretouch Could you please provide responses to the following to help us reproduce this issue:

1. What persistence layer are you using?
2. Is indexing enabled?
3. What execution lock implementation are you using?

[2022-02-23 23:00] apanicker-nflx commented on #2777
Please check out the section about [Workflow Notifications](https://netflix.github.io/conductor/configuration/workflowdef/#workflow-notifications) in the documentation. You can extend the notification interface to publish an event to a system of your choice.

[2022-02-23 23:45] aravindanr commented on #2705
The internal queue is managed by [ConductorEventQueueProvider](https://github.com/Netflix/conductor/blob/main/core/src/main/java/com/netflix/conductor/core/events/queue/ConductorEventQueueProvider.java) and [ConductorObservableQueue](https://github.com/Netflix/conductor/blob/main/core/src/main/java/com/netflix/conductor/core/events/queue/ConductorObservableQueue.java). The `ConductorObservableQueu

[2022-02-24 00:05] aravindanr commented on #2779
The latest version 3.5.2 uses `4.1.65.Final`, from the attached screenshot, that may not address your issue. If you are using a custom build of Conductor, you can override the version in the corresponding build.gradle file. If not, our releases include frequent dependency updates. You should get the desired version in one of the upcoming releases.

[2022-02-24 00:08] aravindanr commented on #2775
@wangguohui0726 Its hard to troubleshoot IDE issues as they are very specific to the machine. In the tag `3.5.2`, if you can run the `gradlew clean build`, then the release is good.

[2022-02-24 06:36] manan164 commented on #2368
Hi @evgvain , I am able to reproduce this locally.
Few observations while locking disabled,
1. This occurs when there is a large number of iterations.
2. No relation with the execution store. Have seen this occurs even in-memory store.
I will try with locking enabled and update the thread.

[2022-02-24 08:53] AntoineAutoretouch commented on #1851
conductor.db.type=redis_standalone

Yes

I guess zookeeper, but to be sure, I pasted the config.properties we are using

`
# Servers.
conductor.grpc-server.enabled=false

# Database persistence model.
conductor.db.type=redis_standalone

# Dynomite Cluster details.
# format is host:port:rack:password separated by semicolon
# rack is ignored but DON'T CHANGE! THIS WILL BREAK STUFF
conductor.redis.ho

[2022-02-24 11:47] yanghaogn commented on #1232
but it says "To run it you need to have [Node](https://nodejs.org/) 14 (or greater) and [Yarn](https://yarnpkg.com/) installed."

https://netflix.github.io/conductor/architecture/

[2022-02-24 23:29] trivedishalini commented on #2779
We decided  not to go with custom build of conductor .And waiting for future conductor release with resolution of high vulnerability issue as well .

Thanks for update

[2022-02-25 20:15] Kristin0 opened #2786 "conductor's workflows work slowly after inititating a workflow"
usually workflows take about minute to complete, but now it takes about an hour to complete, i checked the logs from conductor, seems elasticache has troubles to create an indexes . example is workflowid `b3c1aa93-05a9-42bf-b16b-b8872c434d5d`

[code]

[2022-02-25 20:16] Kristin0 commented on #2786
@v1r3n

[2022-02-27 14:17] manan164 commented on #2786
Hi @Kristin0 , Can you please check your elastic search health. It may be yellow. If required please delete unused worklfows. This command will help you to delete all the indexes.  ```curl -X DELETE 'http://localhost:9200/_all'```
Be cautious, It will delete everything.

[2022-02-27 15:03] Kristin0 commented on #2786
Hi @manan164 i configured conductor to use elasticsearch with yellow color and i configured elastic to delete indexes every 3 hour, i have thoughts about elasticache

[2022-02-28 07:22] wpz850398226 opened #2790 "[QUESTION]: Can conductor be registered to the registry such as Zookeeper、Console or Alibaba NACOS?"
Hello, I'm having some trouble,please help me, thank you
    The main one introduction about Conductor I saw on Github was "Conductor is a microservices orchestration engine", as far as I know,microservices are all need to be registered to the registry,Calls between microservices are called by service names rather than directly from IP addresses.
    Can conductor service be registered to the regi

[2022-02-28 09:46] wpz850398226 opened #2793 "[QUESTION]: I can't deploy the conductor v3.4.0"
My environment:
IDE:IntelliJ IDEA Ultimate 2020.3
JDK:11.0.13
Conductor:3.4.0
Gradle 6.8.3

[2022-02-28 09:47] wpz850398226 commented on #2793
![image](https://user-images.githubusercontent.com/41596989/155961341-bdc32165-a20f-4edf-9135-884811e076ca.png)
First time:deploy without any change

[2022-02-28 09:49] wpz850398226 commented on #2793
![image](https://user-images.githubusercontent.com/41596989/155961651-dde83466-e7cc-4b3a-8d40-34fece996a86.png)
Second time:deploy after change "option.release = 8" to "option.release = 11"

[2022-02-28 09:52] wpz850398226 commented on #2793
![image](https://user-images.githubusercontent.com/41596989/155962224-45c3423c-719c-490e-8a59-217457a1b476.png)

My gradle setting

[2022-02-28 10:24] manan164 commented on #2786
Hi @Kristin0 , Looks like the connectivity issue between the conductor server and elasticsearch. Can you please let us know the infra used? Like where is ES hosted and conductor server hosting? Are they in the same shared VPC or different etc?

[2022-02-28 14:34] Kristin0 commented on #2786
yeah, it was network issue, so we can close. thanks a lot !

[2022-02-28 14:34] #2786 closed

[2022-02-28 16:07] v1r3n commented on #2793
Can you try from the command line?  It seems your JVM is 1.8, conductor needs JDK 11+.

[2022-02-28 22:14] apanicker-nflx commented on #1232
@yanghaogn The original issue applies to v2.x of conductor which used gulp.
The newer versions (v3.3.+) does not use gulp and the documentation has been updated to reflect that.

[2022-02-28 22:30] #2650 closed

[2022-02-28 22:49] aravindanr commented on #2775
The issue is reproducible. The `nebula-release` plugin used by Conductor requires a Git repo, see error below. Github automatically zips up the code with every release (we can't find a way to disable that). We suggest that you checkout the tag from repo directly.

[2022-02-28 22:51] jxu-nflx commented on #2773
Hello @UDragon-CK I am not sure I follow your solutions there. To clarify, you are using Elasticsearch as indexing server and mysql as the persistent storage, and you are not using locks, right?
my suggestion would be to enable locks so you don't end up in any inconsistent states, and if you supect there is lag/sync errors with Elasticsearch, then maybe look into that as well. As the UI is just us

[2022-02-28 23:09] aravindanr commented on #2779
The next version 3.5.3 should have these dependencies upgraded. I expect the release to happen the latest by next week.

[2022-03-01 07:01] manan164 commented on #2368
Hi @evgvain , I have checked it. This is a synchronization issue. With [redis-locking,](https://github.com/Netflix/conductor/blob/main/CHANGELOG.md#redis-lock-module) this behavior does not occur. Please enabled locking.

[2022-03-01 07:45] evgvain commented on #2368
Thanks @manan164 !

[2022-03-01 08:15] yanghaogn commented on #671
what is the url?

[2022-03-01 08:56] wpz850398226 opened #2800 "3.4.0 build.gradle-"options.release = 8" is wrong"
![image](https://user-images.githubusercontent.com/41596989/156136626-8a1dbc5b-9080-4cbf-910d-7a82cadd448b.png)
options.release should be 11,otherwise it will report "invalid mark : -release"

[2022-03-03 17:53] manan164 commented on #2368
Hi @evgvain, I am able to debug the issue with local_lock also. Will submit the fix in a few days.

[2022-03-05 19:05] manan164 commented on #1677
Hi @Priyank0711 , Yes it is possible. Please check @elisherer 's comment, https://github.com/Netflix/conductor/issues/1677#issuecomment-675687392

[2022-03-07 01:55] andyyumiao opened #2817 "what is the reason for such a large memory usage as the amount of data grows?"
**Describe the bug**
We have 55745 workflows and 310,000 tasks, and now the jvm heap memory reached 5g, and as the workflow grows, the conductor use more and more memory. To be clear, at the time I write this question, all our current workflows have been completed, there are no running workflows。
So, what is the reason for such a large memory usage as the amount of data grows?

**Details**
Conduct

[2022-03-07 22:14] apanicker-nflx commented on #671
@yanghaogn This is a screenshot from the old UI, the new UI does not have a RUNNING tab, rather you can search by RUNNING status on the Executions page and click into the result. ![image](https://user-images.githubusercontent.com/34087882/157126706-c69ee8c6-bd0d-47e7-9f95-4f505357cad7.png)

[2022-03-07 22:17] apanicker-nflx commented on #2800
These are libraries that are intended to be pulled into user applications. Compiling these into java8 bytecode allows upgrading the conductor server to java11 while maintaining compatibility with user applications that may be using java8.

[2022-03-07 22:17] #2800 closed

[2022-03-07 22:32] aravindanr commented on #2817
Link #2792

[2022-03-07 22:45] aravindanr commented on #2817
@andyyumiao We don't think this is a bug in Conductor. JVM memory usage is dependent on settings used with the JVM is run. We have upwards of 700K workflows in RUNNING state for weeks at a time and our JVM memory usage is around 3GB.

![image](https://user-images.githubusercontent.com/1028385/157130554-385daf60-6b2a-421e-b7cf-0cff35dbb59b.png)
![image](https://user-images.githubusercontent.com/102

[2022-03-07 23:04] apanicker-nflx commented on #1851
Thanks for providing your configuration. We will try to reproduce this issue and get back to you.

[2022-03-08 12:35] yanghaogn commented on #671
Thanks for your reply

[2022-03-09 05:50] CherishSantoshi commented on #2706
Added [2832](https://github.com/Netflix/conductor/pull/2832) @aravindanr

[2022-03-10 11:15] manan164 commented on #2817
Hi @andyyumiao , Please tell us more about the infra setup. Which type of instances are being used so that we can reproduce this at our end. Ideally, if there are no running workflows then memory usage should be very less.

[2022-03-10 14:17] andyyumiao commented on #2817
@manan164 @aravindanr thanks for the reply, I'll close the question first and look for other factors that may cause memory usage

[2022-03-10 14:17] #2817 closed

[2022-03-13 08:28] #2779 closed

[2022-03-14 23:12] #2712 closed

[2022-03-17 11:40] elvisols opened #2859 "DynamicProperty class missing when creating bean with taskRunnerConfigurer"
**DynamicProperty class not found**
Having issues starting up my taskRunnerConfigurer as found in `spring-client`.

**Error thrown**
`Error creating bean with name 'taskRunnerConfigurer' defined in class path resource [ng[/exelon/nibss/namenquiryinbound/config/ConductorClientConfig.class]()]: Invocation of init method failed; nested exception is java.lang.NoClassDefFoundError: com[/netflix/config/

[2022-03-17 15:55] elvisols commented on #2859
I searched and added this dependency
`implementation 'com.netflix.archaius:archaius-core:0.7.7` but I am now getting the following exceptions:

[code]
Any assistance will be highly appreciated.

[2022-03-19 00:10] #2459 closed

[2022-03-19 00:10] #1117 closed

[2022-03-21 20:39] #2775 closed

[2022-03-21 21:30] jxu-nflx commented on #2859
@elvisols The `archaius-core` is a transitive dependency brought in by `eureka-client`, can you do an dependency insight to check all the depenencies?

For the other error, I saw this in your stack trace
[code]
Can you check your config as well as your worker's task def to see whether anything wrong there?

[2022-03-22 07:28] sp1986sp commented on #2606
Hi,
I want to take this up will share the PR soon

Thanks,
Shishir

[2022-03-23 09:06] 1179406576 commented on #505
I have the same problem

[2022-03-23 14:10] NoahLerner commented on #1097
Hey @mudit3774  were you ever able to get more than one consumer per host? We're having serious performance issues with starting workflows with events (in our case, AMQP). We're only getting throughput of 3-5/s for events like you, whereas sending a POST request maxes out at around 60-70/s. This is very disappointing; we expected for event based workflow starts to be faster than HTTP.

Maybe we're

[2022-03-24 15:31] jkaipa commented on #2759
When I introduced this System Task, I have reviewing several names and felt that Exclusive_Join makes better sense wrt the way the exclusive output is produced to the join.

I will prepare some examples and better documentation soon.

[2022-03-24 19:02] sukruthiarjula opened #2875 "Conductor UI - Search with workflowType , Status not returning any results."
### Discussed in https://github.com/Netflix/conductor/discussions/2871

<div type='discussions-op-text'>

<sup>Originally posted by **sukruthiarjula** March 23, 2022</sup>
We are upgrading to v3.6.0 with ES7 , build is successful and while testing in Conductor UI search with workflowType and Status not returning any result. Search with workflowId is working fine. May I know what would be the reaso

[2022-03-25 16:00] marcocrasso opened #2877 "Conductor UI - Task Logs tab doesn't scroll down, pagination buttons are unreachable"
**Describe the bug**
When task logs are more than those that fit in the browser window, the UI doesn't scroll down and the user cannot access the pagination buttons.

**Details**
Conductor version: [main](https://github.com/Netflix/conductor/commit/a0e731432ab90798de14fa4257712ff8ea25e73b) branch (at the moment of writing this)
Persistence implementation: Elasticsearch v6 and v7
Queue implementati

[2022-03-25 17:36] peterlau commented on #2877
Thanks for the bug report. This has been reproduced and will be patched in the next minor release. (eta next week)

[2022-03-29 22:18] AliakseiBuhakou opened #2884 "Is it possible to check empty input values and change them with default within the ${} expression?"
### Discussed in https://github.com/Netflix/conductor/discussions/2878

<div type='discussions-op-text'>

<sup>Originally posted by **AliakseiBuhakou** March 28, 2022</sup>
Hello. Could you please guide me with following question.
There is an workflow example.
`{
			"name": "task1",
			"taskReferenceName": "task1",
			"inputParameters": {
				"http_request": {
					"uri": "some_uri",
					"method"

[2022-03-30 18:29] manan164 commented on #2875
Hi @sukruthiarjula , Can you please check whether this [property ](https://github.com/Netflix/conductor/blob/main/server/src/main/resources/application.properties#L19)is enabled or not?

[2022-03-30 20:23] sukruthiarjula commented on #2875
Yes the property is enabled conductor.indexing.enabled=true

[2022-03-30 21:20] apanicker-nflx commented on #505
Event task is a synchronous system task which does not get "scheduled" within a queue which I believe could be a contributing factor in this issue. We could take a look into this but it is not a high priority issue.
We would appreciate a contribution if that helps unblock your usecase.

[2022-03-30 21:44] jxu-nflx commented on #2884
Duplicate in thread: https://github.com/Netflix/conductor/discussions/2878 So close this one

[2022-03-30 21:44] #2884 closed

[2022-03-31 09:05] manan164 commented on #2875
Hi @sukruthiarjula , If that is enabled then the only possibility is indexing calls may be failing. Can you please check and share logs?

[2022-03-31 15:58] sukruthiarjula commented on #2875
I don't see any errors in the logs, just the below log.

conductor-auth      | 172.18.0.1 - superglue [24/Mar/2022:17:30:54 +0000] "GET /api/workflow/search?start=0&size=15&sort=startTime%3ADESC&freeText=%2A&query=status%20IN%20%28COMPLETED%29 HTTP/1.1" 200 61 "http://localhost/?status=COMPLETED" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.74

[2022-03-31 17:46] james-deee opened #2889 "Property names with hyphen (-) cannot be overriden via Env Vars"
**Describe the bug**
Most of the properties in Conductor can be overridden using Environment Variables. This is great for when you are deploying into Kubernetes for example. So that you can change all things this way instead of overriding things in a hard-coded properties file.

Unfortunately, in V3 some properties are now using `-` in the property names. This doesn't work in Linux/Bash, and they

[2022-03-31 17:53] james-deee commented on #2889
Oh! Someone in the Slack channel pointed out that Springboot will actually figure it out for you and you can exclude the dashes.

https://github.com/spring-projects/spring-boot/wiki/Relaxed-Binding-2.0#simple-types

[2022-03-31 17:53] #2889 closed

[2022-04-01 00:13] #2755 closed

[2022-04-01 00:13] #2708 closed

[2022-04-01 16:47] fthankac opened #2893 "Tasks saving in DAO"
**Describe the bug**
During schedule task (Method Name : scheduleTask) in WorkflowExecutor (core/src/main/java/com/netflix/conductor/core/execution/WorkflowExecutor.java) line number 1718 doesn't return the taskmodel after saving the tasks in the DAO.

executionDAOFacade.createTasks(tasks);

Previously it used to return only saved tasks. The saved tasks are used for further processing.

Now the in

[2022-04-01 20:43] sukruthiarjula commented on #2875
@maheshyaddanapudi Can you help me out if you can replicate this issue on your side, I tried with 3.x with ES6 & 7. I get the same issue, search with workflowType is not returning no records and also search with status.

[2022-04-02 19:25] maheshyaddanapudi commented on #2875
Hi @sukruthiarjula

Please help with the error you see on screen. If no error appears and the page just goes blank? I suspect the API calls are either not returning data or the JSON format changed and may be page is not about to render (which should not be the case).

Please pass along the properties file you are using as well, I will spin up the setup in my local and debug and get back to you.

[2022-04-03 13:31] erikbrgr commented on #2875
Have you tried just appending `/api/workflow/search?start=0&size=15&sort=startTime%3ADESC&freeText=%2A&query=status%20IN%20%28COMPLETED%29` to the Conductor UI url? Like, when on localhost: http://localhost:5000/api/workflow/search?start=0&size=15&sort=startTime%3ADESC&freeText=%2A&query=status%20IN%20%28COMPLETED%29

What does that return? I expect something like:
![image](https://user-images.git

[2022-04-03 13:43] erikbrgr commented on #2875
@sukruthiarjula I left some comments on the original discussion #2871. We probably want to continue the discussion, here, in the issue, but I thought I'd mention it, just in case :)

[2022-04-04 16:00] sukruthiarjula commented on #2875
@erikbrgr Thanks for your response

This is my UI screen, I have two workflows in the COMPLETED Status.
![image](https://user-images.githubusercontent.com/72470104/161584206-4331b28a-1b9c-4525-949a-51d3e5bfed99.png)

The result by appending /api/workflow/search?start=0&size=15&sort=startTime%3ADESC&freeText=%2A&query=status%20IN%20%28COMPLETED%29 to the URL is below

{
"totalHits": 0,
"results": [

[2022-04-04 17:32] apanicker-nflx commented on #2893
Responed in #2888

[2022-04-04 17:32] #2893 closed

[2022-04-05 11:29] shofstee opened #2896 "Credentials elasticsearch are ignored in es6 configuration"
**Describe the bug**
According to the documentatie you can configure the username and password for the elasticsearch configuration. You can do this by setting conductor.elasticsearch.username and conductor.elasticsearch.password. This works if you're using the elasticsearch 7 configuration, but not when using the elasticsearch 6 configuration

**Details**
Conductor version: 3.6.1 (build from the m

[2022-04-05 17:50] devinderpal opened #2899 "External payload storage is not reducing the workflow & task size"
**Describe the bug**
I recently migrated from 2.x version and bumped into this bug on 3.6 (and even in the main branch). I had to implement a workaround to make this functionality work for our product.

When the payload size crosses the threshold value, the affected task and workflow input/output data are uploaded successfully to the S3 bucket. But when the object is converted to JSON to store in

[2022-04-06 05:46] manan164 commented on #2896
Hi @shofstee , Fell free to raise the PR to fix this. Thanks.

[2022-04-06 15:30] sukruthiarjula commented on #2875
Workflows are executing  properly with v3.6.1/ES6, the only issue is  **search with workflowType and also with Status returning no results in Conductor UI. The search with workflowId is working fine.**

As v3.x doesn't support embedded Elastic Search I have been running Elastic search locally, is that the issue with mappings??

[2022-04-06 17:55] apanicker-nflx commented on #2896
Fixed in #2900

[2022-04-06 17:55] #2896 closed

[2022-04-06 17:57] apanicker-nflx commented on #2896
@shofstee Please add your company name to the users list - #2706

[2022-04-07 11:00] astelmashenko opened #2903 "Postgresql Eventing is not working"
**Describe the bug**
Startup issue, connection is closed and after that queues stop working.

**Details**
Conductor version: 3.4.1
Persistence implementation: Postgres 11.12 on AWS
Queue implementation: Postgres
Lock: Redis

**To Reproduce**
Steps to reproduce the behavior:
1. Start Conductor server
2. See error in logs

**Expected behavior**
Startup without issues

**Additional context**
[code]

[2022-04-07 12:06] minhas270 opened #2904 "HTTP error response format has change in latest version (3.4.2)"
**Describe the bug**

After migrated from 2.x version to 3.4.2 there is HTTP error response has been changed, when we request result, there is no proper error response object in workflow.getOutput. Before in 2.x version we get proper map object(Follow the below Example) and now we get String response.

This was old version response(2.x)
`{
	response = {
		headers = {
			date = [Thu, 31 Mar 2022 08

[2022-04-11 13:40] ProjectFrank opened #2913 "[DOC]: Dead link for installing and running conductor in production"
## What are you missing in the docs
<img width="731" alt="image" src="https://user-images.githubusercontent.com/8015872/162751794-48b1a38c-ca40-4d74-8e52-7521800826b7.png">

The above link on the [architecture page](https://netflix.github.io/conductor/architecture/) is dead and leads to a 404 page. Looking through the docs files, it's not clear whether the source for this page actually exists.

##

[2022-04-11 21:32] apanicker-nflx commented on #2903
@rickfish @mactaggart Can you please help look into this? Thanks

[2022-04-11 21:44] apanicker-nflx commented on #2904
Looking at the code in [v2.31](https://github.com/Netflix/conductor/blob/2.31/contribs/src/main/java/com/netflix/conductor/contribs/http/HttpTask.java#L143) the exception was converted to string and added to response object in the task output. This is similar to the code in v3.x now as seen in the link you posted above. Please let me know if i missed something.

[2022-04-11 21:49] apanicker-nflx commented on #2913
Thanks for bringing this to our attention. We are currently working on improving our documentation and will update this section soon.

[2022-04-11 22:01] rickfish commented on #2903
Sorry, I am no longer at my customer that used Postgres.

[2022-04-11 22:54] aravindanr commented on #2899
@devinderpal Thanks for reporting this. We are working on a fix. It should be out in the next version.

[2022-04-11 23:08] devinderpal commented on #2899
Great!

Sent from my iPhone

[2022-04-12 12:03] Deeksha4 commented on #1937
Hello @mdepak , @apanicker-nflx ,
We have a similar use case where in we require rollover for elastic search. Was this issue merged? or is roll over policy for workflow,task indexes configurable through some other property?

[2022-04-12 17:24] peterlau commented on #2877
Fixed in 3.7.1

[2022-04-12 17:24] #2877 closed

[2022-04-12 19:44] astelmashenko commented on #2903
Additional details: it happens only while we are doing rollout update (blue-green deployment). If we stop and then start application it starts without issues.
What we are playing with right now is graceful shutdown checks. And settings like
[code]
also please check link https://docs.spring.io/spring-boot/docs/current/reference/html/deployment.html#deployment.cloud.kubernetes.container-lifecycle
th

[2022-04-13 10:17] minhas270 commented on #2904
Yes exception code is still same but httpCall method code has been updated in [v3.x](https://github.com/Netflix/conductor/blob/5baca8d5c95d72b787f06e4e4e6baeb915ab0d8f/contribs/src/main/java/com/netflix/conductor/contribs/tasks/http/HttpTask.java#L168) and [v2.31](https://github.com/Netflix/conductor/blob/2.31/contribs/src/main/java/com/netflix/conductor/contribs/http/HttpTask.java#L153)

So when

[2022-04-14 01:16] aravindanr commented on #2899
v3.7.2 contains the fix.

[2022-04-14 01:16] #2899 closed

[2022-04-15 17:39] rickfish opened #2925 "Latest build fails on JDK 17 with 'No such property' error"
Trying to build the latest release (3.7.2) on JDK 17.0.2 fails with this exception:

ex
groovy.lang.MissingPropertyException: No such property: count for class: com.github.jengelman.gradle.plugins.shadow.transformers.ServiceFileTransformer

Using JDK 11 the build works fine.

[2022-04-18 08:45] amirpopovich opened #2926 "Unexpected null reference exception while trying to fetch the taskModel from executionDAOFacade"
**Describe the bug**

In method `TaskModel getTaskModel(String taskId)` within class _ExecutionDAOFacade_, if the call to `getTaskFromDatastore(taskId)` returns null, an unhandled exception will be thrown on the next line, when a call to `populateTaskData(TaskModel taskModel)` is made.

**Details**
Conductor version: 3.6.1
Persistence implementation: Dynomite
Queue implementation: Dynoqueues
Lock:

[2022-04-18 10:14] amirpopovich opened #2927 "AMQP ack failed when an event task is executed and not consumed, while the workflow is terminated"
**Describe the bug**

**File**: Event Task (core\src\main\java\com\netflix\conductor\core\execution\tasks\Event.java).

**Issue**: The `start` method creates a `Message` object using `task.getTaskId()` as the receipt property.
The value of `task.getTaskId()` is a _UUID_ represented as _String_.
When the task's `cancel` method is called, it tries to ack the message, probably in order to avoid the c

[2022-04-18 21:03] aravindanr commented on #2925
Thanks for bringing this up. The build is not verified on JDK 17. We don't have any immediate plans to verify and support it.

[2022-04-18 21:45] apanicker-nflx commented on #2904
Can you please share the exception thrown by the restTemplate.exchange method to help with debugging this issue? From the [implementation](So when we debug([v3.x]) and the exception throws error from "[restTemplate.exchange](https://github.com/Netflix/conductor/blob/5baca8d5c95d72b787f06e4e4e6baeb915ab0d8f/contribs/src/main/java/com/netflix/conductor/contribs/tasks/http/HttpTask.java#L168)" and th

[2022-04-19 06:17] Sujay008 opened #2930 "Memory in Kubernetes pod is not getting released"
**Describe the bug**
JVM Memory consumed (In a kubernetes pod) is not getting released.

**Details**
Conductor version: 2.30.3
Persistence implementation: Postgres
Queue implementation: Postgres
Workflow definition: N/A
Task definition: N/A
Event handler definition: N/A

Steps to reproduce the behavior:

**Expected behavior**
We are using Conductor version 2.30.3 and running conductor in a k8s con

[2022-04-19 11:10] amirpopovich commented on #2927
After looking into the issue, I think that the problem is with the ack call on the task's cancel method.
My guess is that the ack call was made to avoid consumption of the event when the task is terminated.

There are two problems in terms of _AMQP_ (specifically, _RabbitMQ_):

1. The message's delivery tag is managed by the channel and cannot be set externally.
Additionally, the delivery tag is n

[2022-04-20 04:23] bfrggit opened #2935 "`HttpTaskTest` still has `OutOfMemoryError`"
**Describe the bug**
`com.netflix.conductor.contribs.tasks.http.HttpTaskTest` was empty and annotated with `@Ignore` in `v3.4.2`, but got re-enabled starting `v.3.5.0` until latest `v3.7.2`. However, this test still causes `OutOfMemoryError` when running `./gradlew clean build`.

Reference:
- v3.4.2: https://github.com/Netflix/conductor/blob/v3.4.2/contribs/src/test/java/com/netflix/conductor/cont

[2022-04-20 04:28] bfrggit commented on #2935
Another observation is that, when this error happens, the build process gets stuck instead of getting killed, resulting in memory-consuming `java` process running in background even if I use `Ctrl` + `C` to stop Gradle.

[2022-04-20 15:21] dcore94 opened #2937 "[QUESTION]: Unable to update pollTimeoutSeconds and timeoutPolicy"
Both from UI and REST API I cannot alter timeoutPolicy and pollTimeoutSeconds on tasks (in 3.7.x). Workflow is update and version increased and also some other fields (like tasknames) are updated. But those timeout related fields no.
Any hints?

[2022-04-21 12:48] npk1994 opened #2939 "[DOC]: vipAddress in Httptask list"
Greetings everyone.
We are looking for proper documentation on usage of vipAddress in https tasks.

We have Kuberenetes setup where conductor-server is running as a pod along with our application services. We are trying to use the service name for the discovery and want to provide the name in vipAddress(if possible) instead of providing the complete uri endpoints.

Really appreciate your response.

[2022-04-22 05:48] #2926 closed

[2022-04-22 08:26] jegadjame opened #2942 "UI Workflow Executions Grid not loading"
Hi ,
I am using node-v16.14.2-x64 , jdk11, conductor-server-3.3.4-boot and downloaded latest code. When i trigger workflow, I am not seeing any data in Workflow Executions Grid. But records are getting processed. I can see data in Task Queue.

Please let me know if anything i am missing.

![image](https://user-images.githubusercontent.com/5119603/164649237-3edf6120-e427-47d2-b8b9-5cf209765501.png)

[2022-04-25 07:13] npk1994 commented on #2939
Hi Team,
 We are looking for any examples on how to use this vipAddress.

[2022-04-25 21:18] jxu-nflx commented on #2942
Hello @jegadjame when that page load, it will try to call this api `/workflow/search?start=0&size=15&sort=startTime:DESC&freeText=*&query=`. Can you try run that API directly to see whether you are getting any response back? Also, the workflow execution search requires ES for indexing, do you have that enabled?

[2022-04-25 21:28] apanicker-nflx commented on #2937
I was able to update the pollTimeoutSeconds and timeoutPolicy from the API however, the changes made on the UI did not take effect. We will look into fixing this soon.

[2022-04-25 21:33] jxu-nflx commented on #2939
Hello @npk1994, when use `vipAddress`, the domain part can be left out in the `URI` field. See [this](https://github.com/Netflix/conductor/blob/main/core/src/test/resources/completed.json#L516) for an example.

[2022-04-25 22:00] jxu-nflx commented on #2935
Hello @bfrggit the contribs tests are excluded from our build pipeline: https://github.com/Netflix/conductor/blob/main/.github/workflows/ci.yml#L45 And we are going to move the contribs module out to a seperate repo soon. For now, please just ignore the tests locally.

[2022-04-25 22:10] jxu-nflx commented on #2930
Hello @Sujay008 workflows are loaded into memory when it is being evaluated and should be released once that's done. You might want to check the status of your workflow to understand what's going on there, is the workflow progressing? 4 parallel execution of workflows take up 1G of memory is crazy, do you have very large payload in your workflow?

[2022-04-26 00:14] #2368 closed

[2022-04-26 13:25] manishkushwaha1412 commented on #2942
I am also facing this issue, tried calling API it seems API itself is not returning response. I tried it through swagger by same input provided in the browser network tab.
Through UI - http://localhost:5000/api/workflow/search?start=0&size=15&sort=startTime%3ADESC&freeText=%2A&query=
Through Swagger - http://localhost:8080/api/workflow/search?start=0&size=100
swagger search i did open without any

[2022-04-27 12:32] jegadjame commented on #2942
I am not getting any response
{
  "totalHits": 0,
  "results": []
}

[2022-04-27 16:43] bfrggit commented on #2935
Okay. Thanks for the info.

[2022-04-27 16:43] #2935 closed

[2022-04-29 19:33] originswift-sys commented on #649
Bump. Any updates on this?

[2022-04-29 21:40] apanicker-nflx commented on #649
This ability was added to the UI in [v3.6.0](https://github.com/Netflix/conductor/releases/tag/v3.6.0)

[2022-05-02 20:49] aravindanr commented on #2942
Related to #2959

[2022-05-02 20:53] jxu-nflx commented on #2942
@jegadjame Can you check your config to make sure the es index is enabled: https://github.com/Netflix/conductor/blob/main/server/src/main/resources/application.properties#L19 Also if you are running it locally, please make sure you have the ES docker container up running as well

[2022-05-05 03:50] ladenjet opened #2967 "[QUESTION]: how to update workflow parameter value with a task output?"
I have such requirements:
1.  at the start of the workflow, I need to  put some common parameters (such as journal number, current timestamp, etc) into workflow parameters.  These workflow parameters should be generated by program fraction,  not from input.

2. Maybe some workflow parameter should be updated by some tasks in some cases .

Can somebody please help to tell me how to make above happe

[2022-05-05 04:51] manan164 commented on #2967
Hi @ladenjet ,
For 1. The workflow input can be in the form JSON and that JSON can be dynamic. So we can add dynamic attributes.
For 2. Since tasks are updating these params we can have task output to generate these params and all subsequent tasks can use these params.

[2022-05-05 06:04] ladenjet commented on #2967
Thanks for your reply.
But my point is :
1. how to add workflow parameters by program, not by input?
2. how to update workflow parameter value by a task?

[2022-05-05 06:20] ladenjet opened #2969 "[QUESTION]: How tasks rollback for workflow failure?"
Please do not create issues for questions. Use the [discussion forum](https://github.com/Netflix/conductor/discussions) instead!
In my opinion, task definition fields should at least add the following two additional properties:
1. rollback policy, indicating whether rollback service should be executed when wokflow rollbacks for some reason.
3. rollback service, indicating the service name (usually

[2022-05-05 07:10] dcore94 commented on #2967
You could use set_variable task for this. Instead of setting workflow inputs you set workflow.variables and then access it in future steps.

https://netflix.github.io/conductor/reference-docs/set-variable-task/

[2022-05-05 08:47] ladenjet commented on #2967
Thanks.  I have read it.
 but take the following task definition for example,
the task set the value 'Orkes' directily to key 'name',  but in most cases, value should be generated by program, not from definition.
I mean, how to compose the variable set logic program....
[code]

[2022-05-05 08:50] dcore94 commented on #2967
{
      "name": "Set_Name",
      "taskReferenceName": "Set_Name",
      "type": "SET_VARIABLE",
      "inputParameters": {
        "name": "${othertask.output.mycomputedparam}"
      }
    }

[2022-05-05 09:37] ladenjet commented on #2967
Thank you all.

[2022-05-05 09:37] #2967 closed

[2022-05-07 12:54] rickfish opened #2975 "docker-compose up fails on Mac M1: no matching manifest for linux/arm64/v8 in the manifest list entries"
**Describe the bug**
On a Mac M1 (Apple chip), docker-compose build runs fine with this message at the beginning of the build:

elasticsearch uses an image, skipping

then when I try docker-compose up I get the following error:

➜  docker git:(main) ✗ docker-compose up
Pulling elasticsearch (elasticsearch:6.8.15)...
6.8.15: Pulling from library/elasticsearch
ERROR: no matching manifest for linux/a

[2022-05-08 17:01] gardusig opened #2977 "[UI] Blank Screen: `Uncaught TypeError: workflowDef.tasks is not iterable`"
**Describe the bug**
Blank screen when attempting to create a `Workflow Definition` after creating a `Task Definition`.

**Details**
Conductor version: latest (`main` branch).
Simple setup with `./gradlew bootRun` and `yarn run start`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `http://localhost:5001`
1. Click on `Definitions`
1. Click on `Tasks`
1. Click on `+ New Task Definition

[2022-05-08 17:02] gardusig commented on #2977
Console output:
[code]

[2022-05-09 10:09] giacomomagini commented on #1958
@imaffe Did you find the way to reach 100ms for 1k executions per second? Do you also have some numbers when using more than one machine?

@aravindanr Can you share any number about overhead when running Conductor at different scales like for 1k, 10k, 100k execution per seconds?
The workflow I'm talking about would be 25 tasks split across 5 levels ( e.g. 5 in parallel -> 5 in parallel -> 5 in par

[2022-05-09 21:41] apanicker-nflx commented on #2975
@rickfish Looks like docker supported elasticsearch images for M1 mac are only available from v7.10.2
Additionally, the only supported OS/Arch for 6.8.15 is linux/amd64.

Looks like the options are -
1. You would need to build the ES image yourself and run the container using this image
2. Run ES locally outside of docker

[2022-05-09 21:55] jxu-nflx commented on #2977
@peterlau could you take a look at this when you got a chance?

[2022-05-09 22:30] rickfish commented on #2975
Oh, ok. thanks for looking into it.

[2022-05-11 15:33] dongminglei commented on #2930
Can you provide the image and yam?  thank you

[2022-05-12 15:14] meilinkm opened #2984 "conductor-ui: Error from chokidar: Error: ENOSPC: System limit for number of file watchers reached"
When running conductor-ui, many errors from chokidar can be observed, indicating that the system limit for number of file watchers has been reached, for example:

`# docker logs d52333e094fa
yarn run v1.22.17
$ react-scripts start
[HPM] Proxy created: /  -> http://conductor-server:8080
ℹ ｢wds｣: Project is running at http://172.25.0.5/
ℹ ｢wds｣: webpack output is served from
ℹ ｢wds｣: Content not fro

[2022-05-12 17:48] LemonDevv opened #2985 "Go client package out of date"
I am using the go client in my worker. I followed the instructions on how to get this client.

`go get github.com/netflix/conductor/client/go`

When I tried to use it I was getting a 404 due to it trying to call an ack end point that doesn't exist. A little bit of research shows that the actual code base in git for the go client has changed but the package has not been updated resulting in my work

[2022-05-12 19:53] peterlau commented on #2977
Reproduced. Fix in progress.

[2022-05-12 21:37] #2977 closed

[2022-05-13 00:16] #2859 closed

[2022-05-13 21:24] meilinkm opened #2988 "Can't run Conductor with Postgres: Application failed to start"
**Describe the bug**
When I run the following command to deploy Conductor with Postgres:
  docker-compose -f docker-compose.yaml -f docker-compose-postgres.yaml up
As described on https://conductor.netflix.com/architecture.html, I get the following messages:

conductor-server_1  | 18335 [main] INFO  org.apache.catalina.core.StandardService [] - Stopping service [Tomcat]
conductor-server_1  | 18442

[2022-05-16 11:25] manishkushwaha1412 commented on #2942
@jxu-nflx in below file, do you want to change false to true and give it a try ? when i did that I started getting some another exception. Server is getting started but UI is not able to call service exposed to 8080 port.
https://github.com/Netflix/conductor/blob/main/server/src/main/resources/application.properties#L19

[2022-05-16 21:36] apanicker-nflx commented on #2985
@LemonDevv Please use the go client from https://github.com/conductor-sdk/conductor-go instead. This golang client and sdk is actively maintained and we will be deprecating the client published from polyglot-clients.

[2022-05-16 21:36] #2985 closed

[2022-05-16 21:48] jxu-nflx commented on #2942
@manishkushwaha1412 if you don't have that config set to true, then basically means your UI search function will be broken, i.e. you couldn't search any workflow executions in UI.

What is the error you are seeing? Are you able to call any server api at all?

[2022-05-17 20:08] peterlau commented on #2984
Unfortunately, this is a side effect of the `react-scripts` dev server which watches all files for changes including those in  `node_modules`, and affects all use cases of `create-react-app`. See https://github.com/facebook/create-react-app/issues/7612

Unless you're developing the UI actively, you can run the built assets rather than using the dev server.  (assuming the backend is already running

[2022-05-17 20:10] peterlau commented on #2913
Should be fixed with docsite update.

[2022-05-17 20:11] #2913 closed

[2022-05-18 04:51] 9769776073 opened #2991 "Not able to connect cassandra BD in netflix conductor-v3.8.0"
Source Code : https://github.com/Netflix/conductor/tree/v3.8.0

Default set up is running with Redis in memory DB.

I want to connect cassandra DB running in my local-system. I have done some application.properties change
**conductor.db.type=cassandra**

After that I am able to connect local cassandra BD , please check below screen-shot :
![image](https://user-images.githubusercontent.com/10576826

[2022-05-23 03:15] cesar-moya opened #2997 "[DOC]: Get the list of AdHoc workflows"
## What are you missing in the docs
How can I build a search that gives me the list of AdHoc workflows (this is, all workflow executions that do not have a workflowDef registered on the system)

## Proposed text
To add such search query in the docs for future reference

[2022-05-23 11:42] jayashree5591 opened #3000 "getting 5502 [main] ERROR org.springframework.boot.diagnostics.LoggingFailureAnalysisReporter [] error when bringing up server using docker"
### Discussed in https://github.com/Netflix/conductor/discussions/2999

<div type='discussions-op-text'>

<sup>Originally posted by **jayashree5591** May 23, 2022</sup>
I am getting below error when bringing up netflix server using docker

root@ilab_runner_centos8:[/opt/conductor/docker]: docker-compose ps
NAME                        COMMAND                  SERVICE             STATUS

[2022-05-23 21:25] edoang commented on #2942
Hi @jxu-nflx , today i've cloned the latest release.
docker-compose build and docker-compose up.
i have the same behaviour, elastic is up on localhost 9200.

docker/server/config/config.properties  :

conductor.indexing.enabled=true
conductor.elasticsearch.url=http://es:9200

can you help me find the problem?

[2022-05-23 21:47] apanicker-nflx commented on #2991
The cassandra persistence layer does not provide an implementation of the queueing layer (QueueDAO). All other DAO implementations are provided however.

You would need to wire up another queue dao implementation (Redis,Postgres,MySQL etc) or roll your own custom queue implementation if you choose to.

[2022-05-23 21:47] #2991 closed

[2022-05-24 13:03] astelmashenko commented on #2641
I'm getting the same error. Can not render timeline, here are details.
Error log:
[conductor-wf.log](https://github.com/Netflix/conductor/files/8762862/conductor-wf.log)
WF json:
[conductor-wf-json.log](https://github.com/Netflix/conductor/files/8762874/conductor-wf-json.log)

[2022-05-24 14:53] evgvain commented on #2641
I guess this is because of loop in workflow

[2022-05-25 16:56] kushalhalder commented on #1640
@apanicker-nflx Hey, is there any solution to the above issue in the new versions?

[2022-05-25 17:52] supriya-mallikarjuna commented on #184
After creating my own task / workflow metadata and starting the workflow, I only see the workflow in the "All" tab of the UI and not the "Running".

[2022-05-26 10:53] edoang commented on #2942
@jxu-nflx oh so simple :) thank you very much!

[2022-05-26 11:56] supriya-mallikarjuna commented on #2175
@sudouser777  conductor UI not showing the workflows which are running

[2022-05-28 14:32] michael-rivera-florencehc-com opened #3012 "Unable to build locally: Error during build"
**Describe the bug**
Using the conductor documentation, and trying to run this in a docker container.
I have an M1 processor.
When going through the documented steps, https://conductor.netflix.com/gettingstarted/docker.html, and running docker-compose up, I get the following error:
ERROR: no matching manifest for linux/arm64/v8 in the manifest list entries

I then figured, I had to make changes fo

[2022-05-29 00:15] #2875 closed

[2022-05-30 07:19] manishkushwaha1412 commented on #3012
Even I am facing the same issue, cloned latest conductor code and while build its giving me error.

[2022-05-30 07:21] manishkushwaha1412 commented on #2942
@jxu-nflx
I am not able to build it locally even through docker-compose as well. Its giving.

[2022-05-31 14:51] LemonDevv opened #3016 "PostgreSql database"
I have set up my conductor-server to make use of the Postgres db type.

Both an instance of postgres and conductor-server are deployed to k8s. However on the start-up of the conductor-server i am getting the below errors:

`Parameter 2 of constructor in com.netflix.conductor.core.execution.DeciderService required a bean of type 'com.netflix.conductor.dao.MetadataDAO' that could not be found.`

`or

[2022-05-31 17:04] LemonDevv commented on #3016
Can close this. Found out I have to pull dependencies from the conductor-communjty for postgres. Bit weird as in the statement of their readme it says that conductor server pulls in the dependencies.

[2022-05-31 17:05] #3016 closed

[2022-05-31 22:07] jxu-nflx commented on #2942
what is the docker-compose command you use? And what is the error message?

[2022-05-31 22:08] jxu-nflx commented on #3012
It is an known issue with M1: https://github.com/Netflix/conductor/issues/2975

[2022-05-31 22:43] rickfish commented on #2975
@amimimor that's great. Thanks. I will try it on my machine later this week.

[2022-05-31 22:54] aravindanr commented on #2725
DO_WHILE task visualization is available in 3.8.1 and greater..

[2022-05-31 22:54] #2725 closed

[2022-05-31 22:56] #2427 closed

[2022-06-01 07:56] amimimor commented on #2975
@rickfish thanks, but admittedly, I haven't yet managed to boot the entire docker-compose setup on my M1. I now have issues with conductor-ui missing a binary. Sometimes gradle is hanging, etc. It is quite an awful experience. Hopefully I'll manage to workaround this and then create a PR

[2022-06-01 14:55] astelmashenko opened #3022 "A lot of error logs "TaskId: <ID> could not be found while executing HTTP""
**Describe the bug**
Just seeing a lot of errors. Conductor works.

**Details Updated**
Conductor version: 3.13.6
Persistence implementation: Postgres
Lock: Redis

[code]

[2022-06-02 16:04] mhdiiilham opened #3026 "Docker Conductor UI: "## There is an issue with `node-fibers` ##""
**Describe the bug**
Hi, I currently trying Netflix Conductor using the `docker-compose.yaml`. When I ran `docker compos up`, the service conductor-ui_1 sent these logs

<img width="1192" alt="image" src="https://user-images.githubusercontent.com/54275113/171673714-308dd9e6-c0da-42b3-9d89-1878cb9c87d8.png">

**Details**
I run it on Mac M1

**To Reproduce**
Steps to reproduce the behavior:
1. git c

[2022-06-03 00:25] saingsocheat opened #3027 "[FEATURE]:"
Please read our [contributor guide](https://github.com/Netflix/conductor/blob/main/CONTRIBUTING.md) before creating an issue.
Also consider discussing your idea on the [discussion forum](https://github.com/Netflix/conductor/discussions) first.

## Describe the Feature Request
_A clear and concise description of what the feature request is._

## Describe Preferred Solution
_A clear and concise desc

[2022-06-04 13:14] kartaa commented on #2277
No we have not worked on a solution for this issue.

[2022-06-06 16:23] manan164 commented on #3022
hI @astelmashenko ,  Which type of executionDAO are you using? Looks like it is in an unstable state. Can you clean up and restart the conductor again?

[2022-06-06 16:24] manan164 commented on #3027
Hi @saingsocheat , Looks like you forgot to add a description for the feature request.

[2022-06-06 21:08] jxu-nflx commented on #3026
Hello @mhdiiilham This is a known issue, please also check this thread: https://github.com/Netflix/conductor/issues/2975. Feel free to submit a PR after you figure it out.

[2022-06-06 21:11] jxu-nflx commented on #3026
@peterlau Could you help to take a look at this?

[2022-06-06 21:22] aravindanr commented on #3022
@astelmashenko this error is printed because a HTTP task was posted to the queue with its task id. But when the executor of that HTTP task polled and started executing it, the task is not found in the persistence store. This could be a race condition. For production use-cases, it is necessary to have a lock implementation. Please consider using one.

[2022-06-07 01:43] BrandonDotLin opened #3033 "[DOC]: migration from conductor 2.x"
## What are you missing in the docs
Is conductor 3.x compitable with 2.x?
any guide for existing user of 2.x to upgrade to 3.x?
## Proposed text

[2022-06-07 07:44] astelmashenko commented on #3022
Thanks guys, I've looked through source code and found out it was due to we did not have lock service. We are in process of adding lock service support. I'm closing this issue.

[2022-06-08 05:05] trivedishalini opened #3037 "Conductor not able to acquire lock on redis for distributed locking"
**Describe the bug**
Occurs only when due to some reason cluster restarted. Below error noticed whenever cluster restarted

ERROR com.netflix.conductor.locking.redis.RedisLock  - Failed to acquireLock for lockId: f19a832a
org.redisson.client.RedisException: ERR Error running script (call to f_dad): @user_script:1: @user_script: 1: -READONLY You can't write against a read only replica.. channel: [i

[2022-06-08 21:45] trivedishalini commented on #3037
@v1r3n

1. actually this issue is during performance testing. So when cluster restarted, 50% of workflows not working due to this RedisLock issue . May be out of 10 workflow 3-4 working fine but rest giving this issue.

2. For now temporary  resolution is , every time we need to restart all redis pod whenever cluster got restarted .

3.  As we are using Conductor : 2.30.3 version below are the det

[2022-06-09 17:04] LemonDevv opened #3039 "Bug in the post endpoint for updating a task /api/task"
I've got conductor + dynomite deployed into k8s.

I've got the task being executed in my workflow but when it comes to update the task through the following endpoint:

[POST] task-resource
/api/tasks

 i am getting the following error:

`{
    "status": 500,
    "code": null,
    "message": "INTERNAL_ERROR - Content type 'application/json;charset=UTF-8' not supported",
    "instance": "conductorse

[2022-06-09 17:55] CherishSantoshi commented on #3039
@manan164 @v1r3n @boney9

[2022-06-09 19:28] manan164 commented on #3039
Hi @LemonDevv , Looks like the wrong JSON is being passed. Some extra characters are being passed. Can you please share the complete curl command that is being invoked? Mask the URLs and other sensitive information.

[2022-06-10 09:26] LemonDevv commented on #3039
Hi @manan164

Thanks for getting back to me quickly.

Below is the cURL command.

`curl --location --request POST 'https://someurl.com/conductorserver/api/tasks' \
--header 'Content-Type: application/json' \
--data-raw '{
    "workflowInstanceId": "9ffbcbbf-e90d-4102-beab-988b03db330d",
    "taskId": "b7efc718-a8ba-40e8-9e5f-4dcbcc05ca7b",
    "reasonForIncompletion" : "",
    "callbackAfterSecond

[2022-06-10 13:19] manan164 commented on #3039
HI @LemonDevv , Can you please try via conductor swagger? I just tried and it worked.
![image](https://user-images.githubusercontent.com/1897158/173073025-01284147-7970-4013-a49d-0fc7f5d9f5c6.png)

[2022-06-10 13:27] LemonDevv commented on #3039
Hi @manan164

I have tried through the conductor swagger API, postman and through the client. They all give the same issue.

![image](https://user-images.githubusercontent.com/65916409/173075333-85421c4a-a5e0-44c7-8325-be7ecf95b6a9.png)

Could this be a problem with how it's deployed? I notice you have it running on your localhost.

[2022-06-10 13:59] manan164 commented on #3039
Hi @LemonDevv , It should not be a conductor deployment issue. This is the highest used api in the conductor. Can you please try setting up locally? Or I think some garbage characters are being passed in body. Try creating body by manually typing.

[2022-06-10 14:54] LemonDevv commented on #3039
Hi @manan164

I have run this locally as well and i'm having the same problem. I manually typed in the body and had the same result.

![image](https://user-images.githubusercontent.com/65916409/173092665-f28d49e1-0f4e-45af-894b-1efc870d12e8.png)

[2022-06-10 15:29] LemonDevv commented on #3039
@manan164

config map for k8s for the storage

`apiVersion: v1
kind: ConfigMap
metadata:
  name: server-storage-config
data:
  config.properties: |
    # Servers.
    conductor.grpc-server.enabled=false

    # Database persistence type.
    conductor.db.type=dynomite

    # Dynomite Cluster details.
    # format is host:port:rack separated by semicolon
    conductor.redis.hosts=instance.main.svc.c