[2022-06-10 15:32] LemonDevv commented on #3039
@manan164

application.properties:

[code]

[2022-06-10 16:25] LemonDevv commented on #3039
@manan164

I have found the issue -

I had added in addCorsMappings to the RestConfiguration.java so that i could do testing locally of a UI i had loaded the swagger spec into. I removed the cors mapping and now i can hit the endpoint successfully.

I don't know why that would cause an issue to that endpoint. Would you know why?

[2022-06-10 16:29] manan164 commented on #3039
Hi @LemonDevv Awesome, I think adding corsMapping is adding a header for content-type to be charset. But yeah thanks for solving this.  Just to double-check try invoking other apis, if they all give the same error then there is an issue in mapping.

[2022-06-10 16:33] LemonDevv commented on #3039
@manan164  The other APIs worked fine. I could create tasks,workflows etc. Dont know what was the issue with this API. Maybe one for you guys to look into. I can close this now. Thanks.

[2022-06-10 16:52] #3039 closed

[2022-06-10 21:11] aravindanr commented on #3037
@trivedishalini side note: v2.30.3 is no longer supported. It's recommended to migrate to the latest 3.x version.

[2022-06-13 18:57] trivedishalini commented on #3037
@aravindanr , Yes , we already moved to 3.x but still having one customer on 2.x .

[2022-06-13 18:58] trivedishalini commented on #3037
Thanks @manan164  for suggestion . I will update here once I tried these.

[2022-06-15 20:51] #2984 closed

[2022-06-15 23:17] dougsillars opened #3048 "terminateReason in TERMINATE task only accepts string values."
**Describe the bug**
In the TERMINATE task, the `terminateReason` input parameter only accepts a string.  For example:

"terminateReason" :"Oh No! the workflow terminated!"

However, if you attempt to pass in a variable:

"terminateReason" :"${get_error_message.output.result}"

The failure workflow does not receiev the variable value - it receives the string "${get_error_message.output.result}"

*

[2022-06-16 07:06] shyamsundarsekhar opened #3051 "[FEATURE]: Netflix Conductor support for JDK 17"
Please read our [contributor guide](https://github.com/Netflix/conductor/blob/main/CONTRIBUTING.md) before creating an issue.
Also consider discussing your idea on the [discussion forum](https://github.com/Netflix/conductor/discussions) first.

## Describe the Feature Request
Currently, Netflix Conductor supports JDK 11. Feature request to support JDK 17.

## Describe Preferred Solution
Compatibil

[2022-06-17 18:52] ZergRushJoe commented on #3016
@LemonDevv what did you have to do, I having the same error on 3.8.3 but not on 3.5

[2022-06-17 19:09] LemonDevv commented on #3016
@ZergRushJoe

You have to add the below for 3.8.3 to the build dependencies. You get it maven repository

`
runtimeOnly group: 'com.netflix.conductor', name: 'conductor-postgres-persistence', version: '3.8.3'  `

[2022-06-18 00:15] #2927 closed

[2022-06-22 13:56] ZergRushJoe opened #3057 "Docker Server build seems to boot 2 conductor instances in container"
**Describe the bug**
![image](https://user-images.githubusercontent.com/7153267/175044116-7ad2fc3a-89af-4513-bfd9-d504f12774ab.png)
seems on latest 3.9.0-rc it seems to start 2 times in the dockerfile. we upgraded from 3.5.3 before we started see this. We were using postgres and es6 before we moved to the newer version. Also found a oddity that clusterName has to be set for redis sentinel and gets

[2022-06-22 14:32] ZergRushJoe commented on #3057
Additional findings, I have revered back to 3.5.3 and still have the same problem. I looking into my configuration to see what could be causing it.

[2022-06-22 14:40] CherishSantoshi commented on #3057
@v1r3n @boney9 FYI

[2022-06-22 15:06] ZergRushJoe commented on #3057
I found my issue with the double start. in my deployment I took from another thread I found the bootstrapping sh along with the cmd in dockerfile was cause it to do run it 2 times
![image](https://user-images.githubusercontent.com/7153267/175064080-a1aecc79-3fc1-4158-a20d-a79497dafbd0.png)

[2022-06-22 15:06] #3057 closed

[2022-06-23 18:31] fscorro commented on #2904
I have something similar with the new release (v.3.9.0). The response from the API is:

`2022-06-23 15:14:43.497 - INFO 81375 ----- [nio-8078-exec-9] ar.com.plug.util.filter.LoggingFilter    : {
  "method" : "GET",
  "path" : "/accounts-api/accounts/routings/schema/label",
  "status" : 417,
  "inDate" : 1656008083409,
  "outDate" : 1656008083491,
  "headers" : "[accept:application/json][content-ty

[2022-06-24 00:14] #2939 closed

[2022-06-24 19:38] ZergRushJoe commented on #2627
@korolkevich7 seem to be fixed in 3.7 of conductor

[2022-06-25 17:10] v1r3n commented on #3051
The current blocker to move on to JDK 17 is the use of Nashorn javascript runtime that was removed post JDK 11 releases.  We are currently looking to replace that with an alternative Javascript engine which should enable the path to JDK 17.

[2022-06-27 14:31] AvitalOfstein opened #3068 "[FEATURE]: Add support for OpenTelemetry"
Please read our [contributor guide](https://github.com/Netflix/conductor/blob/main/CONTRIBUTING.md) before creating an issue.
Also consider discussing your idea on the [discussion forum](https://github.com/Netflix/conductor/discussions) first.

## Describe the Feature Request
Integrate OpenTelemetry with Conductor in order to improve observability

## Describe Preferred Solution
Support injection

[2022-06-27 18:52] ZergRushJoe opened #3069 "Optional task not retrying"
**Describe the bug**
based on this https://github.com/Netflix/conductor/issues/1060, retrying on optional tasks was added to conductor. This could have been only added to conductor 2.* and not 3.*.

**Details**
Conductor version :3.7.3
Persistence implementation: Postgres
Queue implementation: Postgres
Workflow definition:
[code]
Task definition:
[code]
Event handler definition:

**To Reproduce**

[2022-06-28 10:26] shyamsundarsekhar commented on #3051
@v1r3n  Thank you for the response. Do you have a tentative ETA based on the roadmap on when Conductor would start supporting JDK 17.

[2022-06-28 20:08] v1r3n commented on #3051
We are expecting to work on this in Q3 of this year.

[2022-06-29 05:02] shyamsundarsekhar commented on #3051
Thanks @v1r3n  Looking forward to the snapshot with support for JDK 17 in Q3 2022.

[2022-06-29 05:02] #3051 closed

[2022-06-30 22:24] flavioschuindt commented on #3037
Note that as per [redis documentation](https://redis.io/docs/manual/replication/#read-only-replica), making a replica writable is strong not recommended:

Therefore, I would put this option out of the game.

What I believe is happening in your case is this:

* You start conductor just fine with redis and everything is working;
    * Note that conductor here just call the k8s service which can forw

[2022-07-03 10:15] mohamedelbalshy commented on #1814
thanks this solved my isssue also

[2022-07-05 06:37] johnico opened #3086 "Could not mange to install conductor via docker-compose on mac"
**Describe the bug**
Could no mange to install conductor via docker on mac
got errors from gradle
just ran step by step the installation guide from the docs

**Details**
Conductor version: 3.10-snapshot
Persistence implementation:
Queue implementation:
Lock:

OS : mac with regular chip (intel)
docker version: docker Desktop Version 4.10.0
Docker Engine
v20.10.8

jdk : 18
java: 18

**To Reproduce**

[2022-07-05 09:28] chinhbk opened #3087 "[FEATURE]: Netflix conductor Task gRPC"
Hi I'm using Netflix conductor server/ui. I know that conductor support for HTTP Task

However, I have different back-end services exposed as gRPC call. How to set up conductor gRPC task that call to external service. Any example to follow

Thanks

[2022-07-05 19:28] akash0996 opened #3089 "Subworkflow completes but main workflow is not starting next task"
<img width="1680" alt="Screen Shot 2022-07-06 at 12 55 35 AM" src="https://user-images.githubusercontent.com/17166547/177401190-77472225-8464-4f54-b4d4-24c677b6e954.png">

<img width="1680" alt="Screen Shot 2022-07-06 at 12 56 14 AM" src="https://user-images.githubusercontent.com/17166547/177401238-325fd60b-1f1f-469b-a026-48cff4c7048d.png">

[2022-07-05 20:00] amimimor opened #3090 "[FEATURE]: Docker build should use OpenJDK base image alternatives"
Please read our [contributor guide](https://github.com/Netflix/conductor/blob/main/CONTRIBUTING.md) before creating an issue.
Also consider discussing your idea on the [discussion forum](https://github.com/Netflix/conductor/discussions) first.

## Describe the Feature Request
Dockerhub official OpenJDK repo is being deprecated and recommends moving to another image (see: [this](https://hub.docker.

[2022-07-05 21:58] jxu-nflx commented on #3089
@akash0996 it would be helpful if you can provide the workflow json, and also check conductor server logs for any errors? I assume the next task is a decision task based on the image provided?

[2022-07-05 21:59] aravindanr commented on #2904
@fscorro The call returns a `417` status code. Its not a successful response and thats why Conductor throws an exception. Am i missing something?

[2022-07-05 22:02] jxu-nflx commented on #3087
Hello @chinhbk HTTP task doesn't support gRPC calls. If you'd like to make gRPC call to a backend service, you can use Simple task, and make that call in the task worker: https://conductor.netflix.com/how-tos/Workers/build-a-java-task-worker.html

[2022-07-05 22:03] aravindanr commented on #2627
Please refer the documentation, https://conductor.netflix.com/reference-docs/inline-task.html. The `evaluatorType` is a required field.

[2022-07-05 22:04] jxu-nflx commented on #3086
Hello @johnico conductor don't support jdk : 18 yet, try install jdk 11 instead

[2022-07-05 22:17] aravindanr commented on #3089
Please also include what persistence, queue and lock implementation is used.

[2022-07-05 22:21] jxu-nflx commented on #3069
Hello @ZergRushJoe in your screenshot image, it is the `dns_create_loop_task` task that failed, which is the task before your optional task (I.e. check_dns_entry_task)

[2022-07-06 05:55] johnico opened #3093 "could not install conductor with postgress persistance option using docker-compose"
I am trying to follow the simple tutorial of netflix conductor but could not run the postgress or any other persistence option

i have got APPLICATION FAILED TO START and can not use the persistance option

conductor 3.9.10  using docker compose
os: mac /windows

`docker-compose -f docker-compose.yaml -f docker-compose-postgres.yaml up`

[code]

[2022-07-06 05:56] johnico commented on #3086
@jxu-nflx  thx its working now

[2022-07-06 05:56] #3086 closed

[2022-07-06 06:13] johnico commented on #3093
if someone encountered this issue the solution is to add

   `runtimeOnly group: 'com.netflix.conductor', name: 'conductor-postgres-persistence', version: '3.9.1'`

    under server/build.gradle

[2022-07-06 06:26] johnico opened #3095 "conducto is failed to load after restarting docker compose with postgress (could not upload workflows)"
I have manages to fixed this issue :
https://github.com/Netflix/conductor/issues/3093.

so now i have postgress working and elastic - but now after restarting the conductor refuse to work
and throw lot of exceptions :

**To Reproduce**
Steps to reproduce the behavior:
 added     runtimeOnly group: 'com.netflix.conductor', name: 'conductor-postgres-persistence', version: '3.9.1' under build.gradle

[2022-07-06 10:57] chinhbk commented on #3087
Thanks @jxu-nflx. Got info

[2022-07-06 10:57] #3087 closed

[2022-07-06 14:11] Prebiusta commented on #3026
I am using *M1 Max* and having the same problem. It is not possible to spin up Conductor UI on new silicon (*arm64*) Mac processor, due to above mentioned error

[2022-07-07 07:48] jayashree5591 commented on #3093
Thank you, this solution is working fine

[2022-07-11 21:10] jxu-nflx commented on #3095
Hello @johnico based on the error log you posted: `Error creating bean with name 'es6IndexRestDAO'. Do you have ES container running?

[2022-07-11 21:28] jxu-nflx commented on #3069
Hello @ZergRushJoe I tried your workflow def, and use the same taskdef for `check_dns_entry_task` as provided above. When attempt 0 of task `check_dns_entry_task` failed, it schedule another attempt for it to be retried.
<img width="1761" alt="Screen Shot 2022-07-11 at 2 27 09 PM" src="https://user-images.githubusercontent.com/90653611/178361507-888873ef-6bbb-4f39-b4fa-8b500a504715.png">

[2022-07-11 21:28] jxu-nflx commented on #3069
It would be helpful for you to provide the full json body of the workflow execution to check what is wrong with your workflow.

[2022-07-11 22:05] meilinkm commented on #3093
I have been unable to get this to work.

Can I please get the complete steps to run in order to use Postgres for Conductor when using docker-compose?

The documentation suggests that it is as simple as running

docker-compose -f docker-compose.yaml -f docker-compose-postgres.yaml up

But that doesn't work. Can the documentation please be updated to include ALL the required steps?

[2022-07-12 10:04] BrandonDotLin opened #3101 "Task exec logs lost when indexing is not enabled"
**Describe the bug**
The workers add logs to the TaskResult returned to conductor server which does NOT enable indexing, then task log api (tasks/{}/log)return nothing!

**Details**
Conductor version:
Persistence implementation: MySQ
Queue implementation:  MySQL
Lock: Zookeeper
Workflow definition:
Task definition:
Event handler definition:

**To Reproduce**
Steps to reproduce the behavior:
1. sta

[2022-07-12 12:56] ZergRushJoe commented on #3069
![image](https://user-images.githubusercontent.com/7153267/178494587-0e36b808-8bca-4cb8-ae06-436f2c8832c1.png)
@jxu-nflx
[code]
[code]

[2022-07-12 12:57] ZergRushJoe commented on #3069
@jxu-nflx I think the error could be in the inline task and loop condition. I will try playing with logic to see if I can get it working

[2022-07-12 13:32] akash0996 commented on #3089
@jxu-nflx I have attached wfs below

Main WF
[code]

Sub WF
[code]

[2022-07-12 14:28] #3069 closed

[2022-07-13 02:26] #3101 closed

[2022-07-13 02:27] BrandonDotLin commented on #3101
Just read the source code, no idea why discard logs but it just works as code saying.

[2022-07-13 06:31] johnico commented on #3095
[code]

yes its trying to up the es from here but there are lot of errors

[2022-07-13 06:32] johnico commented on #3093
@meilinkm  lot of issues for me also

[2022-07-13 08:32] BrandonDotLin opened #3104 "Only one worker showed on UI"
**Describe the bug**
I have four workers that poll task from same TaskType, only one worker show on TaskQueues menu on UI

[2022-07-13 16:51] peterlau commented on #3104
The Task Queues interface does not show the number of workers - only the most recently polling worker for a given task and domain. The verbiage around that page has been updated recently to avoid confusion.

[2022-07-13 19:14] johnico opened #3106 "Cannot retrieve logs written by worker"
**Describe the bug**
Could not manage to view the logs are set by my sample worker

also i tried to post logs via /api/taskid/log (via swagger and code

and then get logs and still got empty array
doe i need to connect a logger or smth ?  did not understand how it works

**Details**
Conductor version: 3.9
Persistence implementation: Postgres without elasticsearch

**To Reproduce**
run a smaple wor

[2022-07-14 00:30] BrandonDotLin commented on #3106
Did you enable indexing in the server? If not, it will always return empty list. To get exec logs properly, indexing (es) should be enabled.

[2022-07-14 00:31] BrandonDotLin commented on #3104
Thanks for your clarification. IMO, showing all current active workers is also helpful.

[2022-07-14 00:31] #3104 closed

[2022-07-14 01:38] BrandonDotLin opened #3107 "TaskId xxxx could not be found while executing SUB_WORKFLOW"
**Describe the bug**
It seems everything works fine, by there always ERROR logs like:
`ERROR com.netflix.conductor.core.execution.AsyncSystemTaskExecutor [] - TaskId: 3c645383-2470-49f6-b023-d55b8b39bf65 could not be found while executing SUB_WORKFLOW`

[2022-07-14 02:35] #3107 closed

[2022-07-14 04:28] johnico commented on #3106
@BrandonDotLin hi how can enable it ?  i disable the elastic now because its cans run with postgres sdue to bug i opened

[2022-07-14 05:24] johnico commented on #3106
@BrandonDotLin   i found this one

https://github.com/Netflix/conductor/pull/2519/commits/1635fbc774af3ee39159d987a873bab1dde6ad8e

but it still not working even with postgres and elastic running

[2022-07-16 17:13] berdugoyohan commented on #1069
Hi, correct this the solution, the read time-out is set to 150 ms.
can found here documentation about the http task
https://conductor.netflix.com/reference-docs/http-task.html

[2022-07-16 17:44] berdugoyohan commented on #1069
@rajanigk
Hi, correct this the solution, the read time-out is set to 150 ms.
can found here documentation about the http task
https://conductor.netflix.com/reference-docs/http-task.html

[2022-07-18 00:47] BrandonDotLin commented on #3089
@jxu-nflx   Can you reproduce this issue or any suggestions to avoid this serious problem?  have not enough time to read through all related codes

[2022-07-18 11:39] hchepey-clari opened #3112 "When trying to run netflix conductor docker with postgres, getting this exception"
docker-conductor-server-1  |
docker-conductor-server-1  | Error starting ApplicationContext. To display the conditions report re-run your application with 'debug' enabled.
docker-conductor-server-1  | 5328 [main] ERROR org.springframework.boot.SpringApplication [] - Application run failed
docker-conductor-server-1  | org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating

[2022-07-18 12:01] JamieSlome opened #3113 "Security concern"
Hello 👋

I run a security community that finds and fixes vulnerabilities in OSS. A researcher (@7h3h4ckv157) has found a potential issue, which I would be eager to share with you.

Could you add a `SECURITY.md` file with an e-mail address for me to send further details to? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) a se

[2022-07-19 01:23] BrandonDotLin commented on #1957
@apanicker-nflx Seems this issue still exits in version 3.8.3。 The join task of dynamic fork stuck in IN-PROGRESS forever, nothing happen by trying call decide api or repair api

[2022-07-19 02:46] BrandonDotLin opened #3115 "[DOC]: How to config isolationgroupId for system task such as JOIN?"
Is it possible to specify an isolation group for JOIN tasks which are system task out of user's control?

[2022-07-19 06:13] hchepey-clari commented on #3112
Moving this bug to conductor-community. Hence closing it here.

[2022-07-19 06:13] #3112 closed

[2022-07-19 14:25] manan164 commented on #3089
Hi @BrandonDotLin , Can you please check if workflow sweeper is running or not? Ideally async system task should be polled every 60 seconds.

[2022-07-19 21:18] jxu-nflx commented on #3106
Hello @johnico Are you running conductor via docker? Can you share the config files? As @BrandonDotLin mentioned, you need to have ES enabled and ES cluster running for logs to work.

[2022-07-19 21:38] jxu-nflx commented on #3095
Can you post the errors?

[2022-07-19 22:05] aravindanr commented on #3113
@JamieSlome Thanks for reaching out, please check, https://github.com/Netflix/conductor/security/policy

[2022-07-19 23:29] BrandonDotLin commented on #3089
Yes, with following config:
[code]

[2022-07-20 07:06] JamieSlome commented on #3113
Thanks, @aravindanr 👍

I've sent further details to the e-mail address :) Just for reference, the report can be found directly here:
https://huntr.dev/bounties/11b70ec2-95ea-4f4a-bc9d-eefd15fbe76e/

It is private and only accessible to maintainers with repository write permissions 👍

[2022-07-20 09:43] qiuguo0205 opened #3119 "how to find the version of current code?"
how to find or set the version of current conductor project when checkout, thanks

[2022-07-20 19:08] matteius opened #3121 "Unable to build conductor server locally due to grpc/build.gradle maven repository 502"
**Describe the bug**
Trying to build conductor server locally with gradle, and grpc/build.gradle references `maven { url "https://dl.bintray.com/chaos-systems/mvn" }` which is getting a 502 bad gateway right now @ https://dl.bintray.com/

**Details**
Conductor version: latest main branch
Persistence implementation: PostgresSQL
Queue implementation: Postgres
Lock: Redis
Workflow definition:
Task de

[2022-07-20 19:48] matteius commented on #3121
I got the conductor engine to build locally using gradle in IntelliJ by making the following changes to the gradle.build:

[code]

[2022-07-21 13:59] chrishyc opened #3125 "[FEATURE]: why we need conductor,not jbpm ,not activiti"
what scenarios are suitable for conductor and why we need conductor not jbpm, not activiti?

[2022-07-22 11:48] michael-rivera-florencehc-com commented on #3012
Reviewing recommendations. I did read through the M1 issues but to no avail. However, I will try a fresh pull and rebuild.

[2022-07-22 16:18] michael-rivera-florencehc-com commented on #3012
I pulled down the latest version and ran through the steps
Instead of using version 18 of the JDK which the documentation suggest it supports I rolled my JDK to version 11.
After I got version 11 installed and setup.
And based on the instructions and changes for M1
I was able to get the Server running

../gradlew bootRun

I then proceeded to the UI steps and got this running as well. So it appears

[2022-07-22 16:19] michael-rivera-florencehc-com commented on #3012
Closing for now but some work should be done to tighten the installation

[2022-07-22 16:19] #3012 closed

[2022-07-23 00:16] #2942 closed

[2022-07-23 00:16] #2930 closed

[2022-07-23 00:16] #2925 closed

[2022-07-23 00:16] #2773 closed

[2022-07-23 00:16] #2743 closed

[2022-07-23 00:16] #2588 closed

[2022-07-23 00:16] #2418 closed

[2022-07-23 00:16] #2252 closed

[2022-07-24 00:18] #2211 closed

[2022-07-24 10:13] LiadDrori commented on #3095
I'm also getting the same errors after restarting the docker-compose
the only way to solve it is by removing the Postgres and elastic volumes

[2022-07-25 13:56] dougsillars opened #3130 "Subworkflow version must be an integer - cannot use a variable"
**Describe the bug**
Subworkflow version cannot be called dynamically, it must be an integer.

This works
[code]

This does not work:
[code]

**Details**
Workflow definition:

See above in description

**To Reproduce**
Create a workflow with a subworkflow. Attempt to use a variable at apply the subworkflow version.  You'll get an error.

**Expected behavior**
Be able to dynamically pick a subworkf

[2022-07-25 20:50] apanicker-nflx commented on #3119
The current version is always updated here - https://github.com/Netflix/conductor#releases

[2022-07-25 20:50] #3119 closed

[2022-07-25 21:18] jxu-nflx commented on #3115
Hello @BrandonDotLin Join task is a sync system task, so it won't support isolationgroupId

[2022-07-25 21:21] jxu-nflx commented on #3121
Hello @matteius thanks for reporting this! Could you send a PR with the fix of replacing the maven repo from `https://dl.bintray.com/chaos-systems/mvn` to `https://mvnrepository.com/artifact`? Thanks

[2022-07-26 02:16] bimal10 commented on #3130
Just a small correction , what I am trying to achieve is to use the parent workflow's version not a version from input (which also should be achievable btw).

This is what I am trying :

“subWorkflowParam”: {
        “name”: “my_workflow”,
        “version”: “${workflow.version}”
      }

PS: When we output workflow , we get version of current workflow in workflow.version

Thanks doug, for posting

[2022-07-26 04:37] matteius commented on #3121
@jxu-nflx Sure no problem:  https://github.com/Netflix/conductor/pull/3134

[2022-07-27 03:31] #3115 closed

[2022-07-27 09:37] johnico opened #3135 "Could not work with sqs , got: unknown queue type: sqs"
Trying to work with SQS and did not manage due to error : unknown queue type: sqs

1- how to fix it ?
2- how do i know i connected succsessfuly to aws ?

I defined the following code in conductor :

[code]

added

[code]

and put ENV vars on docker-compose

[code]

**i did not put AWS_SESSION_TOKEN="{token_value}}". ,   do i need it ?**

**Details**
Conductor version: 3.10
Persistence implementati

[2022-07-28 17:36] lianjunwei opened #3136 "My workflow is running and the task is SCHEDULED but it is not being processed"
一.description.

- Conductor version: v3.10.1
- Persistence implementation: Postgress
   conductor.db.type=postgres
   spring.datasource.url=jdbc:postgresql://127.0.0.1:8002/conductor
   spring.datasource.username=test
   spring.datasource.password=test123
   spring.datasource.hikari.maximum-pool-size=10
   spring.datasource.hikari.minimum-idle=2
- Lock: Redis
    Conductor server: application.prop

[2022-07-28 17:37] manan164 commented on #3130
Hi @bimal10 , `${workflow.version}` is available at conductor scope. If we add support for the version to have string support it will automatically support the parametrized version.

[2022-07-29 10:44] vzubyk opened #3139 "UI: The workflow execution page is not displayed when the loop contains a processed switch"
**Bug description:**
When workflow contains a loop with a switch inside it, after the switch is passed, the workflow execution page loaded as empty page

**Details:**
Conductor version: 3.9.2
Workflow definition:
[code]

**Steps to reproduce the behavior:**
1. Create provided above workflow definition
2. Start a new workflow for the `LoopTestWithSwitch` definition
3. Open the workflow execution pa

[2022-08-01 09:40] Devamparikh commented on #3090
Shouldn't we use [eclipse-temurin](https://hub.docker.com/_/eclipse-temurin) as it is suggested in docs?

[2022-08-01 09:54] amimimor commented on #3090
I think we should

On Mon, 1 Aug 2022 at 12:40 Devam Parikh ***@***.***> wrote:

--
All the best,
Amit Mor

[2022-08-01 21:09] #3121 closed

[2022-08-01 21:15] apanicker-nflx commented on #3135
Please refer to [this guide](https://youtu.be/4XoCDBVrczw?t=2479) from @dougsillars from our last meetup about setting up Conductor to work with AWS SQS.

[2022-08-01 21:33] apanicker-nflx commented on #3090
Thanks for reporting this. Could you please create a PR switching to one of the recommended alternatives. Thanks

[2022-08-01 21:35] jxu-nflx commented on #3136
Hello @lianjunwei how is your worker configed to poll tasks: https://github.com/Netflix/conductor/blob/main/client/src/main/java/com/netflix/conductor/client/automator/TaskRunnerConfigurer.java#L174? Seemed to me that it is just polling from that specific instance? You might want to check your server setup to make sure all instances are discoverable.

 BTW, you are using noop lock
```conductor.wor

[2022-08-01 21:36] apanicker-nflx commented on #3130
This would be an enhancement to the SUB_WORKFLOW task. We will add it to our future roadmap to support dynamically passing a subworkflow version. If you have the bandwidth to contribute this in the meantime, we would appreciate a PR. Thank you

[2022-08-02 13:45] dougsillars commented on #3135
I'm pretty sure you need that session token.  Did you message REACH the SQS queue on AWS?  you can poll for messages - see if it arrived.

To end the WAIT task, you'll need an EVENT.  The event listens for the SQS and feeds the result to the WAIT task.
https://orkes.io/content/docs/how-tos/Tasks/SQS-event-task

[2022-08-03 06:42] jxfw commented on #2759
Where can i find the docs about the EXCLUSIVE_JOIN?
Anyone help?thanks.

[2022-08-04 08:08] Jiehong commented on #1316
Re-opening this: version 3 happened, but it was not changed… (thanks github-bot I guess?)

[2022-08-04 16:11] lianjunwei commented on #3136
1.I have changed the distributed lock to redis.
2.The worker configuration is as follows:
    `conductor:
  client:
    rootUri: http://10.190.32.157:9195/conductor/n/api/
    threadCount: 2
  worker:
    pollingInterval: 2`

worker code is as follows:
![image](https://user-images.githubusercontent.com/13819823/182895882-8092e9a6-9d89-475b-800d-9ab4432cff1a.png)

[2022-08-05 12:26] indranil1741997 opened #3147 "Unable to change the conductor server tomcat port using external application.properties"
**Describe the bug**
Unable to change the conductor server tomcat port using external application.properties.
There is no parameter available to pass the tomcat server port in application.properties in ChangeLog ()https://github.com/Netflix/conductor/blob/main/CHANGELOG.md for conductor-server-boot-3.9.1.jar

**Details**
Conductor version: conductor-server-boot-3.9.1.jar

**To Reproduce**
Steps to

[2022-08-05 12:31] azriel46d opened #3148 "Null Pointer Exception results in a flow which cannot be actioned (terminated etc)"
**Describe the bug**
We have a flow which from what I'm seeing in the definition has a WAIT task with an invalid external storage path. This results in a null pointer exception whenever trying to terminate the flow or do any additional action on it.

**Details**
Conductor version: 3.10.2
Persistence implementation: Postgres
Queue implementation: Postgres

Workflow definition:
Task definition:
[cod

[2022-08-05 17:45] v1r3n commented on #3136
@lianjunwei happy to help. Maybe we can jump on a call and debug this further.

[2022-08-06 12:04] cuixiushuai opened #3153 "RedisExecutionDAO removeWorkflow method not remove WORKFLOW_TO_TASKS, cause memory leak"
**Describe the bug**
1 jvm frequently full gc
2 dump the heap, com.netflix.conductor.jedis.JedisMock is the biggest object, on the setCache of org.rarefiedredis.redis.RedisMock, many HashNode, key like test.WORKFLOW_TO_TASKS.WorkflowInstanceId, value is empty set.

**Details**
Conductor version:
2.27.6

Persistence implementation: JedisMock
Workflow definition:
Task definition:
{
  "name": "test",

[2022-08-07 04:51] BrandonDotLin commented on #3136
seems the same issue as #3089

[2022-08-07 08:07] Sunyelw opened #3156 "ConductorServer print large of warn level log"
Conductor Version : v3.11.0-SNAPSHOT
Deployment Type: docker-compose

Log1 detail
[code]

Log2 detail
[code]

Why and How can I stop it?

[2022-08-07 08:22] Sunyelw opened #3157 "UI cannot search any data"
## CASE background

Conductor version: v3.11.0-SNAPSHOT
Deployment Type: docker-compose ( In memory )

Deployment Result
[code]

## Operate step:

### 1. Task Definition
[code]
[code]

### 2. Workflow Definition
[code]

### 3. Execute Workflow
[code]

### 4. Search workflowId by cURL or Swagger UI
![image](https://user-images.githubusercontent.com/31758533/183281921-bfbea11d-fb27-4b07-9441-b12f8e3

[2022-08-07 08:24] Sunyelw commented on #3157
fix: Conductor version is v3.11.0-SNAPSHOT

[2022-08-07 08:24] Sunyelw commented on #3157
and conductor client is 3.3.4

[2022-08-08 14:56] Sunyelw commented on #3106
The same problem, as my config.properties:
[code]

when I add
[code]

Then an error occured me
[code]

Maybe es timeout
[code]

@peterlau  any suggestions? thx a lot.

[2022-08-08 17:24] jxu-nflx commented on #3157
@Sunyelw do you have ES indexing enabled?
```conductor.indexing.enabled=true`

[2022-08-08 17:25] apanicker-nflx commented on #2759
@jxfw The documentation for the EXCLUSIVE_JOIN was missed during the transfer to the new website, we will update this soon. Thanks for reporting.

[2022-08-08 17:30] apanicker-nflx commented on #3119
For this case, I would recommend checking out the specific git tag for the version that you are interested in and building the artifact from the tag. Please refer: https://docs.github.com/en/rest/git/tags

[2022-08-08 17:41] apanicker-nflx commented on #3147
Conductor 3.0 is a SpringBoot app, so the port can be changed using the `server.port` property. [Documentation](https://docs.spring.io/spring-boot/docs/1.3.0.RELEASE/reference/html/howto-properties-and-configuration.html)

Also, please refer to the [spring docs](https://docs.spring.io/spring-boot/docs/2.4.x/reference/htmlsingle/#boot-features-external-config-files-importing) for importing addition

[2022-08-08 17:41] #3147 closed

[2022-08-08 17:43] apanicker-nflx commented on #3148
@azriel46d What is the external payload storage configuration that you are using? Please provide details about the type and the configured values for the thresholds.

[2022-08-08 17:48] jxu-nflx commented on #3136
@lianjunwei I am looking for your setting for https://github.com/Netflix/conductor/blob/main/client/src/main/java/com/netflix/conductor/client/automator/TaskRunnerConfigurer.java#L174?

I think the task queues among instances should be shared. How to share? I don't know how to configure it. Does conductor support it?

What queue solution are you using? If it's in-memory one, then it won't be share

[2022-08-08 17:49] apanicker-nflx commented on #3156
@Sunyelw This log is printed by the queuing library used by Conductor - [DynoQueues](https://github.com/Netflix/dyno-queues). This project is currently in maintenance mode and we are looking to replace this with a redis based queue implementation.

FWIW, the warning messages are mostly informative and can be ignored.

[2022-08-08 17:49] #3156 closed

[2022-08-08 17:56] apanicker-nflx commented on #3106
The property to enable indexing in ES is `conductor.indexing.enabled` . There was an error in the README, please set this property to `true `and enable ES deployment in your docker cluster.

[2022-08-08 22:23] jkaipa commented on #2759
@apanicker-nflx I will prepare some examples with usage instructions for this system task in next week or two. Its a long time due.

[2022-08-09 02:09] Sunyelw commented on #3106
Sry, my config-local.properties has been replaced by config.properties. And then this property `onductor.indexing.enabled` is `true`

Actual properties:
[code]

My docker-compose used follow this:
[code]

After start, sever alway starting
![image](https://user-images.githubusercontent.com/31758533/183547874-7b673d7d-1b82-448a-b01c-ddae6b72cead.png)

Server Error log likes connect es timeout
[code]

[2022-08-09 02:13] Sunyelw commented on #3106
the complete log
[code]

[2022-08-09 02:27] Sunyelw commented on #3157
@jxu-nflx  Yeah, and what does this dynomite do? Does it necessary for UI searching?

[2022-08-09 05:40] Sunyelw opened #3162 "Why execute so slowly ?"
Conductor Version: #v3.10.3
Docker-compose deploy, and demo is starting local.
[code]

invoke trace
![image](https://user-images.githubusercontent.com/31758533/183572732-8131e607-8d3a-40ae-b07e-7b67f58fa4aa.png)

a simple demo cost 200s
![image](https://user-images.githubusercontent.com/31758533/183572503-621e4bfb-1cc3-4889-80e8-f4df30c7738b.png)

Why?

[2022-08-09 07:52] azriel46d commented on #3148
Utilising postgres and elastic.
here is the configuration
[code]

[2022-08-09 11:29] Sunyelw commented on #3162
Adding to this, when I change version to v3.11.0

Repeat this demo, got this
![image](https://user-images.githubusercontent.com/31758533/183636598-3b459591-10fb-4de2-88a2-43b5681879ce.png)

[2022-08-10 02:44] dangjianguo123 commented on #3162
@zz-netflix @mattl-netflix @netflixgithubreadonly
I have the same problem, please help

[2022-08-10 02:52] dangjianguo123 commented on #3162
Hello, have you encountered the problem that the concurrency cannot go up after the cluster?

[2022-08-10 03:53] trivedishalini opened #3169 "Unable to configure custom postgres schema_name as "conductor" in conductor 3.7.3"
**Describe the bug**
I am trying to upgrade conductor 3.7.3 version but after upgrade conductor server not starting because in this version schema as "public" is hardcoded in PostgresConfiguration which not allowing to override any other schema name like "conductor" etc.
For my project need ,I have use only different schema name thats why this issue need to fix so that I can override db schema.

*

[2022-08-10 04:02] boney9 commented on #3169
On the main branch the postgres persistence module has moved here: https://github.com/Netflix/conductor-community/tree/main/persistence/postgres-persistence

You can submit your PR to that repo and we should be able to add this in.

[2022-08-10 04:04] boney9 commented on #3162
Hi @dangjianguo123 - What version of Conductor are you using?

@Sunyelw  - Can you share the workflow definition? You can create it here and share - https://play.orkes.io (This is a conductor server playground / sandbox)

[2022-08-10 04:18] trivedishalini commented on #3169
@boney9  , I need this fix on v3.7.3  tag which need to fix in this conductor repo .this version I need for my project release.
Can you please help me to provide fix on tag v3.7.3.

Later on I will raise PR on community project too .

[2022-08-10 05:34] dangjianguo123 commented on #3162
@boney9 Hi，conductor version number is 3.9.9-rc.1

[2022-08-10 05:58] boney9 commented on #3162
Can you add your workflow definition to https://play.orkes.io/ ? We can evaluate your situation in that server. Alternatively you can share your workflow definition here and what level of concurrency are you expecting. Thanks.

[2022-08-10 07:29] Sunyelw commented on #3162
@boney9 thx for your relpy.
But, Emmm, my task is `Simple` type which need develop worker, it required deploy `account` and `transaction` service to execute.

So it couldn't execute on [https://play.orkes.io/](https://play.orkes.io/)  after create workflow only.

Fix my conductor version is v3.10.3.

Below is my all code, please.

Workflow definition
[code]

Task definition
[code]

AccountWorker
[

[2022-08-10 07:33] Sunyelw commented on #3162
Sry, not yet.

[2022-08-10 08:56] cuixiushuai commented on #3153
hlep wanted, or need another info?

[2022-08-10 11:33] ZergRushJoe opened #3170 "Conductor Radis Sentinel Configuration not queueing work"
### Discussed in https://github.com/Netflix/conductor/discussions/3061

<div type='discussions-op-text'>

<sup>Originally posted by **ZergRushJoe** June 22, 2022</sup>
I have been trying to move over are conductor instance to redis sentinel. my current config is
[code]

I been getting this info log in conductor itself:

[code]

The instance does not seem to be queuing work to be done. system task

[2022-08-10 16:41] boney9 commented on #3162
Thanks for sharing the details, let me try and see if I can simulate this in our sandbox.

[2022-08-10 18:24] ZergRushJoe commented on #3170
Added redis locking to see if that was the problem but got a new error

[code]
settings
[code]

[2022-08-11 09:52] BrandonDotLin commented on #3089
any updates for this issue? @aravindanr

[2022-08-12 11:13] dpribul commented on #3107
I'm experiencing the same issue. @BrandonDotLin, can you please share how did you resolve this?

[2022-08-12 14:30] ZergRushJoe commented on #3037
![image](https://user-images.githubusercontent.com/7153267/184375621-637af626-88ab-45bf-a095-91fd8598b4f8.png)
I did find in the redis lock configuration that the sentinel config is missing the .split(","). could that be part of the problem?

[2022-08-12 17:42] trivedishalini commented on #3169
I got this working in below 3.7.3 patch release . thanks for merging pr

<dependency>
    <groupId>io.orkes.conductor</groupId>
    <artifactId>conductor-server</artifactId>
    <version>3.7.3-a</version>
    <type>pom</type>
</dependency>

[2022-08-15 14:08] alexahdp opened #3181 "Parallel join"
Hello, guys! I'm faced with a need to realize the next scheme, but it seems not possible to do with conductor. Are there any ways to do that with conductor?

![image](https://user-images.githubusercontent.com/3065433/184650752-a614fa69-3843-41f4-a8f4-124fa0fbbbbd.png)

[2022-08-15 21:31] apanicker-nflx commented on #2759
Thank you @jkaipa , we will add this to the conductor docs site.

[2022-08-15 21:36] apanicker-nflx commented on #3106
Looks like the ES cluster is not reporting green in your deployment. Could you please try again by adding the following property to your configuration -
```conductor.elasticsearch.clusterHealthColor=yellow`

[2022-08-15 21:37] apanicker-nflx commented on #3157
same as https://github.com/Netflix/conductor/issues/3106#issuecomment-1215879384

[2022-08-15 21:42] apanicker-nflx commented on #3148
@azriel46d It looks like you are using the default implementation which returns null. We have identified this as a missing case in our testing and will push out a release soon. Thank you for reporting.

[2022-08-15 21:51] jxu-nflx commented on #3153
Hello @cuixiushuai I do see that mapping is removed by [this line](https://github.com/Netflix/conductor/blob/478ea92b169ddc688ad58d8693dc1837d7e8320f/redis-persistence/src/main/java/com/netflix/conductor/redis/dao/RedisExecutionDAO.java#L338) here:
https://github.com/Netflix/conductor/blob/478ea92b169ddc688ad58d8693dc1837d7e8320f/redis-persistence/src/main/java/com/netflix/conductor/redis/dao/Redi

[2022-08-15 22:00] apanicker-nflx commented on #3170
@ZergRushJoe I don't see any issues with the setup. Your logs do not point to any errors either. The system task poller seems to be polling the queues actively but does not seem to dequeue any tasks.
Would you be able to login to your redis instance and check if the messages are being populated?
Additionally, could you also post your workflow definition?

[2022-08-15 22:01] jxu-nflx commented on #3162
@Sunyelw Take a look at the client side metrics to see how long it takes for your worker to process the task: https://github.com/Netflix/conductor/blob/478ea92b169ddc688ad58d8693dc1837d7e8320f/client/src/main/java/com/netflix/conductor/client/automator/TaskPollExecutor.java#L248
Or you can simply just measure the time in your worker for those calls ```HttpUtil.invoke(xxx)``` as I guess that is why

[2022-08-15 22:02] apanicker-nflx commented on #3089
We are looking into a fix for this issue and will release a fix soon.

[2022-08-16 00:39] BrandonDotLin commented on #3089
Great. Can you reproduce this issue so far? Would you please share if you did. When this happened, the deciderQueue message was popped but nothing happened with the workflow, everything worked well after I change the popped flag to 0 (mysql persistence)

[2022-08-16 01:20] cuixiushuai commented on #3153
on the setCache of RedisMock, memory workflow task like this:(WorkflowInstanceId) -> Set(taskId1,taskId2...); this line srem the mapping, just remove the task on the Set, at last the Set is cleard, but the mapping (WorkflowInstanceId) -> Set() is not removed

[2022-08-16 13:19] jegadjame commented on #2175
I am running Conductor standalone (or a non-docker setup) in Windows machine. I run command "java -Dconductor.indexing.enabled=true -jar conductor-boot.jar" .. I am getting this error

![image](https://user-images.githubusercontent.com/5119603/184889328-53e38a26-8769-4a21-845b-497486e767f4.png)

[2022-08-17 03:59] jegadjame opened #3184 "Workflow UI not showing the workflows"
Workflow UI not showing the workflows when i run "java -jar conductor-server-3.9.2-boot.jar"

Now , I am running Conductor standalone (or a non-docker setup) in Windows machine. I run command "java -Dconductor.indexing.enabled=true -jar conductor-boot.jar" .. I am getting this error... Please help me in fixing the issue

image

[2022-08-18 06:04] Sunyelw commented on #3162
@jxu-nflx  Sorry, I don't quite understand what you mean, could it be more detailed and executable ?

[2022-08-19 00:16] #3068 closed

[2022-08-19 03:26] ntk148v commented on #770
Hi folks,

I've published Conductor images to Docker Hub:
- https://hub.docker.com/r/kiennt26/netflix-conductor-ui
- https://hub.docker.com/r/kiennt26/netflix-conductor-server
- https://hub.docker.com/r/kiennt26/netflix-conductor-aio

Build script and sample compose files are available here:
https://github.com/ntk148v/dockerfiles/tree/master/conductor

[2022-08-19 03:27] ntk148v commented on #1177
Hi folks,

I've published Conductor images to Docker Hub:
- https://hub.docker.com/r/kiennt26/netflix-conductor-ui
- https://hub.docker.com/r/kiennt26/netflix-conductor-server
- https://hub.docker.com/r/kiennt26/netflix-conductor-aio

Build script and sample compose files are available here:
https://github.com/ntk148v/dockerfiles/tree/master/conductor

[2022-08-19 17:28] saradhi-atluri commented on #3089
do we have any update on this issue?

[2022-08-19 19:27] trivedishalini opened #3189 "Elastic search SocketTimeoutException while upgrading from conductor 2.30.3 to conductor 3.4.1"
**Describe the bug**
I am trying to upgrade from conductor 2.30.3 to conductor 3.4.1 and getting below issue for elastic search.

Error starting ApplicationContext. To display the conditions report re-run your application with 'debug' enabled.
2022-08-19 01:48:02.867 [main] ERROR org.springframework.boot.SpringApplication [] - Application run failed
org.springframework.beans.factory.UnsatisfiedDep

[2022-08-20 01:59] apanicker-nflx commented on #2336
The race condition for Event task (synchronous system tasks) has been addressed in the release [v3.10.7](https://github.com/Netflix/conductor/releases/tag/v3.10.7).

We are currently looking into addressing this for asynchronous system tasks (HTTP). Closing this thread, since event it flags the event task.

[2022-08-20 01:59] #2336 closed

[2022-08-20 10:50] jianbo commented on #3157
Hi, I'm having similar issue with taskLog searching, my es6 and workflow searching works. Is it normal normal to see "No logs available"?

Here is the default workflow, and es indexing is enabled

[code]

![Screen Shot 2022-08-20 at 8 48 15 pm](https://user-images.githubusercontent.com/209831/185742539-682cb461-b499-4baf-ad3c-4ab1696b3a80.png)

[2022-08-21 21:12] arielzadi commented on #3170
I am experiencing the exact same behavior on redis_standalone, I checked the Redis keys and I see them, but while polling nothing is found:

10.197.33.28:6379> KEYS *
 1) "workflows.production.general.WORKFLOW_DEF.send-batch-messages"
 2) "workflows.production.general.CORR_ID_TO_WORKFLOWS.63a8dc39-d460-4534-88f2-168e51b9d8f7-0"
 3) "workflows.production.general.SCHEDULED_TASKS.838cdf35-ff3a-4eb6-b

[2022-08-22 02:08] Sunyelw commented on #3106
@apanicker-nflx Sorry to delay reply, this I had test several day ago, didn't work.

[2022-08-22 02:11] Sunyelw commented on #3157
@jianbo  When I tried `HTTP` type task, it works well. Maybe you should check conductor-server started and healthy first. ( UI dependents on Server )

[2022-08-22 11:29] shyamsundarsekhar opened #3192 "Conductor Integration with MySQL Database"
**Describe the bug**
Integration with MySQL Database throws an error due to missing attribute setting for Cache (cacheRefreshTime) fetched from properties

**Details**
Conductor version:3.9.0-SNAPSHOT
Persistence implementation: MySQL
Queue implementation: Dynoqueues
Lock: Redis

**To Reproduce**
Steps to reproduce the behavior:
1. Netflix Conductor setup with db type as mysql
2. Startup of server

[2022-08-22 12:33] Prebiusta commented on #3192
I have had a similar issue with Postgres persistence. Problem is that the default conductor repository does not contain a module for MySQL persistence, as you can see [here](https://github.com/Netflix/conductor). To solve the issue, you can use a community-made persistence package for MySQL persistence.
Add `runtimeOnly group: 'com.netflix.conductor', name: 'conductor-mysql-persistence', version:

[2022-08-22 13:31] shyamsundarsekhar commented on #3192
Hi @prebiusta, Thank you for the response. I have added the dependency. Prior to 3.7.3, this folder was within Conductor-Main. But after the refactoring to Conductor-Community, we did make the necessary changes to reflect the dependency.

The same setup works when run via "../gradlew bootRun" command and the fix that was performed is here:
https://github.com/Netflix/conductor-community/blob/77f72e

[2022-08-22 15:15] danteoh opened #3194 "[DOC]: AirPlay listener can cause startup issues for Conductor UI on Macs"
## What are you missing in the docs

Anyone wanting to run via the docker documents (where Conductor UI starts on 5000) may run into issues with AirPlay already listening on port 5000.

## Proposed text

Notice for Mac users:  AirPlay often listens on port 5000, so you may need to change the conductor-ui port from 5000 to 5001 (or your port of choice).

[2022-08-22 21:12] aravindanr commented on #3189
@trivedishalini looks like Conductor is not able to connect to the Elasticsearch cluster. Can you check the connection settings like hostname, port etc or the firewall settings if connection from Conductor to Elasticsearch is allowed?

[2022-08-22 21:24] apanicker-nflx commented on #3157
@jianbo The logs tab in the task view displays the task execution logs for each task. These logs need to be explicitly written by the worker in the [TaskResult](https://github.com/Netflix/conductor/blob/main/common/src/main/java/com/netflix/conductor/common/metadata/tasks/TaskResult.java#L70) when updating a task or can be added async using the [API](https://github.com/Netflix/conductor/blob/main/

[2022-08-22 21:26] aravindanr commented on #3089
This seems like an issue with conductor-mysql-persistence module (maintained by conductor-community).

There was a similar issue (#3183) with sub_workflow task for which a fix was released in [v3.10.7](https://github.com/Netflix/conductor/releases/tag/v3.10.7).

[2022-08-22 21:26] apanicker-nflx commented on #3106
Can you verify if ES is up and running in your deployment? The errors point towards no connectivity with ES from your server. It could be due to ES not being healthy or the cluster health color not configured correctly.

[2022-08-22 21:29] apanicker-nflx commented on #3184
Can you provide more details about how you are starting up the UI?

[2022-08-22 21:37] apanicker-nflx commented on #3148
This has been fixed in [v3.10.7](https://github.com/Netflix/conductor/tree/v3.10.7)

[2022-08-22 21:37] #3148 closed

[2022-08-22 21:40] aravindanr commented on #3153
@cuixiushuai v2.x is no longer supported. Please upgrade to the latest 3.x version.

[2022-08-22 21:44] trivedishalini commented on #3189
@aravindanr ,yes all properties are fine . Actually we already have conductor 2.30.3 and elastic search up and running on my client machine and everything working fine with that But Now I have to upgrade this cluster with conductor 3 .
Conductor 3 and elastic search fresh installation is working fine But I have to do upgrade on client machine from conductor 2 to conductor 3 to avoid data loss .
An

[2022-08-22 22:06] apanicker-nflx commented on #3194
Thanks for reporting this.
@peterlau Can you please add this to the documentation for the UI?

[2022-08-23 00:37] ZergRushJoe commented on #3170
Same in my redis cluster. It gets into redis just never de queues anything

On Sun, Aug 21, 2022, 5:12 PM arielzadi ***@***.***> wrote:

[2022-08-23 01:29] BrandonDotLin commented on #3089
This issue(not start next task) can happen even current finished task is not sub-workflow

[2022-08-23 01:39] Sunyelw commented on #3106
@apanicker-nflx Please have a look at this, there is show ES is up and running well.

[2022-08-23 09:31] azriel46d commented on #3148
Although most flows can be terminated with the above fix. I still have one which cannot be terminated giving the following error
[code]

[code]

[2022-08-23 12:54] azriel46d commented on #3089
After upgrading to `v3.10.7` with Postgres persistence `3.10.5` I have execution hanging in the same manner as described above  after switch nodes.
The switch nodes evaluate the result correctly. The defaultCase is chosen (which in this case has zero nodes) and the next node should be picked up. Yet this is never executed. So far managed to replicate on two different flows.

![image](https://user-

[2022-08-23 15:53] danteoh commented on #3157
@apanicker-nflx I'm also running into no search results.  Fresh docker install, but on an M1 Macbook so the only modification I made was to make ES use the AMD64 flags.

My ES container is running, though.
<img width="997" alt="Screen Shot 2022-08-23 at 11 53 12 AM" src="https://user-images.githubusercontent.com/1686515/186204584-654fa55e-dc25-406f-ab36-a50d72c83f49.png">

[2022-08-23 19:53] coderrr22 commented on #1183
Hi, You mean to simply change the isAsync() function on the HttpTask class to return a false value ? and that should change http tasks behavior to work synchronously ? Or should I change another part of the code ? Thanks !

[2022-08-23 21:16] jxu-nflx commented on #3089
this issue is fixed here: https://github.com/Netflix/conductor/pull/3197

[2022-08-23 22:06] peterlau commented on #3139
Should be fixed via #3174

[2022-08-23 22:06] #3139 closed

[2022-08-25 23:15] danteoh commented on #3157
I take back my previous comment... setting conductor.indexing.enabled=true worked.

[2022-08-26 10:03] wyaopeng opened #3201 "new version can't be start with postgres"
**Describe the bug**
new version can't be start with postgres,

![image](https://user-images.githubusercontent.com/12064306/186880350-a1fb268d-8d96-421d-a6b2-6f7b4460c9bf.png)

can you tell me ,how to fix it ?

[2022-08-26 15:30] coderrr22 commented on #1059
Hi, I have changed my HTTP tasks to work is async = false. But I still need retry capabilities, any suggestions as to how I can support that ? (Which code to change) Thanks !

[2022-08-26 16:21] michael-rivera-florencehc-com opened #3205 "Building Docker Server Container Hangs on Gradle Build step"
**Describe the bug**
When running the command to build the conductor server container the Gradle steps just hangs and does not move foward:
docker build --no-cache --platform=linux/amd64 --progress plain -t conductor-server -f server/Dockerfile ../

**Details**
Conductor version: Current

**To Reproduce**
type the command
docker build --no-cache --platform=linux/amd64 --progress plain -t conductor

[2022-08-27 00:15] #2904 closed

[2022-08-27 04:09] lianjunwei commented on #3162
Are you going to use it in a real-time scene? I am also researching the conductor, add my WeChat account: "lianjianghe", let's communicate together.

[2022-08-27 04:10] lianjunwei commented on #3162
https://github.com/Netflix/conductor/issues/3162#issuecomment-1219073376

[2022-08-27 04:10] lianjunwei commented on #3162
Are you going to use it in a real-time scene? I am also researching the conductor, add my WeChat account: "lianjianghe", let's communicate together.

[2022-08-27 08:31] lianjunwei opened #3206 "Execution is extremely slow.Is the conductor suitable for real-time scenarios?"
**Describe the bug**
Running the workflow takes too long. Is the conductor suitable for real-time scenarios?I hope to get guidance from friends in the community.
Mine has an api that turned out to take 5~6 seconds. After I changed the workflow execution it took up to 1 minute and 25 seconds.

**Details**
Conductor version: 3.10.3
Persistence implementation: Postgres
Queue implementation: Postgres

[2022-08-27 09:08] lianjunwei commented on #3136
Looks like it's postgres, but I'm not sure, how to set up my queue which is which. I am using postgres as persistent storage.

[2022-08-29 21:37] aravindanr commented on #3136
@lianjunwei based on the screenshot in your initial question, `conductor.client.rootUri=10.190.32.157:8080`. You have configured the client to poll from only one instance of your cluster. Please ensure that both instances point to the same datastore.

[2022-08-29 21:39] apanicker-nflx commented on #3106
The ES container reports Up as per docker but can you verify what the cluster status is by making a curl request manually. Seems like the conductor server is unable to connect to ES .

[2022-08-29 21:46] #3157 closed

[2022-08-29 21:47] aravindanr commented on #3206
Conductor in its current form is not built with real-time scenarios. However, in this case, i would check your connectivity from Conductor -> Postgres and see if there are delays there. We can't see a scenario where a SWITCH task is slower than a SIMPLE task. SWITCH tasks in our deployment is executed in the order of few milliseconds.

[2022-08-29 21:55] aravindanr commented on #3205
@boney9 if you have any insights about building Conductor in Apple M1, please share.

[2022-08-29 22:35] apanicker-nflx commented on #3181
The above workflow definition can be modeled as such in conductor:

[code]

The UI renders it as such -
![image](https://user-images.githubusercontent.com/34087882/187310689-30f7e5b1-828a-4654-89f7-51a4a1bb4d0c.png)

But the workflow execution is as expected. We ran the workflow with the desired flow and verified the execution.

[2022-08-30 13:17] vzubyk opened #3211 "Variables are cleared once the WAIT task is started"
**Bug description:**
`Variables` are cleared once the `WAIT` task is started.

**Details:**
Conductor version: 3.11.0
Workflow definition:
[code]

**Steps to reproduce the behavior:**
1. Create provided above workflow definition
2. Start a new workflow for the `Set_Variable_Workflow` definition
3. Open the workflow execution page
4. Check the `Variables`

**Actual behavior:**
No variables exist.

[2022-08-30 13:31] LexiPow opened #3212 "Deploy Conductor - Change Urls"
Could you kindly advise on how I can deploy the conductor server and the UI to a local server and be able to change the urls from http://localhost/ to something else.

[2022-08-30 19:49] james-deee commented on #1505
Just wanted to see if we could re-open, since it's not fixed. Anyone working on a fix for this?

[2022-08-30 21:10] RemcoBuddelmeijer commented on #1505
Seeing that it has been two years and have flown under my radar, I wouldn't mind taking a look at this myself. So if no one else is working on this I'll be creating a PR. @james-deee

[2022-09-02 06:19] jegadjame commented on #3184
I am using "yarn run start" from Visual studio code

[2022-09-02 09:28] LexiPow opened #3217 "Deploy Conductor Server and UI - Change URLS"
### Discussed in https://github.com/Netflix/conductor/discussions/3210

<div type='discussions-op-text'>

<sup>Originally posted by **LexiPow** August 30, 2022</sup>
Good Day

Could you kindly advise on how I can deploy the conductor server and the UI to a local server and be able to change the urls from http://localhost to something else.

</div>

[2022-09-02 11:45] BrandonDotLin commented on #3089
Hi @apanicker-nflx , sorry to mention you again. Would you please give some instructions to reproduce issue so I can try to fix it myself? We need to fix this problem asap

[2022-09-05 09:25] LexiPow commented on #3217
@apanicker-nflx could you kindly provide some feedback?

[2022-09-06 12:27] LexiPow opened #3220 "Change Docker URLS"
Please provide guidance on how to configure conductor with a url i.e https://test.com (changing from localhost) to run on port 443.

[2022-09-06 16:47] boney9 commented on #3220
Hi @LexiPow - How are you running Conductor? Is it on a K8s cluster? If yes - you can add an ingress controller such as Nginx. Once you do, depending on the cloud provider you are on, you can add an `A record` pointing to the Nginx controller load balancer and add an `Ingress` record for the URL. You have multiple options to enable TLS when you are using an ingress controller.

[2022-09-06 16:49] boney9 commented on #3217
@LexiPow - for local testing you can add a host record on your local hosts file if you want to use anything other than localhost.

[2022-09-06 18:13] LexiPow commented on #3220
Good day.

I am following the steps as outlined by the official documentation on the website and docker containers with postgres.

Could you kindly provide me with some steps or guidance

[2022-09-07 14:55] manan164 commented on #3211
Hi @vzubyk , Thanks for reporting this. I am able to reproduce this. We will raise a fix for this.

[2022-09-07 20:46] manan164 commented on #3211
HI @vzubyk , PR for the fix https://github.com/Netflix/conductor/pull/3221

[2022-09-08 03:49] voycey opened #3223 "Now dynoqueue is no longer maintained what are the options?"
Hi - we are evaluating conductor, I notice that [Netflix ](https://github.com/Netflix/dyno-queues) is no longer maintained, does this mean that it will eventually be replaced within conductor?

I can see that there are options for SQS but what state does this leave the internal queueing system in?

Thanks

[2022-09-08 04:14] v1r3n commented on #3223
Hi @voycey we plan to open source the queue implementation we use at Orkes in the next few days.  I will update this thread as we do.  Watch out for this space. ETA is sometime this week.

[2022-09-08 12:56] dengguojie opened #3224 "conductor startup failed with docker-compose-postgres.yaml"
**Describe the bug**
A clear and concise description of what the bug is.

**Details**
Conductor version: master @2022-08-31
Persistence implementation: Postgres
Queue implementation: Postgres
Lock: Redis or Zookeeper? Redis

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://conductor.netflix.com/gettingstarted/docker.html
2. command is : docker-compose -f docker-compose.yaml -f do

[2022-09-08 20:35] roversnord opened #3227 "Task not timing out after responseTimeout elapsed"
Describe the bug:
responseTimeoutSeconds not being honored for simple task.

Details:
Conductor version 3.7.3
Task Definitoin: `{
    "name": "simple_job",
    "taskReferenceName": "simple_job",
    "inputParameters": {},
    "type": "SIMPLE",
    "decisionCases": {},
    "defaultCase": [],
    "forkTasks": [],
    "startDelay": 0,
    "joinOn": [],
    "optional": false,
    "taskDefinition": {

[2022-09-08 23:01] LexiPow commented on #3220
Hi @boney9 could you kindly confirm what the steps are to change the url for docker containers.

Kind Regards

[2022-09-09 06:47] boney9 commented on #3220
Hi @LexiPow - ping me on [slack](https://join.slack.com/t/orkes-conductor/shared_invite/zt-xyxqyseb-YZ3hwwAgHJH97bsrYRnSZg) if you can. I don't think I fully understood what you are stuck at. It looks like you are running this in your local machine, is that correct?

[2022-09-09 08:15] alexahdp commented on #3181
Thanks, it's exactly what I needed!

[2022-09-09 08:16] #3181 closed

[2022-09-12 00:16] #3113 closed

[2022-09-12 11:22] dengguojie commented on #3224
i manged to startup refer to https://github.com/Netflix/conductor-community/discussions/69,  but failed with the issue as mentioned in https://github.com/Netflix/conductor-community/discussions/66

[2022-09-12 19:46] v1r3n commented on #3223
Hi @voycey check out https://github.com/orkes-io/orkes-queues that we have been using at Orkes

[2022-09-12 22:02] apanicker-nflx commented on #1505
@RemcoBuddelmeijer that would be great. Thank you

[2022-09-12 22:05] apanicker-nflx commented on #3089
@BrandonDotLin We came across this issue when running regression tests at scale. The likely cause was attributed to a race condition between updating subworkflow task in main workflow and the subworkflow itself completing. We have since fixed this race condition with the latest fix in v3.11.3

[2022-09-12 22:06] jxu-nflx commented on #3227
Hello please take a look at the responsetimeout section of this doc: https://conductor.netflix.com/architecture/tasklifecycle.html
Response timeout is the time within which the worker must respond to the server with an update for the task, else the task will be marked as TIMED_OUT.

as long as your worker has sent a update status to the server within the responsetimeout, it will not mark the task

[2022-09-13 01:14] BrandonDotLin commented on #3089
would you please advise which part of changes in v3.11.3 was related to race condition fix? It seems all about output of subworkflow.

[2022-09-17 03:41] james-deee opened #3243 "[FEATURE]: Datastax V4 Driver Upgrade?"
Hi! Just wanted to see if an upgrade to Datastax's V4 Cassandra Driver is on the horizon at all. It's not clear to me how much of a change that requires, and I know that Netflix uses Cassandra so would probably need them to ensure everything works with the upgrade.

Thanks!

[2022-09-18 01:00] ishallbethat opened #3244 "[DOC]: How to directly use fork and join"
## What are you missing in the docs
I see in docs lots of them describe to use fork_join with decision or switch.
Is there anyway I can use directly use fork_join task and join to make my tasks run parallel.

what I want to accomplish is:
I have a - (b, c, d)
workflow starts with task a then b, c,d runs in parallel. There's no decision-making or switch scenario, so I avoid using switch and decisio

[2022-09-18 01:04] v1r3n commented on #3244
Hi @ishallbethat take a look at this:
https://play.orkes.io/workflowDef/fork_join_example

[2022-09-19 04:42] ishallbethat opened #3245 "[DOC]: Does fork_join task support deep nested fork_join task"
## What are you missing in the docs
I have a situation.
a -> (1 -> ( 3 -> (5 -> (7, 8), 6), 4), 2) -> b

Task a has a fork_join task 1 and 1 has fork_join task 3, 3 has fork_join task 5.
It's just an example. Actually  my situation is more deep nested fork_join then this. You can take it as 10+.

Does conductor suits with this situation ?  I tried a fork_join with a fork_join, it just doesn't work

[2022-09-19 04:45] #3244 closed

[2022-09-19 06:39] ishallbethat commented on #3245
I created this one
https://play.orkes.io/workflowDef/fork_join_nested_example/1

still doubt how deep the nested fork_join could go.

[2022-09-20 04:01] ishallbethat opened #3248 "[DOC]: how to make conductor deployment production ready"
## What are you missing in the docs
I'd like to know how to make conductor deployment production ready.
in production ready environment it needs at least automatic failover, autoscaling, high availability.
Is there any documention on this ?

[2022-09-21 06:17] BrandonDotLin opened #3252 "Java Client Poll scheduler not work as expected"
**Describe the bug**
I have more than 100 workers in an application which poll task from conductor server every 10ms. Some tasks never polled for a long time. It seems ScheduledThreadPoolExecutor with 100+ threads can handle properly.

any suggestion to improve the polling performance?

@apanicker-nflx

[2022-09-21 20:28] leviliangtw commented on #2020
Look forward to a push-based Conductor too!

[2022-09-21 20:51] RemcoBuddelmeijer commented on #1505
@apanicker-nflx Can the issue be reopened? Currently working on the PR but would like for the progress to be followed here as well.

[2022-09-22 09:18] astelmashenko opened #3257 "Event handlers do not stop listening queues after being deleted"
**Describe the bug**
Event handlers do not stop listening queues after deleted.

**Details**
Conductor version: 3.*
Conductor can not stop event handlers once it is deleted. Conductor can not stop/start ObservableQueue once EventHanlder is updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an event handler using `POST /api/event`, e.g.
[code]
2. Observe in logs it is created dur

[2022-09-22 12:08] dengguojie commented on #1620
tried priority in V3.7.3 with mysql persistence, this issue still exists. Any suggestion? @kishorebanala

[2022-09-25 16:22] lianjunwei opened #3258 "One hour after running the workflow, the conductor cpu is almost exhausted and the performance drops sharply."
**Describe the bug**
A clear and concise description of what the bug is.

**Details**
Conductor version: 3.11.0
Persistence implementation: Redis
Queue implementation: Redis
Lock: Redis
Workflow definition:
`{
  "createTime": 1663828820563,
  "updateTime": 1663936724464,
  "name": "rcc_push_car_cruising_range_mileage_workflow",
  "description": "xxx",
  "version": 3,
  "tasks": [
    {
      "name

[2022-09-27 18:24] apanicker-nflx commented on #3089
Part of the changes were made in v3.10.7 and part of the changes are in v3.11.3.
Basically, changes were made to the subworkflow execution and to repair the subworkflow task in parent post-facto.

[2022-09-27 18:32] aravindanr commented on #3258
hello @lianjunwei , can you elaborate this?

Is the CPU usage increasing after 78 minutes of starting a workflow every 30 seconds?

[2022-09-27 18:42] aravindanr commented on #3252
@BrandonDotLin can you provide details about your client configuration? A code snippet of how you build TaskRunnerConfigurer would also help.

[2022-09-27 19:02] aravindanr commented on #3245
Conductor supports Nested Fork_Join. This [test](https://github.com/Netflix/conductor/blob/main/test-harness/src/test/groovy/com/netflix/conductor/test/integration/NestedForkJoinSubWorkflowSpec.groovy) validates it.

[2022-09-28 08:50] jegadjame commented on #3184
Now i am running through docker.
Change conductor.indexing.enabled=true in \conductor\docker\server\config\config-local.properties and \conductor\server\src\main\resources\application.properties. Now i can see the data in workflow execution

[2022-09-28 08:50] #3184 closed

[2022-09-30 07:22] lianjunwei commented on #3258
@aravindanr  yes. After the cluster mode (3 nodes) is deployed, this problem does not occur. Only when the qps is high (qps=50), the CPU utilization rate is high.

[2022-09-30 12:22] anaken opened #3263 "EVENT task executes twice, if asyncComplete is specified to true (2 events are sent at once)"
**Description of the bug**
A task of the type EVENT sends 2 events at once if it has property `asyncComplete` is specified to `true`

**Details**
Conductor version: 3.11.3

**To Reproduce**
Example workflow:
[code]

**Expected behavior**
Only one event should be sent at once

**Additional context**
Looks like the problem is in the recursive call of method com.netflix.conductor.core.execution.Workf

[2022-10-01 07:29] unfazed151 commented on #3189
@trivedishalini  2.30.3 depend on  elasticsearch 5.x, but Conductor 3 depnd on elasticsearch 6.x, and docker-compose.yaml use the same volume path. try `docker compose -f docker-compose.yaml down --volumes` remove es volume.

[2022-10-01 07:30] unfazed151 commented on #3106
2.30.3 depend on  elasticsearch 5.x, but Conductor 3 depnd on elasticsearch 6.x, and docker-compose.yaml use the same volume path. try `docker compose -f docker-compose.yaml down --volumes` remove es volume.

[2022-10-01 10:19] stoically opened #3264 "Should the default docker compose setup contain redis?"
**Describe the bug**
When cloning the repo, checking out the latest release tag and running `docker compose build` + `docker compose up -d` in the `docker` directory the conductor-server first starts, but then starts to spam hundreds of thousands of debug lines containing

https://conductor.netflix.com/gettingstarted/docker.html did not mention redis, but going by the debug message I assume redis

[2022-10-01 10:21] stoically commented on #3264
I guess this should've been actually a discussion thread, not a bug issue.

[2022-10-01 18:24] Prebiusta commented on #3026
This does not seem to be a problem anymore, I have successfully run UI on the M1 Max chip. @peterlau

[2022-10-03 21:19] #3026 closed

[2022-10-03 21:20] aravindanr commented on #3263
@anaken I couldn't reproduce the bug using the workflow that you posted. Does the EVENT task publish events twice every time or is it sporadic?The one in the ticket seems to be a sample, it would be helpful if you can post the original workflow. Its quite possible that this behavior only happens for a particular combination of tasks.

[2022-10-04 07:30] astelmashenko commented on #3257
@jxu-nflx , event-handlers are created/deleted by scheduler during 60 seconds interval, is it good approach, don't we want to improve it?

[2022-10-04 11:56] sks1995 opened #3269 "Using Cassandra"
## What are you missing in the docs
<img width="840" alt="image" src="https://user-images.githubusercontent.com/17801041/193813018-c45e71a0-db92-4acc-a190-da592b282b71.png">
The doc mentions that cassandra does not provides implementation of QueueDAO and MetadataDAO
This module also does not provide implementations for QueueDAO, PollDataDAO and RateLimitingDAO

## Proposed text
This module also do

[2022-10-04 18:52] trivedishalini commented on #3189
Conductor3.X checking es health by adding default color status filter as green always and my ES status yellow somehow but as of now its . Thats why it got break when I upgrade from conductor2.X to conductor 3.X .
**Solution:**
There is property name 'conductor.elasticsearch.clusterHealthColor' in conductor 3.X , I was able to override status color to yellow from green and got it working.
Which is

[2022-10-04 18:52] #3189 closed

[2022-10-05 09:30] sebimal opened #3271 "SWITCH task should COMPLETE after decision cases are done"
**What bothers me**
SWITCH task is marked as COMPLETEd immediately after processing expression. With this behaviour it is dangerous to use it in DO_WHILE task, where every iteration is marked as completed (and next one is started) when every task from loopTasks are completed.

**Example**
As an example you may run following workflow
[code]
From above execution I expect to process every `number` se

[2022-10-06 05:13] jegadjame opened #3275 "HTTP task Creation call error with conductor version 3.9.2"
I had created HTTP task with conductor version 3.9.2 with below workflow definition.. When i try to call ,It always throws error "Failed to invoke HTTP task due to: java.lang.Exception: I/O error on GET request for "http://jsonplaceholder.typicode.com/posts/3": Read timed out; nested exception is java.net.SocketTimeoutException: Read timed out"
But i am able to access https://jsonplaceholder.typic

[2022-10-08 00:16] flavioschuindt commented on #2930
Hi, @jxu-nflx, I am helping @Sujay008 on that and here are some updates:

We bumped conductir version to 3.7.3, conducted the same tests and those are our observations:

<img width="468" alt="image" src="https://user-images.githubusercontent.com/766004/194676860-cc0a1128-ed74-4da6-8aa2-e836c1ae8652.png">

* 1 replica (yellow curve): Memory tops at 1.4GB and is not released after my test. Eventuall

[2022-10-08 00:20] #3135 closed

[2022-10-10 21:19] apanicker-nflx commented on #3269
Closed by #3270

[2022-10-10 21:19] #3269 closed

[2022-10-10 21:28] jxu-nflx commented on #3271
Hello @sebimal I tested the above workflow, and the issue I saw is that the switch task is evaluated to `true`, but the `waitTask` and `computeNumber` tasks are not scheduled correctly. I suspect it has something to do with how `do_while` spawn up next task. Please feel free to submit a PR if you have time to look into fixing the issue.

[2022-10-10 21:42] #3211 closed

[2022-10-10 23:08] RemcoBuddelmeijer commented on #1505
Still working on the issue. Been a couple of very busy weeks. Currently only fixing harness tests then the PR will be posted.
@james-deee @apanicker-nflx

[2022-10-11 05:37] flavioschuindt commented on #2930
So, we got another environment, kept the conductor replicas with just one and started to do the same test again and we are observing weird behaviors:

<img width="1134" alt="image" src="https://user-images.githubusercontent.com/766004/195003841-b6b66556-94c3-4858-83a9-a05e9ad88cdb.png">

So, see in above curve you see:

* **From 17:06 to 20:09**: Normal behavior. Conductor started , uses around 47

[2022-10-12 10:42] lianjunwei opened #3290 "How to improve the throughput of the conductor?"
**Describe the bug**
A clear and concise description of what the bug is.

**Details**
Conductor version: 3.11.0
Persistence implementation: redis
Queue implementation: redis
Lock: Redis
Workflow definition:
Task definition:
Event handler definition:

**To Reproduce**
Steps to reproduce the behavior:
Conditions:
Conductor cluster: 3 instances. Each instance has 8 cores and 16G.
Worker service: 1 cl

[2022-10-13 01:43] hebrd opened #3293 "Optional Task status should be COMPLETED_WITH_ERRORS"
**Describe the bug**
SUB_WORKFLOW is optional in the definition, after the sub workflow task failed, the status of the task in the parent workflow is set to FAILED.

Should it be COMPLETED_WITH_ERRORS?

**Details**

![image](https://user-images.githubusercontent.com/93497583/195478979-4b849354-23dd-4dbd-a840-85c3aeef5c7b.png)
![image](https://user-images.githubusercontent.com/93497583/195479068-0f

[2022-10-13 04:18] lianjunwei commented on #3290
spring.application.name=conductor
springdoc.api-docs.path=/api-docs

conductor.db.type=redis_standalone
conductor.redis.hosts=10.00.00.00:3380:us-east-1c:666666
conductor.redis.dataCenterRegion=us-east-1
# For a single node dynomite or redis server, make sure the value below is set to same as rack specified in the "workflow.dynomite.cluster.hosts" property.
conductor.redis.availabilityZone=us-east

[2022-10-14 08:45] BrandonDotLin opened #3294 "[FEATURE]: Pause the workflow after given task finished"
In my recent project, I need the workflow to be paused after a specific task finished,  say I have a workflow with task1, task2, task3. What i want is pause the workflow after task2 finished.

[2022-10-14 08:49] v1r3n commented on #3294
What will be the trigger to resume the workflow?

[2022-10-14 09:43] BrandonDotLin commented on #3294
will be resumed manually. Technically, WAIT or HUMAN task can be used to achieve this purpose. But the operation stuff need the workflow status to be "PAUSED", not "RUNNING".
Currently, I write a simple worker which will call workflow/pause api to pause the containing workflow. It works somehow, though not elegantly enough.

[2022-10-15 00:21] #3194 closed

[2022-10-15 00:21] #3170 closed

[2022-10-17 07:17] jegadjame opened #3296 ".NET 6.0 - 403 error"
Hi,
I am able to access API (http://localhost:8080/api/tasks/queue/all) from C# code when I use Target Framework as .NET core 3.1).

Now, When I upgrade the .NET framework to .NET 6.0, I am getting 403 error.
StatusCode: 403, ReasonPhrase: 'Forbidden', Version: 1.1, Content: System.Net.Http.HttpConnectionResponseContent, Headers:
{
Date: Fri, 14 Oct 2022 16:42:51 GMT
Connection: keep-alive
Via: HT

[2022-10-17 19:59] autodidactic commented on #3089
we ave created a simple workflow with version 3.11.3, it turns out the output of the sub workflow is not being fed back to main flow. more specifically the join does not resume after prev fork tasks are completed..

here is a JSON

{
  "taskType": "FORK",
  "status": "COMPLETED",
  "inputData": {},
  "referenceTaskName": "get_details_fork_ref",
  "retryCount": 0,
  "seq": 1,
  "pollCount": 0,
  "t

[2022-10-17 20:23] autodidactic commented on #3089
@apanicker-nflx  - can you paste an example json of the problem in question and how this version 3.11.3  fixed the race around condition

thank you

[2022-10-17 21:30] apanicker-nflx commented on #1505
Closed by #3300

[2022-10-17 21:32] aravindanr commented on #3296
This does not seem like an issue with Conductor. Removed the bug label. We operate Conductor in a Linux/Java environment and are not familiar with .NET. This issue seems to be related to the framework than Conductor itself.

[2022-10-17 21:39] aravindanr commented on #3294
If a workflow is PAUSED, then the task and workflow timeouts will not be honored. This requirement seems to be very specific to your use-case. We recommend that you continue leveraging your simple task for this.

[2022-10-17 21:42] jxu-nflx commented on #3293
@BrandonDotLin yea it makes sense to mark the optional subworkflow task as `COMPLETED_WITH_ERRORS`. Please feel free to submit a PR for the fix.

[2022-10-17 22:07] apanicker-nflx commented on #3089
JOIN task does not complete immediately, rather will be evaluated asynchronously by the workflow reconciler.

Unfortunately, I do not.

This version along with some other changes in an earlier version fixed the consequences of race conditions. In this specific case, the workflow repair service was tasked with identifying and fixing cases where the subworkflow status/output was not reflected correc

[2022-10-18 00:23] #3205 closed

[2022-10-18 02:13] autodidactic commented on #3089
"joinOn":[
0:"task_by_sid_ref_sub01"
1:"task_by_sid_ref_sub02"
]

in my case the join is contingent on task 0 and task1 . does that means if the tasks are complete the join will evaluate to "TRUE"?
and if one of them is "inprogress " or "failed" join always evaluates to "FALSE".  is there a parameters for workflow reconciler to force it to check?

[2022-10-18 09:04] #3294 closed

[2022-10-18 10:29] jegadjame commented on #3296
It is working now.. It was Proxy Issue in my system..

Thanks,
Jegadeesh

[2022-10-18 10:29] #3296 closed

[2022-10-18 16:05] james-deee commented on #1922
@jxu-nflx YAY! Your PR should fix this issue right??!

https://github.com/Netflix/conductor/pull/3304

[2022-10-18 17:18] pmchung commented on #3293
It seems my optional subworkflow does complete with `COMPLETED_WITH_ERRORS` when a task within the subworklow fails. My conductor version is pre-v3.10.0 so this discussion is relevant for me because I'm planning to rebuild with latest changes.
I fail my subworkflow task through the event processor so I'm unsure if there's an inconsistency when things are done through the conductor client vs event

[2022-10-20 00:22] #3162 closed

[2022-10-20 20:50] pmchung opened #3309 "Task not retried after second attempt when failing task through event queue"
Task is not retried after first attempt when a retry is triggered from event queue when using workflowId and taskRefName.

https://github.com/Netflix/conductor/blob/9e80c4af02c504072dfc775fb97430907bc1097c/core/src/main/java/com/netflix/conductor/core/events/SimpleActionProcessor.java#L130-L146

With multiple created task under a taskRefName due to multiple retry attempts, `workflow.getTaskByRefNa

[2022-10-21 03:26] #3252 closed

[2022-10-22 00:22] #3136 closed

[2022-10-24 09:32] sks1995 opened #3312 "NPE in Workflow Repair Logic"
**Describe the bug**
Workflow repair logic fails with NPE when workflow information is not present in data store.
[code]
**Details**
Conductor version: 3.13.0
Persistence implementation: Redis
Queue implementation: Postgres
Lock: Redis
Workflow definition:
Task definition:
Event handler definition:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down

[2022-10-25 00:26] #3212 closed

[2022-10-25 15:56] magerkin opened #3317 "Join task is completed before all forks are done in case of optional task failure"
**Describe the bug**
JOIN task, which depends on an optional task that has COMPLETED_WITH_ERRORS status, completes immediatly without waiting for other dependencies to complete.
Before version 3.8.2 it was waiting when all forks are done and only then went further.
Now it's imposible to use outputs of other fork branches, which were completed after an optional error occured.

A bug was introduced

[2022-10-26 06:11] junaidHussain-clari opened #3318 "Workflow are not getting executed due to java.lang.RuntimeException: Operation: ( push ) failed on key: [(a shard in) _deciderQueue ]"
Hello Everyone,
Recently, we started facing an exception every time we try to execute workflows on the conductor server. This issue was not there until now.

java.lang.RuntimeException: Operation: ( push ) failed on key: [(a shard in) _deciderQueue ].
	at com.netflix.dyno.queues.redis.QueueUtils.executeWithRetry(QueueUtils.java:47)
	at com.netflix.dyno.queues.redis.QueueUtils.execute(QueueUtils.ja

[2022-10-27 06:25] hebrd opened #3325 "[FEATURE]: retry workflow with latest definition"
Is it possible to retry failed workflow with updated task input and latest task definition?
Consider below steps:

1. Create a workflow with 2 tasks: task1 and task2
2. Start the workflow, and the workflow failed at task2 because i forget pass through the workflow input to task2
3. I update the task2 part in workflow definition
4. retry the workflow( because task1 should not be executed twice acco

[2022-10-27 06:30] tech-home opened #3326 "JVM isolation doesn't work"
**Describe the bug**
executionNameSpace  doesn't work

**Details**
Conductor version: v3.12.0
Persistence implementation: Dynomite
Queue implementation: Dynoqueues
Workflow definition:
{
  "name": "http_yan",
  "description": "http_demo",
  "version": 1,
  "tasks": [
    {
  "name": "encode_task",
  "taskReferenceName": "get_example",
  "inputParameters": {
    "http_request": {
      "uri": "http

[2022-10-30 00:19] #3217 closed

[2022-10-30 05:43] pmchung commented on #3293
I think this issue happens if the `conductor.workflow-reconciler.enabled` is false.

Since when the subworkflow fails, it also updates the parent to failed and push evaluation of parent workflow to decider queue. Without the sweep, it cannot run a decide on parent workflow to update `FAILED` to `COMPLETED_WITH_ERRORS`.

So I think the PR will create a problem with retry-able and optional subworkfl

[2022-11-01 08:41] manan164 commented on #3263
Hi @aravindanr , This is reproducible when we use sqs or amqp as a queue. I have to check when using conductor as queue @anaken , We are working on a fix.

[2022-11-01 13:04] marcocrasso opened #3330 "UI stop working when selecting one task of a DAG"
**Describe the bug**
The UI stop working when selecting one task of a DAG with Safari. In the past, one click on a task displayed tasks details pane on the right side of the screen.

**Details**
- Conductor UI v3.13.2
- Safari Version 15.6.1 (15613.3.9.1.16, 15613)

The server is not related to the issue.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
When you cl

[2022-11-02 09:45] manan164 commented on #3263
Hi @anaken , PR for the fix https://github.com/Netflix/conductor/pull/3331

[2022-11-05 00:17] #3227 closed

[2022-11-09 18:00] manan164 commented on #3309
Hi @pmchung , Thanks for reporting. I want to understand the exact issue here. Can you please explain in detail? As per my understanding even when the task is retried the taskRefName won't get changed. However, I do see the behavioral change before and after (https://github.com/Netflix/conductor/pull/2883) so raising a draft (https://github.com/Netflix/conductor/pull/3338) to correct it.

[2022-11-11 04:19] jegadjame commented on #1814
I am getting the same issue again.. I executed git config --global core.autocrlf false and cloned again and ran docker-compose up.. Still getting same error . I am using windows 10 machine

Step 5/15 : RUN ./gradlew build -x test --stacktrace
 ---> Running in 05a800bde887
Downloading https://services.gradle.org/distributions/gradle-7.5.1-bin.zip

Exception in thread "main" java.io.IOException: Dow

[2022-11-11 04:23] jegadjame opened #3339 "Error Download Gradle bin"
Hi,
I am getting below error when i run docker-compose up.

**Note: I executed git config --global core.autocrlf false and cloned again and ran docker-compose up.. Still getting same error . I am using windows 10 machine**

Step 5/15 : RUN ./gradlew build -x test --stacktrace
---> Running in 05a800bde887
Downloading https://services.gradle.org/distributions/gradle-7.5.1-bin.zip

Exception in threa

[2022-11-13 00:15] #3248 closed

[2022-11-13 03:30] v1r3n commented on #3248
Hi @ishallbethat when we deploy conductor in prod here is what we ensure we have:

1. setup for failover - we use redis cluster or setup that has primary and replica that can be promoted to primary in case of failures
2. Automated backups of databases
3. We use k8s for deployments and use metrics for servers and workers to decide on scaling policies (CPU for conductor servers and queue depths for

[2022-11-16 03:00] ScottJOster commented on #1177
Hi , really useful on the k8s yaml thanks - however I'm having issues with the Postgres implementation (discussed in many threads here).

In a nut shell when running docker compose on compose and Postgres yaml files the server gets many bean errors including metadatadao.(this on both local docker and kuber deployment)

One fix suggested advises setting a runtimeonly property in server build gradle

[2022-11-16 03:10] ScottJOster opened #3345 "Conductor with Postgres"
**Describe the bug**

In a nutshell when running docker compose on compose and Postgres yaml files the server gets many bean errors including metadatadao.(this on both local docker and kuber deployment).

One fix suggested advises setting a runtimeonly property in server build gradle but no matter which version of the maven Postgres I specify I still get the errors.

Can anyone advice what is the

[2022-11-16 03:26] ScottJOster commented on #1177
Great work on the k8s yaml thanks , can I ask if you encountered errors with beans (metadata dao for eg) and loading context in the server?

It's a well versed issue in here with one fix suggesting adding run time only Postgres version into server gradle but it doesn't seem to work no matter which version I specify!

I get these errors on local docker and k8s when running with compose and postgres

[2022-11-16 08:40] sks1995 commented on #3345
both common persistence and postgres persistence dependencies should be added
https://github.com/Netflix/conductor-community/tree/main/persistence/common-persistence
https://github.com/Netflix/conductor-community/tree/main/persistence/postgres-persistence

[2022-11-16 10:12] ScottJOster commented on #3345
Thanks for the response - could I ask you to be more explicit however ? Are there any build steps documented for the community repo ? I have been working on dockerfiles etc from Netflix/conductor main and this community version doesn't seem to be mentioned in docs ?

Thanks again

[2022-11-16 10:24] sks1995 commented on #3345
The proper steps seem to be missing for postgres/mysql.
However looking at community server gradle will give some idea https://github.com/Netflix/conductor-community/blob/main/community-server/build.gradle
There is blog as well: https://betterprogramming.pub/running-netflix-conductor-3-in-docker-using-elasticsearch-7-and-postgresql-b415988dd74a

[2022-11-16 14:23] ScottJOster commented on #3345
Thanks a lot much appreciated

[2022-11-17 19:24] manan164 commented on #3271
Hi @sebimal , Thanks for reporting the issue. Looks like some issue in do_while logic. @jxu-nflx , I will raise PR in some time to fix this.

[2022-11-18 01:35] ZB-Y opened #3353 "How to retry failed loopOver task within DO_WHILE task?"
Hello,

I'd like to get some help to understand the retry behaviors of loopOver task and DO_WHILE task.

Let's say a loopOver task failed in my workflow,
* DO_WHILE task will be set to FAILED as soon as one of the loopOver task fails - [code](https://github.com/Netflix/conductor/blob/ae06fce952c83e25e9f502dbdcf2fe82b5228a84/core/src/main/java/com/netflix/conductor/core/execution/tasks/DoWhile.java

[2022-11-20 00:16] #3245 closed

[2022-11-20 00:16] #3243 closed

[2022-11-20 00:16] #3223 closed

[2022-11-22 06:35] CherishSantoshi commented on #3353
@v1r3n @boney9 FYI

[2022-11-23 00:15] #3206 closed

[2022-11-24 00:16] #3106 closed

[2022-11-25 06:31] niehmanyo commented on #517
in json, if there have somehing like  "para":[ ]. They start with [], then you should use arrayList container to present them. If not, it will show this error

[2022-11-27 19:57] erlangparasu opened #3359 "[DOC]: why requirement: dyno-queue repo NO LONGER ACTIVELY MAINTAINED?"
## What are you missing in the docs
why requirement: dyno-queue repo NO LONGER ACTIVELY MAINTAINED?

[2022-11-27 20:01] v1r3n commented on #3359
Dyno-queues is in the maintenance mode with https://github.com/orkes-io/orkes-queues as the replacement for the same.
orkes-queues has better support for Redis, compared to dyno-queues that were designed for Dynomite.