[2019-02-06 20:48] kishorebanala commented on #789
@bitbier Thanks for reporting the issue. It's been a while, but we'll take a look.

[2019-02-07 00:33] apanicker-nflx commented on #703
@HardiChandra are you still seeing this issue with the latest versions?
Closing this issue for now, please reopen if you run into this.

[2019-02-07 00:33] #703 closed

[2019-02-07 23:27] lrtanner opened #982 "Starting a workflow with a Decision task, but struggling with getting the variable passed in"
I want to start a workflow with an input parameter being used in the first decision task, but I have yet to get it working.

My workflow is properly getting the variable as shown here:
![image](https://user-images.githubusercontent.com/38760309/52449563-058d2100-2af5-11e9-8eaa-f78a6d77ed9c.png)

But my task is showing null for its `case` variable, which I am trying to set via:

[code]

Here is the

[2019-02-08 00:10] kishorebanala commented on #982
@lrtanner In your caseValueParam, you can use your defined inputParameters directly:
```"caseValueParam": "is_string_suspicious"```

I believe caseValueParam wouldn't extract jsonPath, a quick code check would reveal, but this should help you unblock though.

[2019-02-08 04:43] dskarataev opened #984 "UI: Wrong number of executions"
Hello, I found that if I run many workflows at the same time, let's say 10000 in 1 hour, and during that time I applied the RUNNING filter in executions search, then after they all will be executed I still see a positive number like 1750 executions supposed to be running but the list of executions is empty already.

Do you know possible reasons for that? And how to fix? Are there any restrictions

[2019-02-08 05:21] dskarataev commented on #759
The same problem here after a very small performance test 5 workflows/second for 10 minutes.

[2019-02-08 05:25] dskarataev commented on #984
I think I found the reason while debugging the UI requests to the server. The actual status of these workflows is already COMPLETED but somehow this was not updated for search/filtering purpose. So, I have a "result->hits" response with a chunk of 100 workflows when clicking Seach on this page, but their status is COMPLETED so probably UI isn't showing them (that is right). So, the number of "foun

[2019-02-08 05:27] dskarataev commented on #984
I also think it is maybe related to the issue #759, because before that workflows were stuck in RUNNING but later all of them magically changed to COMPLETED after I manually paused and resumed 24 of them.

[2019-02-08 05:44] dskarataev commented on #872
@RileyMichael why did you close this? How did you fix the problem?

[2019-02-08 06:07] RileyMichael commented on #872
@dskarataev It was an environment issue, too much latency between the conductor servers & the database which became apparent as we added more polling workers.

[2019-02-08 14:22] lrtanner commented on #982
@kishorebanala - I started there.... I thought... Your change got me running though. Thanks!

[2019-02-08 14:22] #982 closed

[2019-02-08 16:42] fnolla-carecloud opened #985 "How do I add vipAddresses?"
I can't seem to find how i create vipAddresses to use across multiple tasks instead of having to write out the full url every time or when promotion between environments happens having to change the workflows.

[2019-02-08 21:57] unikzforce commented on #814
i've just rebased and wanted to test my solution again, but there is a problem with the healthcheck.
during my healthcheck interval "kitchensink" example cannot be added to the system.
i mean the conductor-server will start and after it started it'll try to add kitchensink, if there was no healthcheck it'll add kitchensink,
but if it has a healthcheck it will stuck like this
![image](https://user-

[2019-02-08 22:04] unikzforce commented on #814
after the healthcheck fails:

![image](https://user-images.githubusercontent.com/7010566/52508471-1a0f0d80-2c0a-11e9-9e42-5d8fa64c7bdd.png)

kitchensink example addition will continue:
![image](https://user-images.githubusercontent.com/7010566/52508554-4cb90600-2c0a-11e9-807c-65828fcd345a.png)

I don't want to depend healthcheck on the existence of kitchensink but even the `test: timeout 2 bash -c

[2019-02-11 15:44] gsambasiva opened #986 "What is the notation to refer previous task output without knowing the task name"
Hi,

I have a decision task having 3 branches and If I want to use the outcome of decision as a next task input,
How can I refer the previous task output(i.e decision case output) in next task.

Could you please help on this.

[2019-02-11 16:52] mohelsaka commented on #600
@clari-akhilesh
Here's how I figured it out. In case you're still interested

Conductor Server has a feature to load additional modules dynamically, this feature can be controlled using this the [following configuration](https://github.com/Netflix/conductor/blob/master/docker/server/config/config.properties#L50).

Using this feature, you can basically create your own `AbstractModule` that overides

[2019-02-11 16:59] RileyMichael commented on #600
@mohelsaka Thanks for the explanation! I'd be very interested in seeing how you are publishing metrics w/ prometheus.

[2019-02-11 17:19] gsambasiva commented on #986
Example JSON is,

{
  "name": "decide_task",
  "taskReferenceName": "decide1",
  "inputParameters": {
    "case_value_param": "${workflow.input.movieType}"
  },
  "type": "DECISION",
  "caseValueParam": "case_value_param",
  "decisionCases": {
    "Show": [
      {
        "name": "setup_episodes",
        "taskReferenceName": "se1",
        "inputParameters": {
          "movieId": "${workflow.in

[2019-02-11 18:28] apanicker-nflx commented on #874
This has been fixed in #959 and #974 .

[2019-02-11 18:28] #874 closed

[2019-02-11 20:08] cyzhao commented on #600
@kishorebanala @apanicker-nflx please make sure this is covered in the new documentation we are working on.

[2019-02-11 20:13] clari-akhilesh commented on #600
@mohelsaka , thanks for the explanation. I'll be sure to give this a try.

[2019-02-12 00:21] kishorebanala commented on #986
This is a duplicate of #953 , for which there is a PR in review: #979. Please follow the progress there.

[2019-02-12 00:21] #986 closed

[2019-02-12 00:28] kishorebanala commented on #891
@johnlongo Would you mind sharing your conductor configuration? This happens when conductor instances cannot reach the queues.

[2019-02-12 00:37] kishorebanala commented on #322
This could be a service discovery issue. Redislabs support or Stackoverflow might provide better insights into configuring service discovery. Any others in the community who is working with similar set-up might chip in.

Closing this issue as there is no activity for a while.

[2019-02-12 00:37] #322 closed

[2019-02-12 00:51] kishorebanala commented on #814
Hard to tell why the health checks have failed, would you mind posting full error logs?

[2019-02-12 02:45] apanicker-nflx commented on #650
Closing this issue since it has already been answered. Thanks @mudit3774 for the response.

[2019-02-12 02:45] #650 closed

[2019-02-12 02:46] apanicker-nflx commented on #567
Closing this issue since its been inactive for a while. Please reopen if you still run into this with the latest version.

[2019-02-12 02:46] #567 closed

[2019-02-12 02:47] apanicker-nflx commented on #725
Thanks for the suggestions. Please feel free to submit a PR with these and we will be happy to review and merge them.

[2019-02-12 02:47] #725 closed

[2019-02-12 02:49] apanicker-nflx commented on #712
Since the concept behind conductor is to asynchronously orchestrate the process flow, a timeout at a workflow level does not seem like a construct that fits in. Task level timeouts should be able to accomplish this if you still need to enforce this.

Closing this issue for now. Please reopen if you see a compelling need for this.

[2019-02-12 02:49] #712 closed

[2019-02-12 02:50] apanicker-nflx commented on #652
Thanks for pointing this out. We are currently revamping the entire documentation and will make this fix.

[2019-02-12 02:50] #652 closed

[2019-02-12 05:59] unikzforce commented on #814
Of course ,i'll send more information ASAP.

[2019-02-12 12:25] JohnHaze opened #987 "[QUESTION] Are running workflows affected by workflow-definition updates?"
Does a running workflow overtake die updated definition ?

[2019-02-12 17:07] mohelsaka opened #989 "User defined workflow ID"
Hello,

Is there a way to ensure that workflow is running at most once for some particular payload?
So that if `POST /workflow/{name}` was called twice at the same time with the same workflow input, only one call will be accepted and the others will be rejected (or do nothing).

I thought of three ways to solve this problem:
1. From the client side. Store the workflow ID in some storage and check

[2019-02-12 18:10] kishorebanala commented on #987
@JohnHaze If you're using the `version` parameter in Workflow definition when updating, then it shouldn't be a problem. Eg: if a workflow is running version:5, and you update metadata to version:6, the running workflows won't be affected, and new workflows could use version:6

[2019-02-12 18:10] #987 closed

[2019-02-12 21:27] jkaipa commented on #881
Any update on this issue?

[2019-02-13 08:26] JohnHaze commented on #987
@kishorebanala Thank you so much for your reply.
What happens in the case of an update of the same version of the workflow?

[2019-02-15 18:47] apanicker-nflx commented on #989
@mohelsaka Currently, conductor does not provide a construct to ensure that only one workflow is currently running for a particular payload. However, as you pointed out, this can be achieved by one of the ways that you have suggested.

1. This involves the client maintaining a storage for workflow ids and ensuring sync with the conductor server.
2. This is not a reliable model, since the search AP

[2019-02-15 18:47] #989 closed

[2019-02-15 18:49] apanicker-nflx commented on #985
@fnolla-carecloud Can you please elaborate on your question? Are you trying to create vip addresses for the server?

[2019-02-15 18:53] apanicker-nflx commented on #973
Please refer https://github.com/Netflix/conductor/tree/master/server#redis-authentication.

[2019-02-15 18:53] #973 closed

[2019-02-15 19:42] bah2830 opened #995 "caseValueParam field is required for taskType: DECISION"
After upgrading from 1.x to 2.7.1 we have discovered an issue with DECISION tasks that use a caseExpression instead of caseValueParam and getting the error `caseValueParam field is required for taskType: DECISION` when trying to create and or update a definition. There was some validation added in that has been really great but this is the last error it's giving and it doesn't seem to fit with how

[2019-02-15 20:10] demichej opened #996 "Question: Java client "ack" ability after execute"
Hello, I know that the TaskClient has the "ack" endpoint setup on it in the Java Client library. One use case that we're looking at is having a "SIMPLE" task, and when we're doing "executing" the task we'd like to then "ack" it. The reason being is that we'd like to add some output data on it and then basically put it in a "WAIT" stage by ack-ing it.

Is there an ability to set some "ack" flag on

[2019-02-15 22:11] kishorebanala commented on #995
@falu2010-netflix Would you mind taking a look please.

[2019-02-15 23:50] v1r3n commented on #996
One way to achieve this would be to "complete" the simple task with status as IN_PROGRESS and set the callbackAfter to a timeout value after which the task will be rescheduled.  If you do not want the task to be rescheduled, then you can set the callbackAfter value to a large and make a call to complete the task when the task is completed.

[2019-02-17 15:21] davidwadden commented on #918
@hados99 I recommend using `docker-compose build` from the `docker/` folder.

[2019-02-17 21:55] dskarataev commented on #405
@lucas-pinheiro-ipremios I have the same issue please share how to solve it :)

[2019-02-19 00:36] kishorebanala commented on #995
#997

[2019-02-19 00:36] #995 closed

[2019-02-19 00:49] kishorebanala commented on #836
Closing this as it's been a while. Please feel free to reopen if you still see the issue.

[2019-02-19 00:49] #836 closed

[2019-02-19 00:50] kishorebanala commented on #815
Closing this as it has been a while. Please feel free to reopen if you still see the issue.

[2019-02-19 00:50] #815 closed

[2019-02-19 00:57] kishorebanala commented on #764
Apologies for the inconvenience. We use Java client, and Python client is completely managed by the community. Hence, it's really hard for us to track breaking changes in Python client. We'll be more careful in reviewing breaking changes hereon. But, please feel free to send a PR with patch if something has to be fixed immediately.

[2019-02-19 00:57] #764 closed

[2019-02-19 00:57] apanicker-nflx commented on #883
@LiranBri We tested this out in our machine using the configuration you posted above but were unable to reproduce the issue. The task correctly TIMED_OUT after the retry as well and the workflow moved to a FAILED status. Can you check the workflow sweeper frequency configuration on your deployment and ensure that the workflow sweeper is running.

[2019-02-19 00:59] #341 closed

[2019-02-19 01:00] kishorebanala commented on #963
@boshido Can you please provide more details to @kishorekasi with your configuration, if you still need help.

[2019-02-19 01:22] kishorebanala commented on #763
@jvemugunta Thanks for reporting this. We've added this to our todo list. SCHEDULED_TASKS and IN_PROGRESS_TASKS seems contradicting, we'll verify and clean this up.

[2019-02-19 14:50] zhangzhefang-github opened #998 "gulp watch error"
[22:47:49] Failed to load external module @babel/register
[22:47:49] Failed to load external module babel-register
[22:47:49] Failed to load external module babel-core/register
[22:47:49] Failed to load external module babel/register
/apps/conductor-master/ui/gulpfile.babel.js:2
import gulp from 'gulp';
^^^^^^

SyntaxError: Unexpected reserved word
    at exports.runInThisContext (vm.js:53:16)

[2019-02-19 17:00] iamthadiyan opened #999 "docker-compose build error"
I am seeing the following error when I do `sudo docker-compose build` inside `conductor/docker` folder.

What am I missing here?

[2019-02-19 17:23] demichej commented on #996
Thank you! This should work well enough.

[2019-02-19 17:23] #996 closed

[2019-02-19 17:49] emiteze opened #1000 "Update task null pointer"
When trying to update a task status using task resource API (/tasks endpoint) if I pass a invalid workflow instance id conductor returns a 404 with this payload:

[code]

This seems very correct to me, but if I pass a valid workflowId but a invalid taskId, I got a 500 server error and a nullpointer on logs, and this response as well:

[code]

Opening this issue just to keep you on track of this pr

[2019-02-19 18:26] kishorebanala commented on #1000
@emiteze Great, thanks for looking into this.

[2019-02-19 18:53] apanicker-nflx commented on #1000
@emiteze Please check #1001 which I believe should fix this issue. Thanks for pointing this out.

[2019-02-19 18:53] #1000 closed

[2019-02-19 18:54] apanicker-nflx commented on #333
Fixed in #1001.

[2019-02-19 18:54] #333 closed

[2019-02-20 05:03] iamthadiyan commented on #998
If you haven't already tried, do `$ npm install -g gulp`, then `$ npm install gulp`. After that `$ gulp watch` will download and set all dependencies.

[2019-02-20 12:39] boshido commented on #963
I deployed conductor in k8s on AWS EC2
![image](https://user-images.githubusercontent.com/3489862/53091882-c5db2600-3545-11e9-99ff-26cd093fde2d.png)

**Dynomite**
I deployed dynomite by using v1r3n/dynomite in ec2 without any configurations just binding port for external connection

**Redis**
Redis service  are managed by AWS Elasticcache
2 replica multi AZ

**Elasticsearch**
Elasticsearch service

[2019-02-21 07:05] srmocher commented on #86
This is arguably a big deal and should be mentioned in the docs, especially if one is using a standalone redis deployment.

[2019-02-21 09:09] karndubey opened #1004 "Unable to build project"
While running the Main.java class in server module I am encountering following error:
Exception in thread "main" java.lang.Error: Unresolved compilation problems:
	The method bind(Class<EventServiceImplBase>) from the type AbstractModule refers to the missing type EventServiceImplBase
	EventServiceGrpc cannot be resolved to a type
	The method bind(Class<MetadataServiceImplBase>) from the type Abst

[2019-02-22 00:38] animathe opened #1006 "Query tasks using freeText search similar to the one used for querying Workflows"
Hi,
   had a query wrt freeText search.

 I used the Workflow search API, "GET /workflow/search?start=&size=&sort=&freeText=&query=" which was able to return results for Workflows in various states which I was looking for.  eg: http://localhost:8080/api/workflow/search?size=5000&freeText=*&query=status%3D%22SCHEDULED%22

 But when I used the same for getting scheduled tasks using, "http://localhos

[2019-02-23 21:50] dskarataev opened #1009 "BUG - MySQLExecutionDAO.addEventExecution wrong index"
**Problem:** cannot use more than one action in the same EventHandler with MySQL persistence

**Reason:** UNIQUE KEY unique_event_execution (event_handler_name,event_name,message_id)

**Detailed description:** when a new incoming message that triggers a new workflow execution is processed by EventProcessor, it tries to extract the list of actions defined inside the EventHandler definition and exec

[2019-02-23 22:37] dskarataev commented on #1009
@picaron maybe you could have a look and tell your thoughts, thanks

[2019-02-25 10:34] Bethalaayyappa commented on #928
Hi Conductor Team,

Same me also trying to connect with Cassandra. The following issue i observed. Please correct me if i am going wrong.
The below mentioned lines of code expecting break statement in **ModulesProvider.java**

            case CASSANDRA:
                modules.add(new CassandraModule());
                logger.info("Starting conductor server using cassandra.");
            case R

[2019-02-25 10:36] Bethalaayyappa commented on #928
Hi Team,

Is it required to implement MetadataDAO and QueueDAO for cassandra implmentation.
Question) Cassandra and Redis sanitel both required in modulesproviders.java  files ?

Please help me....

[2019-02-25 17:31] apanicker-nflx commented on #928
@Bethalaayyappa you are right, the `break` statement is missing here. Thanks for pointing it out.

These are required to use the C* DAO implementation. As mentioned in earlier comment, please feel free to contribute the missing implementations to this module.

[2019-02-25 17:37] joshuadeanhall opened #1011 "Scaling Task Workers Question"
Hi all I am trying to get a definitive answer on a question related to scaling out task workers.

Is it possible to deploy the same task worker multiple times to increase throughput of the task execution? Are there any concerns/issues with the same task being picked up by different task workers and being executed multiple times?

I assume that it does scale this way but I can't find any documentat

[2019-02-25 21:54] philipsamuel opened #1012 "Does the current SQS implementation support same sqs queue name at different regions."
Scenario :
Two queues with the same name in two AWS regions
Can the SQS implementation in conductor listen to both, atleast using two event handlers.

[2019-02-25 22:33] animathe commented on #1006
Issue found out to be Task status not indexed while calling updateTask within ExecutionDAO

[2019-02-25 22:33] #1006 closed

[2019-02-26 06:16] Bethalaayyappa opened #1013 "Integrating with couchbase or mongoDB with Netflix conductor"

[2019-02-26 06:21] Bethalaayyappa commented on #1013
Hi Team,

Currently we are trying to integrate couchbase {Document Type : NoSql DB}.
Form the repository there is an implementation Redis and Cassandra, If possible can you please guide how to implement with couchbase for Netflix conductor. Any may i know what possible issues we may face related to maintainability.
Does the integration with couchbase will differ entirely from cassandra or Redis ?

[2019-02-26 06:30] litian33 opened #1014 "How to use WAIT task?"
Where to set the **pre-configured queue** ?  I din't find it in the code or docs, can you help me? Thanks.

[2019-02-26 10:37] kchaturanga opened #1015 ""executed": false and "taskStatus": "COMPLETED" in a same task ?"
Please let me know how
"executed": false, and    "taskStatus": "COMPLETED", in a same task ? workflow is not continuing after this task

*******************************************************
"taskType": "HTTP",
"status": "COMPLETED",

"referenceTaskName": "SOMENAME_booking_pnrdataupdate",
   "retryCount": 0,
   "seq": 5,
   "pollCount": 1,
   "taskDefName": "SOMENAME_booking_pnrdataupdate",
   "

[2019-02-26 11:36] kchaturanga commented on #1015
Found the issue ,  one dynamic task is getting NULL on the workflow..

[2019-02-26 11:36] #1015 closed

[2019-02-26 12:30] samhattangady opened #1016 "Contributing: Documentation of python client"
Hey, I'd like to start writing the documentation of the python client. I have already created a module [pyconductor](https://github.com/skylarkdrones/pyconductor/) on [pypi](https://pypi.org/project/pyconductor/). Currently it is just a filtered branch of the conductor repository.

I am planning on writing the documentation as well as adding some functionality which reflects our usecase.

I am not

[2019-02-27 10:07] MaksimRT opened #1017 "How to start a Task when Workflow fail?"

[2019-02-27 10:14] MaksimRT commented on #349
@smilesj Could you how an example how to use [WorkflowStatusListener] to notify once the workflow fails or completes successfully?
Thanks in advance!

[2019-02-27 10:57] naveenchlsn opened #1018 "HTTP task Timeouts"
We are using conductor in our company as orchestration engine and we need to configure variable timeouts for our HTTP tasks.

Would this be a good contribution to conductor?

If you guys say yes, then we can open a PR soon to this.

[2019-02-27 13:52] MaksimRT opened #1019 "Event handler doesn't work"
Hi!

I have a problem with Event handler. I can't make it work(
Could you help me with a problem or show me an example with it?
Thanks in advance!

Taskdef
[code]

Workflow
[code]

Event handler
[code]

[2019-02-28 21:36] kishorebanala commented on #1018
Hey @naveenchlsn , That would be great. Can you provide more details on how you plan to implement this? Specifically, would it be applicable to HttpTask vs all the tasks. Also, how do you intend to configure the variable timeouts?

[2019-02-28 21:38] apanicker-nflx commented on #1017
@MaksimRT Can you please provide more information about your use-case?
Please elaborate with the steps you have taken so far.

[2019-02-28 21:46] kishorebanala commented on #998
@zhangzhefang-github Please follow the instructions above to resolve this issue. Make sure to use compatible versions when building the client. I.e compatible node version, gulp version etc. Please feel free to reopen this issue if you still have questions.

[2019-02-28 21:46] #998 closed

[2019-02-28 22:10] apanicker-nflx commented on #1014
The pre-configured queues are set here - https://github.com/Netflix/conductor/blob/15106380ffe69383b67352c2a9b4f5f38ddf5e31/contribs/src/main/java/com/netflix/conductor/contribs/ContribsModule.java#L82.
By default, the sqs queues are configured to `conductor_sqs_notify_COMPLETED` and `conductor_sqs_notify_FAILED`

[2019-02-28 22:10] #1014 closed

[2019-02-28 22:20] apanicker-nflx commented on #1012
The current implementation in conductor can only listen to SQS queues in the same region that conductor is deployed in.
If you have a pressing need for this feature, please feel free to submit a PR with the implementation and we will be happy to review and merge.
A couple of possible implementation options could be:
- Implement a SQS client factory (instead of SQS client) which can be configured t

[2019-02-28 22:20] #1012 closed

[2019-02-28 22:23] apanicker-nflx commented on #1011
Yes, this is possible.

When using the [WorkflowTaskCoordinator](https://github.com/Netflix/conductor/blob/master/client/src/main/java/com/netflix/conductor/client/task/WorkflowTaskCoordinator.java#L358-L367), the ack method followed by the execute ensures that the same task is not executed multiple times by different task workers.

[2019-02-28 22:23] #1011 closed

[2019-02-28 22:35] apanicker-nflx commented on #999
`docker-compose build` builds the conductor server and ui images successfully with the latest version.
Does a `./gradlew build` work fine in your case?

[2019-02-28 22:39] apanicker-nflx commented on #740
Conductor will find the queue from the queueName in the region and account that it is deployed in and will start listening on this queue for events.

[2019-02-28 22:39] #740 closed

[2019-02-28 22:47] kishorebanala commented on #914
@ndidi-did Please make sure your dynomite cluster name is correct. I'm not sure if you local dynomite cluster name is `dyno_cluster_name` (which is a placeholder in readme), but it is supposed to be replaced by your running cluster name. Please refer to docker implementation for example.

I'm closing this issue as it's been a while, please feel free to reopen if you still have questions.

[2019-02-28 22:47] #914 closed

[2019-02-28 22:49] apanicker-nflx commented on #1004
Please follow steps [here](https://netflix.github.io/conductor/intro/#start-local-server) to run the server locally.

[2019-02-28 22:49] #1004 closed

[2019-02-28 22:53] kishorebanala commented on #1013
@Bethalaayyappa MySQL and Redis persistence modules would be great references in implementing new Persistence module. Cassandra implementation is [partial](https://github.com/Netflix/conductor/blob/master/cassandra-persistence/README.md ) at this time.

Please consider these factors into your implementation:

- Maintainability: Supporting the module, w.r.to answering questions, reviewing pull requ

[2019-03-01 09:06] MaksimRT commented on #1017
@apanicker-nflx Yes, sure. Thanks for replay.

I would like to make a workflow.
The workflow consists of two tasks.
If a task in the workflow fails then I would like to notify client about it by calling another task.

[2019-03-01 09:40] iamthadiyan commented on #999
No, `./gradelw build` fails with the same error.

Also I am not able to get the resource https://dl.bintray.com/netflixoss/oss-candidate/io/chaossystems/grpc/grpc-healthcheck/1.0.1/grpc-healthcheck-1.0.1.pom from a browser also.

[2019-03-01 18:40] jkaipa commented on #1019
Event handler with the below modification works. I am not sure yet on the
${source.externalId.workflowId}
{
    "name": "task_100_event_handler",
    "event": "conductor:test8:event_0",
    "condition": "1==1",
    "actions": [
      {
        "action": "complete_task",
        "complete_task": {
          "workflowId": "${workflowInstanceId}",
          "taskRefName": "task_100"
        },

[2019-03-02 01:19] animathe opened #1020 "searchArchivableWorkflows test fails while trying to build server"
hi,
       I'm trying to build jar of of latest conductor changes, using "gradle build" command. It fails with following test case failure.

com.netflix.conductor.dao.es5.index.TestElasticSearchRestDAOV5 > testSearchArchivableWorkflows FAILED
    org.awaitility.core.ConditionTimeoutException at TestElasticSearchRestDAOV5.java:309
        Caused by: java.lang.AssertionError at TestElasticSearchRest

[2019-03-02 01:27] apanicker-nflx commented on #962
Please refer the documentation [here](https://netflix.github.io/conductor/externalpayloadstorage/) for using the external s3 payload storage. You can extend this to provide your own implementation by following the steps [here](https://netflix.github.io/conductor/extend/#external-payload-storage).

If you are not using the Java client, please feel free to contribute your implementation for this in

[2019-03-02 01:27] #962 closed

[2019-03-02 01:48] apanicker-nflx commented on #1017
There are 2 possible ways in which you can choose to achieve this:

1. Using a failure workflow.
    - Set the `failureWorkflow` field in your workflow definition to the name of the workflow that should be triggered when this workflow fails.
    - The task to notify client in case of failure could be a task in this failure workflow.

2. Using the Workflow Status Listener.
   - Set the `workflowSta

[2019-03-02 01:48] #1017 closed

[2019-03-02 01:49] apanicker-nflx commented on #1017
Closing this issue for now, please reopen if this does not answer your question.

[2019-03-02 02:01] apanicker-nflx commented on #1019
Thanks @jkaipa for answering. I have fixed the documentation to reflect this.
Also, please refer the developer labs [here](https://netflix.github.io/conductor/labs/eventhandlers/) to acclimatize yourself to the usage of event handlers.

[2019-03-02 02:01] #1019 closed

[2019-03-02 02:04] apanicker-nflx commented on #829
@mudit3774 The RedisDAO does not call IndexDAO internally anymore. This has been extracted to a higher level service. It would be a nice-to-have enhancement to be able to call the async methods within the IndexDAO from within this layer. Please feel free to contribute to this enhancement.

[2019-03-02 02:04] #829 closed

[2019-03-02 02:07] apanicker-nflx commented on #821
@animagus32 Please try starting the server using the latest conductor versions 2.7.+
From within the docker folder, try running `docker-compose build`.

Closing this issue as it does not seem to error out anymore.

[2019-03-02 02:07] #821 closed

[2019-03-02 02:13] apanicker-nflx commented on #741
The documentation should be fixed now. Please refer [this](https://netflix.github.io/conductor/server/#3-use-the-pre-configured-docker-image) to start the server in a docker container and access the UI.

[2019-03-02 02:13] #741 closed

[2019-03-02 02:14] apanicker-nflx commented on #758
Thanks @saidatta for providing the answer.

[2019-03-02 02:14] #758 closed

[2019-03-02 02:16] apanicker-nflx commented on #754
Closing this issue as the relevant PRs have been merged and the fixes have been applied. thanks @jvemugunta , @mashurex and @gsambasiva for your contributions.

[2019-03-02 02:16] #754 closed

[2019-03-02 02:19] apanicker-nflx commented on #752
@Jiehong Thank you for the feedback. We have started adding [release notes](https://github.com/Netflix/conductor/releases) recently. Also, the documentation has been updated to reflect the new features and fields and we will be more careful and diligent about these going forward.

[2019-03-02 02:19] #752 closed

[2019-03-02 02:24] apanicker-nflx commented on #751
@xaka With the changes to Conductor 2.0, any changes made to the workflow or task definitions after a workflow has been started will not affect the existing (RUNNING) workflows. The workflow and task definitions are locked in with the workflow execution.
With regards to versioning, use the `version` field within the workflow definition to differentiate/safeguard against changes as a best practice.

[2019-03-02 02:24] #751 closed

[2019-03-02 02:25] apanicker-nflx commented on #750
Thanks for the feedback. The documentation has been fixed.

[2019-03-02 02:25] #750 closed

[2019-03-02 02:29] apanicker-nflx commented on #732
@animagus32 The `reason` that is passed as input to the `failureWorkflow` is the reasonForIncompletion which is set on the task whose failure caused the workflow to fail.

@APrakash1989 Please open a new issue detailing your use-case and the issue that you are running into. Also please go through the documentation [here](https://netflix.github.io/conductor/) to learn more about how to use conducto

[2019-03-02 02:29] #732 closed

[2019-03-02 02:31] apanicker-nflx commented on #728
Closing this issue because using the ES Rest client resolves the connectivity issue with AWS managed ElasticSearch.

[2019-03-02 02:31] #728 closed

[2019-03-02 02:32] apanicker-nflx commented on #726
Please provide a complete stack trace or error logs to help debug this.
Closing this issue for now as it has been dormant for a while and we haven't been able to reproduce this. Please reopen if you still run into this.

[2019-03-02 02:32] #726 closed

[2019-03-02 02:34] apanicker-nflx commented on #721
Thanks @saidatta for your response.
@amitprakash30 @APrakash1989 Please refer the documentation [here](https://netflix.github.io/conductor/) to learn more about how to create tasks and workflows.
Please go through the [beginner labs](https://netflix.github.io/conductor/labs/beginner/) to get a quick feel about how conductor can be used in your use-case.

[2019-03-02 02:34] #721 closed

[2019-03-02 02:36] apanicker-nflx commented on #769
@picaron Thanks for your response.
@rajeshik Currently, only the basic authentication (OAuth 1.0) is supported. Please feel free to make a contribution for OAuth 2.0 authentication support.

[2019-03-02 02:36] #769 closed

[2019-03-02 02:37] apanicker-nflx commented on #775
@panthony Thanks for the feedback. We have updated the documentation and fixed the issue.

[2019-03-02 02:37] #775 closed

[2019-03-02 02:40] apanicker-nflx commented on #776
@jvemugunta Thanks for your response and the contribution towards the fix.
@panthony You are on the right track, the `responseTimeoutSeconds` is intended to be used as a heartbeat mechanism from the workers to ensure that the task is processed and the worker has not died while processing the task. Please refer the documentation [here](https://netflix.github.io/conductor/tasklifecycle/#response-tim

[2019-03-02 02:40] #776 closed

[2019-03-02 02:45] apanicker-nflx commented on #786
Please use the latest conductor version 2.7.+ . This issue should be resolved in the newest versions.

[2019-03-02 02:45] #786 closed

[2019-03-02 02:47] apanicker-nflx commented on #816
Please refer to the documentation [here](https://netflix.github.io/conductor/metrics/server/#publishing-metrics) to learn more about how to publish metrics from conductor.

[2019-03-02 02:47] #816 closed

[2019-03-02 02:48] apanicker-nflx commented on #600
Please refer the documentation [here](https://netflix.github.io/conductor/metrics/server/#publishing-metrics) to publish metrics from conductor.

[2019-03-02 02:48] #600 closed

[2019-03-02 02:50] apanicker-nflx commented on #770
Currently there are no plans (in the short-term future) to publish the conductor docker image to docker hub. However, as @saidatta mentioned you can create your own docker image from the docker folder.

[2019-03-02 02:50] #770 closed

[2019-03-02 02:53] apanicker-nflx commented on #767
@kchaturanga The tasks `somename_activity_1` and `somename_activity_2` are HTTP tasks, which effectively mean that they are [system tasks](https://netflix.github.io/conductor/configuration/systask/#http). System tasks are executed within the conductor server and the server manages the complete lifecycle of such tasks and `callbackAfterSeconds` cannot be set on such tasks.
If you were to implement

[2019-03-02 02:53] #767 closed

[2019-03-02 02:56] apanicker-nflx commented on #720
Thanks @jkaipa for the response.
@MohneeshParkhi Please refer the documentation [here](https://netflix.github.io/conductor/gettingstarted/client/#worker) to learn more about how to implement your worker.

[2019-03-02 02:56] #720 closed

[2019-03-02 02:58] apanicker-nflx commented on #719
@manudilipshah In the example above, you are not really using repeatable workflows (I am assuming you mean recursive/re-entrant). Although the name `restartWorkflow` is re-used. The first `name` field is the name of the workflow. However, the second `name` field is the name of the task and these are mutually exclusive. This should not create any issues.

[2019-03-02 02:58] #719 closed

[2019-03-02 03:00] apanicker-nflx commented on #707
@ZakariaAmri Currently, we do not have a UI tool to help with modeling workflows. However, this is a long-term goal and we would welcome any contributions from the community in this regard.

[2019-03-02 03:00] #707 closed

[2019-03-02 03:01] jkaipa commented on #953
This is now available in dev branch. Closing the issue.

[2019-03-02 03:01] #953 closed

[2019-03-02 03:02] apanicker-nflx commented on #701
Thanks @josedab for your response.
@dileepkeely As suggested, the kitchensink workflow is meant to be used as an example only. For production flows, please use the metadata APIs [here](https://netflix.github.io/conductor/apispec/#task-workflow-metadata) to register your JSON-DSL based workflow and task blueprints with the conductor server.

[2019-03-02 03:02] #701 closed

[2019-03-02 03:02] apanicker-nflx commented on #697
Please use the latest conductor version 2.7.+ . This issue should be resolved in the newer versions.

[2019-03-02 03:02] #697 closed

[2019-03-02 03:04] apanicker-nflx commented on #692
Please follow the instructions [here](https://netflix.github.io/conductor/server/#1-build-from-source) for starting the server.

[2019-03-02 03:04] #692 closed

[2019-03-02 21:30] apanicker-nflx commented on #647
@rverma-nikiai Please follow the documentation [here](https://netflix.github.io/conductor/extend/#backend) to provide an implementation for dynamodb as the backend.

[2019-03-02 21:30] #647 closed

[2019-03-02 22:18] apanicker-nflx commented on #661
I would recommend reading the conductor documenation [here](https://netflix.github.io/conductor/metrics/server/#publishing-metrics) spectator documentation [here](http://netflix.github.io/spectator/en/latest/) to publish metrics to atlas using spectator.

[2019-03-02 22:18] #661 closed

[2019-03-02 22:26] apanicker-nflx commented on #665
Closing this issue for now.

[2019-03-02 22:26] #665 closed

[2019-03-02 22:28] apanicker-nflx commented on #680
Closing this issue as this has already been answered.

[2019-03-02 22:28] #680 closed

[2019-03-02 22:49] apanicker-nflx commented on #623
Closing since already answered.

[2019-03-02 22:49] #623 closed

[2019-03-02 22:52] apanicker-nflx commented on #622
Please follow the updated documentation [here](https://netflix.github.io/conductor/gettingstarted/basicconcepts/) on how to get started with using conductor. Also, please go through the [developer labs](https://netflix.github.io/conductor/labs/beginner/) to acclimatize yourself.

[2019-03-02 22:52] #622 closed

[2019-03-02 22:53] apanicker-nflx commented on #613
@manudilipshah Along with unit tests, also submit integration tests which are executed in the test-harness module, if you are contributing a new persistence module.

[2019-03-02 22:53] #613 closed

[2019-03-02 22:54] apanicker-nflx commented on #603
Closing since this is already answered.

[2019-03-02 22:54] #603 closed

[2019-03-02 22:55] apanicker-nflx commented on #596
Please try running `docker-compose build` with the latest conductor versions - 2.7.+
This should be resolved in the newer versions.

[2019-03-02 22:55] #596 closed

[2019-03-02 22:56] apanicker-nflx commented on #565
@veveeranishwar Please follow the documentation [here](https://netflix.github.io/conductor/configuration/workflowdef/#wiring-inputs-and-outputs) to learn about wiring tasks together in your workflow.

[2019-03-02 22:56] #565 closed

[2019-03-02 22:58] apanicker-nflx commented on #562
@Nitishsri85 Please follow the documenation [here](https://netflix.github.io/conductor/gettingstarted/startworkflow/#start-workflow-request) to learn more about starting the workflow that you have created with the necessary parameters.

[2019-03-02 22:58] #562 closed

[2019-03-02 23:01] apanicker-nflx commented on #551
This seems similar to #953 which has been merged to dev in #979. We will release this soon once testing is completed.

[2019-03-02 23:01] #551 closed

[2019-03-02 23:04] apanicker-nflx commented on #308
Please follow the documentation [here](https://netflix.github.io/conductor/gettingstarted/client/#workflowtaskcoordinator) on configuring the WorkflowTaskCoordinator.
Multiple workers for the same taskDef would mean that multiple tasks of the same taskDef can be executed at the same time.

Currently, threads are not assigned to workers, rather idle workers utilize available threads from the thread

[2019-03-02 23:04] #308 closed

[2019-03-03 20:53] jkaipa opened #1022 "Event UI representation"
Any thoughts on changing the shape for event? This marijuana shaped polygon is appearing quite big if the event reference name is a little longer.

[2019-03-04 07:17] kchaturanga commented on #767
Thank you :) ..

[2019-03-04 09:17] MaksimRT commented on #1017
@apanicker-nflx

I tried the first approach "Using a failure workflow".
It really works as expected!
Thanks you very much!

Maybe later add information in documentation about how to handle errors in workflows?

[2019-03-04 15:46] jkaipa opened #1023 "Event & Wait Issue"
@apanicker-nflx
I have a workflow where every **event** task is followed by a **wait** task. In ideal situation, the **event** task publishes the message and when conductor schedules **wait** task, the **wait** task listens to the success/failure queue for external message. When too many instances of the same workflow is in progress, the conductor is taking too long time before scheduling the **wa

[2019-03-04 16:01] apanicker-nflx commented on #1017
Glad that helped. Thanks for the feedback, I will add this to the FAQ section.

[2019-03-04 19:31] kishorebanala commented on #1023
@jkaipa I'm not sure if adding a EVENT_WAIT task would help in this case.

Can you provide an example for this please? I'd like to see the Start and End times of Event and consecutive wait task, if possible.

[2019-03-04 20:22] jkaipa commented on #1023
@kishorebanala I have an integration with an external system through a sink (some queue implementation). Source is publishing event to the queue and the Consumer is responding much quicker.

[code]
"callBackInfo" in the event request is used by the consumer to post bask the message with specific task reference name into success/failure queue.
If the response from consumer into success/failure queu

[2019-03-05 00:34] #985 closed

[2019-03-05 01:17] fnolla-carecloud opened #1024 "700kb payload in http response breaking ui/conductor"
i have a rest call which gets a response of about 700kb.
![image](https://user-images.githubusercontent.com/26090625/53772580-e5167380-3eb4-11e9-82db-35ff096aef62.png)
It causes the ui to start doing some funky things and gets stuck in a running state and eventually gives me a gateway timeout error in the ui.
![image](https://user-images.githubusercontent.com/26090625/53772617-037c6f00-3eb5-11e9-9

[2019-03-05 09:13] naveenchlsn commented on #1018
HI @kishorebanala .
I am planning on adding parameters only to the HTTP task.
I will take the parameters as part of the HTTP input object, with a fallback to system configuration.

I have raised a PR . Please let me know your thoughts.
 https://github.com/Netflix/conductor/pull/1025

[2019-03-05 10:54] kchaturanga commented on #563
Found the issue , data error  in workflow input

[2019-03-05 10:54] #563 closed

[2019-03-05 11:01] kchaturanga opened #1026 "Just curious .. What is the reason for pattern in this memory graph ?"
Internal Elastic search + AWS redis service
24 hour JVM graph of conductor server ..

I found this pattern in the 24 hour memory graph . Any specific  reason  for this pattern ? Just curious ..

![screenshot from 2019-03-05 16-21-09](https://user-images.githubusercontent.com/2740501/53800765-75ab8d00-3f63-11e9-8b97-5c2ec6365882.png)

Note : please close this issue if inappropriate ..

[2019-03-05 13:43] MaksimRT commented on #1019
@apanicker-nflx Thank you very much for the example!
I checked it and it works as expected!

[2019-03-05 13:45] MaksimRT commented on #1019
@apanicker-nflx I have a small question. Is it possible to fire an event via REST API?

[2019-03-05 14:14] MaksimRT opened #1027 "Is it possible to add a PostgresSQL support?"
- Is it possible to add a PostgresSQL support, for example based on "mysql-persistence"?
- What is the performance of "mysql-persistence" storage engine compare to the Dynomite storage engine?

[2019-03-05 14:14] MaksimRT opened #1028 "Does the conductor support data migration in case of schema changes?"

[2019-03-05 14:17] MaksimRT opened #1029 "Does the conductor suport authorization for admin UI?"

[2019-03-05 15:49] andrea11 opened #1030 "Task versioning"
Hello everybody,
I follow this project since several months and I am very surprise of the work that you did it.
I was wondering which is your position about an eventual task versioning. Is it faisable? And do you think that there is any chance that it will be implemented one day?
And further more, do you have a roadmap for the next months?

Thank you

[2019-03-05 23:05] kishorebanala commented on #566
Please check this new Exclusive Join task to achieve this: https://netflix.github.io/conductor/configuration/systask/#exclusive-join

[2019-03-05 23:05] #566 closed

[2019-03-06 09:13] garreananth commented on #759
Even I have encountered this problem when all subtasks are COMPLETED the workflow is still showing as RUNNING, is their any workaround for this (other than clicking PAUSE and RESUME) ?

Conductor Version: 1.9.0-SNAPSHOT | Build Date: 2018-05-07_17:26:13

[2019-03-06 14:56] naveenchlsn opened #1031 "Construct of "goto" task."
Hi,
We are interested in adding loop construct to conductor

There are similar discussions in old tickets.  https://github.com/Netflix/conductor/issues/938.

One approach would be to add goto construct. In addition, have the ability to run a task multiple times,
saving each execution.

@cyzhao @apanicker-nflx @v1r3n @mashurex @kishorebanala  Can you please let us know your thoughts, so we can work

[2019-03-07 07:54] rajanigk opened #1033 "unable to build conductor gradlew build"
when i try to build conductor using ./gradlew build it fails with the following error.

com.netflix.conductor.dao.cassandra.CassandraExecutionDAOTest > testWorkflowCRUD FAILED
    java.lang.AssertionError at CassandraExecutionDAOTest.java:55
    java.lang.NullPointerException at CassandraExecutionDAOTest.java:63

com.netflix.conductor.dao.cassandra.CassandraExecutionDAOTest > testTasksCRUD FAILED

[2019-03-07 11:07] andrea11 commented on #1031
Hello @naveenchlsn,
Indeed this will be very helpful. But they could be considered as two different features.
I would be interested as well in knowing the position of @cyzhao @apanicker-nflx @v1r3n @mashurex @kishorebanala about that.

Were you thinking about a static loop or a dynamic loop (like FORK or DYNAMIC_FORK) ?

[2019-03-07 19:09] mgregory-carecloud opened #1035 "Roughly 0.5 second gap between http tasks"
I'm consistently seeing a gap of ~0.5 seconds between the end of one task and the beginning of the next task that is severely slowing down my workflow. I'm running conductor using `docker-compose up` locally. I'm not sure what the problem is. Any guidance would be greatly appreciated.
![image](https://user-images.githubusercontent.com/22304107/53982327-9fd78900-40e2-11e9-96fd-51dc9400db4f.png)

[2019-03-07 21:40] kishorebanala commented on #1030
@andrea11 Thanks for your kind words. We don't have any plans to implement Task versioning at the moment, but it would be nice to have. Also, we're in the process of building backlog instead of roadmap as reference.

[2019-03-07 21:40] #1030 closed

[2019-03-07 21:44] kishorebanala commented on #1023
@jkaipa That makes sense. But, we'd still prefer to fix current eventing mechanism to consider this, over creating a new Task. If you have ideas on how to do this, or if you're thinking of creating a PR, please let us know. Thank you.

[2019-03-07 22:55] cyzhao commented on #1031
@naveenchlsn contributions are always welcome, please provide details on how you plan to add the support so we can discuss here, once we all agree with the approach then you can start working on it.

[2019-03-08 15:45] jdoupe commented on #600
Not quite up to spec with the docs, but workable solution for providing prometheus endpoint:
https://github.com/Netflix/conductor/compare/master...jdoupe:add-prometheus-support?expand=1

[2019-03-08 22:03] kishorebanala commented on #1020
@animathe I've increased timeouts for the failing test, and it is working fine: https://github.com/Netflix/conductor/pull/1039. Please let us know if you still see this issue.

[2019-03-08 22:03] #1020 closed

[2019-03-08 22:15] kishorebanala commented on #1035
Hey @mgregory-carecloud, the way Workflow evaluates after each step, and completes the lifecycle of HttpTask (asynchronously), ~0.5 seconds sounds reasonable to me. If you're expecting to send a batch of requests in sub second, I'd suggest to do them in a worker.

[2019-03-08 22:16] kishorebanala commented on #1033
@rajanigk I cannot reproduce this locally. Can you please post your configuration. Also, can you update to latest release and try again.

[2019-03-08 22:18] kishorebanala commented on #1029
Hey @MaksimRT, no, Conductor UI doesn't support authorization at this time.

[2019-03-08 22:35] kishorebanala commented on #1016
Hey @samhattangady, that would be great. The best way to link back is to maintain python client with in Conductor repo. That way, all the contributions to python client could stay in one place. Also, users can simply verify the authenticity of client over plethora of others (if available) on pypi. We'd be glad to work with you through this process. Thanks for your efforts.

[2019-03-08 22:37] kishorebanala commented on #1022
@jkaipa I believe the event polygon resizes automatically with space available. But, if you have better suggestions, let us know.

[2019-03-08 22:44] kishorebanala commented on #676
@AlexeyPirogov No, Conductor UI doesn't support Authentication and Authorization at this time.

[2019-03-08 22:44] #676 closed

[2019-03-08 22:47] kishorebanala commented on #675
@MLauri You're right, Event Handler expects Workflow Id and Task reference name or Id. We have it in our roadmap to support Event multiplexing and demultiplexing, but feel free to send a PR.

[2019-03-08 22:47] #675 closed

[2019-03-09 08:04] fnolla-carecloud commented on #1035
@kishorebanala so are you saying that if they were workers they wouldn’t have a 500 millisecond delay between each call? These tasks should be asynchronous and could be separate tasks that are ran by workers but would still need to be ran sequentially and not parallel. So I am curious if this will elimate that delay and also if so I am curious as to why?

[2019-03-11 01:27] kishorebanala commented on #1035
Pardon if I was not clear in above response. From your example, Tasks 4-9 are all Http tasks, and I think you'd like to execute them sequentially. I'm suggesting to keep them all in one Worker task, and send all these requests from the Worker. I.e Instead of Http Tasks 4-9, there would be only one Worker task.

That way, you'd avoid scheduling multiple Http tasks asynchronously, and might save on

[2019-03-11 01:27] #1029 closed

[2019-03-11 03:02] fnolla-carecloud commented on #1035
While I agree with you that it is possible to make all of those calls happen in a worker there is still a 500ms gap between a decision task and an HTTP request. You can see that between step 3 & 4. Even if we changed them to be 1 call we would still have that delay between tasks which is a problem.

If you could point me to the code that would be great.

[2019-03-11 04:13] fnolla-carecloud commented on #1035
I tried a quick sample using the go client and just polling for the task as if they were workers. These tasks did nothing and just returned the sample response that the client has. I guess what my question is, is there anyway to speed up the time between tasks. Here it is about 200ms between each task. I am running on my local with docker compose.
![image](https://user-images.githubusercontent.com

[2019-03-11 04:50] samhattangady commented on #1016
Sure. I will get started on this.

[2019-03-11 05:08] saidatta commented on #759
@dskarataev Can you try binding the workflowSweeper as an eagerSingleton in `ServerModule` or Try the latest conductor-server that has that fix?

[2019-03-11 05:18] samhattangady commented on #1016
I am looking to convert several of the methods in `ConductorWorker` to internal methods. The way I see it, only `__init__` and `start` should be public methods. All the other methods (`execute` and `poll_and_execute`) should be internal.
However, these changes will be backward incompatible.

I would also like to add a `consume` methods, which executes one task (or a fixed number of tasks) and then

[2019-03-11 06:53] rajanigk commented on #1033
i copied the condustor-master.zip to a freshly created linux ec2 instance on aws. No gradle was installed.
As per the documentation present in https://netflix.github.io/conductor/server/ , i unzipped the zip file and execute ./gradlew build, which downloaded the gradle version 4.8.1, and then after 95% of  the build, this error was thrown.

[2019-03-11 08:34] sunnygupta1890 commented on #1004
@apanicker-nflx this link is not working. Would you please paste a working link?

[2019-03-11 14:43] tafael commented on #1035
Hi @fnolla-carecloud, i managed to decrease delay between sequencial tasks by changing the class com.netflix.conductor.core.execution.tasks.SystemTaskWorkerCoordinator at this line:

List<String> polledTaskIds = queueDAO.pop(taskName, realPollCount, 200);

to

List<String> polledTaskIds = queueDAO.pop(taskName, realPollCount, 0);

Before it was wating up to 200 ms before returning polledTasksIds.

[2019-03-11 16:51] apanicker-nflx commented on #1004
Apologies for the broken link, please use this [link](https://netflix.github.io/conductor/architecture/#start-local-server). Also, please refer the complete documentation at [https://netflix.github.io/conductor/](https://netflix.github.io/conductor/).

[2019-03-11 19:21] itsmshani opened #1042 "How to pass proxy server in HttpTask"
Is there a way to pass a proxy server and port to the http task?

[2019-03-11 20:48] saidatta commented on #759
Btw, After my change I talked about above, I am not seeing this change. If its a higher priority for you guys, then I would recommend taking a look at that to see if its an appropriate approach.

[2019-03-11 22:49] kishorebanala commented on #1042
@itsmshani How do you intend to use a proxy server in the Http task?

If the provided Http task implementation doesn't meet your needs, feel free to extend and plug-in your own implementation.

[2019-03-11 22:51] kishorebanala commented on #1028
Hey @MaksimRT, what schema are you referring to in Dynomite?

[2019-03-11 22:55] kishorebanala commented on #1027
@MaksimRT Please refer to this issue about adding new database support: https://github.com/Netflix/conductor/issues/1013.

Someone in the community who is using MySql in production might best answer your questions about performance comparison.

[2019-03-11 22:55] #1027 closed

[2019-03-11 23:10] apanicker-nflx commented on #984
@dskarataev Thanks for testing and the feedback. We are looking into #759 and will post an update soon. Please follow along on #759

[2019-03-11 23:10] #984 closed

[2019-03-11 23:12] apanicker-nflx commented on #944
@jagadeeshb22 Please refer to the documentation of the `EXCLUSIVE_JOIN` [here](https://netflix.github.io/conductor/configuration/systask/#exclusive-join). This should fulfill the use-case that you suggested.

[2019-03-11 23:12] #944 closed

[2019-03-11 23:15] kishorebanala commented on #999
@iamthadiyan Can you try making sure to include ```repositories{
    maven { url "https://dl.bintray.com/chaos-systems/mvn" }
}``` in conductor-grpc's build.gradle, and that you're referring to https://dl.bintray.com/chaos-systems/mvn/io/chaossystems/grpc/grpc-healthcheck/1.0.1/ for above mentioned dependency.

[2019-03-11 23:17] kishorebanala commented on #999
This should've been available in latest versions. I'm closing this issue, but please feel free to reopen is you still see issues.

[2019-03-11 23:17] #999 closed

[2019-03-11 23:22] apanicker-nflx commented on #891
Closing this issue due to inactivity. Please reopen if you are still seeing this issue.

[2019-03-11 23:22] #891 closed

[2019-03-11 23:25] apanicker-nflx commented on #873
Are you still seeing this issue in the latest versions - 2.7.+?
Please test this workflow on the newest version and reopen this if you still see this.

[2019-03-11 23:25] #873 closed

[2019-03-11 23:27] apanicker-nflx commented on #873
Also, please submit your workflow definition and task definitions that you used to run this workflow, so that we can try to reproduce an issue.

[2019-03-11 23:27] kishorebanala commented on #1016
@samhattangady Breaking backwards compatibility at once would be troublesome for lots of users. I'd suggest to keep separate major versions of client. I.e the existing client could be 1.x and new client with breaking changes could be 2.x; This should be mentioned explicitly in client versions, so that users doesn't accidentally switch to one over other.

I'm not sure if I understood this. Would yo

[2019-03-11 23:27] apanicker-nflx commented on #837
Closing this issue as it has been answered/fixed.

[2019-03-11 23:27] #837 closed

[2019-03-12 00:50] apanicker-nflx commented on #626
From the logs and error messages posted above, it seems that dynomite is not setup correctly to be used. Please follow the documentation [here](https://netflix.github.io/conductor/server/#configuration-parameters) to ensure your configuration is correct.

[2019-03-12 00:50] #626 closed

[2019-03-12 00:54] apanicker-nflx commented on #681
@startan You can use the `workflowStatusListenerEnabled` in the [WorkflowDefinition](https://netflix.github.io/conductor/configuration/workflowdef/#workflow-definition) to enable sending out notifications when workflow enters a terminal state. Please follow the documentation [here](https://netflix.github.io/conductor/extend/#workflow-status-listener) to extend this to wire up your custom implement

[2019-03-12 00:54] #681 closed

[2019-03-12 00:56] apanicker-nflx commented on #684
Closing this as the associated PR has been closed.

[2019-03-12 00:56] #684 closed

[2019-03-12 00:57] #601 closed

[2019-03-12 01:00] apanicker-nflx commented on #571
@saidatta Thanks for the response. Please follow the documentation [here](https://netflix.github.io/conductor/configuration/workflowdef/#wiring-inputs-and-outputs) to learn more about this.

[2019-03-12 01:00] #571 closed

[2019-03-12 01:00] apanicker-nflx commented on #547
Closing this as this does not seem to be an issue in the newer versions with changes from OP.

[2019-03-12 01:00] #547 closed

[2019-03-12 01:03] apanicker-nflx commented on #553
@loisoft You could convert this value to a property that is read when the server starts up thus making it configurable.

[2019-03-12 01:03] #553 closed

[2019-03-12 01:07] apanicker-nflx commented on #536
Thanks for the feedback and the suggestions.
As @unikzforce mentioned,

This gives the most configurable way to achieve this.
Please feel free to submit a PR and we will be happy to review and merge.

[2019-03-12 01:10] apanicker-nflx commented on #538
Please upgrade to the newest versions (2.7.+).
Please reopen if you still see the issue.

[2019-03-12 01:10] #538 closed

[2019-03-12 01:19] apanicker-nflx commented on #560
You can use the `caseExpression` field like so:
[code]

[2019-03-12 01:19] #560 closed

[2019-03-12 01:24] apanicker-nflx commented on #539
Thanks for the feedback. We will add a fix for this.

[2019-03-12 01:24] #539 closed

[2019-03-12 01:27] apanicker-nflx commented on #534
If the order in which these 2 tasks are executed are always the same, you can consider moving them into a SUB_WORKFLOW. Please follow the documentation [here](https://netflix.github.io/conductor/configuration/systask/#sub-workflow)

[2019-03-12 01:27] #534 closed

[2019-03-12 01:30] apanicker-nflx commented on #516
Please follow the documentation [here](https://netflix.github.io/conductor/gettingstarted/client/#worker) to learn more about using the Worker and the WorkflowTaskCoordinator which provides a framework and automates the polling and managing the execution thread for a task within a worker.

[2019-03-12 01:30] #516 closed

[2019-03-12 01:31] apanicker-nflx commented on #511
@juaby Please upgrade to the newest version (2.7.+). This issue should be resolved in the newer versions.
Please reopen if you still see this issue.

[2019-03-12 01:31] #511 closed

[2019-03-12 01:34] apanicker-nflx commented on #561
Closing this issue due to inactivity.
Please follow the documentation [here](https://netflix.github.io/conductor/server/#3-use-the-pre-configured-docker-image).

[2019-03-12 01:34] #561 closed

[2019-03-12 01:34] apanicker-nflx commented on #573
Closing this issue as an associated PR #967 has been merged.

[2019-03-12 01:34] #573 closed

[2019-03-12 01:40] apanicker-nflx commented on #543
Please use the [WorkflowTaskCoordinator](https://netflix.github.io/conductor/gettingstarted/client/#workflowtaskcoordinator) which provides a framework and automates the polling of tasks and managing the execution threads of tasks within workers. The WorkflowTaskCoordinator ensures that when multiple workers are polling for the same task, only one worker will actually process a given task. This is

[2019-03-12 01:40] #543 closed

[2019-03-12 01:45] apanicker-nflx commented on #589
@jagadeeshb22 Thanks for the feedback. We plan to integrate with static code analysis tools like SonarQube soon and fix issues as necessary wrt impact and priority. Please feel free to submit a PR with any fixes that you consider as important and we will be happy to review and merge.

[2019-03-12 01:45] #589 closed

[2019-03-12 04:38] samhattangady commented on #1016
Alright. I think I'll avoid the breaking changes for now then. Will just focus on documentation.

Currently, the workers are designed as continuously running processes (possibly daemons). This ensures that tasks get executed as fast as possible.
I have another usecase for workers though. As stated above, some tasks like uploading or downloading are not particularly frequent. Also, I would like the

[2019-03-12 08:26] kishorebanala commented on #759
Apologies for delays, We've been running tests to identify root cause of this issue. It is primarily caused by concurrent executions of decide on a workflow. We're working on a fix using distributed locks as interface, and will try to push it as soon as possible. Thanks for your patience.

[2019-03-12 20:32] emiteze opened #1044 "Terminate task"
Hi guys,

I was wondering if it would be helpful to have a new system task that terminates the current workflow execution. During our usage, we found a specific case that when a condition is met on a conditional task, we want to terminate the execution, like the following picture:

[Image](https://imgur.com/a/jjk23YO) (sorry for the bad drawing)

I don't know if you guys already had faced this use

[2019-03-12 21:54] emiteze commented on #671
Hi guys,

We are currently running 2.8.1 version here and after running some performance tests using a workflow definition with ten http tasks forked, we had the same issue that was pointed here by @ro9er. Since in #871 there is a PR related already merged on conductor's master, we tought that this problem wouldn't happen again, but it did.

After running our performance test we observed this log

[2019-03-14 01:18] apanicker-nflx commented on #1044
@emiteze This can currently be achieved by setting a task to [FAILED_WITH_TERMINAL_ERROR](https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/metadata/tasks/Task.java#L39) status.
In this case, the workflow will be terminated. Also, in the case of forks, if one branch of the fork fails with this status, then the tasks in the other branches are marked

[2019-03-14 01:27] apanicker-nflx commented on #634
Please let us know if you see this issue with the newest releases (2.7.+).
Closing this issue for now.

[2019-03-14 01:27] #634 closed

[2019-03-14 10:59] MaksimRT commented on #1028
Hi @kishorebanala!
Thanks for response!
I know that NoSQL database such as Dynomite or Redis is schemaless, but you have a schema in the code, right?
So I want to know how do you handle appication upgrade.
For example, I have v2.7.2 (you could choose any other version), could I skip v2.8.0 and install v2.8.1?
What happen if I install v2.8.1 and then decide to rollback to v2.7.2?

I also have the s

[2019-03-14 21:26] jkaipa opened #1046 "Eventhandler - Unmatched condition"
I have a event handler listening on to a sink (queue). When a message is published into the queue the message is getting vanished even if the condition in the handler is evaluated to false. Shouldn't EventProcessor reject the message in this scenario?

[2019-03-15 00:49] kchristidis opened #1048 "Best Practices recommendation on responseTimeoutSeconds is incorrect"
`responseTimeoutSeconds` should be <= `timeoutSeconds` but [the existing documentation](https://github.com/Netflix/conductor/blob/f56de1a8c4e503dc71cd16421f57bc7b2960947e/docs/docs/bestpractices.md) suggests the opposite.

[2019-03-15 17:48] #1048 closed

[2019-03-15 20:31] amisol opened #1051 "Getting a blank page after running node dist/server.js"
To start Conductor UI in our server, we need to run node dist/server.js (after Jenkins successfully ran gulp build --release)

I'm getting the following output, but when navigating to localhost:3000 or localhost:5000 I get a blank page (app.js doesn't load anything)

{"name":"Conductor UI","hostname":"<host>","pid":73523,"level":30,"msg":"Serving static /Users/myuser/Dev/ConductorUI","time":"2019-

[2019-03-15 21:35] amisol commented on #1051
had to set node_env and few other things to get it to work

[2019-03-15 21:35] #1051 closed

[2019-03-15 22:10] emiteze commented on #1044
@apanicker-nflx I'm glad to hear that but I don't know if this solves our problem, since in our case we need to terminate the execution explicitly through workflow definition. In that way the workflow status would be completed or maybe that terminate task could be a FINISH TASK that receives the status that you want to set to workflow execution, sounding like an END STATE. Does that makes sense to

[2019-03-16 14:17] gregoirer opened #1054 "conductor:ui npm install failed"
Step 1/11 : FROM node:9-alpine
 ---> a56170f59699
Step 2/11 : MAINTAINER Netflix OSS <conductor@netflix.com>
 ---> Using cache
 ---> 475d5ce19b9b
Step 3/11 : RUN apk update && apk add   autoconf   automake   libtool   build-base   libstdc++   gcc   abuild   binutils   nasm   libpng   libpng-dev   libjpeg-turbo   libjpeg-turbo-dev   python
 ---> Using cache
 ---> b776d67dd815
Step 4/11 : RUN mkdir

[2019-03-16 14:25] gregoirer commented on #1054
By the way I may want to contribute (on python client), how do you proceed ?

[2019-03-18 07:53] MaksimRT opened #1056 "Is it possible to fire an event via REST API?"

[2019-03-18 13:10] naveenchlsn commented on #1031
Thanks @cyzhao.

### **Proposal.**
To support goto contruct in the workflow def, we can have a field "next" in the worflowtask,
containing the taskReferenceName of the task we want to execute after the current task.

### **Rationale**
This approach is similar to what [States Language](https://states-language.net/spec.html)  proposes.

### **Implementation.**
We can enhance the WorkflowDef.getNextT

[2019-03-19 02:03] apanicker-nflx commented on #1031
Hi @naveenchlsn, thanks for the proposal. We will review this and get back to you soon with feedback.

[2019-03-19 02:07] apanicker-nflx commented on #1046
Seems like this is because the message is acked on the queue [here](https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/events/EventProcessor.java#L155). Since the condition is not met, the message is not executed and this message is then acked (deleted from the queue). The EventProcessor is essentially "rejecting" this message in this scenario such that

[2019-03-19 04:27] samhattangady commented on #1016
I have added the docstrings for `ConductorWorker` in #1010.

[2019-03-19 07:30] choubisat opened #1057 "Task with output streams"
Conductor allows executing tasks in sequential order or in parallel using ( Fork or Dynamic Fork). However, the next task in a pipeline can only be scheduled once the previous task was completed. We need to orchestrate a workflow where the task_1: is uploading a user file. The upload task can generate Streams of output. Each data record say corresponds to a page or view in the file (or say few fra

[2019-03-19 15:41] jkaipa commented on #1046
@apanicker-nflx Is it not better to reject such a message if none of the handlers are matching the condition? If the message is rejected instead of ack, the publisher would have the ability to track such failed messages and can take further action.

[2019-03-19 17:06] robpickerill commented on #1054
I deleted `ui/package-lock.json` as it appeared to be outdated, allowing the npm install to recreate it.

[2019-03-20 09:17] Jiehong commented on #752
@apanicker-nflx : thanks!

[2019-03-20 14:15] mohelsaka opened #1059 "EXPONENTIAL_BACKOFF doesn't work with SUB_WORKFLOW type tasks"
We're using 2.6.0 version.
We have a task defined as the following:
[code]

It's being used in the WF in this way:
[code]

Here's a [screenshot](https://www.dropbox.com/s/adddd81wz2apox3/Screen%20Shot%202019-03-20%20at%203.10.08%20PM.png?dl=0) from conductor UI.

[2019-03-20 16:51] andrea11 opened #1060 "Optional Task"
Hello,
I was testing the functionality of "optional" set for a task. I was wondering why an optional task should not retry and pass to COMPLETED_WITH_ERRORS only when all retries failed.
Do you agree with this behaviour? Or the current one is working as expected?

Thank you

[2019-03-20 19:44] jkaipa commented on #1023
@kishorebanala Please review the  PR https://github.com/Netflix/conductor/pull/1058 and let me know your comments.

[2019-03-20 21:13] emiteze opened #1061 "Wrong times for decision and fork tasks"
During some tests we noticed that scheduled, start and end times for decision and fork tasks were a little bit confusing. We ran the above workflow:

![Screenshot from 2019-03-20 17-07-57](https://user-images.githubusercontent.com/13343278/54715831-1fc61000-4b33-11e9-9940-1de1ea5c965a.png)

Here are the resumed JSON from the execution that I took from conductor-ui:

[code]

In this case, DECISION

[2019-03-21 08:20] rajanigk opened #1062 "Can I set a timeout for a WAIT task"
Is it possible to set a timeout for the wait task. Let us say we are waiting for a sqs event to happen to wake up the wait state, and if the event does not happen with in a time period, then the wait task can timeout and the workflow can fail.

[2019-03-21 16:00] anshumanr opened #1065 "docker-compose - conductor server container is unhealthy"
I have been trying to start all services locally using docker compose following the instructions at [https://netflix.github.io/conductor/architecture/#installing-and-running](https://netflix.github.io/conductor/architecture/#installing-and-running). I overwrote the config.properties with config-local.properties in both _/conductor/docker/server_ & _/conductor/docker/serverAndUI_ directories. Doing

[2019-03-21 17:25] anshumanr commented on #1065
I did a rebuild with docker-compose so container-id has changed. Looks like elasticsearch started. I am completely new to dockers so I am not sure what those logs mean.

Creating network "docker_internal" with the default driver
Creating docker_elasticsearch_1 ... done
Creating docker_dynomite_1      ... done
ERROR: for conductor-server  Container "7be9f9b5288c" is unhealthy.
ERROR: Encountered er

[2019-03-22 09:15] NV4RE opened #1066 "How to disable callbackAfterSeconds options ?"
In my use case, I don't want task to visible to worker again after updated to "INPROGRESS", but I try to set callbackAfterSeconds to 0 and task always visible to worker again after updated the task

workflow def
[code]

task def
[code]

tasks update data
[code]

So I work around by set callBackAfter to 9007199254740991 to fix this, any better solution to fix this ?

ENV: docker
TAG: V2.8.3

[2019-03-22 09:29] NV4RE opened #1067 "Cannot set responseTimeoutSeconds to 0"
Ref document

responseTimeoutSeconds | If greater than 0, the task is rescheduled if not updated with a status after this time (heartbeat mechanism). Useful when the worker polls for the task but fails to complete due to errors/network failure. | defaults to 0
-- | -- | --

task def
[code]

conductor's response
[code]

But in reality the **default value is 3600** and it **cannot set to 0**

ENV: d

[2019-03-23 00:35] kishorebanala commented on #1067
Thanks for pointing this out. We've just updated the docs.

[2019-03-23 00:35] #1067 closed

[2019-03-23 00:36] apanicker-nflx commented on #1066
@NV4RE What is the use-case of setting the task to IN_PROGRESS and returning the task to the server, if you do not want this task to be visible to some other worker? An example use case would better help understand the problem you are trying to solve.

[2019-03-23 00:39] apanicker-nflx commented on #1062
@rajanigk Yes, you can register a task definition for the WAIT task with a timeout set to a particular value and this would cause the WAIT task to be timed out if no external event is received within that time.

[2019-03-23 00:39] #1062 closed

[2019-03-23 00:42] apanicker-nflx commented on #1061
@emiteze Thanks for pointing this out, please feel free to contribute a fix for this.

[2019-03-23 00:45] kishorebanala commented on #1056
Hey @MaksimRT, which event were you referring to? Can you provide more details and possibly an example for what you are trying to achieve.

[2019-03-23 01:28] apanicker-nflx commented on #1060
Currently, the contract of an optional task within Conductor is that the task failure is considered harmless for workflow execution and the workflow is allowed to progress in such a scenario. Retrying such a task is not considered as necessary and retries are skipped.

[2019-03-23 05:32] NV4RE commented on #1066
Hello @apanicker-nflx

We using conductor's workflow as same day delivery's flow
And workflow look like this

**register_consignment** -> **assign_driver** -> **transport**

**register_consignment**
 type: "SIMPLE"
 input: ["size", "delivery_address", "recipient"]
 output: ["parcel_id"]

**assign_driver**
 type: "SUB_WORKFLOW"
 input: ["parcel_id", "size", "delivery_address"]
 output: ["driver_id"

[2019-03-23 20:39] anshumanr commented on #702
I did not know how to get into those logs or how to `pack locally` so I changed the line
`&& npm install \`
to
`&& npm install --no-shrinkwrap --update-binary \`
This worked for me.

[2019-03-23 20:44] anshumanr commented on #1065
After some more digging (which mainly involved how docker & dockerfiles work), I finally have server & ui up using docker-compose.

1. I had the wrong configuration when i changed my ports, so I reverted all of that.

2. UI `Dockerfile` required changes. Specifically change this block
`RUN cd /app/ui \
  && npm install \
  && npm run build --server`
to this block
`RUN cd /app/ui \
  && npm install

[2019-03-23 20:44] #1065 closed

[2019-03-23 20:52] anshumanr commented on #1054
For the install i changed the command to `npm install --no-shrinkwrap --update-binary`. This worked for me.

[2019-03-25 07:12] rajanigk commented on #1062
WAIT_TASK is a system task, i used to not write a task definition for the same. After seeing this response i set the taskdef as follows, but the task did not timeout, it continued to be IN_PROGRESS state.  Can you tell me what mistake i am making in my taskdef or workflow definition?
 {
      "name": "response1",
      "retryCount": 1,
      "retryLogic": "FIXED",
      "retryDelaySeconds": 10,

[2019-03-25 07:15] rajanigk opened #1068 "Can I set a timeout for a WAIT TASK"

[2019-03-25 07:17] rajanigk commented on #1068
This is related the issue https://github.com/Netflix/conductor/issues/1062, it was closed so i had to open another issue. As per the comment in the issue 1062, we can set timeout for the WAIT TASK.
WAIT_TASK is a system task, i used to not write a task definition for the same. After seeing this response i set the taskdef as follows, but the task did not timeout, it continued to be IN_PROGRESS stat

[2019-03-25 10:16] mohelsaka commented on #1059
I think I found the reason, and I know the fix but need some "ACK" from your first before doing it.

Retry policy works w/ a System Task like "HTTP", and the difference in the implementation between "HTTP" and "SUB_WORFLOW" task is that [HTTP is declared to be "async"](https://github.com/Netflix/conductor/blob/1efc707376f850628284f7f01f1a05f7fe48abc5/contribs/src/main/java/com/netflix/conductor/co

[2019-03-26 09:55] ml- commented on #1033
This seems to be a very expensive test and it fails if there are not enough resources. At least this was the reason why it failed for us. After wasting a lot of time with this we went the Java way and threw more RAM at it.

[2019-03-26 09:57] rajanigk commented on #1033
even gradlew server also fails if not gradle is installed on the system

[2019-03-26 10:20] rajanigk opened #1069 "HTTP TASK comes out with socketTimeoutException"
When HTTP Task is using the uri localhost there is no issue. When it uses any uri which is not localhost and does a post,  it fails with the error "response": "com.sun.jersey.api.client.ClientHandlerException: java.net.SocketTimeoutException: Read timed out". The same task with same workflow works with conductor code which is about 2 months old. Also with the latest code if i comment the following

[2019-03-26 17:31] swarooppradhan opened #1070 "Dynamic fork join task fails if any subworkflow fork fails"
I have dynamic fork join with subworkflow tasks as forks. If any subworkflow fails then join task fails, failing the entire workflow. I set optional=true on dynamically created subworkflow task but did not help. How can I make sure that join task and workflow doesn't fail if any subworkflow fork fails?
I'm using conductor version 1.12.3

[2019-03-26 18:02] swarooppradhan commented on #1070
It seems join task doesn't check if the forked task is optional or not.

[2019-03-26 18:42] swarooppradhan commented on #1070
https://github.com/Netflix/conductor/pull/1072

[2019-03-27 02:50] rayscott007 commented on #759
Thanks for taking a look at this issue. Just wondering if there is any update? We are getting about 10% of our workflows finishing all tasks but not completing. We are running the following:

 Version: 2.6.0-SNAPSHOT | Build Date: 2019-01-11_23:55:02
 DB: Redis

[2019-03-27 09:50] mudit3774 commented on #1031
@apanicker-nflx Any update on the proposal ? @naveenchlsn I think it would make sense to add more details in the implementation section. For instance :

1. How will we maintain history of all runs ?
2. How will the registration change ?
3. How will the execution change ?

[2019-03-27 11:45] swarooppradhan commented on #1070
Join task is checking for forked subworkflow task status before DeciderService updates the status for forked task to COMPLETED_WITH_ERRORS

[2019-03-27 12:29] andrea11 commented on #1060
Thanks for your reply. However, I was wondering if this behaviour could be change. I agree with you with the harmless of an optional task, but I think that it should not have consequences on the retry policy. Will not be better to have another option at workflow task such as "skipRetry", that could be use together with the optional to preserve the current behaviour?
What do you think?

[2019-03-27 13:20] mohelsaka commented on #1060
We have noticed the behavior of OPTIONAL tasks and it was a bit surprising to us that it didn't follow the retry policy.
I think if OPTIONAL task got retried, it won't really break the contract of "optional task is considered harmless for workflow" as long as the workflow continues execution normally.

On the other hand, the current behavior comes with the cost of making our workflows definitions

[2019-03-27 13:22] mohelsaka commented on #1059
Can someone please give me an update on that?

[2019-03-27 14:51] andrea11 commented on #968
Hello @apanicker-nflx,
I would like about this subject, which could be the best approach to have a count for WorkflowDef. May be better to add them to the IndexDAO or perhaps to have a new method in the MetadataDAO. What do you suggest?

Thanks

[2019-03-28 12:20] MaksimRT commented on #1056
@kishorebanala Hi! Thank you for responce!
Yes, sure.
I just want to test eventHandler via REST API.

[2019-03-28 13:36] MaksimRT opened #1077 "How to get "taskId" for WAIT service task via REST API?"

[2019-03-28 13:58] MaksimRT commented on #1077
I found out by myself via `/tasks/in_progress/{workflowId}/{taskRefName}` with help of swagger `http://localhost:8080/api/swagger.json`

[2019-03-28 13:58] #1077 closed

[2019-03-28 18:32] kishorebanala commented on #1069
@rajanigk This is not related to Conductor and a typical Http request error. The task was not able to connect to provided url. The timeouts I believe are reasonable at around 5 secs. Try checking other connection issues from curl or similar tools to debug.

[2019-03-28 18:32] #1069 closed

[2019-03-28 21:02] jkaipa opened #1078 "Debug - Step Over a Task"
@apanicker-nflx @kishorebanala
I have a workflow with all event tasks that involve several tasks in a fork. An event is published soon after a event task is scheduled. When it comes to fork, multiple events related to all the tasks of that fork are published at the same time. Having fine control will help debug each task before the scheduling happen.
-> Execute workflow with a **debug flag**
-> Ju

[2019-03-29 11:00] gsambasiva opened #1080 "Java Heap Memory Error occured while doing performance test with single redis instance"
Hi,
we are doing peformance testing for conductor using single redis instance.
After some time, we are getting java heap memory error.
Took the heap dump using jvisualvm and analyze that heap dump using Eclipse MAT.

Observed that there is memory leak occured with class RedisDynoQueue and for filed prefetchedIds of type ConcurrentLinkedQueue.

Attached MAT analyzer diagram.
Could any one plese hel

[2019-03-29 11:45] MaksimRT opened #1081 "What is the recommended way of testing workflow?"

[2019-03-31 14:09] yangjiajun2014 opened #1082 "Is it possible to turn dag-format workflow definition to conductor's dsl-format automatically?"
A workflow defined in dag-format looks like:
{
 "tasks":{
     "t1":{
         "Task definition of t1"
      },
	  "t2":{
         "Task definition of t2"
      },
	  "t3":{
         "Task definition of t3"
      },
	  "t4":{
         "Task definition of t4"
      }
  },
  "links":{
	"1":{
		"src":"t1",
		"dst":"t2"
	},
	"2":{
		"src":"t1",
		"dst":"t3"
	},
	"3":{
		"src":"t2",
		"dst":"t4"
	},
	"

[2019-04-01 06:46] g4ur4vs opened #1083 "How will client interaction be handled"
Suppose i have 3 task in one workflow and after completion of every task i need to update an ui  on client side then how can i implement that?

[2019-04-01 14:20] patrickmayer0 commented on #799
Any tentative date for Java 11 support?

[2019-04-01 22:55] kishorebanala commented on #1023
Continuing the discussion in #1058

[2019-04-01 22:55] #1023 closed

[2019-04-01 22:55] apanicker-nflx commented on #1022
We will be addressing the issue of task representation in UI shortly. Please feel free to contribute with any suggestions you may have.

[2019-04-01 22:55] #1022 closed

[2019-04-01 22:58] kishorebanala commented on #1028
@MaksimRT We follow Semantic versioning, and any minor version upgrade should be backwards compatible. Any breaking changes will go to a major version upgrade, and will be mentioned explicitly.

[2019-04-01 22:58] #1028 closed

[2019-04-01 22:59] apanicker-nflx commented on #1024
@fnolla-carecloud Are you able to ensure that the dynomite connection is setup correctly? For example, are you able to execute workflows and tasks with smaller payload sizes? The error message in the picture shows that data retrieval from dynomite failed.

[2019-04-01 23:16] apanicker-nflx commented on #1046
There is an argument to be made here that acking the message on the queue is useful, otherwise the queue would be bloated by messages that have been rejected and the event handler would just keep trying to re-process these messages thus reducing the throughput of the system.
You could essentially change this behavior in your implementation if you choose to do so by setting the [republishIfNoAck](h

[2019-04-01 23:16] #1046 closed

[2019-04-01 23:17] kishorebanala commented on #1031
@naveenchlsn This is a great start. Just keep in mind that by supporting `goto`, Conductor would be deviating from DAG structure to a general Graph structure. Which means, we'll need to consider several scenarios, thoroughly evaluate and test this feature.

Please continue by defining a concrete plan, addressing questions or concerns from others (particularly @mudit3774 has asked some great questi

[2019-04-01 23:19] #1054 closed

[2019-04-01 23:22] kishorebanala commented on #1056
@MaksimRT EventHandler could handle events received. The only way conductor can fire an event is with Event task. Checkout documentation: https://netflix.github.io/conductor/configuration/eventhandlers/ or Event Handler lab in documentation, or the API structure to learn more.

[2019-04-01 23:22] #1056 closed

[2019-04-01 23:44] kishorebanala commented on #1057
@choubisat It is not possible with current Conductor task types. However, this can be achieved by adding new `StreamingFork` task, which works almost similar to Dynamic Fork, but unlike the later, it provides the input to spawned tasks through streams.

A `StreamingFork` could/should:

- Only spawn one task type (We can expand on this later, but better to start with limited implementation).
- Sche

[2019-04-01 23:55] kishorebanala commented on #1059
Hey @mohelsaka, Thanks for reporting this. We'll have to debug this out to find out why EXPONENTIAL_BACKOFF is not working for Subworkflow tasks. We'll update here with more details.

[2019-04-01 23:55] apanicker-nflx commented on #1060
@andrea11 and @mohelsaka Thanks for the suggestions. I agree that the `optional` tasks can be retried upon failure and can eventually be considered harmless to workflow execution if all retries fail. This would be a nice-to-have enhancement on the current optional task implementation.
Looking forward to your pull request @mohelsaka .

[2019-04-01 23:55] #1060 closed

[2019-04-02 00:00] kishorebanala commented on #1081
Hey @MaksimRT, It'd help to have more details on what you're trying to achieve, preferably with an example. I'm not sure if you're looking to test Workflow execution as an integration test, or to test a specific task type.

If it is integration testing a workflow, you can define workflow executions with fake data and run regression tests on your test cluster or a container.

[2019-04-02 00:00] #1081 closed

[2019-04-02 00:02] apanicker-nflx commented on #1066
With the current implementation, this can be achieved on the worker side by maintaining a registry of `parcel_id`. The first step of execution could be to check the registry for the parcel_id. If it does not exist, then the parcel_id is added to the registry and the worker sends the delivery information to the driver. After this step, the worker checks the delivery status. If delivery is not compl

[2019-04-02 00:04] kishorebanala commented on #1080
@gsambasiva Thanks for sharing this. Queues remain in Redis cluster or node for the duration of Workflow or Task lifecycle, and across workflows for task reference name. It may or may not be a memory leak after all.

Could you share more details on how many workflows and tasks were in running state when you see this error.

[2019-04-02 00:06] kishorebanala commented on #1068
@rajanigk Thanks for reporting this. We'll debug to figure out why the WAIT task wouldn't timeout and update here.

[2019-04-02 00:08] apanicker-nflx commented on #1082
@yangjiajun2014 This is not possible currently. It is a long-term goal for conductor to be able to define workflows using a visual tool at which time such a feature could come in handy/would be implemented.

[2019-04-02 00:08] #1082 closed

[2019-04-02 00:10] apanicker-nflx commented on #1083
@g4ur4vs Each task in your workflow will be executed by a worker that you implement. You can add the logic to update the UI on the client side within your worker right before you update conductor server with the COMPLETED status.

[2019-04-02 00:10] #1083 closed

[2019-04-02 00:34] kishorebanala commented on #1078
@jkaipa Interesting. If we're not wrong, we thought that you're looking at a debugging system with breakpoints.

How about dry runs? We don't see the value breakpoints would provide in workflow execution. I.e the state in between and end of the workflow wouldn't differ much, because of the way inputs and outputs are wired. But, if we can have a dry run system with expected and actual values provid

[2019-04-02 05:46] rajanigk commented on #1069
After debugging the conductor code, i was able to figure out how  to set the connection and read timeout for httptask. In the workflow they need to be set as input parameters.
  {
       "name": "task1",
       "taskReferenceName": "task1",
       "type": "HTTP",
       "startDelay": 0,
       "inputParameters":{

                 "http_request": {
                         "uri": "<URL>",

[2019-04-02 05:57] rajanigk commented on #1068
I did some debugging of the code and found that in the DeciderService.java (com.netflix.conductor.core.execution;) the task definition for the pendingTask (when it is WAIT_TASK) is coming as null. That is why the timeout is not getting honored. I did not figure out why it is coming as null.

 for (Task pendingTask : pendingTasks) {

            if (SystemTaskType.is(pendingTask.getTaskType()) && !

[2019-04-02 11:55] wudadadaju opened #1085 "How to use 'vipAddress' feild in 'http_request'?"
I want to make a Task that can be associated with erueka service cluster.
But i don't know how can i use it.
I know 'http_request' has a feild 'vipAddress'.
How do I configure the url of the eureka service?

[2019-04-02 13:16] mohelsaka commented on #1059
@kishorebanala thanks for the update. I did run the tests with `isAsync -> true` for `SubWorkflow` system task and the following tests failed:

[code]

[2019-04-02 14:52] avorima opened #1086 "failureWorkflow doesn't have access to workflow output"
This feature was mentioned in [this comment](https://github.com/Netflix/conductor/issues/212#issuecomment-309128082) almost two years ago.

I'm using conductor 2.8.4 and it still doesn't seem to be implemented. Does this feature have an ETA yet?

[2019-04-02 17:06] MaksimRT opened #1087 "Is it possible to run conductor without elasticsearch?"

[2019-04-03 00:25] #1044 closed

[2019-04-03 09:20] Rangadhama opened #1088 "Callback once workflow completed"
Hi Team,

I need to know whether we can have a callback to client who triggered the workflow for execution with the final response of the last task executed ??
Please help me on this , I am just started working for requirement with netflix conductor

thanks in advance

[2019-04-03 17:56] tburschka commented on #1069
Damn, (why) is it (not) documented? I tried this for a whole day...

[2019-04-03 23:12] sujaysudheenda opened #1089 "Running unregistered task as part of Dynamic workflow"
Hi,

I am trying to follow the docs here https://netflix.github.io/conductor/configuration/systask/#dynamic-task

I want to execute Dynamic workflows by passing in proper JSON to the `POST /api/workflow` endpoint. Based on the docs, the above endpoint allows you to send-in unregistered workflows.
according to the docs:

I am unable to get this work and I this following error:

[code]
Because `task

[2019-04-04 01:07] rajanigk commented on #1069
Where is it documented? Did i miss seeing the documentation?

[2019-04-04 07:11] rajanigk commented on #1068
I was looking at the following code in the MetaDataMapperService.java

public static boolean shouldPopulateDefinition(WorkflowTask workflowTask) {
        Preconditions.checkNotNull(workflowTask, "WorkflowTask cannot be null");
        Preconditions.checkNotNull(workflowTask.getType(), "WorkflowTask type cannot be null");
        return workflowTask.getType().equals(TaskType.SIMPLE.name()) &&

[2019-04-04 08:26] rajanigk opened #1090 "Help needed for writing a new system task"
i was trying to see how to extend conductor by writing a new system task.  As per the documentation given at https://netflix.github.io/conductor/extend/
following steps are given in the documentation.
1. Extend com.netflix.conductor.core.execution.tasks.WorkflowSystemTask
I created a new project in intellij and created a new class newSysTask which extends WorkFlowSystemTask

2. Instantiate the new

[2019-04-04 15:23] jkaipa opened #1091 "Conductor Health Check"
Did anyone implement health check for conductor using grpc health check service?

[2019-04-04 17:29] dskarataev opened #1092 "Questions on SQS implementation"
Hello,

we faced 2 issues with the SQS implementation and both of them are related to losing messages.

1. when we add a new EventHandler, it will automatically subscribe to the queue and receive messages from this queue, but when we remove or disable the EventHandler and there are no other EventHandlers that are listening to the same queue, Conductor still consumes and acknowledges messages so th

[2019-04-04 18:01] dskarataev commented on #904
We are also interested to send messages with workflow results to SNS instead of SQS, so different systems can subscribe to these messages and do some actions. How is it done in Netflix?

[2019-04-04 21:51] saurabhsharma721 opened #1093 "Need Help in Designing Micro-service deployed on ECS"
We are currently going to work on Solution which will work with collaboration of multiple microservices to provide us with solution.  Dataflow like below

![MicroserviceDataFLow](https://user-images.githubusercontent.com/14283388/55590535-2b9ffd80-5701-11e9-93e4-17ea8e86170d.jpg)

These services will be deployed in ECS with ALB in front of it. Needed to stich toigether a workflow for the system an

[2019-04-05 04:37] dskarataev opened #1095 "Add a workflow version column on executions page"
Right now it is not convenient to do not see what workflow version is executed inside the executions list.

We execute more than one version at the same time to compare their results so it would be really nice to see the "Version" column right after the "Workflow" column and also have the "Version" filter to easily see all executions for a specific version of the workflow.

Thank you!

[2019-04-05 05:49] dskarataev commented on #1093
1. you can use Application Load Balancer + dynamic ports in ECS cluster, it is working fine for us
2. of course can, running fine for us in ECS cluster. We use Docker images from Conductor repository and push Docker containers to ECR, then ECS service can use them to run

[2019-04-05 12:43] dskarataev commented on #1088
1. you can use EVENT system task to send messages
2. you can do it as a last task to call something else using any protocol you need

[2019-04-05 12:56] saurabhsharma721 commented on #1093
@dskarataev How will this work  in multiple environments? I.e we will change the Load-balancer DNS in all environments while updating workflow jsons?So no need for svc discovery? Any other pointers we need to run it for ECS for very high load application. Thanks for the help

[2019-04-05 15:35] Rangadhama commented on #1088
Thanks for response..., but I need to be synchronous response once called the work flow

[2019-04-05 15:47] dskarataev commented on #1088
callbacks are not synchronous by nature. what is the difference of callback and of calling your client from the latest task in workflow?

[2019-04-05 15:52] dskarataev commented on #1093
As I know from reading answers of maintainers in older issues of this repo, Netflix Conductor was not designed to be a "very high load application". Or maybe it is a matter of what exactly you consider as a very high load.

Answering your Load Balancer & ECS question, you can read details here: http://www.tothenew.com/blog/dynamic-port-mapping-in-ecs-with-application-load-balancer/

In two words,

[2019-04-05 18:13] saurabhsharma721 commented on #1093
@dskarataev One more query . and then we can close the issue. Is Conductor suitable for Low latency systems?we are asking Latency in mili seconds. When i sayhigh load , we are thinking about 1 to 2 million per day with 70 percent in 10 hr window?

[2019-04-07 05:23] xaka opened #1097 "Is Conductor a right choice for 1M+ workflows per day?"
The use case is messaging platform where message goes through different stages, some are simple and some are complex. Using workflow feels like a good fit to model it - some steps/tasks are async in nature and cannot be run synchronous.

Do you think Conductor can handle 1M+ workflows per day? Or 500 workflow initiations per second?

Thanks.

[2019-04-07 17:59] kishorebanala commented on #1097
Hey @xaka, Conductor can handle 1M workflows. We're running similar ballpark workflows in production. There is still a concurrent decide issue, which we're trying to resolve by providing distributed locking interface, which can be best implemented with your own Zookeeper or similar locking system.

If you think you can patch bugs or improvements to solve your use case, and likewise for general com

[2019-04-08 06:40] Rangadhama commented on #1088
If its not synchronous then client needs a implementation of polling for responses and update them accordingly
Means Once workflow triggered by client , need an acknowledgement in same thread towards client ,

Is that way its possible ? just asking in curiosity

[2019-04-08 08:07] Rangadhama commented on #1088
Hi
Ignore the last query

The point what I need is , if a callback is written as last task in the workflow towards client
then in case intermediate stage of workflow some task got failed , the control wont go to last task untill its success
In this scenario how the callback to client can be achieved ?
Hope I didn't confused on the requirement

[2019-04-08 08:40] HenryLauu opened #1099 "start a new subworkflow task rather than retry"

[2019-04-08 08:43] HenryLauu commented on #1099
I have several subworkflow in my workflow(say wf1), when one of the subworkflow (say wf2) failed, I retry the wf1 and then engine launch a completely new wf2,rather than retry from the last failed task in wf2, is there any way to achieve that?

[2019-04-08 18:31] kishorebanala commented on #1099
@HenryLauu From your example, wf1 considers wf2 as one of the tasks, and on retry, it reschedules a new task, which translates to new wf2 as expected. If this is not intended, then instead of wf1, wf2 should be retried.

[2019-04-08 18:31] #1099 closed

[2019-04-08 18:56] kishorebanala commented on #1090
Hey @rajanigk, you can check one of the merged PRs as reference to add new system task. But before you do that, can you open a conversation about what this system task would do, how it would look like, what value it provides to community etc. Once we decide on specifics, you can send in PR with your implementation. Looking forward to your contributions. Thanks.

[2019-04-08 18:56] #1090 closed

[2019-04-08 18:58] kishorebanala commented on #1087
Yes, indexing is optional.

[2019-04-08 18:58] #1087 closed

[2019-04-08 19:41] kishorebanala commented on #1086
Hey @avorima, thanks for checking. This is still not a priority over other features we're working on and the bandwidth we have. Feel free to initiate a conversation or submit a PR, if you think this is something valuable to you and community.

[2019-04-08 19:41] #1086 closed

[2019-04-08 20:10] kishorebanala commented on #1092
Hey @dskarataev, you're right. If you look here: https://github.com/Netflix/conductor/blob/master/contribs/src/main/java/com/netflix/conductor/contribs/queue/QueueManager.java#L115, Conductor would just ack the message and do nothing when task is not found for event handler to run.

In order to improve this, the queue should know that at some point in future a task will be created for that message

[2019-04-08 20:10] #1092 closed

[2019-04-08 20:26] kishorebanala commented on #1089
Hi @sujaysudheenda, you don't have to register task defs for dynamic workflow execution. Can you please post a mock workflow for which you're seeing this error.

[2019-04-08 20:33] kishorebanala commented on #1085
Hi @wudadadaju, this question is best answered by Eureka service. HttpTask can optionally support vipAddress and using it is straightforward as simply adding it to task configuration params, along with URI.

[2019-04-08 20:33] #1085 closed

[2019-04-08 20:38] kishorebanala commented on #1026
Hey @kchaturanga, While someone from community who has actually tested this might best answer this question, I don't see anything abnormal with it, apparently GC kicks in every once a while to cleanup stale workflow related objects.

I'm closing this as there isn't much activity, but please feel free to reopen if this topic needs more review.

[2019-04-08 20:38] #1026 closed

[2019-04-09 05:29] HenryLauu commented on #1099
thanks @kishorebanala but how can I make wf1 continue when I retry wf2 and completed it ?

[2019-04-09 05:29] HenryLauu commented on #1099
wf1 is now staying in CANCELLED status

[2019-04-09 07:19] naveenchlsn opened #1100 "Ability to fetch workFlow execution status from indexdao through the api."
We clean up our workflow execution data from our execution database(redis) once the workflow has completed/terminated.

But we are not able to view the workflow on the ui dashboard once its removed from execution database.
This is because workFlow service queried by UI only looks up workflows in execution dao. I would like to have WorkflowService.getExecutionStatus accept a parameter to include wo

[2019-04-09 07:37] rajanigk commented on #1090
we are evaluating netflix conductor to be used as a workflow engine, so i was trying to see how to extend a system task, i was able to make changes to conductor code and add a new system task . I was thinking may be i can create a jar with new new system task , and just a dependency on that jar in the build.gradle of the server and add it is as an additional module by settting the property in serv

[2019-04-09 10:11] MaksimRT commented on #1081
Hi @kishorebanala! Thank you for reply!

Yes, I want to run an integration test.

I want to check that all steps (fork, join, if, switch and order of execution) is executed correctly based on input data.

I have to use the following API to do this:
`GET /workflow/{workflowId}?includeTasks=true`

Then I have to parse the result and check it.

Am I right?

[2019-04-09 13:43] HenryLauu opened #1101 "Don’t terminate other fork tasks when one of them failed"
I am having an daynamic form join workflow , when one of the fork task failed, other task s are transferred to terminate status, how can I keep other task working and finally failed on join task?

[2019-04-10 07:16] boshido commented on #759
Conductor Server/UI version: 2.10.0
Redis version: 3.2.10
Elasticsearch version: 5.6

I faced similarly issue

We tried to test creating workflow around 30000 workflows and let worker completed every workflow immediately.
We faced that around 0 - 300 workflow that stuck at running state even every tasks already done.
![image](https://user-images.githubusercontent.com/3489862/55858537-237d0d80-5b9a

[2019-04-10 08:22] mudit3774 commented on #1097
@kishorebanala Thank you for the updates. It will be great if you can share some information on the decider issues. Is it documented ? If no, what are the risks we are running against.

Also, what we have observed for high throughput workloads is as follows :

1. Make sure your first task is not a huge fork. It will increase the response times for create workflow. This is because it will recursive

[2019-04-10 10:43] naveenchlsn opened #1103 "Isolation and Scaling of HTTP tasks."
**Issue**
We have http tasks for running multiple apis. HTTP tasks take different times to execute based on the api they are calling. This causes slow running HTTP tasks to pile up and cause fast running tasks to starve.
**Proposal**
Have the ability for separate queue and worker for each HTTP task.

**Implementation.**
1)  Accept a param isolationGroup in WorkFlowTask definition.
2) Change QueueU

[2019-04-11 03:35] julionc commented on #918
gradlew must be marked as executable.  `chmod +x gradlew`.

I had this error on Windows 10 recently. GNU/Linux and Mac share permissions scheme but Windows needs to use a virtual FS so it copies files with default permissions.

In my case, this issue occurs due to the use of "core.autocrlf = true" from Git config.
You are better off leaving core.autocrlf to false. (Or re-install Git and choose the

[2019-04-11 12:30] MaksimRT opened #1104 "Could you add a sleep task to System Tasks?"
I want to have ability for workflow instance to wait for a while.

[2019-04-11 17:58] kishorebanala commented on #1104
@MaksimRT There already exists a WAIT task: https://netflix.github.io/conductor/configuration/systask/#wait

Or, are you looking for something different? If so, please reopen the ticket with more details.

[2019-04-11 17:58] #1104 closed

[2019-04-12 03:35] leikao opened #1105 "Should worker send a update task state request to conductor before executing task?"
When I'm trying to set `responseTimeoutSeconds` to a little period such as 10 seconds, the task state will be set to `TIMED_OUT` while task is still executing.
So should worker add a request to update the task state before executing the polled task?

I'm using the go client:
https://github.com/Netflix/conductor/blob/8fc13b09347383c746fb789240114860ac945354/client/go/conductorworker.go#L88-L95

[2019-04-12 10:03] MaksimRT commented on #1104
Yes, I am looking for something different.

I just want that the WAIT (or any other task) could be set as COMPLETED by conductor itself after some fixed amount of time. Right know I have to manually set it via externel REST call.

Do you get what I mean?

[2019-04-12 17:10] kishorebanala commented on #1104
You can try using `timeoutSeconds` in task definition and `optional` in Workflow tasks to achieve the same with WAIT task.

[2019-04-14 20:33] vmaks commented on #1104
Great idea!
Never think about it (
Thank you!

[2019-04-14 20:35] vmaks opened #1106 "What is the advantages of using Dynomite DB over Redis?"
Is it possible to use Mongo DB?

[2019-04-15 17:18] cyzhao commented on #1103
@naveenchlsn thanks for the proposal, I definitely think this is something nice to have. @kishorebanala please @apanicker-nflx please chime in and work with Naveen on this.

[2019-04-15 17:35] saidatta commented on #1106
Here are some points that can give you a start

https://github.com/Netflix/dynomite/wiki/FAQ

https://github.com/Netflix/dynomite/wiki/Dynomite-with-Redis-on-AWS---Benchmarks

[2019-04-15 19:25] saurabhsharma721 commented on #1093
Closing issue

[2019-04-15 19:25] #1093 closed

[2019-04-16 11:50] mstz commented on #883
I met the same issue, too.
The sweeper sometimes took affect, sometimes failed.
There was some timeout tasks without being rescheduled or marked staying 'IN_PROGRESS'.

[2019-04-16 12:18] mstz commented on #883
![image](https://user-images.githubusercontent.com/11886800/56208884-c941e800-6084-11e9-8f61-cc380185e72f.png)

[2019-04-16 17:58] Ismaley commented on #1088
Hello @Rangadhama , I'm not sure if this is what you need but we faced a similar issue here where we needed a callback from a workflow execution and didn't want to poll any of the conductor's services to know the outcome. So we came up with a solution by adding a custom implementation of the WorkflowStatusListener interface  (the default implementation just logs) which is has methods invoked on a

[2019-04-17 03:32] jkaipa opened #1107 "Conductor is not recovering after dynomite restart"
Conductor server is not recovering after dynomite restart. pollAndExecute of SystemTaskWorker is executing repeatedly in interval forever.

[code]

Any thoughts on the issue?

[2019-04-17 06:07] carlylou opened #1108 "How to get workflow completed event from conductor?"
I know I can get workflow status using workflowid. But in my use case, I have too many workflow instance and I can not keep all those workflow id and keep querying whether this workflow completed.  And I know I can make the last task worker send some message to outside. But in my case, I can not make this. So, I want to ask, is there another way to get informed that a particular workflow instance

[2019-04-17 13:45] kmi-github opened #1109 "cccccckevnhidvufcfrbujbivuhrbnrcftrlirffdthg"

[2019-04-17 14:00] Rangadhama commented on #1088
Thanks @Ismaley for the response
Do you have any sample of dynoQueue based handling for above situation which you stated , will be really helpful to understand more deeper.
Thanks in advance

[2019-04-17 20:17] philipodev opened #1110 "redis pub/sub to publish when a task is created"
Hi. first and foremost, thank you guys for this awesome piece of software.

I was wondering about the possibilities, and if it has been brought up yet and in that case what was the verdict, regarding using redis to `PUBLISH` to a channel (ex: `conductor.worker.W1` when there is a new task scheduled for it.

I think in our case that would be a nice complement to traditional polling where we are usi

[2019-04-18 14:04] Ismaley commented on #1088
Yeah, I've made a simple application that just publishes and consumes messages from a dynoqueue, the concept is similar to what we use on our client application. You can find it [here](https://github.com/Ismaley/dyno-queue-consumer-poc) and this [wiki](https://github.com/Netflix/dyno-queues/wiki/Installing-&-Using) can also help a bit.

Also, take a look on the PR GH-905 I opened here on conductor

[2019-04-18 15:41] mohelsaka opened #1111 "Workflows get marked Completed while tasks are still remaing"
We've encountered very weird issue with conductor. Some workflows were marked as "Completed" while their tasks were still "Scheduled". Therefore, those tasks were marked as "Canceled" by the Conductor background systemTask worker.

This happened for HTTP tasks in particular. Looking into the logs of the server, we saw the following warnings:
[code]

Looking at the code from which this warning come

[2019-04-18 16:06] mohelsaka commented on #1111
Can that be related by anyway to the concurrency problem mentioned in this [issue](https://github.com/Netflix/conductor/issues/759)?

[2019-04-18 17:36] kishorebanala commented on #1111
Hey @mohelsaka, thanks for reporting this. Can you please provide workflow execution json and relevant logs.

[2019-04-18 17:36] #1109 closed

[2019-04-18 17:40] kishorebanala commented on #1108
Hey @carlylou, You can use https://github.com/Netflix/conductor/blob/master/contribs/src/main/java/com/netflix/conductor/contribs/listener/DynoQueueStatusPublisher.java or implement https://netflix.github.io/conductor/extend/#workflow-status-listener to provide your own custom listener.

[2019-04-18 17:40] #1108 closed

[2019-04-18 17:42] kishorebanala commented on #1105
Hey @leikao, If your worker couldn't finish task execution within `responseTimeoutSeconds`, it should update the task. Otherwise, Conductor would assume that the Worker is dead and times out the task.

[2019-04-18 17:42] #1105 closed

[2019-04-18 18:39] rickfish opened #1112 "Cannot notify listeners of type ProjectEvaluationListener"
I am trying to build the latest master branch of conductor. The only thing I changed were the repos so they are pointing to our internal artifactory repos in the build.gradle files.

When I build I am getting the following error:
A problem occurred configuring project ':conductor-cassandra-persistence'.
    A problem occurred configuring project ':conductor-core'.

There is no additional informati

[2019-04-19 14:34] ggrekhov commented on #1111
Hey @kishorebanala, please, check this gists out.
1. [Workflows definitions](https://gist.github.com/ggrekhov/2c2dfcb61402bf61afb8c041ba203f23).
2. [Server logs 1](https://gist.github.com/ggrekhov/be216f98098be0172d764abd8e44b8e8).
3. [Server logs 2](https://gist.github.com/ggrekhov/6d7723bcce184ebc77fab255da081ac1).

We run Conductor 2.9.1 on 2 servers using a shared Redis and Elasticsearch setup

[2019-04-22 02:36] jkaipa commented on #1101
When one task is failed, the rest of them which are part of the same fork are cancelled.

[2019-04-22 17:27] artpdr opened #1115 "Bug in workflow metadata validation"
I updated conductor to version 2.10.0 and after that I am seeing a bug that was not present on a previous version (2.1.1).
The bug happens during workflow definition, when a worker task has a vector as an input parameter and this vector has an entry with an empty string (e.g. inputParameters: {distinct_paths_used_per_task: ["", "foo", "bar"]}).

Here is the response from conductor server:
ERROR: {

[2019-04-22 18:20] emiteze commented on #1107
We have a Kotlin server application besides conductor here that connects on the same dynomite as Conductor do, and we faced the same issue after dynomite restarts/failover. So, it might be a bug in the dynomite client.

See this issue:
https://github.com/Netflix/dyno/issues/256

[2019-04-22 21:04] RileyMichael opened #1116 "Redis Cluster NOAUTH"
I'm attempting to use Conductor (v2.10.1) backed with a [redis cluster](https://github.com/helm/charts/tree/master/stable/redis).

Config:
[code]
I believe support for redis-auth was added in commit a24b7c8ae10a63ea65128a3fb18dd62d41cbfe02
I'm getting the following exception though:
[code]

Has anyone else ran into this issue, or am I overlooking a property?

[2019-04-23 14:19] emiteze opened #1117 "Task definition timeouts being ignored by HTTP task"
So, we are facing a "problem" here that we don't know yet if it is a problem, or just a misunderstanding.

I created a workflow definition with 1 http task that calls an endpoint "https://httpstat.us/200?sleep=30000" that answers with 30 seconds of delay. The timeoutSeconds was set to 15 and responseTimeoutSeconds to 10 on the task definition used by this http task.

Apparently, the HTTP task is i

[2019-04-23 16:22] #1116 closed

[2019-04-23 17:46] kishorebanala commented on #1100
Hey @naveenchlsn, If you're using ExecutionDAOFacade, this should be done readily: https://github.com/Netflix/conductor/blob/8fc13b09347383c746fb789240114860ac945354/core/src/main/java/com/netflix/conductor/core/orchestration/ExecutionDAOFacade.java#L71. However, if you're using your custom implementation to get workflows, you can implement something similar.

[2019-04-23 17:46] #1100 closed

[2019-04-23 17:55] kishorebanala commented on #1110
Hey @philipodev, Thanks for the suggestion in using pub/sub with Redis over polling. We do have plans to implement pub/sub, most probably as major version V3. But, we're not sure about the timeline. If you think you've enough bandwidth to help us accomplish this, we'd be very glad to coordinate with you.

[2019-04-23 18:44] kishorebanala commented on #1112
Hey @rickfish, It's really hard to tell why the internal artifactory is throwing an exception. If you see any issues in OSS conductor, please update the issue with more details.

However, if anyone in the community has faced similar issue, they might be able to help.

[2019-04-23 18:44] #1112 closed

[2019-04-23 20:29] kishorebanala commented on #1116
Hey @RileyMichael, thanks for cleaning up the issue. I'd appreciate if you can update with resolution, if you found one.

[2019-04-23 20:34] kishorebanala commented on #1107
@jkaipa I suggest to open this issue with Dynomite, as they might be able to help better.

[2019-04-23 20:34] #1107 closed

[2019-04-23 20:36] RileyMichael commented on #1116
@kishorebanala I chalked it up to user error & just ended up switching to sentinel and disabling authentication.

[2019-04-24 05:49] Rangadhama commented on #1088
Thanks a lot @Ismaley , I was out of town
Let me check your suggestions and get back to you shortly

[2019-04-24 10:02] ChandraDuddukuri opened #1118 "can we avoid WorkflowTaskCoordinator Queuing"
we have WorkflowTaskCoordinator with Worker QueueSize set to 1
the worker is doing the polling and every time a queue with 1 Task is waiting

**Scenario:** 2 worker are running and going to process the same task type
2 tasks are available and the 1st worker itself consumed both the tasks and the 2nd worker is available and ideal.
we want to have "0" queue size on a worker, but it is not working.
c

[2019-04-24 11:12] gregoirer opened #1119 "keep task execution on same worker (question)"
Hello,

Let's say I have a simple workflow T1 -> T2 (move file to encoder) -> T3 (encode). Two different workers (machines) can handle T2, T3.
But after T2 completed I would like T3 be executed by the same machine than T2. I there a way to dynamically change the task domains of a running workflow ? or any other way to solve this use case ?

PS: I don't know when I start the workflow which worker w

[2019-04-24 14:03] gsambasiva opened #1120 "Deprecation of Nashorn JavaScript Engine in OpenJDK"
Hello,
Conductor is using Nashorn javascript Engine and it is going to be deprecated in from OpenJDK.
I got to know from this link (https://openjdk.java.net/jeps/335)

If it is the case, how Netflix conductor will work with OpenJDK, once Nashron javascript Engine get deprecated?

[2019-04-24 14:40] jkaipa commented on #1088
You can implement WorkflowStatusListener interface and use the ObservableQueue implementations to publish messages to specific external queue implementations. You can configure the queue details in system.properties and use to publish the messages on completion and termination.

[2019-04-24 16:24] philipodev commented on #1110
Hi. Thank you for the reply.
I made a quick check before opening this issue and it seems that right now `publish` and `subscribe` is currently unsupported/not implemented in `DynoJedisClient`:
https://github.com/Netflix/dyno/blob/master/dyno-jedis/src/main/java/com/netflix/dyno/jedis/DynoJedisClient.java#L3229

I would love to help in any way you would let me.

[2019-04-24 17:25] rickfish opened #1121 "What to do in eclipse so it builds the proto files"
Building 2.10.1 works fine from the commandline as gradle has the plugins to compile the .proto files. With Eclipse these files dont get generated even if conductor is imported as a gradle project. What is the preferred way to build the grpc modules in eclipse?

[2019-04-24 18:12] rickfish opened #1122 "workflow.elasticsearch.version not being used anymore?"
Is there a reason why the workflow.elasticsearch.version prop is not used to decide on whether to use es5 or es6? Is es6 not working yet?

[2019-04-25 00:02] sujaysudheenda commented on #1089
@kishorebanala I tried to reproduce it after pulling the latest version and I am not able to see that error. I will close this, for now. Will re-open if I am able to reproduce it with an example workflow.

Thanks for getting back to me.

Cheers!

[2019-04-25 10:27] RuriRyan commented on #1122
If you want to use es6 you have to compile conductor yourself. It's all described here: https://github.com/Netflix/conductor/tree/master/es6-persistence

[2019-04-25 21:05] demichej commented on #1054
@gregoirer  Should this be committed permanently? Seems like it should be...

[2019-04-25 21:12] demichej opened #1123 "conductor-ui is failing to build with docker-compose build on fresh checkout"
I am not sure why, but this ticket was closed out, but never actually resolved:

#1054

One of the dependencies had its resolve url updated to a new version......but nothing else was updated to use that new version. So it fails with an EINTEGRITY error.

@apanicker-nflx , is there a bug tracking this? It's currently broken.

[2019-04-26 13:20] dskarataev commented on #1092
@kishorebanala how about this one?

inside the SQS implementation there are many places where the message is acknowledged in error cases, why?

[2019-04-29 07:13] Rangadhama commented on #1088
Hi Guys,
Our requirement getting agile everyday
Is it possible to send synchronous response to start workflow API call  instead of WorkflowInstance Id ?

[2019-04-29 07:21] HenryLauu commented on #1101
If I don't want to cancelled other tasks, how can I do that?

[2019-04-29 11:19] boshido commented on #759
If this case happens in very low concurrent request.
I'm a bit curious, How your guys handle this case base on one of contributor said "there are around 1,000,000 workflow executed in each day" ?

And any ETA for solving this issue ?, it cause a lot of problem in real world.

[2019-04-29 15:55] mrik974 opened #1126 "Conductor doesn't start with ElasticSearch 6"
Hi,

I'm trying to use Conductor server along with Elasticsearch 6.
I compiled everything following these instructions : https://github.com/Netflix/conductor/tree/master/es6-persistence

But when I run the Conductor as standalone I get this error :
[code]

And when I try to use an external elasticsearch using HTTP I get this error :
[code]

Am I doing something wrong ? Is ES 6 really supported ?

[2019-04-29 18:08] mrik974 opened #1127 "logging with Docker"
Docker's `sysout` is filled with `DEBUG` logs.
Is there a way to configure log4j using env vars or an external file, so I can rise the log level ?

[2019-04-29 18:20] kishorebanala commented on #759
Update: We would like to provide a simple implementation that works with existing Dynomite cluster. Dynomite team is looking into providing `Redlock` implementation in `dyno-client`, which conductor can piggy back on when available. This is the best possible implementation that could provide reasonable guarantees and works for most of the existing users. ETA for this feature is dependent on Dynomi

[2019-04-29 19:24] jkaipa commented on #1127
Pass log4j.properties file path as the second argument when you start conductor.

[2019-04-29 19:29] jkaipa commented on #1121
This is what I do.
1. run gradlew build in the root folder of conductor. This will generate all java sources from proto files.
2. Add source folder per the image.
![Screen Shot 2019-04-29 at 2 26 32 PM](https://user-images.githubusercontent.com/30670101/56921319-1f525a80-6a8b-11e9-9347-b3403982881e.jpg)

[2019-04-30 03:06] gansa1986 opened #1128 "How to implement a workflow for Member Detail Search?"
Team,

We have an use case where we would need to query a member detail search using the first name and zipcode of the member as filter conditions.

We have two microservices, 1. Member 2. Member Address
1. From Netflix Conductor we are trying to implement a workflow
2. Search member by first name
3. Search member address by Zipcode
4. Both are parallel calls
5. Now we want to merge the #2,#3 base

[2019-04-30 03:10] gansa1986 opened #1129 "How to Consume a Conductor workflow from a Client Microservice?"
Team,

We have our workflow metadata and tasks configured in Conductor. But we would like to execute the workflow with a wrapper service which will act as a simple webservice and polls workflow to trigger a request and get response once the workflow is completed. How do we do that?

Does worker server means a wrapper service or is it different from wrapper service?

[2019-04-30 04:50] boshido commented on #759
@kishorebanala Thank you for an update :3
Base on what you said
I'm about to just for clarifying

We use Redis instead of Dynomite we have to wait for implementation of locking interface, right ?

But for someone else who use Dynomite, they need to wait for Dynomite team provide RedLook for handle this issue, right ?

[2019-04-30 10:55] ChandraDuddukuri commented on #1118
As the Worker Class is extended in my case,
before executing a task , the polling is set to paused, after the Task Execution, again polling is set to True.
By doing this, able to achieve the expected result

`public class CustomWorker implements Worker {
	private boolean paused=false;
	@Override
	public TaskResult execute(Task task) {
		TaskResult result = TaskResult.failed();
		result.setStatus(T

[2019-04-30 10:55] #1118 closed

[2019-04-30 11:40] rickfish commented on #1121
Thanks for the help. Will do the same.

[2019-04-30 11:40] #1121 closed

[2019-04-30 14:20] mrik974 commented on #1127
It worked. Thank you. Is it normal, though, that the log level defaults to DEBUG ?

[2019-04-30 21:15] Ismaley commented on #1088
I know you can run all tasks synchronously but to return the output directly after the execution request I believe you'd need to make a new endpoint for that.

[2019-05-01 17:31] smullins3000 commented on #1123
This same issue bit me yesterday.

[2019-05-02 05:55] kishorebanala commented on #1117
Hi @emiteze, It is possible the Http task (which is a System task) may not be respecting task definition timeouts as SIMPLE tasks would do. We'll try to debug and verify this case. The new properties would enforce timeouts through jersey client, you should be able to enforce timeouts with those properties. From your example, the jersey client should timeout after 15s, and end the http task.

[2019-05-02 05:58] kishorebanala commented on #1119
@gregoirer The tasks and workers are supposed to be loosely coupled. The most simplest way to achieve what you're looking for is to have just one task, that does the work of both tasks. Other than that, I don't think there are any out of box solutions to solve this use case.

[2019-05-02 05:58] #1119 closed

[2019-05-02 06:04] kishorebanala commented on #1120
@gsambasiva Thanks for mentioning about Nashorn engine deprecation. When we migrate Conductor to latest JDK version, which would definitely be a Major Conductor release, we'll try to replace Nashorn with closer implementation. For eg., https://stedolan.github.io/jq/ seems a reasonable alternative.

[2019-05-02 06:04] #1120 closed

[2019-05-02 06:05] kishorebanala commented on #1122
@rickfish When we added this property, we were shadowing ES2 dependencies. But it has slowed down builds considerably. Hence, we avoided shadowing and preferred to use only one of ES modules since Conductor v2.0

[2019-05-02 06:05] #1122 closed

[2019-05-02 06:11] #1127 closed

[2019-05-02 09:58] gregoirer commented on #1119
@kishorebanala many thanks for your answer

[2019-05-02 20:06] neokyle1 commented on #644
It sounds like this may be the same issue as https://github.com/Netflix/conductor/issues/881

[2019-05-02 20:42] jkaipa commented on #881
The issue is with this line
https://github.com/Netflix/conductor/blob/78fae0ed9ddea22891f9eebb96a2ec0b2783dca0/core/src/main/java/com/netflix/conductor/core/execution/DeciderService.java#L324

Need a fix here

`if (SystemTaskType.is(task.getTaskType()) && SystemTaskType.DECISION.name().equals(task.getTaskType())) {
            if (task.getInputData().get("hasChildren") != null) {
                r

[2019-05-06 10:26] mohelsaka commented on #1111
Hi @kishorebanala,
Can we please get help with that? It happened multiple times on our production setup and we failed to find the root cause.

[2019-05-06 23:01] kishorebanala commented on #1129
Hi @gansa1986, I believe you're looking for Worker implementation? Here is a sample in Java: https://github.com/Netflix/conductor/blob/master/client/src/test/java/com/netflix/conductor/client/sample/SampleWorker.java

Basically, SIMPLE tasks in workflow are implemented by Workers, which would be part of your micro service.

[2019-05-06 23:01] #1129 closed

[2019-05-06 23:08] kishorebanala commented on #1128
@gansa1986 How about creating another task that accepts above two task's output as input? You can check this: https://netflix.github.io/conductor/configuration/workflowdef/#wiring-inputs-and-outputs, if you're not already familiar with task i/o wiring.

Feel free to reopen the issue if that doesn't answer your question.

[2019-05-06 23:08] #1128 closed

[2019-05-06 23:29] kishorebanala commented on #1111
Hey @mohelsaka, apologies for delays. From the logs, I believe it's a concurrency issue. But that's only a part of the problem. One of the concurrent decides have passed `checkForWorkflowCompletion`, and we cannot reason why. Because this method can be tested in isolation, we'll try to add unit tests with different workflow executions.

On the other side, we're working on a locking solution, which

[2019-05-06 23:31] apanicker-nflx commented on #1123
@demichej Thanks for pointing this out, seems like I accidentally closed the issue. We will roll out a fix for this soon. Please feel free to contribute a fix if you need it soon.

[2019-05-06 23:36] apanicker-nflx commented on #1126
@tafael / @dskarataev Please comment on your experience with using ES6 with conductor.

[2019-05-06 23:39] #1018 closed

[2019-05-06 23:45] kishorebanala commented on #1103
Hey @naveenchlsn, This looks great to me. I have a question or concern though:

If users were to create hundreds or thousands of isolation groups in a shared server environment, how would creating thread pool per isolation group scale?

[2019-05-07 01:00] tafael commented on #1126
Hi @mrik974, I was able to run conductor following the instructions of es6-module from a fresh clone of master branch. The problem that you having is most commonly caused by incorrect libraries being packaged during build. Did you deleted the files "dependencies.lock" of every module before building ? If you don't, gradle will use the version declared in the file dependencies.lock that have the es

[2019-05-07 01:59] dskarataev commented on #1126
My experience with ES6 is good so far, no problems for a few months in production. I also just followed the instruction and it works.

My ES6 settings:
[code]

Yes, I also had the problem with `dependencies.lock` initially and most probably following what @tafael wrote above should help.

[2019-05-07 02:55] gansa1986 opened #1132 "How to Loop search results using conductor?"
How do we loop through the search results from the API response of the first task?
We do have two API's
1. Search member by firstname which gives all member id's matching the firstname
2. Search member by memberId to obtain more details of the member

We want the first api call to result in list of memberId's and make parallel API's of many number number of id's from the first api call to get more

[2019-05-07 06:07] mrik974 commented on #1126
Thanks! I'm not used to gradle, and I skipped the line `To do that delete all dependencies.lock files`.
I couldn't get it to work with HTTP (it issued a timeout after 30s) but with TCP port 9300 it works like a charm.
Closing the ticket now, as HTTP connection is another issue (maybe from my side again so I'll try a few things before posting).
Thank you for your help and keep up that good work!

[2019-05-07 06:07] #1126 closed

[2019-05-07 16:35] apanicker-nflx commented on #1126
Thank you for the prompt responses @tafael and @dskarataev .

[2019-05-08 23:58] #1061 closed

[2019-05-08 23:58] apanicker-nflx commented on #1061
Closing issue as #1073 is merged.

[2019-05-09 18:27] demichej commented on #1123
@apanicker-nflx I submitted a PR to fix up the integrity issue.

[2019-05-09 19:14] itsmshani opened #1135 "Can a file be passed in a workflow without using s3"

[2019-05-10 21:11] kishorebanala commented on #759
@boshido That's correct. If you're already using Redis cluster and have access to any Redlock implementation, you can plug it in to the interface. For folks using Dynomite, we're actively working with Dynomite team to implement Redlock algorithm in dyno-client.

Tagging @milongapau here, who is currently looking into locking interface implementation.

[2019-05-10 21:15] kishorebanala opened #1137 "Implement generic locking interface"
Provide a generic locking interface, that is plugged into Decider service to avoid #759 .

Other features:
- Locking interface should be reusable; Along with Decider service, it should be generic enough to be used in other features as required.
- Users should be able to plug-in their own locking implementations.
- Decider service should have a property to disable locking for maintenance.

[2019-05-11 07:34] mudit3774 commented on #759
@kishorebanala : is there an update in the timelines for this?  It was initially first or second week of may. Also, is there a detailed design proposal so that the community can review and add comments ? It will also help us to think of the concrete implementation for say, Redlock

[2019-05-13 05:44] kishorebanala commented on #759
@mudit3774 Apologies for slight delays in providing locking interface implementation. @milongapau is working on this feature, and we'll open a PR ASAP. Also, I've opened above #1137 to start a conversation.

Thanks for the suggestion of design proposal. Given this is one of the critical features, we'll publish our notes outlining overall design and edge cases to be solved to #1137.

[2019-05-13 22:18] kishorebanala commented on #1135
@itsmshani Can you elaborate on what this file would contain? If it is Workflow / Task inputs, you can look into [External payload storage](https://netflix.github.io/conductor/externalpayloadstorage/), and plug in your [implementations](https://netflix.github.io/conductor/extend/#external-payload-storage).

[2019-05-13 22:20] sujaysudheenda commented on #1089
Hi @kishorebanala I am able to see this issue again (this time happening consistently)

Here is the example worfklow
[code]

Here is the output of `GET http://localhost:8080/api/workflow/8aa6dd4e-f7a7-4c88-98d4-be91a1b5798b?includeTasks=false`
[code]

[2019-05-13 22:27] apanicker-nflx commented on #1132
Hi @gansa1986 , you can model your workflow in conductor by splitting the work into multiple [tasks](https://netflix.github.io/conductor/gettingstarted/basicconcepts/#tasks).

Your first task in the workflow could be a [HTTP](https://netflix.github.io/conductor/configuration/systask/#http) task which would call the API to give you the list of member ids matching the first name.

You could follow t

[2019-05-13 22:41] apanicker-nflx commented on #1115
@artpdr Thanks for reporting the bug. Please feel free to contribute a fix for this issue.

[2019-05-13 22:43] #1106 closed

[2019-05-13 22:46] kishorebanala commented on #1097
@mudit3774 Thanks for some great suggestions. We'll consider adding some of these to best practices section in documentation.

For 4., Conductor timeouts are strictly enforced on simple tasks, and we'd still have to debug and verify this for system tasks, especially HTTP.

6. Consider writing a service/process to archive workflows after execution.

8. We're still waiting on PR creator to cleanup b

[2019-05-13 22:49] apanicker-nflx commented on #1095
@dskarataev Thanks for the suggestion. Please feel free to make a contribution for the same, we will add it to our wishlist.

[2019-05-14 08:18] choubisat commented on #1031
@naveenchlsn This will be very useful and can help model several kinds of workflows in the conductor. As per the proposal, How do you plan to break the loop when "next" field will point to a previous task in workflow execution chain? Perhaps, adding a new system task construct like "goto taskReferenceName" may be more useful. Added by changes you are proposing to maintain the task state in the bac

[2019-05-14 08:34] mudit3774 commented on #1103
@naveenchlsn we need to consider a workerDomain in which we group tasks together. So the client can choose to have thread-pool level isolation for "isolationGroup" and "workerDomain" level isolation which corresponds to JVM / Runtime level isolation.

IMO, we should not be spending time coming up with the right scheduling algorithms. It should be left to the client to come up with a scheduling alg

[2019-05-14 08:47] mudit3774 commented on #1097
@kishorebanala thanks for the updates.

For 4,
My understanding might be incorrect, but it seems that the task timeouts are enforced using the sweeper. So, I can tune it for stricter guarantees by changing sweep frequency, the trade-off being running the sweeper frequently.

For 6: We have actually implemented the StatusUpdateLister to just archive the workflow on terminal states. We could potenti

[2019-05-14 08:51] mudit3774 commented on #759
@kishorebanala thanks for considering a fix. We do understand that this is a community project and there could be delays.

Thanks for considering the suggestion for publishing implementation notes.

[2019-05-14 08:53] mudit3774 commented on #1080
@gsambasiva are you using ES Async DAO ?

[2019-05-14 08:56] mudit3774 commented on #1035
Please note that there is a lead in IndexDao which @naveenchlsn has contributed a PR for.

@kishorebanala would it make sense to add this to documentation. We also spent some time to tune the HTTP task consumption. I'll be happy to contribute if you can point me the doc that you'd want updated.

[2019-05-14 09:02] mudit3774 commented on #1031
We have been discussing internally and it seems that goto implementation would not be the cleanest and would require more thinking.

On the other hand, a do-while like construct would be easier to model and could potentially derive inspiration from ForkJoin and Decision. We still need to worry about execution history.

We do understand that goto is more generic than do-while but if "do-while" fits

[2019-05-14 14:06] itsmshani commented on #1135
The file will contain data that needs to be passed to a service that the worker will invoke. Would it be possible to send a small file , less than 100kb via the workflow/task inputs?

[2019-05-14 16:36] artpdr commented on #1115
@apanicker-nflx I may contribute to this if there isn't anyone working on this issue.

[2019-05-14 22:38] apanicker-nflx commented on #1115
There isn't anyone actively working on this atm, so feel free to send a PR with the fix.

[2019-05-14 22:45] apanicker-nflx commented on #1135
@itsmshani Ideally, you would want to store this file in an object store and pass the location in the workflow input. You can then [wire this](https://netflix.github.io/conductor/configuration/workflowdef/#wiring-inputs-and-outputs) into your task which the worker will invoke/process.

Alternatively (not the recommended approach), you can pass in the file data in the workflow input and wire this t

[2019-05-15 00:58] artpdr commented on #1115
PR sent. I will be waiting for news from your side...

[2019-05-15 00:58] #1115 closed

[2019-05-15 05:02] shivambansal2222 commented on #1031
@mudit3774 Even if we go with "do-while" , we'll have to maintain task's output of previous iteration if that is used in next iteration. So anyway we need to preserve states if we are implementing do-while with states. I guess  goto like construct gives more flexibility and gives more completeness in terms of richness of workflow. Maybe we could start with simpler approach of goto without states.

[2019-05-15 07:48] mudit3774 commented on #1031
I agree that "goto" is a more generic task but it will lead to complexities like "can I go to a specific branch in fork join?" or "what if I goto to a specific case?". If we restrict the implementation, we can avoid complexity.

Also, do-while without the state would be useful for cases like these:

[code]

a and b will have only the last value of the last run. Will this make sense ?

[2019-05-15 10:48] shivambansal2222 commented on #1031
@mudit3774 I agree "goto" without any restriction will be very hard to implement because of various multithreaded constructs like fork-join etc. We could consider implementing a "goto"  which will take you to only a state whose successor nodes will not be in running state.
think of a simple workflow t1->t2->t3 , based on what t3 produces the workflow could either reach in t1 state or it could go i

[2019-05-15 12:15] mudit3774 commented on #1031
@shivambansal2222 it is hard to convey the restriction and we would be making changes for all future task types since the task that goto can point to is limited and depends on the flow.

Also, we can model it with goto but goto is prone to be misused.

[2019-05-15 17:28] jkaipa opened #1141 "Error with elasticsearch"
I am seeing the following exception while running the workflow. What could be happening here?
[code]

[2019-05-15 20:43] rabonja opened #1142 "Issue when using a virtual Host for a service in 2.10.1"
I am having an issue with the new conductor build that is causing my task to throw an error of :
ERROR com.netflix.conductor.contribs.http.HttpTask  - Failed to invoke http task - uri: http://virtual.host:5555/, vipAddress: null
com.sun.jersey.api.client.ClientHandlerException: java.net.SocketTimeoutException: Read timed out

If I change the virtual host to the actual server name the task will com

[2019-05-16 02:53] naveenchlsn commented on #1142
We have 2 new properties that can be passed as inputParameters of HTTP_TASK (or via application.properties) and would be set on jersey client, Please refer #1025

Please update the properties if the defaults are not working for you.

[2019-05-16 03:15] shivambansal2222 commented on #1031
@mudit3774 Yes I agree the limited functionally makes more sense with do-while. But we should think about approaches implementing go-to as well.

[2019-05-16 04:59] naveenchlsn commented on #1103
@mudit3774  This looks great to me. I think we can implement the isolation incrementally. The first draft can contain plain isolation groups. Then we can enhance it with "workerDomain".

@cyzhao @apanicker-nflx @mashurex @kishorebanala @mudit3774 I have a branch ready with changes for isolation groups. If you are okay with the approach, I can raise the PR for the same.

[2019-05-16 11:22] choubisat commented on #1031
A do while can still be acheived without making any changes: lets say the workflow definition is
T1->W1->T; Where W1 is a sub workflow over that one needs to run a do-While loop.

Now if W1 can be modified by adding a Decision task with two cases like below
case 1: Execute sub_workflow W1.
case 2: default, do nothing.

This way one can orchestrate and loop over same task. though it may not be  ver

[2019-05-16 15:37] MaksimRT opened #1143 "Do you have API for generation workflow in code?"

[2019-05-16 23:45] milongapau commented on #1137
Broadly speaking, Conductor chunks up a workflow execution into a series of segments, each segment has a “load-execute-persist” pattern.  To use Redlock (see below for analysis), we need to address:
- Write (persist) inconsistency
- Double execution: a segment of a workflow may be executed more than once (see example in analysis below).
- Ttl expiry: with `decider()` recursively calling itself, on

[2019-05-17 03:55] #1123 closed

[2019-05-17 10:11] ml- opened #1147 "No longer builds with es6"
When using es6 persistence, conductor server no longer builds. v2.10.2 is the last release that works.

I patch the files as stated in the README with the following patch:
[code]

Then run the following:
[code]

The error message (v2.12.0):
[code]

Is anyone able to successfully build 2.12.0?

[2019-05-17 18:22] renuka-raju opened #1148 "Task startTime not reset when rerunning a workflow from that task"
Upon rerunning a workflow from a specific task, the task's startTime is not reset, causing the workflow to get TIMEDOUT. I can see from the code that, when the task is executed, it checks if the startTime is already set and doesn't reset it. Could we also reset the startTime of this task while resetting its status upon rerun, before adding it to the queue?

[2019-05-20 09:46] skyrocknroll commented on #1137
@milongapau We can implement fencing using Redis lua script?

[2019-05-20 14:00] naveenchlsn commented on #1137
Since the aim of the locking interface is to prevent conflicting writes and not mutual exclusion,  can we use optimistic locking as mentioned [here](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DynamoDBMapper.OptimisticLocking.html)?

I think the locking mechanism, as mention above, would be expensive to implement.
* To get the lock, we would need consensus among the Redis node

[2019-05-20 16:00] milongapau commented on #1137
@skyrocknroll Redis lua script ensures write consistency (i.e. write only if my fencing token > what's already there).  Someone still need to generate fencing tokens.  If you use zookeeper for locking, znode version number can be used as fencing token.

[2019-05-20 16:40] milongapau commented on #1137
@naveenchlsn optimistic locking alone will address write inconsistency, but does not attempt to address multiple executions (that's where the locking part comes in).

[2019-05-20 22:55] apanicker-nflx commented on #1148
@renuka-raju Thanks for pointing this out. We will release a fix in a future release. Also, please feel free to contribute a fix for this issue.

[2019-05-20 22:59] apanicker-nflx commented on #1147
Closing since #1150 is merged

[2019-05-20 22:59] #1147 closed

[2019-05-20 23:02] apanicker-nflx commented on #1143
Hi @MaksimRT , we do not have an API to programmatically generate workflows at this time. However, it is on our [wishlist](https://github.com/Netflix/conductor/wiki/Conductor-Wishlist#usability) to provide this through a self-service UI.
An API to facilitate this UI would definitely be a good starting point.

Please feel free to contribute by starting a discussion about the implementation.

[2019-05-20 23:02] #1143 closed

[2019-05-20 23:07] kishorebanala commented on #1141
@jkaipa Which ES cluster version you're using? I believe ES6 has removed support for multiple types in same index. If this is happening in ES5 cluster, can you post your configuration to help us reproduce this issue?

[2019-05-21 05:08] naveenchlsn commented on #1137
@milongapau @kishorebanala  Two questions.
1. Can we not allow parallel executions since workflow tasks are idempotent.

Conductor simple tasks are strongly urged to be idempotent, or have a way to compensate double execution

2. The lock is not entirely safe, and parallel executions can still happen. Please let me know what we are loosing by not having such a lock?

[2019-05-21 13:31] goodengineer opened #1152 "Sequential loop of list?"
Hi, I have the following scenario:

Task A: generates a list
Task B: can handle an element in that list

With Dynamic fork I was able to process the elements in taskA.output.list using taskB, but it is done in a concurrent way. Now I need to do the same but in a sequential way (i.e: one element at a time). After all elements are done, I need to handle all results in a single place, similar to what

[2019-05-21 19:02] jkaipa opened #1153 "HTTP Task remains in SCHEDULED state"
I have a workflow where there is a HTTP task (method is POST with empty body) that is getting into SCHEDULED but doing nothing. This is not happening always.

What could be happening with it?

```{"level":"DEBUG", "time":"21/May/2019:18:20:31 UTC", "thread":"RxComputationScheduler-3", "log":"Added task Task{taskType='HTTP', status=SCHEDULED, inputData={http_request={uri=http://abc.local:8080/test,

[2019-05-21 19:58] rabonja commented on #759
@mudit3774 @milongapau wanted to ask if there was any time frame for this fix?  I am seeing this happen on version 2.10.1.  Seems to happen like 5-10% of the time.  All task are completed but the workflow still shows as running.

[2019-05-21 22:04] milongapau commented on #1137
@naveenchlsn you're correct.  If you can (1)ensure tasks are idempotent or can be compensated easily at the frequency they occur, and (2)you don't care about efficiency, optimistic locking at data persistence level is sufficient and simpler to implement.

[2019-05-22 05:02] naveenchlsn commented on #1137
@milongapau Thanks for the clarification.

Can we make the locking interface so we can choose between optimistic and pessimistic locking?

We are running conductor at high throughput, and having a costly decide function would  not be ideal for us. Our tasks are idempotent, and we can live with only optimistic locking.

Tangent on locking:

If you want a lock for performance optimization, consider

[2019-05-22 20:24] milongapau commented on #1137
@naveenchlsn great suggestion.  I'll rework locking API so it's cleaner for those who only want/need one part of the proposed solution.

[2019-05-22 20:47] milongapau commented on #759
@rabonja what do you use for data persistence?  Our fix has 2 parts:
1. publish locking API with no-op implementation (will have a PR in couple days)
2. work on Dynomite implementation (depends on Dynomite team's schedule, currently looking at end of quarter)

We take this approach because some in the community will implement their own solution, likely in parallel with our efforts. Depending on yo

[2019-05-22 20:55] rabonja commented on #759
@milongapau we are using redis.

[2019-05-23 07:06] callmenic opened #1159 "modify a specific workflow instance"

[2019-05-23 07:06] #1159 closed

[2019-05-23 08:23] Jiehong commented on #1152
Such a task does not exist (yet) as far as I know

[2019-05-23 17:21] renuka-raju opened #1160 "Question : Retrying workflows having concurrently executing tasks"
If I have a workflow like the one below and tasks T2 and T3 fails, how can I retry this workflow to run from failed tasks(T2,T3 in parallel) -> JOIN -> Task T4

                    FORK
                /       |      \
               /        |        \
             T1      T2      T3
               \        |        /
                 \      |      /
                    JOIN

[2019-05-24 19:27] microsoftly commented on #152
@cquon I don't see this option anywhere in the docs

[2019-05-24 20:41] jkaipa commented on #1153
Found this: https://github.com/Netflix/dyno-queues/issues/31

[2019-05-28 00:12] cclulu opened #1164 "Question: Wishlist #8 Validating Task inputKeys and outputKeys"
I was hoping I would be able to contribute to this open source project, and I wanted to ask if what I had planned for the validation would be enough or was there more to the validation that was intended for this. What I had planned is simply adding a `@NotEmpty(message = "")` On the [inputkeys](https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/metad

[2019-05-28 04:24] naveenchlsn commented on #1164
We are looking for this feature as well. @cclulu  I think we need to think through some details.

* How do we ensure backward compatibility when we introduce validation?
* How to have strict validation? For example, the data structure of an input/output key.

@cyzhao @apanicker-nflx @mashurex @kishorebanala @mudit3774 Thoughts?

[2019-05-28 10:43] fabienpesty opened #1165 "how to reference an output file from a previous task in a fork task ?"
Hi,
Here is my workflow :

![workflow_pluri_simplified](https://user-images.githubusercontent.com/10595704/58465385-de0ba400-8137-11e9-95c2-a8949c174234.jpg)

described as follows :

![worflow_definition_simplified](https://user-images.githubusercontent.com/10595704/58467305-aef73180-813b-11e9-9fed-e3068fde1f77.jpg)

Both tasks in the fork (t11 and t21) need the ouput file of t02 task as input fil

[2019-05-28 14:48] #1142 closed

[2019-05-28 14:49] rabonja commented on #1142
Used the new options and also changed the default timeout settings

[2019-05-30 10:38] manan164 commented on #1031
Hi all, I have raised PR for loop functionality. https://github.com/Netflix/conductor/pull/1169. Please have a look.

[2019-05-30 10:40] manan164 commented on #35
Hi all,
I have created PR for loop functionality. Please have a look. https://github.com/Netflix/conductor/pull/1169

[2019-05-30 22:08] cclulu commented on #1164
What do you mean the data structure of the input/output key? Do you mean change the [input](https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/metadata/tasks/TaskDef.java#L72)/[output](https://github.com/Netflix/conductor/blob/master/common/src/main/java/com/netflix/conductor/common/metadata/tasks/TaskDef.java#L75) keys to be something similar to wha

[2019-05-31 01:21] ketantalreja commented on #65
Hi, I am working on a POC and using Netflix conductor as an orchestration engine, I am using Lambda task in Conductor for evaluating expressions but the taskStatus always remain in SCHEDULED state, Could you please help?

**Workflow Definition:**

{"name": "Notification-Lambda", "tasks": [{"name": "decision_4", "type": "DECISION", "decisionCases": {"true": [{"name": "func_17", "type": "LAMBDA", "i

[2019-05-31 01:52] ketantalreja opened #1173 "Lambda Task remain in "SCHEDULED" state"
Hi, I am working on a POC and using Netflix conductor as an orchestration engine, I am using Lambda task in Conductor for evaluating expressions but the taskStatus always remain in SCHEDULED state, Could you please help?

Workflow Definition:

{"name": "Notification-Lambda", "tasks": [{"name": "decision_4", "type": "DECISION", "decisionCases": {"true": [{"name": "func_17", "type": "LAMBDA", "input

[2019-05-31 04:22] naveenchlsn opened #1174 "Kafka Publish Task"
We want to support a templatized Kafka task which publishes messages to a given topic.
This would enable the conductor to work with microservices which communicate using Kafka queues.

I have taken inspiration from the HTTP task and template of the Kafka Task is as follows.

`
"kafka_request": {
  "topic": "test",
  "value": "Json to be published",
  "bootStrapServers": "localhost:9092",
  "header

[2019-05-31 05:10] naveenchlsn commented on #1103
Raised a PR regarding the changes we are discussing. Please take a look. @cyzhao @apanicker-nflx @mashurex @kishorebanala @mudit3774

[2019-05-31 19:37] smullins3000 commented on #759
I'm very unclear on what the repro is for this bug. Does anyone have a description of what triggers this behavior? I saw this description of "caused by concurrent executions of decide on a workflow" but I can't quite make sense of that.

[2019-06-03 18:32] kishorebanala commented on #1089
Hey @sujaysudheenda, Apologies for delays in responding.

Here are my findings - When `workflowDef` is used, it is also expecting a `taskDefinition` in tasks array, for each task that isn't already defined with Metadata api. I.e The task definition has to be predefined with Metadata API, or supplied in workflowDef above to use in Dynamic workflow.

In the above example, I've added `taskDefinition`

[2019-06-03 20:17] sujaysudheenda commented on #1089
@kishorebanala thanks for the help 🏆 Will try this out

[2019-06-03 20:17] #1089 closed

[2019-06-03 21:21] mysteva opened #1177 "Creating Conductor Deployments and Services For Kubernetes"
I am currently evaluating Conductor as an orchestration framework, and am attempting to get all four containers (elasticsearch, dynomite, conductor-ui and conductor-server) to spin up successfully in Kubernetes.  Is there a set of yaml files that exist that would provide the same functionality as the docker-compose.yaml file?

I've tried creating my own yaml files to apply to kubernetes, and they

[2019-06-04 00:06] microsoftly commented on #1141
+1 on this. I'm also facing this error

[2019-06-04 00:06] kishorebanala commented on #1165
Hi @fabienpesty, Referencing previous task outputs from forked tasks wouldn't be any different from any other task types. I'm guessing it is a json path error, where the tasks t11 & t21 are unable to locate the bucket and path from given json path.

You can try debugging this by making sure t11 and t21 are getting inputs first. This can be checked by dumping all the output from t2, for eg: ```"buc

[2019-06-04 00:36] kishorebanala commented on #1173
Hi @ketantalreja,  I tried running your workflow definition and couldn't reproduce the issue. Lambda task should be executed immediately by Conductor server. Since it is not an async system task, it is not added to queue for System task workers to execute. Unless there is some exception that prevents the decider to call `execute` on this task, it shouldn't remain in scheduled state.

Do you see an

[2019-06-04 00:50] apanicker-nflx commented on #1164
@cclulu Thanks for the proposal. As @naveenchlsn mentioned and you quoted in your proposal, the eventual goal would be to enforce a strict template for both input and output of a task. This would mean, the task inputs and outputs would need to be typed, so that re-use of tasks can allow for type-safety constraints.

To ensure backward compatibility for existing tasks, this could be rolled out in p

[2019-06-04 00:53] apanicker-nflx commented on #1160
Please follow this codepath - https://github.com/Netflix/conductor/blob/master/core/src/main/java/com/netflix/conductor/core/execution/WorkflowExecutor.java#L415 to see how tasks are retried.

[2019-06-04 00:57] ketantalreja commented on #1173
Thanks @kishorebanala for the updates.
Yes, I realized, that Lambda System task in only going to work from Conductor 2.8.x version onwards, whereas I was using Conductor 1.10.x version for running Lambda task in workflow definition. After upgrading to version 2.10.x, now I am able to execute Lambda task successfully.
Thanks!!

[2019-06-04 00:57] #1173 closed

[2019-06-04 00:58] ketantalreja commented on #1173
Closing this issue after upgrading Conductor version to 2.10.x

Thanks!!

[2019-06-04 07:41] hanumantharao18 commented on #1088
Hi jkaipa,
  Could you please help me in getting link for implementation of WorkflowStatusListener. My requirement is simple. I should be able to get call back to my particular java class once workflow execution is completed or terminated.

[2019-06-04 08:43] #1165 closed

[2019-06-04 19:07] renuka-raju commented on #1160
Thanks for the update.

[2019-06-04 19:07] #1160 closed

[2019-06-06 02:16] paltamadura opened #1181 "Adopting TypeScript"
Has any consideration been given to adopting TypeScript? Some of the UI code could really benefit from it even from a documentation point of view, for example, the global state in the reducers. It probably makes sense to do this in conjunction with upgrading to Babel 7 and webpack 4.

[2019-06-06 07:11] naveenchlsn commented on #1164
This looks good to me @apanicker-nflx .

We can use [JsonSchema](http://json-schema.org/) to let the users input the schema definition of task inputs and outputs.

[2019-06-07 12:06] xerxeArt commented on #952
Hello,
How do I change these configurations on the fly?
For instance:
`this.pollInterval = config.getIntProperty("workflow.system.task.worker.poll.interval", 50)`
I am running Conductor with docker-compose.

[2019-06-07 12:35] gsambasiva commented on #1080
I am not facing this issue again, and closing the ticket

[2019-06-07 12:35] #1080 closed

[2019-06-07 13:17] xerxeArt opened #1183 "Long gaps between HTTP tasks lead to long overall execution time"
Hello,
I have a workflow that looks like this: HTTP task -> DECISION task -> another HTTP task.

The 2 HTTP tasks take around 300ms each and the DECISION one takes 150ms. So together they would be under a second.
However, the time between one task finishes and the next one is starting is too long, sometimes >500ms, leading to more than doubling the execution time.

I have not implemented my own wo

[2019-06-07 14:02] xerxeArt commented on #178
This issue is present again now, due to [this commit](https://github.com/Netflix/conductor/commit/a9303c06e3a0e903fe169fc09cd0fa98d0d3ccf0), which sets status FAILED for COMPLETED_WITH_ERRORS.

[2019-06-07 15:53] naveenchlsn commented on #1183
Hi, @xerxeArt  Consider using async methods of index Dao. An api call to elastic search is made here. If this is made async, we have noticed that run times improve.

[2019-06-07 16:51] apanicker-nflx commented on #178
@xerxeArt This commit only maps to the FAILED status in TaskResult object that is sent back from a worker. If you mark your task with `{"optional": true}`, and then update the task result with FAILED status, the task will still be marked as `COMPLETED_WITH_ERRORS` and the workflow will continue to process further tasks.

[2019-06-07 21:38] demichej commented on #1177
It sounds like it's not the yaml files you need help with then? It sounds like you don't have the correct configuration settings in your `config.properties` that got built into your conductor server image?

[2019-06-10 16:15] xerxeArt commented on #1183
Hello @naveenchlsn Could you explain how I can do that?
In the meantime I changed the delay of scheduleWithFixedDelay from 1000 to 100 ms. No improvements. I'm just about ready to consider Netflix Conductor not fit for many small microservices.

[2019-06-10 20:01] mysteva commented on #1177
@demichej It's possible.  Maybe a better way to frame the question: is there a best practice that should be used for getting conductor, in its entirety, up and running in the cloud (whether it be AWS or Kubernetes)?  Am I going about it the wrong way, and docker-compose is really the correct way to do it?

[2019-06-11 23:12] kishorebanala commented on #1183
@xerxeArt This is because Http task is async, which means the task is added to system task queue first, and then executed by a separate thread pool of system task workers later. This helps gaurd against the huge volume of long running http tasks eating up available thread pools and resources. You can disable this by flipping the async flag on Http task.

[2019-06-11 23:54] apanicker-nflx commented on #1164
JsonSchema is a good approach towards implementing this. It additionally allows the task definition owner to specify if certain fields are required/optional, while not compromising on type-safety.

[2019-06-11 23:54] kishorebanala commented on #948
Hey @RileyMichael Apologies for delays, I didn't got a chance to prioritize this. A PR would be really appreciated. Let us know if you need any help getting started.

[2019-06-12 16:03] demichej commented on #1177
I am not aware of a best practice @mysteva. We have decided to use Kubernetes to deploy our Conductor services + our workers.

We created our own yaml files for the Conductor services and we build it up with docker-compose and deploy manually.

I'm not sure if others would find it useful having some kind of "template" or something for their yaml files. Seems like a reasonable idea, but I dont thin

[2019-06-12 19:08] mysteva commented on #1177
@demichej Thanks for your response.  Going forward, I do think that would be very valuable to include.  Is there a way to make that request officially?

[2019-06-12 19:44] demichej opened #1184 "Possible to Rebuild Elasticsearch?"
Hi, we're trying to figure out some backup strategies for our Redis and ElasticSearch stores. Is it possible to re-build the ElasticSearch index from scratch? Is there some kind of job that can be kicked off?

We were thinking if there were, that we would only have to worry about backing up/restoring the redis store.

Thanks.

[2019-06-12 20:28] demichej commented on #1177
You could take a stab at putting a PR together :)

I'm not sure of the best way to label this as an `enhancement` though. That's another option. I dont think i have the permissions to do that though.

[2019-06-12 22:21] mysteva commented on #1177
Ok, thanks.  I don't suppose you'd by chance have your generic yaml files that you used, would you?

[2019-06-13 02:17] apanicker-nflx commented on #1177
@demichej Thanks for the suggestion. I have labeled this discussion as an `enhancement`. Please consider sharing your yaml files and Kubernetes deployment guide to benefit the community. This would be a great addition to the project.

[2019-06-13 09:35] xerxeArt commented on #1183
@kishorebanala thank you so much!!!
I had read somewhere that HTTP tasks were asynchronous in Conductor and not possible make synchronous.

Now I only need to find the sweet spot settings for best performance. By the way, can I update the configurations without needing to rebuild the docker image for Conductor Server?

[2019-06-14 02:02] demichej commented on #1141
@microsoftly and @jkaipa this is most certainly a case of you running ElasticSearch 6 instead of 5. If you want to use ES 6, there are instructions here:

https://github.com/Netflix/conductor/tree/master/es6-persistence

Personally, I feel like we should figure out how to make it easier for people to switch to ES6, but for right now that's the way to do it. It's probably easiest to just roll with

[2019-06-14 06:36] xerxeArt commented on #1183
After restarting the container, I'm back to the original 5 seconds per workflow run

I attached my task and workflow definitions and the config.properties file.

[taskdefs.txt](https://github.com/Netflix/conductor/files/3289272/taskdefs.txt)
[workflow.txt](https://github.com/Netflix/conductor/files/3289273/workflow.txt)

[config.properties.txt](https://github.com/Netflix/conductor/files/3289318/co

[2019-06-14 06:58] xerxeArt commented on #952
Hello @F1reworks , could you show me your configuration?
I used the configuration attached [here](https://github.com/Netflix/conductor/issues/1183#issuecomment-501987677) with many variations, but I couldn't get good results.

[2019-06-14 08:42] leikao commented on #429
Hi @v1r3n @cyzhao , I have the same problem. The long running task may not complete in `responseTimeoutSeconds`, so the worker will not send any response to conductor; then the task will be re-scheduled, and another worker may poll this task. Is there any way to send a response to conductor server saying *the task is still executing by me, please wait more time*?

[2019-06-14 15:13] cyzhao commented on #429
@leikao what you ask for is a renew lease feature which I don't think is supported, @kishorebanala @apanicker-nflx please confirm. @leikao you are welcome to contribute, just work with us on the approach before work on the PR.

[2019-06-14 15:50] leikao commented on #429
Thanks for your quick replay @cyzhao , I think this is a useful feature, especially for tasks that we could not estimate the execution duration, and I'm happy to work with you to complete this feature.

[2019-06-15 19:46] cclulu commented on #1164
sounds like there is a plan, I would be excited to try to implements this, I have never used JsonSchema before so I look forward to learning something new. If this is the implementation that everyone agrees with I would like to get started on this is that is alright with everyone? Also if I have any more question should I just post them on the [gitter](https://gitter.im/netflix-conductor/community

[2019-06-17 12:49] milansanjeev opened #1185 "How to generate Subworflow in dynamic_fork_join"
How to generate subworkflow dynamically on the in Dynamic Fork task. As I write my custom task to generate subworkflows and it is able to generate but non of the instace of subworkflow running.
In server I am observing No Such Workflow Error in conductor server.

[2019-06-17 14:18] SK465 opened #1186 "collecting specific output from dynamic fork tasks as an array"
I have a dynamic fork tasks and I want to pick specific output data in the form of array.
Like if I have forkTask0, forkTask1.. I need to collect specific values from each and create an array. How can I do that?

[2019-06-17 17:45] demichej opened #1187 "Search endpoint for a list of workflow IDs?"
I took a look in WorkflowResource, but I'm not seeing an endpoint to get a List<Workflow> by workflowIds. I was thinking of adding something like that, but wanted to see if something existed already that I am missing.

I see the getWorkflows with a list of correlationIds, but the problem for me there is that all the correlation IDs must exist under the same workflowName, which doesnt' fit what I h

[2019-06-17 22:43] kishorebanala commented on #1185
@milansanjeev You should be able to pass in subworkflow task to dynamic workflow, just like the other tasks. Ensure the sub workflow you're passing in is valid and available. Here is one example we use to do this:
[code]

[2019-06-17 22:44] apanicker-nflx commented on #1187
@demichej Are you looking for an endpoint to bulk fetch workflows given a list of workflow ids?
Such an endpoint does not exist currently. Please feel free to submit a PR as this seems like something that could benefit a lot of users.
Also, please describe how you plan to handle failure scenario where one(or more) workflows cannot be found for the input list.

[2019-06-17 22:52] apanicker-nflx commented on #1186
@SK465 The JOIN task collects all the outputs from all the forked tasks. You can either use a LAMBDA task after the JOIN to pick out specific values from this output or you can use a SIMPLE task, wired with the output of the JOIN and you can write a worker to create this array.

[2019-06-17 22:52] #1186 closed

[2019-06-17 22:56] apanicker-nflx commented on #1070
Closing this issue since it is fixed as part of #1166

[2019-06-17 22:56] #1070 closed

[2019-06-17 23:01] apanicker-nflx commented on #1088
@hanumantharao18 Please check out this [reply](https://github.com/Netflix/conductor/issues/1088#issuecomment-484523871) above from @Ismaley where you can have a simple application to consume messages from the dynoqueue and can callback to your class.

[2019-06-17 23:03] kishorebanala commented on #1078
@Ismaley Is this something related to debug workflow implementation you mentioned about? If so, and if you think your implementation can be contributed to oss, do you mind adding the implementation details to this thread?

[2019-06-17 23:17] apanicker-nflx commented on #1101
@HenryLauu In order to not terminate the other fork tasks when one fork fails, you can mark all fork tasks as [`optional`](https://netflix.github.io/conductor/configuration/workflowdef/#tasks-within-workflow). This will ensure that the workflow will progress even if a fork task fails.

You can still choose to fail this workflow after the JOIN task, by adding a LAMBDA task after the JOIN which eval

[2019-06-17 23:17] #1101 closed

[2019-06-17 23:19] kishorebanala commented on #1097
The strategy for archiving the workflows could be specific to use case, for eg: Immediately on completion, or x days after completion etc.

But, it definitely makes sense to provide a default implementation as a separate module, that archives immediately through WorkflowStatusListener. I've added this to wishlist. I'm closing this issue as we've digressed from the original question. Feel free to o

[2019-06-17 23:19] #1097 closed

[2019-06-17 23:24] apanicker-nflx commented on #1132
Closing this issue due to inactivity, please reopen if you need more assistance.

[2019-06-17 23:24] #1132 closed

[2019-06-17 23:28] apanicker-nflx commented on #1135
Closing this issue due to inactivity, please reopen if you need more assistance.

[2019-06-17 23:28] #1135 closed

[2019-06-17 23:31] apanicker-nflx commented on #1042
Closing this issue due to inactivity, please reopen if you need assistance.

[2019-06-17 23:31] #1042 closed

[2019-06-17 23:37] #1174 closed

[2019-06-17 23:53] apanicker-nflx commented on #1066
Closing this issue due to inactivity, please reopen if you need assistance.

[2019-06-17 23:53] #1066 closed

[2019-06-18 02:45] demichej commented on #1187
@apanicker-nflx yeah that's exactly what I was thinking, a bulk fetch endpoint with a list of workflow IDs.

I think I would prefer to be "strict" in that if there is a single workflow ID that is given that doesn't exist in the system, we'd send back an error. I could also envision having another endpoint that could return any that are found, the client would then have to be responsible for dealin

[2019-06-18 05:18] milansanjeev commented on #1185
Thanks, @kishorebanala for quick help.

I am also doing same generating multiple instances of sub workflow with the dynamic fork on the basis of data and it is able to create success but unable to run as all sub-workflow in scheduled status and on the server we are getting
Error No such workflow found by id
Es Error: Cannot execute jest action, response code: 400

Unfortunately, I am unable to pos

[2019-06-18 12:02] rituparnopal commented on #1069
It's not working for me at all. Even though I set this value Conductor seems to read only 150 seconds default read time allotted for HTTP tasks.

[2019-06-18 14:57] SudheerD231 opened #1188 "Error when creating local server on my machine"
Popping Up error when installing Gradle on local machine to Create Local server-
Gradle version - 5.4.1
Java 1.8.0_211

1 - >FAILURE: Build failed with an exception.
* Where:
Build file 'C:\Users\YQ8W\Documents\conductor-2.12.5\conductor-2.12.5\build.gradle' line: 12

* What went wrong:
Plugin [id: 'nebula.netflixoss', version: '5.1.1'] was not found in any of the following sources:

 2 -> BUILD F

[2019-06-18 17:55] kishorebanala commented on #1110
@philipodev Apologies for delayed response. Yeah, Dyno client is yet to support pub / sub. But, the implementation in Conductor should be generic, configurable with at least one default implementation. Say, using Redis client. We shall check with Dynomite's roadmap for adding pub/sub.

Please add your proposal to this thread, with a brief overview of how the implementation would look like, and we

[2019-06-18 18:02] kishorebanala commented on #1183
@xerxeArt The gap between Http tasks is because Conductor adds Http task to a queue instead of directly executing it (Http task is async:true). Whereas decision tasks are executed immediately.

If this is not your expected behavior, You can clone Conductor, change HttpTask's async to false and rebuild to generate your own jars.

[2019-06-18 18:14] kishorebanala commented on #1035
@mudit3774 Sure. do you mind briefly explaining what the docs will address? I can point you to relevant docs based on that.

[2019-06-18 18:43] SudheerD231 opened #1189 "require Docker images"
Require docker images to work on Conductor in my environment. Could you please provide the link to the docker images of the conductor.

Thank you,

[2019-06-18 20:54] Ismaley commented on #1078
@kishorebanala yes, this illustrates well an use case for the debug feature we've built and we achieved that with the help of external applications we developed here.

But relating the feature to @jkaipa mentioned and keeping that in the conductor's domain, the "debug flag" we implemented as a copy of the current workflowDef that is going to be used for the debuggable execution.
Then by adding wai

[2019-06-19 15:38] demichej commented on #1189
@SudheerD231 You need to build them currently yourself. There's a docker directory you can go into and run `docker-compose build`. That will build the images for you.

I think the reason you need to do this is because you need to setup your own config.properties that are built into the image.

@apanicker-nflx another enhancement idea I had was to allow all the properties in the config.properties t

[2019-06-21 13:59] rituparnopal opened #1191 "Read timed out for a task calling a long running microservice"
I am trying to run a long running  HTTP task but it fails if not completed by within 10 seconds. Please let me know what else needs to be provided.

441546 [system-task-worker-0] ERROR com.netflix.conductor.contribs.http.HttpTask  - Failed to invoke http task - uri: http://localhost:8181/entityapp/entity, vipAddress: null
com.sun.jersey.api.client.ClientHandlerException: java.net.SocketTimeoutExce

[2019-06-21 22:10] mstier-nflx commented on #1181
It would be interesting to implement TypesScript.  We are always willing to take and review pull requests.

[2019-06-24 06:28] shivambansal2222 commented on #1031
Hi, we are trying to implement "GOTO" construct in conductor. We wanted to share our approach and schema for "GOTO" with conductor community before actual implementation to know if the approach is aligned and we are not missing anything.
Sample "GOTO" task:

   {
    "name": "gotoLereview",
    "taskReferenceName": "gotoLereview",
    "inputParameters": {
      "fileName": "${MrReview.output.revie

[2019-06-24 11:43] manheiba commented on #1126
@mrik974  Has your problem been solved?  I had the same question . conductor version is 2.12.5 ,2.13.0
@tafael  @dskarataev  which version do you use?

Thank you for all your replies.

[2019-06-24 12:02] rituparnopal commented on #1191
I found out that the read timeout is set to milliseconds so in the above example for 6000 actually means 6 seconds and not 1 min.

[2019-06-24 12:02] #1191 closed

[2019-06-24 13:20] rituparnopal opened #1193 "HTTP task state changes from SCHEDULED to COMPLETED directly"
I am working with in-memory Conductor server instance with a some HTTP tasks in my workflow. However it seems there is no In Progress status as depicted in the Task State Diagram. I have a sufficient long running HTTP task of 1 min, but the status remain as SCHEDULED even when the task is executing and changes to COMPLETED almost instantly.

[2019-06-24 22:46] kishorebanala commented on #1193
@rituparnopal Because Http task is a system task and is expected to be finished instantly, it transitions from SCHEDULED to COMPLETED state, there by skipping IN_PROGRESS state.

[2019-06-24 22:46] #1193 closed

[2019-06-24 23:04] apanicker-nflx commented on #1188
@SudheerD231 Looks like you are running the server on a Windows machine and it is unable to find the path to the gradle executable.

[2019-06-24 23:19] kishorebanala commented on #1033
Closing this issue as there is no activity for a while. Please feel free to reopen if you still have questions or concerns.

[2019-06-24 23:19] #1033 closed

[2019-06-24 23:24] kishorebanala commented on #1024
Closing this issue as there is no activity for a while. Please feel free to reopen if you still have questions or concerns.

[2019-06-24 23:24] #1024 closed

[2019-06-24 23:24] kishorebanala commented on #1013
Closing this issue as there is no activity for a while. Please feel free to reopen if you still have questions or concerns.

[2019-06-24 23:24] #1013 closed

[2019-06-24 23:27] kishorebanala commented on #909
Closing this issue as there is no activity for a while. Please feel free to reopen if you still have questions or concerns.

[2019-06-24 23:27] #909 closed

[2019-06-24 23:27] apanicker-nflx commented on #1189
@SudheerD231 Please build the docker images from the docker directory as suggested. Thanks for the response @demichej.

We will look into changing the configs to env variables and publish docker images.

[2019-06-24 23:27] #1189 closed

[2019-06-24 23:37] kishorebanala commented on #917
@mudit3774 Closing this issue as there is no activity for a while. Please feel free to reopen if you still have questions or concerns.

[2019-06-24 23:37] #917 closed

[2019-06-24 23:37] kishorebanala commented on #918
Closing this issue as there is no activity for a while. Please feel free to reopen if you still have questions or concerns.

[2019-06-24 23:37] #918 closed

[2019-06-24 23:37] kishorebanala commented on #920
Closing this issue as there is no activity for a while. Please feel free to reopen if you still have questions or concerns.

[2019-06-24 23:37] #920 closed

[2019-06-25 11:48] rituparnopal opened #1195 "HTTP task output content other than application/json"
I have some microservices which gives content other than application/json. However it is not working. If I set the contentType as text/plain under http_request it gives an exception that Message Convertor not found. Is it that Conductor is at present equipped to work with only application/ json content?

[2019-06-25 19:25] apanicker-nflx commented on #450
Closing this ticket since ES2 has been deprecated and ES5 and ES6 modules both support transport/REST client.

[2019-06-25 19:25] #450 closed

[2019-06-25 21:42] kishorebanala commented on #1031
@shivambansal2222 Thanks for the proposal, it looks great. Here are some of my questions:

1. `The "GOTO" task would take a task reference t1 where it would take the workflow execution.` - Can the same GOTO task be executed multiple times (essentially becoming a loop task)?
2. What happens to tasks executed between GOTO reference task (t1 in above example) and GOTO task?  Should we still keep the

[2019-06-26 09:09] shivambansal2222 commented on #1031
Thanks @kishorebanala for reviewing it. Here are my response:
1. Yes the same GOTO task can be executed multiple times depending on workflow DSL. For example in the review DSL , the GOTO task will run as many times the MRreview, rejects the review.
2. The workflow DSL has output associated with a task_reference name only. So, whatever task is running will always refer to task_reference output's la

[2019-06-26 16:44] SudheerD231 opened #1197 "killing the workflow task as per time mentioned"
I am trying to kill workflow task as per the time  i mentioned 300 seconds but even after that workflow is in progress stay and i don't know why and couldn't figure it out.

I would appreciate if anyone can help me out on this issue.

[2019-06-27 14:39] andrea11 commented on #1031
Hello @shivambansal2222,
I have some questions as well:
1. Could the GOTO task used to go back and forth in the workflow?
1.1. If yes, how could you be sure that the mapping of the input/output of workflow/tasks are still valid, supposing that some tasks could had been skipped?
2. When do you say that in a first draft this task could be limited to linear construct, what do you mean exactly? Should

[2019-06-27 17:17] paltamadura opened #1199 "Workflow Update Request Silently Fails Unless Incremented Version is Provided"
When attempting to update a workflow (`PUT /metadata/workflow`), it silently fails unless an incremented version is explicitly provided in the request object.

For example, a workflow with name "save_file" is currently at version 2. A `PUT /metadata/workflow` request to update the workflow with `"version": 2` specified will succeeded, however the changes are not actually saved to the workflow "sav

[2019-06-28 00:30] sujaysudheenda opened #1200 "[grpc] Unable to pass integer value in workflow inputs"
Hi we are using the Netflix grpc workflow client (version:`com.netflix.conductor:conductor-grpc-client:2.12.1`)  and we are unable to pass in a integer value in workflow input (or task inputs) during execution.

We are passing in dynamic workflows by using the `startWorkflowRequest` object.

We see the following error:
`cannot map to Value type: 40`

We suspect this is happening in here:
https://g

[2019-07-01 13:14] aresares opened #1201 "docker-compose build error"
Hi, I get this error when trying to build it from docker-compose. Im working under ubuntu

[code]

[2019-07-01 13:26] pitumalkani commented on #396
Hi,
I can see that the /api/workflow/{workflowid}/remove gives you 204, but when we hit  GET /workflow-api/api/workflow/{workflowid} we get the workflow execution details.

[2019-07-01 18:10] sujaysudheenda commented on #1200
@kishorebanala any suggestions/thoughts will be helpful 😃

[2019-07-01 22:52] kyle--lee opened #1202 "Disabling elastic search and indexing"
I looked through some of the existing issues opened and some indicated that it was not possible to disable use of elastic search (https://github.com/Netflix/conductor/issues/668), while others imply that indexing is optional (https://github.com/Netflix/conductor/issues/1087 and https://github.com/Netflix/conductor/issues/181).

What exactly is the process of disabling indexing and elastic search?

[2019-07-02 03:18] shivambansal2222 commented on #1031
Hi @andrea11 , please find my response:

1. Yes GOTO could take you back and forth in workflow. A bad programmer can always use GOTO to skip some tasks, but thats something which the workflow DSL writer/programmer has to take care. There can be cases when you want  GOTO  to a future task "t1" by skipping few task and  "t1" might not always be taking any input from previous task. It's analogical to

[2019-07-02 18:09] apanicker-nflx commented on #1200
@sujaysudheenda Can you please provide a sample workflow input that you have tried and causes this issue?
@vmg @josedab Can you please help look into this?

[2019-07-02 18:27] apanicker-nflx commented on #1197
Can you please elaborate on "kill workflow task"? Also it would be helpful if you could list out the steps that you have followed.

[2019-07-02 20:50] sujaysudheenda commented on #1200
Sorry for missing the example in my original post. Here is a sample example that fails:

[code]

If I specify `test: 1.0` it works as it identifies it as `Double`

[2019-07-02 22:10] apanicker-nflx commented on #1202
@kyle--lee Elasticsearch cannot be disabled in the current version.

1. This is not supported yet. It is one of our wishlist items to remove this enforcement (See 13 [here](https://github.com/Netflix/conductor/wiki/Conductor-Wishlist#usability)).

2. Yes, if you do not intend to use ES, you should be able to achieve the same behavior using this option. However, the UI will be mostly non-functional

[2019-07-02 22:51] apanicker-nflx commented on #396
@pitumalkani Please ensure that you set the query param `archiveWorkflow` to false when removing the workflow, else this workflow is archived and will be available to be queried.

[2019-07-03 00:42] apanicker-nflx commented on #1031
@shivambansal2222 Thanks for the detailed explanation. The example with the valid and invalid scenarios were especially helpful in visualizing the semantics.

Can you also illustrate how the GOTO task would behave when used in conjunction with a DECISION task in a workflow? Specifically, how do you prevent jumping across branches?

Also, while I completely agree that the DSL writer has to take car

[2019-07-03 01:25] apanicker-nflx commented on #1199
@paltamadura Please provide details of your setup. Are you using dynomite persistence or mysql?

[2019-07-03 01:27] #1095 closed

[2019-07-03 06:33] shivambansal2222 commented on #1031
@apanicker-nflx Thanks for reviewing it. Yes, I agree on the part that these kind of invalid moves should be flagged during workflow registration and it is in my plan.
Let me work through a sample workflow with DECISION and GOTO. I will update on this thread soon.

[2019-07-03 10:20] vmg commented on #1200
The interface we designed for GRPC is limited to "numeric" values (i.e. doubles) because of backwards compatibility with the old interface, IIRC. So all numbers need to be floating point. That's... not ideal. You could simply fix it by updating the `toProto` method, but I recall this was a breaking change so we did not do it.

[2019-07-03 10:43] dskarataev commented on #1095
thanks a lot! really happy to see it is implemented!

[2019-07-03 14:20] alexdethose opened #1203 "A sample code snippet to create the HTTPTask using conductor-client"
hi
I am new to Netflix conductor.Can you please point out to some example how can i create/use HTTP TASK ,
how to start the workflow with httptask
How the http task is getting executed when the workflow is started

[2019-07-03 16:28] apanicker-nflx commented on #1164
@cclulu Please feel free to get started with on this, and continue to update here with regards to questions and design choices. Thank you very much for the contribution.

[2019-07-03 16:31] kyle--lee commented on #1202
Thanks for the quick reply!

[2019-07-03 16:36] apanicker-nflx commented on #1203
Hi @alexdethose , Please check out the documentation for HTTP task [here](https://netflix.github.io/conductor/configuration/systask/#http) for usage.
Please follow the documentation [here](https://netflix.github.io/conductor/gettingstarted/startworkflow/#start-workflow-request) for starting a new workflow.

For an example of how to start a new workflow which uses a HTTP task, please try out the ki

[2019-07-03 17:24] sujaysudheenda commented on #1200
@vmg thank you for the response and suggestion.
Aren't these files auto-generated?
Also if I want to update this, should the integer also be converted to `numberic`?
I see that `builder.setNumberValue` takes in a `Double`. Is it possible for me to introduce a new method to the builder to save `Int` (Protobuf Int)?

Again I am pretty new to Protobuf and GRPC so my understand in the above question m

[2019-07-03 18:23] vmg commented on #1200
@sujaysudheenda: No, the file you've linked, `ProtoMapper.java` is not auto-generated. The rest of the protobuf code _is_, but not that implementation.

It is not possible to add a new method to the `Value` builder because `Value` is a standard ProtoBuf type: https://developers.google.com/protocol-buffers/docs/reference/java/com/google/protobuf/Value.Builder -- these standard types do not support

[2019-07-03 18:26] sujaysudheenda commented on #1200
😄 No worries! thanks for detailed explanation.

[2019-07-04 05:05] rituparnopal opened #1204 "Unable to install UI based on the instruction provided"
$ gulp watch
[10:31:08] Failed to load external module @babel/register
[10:31:08] Error: Cannot find module '@babel/register' from 'C:\conductor\ui'
[10:31:08] Failed to load external module babel-register
[10:31:08] Error: Cannot find module 'babel-register' from 'C:\conductor\ui'
[10:31:08] Failed to load external module babel-core/register
[10:31:08] Error: Cannot find module 'babel-core/regist

[2019-07-04 05:36] rituparnopal opened #1206 "docker-compose command failing due to UI project issues"
Please let me know how this can be fixed-

C:\conductor\docker>docker-compose up
Building conductor-ui
Step 1/11 : FROM node:9-alpine
 ---> a56170f59699
Step 2/11 : MAINTAINER Netflix OSS <conductor@netflix.com>
 ---> Using cache
 ---> cb58c3671e7c
Step 3/11 : RUN apk update && apk add   autoconf   automake   libtool   build-base   libstdc++   gcc   abuild   binutils   nasm   libpng   libpng-dev

[2019-07-04 09:18] choubisat opened #1207 "Proposal for workflow variables"
**Feature**:

1. A workflow definition may occasionally declare a "**variables**" data block. The variables can be used to hold data properties in runtime. The variables can be initialized when a workflow is started, updated when tasks are executed (based on task outputs) and may be set (to specific values) at any stage in the workflow.

2. Introduce a new system task for managing the variables: S

[2019-07-04 13:28] andrea11 commented on #1207
Hello,
Sorry but I am not sure to understand the utility of this new task: in the presented example you could use a [exclusive join task](https://netflix.github.io/conductor/configuration/systask/#exclusive-join) instead. Could you check and eventually explain why the exclusive join task is not enough for your use case ?
Maybe there is some other case where your task could be used. Could you then

[2019-07-04 13:45] andrea11 commented on #1164
Hello @cclulu,
Me and my team, we are currently using JSON schema to make validation possible on some inputs. And my feedback is really positive. Allow to describe workflow inputs and task inputs with JSON schema, can give the possibility to perform a wide and deep validation, on types, constraints and even conditional dependencies among inputs.

[2019-07-04 13:57] andrea11 opened #1208 "Introduce security model for workflows/tasks"
Hello,
I was wondering which approach do you suggest to add an access control to determine which tasks and workflows can be created, updated, retrieved, etc.

I have actually two propositions:

1. Have an interface that have a method for each action to determine if someone has right or not to perform this action. By default a stub implementation could be provided that authorize everything (backwar

[2019-07-04 17:03] choubisat commented on #1207
@andrea11: Thanks for your response. I checked the Exclusive join task it is definitely helpful in the above case. However, with variables, it's easier to
1. Map different output parameters into a common field. In the above example, the first decision branch produces an outputparameter named as "reviewer" & the other one produces the o/p named as "Approver", both can be mapped to common variable "

[2019-07-05 20:17] emiteze commented on #1206
When I had this issue, deleting package-lock.json or updating like was did on this commit solved  (https://github.com/Netflix/conductor/commit/a8b3e24d66f3e53a5d032e0d60654ba3a5990eba).

[2019-07-08 05:45] rituparnopal commented on #1206
Worked like a charm! Thank you emiteze!

[2019-07-08 05:45] #1206 closed

[2019-07-08 11:58] choubisat commented on #1207
@andrea11 , @jkaipa : Please find a couple of below use cases for using workflow variables. Few examples:

1. workflow Aggregate parameters: A fork workflow, with long-running tasks, at a given point in time, fetch the percent_workflow_complete value for the running instance

![image](https://user-images.githubusercontent.com/30325170/60807620-c8ac7f80-a1a3-11e9-8f64-6f63f540f837.png)

Details on

[2019-07-08 21:58] kyle--lee commented on #1202
Actually - had one follow up question:
When using in-memory indexing, what exactly is the behavior? Reading through the source code, it seems to write files to disk/container filesystem - what is the index's behavior if it runs out of space/memory?

[2019-07-10 16:15] SK465 opened #1210 "PATCH method not supported."
One of my http task involves PATCH method but seems like it's not supported by netflix conductor. Is there a way to get around it or I'll have to make changes to the api?

[2019-07-15 22:13] clari-akhilesh opened #1211 "Failed indexing in Elasticsearch"
We have been running Conductor in our production environment for a while now. We're running about 1k workflows every minute. In order to not exhaust Redis and ES memory we rely on ES to perform the search and delete the workflows regularly. However, not all workflows and tasks are indexed successfully. We see a lot of these errors:
`Indexing failed for conductor, task`
`Indexing failed for conduct

[2019-07-15 22:53] apanicker-nflx commented on #1211
Please provide the stack trace accompanying the error to help identify the issue.

[2019-07-15 22:55] clari-akhilesh commented on #1211
Unfortunately, conductor code swallows the stack trace. The above messages are the only logs displayed.

[2019-07-15 23:05] apanicker-nflx commented on #1210
@SK465 The HTTP task in Conductor uses the Jersey client internally to make HTTP requests. As discussed [here](https://github.com/eclipse-ee4j/jersey/issues/1639) , Jersey client does not support PATCH method.
As a workaround for this, you could implement your task as a SIMPLE task and a worker for this task can then use the Apache HTTP client internally to make the PATCH request to your API.

[2019-07-15 23:11] mstier-nflx commented on #1204
What are the results for 'npm install'?  It appears it did not download the dependencies correctly.

[2019-07-16 00:07] apanicker-nflx commented on #1207
@choubisat Thank you very much for the proposal and the excellent write-up detailing the various use-cases.

Can you please clarify that based on your example [here](https://gist.github.com/choubisat/85e0c5bc843eb687e846dd10c58920fc#file-workflowexecution-json-L495-L498), are you proposing to set default values for the workflow variables in the workflow definition?

[2019-07-16 00:09] apanicker-nflx commented on #1187
@demichej A strict implementation sounds good. I would also recommend setting constraints and validating on the number of workflow ids that are allowed in the list. Please feel free to submit a PR with your implementation. Thanks.

[2019-07-16 00:16] apanicker-nflx commented on #1202
@kyle--lee It is not advised to use in-memory indexing for your production usage, this should only be used for testing purposes.

[2019-07-16 00:22] apanicker-nflx commented on #1195
@rituparnopal As mentioned here, currently Conductor HTTP task only supports `application/json` content type. If your api response is not json, you could implement this task as a SIMPLE task and write a worker to handle this response and transform the task output into json.
Please also feel free to submit a PR with modifications to the HTTP task to enable other content types.

[2019-07-16 00:24] kishorebanala commented on #1211
Hey @clari-akhilesh, It's hard to tell what's going on without full stack trace, especially because this is from an extension. From what you've mentioned, the failures are transient, and this could happen with ES when the indexing doc doesn't match the index template. From your local, may be you can debug by trying to index with one of the known failed docs.

[2019-07-16 00:41] kishorebanala commented on #1208
Hey @andrea11, thanks for the proposal. Do you mind elaborating or providing an example for this: `Have hooks that allows developper to perform action before and after each action`?

Also, How is authorization handled for users vs task workers?

Both approaches looks promising, but I'd prefer a cleaner interface with backwards compatible defaults, that can easily be plugged in with any authorizati

[2019-07-16 06:11] rituparnopal commented on #1204
I am a beginner with advanced Javascripts. Looks like the dependencies are not proper.
Please find the log below-
$ npm install
npm WARN deprecated babel@6.23.0: In 6.x, the babel package has been deprecated in favor of babel-cli. Check https://opencollective.com/babel to support the Babel maintainers
npm WARN deprecated babel-preset-es2015@6.24.1: 🙌  Thanks for using Babel: we recommend using bab

[2019-07-16 06:35] rituparnopal commented on #1195
But it is written in the table under HTTP Task-
contentType | Content Type - supported types are text/plain, text/html and, application/json
So is this wrong?
(https://netflix.github.io/conductor/configuration/systask/)
I tried text/plain but it didn't work giving MessageOutputFormatException. For api which are xml based I am using worker only.

[2019-07-16 10:59] choubisat commented on #1207
@apanicker-nflx : for example [here](https://gist.github.com/choubisat/85e0c5bc843eb687e846dd10c58920fc#file-workflowexecution-json-L495-L498), yes the variables can be initialized like this when the workflow starts running ( in workflow instance).

[The above](https://gist.github.com/choubisat/85e0c5bc843eb687e846dd10c58920fc#file-workflowexecution-json)  is an example for a running  workflow ins

[2019-07-16 17:23] smullins3000 commented on #1208
We are starting a project that includes securing the conductor APIs so I'm curious about this. The approach we're probably going to go forward with is to deploy conductor in multi-image containers where the conductor server is one image and the secured APIs are a second image with the secured APIs being the only ones that are publicly exposed by the container/orchestration layer.

What do you see

[2019-07-16 18:18] manjurad opened #1212 "Build always uses 1.8 as inferred project"
I have a build machine on which I setup conductor builds (from a fork) a while ago (2017) and have been using it. This was 1.8 version at that time. Now I have synced from master to my fork and trying to build latest version but the inferred build still stays at 1.8. Is something cached in my system that is fixing the build at 1.8? I have tried to clean and run "./gradlew build".

[2019-07-17 02:44] paltamadura opened #1213 "Passing State between Multiple Executions of the Same Task"
When using the technique quoted directly below, how can state be passed from one execution of task to the next execution of the same task?

#35

I found one way to do this (code snippet below), but it seems odd to use `task.getOutputData()` when typically a task would only use `task.getInputData()` to get the parameters required for its execution.

Is there anything wrong with using this approach